<div class="header hidden-xs">
    <div class="auth">
        <div class="container">
            <div class="row">
                <ul class="applist list-unstyled pull-left hidden-xs">
                    <li class="shape">
                        <ul class="menu">
                            <div class="menu-img">
                                <img src="wa-apps/site/themes/dsv2/img/Shape.png" alt="#">
                                <img src="wa-apps/site/themes/dsv2/img/Shapemedia.png" alt="#">
                            </div>
                            <li class="menu-list"></li>
                        </ul>
                    </li>
                    <li class="menu-block one-media"><span><img src="wa-apps/site/themes/dsv2/img/Vector.png" alt="#"></span><a href="#">г. Владимир</a></li>
                    <li class="menu-block one"><span><img src="wa-apps/site/themes/dsv2/img/Vector.png" alt="#"></span><a href="#">Ваш регион: Владимир</a></li>
                    <li class="menu-block two"><a href="#">Контакты</a></li>
                    <li class="menu-block three"><a href="#">Акции</a></li>
                    <li class="menu-block four"><a href="#">Бесплатная доставка</a></li>
                </ul>
                {********* КОРЗИНА / CART *************}
                <div id="sh-cart" class="col-md-3 hidden-sm hidden-xs">
                    <div id="cart" class="pull-right cart cart-top affix-top" data-placement="bottom">
                        <div class="wrapp acc">
                            <a href="#">
                                <span>
                                    <img src="wa-apps/site/themes/dsv2/img/Acc.png" alt="#">
                                </span>
                                <span class="acc-short">Аккаунт</span>
                                <span class="my-acc">Мой аккаунт</span>
                            </a>
                        </div>
                        <div class="wrapp cart">
                            <a href="/cart/" rel="nofollow">
                                <span><img src="wa-apps/site/themes/dsv2/img/Cart.png" alt="#"></span>
                                <span class="toolbar-title hidden-xs cart-short">Корзина</span>
                                <span class="toolbar-title hidden-xs cart">Корзина пуста</span>
                                <!-- <i class="fa fa-shopping-cart fa-lg"></i> -->
                                <span class="shopping-cart"></span>                               
                                <!-- <span class="cart-count count">0</span>
                                <span class="cart-total price hidden-sm hidden-xs">0 <span class="ruble">Р</span></span> -->
                            </a>
                        </div>
                        <div class="flying-cart hidden-xs hidden-sm">
                            <div class="fcart-header">
                                Ваша корзина
                            </div>
                            <div style="max-height: 200px; overflow-y: auto; position: relative">
                                <div id="cart-content"></div>
                            </div>
                            <div class="fcart-footer">
                                <p class="align-center"><strong>Общая сумма: <span class="fcart-total">0 <span class="ruble">Р</span></span></strong></p>
                                <a href="/cart/" class="btn-blue">Перейти в корзину <i class="fa fa-angle-right fa-lg"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sh-cart-media">
                    <div class="cart-media">
                        <div class="wrapp-acc-media">
                            <a href="#">
                                <span>
                                    <img src="wa-apps/site/themes/dsv2/img/Acc.png" alt="#">
                                </span>
                            </a>
                        </div>
                        <div class="wrapp-cart-media">
                            <a href="/cart/" rel="nofollow">
                                <span><img src="wa-apps/site/themes/dsv2/img/Cart.png" alt="#"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="header-content">
        <div class="container">
            <div class="row vertical-align">
                {********* ЛОГО / LOGO ****************}
                <div id="wrapp-logo" class="col-md-3 col-sm-4 col-xs-12">
                    <div class="logo">
                        <a href="#"><img src="wa-apps/site/themes/dsv2/img/Logo.png" alt="mirsporta"></a>
                    </div>
                </div>

                <div class="contacts-call-media">
                    {****media КОНТАКТЫ / CONTACTS ********}
                    <div id="contacts-media" class="col-md-{if $theme_settings.cart == 'top'}2{else}6{/if} col-sm-4">
                        <ul class="phones-media list-unstyled pull-right">
                            <div id="phone-img"><img src="wa-apps/site/themes/dsv2/img/Phone.png" alt="#"></div>
                            <div class="wrapp-phone">
                            <li class="phone one"><!-- <a href="tel:+74993501095"> -->8(800) 350-10-95<!-- </a> --></li>
                            <li class="phone two"><!-- <a href="tel:+78003501095"> -->8(800) 350-10-95<!-- </a> --></li>
                            <li class="phone work">Бесплатно с 8:00 до 23:00</li>
                            </div>
                        </ul>
                    </div>

                    {****media ЗВОНОК / CALL **************}
                    <div id="call-media" class="col-md-2 col-sm-3">
                        <div class="btn-call-wrapp"><a class="btn-call" href="tel:88003501095">Заказать звонок</a></div>
                    </div>
                </div>

                {********* КОНТАКТЫ / CONTACTS ********}
                <div id="contacts" class="col-md-{if $theme_settings.cart == 'top'}2{else}6{/if} col-sm-4">
                    <ul class="phones list-unstyled pull-right">
                        <div id="phone-img"><img src="wa-apps/site/themes/dsv2/img/Phone.png" alt="#" style="margin: 19px 0 22px 0;"></div>
                        <div>
                        <li class="phone one"><!-- <a href="tel:+74993501095"> -->8(800) 350-10-95<!-- </a> --></li>
                        <li class="phone two"><!-- <a href="tel:+78003501095"> -->8(800) 350-10-95<!-- </a> --></li>
                        <li class="phone work">Бесплатно с 8:00 до 23:00</li>
                        </div>
                    </ul>
                </div>

                {********* ЗВОНОК / CALL **************}
                <div id="call" class="col-md-2 col-sm-3">
                    <div class="btn-call-wrapp"><a class="btn-call" href="tel:88003501095">Заказать звонок</a></div>
                </div>
                {********* ПОИСК / SEARCH *************}
                <div id="search" class="col-md-4 col-sm-5">
                    <form method="get" action="/search/">
                        <div class="search input-group">
                            <input type="search" name="query" class="form-control" placeholder="Найти товары" style="height: 40px; padding: 10px 16px">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </form>
                </div>

                {********* WRAPP / WRAPP **************}
                {********* ЛОГО / LOGO ****************}
                <div id="wrapp-logo-scc" class="col-md-3 col-sm-4 col-xs-12">
                    <div class="logo">
                        <a href="#"><img src="wa-apps/site/themes/dsv2/img/Logomedia.png" alt="mirsporta"></a>
                    </div>
                </div>
                <div class="wrapp-media-scc">
                    {********* ПОИСК / SEARCH media********}
                    <div id="search-s" class="col-md-4 col-sm-5">
                        <form method="get" action="/search/">
                            <div class="search input-group">
                                <input type="search" name="query" class="form-control" placeholder="Найти товары" style="height: 40px; padding: 10px 16px">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </form>
                    </div>
                    <div class="wrapp-media-cc">
                        {********* КОНТАКТЫ / CONTACTS media***}
                        <div id="contacts-c" class="col-md-{if $theme_settings.cart == 'top'}2{else}6{/if} col-sm-4">
                            <ul class="phones list-unstyled pull-right">
                                <div id="phone-img"><img src="wa-apps/site/themes/dsv2/img/Phone.png" alt="#" style="margin: 19px 0 22px 0;"></div>
                                <div>
                                <li class="phone one"><!-- <a href="tel:+74993501095"> -->8(800) 350-10-95<!-- </a> --></li>
                                <li class="phone two"><!-- <a href="tel:+78003501095"> -->8(800) 350-10-95<!-- </a> --></li>
                                <li class="phone work">Бесплатно с 8:00 до 23:00</li>
                                </div>
                            </ul>
                        </div>
                        {********* ЗВОНОК / CALL media*********}
                        <div id="call-c" class="col-md-2 col-sm-3">
                            <div class="btn-call-wrapp"><a class="btn-call" href="tel:88003501095">Заказать звонок</a></div>
                        </div>
                    </div>
                </div>

                {********* ГРАФИКИ / GRAPHICS *********}
                <div id="graphics" class="col-md-1 col-sm-2">
                    <div class="graphics-img"><img class="img-1" src="wa-apps/site/themes/dsv2/img/Static.png" alt="#"></div>
                    <div class="graphics-img m"><img class="img-2" src="wa-apps/site/themes/dsv2/img/Heart.png" alt="#"></div>
                    <div class="graphics-img m"><img class="img-3" src="wa-apps/site/themes/dsv2/img/Time.png" alt="#"></div>
                </div>                    
            </div>
        </div>
    </div>
</div>