{strip}
<div class="block double-padded" id="s-googlemc-form">
<div class="support_link">
<p>Телефон бесплатной техподдержки Google Adwords <strong>8 800 500-91-20</strong>
<span style="margin-left: 10px;border: 2px solid #00c36e;text-decoration: none;padding: 5px 10px;color: #fff;background: #00c26b;" class="link-inst"><a href="https://web-landing.tjo.biz/webasyst-plugins/googlemc.html" target="_blank" style="border: 2px solid #00c36e;text-decoration: none;padding: 5px 10px;color: #fff;background: #00c26b;">Инструкция по настройке</a></span>
</p>
</div>

{if $settlements}
    <form id="s-plugin-googlemc" method="post" action="?plugin=googlemc&module=run">
    <div class="fields form">

    {if $info.exists}
        <div class="field-group" style="border-bottom: 1px solid #ccc;">
            <div class="field">
                <div class="name bold">
                    RSS 2.0 xml-файл
                </div>
                <div class="value">
                    <input id="s-plugin-googlemc-last-export" type="text" value="{$info.url|escape}" readonly="readonly" class="long bold large" style="width: 75% !important;">
                    <a href="{$info.url}?download=1" class="bold nowrap inline"><i class="icon16 download no-overhanging" style="margin-top: 0.4em;"></i>Скачать</a>
                    <p class="small">Файл обновлен: {$info.mtime|wa_datetime:"humandatetime"}</p>
                    <p class="small"><i class="icon10 yes"></i> Ссылка на XML-файл является постоянной и не меняется при повторном экспорте товаров. Для включения автоматического экспорта товаров укажите период обновления с помощью настройки «Обновление файла» ниже и сохраните настройку, повторно экспортировав товары. Чтобы сделать ссылку недействительной, удалите профиль.</p>
                </div>
            </div>
        </div>
    {/if}

        <div class="field js-profile-description">
            <div class="name">Название профиля</div>
            <div class="value">
                <input type="text" name="profile[name]" value="{$profile.name|default:''|escape}" placeholder="Название профиля" id="s-plugin-googlemc-profile-name">
                <input type="hidden" name="profile[id]" value="{$profile.id|default:'-1'}">
            </div>

        </div>
        <input type="hidden" name="test"  value[]="{$settlement_cur}">
        <div class="field-group">
            <div class="field">
                <div class="name">
                    Витрина
                </div>
                {if count($settlements)>1}
                    <div class="value no-shift">
                        <select name="domain" id="s-plugin-googlemc-domain">
                            {foreach $settlements as $route}
                                <option value="{$route|escape}"{if $route eq $current_domain} selected="selected"{/if}>{$route|escape}</option>
                            {/foreach}
                        </select>

                        <p class="hint">Витрину необходимо указать для правильного указания адресов страниц товаров в XML-файле и отбора товаров для экспорта.</p>
                    </div>
                {elseif reset($settlements)}
                    <div class="value no-shift">
                        {$route = reset($settlements)}
                        <input type="text" readonly="readonly" value="{$route|escape}" name="domain" id="s-plugin-googlemc-domain">

                        <p class="hint">Витрину необходимо указать для правильного указания адресов страниц товаров в XML-файле и отбора товаров для экспорта</p>
                    </div>
                {else}
                    <span class="errormsg">Не удалось обнаружить витрину магазина. Проверьте настройки поселения магазина.</span>
                {/if}
            </div>
            <div class="field js-profile-description">
                <div class="name">UTM-метки</div>
                <div class="value no-shift">
                    Источник (utm_source):<br>
                    <input type="text" name="utm_source" placeholder="googlemc" value="{$profile.config.utm_source|default:''|escape}" >
                </div>
                <div class="value no-shift">
                    Канал (utm_medium):<br>
                    <input type="text" name="utm_medium" placeholder="cpc" value="{$profile.config.utm_medium|default:''|escape}" >
                </div>
                <div class="value no-shift">
                    Кампания (utm_campaign):<br>
                    <input type="text" name="utm_campaign" placeholder="{$profile.name|default:''|escape}" value="{$profile.config.utm_campaign|default:''|escape}" >
                </div>
                <div class="value">
                    <p class="hint">Для отслеживания конверсий по событиям в Яндекс Метрике или Гугл Аналитикс ко всем адресам (URL), содержащимся в файле, будут автоматически добавлены UTM-метки, которые позволят средствам веб-аналитики отследить открытия страниц по этим адресам.  Если вы не используете UTM-метки, просто оставьте поля пустыми.</p>
                </div>
            </div>
            
            <div class="field">
                <div class="name">
                    Обновление файла
                </div>
                <div class="value no-shift">
                    <select name="lifetime" id="s-plugin-googlemc-ondemand-update">
                        <option value="0"{if $profile.config.lifetime ==0} selected="selected"{/if}>Обновление только вручную</option>
                        <option value="60"{if $profile.config.lifetime ==60} selected="selected"{/if}>Автоматически при каждом запросе</option>
                        <option value="3600"{if $profile.config.lifetime ==3600} selected="selected"{/if}>Автоматически, но не чаще чем раз в час</option>
                        <option value="86400"{if $profile.config.lifetime ==86400} selected="selected"{/if}>Автоматически, но не чаще чем раз в день</option>
                        <option value="604800"{if $profile.config.lifetime ==604800} selected="selected"{/if}>Автоматически, но не чаще чем раз в неделю</option>
                    </select>
                    <p class="hint">Эта настройка позволяет включить <em>повторный автоматический экспорт</em> товаров в файл при запросе уникального адреса (адрес формируется в момент первого экспорта для каждого профиля). Обновление файла выполняется каждый раз при запросе его уникального адреса, если возраст файла превышает выбранное значение. Если автоматическое обновление не выбрано, то по уникальному адресу файла всегда будет отдаваться его последняя версия, экспортированная вручную.</p>
                </div>
            </div>
            
        </div>
        <div class="clear-left"></div>
    <div class="field-group">
        <h2 class="gray">1. Выберите товары</h2>
        {$hash = $profile.config.hash}
{*BEGIN*}

        {*
@var array $set array of available sets
@var array $types array of available product types
@var array $hint array of hash hints
@var string $hash
*}
        <div class="field">
            <div class="name">
                {_wd('shop',"Select products")}
            </div>
            {$hash = shopImportexportHelper::parseHash($hash)}
            <div class="value">
                <div class="sidebar left200px">
                    <ul class="menu-v">
                        <li>
                            <label class="black"><input type="radio" value="" name="hash"{if empty($hash.type)} checked="checked"{/if}> {_wd('shop',"All products")}</label>
                        </li>
                        <li{if $hash.type neq 'id'} style="display: none;"{/if}>
                            <label class="black"><input type="radio" value="id" name="hash"{if $hash.type eq 'id'} checked="checked"{/if}>
                                <input type="hidden" value="{$hash.product_ids|default:''}" name="product_ids"> <span>{if $hash.type eq 'id'}{$hash.count|string_format:"{_wd('shop',"Selected products (%d)")}"}{else}{_wd('shop',"Selected products (%d)")}{/if}</span></label>
                        </li>
                        <li{if $hash.type neq 'category'} style="display: none;"{/if}>
                            <label class="black"><input type="radio" value="category" name="hash"{if $hash.type eq 'category'} checked="checked"{/if}>
                                <input type="hidden" value="{$hash.category_ids|default:''}" name="category_ids"> <span>{if $hash.type eq 'category'}{$hash.count|string_format:"{_wd('shop',"Selected categories (%d)")}"}{else}{_wd('shop',"Selected categories (%d)")}{/if}</span></label>
                        </li>
                        <li>
                            <label class="black"><input type="radio" value="set" name="hash"{if $hash.type eq 'set'} checked="checked"{/if}> {_wd('shop',"Sets")}</label>
                        </li>
                        <li>
                            <label class="black"><input type="radio" value="type" name="hash"{if $hash.type eq 'type'} checked="checked"{/if}> {_wd('shop',"Product types")}</label>
                        </li>
                    </ul>
                    <p class="hint"><br><i class="icon10 exclamation"></i> Если товар не принадлежит ни одной категории, то он не будет экспортирован в XML-файл.</p>
                </div>
                <div class="value js-hash-values js-hash-set" style="width: 400px;">
                    <div class="bordered-left" style="padding-left: 20px; margin-left: 20px;">
                        <ul class="menu-v with-icons">
                            {foreach $sets as $set}
                                <li>
                                    <label title="{$set.id|escape}">
                                        <span class="count">{if !empty($set.type)}&le;{/if}{$set.count}</span>
                                        <i class="icon16 {if $set.type == shopSetModel::TYPE_DYNAMIC}ss set-dynamic{else}ss set{/if}"></i>
                                        <input type="radio" name="set_id" value="{$set.id}"{if ($set@first && empty($hash.set_id))||($hash.set_id eq $set.id)} checked="checked"{/if}>
                                        {$set.name|escape}
                                    </label>
                                </li>
                            {/foreach}
                        </ul>
                        {if !empty($hints.set)}<br/><span class="gray">{$hints.set}</span>{/if}
                    </div>
                </div>
                <div class="value js-hash-values js-hash-type" style="width: 400px;">
                    <div class="bordered-left" style="padding-left: 20px; margin-left: 20px;">
                        <ul class="menu-v with-icons">
                            {foreach $types as $type}{if $type.count}
                                <li>
                                    <label>
                                        <span class="count">{$type.count}</span>
                                        {shopHelper::getIcon($type.icon)}
                                        <input type="radio" name="type_id" value="{$type.id}" {if ($type@first && empty($hash.type_id))||($hash.type_id eq $type.id)} checked="checked"{/if}> {$type.name|escape}
                                    </label>
                                </li>
                            {/if}{/foreach}
                        </ul>
                        {if !empty($hints.type)}<br/><span class="gray">{$hints.type}</span>{/if}
                    </div>
                </div>
            </div>
            <div class="clear-left"></div>
        </div>

{*END*}
    </div>

    <div class="field-group">
        <h2 class="gray">2. Общие параметры экспорта</h2>

        <div class="field">
            <div class="name">Описание компании</div>
            <div class="value">
                <input name="company" placeholder="Компания" value="{$company|escape}" id="s-plugin-googlemc-company"><br>

                <p class="hint">Краткое описание Вашей компании.</p>
            </div>
        </div>


        <div class="field">
            <div class="name">Остатки</div>
            <div class="value no-shift"><label for="s-plugin-googlemc-export-zero-stock">
                <input name="export[zero_stock]" id="s-plugin-googlemc-export-zero-stock" type="checkbox" value="1"{if !empty($export.zero_stock)} checked="checked" {/if} {if !empty($app_settings.ignore_stock_count)} readonly="readonly"{/if}> Выгружать товары с нулевым остатком
                </label>
                {if !empty($app_settings.ignore_stock_count)}<p class="hint">Для отключения этой настройки в настройках складов должен быть выбран вариант «Максимальное количество товаров, которое может быть добавлено в корзину, не может превышать остаток на складе.</p>{/if}
            </div>
        </div>


         <div class="field">
            <div class="name">Категории</div>
            <div class="value no-shift"><label for="s-plugin-googlemc-export-category">
                <input name="export[category]" id="s-plugin-googlemc-export-category" type="checkbox" value="1"{if !empty($export.category)} checked="checked" {/if} {if !empty($app_settings.ignore_category)} readonly="readonly"{/if}> Позволяет использовать тэг "product_type" для выгрузки своих категорий. Выгружает только первую сторку категорий.
            </label>
                <p class="hint" style="color:blue">Категории товара</p>

                {if !empty($app_settings.ignore_category)}<p class="hint"></p>{/if}
            </div>
        </div>

        <div class="field">
            <div class="name">Использовать округление</div>
            <div class="value no-shift"><label for="s-plugin-googlemc-export-round">
                <input name="export[round]" id="s-plugin-googlemc-export-round" type="checkbox" value="1"{if !empty($export.round)} checked="checked" {/if} {if !empty($app_settings.ignore_round)} readonly="readonly"{/if}> Позволяет использовать округление цен из настроек магазина. Как правило используется в магазине с несколькими валютами.


                {if !empty($app_settings.ignore_round)}<p class="hint"></p>{/if}
            </div>
        </div>


        <div class="field">
            <div class="name">ID товара</div>
            <div class="value no-shift"><label for="s-plugin-googlemc-export-id_good">
                <input name="export[id_good]" id="s-plugin-googlemc-export-id_good" type="checkbox" value="1"{if !empty($export.id_good)} checked="checked" {/if} {if !empty($app_settings.ignore_id_good)} readonly="readonly"{/if}> Если стоит чекбокс, то id будет равен «коду артикула», а если нет, то id будет равен id товара из базы данных. Нужно ставить, если вариации(модификации) у товара имеют разные цены, в этом случае имеет смысл их идентификацию уникализировать с помощью поля «код артикула», в противном случае ставить чекбокс не рекомендуем.
            </label>
                <p class="hint" style="color:red"></p>

                {if !empty($app_settings.ignore_id_good)}<p class="hint"></p>{/if}
            </div>
        </div>

        <div class="field">
            <div class="name">Отдельное поле для изображения товара</div>
            <div class="value no-shift"><label for="s-plugin-googlemc-export-custom_img">
                <input name="export[custom_img]" id="s-plugin-googlemc-export-custom_img" type="checkbox" value="1"{if !empty($export.custom_img)} checked="checked" {/if} {if !empty($app_settings.ignore_custom_img)} readonly="readonly"{/if}> Использовать в качестве значения картинки товара, своё поле. Нужно создаст текстовое поле у товара и заполнить прямой ссылкой на картинку. Тогда в теге "g:image_link" будет подставлено значение из этого поля.
            </label>
                <p class="hint" style="color:red"></p>

                {if !empty($app_settings.ignore_custom_img)}<p class="hint"></p>{/if}
            </div>
        </div>



        <div class="field">
            <div class="name">Ведётся учёт в бугхалтерии</div>
            <div class="value no-shift"><label for="s-plugin-googlemc-export-strict_goods">
                <input name="export[strict_goods]" id="s-plugin-googlemc-export-strict_goods" type="checkbox" value="1"{if !empty($export.strict_goods)} checked="checked" {/if} {if !empty($app_settings.ignore_strict_goods)} readonly="readonly"{/if}> Если отмеченно, то товары у которых в количестве стоит &#8734; (бесконечность), будут выгружаться со значением "нет в наличии". Нужно ставить галочку, если используется синхронизация магазина с "Мой склад" или "1С".
            </label>
                <p class="hint" style="color:red"></p>

                {if !empty($app_settings.ignore_strict_goods)}<p class="hint"></p>{/if}
            </div>
        </div>

        <div class="field">
            <div class="name">Минимальная цена</div>
            <div class="value">
                <input type="text" name="export[min_price]" value="{$export.min_price|default:''|escape}"
                       placeholder="0.5" class="numerical short"
                       id="s-plugin-yandexmarket-export-min_price">{$primary_currency|escape}<br>

                <p class="hint">Товары с ценой меньше указанной не будут экспортированы в XML-файл</p>
            </div>
        </div>


        <div class="field">
            <div class="name">Товары только для взрослых</div>
            <div class="value">
                <select name="export[audit]">

                    <option {if $export.audit == "no"} selected="" {/if} value="no">Нет</option>
                    <option {if $export.audit == "yes"} selected="" {/if} value="yes">Да</option>

                </select>
                <p class="hint">Обязательный (для товаров, которые содержат материалы только для взрослых) Указывает на то, что товар содержит материалы сексуального характера</p>

            </div>
        </div>



        <div class="field">
            <div class="name">Валюта для выгрузки</div>
            <div class="value">
                <select name="export[cur]">
                    {foreach $user_currency2 as $key =>$val}
                    <option {if $export.cur == $val} selected="" {/if} value={$val}>{$val}</option>
                    {/foreach}
                </select>
                <p class="hint">Если выбранна не основная валюта сайта, то происходиит конвертирование из настроек магазина.</p>
                <p>Основной валютой сайта является <strong>{$primary_currency|escape}</strong></p> {$user_currency}
            </div>
        </div>
        <hr/>



<div class="info">Для заполнения тега "google_product_category" используйте классификатор категорий google по <a target="_blank" href="https://support.google.com/merchants/answer/6324436?visit_id=1-636579306763101867-1538047162&rd=1">ссылке</a> или скачайте <a href="http://www.google.com/basepages/producttype/taxonomy-with-ids.en-US.xls">файл</a> с перечислением всех доступных категорий.
</div>

    </div>
    <div class="field-group">
        <h2 class="gray">3. Экспорт характеристик товаров</h2>
        <p class="hint">Базовое соответствие характеристик магазина параметрам товарных предложений Google заполняются только поля: "availability", "title", "description", остальные дополнительные поля можно не трогать - "пропустить".</p>
        {$type_info = $type_map.simple}
        {$map=$type_info.fields}
        {$type_id='simple'}
        {$js_base_href="#/googlemc:`$profile.id`"}
        {$_params=false}
        {foreach $map as $field => $info}
            {if (ifempty($info.type) eq 'adjustable')}
                {if $field=='param.*'}
                    {$field='param.${id}'}
                    {$_params=true}
                <!-- jquery template {capture name="googlemc-`$type_id`-template-js"} -->
                {include file="./mapField.html" inline}
                <!-- {/capture} placeholder -->
                {else}
                    {include file="./mapField.html" inline}
                {/if}
            {/if}
        {/foreach}

       <!--  {if $_params}
       <div class="field">
           <div class="value">
               <a href="{$js_base_href|default:'#'}/param/add/{$type_id}/" class="inline-link js-action small">
                   <i class="icon10 add"></i> Добавить характеристику &lt;param&gt;
               </a>
           </div>
       </div>
       {/if} -->

    {foreach $type_map as $type_id =>$type_info}
        {if $type_id neq 'simple'}
        {$map=$type_info.fields}
        {$_params=false}
        <div class="field-group" style="margin-top: 30px; display:none;">
            <h3 class="gray"><label>{*3.{$type_info@iteration-1}. *}<input type="checkbox" class="js-types" value="{$type_id}"{if !empty($types_map[$type_id])} checked="checked"{/if}> {$type_info.name|escape}</label></h3>

            <div class="field">
                <div class="name">Типы товаров, относящиеся к этой группе товарных предложений Google'а</div>
                <div class="value">
                    <ul class="menu-v with-icons">
                        {foreach $types as $type}{if $type.count}
                            <li>
                                <label>
                                    {shopHelper::getIcon($type.icon)}
                                    <input class="js-type-map" type="checkbox" name="types[{$type_id}][]" value="{$type.id}" {if !empty($types_map[$type_id]) && in_array($type.id,$types_map[$type_id])} checked="checked"{/if}>
                                    &nbsp;{$type.name|escape}
                                </label>
                            </li>
                        {/if}{/foreach}
                    </ul>
                </div>
            </div>
            {foreach $map as $field => $info}
                {if (ifempty($info.type) eq 'adjustable')}
                    {if $field=='param.*'}
                        {$_params=true}
                        {$field='param.${id}'}
                        <!-- jquery template {capture name="googlemc-`$type_id`-template-js"} -->
                        {include file="./mapField.html" inline}
                        <!-- {/capture} placeholder -->
                    {else}
                        {include file="./mapField.html" inline}
                    {/if}
                {/if}
            {/foreach}
            {if $_params}
                <div class="field">
                    <div class="value">
                        <a href="{$js_base_href|default:'#'}/param/add/{$type_id}/" class="inline-link js-action small">
                            <i class="icon10 add"></i> Добавить характеристику &lt;param&gt;
                        </a>
                    </div>
                </div>
            {/if}



        </div>
        {/if}
    {/foreach}
    </div>
    <div class="clear-left"></div>

    <div class="field-group" id="plugin-googlemc-submit">
        <div class="field">
            <div class="value submit">
                <input type="submit" class="button green" value="Экспортировать">
                <br><br>
                <em class="small js-profile-notice">При экспорте изменения в настройках профиля будут сохранены и применены к последующим экспортам автоматически</em>

                <div class="js-progressbar-container" style="display:none;">
                    <div class="progressbar blue float-left" style="display: none; width: 70%;">
                        <div class="progressbar-outer">
                            <div class="progressbar-inner" style="width: 0;"></div>
                        </div>
                    </div>
                    <img style="float:left; margin-top:8px;" src="{$wa_url}wa-content/img/loading32.gif"/>

                    <div class="clear"></div>
                    <span class="progressbar-description"></span>
                    <br style="clear:left;"/>
                    <br>
                        <span class="small italic">
                            Не закрывайте окно браузера и не покидайте страницу до тех пор, пока процесс экспорта не будет завершен
                        </span>
                </div>
                <br><br>
                <em class="errormsg"></em>
            </div>
        </div>
    </div>
    <div class="field-group" id="plugin-googlemc-report" style="display: none;">
        <div class="field">
            <div class="value"></div>
            <div class="value"><br><a href="#/googlemc{if !empty($profile.id)}:{$profile.id}{/if}/" name="/googlemc/" onclick="window.location.reload();" class="bold">Получить ссылку на файл</a></div>
        </div>
    </div>
    </div>
    </form>
{else}
    <p>
    <span class="errormsg">Не определено ни одного поселения магазина.</span>
        Для работы модуля экспорта товаров в Google необходимо создать хотя бы одно поселение магазина на сайте, чтобы правильно указывать адреса страниц товаров в AML-файле для Google'а.
    </p>
{/if}
</div>

<div class="clear"></div>
{/strip}
<script type="text/javascript">
    if ($.importexport.plugins.googlemc) {
        $.importexport.plugins.googlemc.init({$params|json_encode});
    } else {

        $.getScript('{$wa_app_static_url}plugins/googlemc/js/googlemc.js',function(){
            $.importexport.plugins.googlemc.init({$params|json_encode});
            $.importexport.plugins.googlemc.initForm();
        });
    }
    {* generic code for plugins with profiles support *}
    $.importexport.profiles.set('googlemc',{$profiles|json_encode});
</script>

{foreach $smarty.capture as $name => $template} {if strpos($name,'template-js')}
    <!-- begin {$name} -->
    <script type="text/x-jquery-tmpl" id="{$name}">
{$template|regex_replace:'@(^.*-->)|(<!\-\-.*$)@m':''|replace:'</':'<\/'}
</script>
    <!-- end {$name} -->
{/if} {/foreach}
