{strip}
{if (strpos($field,'param.')===0)}
    {$param=true}
{else}
    {$param=false}
{/if}
<div class="field">
    <div class="name"{if !empty($info.required)} title="Обязательно поле" {/if}>
        {*<label for="s-plugin-googlemc-map-{$field}-source">*}
            {$info.name|escape}{if !empty($info.required)} <span style="color:#888;">*</span>{/if}
        {*</label>*}
    </div>
    <div class="value no-shift">
        {* Field data source selector *}
        <select name="map[{$type_id}][{$field}][source]" id="s-plugin-googlemc-map-{$field}-source">
            {$selected = false}
            <option value="skip:" class="gray"{if (ifset($info['source'])=="skip:")||empty($info['source'])}{$selected=true} selected="selected"{/if}>пропустить</option>
                {if !empty($info.values) || !$param}
                <optgroup label="Фиксированное значение">
                    {if !empty($info.values)}
                        {foreach $info.values as $value_id => $value}
                            {if is_array($value)}
                                {foreach $value as $unit_value}
                                    <option value="value:{$value_id|escape}:{$unit_value|escape}"{if (ifset($info['source'])=="value:`$value_id`:`$unit_value`")}{$selected = true}selected="selected"{/if}>{$unit_value|escape} {_ws($value_id)|escape}</option>
                                {/foreach}
                            {else}
                                <option value="value:{$value|escape}"{if (ifset($info['source'])=="value:`$value`")}{$selected = true}selected="selected"{/if}>{$value|escape}</option>
                            {/if}
                        {/foreach}
                    {/if}
                    {if !$param}
                    <option value="text:%s"{if strpos(ifset($info['source']),'text:')===0}{$selected = true}selected="selected"{/if}>Пользовательское значение</option>
                    {/if}

                </optgroup>
                {/if}
            {if !$param}
            <optgroup label="Основное свойство товара">
                {foreach $fields as $fid=>$f}
                    <option value="field:{$fid}"{if !$selected && (ifset($info['source']) eq "field:`$fid`")}{$selected = true} selected="selected" style="font-weight:bold;text-decoration:underline;"{/if}>{$f|escape}</option>
                {/foreach}
            </optgroup>
            {/if}
            <optgroup label="Характеристика">
                {if !empty($features_autocomplete)}
                    <option value="feature:%s">Выбрать характеристику...</option>
                {/if}

                    {foreach $features as $feature}
                        <option value="feature:{$feature.code}"{if !$selected && ((ifset($info['source']) eq "feature:`$feature['code']`")||($feature.code eq $field))}{$selected = true} selected="selected"{/if}{if $param && !empty($feature.units)} data-unit="{$feature.units|escape:'js'}"{/if}>{$feature.name|escape}</option>
                    {/foreach}
            </optgroup>
        </select>

        {* Field source feature autocomplete *}
        {if !empty($features_autocomplete)}<input type="hidden" name="map[{$type_id}][{$field}][feature]" value="">
        <input type="search" class="js-autocomplete-feature" title="Поиск характеристики по названию или коду" placeholder="Начните набирать название или код характеристики" style="display:none;">
        {/if}

        {* Field source user value *}
        <input type="text" name="map[{$type_id}][{$field}][text]" class="js-value-custom" placeholder="Пользовательское значение"{if strpos(ifset($info['source']),'text:')!==0} value="" style="display: none;"{else} value="{$info['source']|regex_replace:'@^text:@':''|escape}"{/if}>
        <a href="{$js_base_href|default:'#'}/source/select/{$type_id}/{$field}/" class="js-action" style="display: none;"><i class="icon16 close"></i></a>
        &nbsp;&rarr;
        {if $param}

            <span class="js-target">&lt;param <b>name</b>="<span class="js-target-name">name</span>" <b>unit</b>="<span class="js-target-unit">unit</span>"&gt;</span>
        {else}
            {if !empty($info.attribute)}
                &lt;{$info.field|regex_replace:'/\..*$/':''} <b>{$field|regex_replace:'/^.*\./':''}</b>="..." &gt;
            {else}
                &lt;{$field|regex_replace:'/^.*\./':''}&gt;
            {/if}
        {/if}

        {if !empty($info.description)}
        <br>
        <span class="hint">{$info.description|escape|nl2br}</span>
        {/if}
    </div>
</div>
{/strip}