{$_cart_url = $wa->getUrl('shop/frontend/cart')}
{if method_exists($wa->shop, 'checkout')}
    {$_cart_url = $wa->shop->checkout()->cartUrl()}
{/if}

<!-- products thumbnail list view -->

{if !empty($sorting)}
    <!-- sorting -->
    {$sort_fields = [
        'name' => _w('Name'),
        'price' => _w('Price'),
        'total_sales' => _w('Bestsellers'),
        'rating' => _w('Customer rating'),
        'create_datetime'=>_w('Date added'),
        'stock' => _w('In stock')]}

    {if !isset($active_sort)}
        {$active_sort = $wa->get('sort', 'create_datetime')}
    {/if}
    <ul class="sorting">
        <li>[`Sort by`]:</li>
        {if !empty($category) && !$category.sort_products}
            <li{if !$active_sort} class="selected"{/if}><a href="{$wa->currentUrl(0, 1)}">[`New & Popular`]</a></li>
        {/if}
        {foreach $sort_fields as $sort => $name}
            <li{if $active_sort == $sort} class="selected"{/if}>{$wa->shop->sortUrl($sort, $name, $active_sort)}</li>
            {if $wa->get('sort') == $sort}{$wa->title( $wa->title()|cat:' — '|cat:$name)}{/if}
        {/foreach}
    </ul>
{/if}

{if $wa->shop->cart->total() > 0}{$add2cart_label = '[`Add to cart`]'}{else}{$add2cart_label = '[`Buy`]'}{/if}

<ul class="thumbs product-list">
{if !empty($theme_settings.list_features)}
    {$features = $wa->shop->features($products)}
{/if}
{foreach $products as $p}
    {$available = $wa->shop->settings('ignore_stock_count') || $p.count === null || $p.count > 0}
    <li itemscope itemtype ="http://schema.org/Product">

        <a href="{$p.frontend_url}" title="{$p.name}">
            <div class="image">
                <div class="badge-wrapper">
                    {$badge_html = $wa->shop->badgeHtml($p.badge)}
                    {if $badge_html}
                        <div class="corner top right">{$badge_html}</div>
                    {/if}
                    {$wa->shop->productImgHtml($p, '200', ['itemprop' => 'image', 'alt' => $p.name, 'default' => "`$wa_theme_url`img/dummy200.png"])}
                </div>
            </div>
            <h5>
                <span itemprop="name">{$p.name}</span>
            </h5>
            {if $p.summary}<span itemprop="description" class="summary">{strip_tags($p.summary)|truncate:100}</span>{/if}
        </a>
        {if !empty($p.features)}
        <table class="features">
            {foreach $p.features as $f_code => $f_value}
            <tr{if $features[$f_code].type == 'divider'} class="divider"{/if}>
            <td class="name">
                {$features[$f_code].name|escape}
            </td>
            <td class="value" itemprop="{$f_code|escape}">
                {if is_array($f_value)}
                    {if $features[$f_code].type == 'color'}
                        {implode('<br /> ', $f_value)}
                    {else}
                        {implode(', ', $f_value)}
                    {/if}
                {else}
                    {$f_value}
                {/if}
            </td>
            </tr>
            {/foreach}
        </table>
        {/if}
        <div itemprop="offers" class="offers" itemscope itemtype="http://schema.org/Offer">
            {if $available}
                <form class="purchase addtocart" {if $p.sku_count > 1}data-url="{$p.frontend_url}{if strpos($p.frontend_url, '?')}&{else}?{/if}cart=1"{/if} method="post" action="{$wa->getUrl('shop/frontendCart/add')}">
                    <div class="pricing">
                        {if $p.compare_price > 0}<span class="compare-at-price nowrap"> {shop_currency_html($p.compare_price)}</span> {/if}
                        <span class="price nowrap">{shop_currency_html($p.price)}</span>
                        <meta itemprop="price" content="{shop_currency($p.price, null, null, 0)}">
                        <meta itemprop="priceCurrency" content="{$wa->shop->currency()}">
                    </div>
                    <input type="hidden" name="product_id" value="{$p.id}">
                    <input type="submit" value="{$add2cart_label}">
                    <i class="adding2cart"></i>
                    {if !empty($theme_settings.compare_products)}<a data-product="{$p.id}" class="compare" href="#" title="[`Compare`]"><i class="icon16 compare compare-from-list{if $wa->shop->inComparison($p.id)} active{/if}"></i></a>{/if}
                    <span class="added2cart" style="display: none;">{sprintf('[`%s is now <a href="%s"><strong>in your shopping cart</strong></a>`]', $p.name, $_cart_url)}</span>
                </form>
                <link itemprop="availability" href="http://schema.org/InStock" />
            {else}
                <span class="price nowrap">{shop_currency_html($p.price)}</span>
                <meta itemprop="price" content="{shop_currency($p.price, null, null, 0)}">
                <meta itemprop="priceCurrency" content="{$wa->shop->currency()}">
                <div class="out-of-stock"><strong>{if $wa->shop->settings('ignore_stock_count')}[`Pre-order only`]{else}[`Out of stock`]{/if}</strong></div>
                <link itemprop="availability" href="http://schema.org/OutOfStock" />
            {/if}
        </div>
        {if $p.rating > 0}
            <span class="rating nowrap">{$wa->shop->ratingHtml($p.rating, 16)}</span>
        {/if}
    </li>
{/foreach}
</ul>

{if isset($pages_count) && $pages_count > 1}
<div class="block {if $theme_settings.pagination == 'lazyloading'}lazyloading-paging{else}paging-nav{/if}"  data-times="2" data-link-text="[`Load more`]" data-loading-str="[`Loading...`]">
    {wa_pagination total=$pages_count attrs=['class' => "menu-h"]}
</div>
{/if}
