{$_cart_count = $wa->shop->cart->count()}

{$wa->globals("hideCart", true)}

<style>
    #header-container { display: none; }
    .s-cart-empty-wrapper { margin: 100px 0; text-align: center; }
    .s-cart-empty-wrapper .s-image-wrapper { margin: 0 0 20px; }
    .s-cart-empty-wrapper .s-image-wrapper img { vertical-align: top; width: 100%; max-height: 160px; }
    .s-cart-empty-wrapper .s-description { margin: 20px 0 0; }
    .s-cart-empty-wrapper .s-actions-wrapper { margin: 30px 0 0; color: #006bd8; }
</style>

{*EMPTY*}
{if empty($_cart_count)}
    <div class="s-cart-empty-wrapper">
        <div class="s-image-wrapper">
            <img src="{$wa_theme_url}img/svg/order/cart_empty.svg" alt="[`Your shopping cart is empty.`]">
        </div>
        <p class="s-description">{$config.cart.empty_text|default:"[`Your shopping cart is empty.`]"|escape}</p>
        <p class="s-actions-wrapper">
            <a href="{$wa_app_url}">[`Go to home page`]</a>
        </p>
    </div>

{*ORDER*}
{else}
    <link rel="stylesheet" href="{$wa_theme_url}css/order.css?v={$wa_theme_version}">

    <div class="s-order-page" id="js-order-page">
        <div class="s-order-column">

            <section class="s-order-section" id="js-order-cart">
                <div class="s-section-header wa-flex-box full-line middle">
                    <h2 class="s-header">{$config.cart.block_name|default:"[`Shopping cart`]"|escape}</h2>
                    <a class="s-delete-button js-clear-cart" href="javascript:void(0);">
                        {$_svg_icon = '<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9.9 9.9"><path d="M0,8.5l3.5-3.5L0,1.4L1.4,0l3.5,3.5L8.5,0l1.4,1.4L6.4,4.9l3.5,3.5L8.5,9.9L4.9,6.4L1.4,9.9L0,8.5z"/></svg>'}
                        <span class="s-delete-icon">{$_svg_icon}</span>[`Delete all products`]
                    </a>
                </div>
                <div class="s-section-body">
                    {$wa->shop->checkout()->cart([
                        "DEBUG" => true,
                        "wrapper" => "#js-order-cart"
                    ])}
                </div>
            </section>

        </div>
        <div class="s-order-column">

            <section class="s-order-section" id="js-order-form">
                <div class="s-section-header">
                    <h2 class="s-header">{$config.order.block_name|default:"[`Checkout`]"|escape}</h2>
                </div>
                <div class="s-section-body">
                    {$wa->shop->checkout()->form([
                        "DEBUG" => true,
                        "wrapper" => "#js-order-form"
                    ])}
                </div>
            </section>

        </div>

        <script>
            ( function($) {

                ( typeof window.ShopOrderPage === "function" ? init() : load().then(init) );

                function load() {
                    var deferred = $.Deferred();

                    $.getScript("{$wa_theme_url}js/order.js?v={$wa->version()}", function() {
                        deferred.resolve();
                    });

                    return deferred.promise();
                }

                function init() {
                    new window.ShopOrderPage({
                        $wrapper: $("#js-order-page"),
                        urls: {
                            "checkbox-icon": "{$wa_app_static_url}img/frontend/order/svg/sprite.svg#checkbox-yes"
                        }
                    });
                }

            })(jQuery);
        </script>
    </div>
{/if}

<!-- plugin hook: 'frontend_order' -->
{* @event frontend_order.%plugin_id% *}
{foreach $frontend_order as $_}{$_}{/foreach}
