<div class="blank block double-padded s-settings-form">
    <h1>[`General settings`]</h1>
    <form id="s-settings-general-form" action="?module=settings&action=general">
        <div class="fields form">
            <div class="field-group">
                <div class="field">
                    <div class="name">[`Store name`]</div>
                    <div class="value">
                        <input type="text" class="large bold" name="name" value="{$name|escape}">
                    </div>
                </div>
                <div class="field">
                    <div class="name">[`Phone number`]</div>
                    <div class="value">
                        <input type="text" name="phone" value="{$phone|escape}" placeholder="[`+1 212-555-1312`]"><br />
                        <span class="hint">[`Phone number is published in the storefront and included in email notification`]</span>
                    </div>
                </div>
                <div class="field">
                    <div class="name">[`Primary email`]</div>
                    <div class="value">
                        <input type="text" name="email" value="{$email|escape}"><br />
                        <span class="hint">[`All email notifications sent to store customers will be sent from the primary email address`]</span>
                    </div>
                </div>
                <div class="field">
                    <div class="name">[`Country`]</div>
                    <div class="value">
                        <select name="country">
                            {if empty($country)}
                                <option value=""></option>
                            {/if}
                            {foreach $countries as $c}
                                <option value="{$c.iso3letter|escape}"{if $country == $c.iso3letter} selected{/if}>{$c.name|escape}</option>
                            {/foreach}
                        </select><br />
                        <span class="hint">[`Your online store base country.`]</span>
                    </div>
                </div>
            </div>

            <div class="field-group">
                <div class="field">
                    <div class="name">[`Storefront settings`]</div>
                    {foreach $routes as $_d => $_d_routes}
                        {foreach $_d_routes as $_r_id => $_r}
                            <div class="value no-shift s-settings-storefront-list">
                                <a href="?action=storefronts#/design/theme={ifset($_r.theme, 'default')}&domain={urlencode($_d)}&route={$_r_id}&action=settings">
                                    {$domains[$_d]|default:$_d|escape}/{$_r.url}
                                    <i class="icon10 settings"></i>
                                </a>
                            </div>
                        {/foreach}
                    {/foreach}
                </div>
            </div>

            <h5 class="heading">[`Orders & Customers`]</h5>
            <div class="field-group">
                <div class="field">
                    <div class="name">[`Order ID format`]</div>
                    <div class="value">
                        <input type="text" name="order_format" value="{$order_format}">
                        <p class="hint">[`<strong>&#123;$order.id&#125;</strong> will be replaced with the actual order ID. Do not delete &#123;$order.id&#125; from this string.`]</p>
                    </div>
                </div>
                <div class="field">
                    <div class="name">[`Sort order items`]</div>
                    {foreach $sort_order_items_variants as $sort_variant => $variant_data}
                        <div class="value no-shift">
                            <input type="radio" name="sort_order_items" value="{$sort_variant}" {if $sort_variant == $sort_order_items}checked{/if}> {$variant_data.name|default:''}
                            <br>
                        </div>
                    {/foreach}
                </div>
                <div class="field">
                    <div class="name">[`Gravatar`]</div>
                    <div class="value no-shift">
                        <label>
                            <input type="checkbox" name="use_gravatar" value="1" {if $use_gravatar}checked="checked"{/if}>
                            [`Display Gravatar userpics`]
                            <p class="hint">[`Gravatar.com (Globally Recognized Avatars) is a web service that returns userpic (profile photo, avatar) by email address. In case userpic is not uploaded in the Contacts app for a particular customer, his Gravatar userpic will be displayed.`]</p>
                        </label>
                    </div>
                    <div class="value no-shift">
                        <label>
                        [`In case there were no Gravatar userpic uploaded`]:
                            <select name="gravatar_default">
                                <option value="custom" {if $gravatar_default == 'custom'}selected="selected"{/if}>[`Use default userpic`]</option>
                                <option value="mm" {if $gravatar_default == 'mm'}selected="selected"{/if}>[`(mystery-man) a simple, cartoon-style silhouetted outline of a person (does not vary by email hash)`]</option>
                                <option value="identicon" {if $gravatar_default == 'identicon'}selected="selected"{/if}>[`a geometric pattern based on an email hash`]</option>
                                <option value="monsterid" {if $gravatar_default == 'monsterid'}selected="selected"{/if}>[`a generated “monster” with different colors, faces, etc.`]</option>
                                <option value="wavatar" {if $gravatar_default == 'wavatar'}selected="selected"{/if}>[`generated faces with differing features and backgrounds`]</option>
                                <option value="retro" {if $gravatar_default == 'retro'}selected="selected"{/if}>[`awesome generated, 8-bit arcade-style pixelated faces`]</option>
                            </select>
                            <img id="s-settings-general-gravatar" class="userpic" src="{shopHelper::getGravatar($wa->user('email', 'default'), 50, $gravatar_default)}" style="display: block; width: 50px; margin-top: 10px;">
                        </label>
                    </div>
                </div>

                {* Validation required fields *}
                <div class="field">
                    <div class="name">[`Required fields validation`]</div>
                    <div class="value s-ibutton-checkbox no-shift">
                        <ul class="menu-h">
                            <li><span {if empty($disable_backend_customer_form_validation)} class="gray"{/if} id="s-toggle-backend-validation-disabled-label">[`Disabled`]</span></li>
                            <li>
                                <input type="checkbox" id="s-toggle-backend-validation-status" name="disable_backend_customer_form_validation" value="1"{if empty($disable_backend_customer_form_validation)} checked{/if}>
                            </li>
                            <li><span id="s-toggle-backend-validation-enabled-label" {if !empty($disable_backend_customer_form_validation)} class="gray"{/if}>[`Enabled`]</span></li>
                        </ul>
                    </div>
                    <div class="value description"{if empty($disable_backend_customer_form_validation)} style="display:none"{/if}>
                        <!-- enabled -->
                        <p class="small">[`When a new order is created via backend manually, contact info form will not be validated. Fields which are necessary to fill in when order is placed in the storefront, can be left blank when order is created via backend.`]</p>
                    </div>
                    <div class="value description"{if !empty($disable_backend_customer_form_validation)} style="display:none"{/if}>
                        <!-- disabled -->
                        <p class="small">[`When a new order is created via backend manually, contact info form will be validated according the Contact info form setup defined for the storefront (above). All required fields will be necessary to fill in.`]</p>
                    </div>
                </div>

                {* Anti-spam *}
                <div class="field">
                    <div class="name">[`Checkout anti-spam filter`]</div>
                    <div class="value s-ibutton-checkbox no-shift">
                        <ul class="menu-h">
                            <li><span {if !empty($checkout_antispam)} class="gray"{/if} id="s-toggle-checkout-antispam-disabled-label">[`Disabled`]</span></li>
                            <li>
                                <input type="checkbox" id="s-toggle-checkout-antispam-status" name="antispam[enabled]" value="1"{if !empty($checkout_antispam)} checked{/if}>
                            </li>
                            <li><span id="s-toggle-checkout-antispam-enabled-label" {if !!empty($checkout_antispam)} class="gray"{/if}>[`Enabled`]</span></li>
                        </ul>
                    </div>
                    <div class="value description antispam-enabled"{if empty($checkout_antispam)} style="display:none"{/if}>
                        <!-- enabled -->
                        <p class="small">[`Checkout anti-spam filtering is seamless for real customers and will automatically reject spammy orders placed by robots.`]</p>

                        <div class="fields form width100px">
                            <div class="field">
                                <div class="name">[`Alerts on rejected checkout attempts`]</div>
                                <div class="value">
                                    <input name="antispam[email]" type="email" placeholder="your@email.here" value="{$checkout_antispam_email|escape}" class="long">
                                </div>
                                <div class="value">
                                    <span class="hint">[`Enable alerts on spammy checkout attempts to make sure none of real orders were rejected by the anti-spam filter.`]</span>
                                </div>
                            </div>
                            <div class="field">
                                <div class="name">[`Captcha`]</div>
                                <div class="value no-shift">
                                    <label><input name="antispam[captcha]" value="1" type="checkbox"{if $checkout_antispam_captcha} checked{/if}> [`Enable captcha for checkout (not required)`]</label>
                                </div>
                                <div class="value">
                                    <span class="hint">[`Optional. Enable checkout captcha when seamless anti-spam protection is not enough.`]</span>
                                </div>
                            </div>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <div class="value description antispam-disabled"{if !empty($checkout_antispam)} style="display:none"{/if}>
                        <!-- disabled -->
                        <p class="hint">[`If your store is under spammers attack and you receive lots of fraudulent orders placed by robots, protect the checkout routine with seamless anti-spam filtering. This will automatically filter all spam and save genuine orders only.`]</p>
                    </div>
                </div>

                {* Web push *}
                {$_wp_domain = $web_push->getDomain()}
                {$_wp_manifest = $web_push->getManifest()}
                {$_wp_is_active = $web_push->isActive()}
                {$_wp_is_allowed = $web_push->isAllowed()}
                <div class="field">
                    <div class="name">[`Web push notifications`]</div>
                    <div class="value s-ibutton-checkbox no-shift">
                        {if !$web_push->isBrowserSupported()}
                            <div class="block not-padded">
                                <p>
                                    <i class="icon16 exclamation"></i>
                                    [`Your browser doesn’t support web push technology.`]
                                    <br>
                                    [`However, you can configure web push notifications so that users with supported browsers can receive them.`]
                                    <br>
                                    [`Check <a target="_blank" href="https://documentation.onesignal.com/docs/website-sdk-overview">web push documentation</a> for the list of supported browsers.`]
                                </p>
                            </div>
                        {/if}

                        {if !$_wp_is_allowed}
                            <i class="icon10 exclamation"></i> [`This domain does not support push notifications. Ensure that an SSL certificate is installed for the domain name.`]
                        {else}
                            <span {if !$_wp_is_active} class="gray"{/if} id="s-toggle-web-push-disabled-label">[`Disabled`]</span>
                            <div style="display: inline-block; margin: 0 10px;">
                                <input type="hidden" name="web_push_settings[active]" value="0" />
                                <input type="checkbox" id="s-toggle-web-push-active" name="web_push_settings[active]" value="1"{if $_wp_is_active} checked="checked"{/if}>
                            </div>
                            <span id="s-toggle-web-push-enabled-label" {if $_wp_is_active} class="gray"{/if}>[`Enabled`]</span>
                        {/if}

                    </div>

                    {if $_wp_is_allowed}
                        <div id="s-web-push-enabled-block" class="value s-web-push-settings"{if !$_wp_is_active} style="display: none"{/if}>
                            <p class="small">{sprintf('[`User manual on setting up web push notifications: <a href="%s" target="_blank">%s</a>.`]','[`http://www.shop-script.com/help/13536/push-notifications/`]','[`http://www.shop-script.com/help/13536/push-notifications/`]')}</p>
                            <div class="fields form">
                                <div class="field">
                                    <div class="name" style="padding-top: 0;">[`Site URL`]</div>
                                    <div class="value">{waIdna::dec($_wp_domain)}</div>
                                </div>
                                <div class="field">
                                    <div class="name">[`Short company name`]</div>
                                    <div class="value">
                                        <input type="text" name="web_push_settings[manifest][short_name]" value="{$_wp_manifest.short_name|default:''}">
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="name">[`Safari Web ID`]</div>
                                    <div class="value">
                                        <input type="text" name="web_push_settings[safari_web_id]" value="{$web_push->getSafariWebId()}">
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="name">[`OneSignal App ID`]</div>
                                    <div class="value">
                                        <input type="text" name="web_push_settings[app_id]" value="{$web_push->getAppId()}">
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="name">[`REST API Key`]</div>
                                    <div class="value">
                                        <input type="text" name="web_push_settings[rest_api_key]" value="{$web_push->getRestApiKey()}">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="s-web-push-disabled-block" class="value"{if $_wp_is_active} style="display: none"{/if}>
                            <p class="hint">[`Enable web push notifications for your browser to get notified on new orders on your computer screen.`]</p>
                        </div>
                    {/if}
                </div>
            </div>

            <div class="field-group">
                <div class="field">
                    <div class="name">[`Reviews`]</div>
                    <div id="setting-require-auth" class="value no-shift">
                        <label>
                            <input type="checkbox" name="require_authorization" {if $require_authorization == '1'}checked="checked"{/if} value="1">
                            [`Only authorized users can post reviews`]
                            <br>
                            <p class="hint">
                                [`If enabled, user needs to sign in to post a review.`]<br>
                                <strong>{sprintf('[`Make sure sign up and login forms are enabled in your <a href="%s">Site app settings</a>.`]',$wa_backend_url|cat:'site/#/settings/')}</strong>
                            </p>
                        </label>
                    </div>
                    <div id="setting-require-captcha">
                        <div class="value no-shift">
                            <label>
                                <input type="checkbox" name="require_captcha" {if $require_captcha == '1'}checked="checked"{/if} value="1">
                                [`Protect product review form with CAPTCHA`]
                            </label>
                        </div>

                        <div id="service-agreement-settings-wrapper">
                            <div class="value no-shift">
                                <span class="hint">[`Personal data processing`]</span>
                            </div>
                            <div class="value">
                                <label>
                                    <input type="radio" name="review_service_agreement" value=""{if empty($review_service_agreement)} checked{/if}>
                                    [`Do not require consent to personal data protection policy`]
                                </label>
                            </div>
                            <div class="value">
                                {$link_tag = sprintf('<a href="%s" target="_blank">', _w('---INSERT A LINK HERE!---'))}
                                <label data-default-text="{sprintf_wp('By submitting this form I agree to %spersonal data protection policy%s', $link_tag, '</a>')|escape}">
                                    <input type="radio" name="review_service_agreement" value="notice"{if ifset($review_service_agreement) == 'notice'} checked{/if}>
                                    [`Show only notice and link to policy`]
                                </label>
                            </div>
                            <div class="value">
                                <label data-default-text="{sprintf_wp('I agree to %spersonal data protection policy%s', $link_tag, '</a>')|escape}">
                                    <input type="radio" name="review_service_agreement" value="checkbox"{if ifset($review_service_agreement) == 'checkbox'} checked{/if}>
                                    [`Show mandatory checkbox, notice, and link`]
                                </label>
                            </div>
                            <div class="hidden value text-editor">
                                <input type="checkbox" style="vertical-align:top;margin:0px 2px 90px 2px;float:left;" checked disabled>
                                <textarea name="review_service_agreement_hint">{ifset($review_service_agreement_hint)|escape}</textarea>
                                <br>
                                <span class="hint"><a href="javascript:void(0)" class="inline-link generalte-example-link"><b><i>[`Restore original text`]</i></b></a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field-group">
                <div class="field s-captcha">
                    <div class="name">[`Captcha`]</div>
                    <div class="value no-shift">
                        {if !empty($wa_settings)}
                            <span class="s-auth-captcha-text"><a href="{$wa_backend_url}webasyst/settings/captcha/">[`Select Webasyst default captcha or Google reCAPTCHA`]</a></span>
                        {else}
                            [`To select a captcha engine, you need access to Settings app.`]
                        {/if}
                        <label>

                        </label>
                    </div>
                </div>
                <div class="field">
                    <div class="name">[`Maps`]</div>
                    <div class="value no-shift">
                        {if !empty($wa_settings)}
                            {$wa_backend_url|cat:'webasyst/settings/maps/'|string_format:'[`Select an online map service in <a href="%s">Settings</a> app.`]'}
                        {else}
                            [`To select an online map engine, you need access to Settings app.`]
                        {/if}
                    </div>
                </div>
            </div>

            <div class="field-group">
                <div class="field">
                    <div class="name">[`SMS`]</div>
                    <div class="value no-shift">
                        {if !empty($wa_settings)}
                            {$wa_backend_url|cat:'webasyst/settings/sms/'|string_format:'[`Set up connection to SMS providers in <a href="%s">Settings</a> app.`]'}
                        {else}
                            [`You need access to Settings app to set up connection to SMS providers.`]
                        {/if}
                    </div>
                    <div class="value no-shift">
                        <p class="hint">
                            {sprintf('[`Once connection is set up, add and edit SMS notifications in “<a href="%s">Notifications</a>” settings screen.`]', '#/notifications/')}
                            <br>
                            {sprintf('[`<a href="%s" target="_blank">See documentation</a> for details.`]', '[`http://www.shop-script.com/help/1061/shop-script-5-sms-setup/`]')}
                        </p>
                    </div>
                </div>
            </div>

            <div class="field-group">
                <div class="field">
                    <div class="name">
                        [`Product lists`]
                    </div>
                    <div class="value no-shift">
                        <label>
                            <input type="checkbox" name="lazy_loading" {if !empty($lazy_loading)}checked{/if} value="1">
                            [`Use lazy loading`]
                        </label>
                        <p class="hint">[`Products will be loaded automatically when you scroll the page in “Products” section in backend. If you need pagination, disable this setting.`]</p>
                    </div>
                </div>
            </div>

            <div class="field-group">
                <div class="field">
                    <div class="name">[`Shop-Script version`]</div>
                    <div class="value no-shift">
                        {$wa->version()}
                    </div>
                </div>
            </div>

            <div class="field-group">
                <div class="field">
                    <div class="value submit">
                        <input type="submit" class="button green" value="[`Save`]">
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="clear"></div>
</div>
<script type="text/javascript">

    $('.s-captcha input:radio').change(function () {
        if ($(this).is(":checked")) {
            $('.s-captcha label > div').hide().find('input').attr('disabled');
            $(this).parent().children('div').show().find('input').removeAttr('disabled');
            $(this).parent().find('div input:first').focus();
        }
    });
    $('.s-captcha input:radio:checked').change();

    $(':input[name="map"]').change(function(){
        var scope = $(this).parents('div.field');
        scope.find('div.js-map-adapter-settings').hide();
        if(this.checked) {
            scope.find('div.js-map-adapter-settings[data-adapter-id="' + this.value + '"]').show();
        }
    });
    $(':input[name="map"]:checked').change();


    $('#setting-require-auth input').change(function () {
       if ($(this).is(':checked')) {
           $('#setting-require-captcha').slideUp(200);
       } else {
           $('#setting-require-captcha').slideDown(200);
       }
    }).change();

    $('input[name="workhours_type"]').change(function () {
       if ($(this).val() == '1') {
           $('#workhours-div').show();
       } else {
           $('#workhours-div').hide();
       }
    });

    var form = $('#s-settings-general-form');
    document.title = '{"[`General settings`]"|cat:" — ":{$wa->accountName(false)}|escape:'javascript'}';
    form.submit(function() {
        var self = $(this);
        form.find(':submit').after('<span class="s-msg-after-button"><i class="icon16 loading"></i></span>');
        $.post(self.attr('action'), self.serialize(), function(r) {
            $('#s-settings-content').html(r);
        });
        return false;
    });

    {if $wa->post('name')}
        form.find(':submit').after(
            $('<span class="s-msg-after-button"><i class="icon16 yes"></i></span>').animate({ opacity: 0 }, 1500, function() {
                $(this).remove();
            })
        );
    {/if}


    form.find('[name="gravatar_default"]').change(function () {
        var gravatar_default = $(this).val();
        $.get('?module=settings&action=generalGetGravatar', {
            'email': '{$wa->user('email', 'default')}',
            'default': gravatar_default
            },
            function(r) {
                $('#s-settings-general-gravatar').attr('src', r.data);
            }, 'json'
        );
    });

    $('#s-toggle-backend-validation-status').iButton( { labelOn : "", labelOff : "", className: 'mini' } ).change(function() {
        var self = $(this);
        self.closest('.value').siblings('.value.description').toggle();
        if (this.checked) {
            $('#s-toggle-backend-validation-disabled-label').addClass('gray');
            $('#s-toggle-backend-validation-enabled-label').removeClass('gray');
        } else {
            $('#s-toggle-backend-validation-disabled-label').removeClass('gray');
            $('#s-toggle-backend-validation-enabled-label').addClass('gray');
        }
    });

    $('#s-toggle-checkout-antispam-status').iButton( { labelOn : "", labelOff : "", className: 'mini' } ).change(function() {
        if (this.checked) {
            $('#s-toggle-checkout-antispam-disabled-label').addClass('gray');
            $('#s-toggle-checkout-antispam-enabled-label').removeClass('gray');
            $('.antispam-enabled').show();
            $('.antispam-disabled').hide();
        } else {
            $('#s-toggle-checkout-antispam-disabled-label').removeClass('gray');
            $('#s-toggle-checkout-antispam-enabled-label').addClass('gray');
            $('.antispam-enabled').hide();
            $('.antispam-disabled').show();
        }
    });

    $('#s-toggle-web-push-active').iButton( { labelOn : "", labelOff : "", className: 'mini' } ).change('change', function() {
        if (this.checked) {
            $('#s-toggle-web-push-disabled-label').addClass('gray');
            $('#s-toggle-web-push-enabled-label').removeClass('gray');
            $('#s-web-push-disabled-block').hide();
            $('#s-web-push-enabled-block').show();
        } else {
            $('#s-toggle-web-push-disabled-label').removeClass('gray');
            $('#s-toggle-web-push-enabled-label').addClass('gray');
            $('#s-web-push-enabled-block').hide();
            $('#s-web-push-disabled-block').show();
        }
    });

    //
    // Service agreement settings wrapper
    //
    (function() {
        var $wrapper = $('#service-agreement-settings-wrapper');
        var $checkbox = $wrapper.find(':checkbox');
        var $textarea = $wrapper.find('textarea');
        var previous_default_text = null;

        $wrapper.on('change', ':radio', function() {
            if (!$textarea.val() || previous_default_text == $textarea.val()) {
                setDefaultText();
            }

            switch(this.value) {
                case 'notice':
                    $checkbox.hide().closest('.value').show();
                    break;
                case 'checkbox':
                    $checkbox.show().closest('.value').show();
                    break;
                default:
                    $checkbox.closest('.value').hide();
                    break;
            }
        }).find(':radio:checked').change();

        $wrapper.on('mousedown', '.generalte-example-link', function(e) {
            setDefaultText();
            $textarea.focus();
            return false;
        });

        function setDefaultText() {
            previous_default_text = $wrapper.find(':radio:checked').closest('label').data('default-text') || '';
            $textarea.val(previous_default_text);
        }
    }());

</script>
