<div class="sidebar left200px s-settings-order-states">
    <div class="s-inner-sidebar">

        <ul id="discount-types" class="menu-v stack with-icons">
            {foreach $types as $t}
                <li><a href="javascript:void(0)" rel="{$t.id}">
                    <i class="icon16 {if $t.status}status-blue-tiny{else}status-gray-tiny{/if}"></i>{$t.name}
                </a></li>
            {/foreach}
        </ul>

        <div class="hr"></div>
        <div class="block small">
            <p>[`How total discount should be calculated if multiple rules are applicable for an order:`]</p>
            <p>
                <label><input type="radio" name="combiner" value="max"{if $combiner != 'sum'} checked{/if}> [`maximum`]</label>
                <br><br>
                <label><input type="radio" name="combiner" value="sum"{if $combiner == 'sum'} checked{/if}> [`sum`]</label>
            </p>
            <input type="button" id="combiner-save-button" value="[`Save`]" style="display:none">
        </div>


        <div class="hr"></div>
        <div class="block small">
            <p>[`How to save discount calculation description:`]</p>
            <p>
                <label><input type="radio" name="discount_description" value="1" {if $discount_description}checked{/if}> [`for each product`]</label>
                <br><br>
                <label><input type="radio" name="discount_description" value="0" {if !$discount_description}checked{/if}> [`for entire order`]</label>
            </p>
            <p class="gray">[`Depending on your store setup, different levels of discount detalization may be useful.`]</p>
            <input type="button" id="discount-desc-save-button" value="[`Save`]" style="display:none">
        </div>

        <div class="hr"></div>
        <div class="block small">
            <p class="gray">
                {sprintf_wp("Rounding of fractional discount values can be set up in %scurrency settings%s.", '<a href="#/currencies/">', '</a>')}
            </p>
        </div>

    </div>
</div>

<div id="s-discounts-content" class="content left200px s-settings-form blank bordered-left"></div>

{* Allow plugins to insert their own custom content, e.g. to hack into JS if they like. *}
{foreach $types as $t}{ifempty($t.html)}{/foreach}

<script>$(function() { "use strict";

    document.title = '{"[`Discounts`]"|cat:" — ":{$wa->accountName(false)}|escape:'javascript'}';

    var types_ul = $('#discount-types');
    var discounts_content = $('#s-discounts-content');

    // Controller for sub-pages.
    // When user clicks a link in inner sidebar, or when changes a URL hash,
    // this controller triggers event 'wa.dicount.<type>' on #discount-types.
    types_ul.on('click', 'a[rel]', function() {
        var a = $(this);
        var type = a.attr('rel');
        if (!type) {
            return;
        }

        if (window.location.hash.toString() != '#/discounts/'+type+'/') {
            $.settings.stopDispatch(1);
            window.location.hash = '#/discounts/'+type+'/';
        }
        a.parent().addClass('selected').siblings('.selected').removeClass('selected');
        discounts_content.html('<div class="block double-padded"><i class="icon16 loading"></i>'+"[`Loading...`]"+'</div><div class="clear-left"></div>');
        types_ul.trigger('wa.discount.'+type);
    });

    // Dispatching for known discount types.
    // This code catches 'wa.dicount.<type>' events on #discount-types and loads content from content url if it is specified.
    // If a plugin does not like this behaviour for some reason, it may omit url parameter and catch this event by itself.
    {foreach $types as $t}
        {if !empty($t.url)}
            types_ul.bind('wa.discount.{$t.id}', function() {
                $.get('{$t.url}', function(r) {
                    discounts_content.html(r);
                });
            });
        {/if}
    {/foreach}

    // Open sub-page: either take id from hash, or use the first one in sidebar list (if exists)
    (function() {
        var a, hash = window.location.hash.toString().split('/');
        while (hash.length && hash.shift() != 'discounts') {
            ;
        }
        if (hash[0]) {
            a = types_ul.find('a[rel="'+encodeURIComponent(hash[0])+'"]:first');
        }
        if (!a || !a.length) {
            a = types_ul.find('a[rel]:first');
        }
        a.click();
    })();

    // Controller for combiner radio
    (function() {
        var radios = $('input:radio[name="combiner"]');
        var button = $('#combiner-save-button');
        radios.change(function() {
            button.show();
        });
        button.click(function() {
            button.hide();
            radios.attr('disabled', true);
            $.post('?module=settings&action=discountsCombineSave', { value: radios.filter(':checked').val() }, function() {
                radios.attr('disabled', false);
            });
        });
    })();

    // Discount description radios
    (function() {
        var radios = $('input:radio[name="discount_description"]');
        var button = $('#discount-desc-save-button');
        radios.change(function() {
            button.show();
        });
        button.click(function() {
            button.hide();
            radios.attr('disabled', true);
            $.post('?module=settings&action=configSave', { discount_description: radios.filter(':checked').val() }, function() {
                radios.attr('disabled', false);
            });
        });
    })();

});</script>
