
<div class="sidebar left200px">
    <div class="s-inner-sidebar">
        <ul class="menu-v stack with-icons">
            {foreach $taxes as $t}
                <li><a href="#/taxes/{$t.id}"><i class="icon16 percent"></i>{$t.name|escape}</a></li>
            {/foreach}
            <li class="top-padded">
                <a href="#/taxes/new" class="small">
                    <i class="icon10 add"></i>[`New tax rule`]
                </a>
            </li>
        </ul>
        <div class="block double-padded hr align-center hint">
            <p>{sprintf('[`To customize the list of countries and regions, use <a href="%s">Countries & Regions</a> screen.`]','#/regions/')}</p>
        </div>
    </div>
</div>

<div class="content left200px s-settings-form blank bordered-left">
    <div class="block double-padded">
        <form id="s-tax-form" action="?module=settings&action=taxes">{* Submitted via XHR *}
            {if $tax.id}
                <div class="float-right">
                    <ul class="menu-h">
                        <li><a href="javascript:void(0)" id="s-delete-tax-link"><i class="icon16 delete"></i>[`Delete rule`]</a></li>
                    </ul>
                </div>
                <h1>{$tax.name|escape}</h1>
                <input type="hidden" name="id" value="{$tax.id|escape}">
            {else}
                <h1>[`New tax rule`]</h1>
                <input type="hidden" name="id" value="new">
            {/if}

            <div class="fields width100px form">
                <div class="field">
                    <div class="name">
                        [`Tax name`]
                    </div>
                    <div class="value">
                        <input type="text" name="tax[name]" value="{$tax.name|escape}">
                    </div>
                </div>
                <div class="field">
                    <div class="name">
                        [`Tax type`]
                    </div>
                    <div class="value no-shift">
                        <label>
                            <input type="radio" name="tax[included]" value=""{if !$tax.included} checked{/if}> [`Tax is not included in product prices`]<br />
                            <p class="hint">[`Mostly used for sales tax. Tax will be added to the cart subtotal after customer entered destination address during the checkout.`]</p>
                        </label>
                    </div>
                    <div class="value">
                        <label>
                            <input type="radio" name="tax[included]" value="1"{if $tax.included} checked{/if}> [`Tax is included in my product prices`]<br />
                            <p class="hint">[`Mostly used for VAT. Tax will not be added to the cart subtotal, but will be calculated to be shown in the invoice.`]</p>
                        </label>
                    </div>
                </div>
                <div class="field">
                    <div class="name">
                        [`Address`]
                    </div>
                    <div class="value no-shift">
                        [`Calculate taxes based on customer’s`]
                        <select name="tax[address_type]">
                            <option value="shipping"{if $tax.address_type == 'shipping'} selected{/if}>[`Shipping address`]</option>
                            <option value="billing"{if $tax.address_type == 'billing'} selected{/if}>[`Billing address`]</option>
                        </select>
                    </div>
                    {if !$billing_address_required}
                        <div class="value no-shift billing-address-warning" {if $tax.address_type != 'billing'}style="display:none;"{/if}><p class="small errormsg">[`Billing address is configured not to be prompted during checkout, which means that tax by billing will not be calculated for most orders.`]</p></div>
                    {/if}
                </div>
                <div class="field">
                    <div class="name">
                        [`Tax rates`]
                    </div>
                    <div class="value no-shift">

                        <table id="s-tax-regions-table" class="zebra"><thead>
                            <tr>
                                <th colspan="2" class="nowrap">[`Destination`] <i class="icon10 uarr"></i></th>
                                <th>[`Rate`]</th>
                                <th class="min-width"></th>
                            </tr>
                        </thead><tbody>

                            {foreach $tax_countries as $c}
                                {include file="templates/actions/settings/SettingsTaxesCountry.html"}
                            {/foreach}

                            <tr class="empty-row{if $tax_countries} hidden{/if}">
                                <td colspan="4">
                                    <em class="grey">[`Define tax rates by countries and regions.`]</em>
                                </td>
                            </tr>

                            <tr class="white">
                                <td colspan="4"></td>
                            </tr>
                            <tr class="white">
                                <td class="min-width"></td>
                                <td colspan="3">
                                    <select id="s-add-new-tax-country">
                                        <option selected value="">[`Add country`]</option>
                                        <option disabled>--</option>
                                        <option value="%AL"{if !empty($tax_countries)} disabled{/if}>[`All countries`]</option>
                                        <option value="%EU"{if !empty($tax_countries["%EU"])} disabled{/if}>[`All European countries`]</option>
                                        <option value="%RW"{if !empty($tax_countries["%RW"])} disabled{/if}>[`Rest of world`]</option>
                                        <option disabled>--</option>
                                        {foreach $countries as $c}
                                            <option value="{$c.iso3letter}"{if !empty($tax_countries[$c.iso3letter])} disabled{/if}>{$c.name}</option>
                                        {/foreach}
                                    </select>
                                </td>
                            </tr>

                        </tbody></table>
                    </div>
                </div>
                <div class="field">
                    <div class="value">
                        <input type="submit" class="button green" value="[`Save`]">
                    </div>
                </div>
                <div class="field">
                    <div class="name">
                        [`County taxes`]
                    </div>
                    <div class="value no-shift">

                        <p>[`If your jurisdiction require you to charge additional county taxes, define taxing rules by ZIP (postal) code. Use asteryx (*) for wildcard. For example, mask 12* is applicable for all ZIP codes with 12 as first two symbols, e.g. 12365, 12963, 12AB7, 12 QN93 and so on (wildcard is ok for both letters and numbers). ZIP code rules are processed one by one in the given order. Applied is the first rule matching the user ZIP code (only one matching rule is applied at a time). County tax rules are of a higher priority than state tax rules (if matched, county tax rate replaces the state tax rule when calculated during the checkout), which means that combined county rates must be provided.`]</p>

                        <table id="s-tax-zip-codes-table" class="zebra"><thead>
                            <tr>
                                <th colspan="2" class="nowrap">[`ZIP code mask`]</th>
                                <th>[`Rate`]</th>
                                <th class="min-width"></th>
                            </tr>
                        </thead><tbody>

                            <tr class="empty-row{if $tax_zip_codes} hidden{/if}">
                                <td colspan="4">
                                    <em class="grey">[`No county taxes are defined.`]</em>
                                </td>
                            </tr>

                            {foreach $tax_zip_codes as $t}
                                <tr class="zip-row">
                                    <td class="min-width"><i class="icon16 sort"></i></td>
                                    <td><input class="code-input" type="text" name="tax_zip_codes[]" value="{$t.zip_expr|escape}"></td>
                                    <td>
                                        <span class="rate-input"><input type="text" class="short numerical" name="tax_zip_rates[]" value="{$t.tax_value|escape}">%</span>
                                        <em class="small commit-delete-message">[`Click “Save” button below to commit the delete.`]</em>
                                    </td>
                                    <td class="min-width"><a href="javascript:void(0)"><i class="icon16 delete"></i></a></td>
                                </tr>
                            {/foreach}

                            {* Template row to add new regions. 'template' class will be replaced with 'zip-row' *}
                            <tr class="just-added hidden highlighted white template">
                                <td class="min-width"><i class="icon16 sort"></i></td>
                                <td><input type="text" name="tax_zip_codes[]" value="" placeholder="[`ZIP code mask`]"></td>
                                <td>
                                    <input type="text" name="tax_zip_rates[]" class="short numerical" value="" placeholder="0">%
                                </td>
                                <td class="min-width"><a href="javascript:void(0)"><i class="icon16 delete"></i></a></td>
                            </tr>

                            <tr class="buttons">
                                <td class="min-width"></td>
                                <td colspan="3"><a href="javascript:void(0)" id="s-add-zip-code-link" class="inline-link"><i class="icon16 add"></i><b><i>[`Add ZIP`]</i></b></a></td>
                            </tr>
                        </tbody></table>
                    </div>
                </div>
                <div class="field">
                    <div class="value">
                        <input type="submit" class="button green" value="[`Save`]">
                    </div>
                </div>
            </div>
        </form>
        <div class="clear-both"></div>
    </div>
</div>

<script type="text/javascript" src="{$wa_app_static_url}js/settings/taxes.js?{$wa->version()}"></script>
<script>(function() { "use strict";
    document.title = "[`Taxes`] — {$wa->accountName()|escape:javascript}";
    $.settings.taxesInitForm({ifempty($tax.id, 'null')});

    {if $tax.id}
        var settings_content = $('#s-settings-content');
        var form = $('#s-tax-form');

        // Link to delete rule
        $('#s-delete-tax-link').click(function() {
            if (!confirm("[`Are you sure?`]")) {
                return false;
            }
            settings_content.find('.s-inner-sidebar a[href="#/taxes/{$tax.id}"]').parents('li').remove();
            settings_content.find('.s-settings-form > .block').html('<p class="gray">'+"[`Tax has been deleted.`]"+'</p><div class="clear-both"></div>');

            $.settings.stopDispatch(1);
            window.location.hash = '#/taxes/';
            $.post(form.attr('action'), { 'delete': 1, id: {$tax.id} });
            return false;
        });
    {/if}
    
    {if !$billing_address_required}
        form.find('[name="tax[address_type]"]').change(function() {
            if ($(this).val() == 'billing') {
                form.find('.billing-address-warning').show();
            } else {
                form.find('.billing-address-warning').hide();
            }
        });
    {/if}
    
})();</script>
