<div class="blank s-settings-form">
    <div class="block double-padded">
        <h1 class="js-bread-crumbs">[`Shipping`]</h1>
        <br/>
        <div id="s-settings-shipping-params" class="block hr double-padded s-settings-shipping-params">
            <a href="#/shipping/params/" class="inline-link js-action float-right"><i class="icon16 settings"></i><b><i>[`Settings`]</i></b></a>
            <h2 class="s-order-weight-size">[`Order weight &amp; dimensions`]</h2>

            <form method="post">
                {foreach $shipping_params as $param => $param_data}
                    {if !empty($param_data.states)}
                        {foreach $param_data.states as $state=>$description}
                        <p class="js-shipping-{$param|escape}" data-state="{$state|escape}"{if (empty($param_data.state)||($param_data.state neq $state))} style="display: none;" {/if}>{$description}</p>
                        {/foreach}
                    {/if}
                {/foreach}
                <div class="field-group" style="display: none;">
                    {if !empty($shipping_params)}
                        {foreach $shipping_params as $param => $param_data}
                            <div class="field">
                                <div class="name">{$param_data.name|default:$param|escape}</div>
                                <div class="value">
                                    {if !empty($param_data.readonly)}
                                        {$param_data.readonly}
                                        {else}
                                    <select name="params[{$param|escape}]">
                                        {foreach $param_data.options as $option_id=>$option_data}
                                            <option value="{$option_id|escape}" title="{$option_data.title|default:''|escape}"{if isset($param_data['value'])&&($param_data['value'] == $option_id)} selected{/if}>{$option_data.name|default:$option_id|escape}</option>
                                        {/foreach}
                                    </select>
                                    {/if}
                                </div>
                                {if !empty($param_data.description)}
                                    <div class="value hint">{$param_data.description}</div>
                                {/if}
                            </div>
                        {/foreach}
                    {/if}
                </div>
                <div class="field-group" style="display: none;">
                    <div class="field">
                        <div class="value submit">
                            <input type="submit" value="[`Save`]" class="button green">
                            <span class="js-form-status" style="display:none"><!-- message placeholder --></span>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div id="s-settings-shipping-rounding" class="block double-padded hr s-settings-shipping-rounding">
            <p>{sprintf_wp("Rounding of fractional shipping costs can be set up in %scurrency settings%s.", '<a href="#/currencies/">', '</a>')}</p>
        </div>

        <div class="float-right">
            <ul class="menu-h with-icons dropdown s-add-shipping-method" id="s-shipping-menu">
                <li>
                    <a href="#/shipping/" class="inline-link js-action"><i class="icon16 add"></i><b><i>[`Add shipping option`]</i></b><i class="icon16 darr"></i></a>
                    <ul class="menu-v with-icons js-shipping-window-height">
                        {foreach $plugins as $id => $plugin}
                        <li>
                            <a href="#/shipping/plugin/add/{$id}/">
                            {if empty($plugin.icon.16)}{shopHelper::getIcon('ss shipping-bw')}{else}{shopHelper::getIcon($plugin.icon.16)}{/if}{$plugin.name|escape}
                            <span class="hint">{strip_tags($plugin.description)}</span>
                            </a>

                        </li>
                        {/foreach}
                        <li class="bordered-top" style="padding-top: 10px; padding-bottom: 10px; margin-top: 7px; padding-left: 8px;">
                            {if !empty($installer)}
                                <a href="#/shipping/plugins/" style="text-align: center;">[`Browse shipping plugins...`]</a>
                                <br>
                            {/if}
                            <span class="hint align-center">[`Multiple instances of every shipping option with custom settings can be created.`]</span>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <h2>[`Shipping methods`]</h2>
        <br/>

        <table class="zebra" id="s-settings-shipping">

            <tbody>
            {foreach $instances as $id => $plugin}

            <tr data-id="{$id}">
                <td class="min-width"><i class="icon16 sort"></i></td>
                <td class="min-width">
                    {if empty($plugin.installed)}
                        <i class="icon16 exclamation"></i>
                    {else}
                        {if !empty($plugin.logo)}
                            <img src="{$plugin.logo}" class="s-payment-shipping-logo">
                        {elseif !empty($plugin.img)}
                            <img src="{$plugin.img}" class="s-payment-shipping-logo">
                        {/if}
                    {/if}
                </td>
                <td>
                    <h3 class="large {if empty($plugin.status)} gray{/if} js-plugin-title">
                        {$plugin.name|escape}
                        {if empty($plugin.status)}([`disabled`]){/if}
                        {if empty($plugin.installed)}
                            <span class="red">[`deleted`]</span>
                        {/if}
                    </h3>
                    {if empty($plugin.installed)}
                        <span><i class="icon16 info"></i>
                            {if $installer}
                                {"#/shipping/plugins/"|string_format:'[`You can remove settings or install the <a href="%s" class="inline">plugin</a>.`]'}
                            {else}
                                [`You can remove settings or install the plugin.`]
                            {/if}
                        </span>
                    {/if}
                    <p class="hint">{strip_tags($plugin.description)}</p>
                </td>
                <td>
                    <ul class="menu-h with-icons">
                        <li><a href="#/shipping/plugin/setup/{$id}/" class="nowrap js-shipping-plugin-setup"><i class="icon16 settings"></i>[`Configure`]</a></li>
                        <li>
                            <a href="#" class="nowrap js-shipping-plugin-clone">
                                <i class="icon16 split"></i>[`Create a copy`]
                            </a>
                        </li>
                        <li><a href="#/shipping/plugin/delete/{$id}/" class="nowrap js-action js-confirm js-shipping-plugin-delete" data-confirm-text="[`This will permanently delete this shipping option. Are you sure?`]"><i class="icon16 delete"></i>[`Delete`]</a></li>
                    </ul>
                </td>

            </tr>
            {foreachelse}
            <tr>
                <td colspan="4">
                    <em class="gray">[`No shipping options are defined.`]</em>
                </td>
            </tr>
            {/foreach}
            </tbody>
        </table>



        <div id="s-settings-shipping-setup" class="fields form"></div>

    </div>
    <div class="clear-both"></div>

</div>

<script type="text/javascript" src="{$wa_app_static_url}js/settings/shipping.js?{$wa->version()}"></script>
<script type="text/javascript">(function() { "use strict";
    document.title = "[`Shipping`] — {$wa->accountName(false)|escape:javascript}";
    if (typeof(window.$) != 'undefined') {
        $.settings.shippingInit({
            locales: {
                disabled: {_w('disabled')|json_encode}
            }
        });
    }
}());</script>