<div class="block double-padded" id="shop-productprofile" data-product-id="{$product.id}">
    <h1>
        <a href="#/" class="back">&larr; [`Back`]</a>

        <span class="s-product-name">{if $product.id == 'new'}[`New product`]{else}{$product.name|escape}{/if}</span>
        <span class="hint float-right s-product-id" {if $product.id == 'new'}style="display:none;"{/if}>id: {$product.id}</span>

        <!-- plugin hook: 'backend_product.title_suffix' -->
        {* @event backend_product.%plugin_id%.title_suffix *}
        {if !empty($backend_product)}{foreach $backend_product as $_}{ifset($_.title_suffix)}{/foreach}{/if}

        {if $edit_rights}
            <a href="#/product/{$product.id}/edit/" class="button green s-product-edit-link" id="s-edit-product">[`Edit`]</a>
        {/if}

        <!-- plugin hook: 'backend_product.action_button' -->
        {* @event backend_product.%plugin_id%.action_button *}
        {if !empty($backend_product)}{foreach $backend_product as $_}{ifset($_.action_button)}{/foreach}{/if}

    </h1>

    <ul class="menu-h s-product-nav" id="s-product-frontend-links">
        <li class="s-inline-mixed-string">
            [`Public link`]:
            {foreach array_slice(array_reverse($frontend_urls), 0, 100) as $frontend_url}
                <span class="s-product-frontend-url-not-empty">
                    <a href="{$frontend_url.url}" target="_blank"><span>{$frontend_url.url}</span></a>
                </span>
                <br>
            {/foreach}
            <span class="s-product-frontend-url-empty gray" {if !empty($frontend_urls)}style="display:none;"{/if}>
                {sprintf('[`This product is not visible in the storefront because product type “%s” which this product belongs to is not allowed for publishing in any of your storefronts.`]', {$product.type.name|escape})}
            </span>
        </li>
    </ul>

{* PRODUCT PROFILE SECTION BEGIN *}
    <div id="s-product-profile-page">
        <div class="sidebar right200px" id="s-toolbar">

            <div class="align-center">
                <ul class="menu-h small s-report-toggler">
                    <li class="selected" data-target="last-month"><a href="javascript:void(0);" class="inline-link"><b><i>[`Last 30 days`]</i></b></a></li>
                    <li data-target="forecast"><a href="javascript:void(0);" class="inline-link" title="[`Based on last 90 days sales`]"><b><i>[`Forecast`]</i></b></a></li>
                </ul>
            </div>

            {if $report_rights}
                <table class="zebra s-report-tabs">
                    <tr>
                        <td>[`Units sold`]</td>
                        <td class="align-right nowrap">
                            <strong class="s-target s-last-month">{$sales.quantity}</strong>
                            <strong class="s-target s-forecast hidden" data-hidden="{if $forecast.sold_rounded_1 == 0}1{else}0{/if}">{strip}
                                {if $forecast.sold < 1}
                                    {$forecast.sold_rounded_1_str}
                                {else}
                                    {$forecast.sold_rounded}
                                {/if}
                            {/strip}</strong>
                        </td>
                    </tr>
                    <tr>
                        <td>[`Sales`]</td>
                        <td class="align-right nowrap">
                            <strong class="s-target s-last-month">{shop_currency_html($sales.total)}</strong>
                            <strong class="s-target s-forecast hidden">{shop_currency_html($forecast.sales)}</strong>
                        </td>
                    </tr>
                    <tr>
                        <td>[`Profit`]</td>
                        <td class="align-right nowrap">
                            <strong class="s-target s-last-month">{shop_currency_html($sales.profit)}</strong>
                            <strong class="s-target s-forecast hidden">{shop_currency_html($forecast.profit)}</strong>
                        </td>
                    </tr>
                </table>
            {/if}

            <br><br>
            {if count($product.skus) > 1}
                <div class="graph-wrapper align-center" id="product-sku-plot">
                    <div class="pie-wrapper"></div>
                    <div class="hint-wrapper"></div>
                </div>
            {/if}

            {if count($product.categories)}
                <ul class="menu-v compact with-icons" id="s-product-categories">
                    {foreach $product.categories as $category}
                        <li><a href="#/products/category_id={$category.id}"><i class="icon16 {if $category.type}funnel{else}folder{/if}"></i>{$category.name|escape}</a></li>
                    {/foreach}
                </ul>
            {/if}

            {if count($product_sets)}
                <ul class="menu-v compact with-icons" id="s-product-sets">
                    {foreach $product_sets as $set}
                        <li><a href="#/products/set_id={$set.id}"><i class="icon16 {if $set.type == shopSetModel::TYPE_DYNAMIC}funnel{else}ss set{/if}"></i>{$set.name|escape}</a></li>
                    {/foreach}
                </ul>
            {/if}

            {if count($product.tags)}
                <ul class="menu-v compact with-icons tags" id="s-product-tags">
                    {foreach $product.tags as $tag_id => $tag}
                        <li><a href="#/products/tag={urlencode($tag)}"><i class="icon16 tags"></i>{$tag|escape}</a></li>
                    {/foreach}
                </ul>
            {/if}

            {if $edit_rights > 1 || $product.contact_id == $wa->userId()}
                <div id="s-product-delete" class="block align-center top-padded">
                    <ul class="menu-h with-icons">
                        <li><a href="#/product/{$product.id}/edit/main/product/delete/" class="inline-link js-action"><i class="icon16 delete"></i>[`Delete product`]</a></li>
                    </ul>
                </div>
            {/if}

            <!-- plugin hook: 'backend_product.toolbar_section' -->
            {* @event backend_product.%plugin_id%.toolbar_section *}
            {if !empty($backend_product)}{foreach $backend_product as $_}{ifset($_.toolbar_section)}{/foreach}{/if}



        </div>
        <div class="content right200px" id="s-product-view">

            {* @event backend_product.%plugin_id%.info_section *}
            {if !empty($backend_product)}{foreach $backend_product as $_}{ifset($_.info_section)}{/foreach}{/if}

            {capture name='template-product-categories'}
                {literal}
                    {% if (!$.isEmptyObject(o.categories) && $.isArray(o.categories)) { %}
                        {% for (var i = 0; i < o.categories.length; i += 1) { %}
                            {% var category = o.categories[i]; %}
                            <li><a href="#/products/category_id={%=category.id%}"><i class="icon16 {% if (category.type != '0') { %}funnel{% } else { %}folder{% } %}"></i>{%=category.name%}</a></li>
                        {% } %}
                    {% } %}
                {/literal}
            {/capture}

            {capture name='template-product-tags'}
                {literal}
                    {% if (!$.isEmptyObject(o.tags) && $.isArray(o.tags)) { %}
                        {% for (var i = 0; i < o.tags.length; i += 1) { %}
                            {% var tag = o.tags[i]; %}
                            <li><a href="#/products/tag={%=tag.url%}">{%=tag.name%}</a></li>
                        {% } %}
                    {% } %}
                {/literal}
            {/capture}

            <ul class="s-product-image-crops"></ul>

            {if $report_rights}
                <div class="graph-wrapper"  id="product-sales-plot">
                    <!-- INCLUDE RESOURCES -->
                    <link rel="stylesheet" href="{$wa_url}wa-apps/shop/css/charts.css?v={$wa->version()}">
                    <!-- CHART WRAPPERS -->
                    <div class="sales-wrapper"></div>
                    <div class="hint-wrapper" id="hint-wrapper"></div>
                </div>
            {/if}

            <div class="block" id="s-product-profile-tabs">
                <ul class="tabs">
                    <li class="selected" data-tab="profile"><a href="#">[`Pricing & Availability`]</a></li>
                    <li data-tab="stock-logs"><a href="#">[`Stock updates`]</a></li>
                    {if $wa->userRights('orders')}
                    <li data-tab="recent-orders"><a href="#">[`Recent orders`]</a></li>
                    {/if}
                    <li data-tab="reviews"><a href="#">[`Reviews`]</a></li>
                    <li data-tab="buybuttons"><a href="#"><i class="icon16 ss div"></i>[`Buy button`]</a></li>
                    <!-- plugin hook: 'backend_product.tab_li' -->
                    {* @event backend_product.%plugin_id%.tab_li *}
                    {if !empty($backend_product)}{foreach $backend_product as $_}{ifset($_.tab_li)}{/foreach}{/if}
                </ul>
                <div class="tab-content">
                    <div class="block s-tab-block" data-tab="profile">

                        <div id="product-stock-stat" class="s-product-mini-stock-log">
                            [`Available stock balance`]: <strong>{shopHelper::getStockCountIcon($product.count)}{if $product.count !== null}{$product.count}{else}∞{/if}</strong>

                            <br><br>

                            {if $report_rights && $forecast.date !== null}
                                <p class="small"><em>
                                        {if $forecast.days < shopProduct::MAX_FORECAST_DAYS} {* this is 10 years *}
                                            {sprintf(
                                            _w('Based on your average monthly sales volume for %s during last three months (%d units per month), you will run out of this product in <strong>%d days</strong> (on %s).'),
                                            $product.name|escape, $forecast.sold_rounded, $forecast.days, wa_date("humandate", $forecast.date)
                                            )}
                                        {else}
                                            {sprintf(
                                            _w('Based on your average monthly sales volume for %s during last three months (%d units per month), you will run out of this product in more than 10 years (on %s).'),
                                            $product.name|escape, $forecast.sold_rounded, wa_date("humandate", $forecast.date)
                                            )}
                                        {/if}

                                </em></p>
                            {/if}

                        </div>
                        {capture name='template-product-stock-stat'}
                            <p>
                                [`Available stock balance`]: <strong>{literal}{% if (o.count !== null) { %}{%#o.count%}{% } else { %}∞{% } %}{/literal}</strong>
                            </p>
                            {literal}
                            {% if (o.count !== null && !$.isEmptyObject(o.runout_str)) { %}
                                <span class="small"><em>{%=o.runout_str%}</em></span>
                            {% } %}
                            {/literal}
                        {/capture}

                        <table class="s-product-skus">
                            <tbody>
                                {foreach $product.skus as $sku_id => $sku}
                                <tr data-id="{$sku_id}" class="{if empty($sku.available)}grey {/if}{if $sku.virtual}s-sku-virtual{/if}" title="{$sku.sku|escape}">
                                    <td class="s-name">
                                        {$sku.name|escape}
                                        <span class="hint">{$sku.sku|escape}</span>
                                        {if !empty($sku.file_name)}
                                            <i class="icon16 attachment-small"></i>
                                        {/if}
                                    </td>
                                    <td class="s-price">
                                        <strong>{if $product.currency !== null}{wa_currency_html($sku.price, $product.currency)}{else}{wa_currency_html($sku.price, $primary_currency)}{/if}</strong>
                                    </td>
                                    <td class="s-stock">
                                        {if !count($sku.stock)}
                                            {shopHelper::getStockCountIcon($sku.count)}
                                            {if $sku.count === null}∞{else}{$sku.count}{/if}
                                        {else}
                                            {foreach $stocks as $stock_id => $stock}
                                                {if isset($sku.stock[$stock_id])}
                                                    {$count = $sku.stock[$stock_id]}
                                                {else}
                                                    {$count = null}
                                                {/if}
                                                    {shopHelper::getStockCountIcon($count, $stock_id)}

                                                    {if $count === null}∞{else}{$count}{/if}

                                                {if count($stocks) > 1}
                                                    <span class="hint">{$stock.name|escape}</span><br>
                                                {/if}
                                            {/foreach}
                                        {/if}
                                    </td>
                                    {if $edit_rights}
                                    <td class="min-width">
                                        <a href="#/product/{$product.id}/edit/focus=name&sku={$sku_id}" class="nowrap s-product-edit-link"><i class="icon16 edit"></i>[`Edit`]</a>
                                    </td>
                                    {/if}
                                </tr>
                                {/foreach}

                                {capture name='template-sku'}{literal}
                                    {% var sku_id = o.sku_id; %}
                                    {% var sku = o.sku; %}
                                    {% var stocks = o.stocks || {}; %}
                                    {% sku.stocks = sku.stocks || {}; %}
                                    {% var stock_ids = o.stock_ids; %}
                                    <tr data-id="{%=sku_id%}" class="{% if(!sku.available) { %}grey {% } %}{% if (sku.virtual == '1') { %}s-sku-virtual{% } %}" title="{%=sku.sku%}">
                                        <td class="s-name">
                                            {%=sku.name%}
                                            <span class="hint">{%=sku.sku%}</span>
                                            {% if (sku.file_name) { %}
                                                <i class="icon16 attachment-small"></i>
                                            {% } %}
                                        </td>
                                        <td class="s-price"><strong>{%#sku.price_html%}</strong></td>
                                        <td class="s-stock">
                                            {% if (!$.isEmptyObject(sku.stock)){ %}
                                                {% for (var i = 0, n = stock_ids.length; i < n; i += 1) { %}
                                                    {% var stock_id = stock_ids[i]; %}
                                                    {% count = typeof sku.stock[stock_id] !== 'undefined' ? sku.stock[stock_id] : null; %}

                                                    {%# sku.stock_icon[stock_id] %}

                                                    {% if (count === null) { %}∞{% }else{ %}{%=''+count%}{% } %}

                                                    {% if (!$.isEmptyObject(stocks)){ %}
                                                        <span class="hint">@{%=stocks[stock_id]['name']%}</span><br>
                                                    {% } %}

                                                {% } %}
                                            {% } else { %}
                                                {%# sku.stock_icon[0] %}
                                                {% if (sku.count === null) { %}∞{% }else{ %}{%=''+sku.count%}{% } %}

                                            {% } %}
                                        </td>
                                        {/literal}
                                        {if $edit_rights}
                                        <td class="min-width">
                                            {literal}<a href="#/product/{%=sku.product_id%}/edit/focus=name&sku={%=sku_id%}" class="nowrap asdf s-product-edit-link"><i class="icon16 edit"></i>[`Edit`]</a>{/literal}
                                        </td>
                                        {/if}
                                    </tr>
                                {/capture}
                            </tbody>
                        </table>

                    </div>
                    <div class="block s-tab-block" data-tab="stock-logs" style="display:none;"><i class="icon16 loading"></i></div>
                    <div class="block s-tab-block" data-tab="recent-orders" style="display:none;"><i class="icon16 loading"></i></div>
                    <div class="block s-tab-block" data-tab="reviews" style="display:none;"><i class="icon16 loading"></i></div>
                    <div class="block s-tab-block" data-tab="buybuttons" style="display:none;"><i class="icon16 loading"></i></div>
                </div>
            </div>

        </div>

    </div>
{* PRODUCT PROFILE SECTION END *}

{* PRODUCT EDIT SECTION MENU BEGIN *}
    <ul class="menu-h s-hint-include" id="s-product-edit-menu">
        <li class="main">
            <a href="#/product/{$product.id}/edit/">[`Basics`]
            <span class="s-product-edit-tab-status"></span></a>
            {shopHinter::hint('product_main')}
        </li>
        <li class="descriptions">
            <a href="#/product/{$product.id}/edit/descriptions/">[`Description &amp; SEO`]
            <span class="s-product-edit-tab-status"></span></a>
            {shopHinter::hint('product_descriptions')}
        </li>
        <li class="images">
            <a href="#/product/{$product.id}/edit/images/">[`Images &amp; Video`] <span class="hint">{$counters['images']}</span>
            <span class="s-product-edit-tab-status"></span></a>
            {shopHinter::hint('product_images')}
        </li>
        <li class="features">
            <a href="#/product/{$product.id}/edit/features/">[`Features`]
            <span class="s-product-edit-tab-status"></span></a>
            {shopHinter::hint('product_features')}
        </li>
        <li class="services">
            <a href="#/product/{$product.id}/edit/services/">[`Services`] <span class="hint">{$counters['services']}</span>
            <span class="s-product-edit-tab-status"></span></a>
            {shopHinter::hint('product_services')}
        </li>
        <li class="related">
            <a href="#/product/{$product.id}/edit/related/">[`Related products`]
            <span class="s-product-edit-tab-status"></span></a>
            {shopHinter::hint('product_related')}
        </li>
        <li class="pages">
            <a href="#/product/{$product.id}/edit/pages/">[`Subpages`] <span class="hint">{$counters['pages']}</span>
            <span class="s-product-edit-tab-status"></span></a>
            {shopHinter::hint('product_pages')}
        </li>

        <!-- plugin hook: 'backend_product.edit_section_li' -->
        {* @event backend_product.%plugin_id%.edit_section_li *}
        {if !empty($backend_product)}{foreach $backend_product as $_}{ifset($_.edit_section_li)}{/foreach}{/if}

    </ul>
{* PRODUCT EDIT SECTION MENU END *}

    <div id="s-product-edit-forms">
        <form action="?module=product&action=save" method="post" id="s-product-save">
        <input type="hidden" name="product[id]" value="{$product.id}">


{* PRODUCT EDIT MAIN TAB SECTION BEGIN *}
        <div class="s-product-form main fields form" style="display: none;">
            <div class="field-group">
                <div class="field">
                    <div class="name">[`Product name`] {shopHinter::hint('product_name')}</div>
                    <div class="value"><input type="text" class="long bold s-product-name-input" value="{$product.name|escape}" name="product[name]"></div>
                </div>
                <div class="field">
                    <div class="value no-shift">

                        <div class="s-product-status">
                            <i class="icon10 {if $product.status}yes{else}no-bw{/if}"></i>
                            <select name="product[status]">
                                <option {if $product.status}selected{/if} value="1">[`Visible`]</option>
                                <option {if !$product.status}selected{/if} value="0">[`Hidden`]</option>
                            </select>
                        </div>

                        {foreach $frontend_urls as $frontend_url}
                            {if $frontend_url@first}
                                {* with tricky edit control *}
                                <span class="s-product-frontend-url-not-empty">
                                    {strip}
                                        <span style="display:none" class="s-frontend-base-url">
                                            {$frontend_url.base}
                                        </span>
                                        <a href="{$frontend_url.url}"  class="s-frontend-base-url" target="_blank">
                                            <span>{$frontend_url.base}</span>
                                            <span id="s-product-frontend-url">{$product.url}</span>
                                            <span class="slash">/</span>
                                        </a>
                                        <input type="text" class="s-product-url-input" id="s-product-frontend-url-input"
                                            value="{$product.url|escape}"
                                            name="product[url]" style="display:none;">
                                    {/strip}
                                    <a href="javascript:void(0);" class="small gray inline-link" id="s-product-frontend-url-edit-link">
                                        <i class="icon10 edit"></i><b><i>[`edit`]</i></b>
                                    </a>
                                </span>
                            {else}
                                {* just link *}
                                <span class="s-product-frontend-url-not-empty small">
                                    <a href="{$frontend_url.url}" target="_blank" class="s-product-frontend-url">{$frontend_url.url}</a>
                                </span>
                            {/if}
                            <br>
                        {/foreach}

                        <p class="s-product-frontend-url-empty hint" {if !empty($frontend_urls)}style="display:none;"{/if}>
                            {sprintf('[`This product is not visible in the storefront because product type “%s” which this product belongs to is not allowed for publishing in any of your storefronts.`]', {$product.type.name|escape})}
                        </p>

                        <span class="s-product-status-text hint" {if $product.status}style="display:none;"{/if}>
                            <br>
                            [`Hidden products are not shown among other products in the storefront, are not available for purchase, and can be viewed by the direct URL only.`]
                        </span>
                    </div>

                    <div class="value no-shift s-product-url-in-use-block" id="s-product-url-in-use-block" {if !$url_in_use}style="display: none"{/if}>
                        <p class="small italic">
                            <i class="icon10 exclamation"></i>
                            <span class="s-text">{$url_in_use}</span>
                        </p>
                    </div>

                </div>
            </div>
            <div class="field-group">
                {if $product_types}
                    <div class="field">
                        <div class="name">[`Product type`] {shopHinter::hint('product_type')}</div>
                        <div class="value no-shift" data-type="{$product.type.id|escape}">
                            <span class="js-type-icon">{shopHelper::getIcon($product.type.icon)}</span>
                            <strong class="js-type-name">{$product.type.name|escape}</strong>&nbsp;
                            <a href="#/product/{$product.id}/edit/main/type/select/" class="js-action gray inline-link"><b><i>[`Change type`]</i></b></a>

                            <select name="product[type_id]" style="display:none;">
                            {if empty($product.type.id)}
                            <option data-icon="{shopHelper::getIcon(null)|escape}" value="" selected="selected" disabled="disabled"></option>
                            {/if}
                            {foreach $product_types as $id=>$type}
                                <option data-icon="{shopHelper::getIcon(ifempty($type.icon,'box'))|escape}" data-sku-type="{$type.sku_type}" value="{$id}"{if $product.type.id == $id} selected="selected"{/if}>
                                {$type.name|escape}
                                </option>
                            {/foreach}
                            </select>
                        </div>
                    </div>
                {else}
                    <input type="hidden" name="product[type_id]" value="">
                {/if}
                {if !empty($taxes)}
                    <div class="field">
                        <div class="name">[`Taxable`] {shopHinter::hint('product_tax')}</div>
                        <div class="value no-shift">
                            <select name="product[tax_id]">
                            <option value="" {if empty($product.tax_id)} selected="selected"{/if}>[`No`]</option>
                            {foreach $taxes as $tax}
                            <option value="{$tax.id}"{if $product.tax_id == $tax.id} selected="selected"{/if}>{$tax.name|escape}</option>
                            {/foreach}
                            </select>
                        </div>
                    </div>
                {/if}
                <div class="field">
                    <input type="text" name="product[categories.deleted]" value="" style="display:none;">
                    <div class="name">[`Categories`] {shopHinter::hint('product_categories')}</div>

                    {function categories_select category_id=0}
                        <select name="product[categories][]" class="s-product-categories">
                            {if !empty($categories)}
                                <option value="select" {if !$category_id}selected="selected"{/if}>
                                    [`Please select a category`]
                                </option>
                                <option value="create">[`Create new category...`]</option>
                                <option class="separator" value="---" disabled="disabled">---</option>
                                {foreach $categories as $category}
                                    <option class="category" value="{$category.id}" {if $category_id == $category.id} selected="selected"{/if}>{"-"|str_repeat:$category.depth}{$category.name|escape}</option>
                                {/foreach}
                            {else}
                                <option value=""></option>
                                <option value="create">[`Create new category...`]</option>
                                <option class="separator" value="---" disabled="disabled" style="display:none;">---</option>
                            {/if}
                        </select>
                        <a href="#" class="s-product-delete-from-category" title="[`Remove product from this category`]" {if !$category_id}style="display:none;"{/if}><i class="icon10 delete-bw no-overhanging"></i></a>
                    {/function}

                    {$_show_selects=(count($product.categories)*count($categories) < 200)}
                    {foreach $product.categories as $category_id => $c}
                        <div class="value s-product-categories no-shift">
                            {if $_show_selects || $c@first}
                                {categories_select category_id=$category_id}
                            {else}
                                <input value="{$c.id}" name="product[categories][]" type="hidden" class="s-product-categories">
                                <i class="icon16 folder"></i>
                                {strip}
                                    {$_parent_id = $c.parent_id}
                                    {$_path=array()}
                                    {$_path[$c.depth]=$c.name}
                                    {while $_parent_id && isset($categories[$_parent_id])}
                                        {$_path[$categories[$_parent_id]['depth']]=$categories[$_parent_id]['name']}
                                        {$_parent_id = $categories[$_parent_id]['parent_id']}
                                    {/while}
                                    {$_ = ksort($_path)}
                                {/strip}
                                {implode(' » ',$_path)|escape}

                                <a href="#" class="s-product-delete-from-category" title="[`Remove product from this category`]" {if !$c.id}style="display:none;"{/if}><i class="icon10 delete-bw no-overhanging"></i></a>
                            {/if}
                            <span class="s-new-category" style="display:none;">
                                <input type="text" name="new_category" class="new-category" class="js-ignore-change" placeholder="[`Category name`]">
                                <input type="hidden" name="product[categories][]" class="val" value="{$category_id}" disabled="disabled">
                                <input type="button" value="[`Create`]">
                            </span>
                        </div>
                    {/foreach}

                    <div class="value s-product-categories no-shift" {if count($product.categories)} style="display: none;" {/if}>
                        {categories_select}
                        <span class="s-new-category" style="display:none;">
                            <input type="text" name="new_category" class="new-category" class="js-ignore-change" placeholder="[`Category name`]">
                            <input type="hidden" name="product[categories][]" class="val" value="{$category_id}" disabled="disabled">
                            <input type="button" value="[`Create`]">
                        </span>
                    </div>
                    <div class="value s-product-categories">
                        <ul class="menu-v s-category-action s-inline-links">
                            <li><a href="#/product/{$product.id}/edit/main/categories/add/" class="small inline-link js-action"><i class="icon10 add"></i> <b><i>[`Additional category`]</i></b></a></li>
                            {* @event backend_product.%plugin_id%.category_action_li *}
                            {if !empty($backend_product)}{foreach $backend_product as $_}{ifset($_.category_action_li)}{/foreach}{/if}
                        </ul>
                    </div>
                </div>

                {if !empty($sets)}
                    <div class="field s-product-sets">
                        <div class="name">[`Sets`] {shopHinter::hint('product_sets')}</div>

                        {function sets_select set_id=null}
                            <select name="product[sets][]">
                                <option value="" {if empty($set_id)} selected="selected"{/if}>[`Please select a set`]</option>
                                <option class="separator" value="" disabled="disabled">---</option>
                                {foreach $sets as $set}
                                    <option value="{$set.id}"{if $set_id && $set_id == $set.id} selected="selected"{/if}>{$set.name|escape} ({$set.id|escape})</option>
                                {/foreach}
                            </select>
                            <a href="javascript:void(0)" class="s-product-delete-from-set" title="[`Remove product from this set`]"><i class="icon10 delete-bw no-overhanging"></i></a>
                        {/function}

                        {foreach $product_sets as $set}
                            <div class="value no-shift">
                                {sets_select set_id=$set.id}
                            </div>
                        {foreachelse}
                            <div class="value no-shift">
                                {sets_select}
                            </div>
                        {/foreach}

                        <div class="value">
                            <ul class="menu-v s-inline-links compact">
                                <li><a href="javascript:void(0)" class="small inline-link add-set-button"><i class="icon10 add"></i> <b><i>[`Additional set`]</i></b></a></li>
                            </ul>
                        </div>

                        <div class="value no-shift hidden template">
                            {sets_select}
                        </div>
                    </div>
                {/if}

                {* @event backend_product_edit.%plugin_id%.basics *}
                {foreach $backend_product_edit as $_}{if !empty($_.basics)}{$_.basics}{/if}{/foreach}

            </div>

            <div class="field-group" id="s-sku-type-field-group" style="margin-bottom: 0;">
                <div class="field">
                    <div class="name">
                        [`Pricing & Availability`] {shopHinter::hint('product_skus')}
                    </div>
                    <div class="value no-shift s-sku-type-field-value">
                        <ul class="s-selling-mode">
                            <li{if empty($features) || $product.sku_type == shopProductModel::SKU_TYPE_FLAT} class="selected"{/if}>
                                <label>
                                    <a href="javascript:void(0);">[`Purchase options`]</a> {shopHinter::hint('product_skus_plain')}
                                    <input type="hidden" name="product[sku_type]" data-value="{shopProductModel::SKU_TYPE_FLAT}" value="{shopProductModel::SKU_TYPE_FLAT}"
                                                            {if !empty($features) && $product.sku_type != shopProductModel::SKU_TYPE_FLAT}disabled="disabled"{/if} />
                                </label>
                            </li>
                            <li class="{if !empty($features) && $product.sku_type == shopProductModel::SKU_TYPE_SELECTABLE}selected{/if} {if empty($features)}gray{/if}">
                                <label>
                                    <a href="javascript:void(0);"><span{if empty($features)} class="gray"{/if}>[`Selectable parameters`]</span></a> {shopHinter::hint('product_skus_features')}
                                    <input type="hidden" name="product[sku_type]" data-value="{shopProductModel::SKU_TYPE_SELECTABLE}" value="{shopProductModel::SKU_TYPE_SELECTABLE}"
                                                            {if empty($features) || $product.sku_type != shopProductModel::SKU_TYPE_SELECTABLE}disabled="disabled"{/if} />
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="field" id="s-product-feature-superposition-field-group" {if $product.sku_type == shopProductModel::SKU_TYPE_FLAT}style="display:none"{else}data-type="{$product.type_id}"{/if}>
                {include file="./ProductFeaturesSelectable.html"}
            </div>


            <!-- plugin hook: 'backend_product.edit_basics' -->
            {* @event backend_product.%plugin_id%.edit_basics *}
            {if !empty($backend_product)}{foreach $backend_product as $_}{ifset($_.edit_basics)}{/foreach}{/if}

            <div class="field">
                <div class="value s-sku-list">
                    <table class="s-product-skus">
                        <thead>
                            <tr class="white">
                                <th class="s-sku-sort min-width"{if count($product.skus) <= 1} style="display:none;"{/if}>&nbsp;</th>
                                <th>[`SKU`]</th>
                                <th>[`Purchase price`]</th>
                                <th>[`Compare at price`]</th>
                                <th>[`Price`]</th>
                                <th>[`Quantity`]</th>
                                <th colspan="2"></th>
                            </tr>
                        </thead>
                        <tfoot>
                        <tr class="white no-border">
                            <td colspan="8" class="alist">
                                <a href="#/product/{$product.id}/edit/main/sku/add/" class="inline-link js-action add-sku">
                                    <i class="icon16 add"></i><b><i>[`Add purchase option`]</i></b>
                                </a>
                            </td>
                        </tr>
                        </tfoot>
                        <tbody>
                            {foreach $product.skus as $sku_id => $sku}
                                <tr data-id="{$sku_id}" class="{if $sku.virtual}s-sku-virtual{/if}">
                                    <td class="s-sku-sort extra-top-padded min-width" style="white-space: nowrap;{if $sku@total <= 1}display: none;{/if}">
                                        <i class="icon16 sort"></i>
                                        <input type="radio" name="product[sku_id]" value="{$sku_id}" {if $product.sku_id == $sku.id}checked="checked"{/if}>
                                        <input type="hidden" name="skus[{$sku_id}][available]" value="{intval($sku.available)}">
                                    </td>
                                    <td class="s-sku{if $sku@total > 1} s-sku-big{/if}">
                                        <div class="s-name"{if $sku@total <= 1} style="display: none;"{/if}>
                                            <input type="text" name="skus[{$sku_id}][name]" value="{$sku.name|escape}" class="bold s-sku-name-input long large{if empty($sku.available)} grey{/if}" placeholder="[`SKU name`]" title="[`SKU name displayed in the storefront`]">
                                        </div>
                                        <input type="text" name="skus[{$sku_id}][sku]" value="{$sku.sku|escape}" placeholder="[`SKU code`]" title="[`Any text code or label identifying this product, e.g. model or serial number`]" class="s-sku-code{if empty($sku.available)} grey{/if}">
                                    </td>
                                    <td class="s-price">
                                        <input type="text" name="skus[{$sku_id}][purchase_price]" value="{$sku.purchase_price|escape}" class="{if empty($sku.available)} grey{/if}" placeholder="0" title="[`Purchase price`]">
                                    </td>
                                    <td class="s-price">
                                        <input type="text" name="skus[{$sku_id}][compare_price]" value="{$sku.compare_price|escape}" class="strike {if empty($sku.available)} grey{/if}" placeholder="0" title="[`Compare at price`]">
                                    </td>
                                    <td class="s-price">
                                        <input type="text" name="skus[{$sku_id}][price]" value="{$sku.price|escape}" class="bold large {if empty($sku.available)} grey{/if}" placeholder="0" title="[`Price`]">
                                        {if $use_product_currency}
                                            <select class="s-product-currency">
                                                {foreach $currencies as $code => $currency}
                                                <option value="{$code}" {if $code == $product.currency}selected="selected"{/if}>{$code}</option>
                                                {/foreach}
                                            </select>
                                        {else}
                                            {if $product.currency !== null}{$product.currency}{else}{$primary_currency}{/if}
                                        {/if}
                                    </td>
                                    <td class="s-stock">
                                        {if !count($sku.stock)}
                                            <div id="s-product-sku-{$sku_id}">
                                            <span data-stock="0" class="s-product-stock-icon">
                                            {shopHelper::getStockCountIcon($sku.count)}
                                            </span>
                                            <input class="short{if empty($sku.available)} grey{/if}" type="text" name="skus[{$sku_id}][stock][0]"value="{if $sku.count !== null}{$sku.count}{/if}" placeholder="∞" title="[`In stock`]"> <span class="small">[`items`]</span>
                                            {if (count($stocks) >= 1)}
                                                <br><a href="#/product/{$product.id}/edit/main/sku/stock/{$sku_id}/" class="small gray inline-link js-action"><b><i>[`Multiple stocks`]</i></b></a>
                                            </div>
                                            {/if}
                                        {/if}
                                        {if count($stocks) >= 1}
                                        <div{if empty($sku.stock)} style="display: none;"{/if} id="s-product-sku-stock-{$sku_id}">

                                        {foreach $stocks as $stock_id => $stock}
                                            {if isset($sku.stock[$stock_id])}
                                                {$count = $sku.stock[$stock_id]}
                                            {else}
                                                {$count = null}
                                            {/if}
                                            <span data-stock="{$stock_id}" class="s-product-stock-icon">
                                                {shopHelper::getStockCountIcon($count, $stock_id)}
                                            </span>
                                            <input class="short" type="text" name="skus[{$sku_id}][stock][{$stock_id}]"value="{if empty($sku.stock) && $stock@first}{$sku.count}{else}{if $count!==null}{$count}{/if}{/if}" placeholder="∞"{if empty($sku.stock)} disabled="disabled"{/if}>
                                            <span class="hint" title="{$stock.name|escape}">{$stock.name|escape}</span><br>
                                        {/foreach}
                                        </div>
                                        {/if}

                                    </td>
                                    <td class="extra-top-padded">
                                      <a href="#/product/{$product.id}/edit/main/sku/settings/{$sku_id}/" class="inline-link nowrap inline-link gray js-action" title="[`Show all options`]"><i class="icon16 settings"></i><b><i>[`More`]</i></b></a>
                                    </td>
                                    <td class="extra-top-padded">
                                          <a href="#/product/{$product.id}/edit/main/sku/delete/{$sku_id}/" {if count($product.skus) <= 1}style="display:none;"{/if}
                                               class="gray inline-link js-action js-confirm"
                                               title="[`Delete this SKU?`]">
                                                <i class="icon16 delete"></i>
                                          </a>
                                    </td>
                                    <input type="hidden" name="skus[{$sku_id}][virtual]" value="{$sku.virtual}" class="s-input-virtual">
                                </tr>
                            {/foreach}

                            {capture name='template-sku-edit'}{literal}
                                {% var empty = function(val) { return !val || val === '0'; }; %}
                                {% var sku_id = o.sku_id; %}
                                {% var sku = o.sku; %}
                                {% var stocks = o.stocks || {}; %}
                                {% sku.stock = sku.stock || {}; %}
                                {% var stock_ids = o.stock_ids; %}
                                <tr data-id="{%=sku_id%}" class="{% if (sku.virtual == '1') { %}s-sku-virtual{% } %}">
                                    <td  class="s-sku-sort extra-top-padded min-width" style="white-space: nowrap; {% if (o.hide_sort_column) { %} display:none;{% } %}">
                                        <i class="icon16 sort"></i>
                                        <input type="radio" name="product[sku_id]" value="{%=sku_id%}" {% if (o.checked) { %}checked="checked"{%}%}>
                                        <input type="hidden" name="skus[{%=sku_id%}][available]" value="{%=sku.available%}">
                                    </td>
                                    <td class="s-sku s-sku-big">
                                        <div class="s-name">
                                            <input type="text" name="skus[{%=sku_id%}][name]" value="{%=sku.name%}" class="bold s-sku-name-input long large {% if (empty(sku.available)) { %}grey{% } %}" placeholder="[`SKU name`]">
                                        </div>
                                        <input type="text" name="skus[{%=sku_id%}][sku]" value="{%=sku.sku%}" class="s-sku-code {% if (empty(sku.available)) { %}grey{% } %}" placeholder="[`SKU code`]">
                                    </td>
                                    <td class="s-price">
                                        <input type="text" name="skus[{%=sku_id%}][purchase_price]" value="{%=sku.purchase_price_loc%}" class="{% if (empty(sku.available)) { %}grey{% } %}" placeholder="0">
                                    </td>
                                    <td class="s-price">
                                        <input type="text" name="skus[{%=sku_id%}][compare_price]" value="{%=sku.compare_price_loc%}" class="strike {% if (empty(sku.available)) { %}grey{% } %}" placeholder="0">
                                    </td>
                                    <td class="s-price">
                                        <input type="text" name="skus[{%=sku_id%}][price]" value="{%=sku.price_loc%}" class="bold large {% if (empty(sku.available)) { %}grey{% } %}" placeholder="0">
                                        {/literal}
                                        {if $use_product_currency}
                                            <select class="s-product-currency">
                                                {foreach $currencies as $code => $currency}
                                                    <option value="{$code}" {if $code == $product.currency}selected="selected"{/if}>{$code}</option>
                                                {/foreach}
                                            </select>
                                        {else}
                                            {if $product.currency !== null}{$product.currency}{else}{$primary_currency}{/if}
                                        {/if}
                                        {literal}
                                    </td>
                                    <td class="s-stock">
                                        {% if ($.isEmptyObject(sku.stock)) { %}
                                            <div id="s-product-sku-{%=sku_id%}">
                                            <span data-stock="0" class="s-product-stock-icon">
                                            {%# sku.stock_icon[0] %}
                                            </span>
                                            <input class="short {% if (empty(sku.available)) { %}grey{% } %}" type="text" name="skus[{%=sku_id%}][stock][0]"value="{% if(sku.count !== null) { %}{%=''+sku.count%}{% } %}" placeholder="∞"> <span class="small">[`items`]</span>
                                            {% if(!$.isEmptyObject(stocks)) { %}
                                                <br><a href="#/product/{%=sku.product_id%}/edit/main/sku/stock/{%=sku_id%}/" class="small gray inline-link js-action"><b><i>[`Multiple stocks`]</i></b></a>
                                            </div>
                                            {% } %}
                                        {% } %}

                                        {% if(!$.isEmptyObject(stocks)) { %}
                                        <div{% if($.isEmptyObject(sku.stock)) { %} style="display: none;"{% } %} id="s-product-sku-stock-{%=sku_id%}">

                                            {% for (var i = 0, n = stock_ids.length; i < n; i += 1) { %}
                                                {% var stock_id = stock_ids[i]; %}
                                                {% if(typeof(sku.stock[stock_id]) != 'undefined') { %}
                                                    {% count = sku.stock[stock_id]; %}
                                                {% } else { %}
                                                    {% count = null; %}
                                                {% } %}
                                                <span data-stock="{%=stock_id%}" class="s-product-stock-icon">
                                                    {%# sku.stock_icon[stock_id]?sku.stock_icon[stock_id]:sku.stock_icon[0] %}
                                                </span>
                                                <input class="short" type="text" name="skus[{%=sku_id%}][stock][{%=stock_id%}]"
                                                        value="{% if (count !== null) { %}{%=''+count%}{% } %}" placeholder="∞"
                                                        {% if($.isEmptyObject(sku.stock)) { %} disabled="disabled"{% } %}>
                                                {% if(!$.isEmptyObject(stocks)) { %}
                                                    <span class="hint">{%=stocks[stock_id]['name']%}</span><br>
                                                {% } %}
                                            {% } %}

                                        </div>
                                        {% } %}

                                    </td>

                                    <td class="extra-top-padded">
                                      <a href="#/product/{%=sku.product_id%}/edit/main/sku/settings/{%=sku_id%}/" class="inline-link gray nowrap js-action" title="[`Show all options`]"><i class="icon16 settings"></i><b><i>[`More`]</i></b></a>
                                    </td>
                                    <td class="extra-top-padded">
                                          <a href="#/product/{%=sku.product_id%}/edit/main/sku/delete/{%=sku_id%}/"
                                               class="inline-link js-action js-confirm"
                                               title="[`Delete this SKU?`]">
                                                <i class="icon16 delete"></i>
                                          </a>
                                    </td>
                                    <input type="hidden" name="skus[{%=sku_id%}][virtual]" value="{%=sku.virtual%}" class="s-input-virtual">
                                </tr>
                            {/literal}{/capture}

                            {capture name='template-sku-settings'}{literal}
                                {% var sku_id = o.sku_id; %}
                                {% var sku = o.sku; %}
                                <tr data-id="{%=sku_id%}" class="js-sku-settings">
                                    <td colspan="7">
                                    [`loading...`]<i class="icon16 loading"></i>
                                    </td>
                                </tr>
                            {/literal}{/capture}
                        </tbody>
                    </table>
                </div>
                <input type="hidden" value="{$product.currency}" name="product[currency]" id="s-product-currency-code">
            </div>

        </div>
{* PRODUCT EDIT MAIN TAB SECTION END *}


{* PRODUCT EDIT DESCRIPTIONS TAB SECTION BEGIN *}
        <div class="s-product-form descriptions" style="display: none;">
            <div class="fields form">
              <div class="field-group">
                <div class="field">
                    <div class="name">[`Summary`]</div>
                    <div class="value"><textarea name="product[summary]" style="height: 37px;" id="s-product-summary">{$product.summary|escape}</textarea>
                        <br /><span class="hint">[`Displayed in product lists.`]</span>
                    </div>
                </div>
                <div class="field">
                    <div class="name">[`Tags`]</div>
                    <div class="value">
                        <input id="product-tags" value="{implode(',', $product.tags)|escape}" name="product[tags]">
                        <span class="hint">[`Separate tags with comma (,).`]</span>

                        <div id="s-product-popular-tags" class="tags small">
                            {if $popular_tags}
                                [`Popular tags`]:
                                {foreach $popular_tags as $tag}
                                    <span><a data-tag-id="{$tag.id}" href="javascript:void(0);" class="inline-link"><b><i>{$tag.name|escape}</i></b></a></span>
                                {/foreach}
                                <br>
                            {/if}
                        </div>

                    </div>
                </div>

                <!-- plugin hook: 'backend_product.edit_descriptions' -->
                {* @event backend_product.%plugin_id%.edit_descriptions *}
                {if !empty($backend_product)}{foreach $backend_product as $_}{ifset($_.edit_descriptions)}{/foreach}{/if}

              </div>
              <div class="field-group">
                <div class="field">
                    <div class="name">[`Page title`] <span class="hint">&lt;title&gt;</span></div>
                    <div class="value">
                        <input value="{$product.meta_title|escape}"
                                            id="s-product-meta-title"
                                            name="product[meta_title]"
                                            placeholder="{shopProduct::getDefaultMetaTitle($product)|escape}" class="long bold"
                                      >
                    </div>
                </div>
                <div class="field">
                    <div class="name">[`META Keywords`]</div>
                    <div class="value">
                        <textarea id="s-product-meta-keywords" name="product[meta_keywords]" placeholder="{shopProduct::getDefaultMetaKeywords($product)}">{$product.meta_keywords|escape}</textarea>
                    </div>
                </div>
                <div class="field">
                    <div class="name">[`META Description`]</div>
                    <div class="value">
                        <textarea id="s-product-meta-description" name="product[meta_description]" placeholder="{shopProduct::getDefaultMetaDescription($product)|escape}">{$product.meta_description|escape}</textarea>
                        <br>
                        <span class="hint">{sprintf('[`Variables <strong>%s</strong> will be replaced with the actual product information when displaying it on the storefront. Can be used in title and META fields.`]','&#123;$name&#125;, &#123;$summary&#125;, &#123;$price&#125;')}</span>
                    </div>
                </div>
                <div class="field">
                    <div class="name">[`Social sharing`]</div>
                    <div class="value no-shift">
                        {$editable_ogs_list = explode(',', 'title,image,video,description,type')}
                        {$editable_ogs = array_intersect_key($product.og, array_fill_keys($editable_ogs_list, 1))}
                        {$other_ogs = array_diff_key($product.og, $editable_ogs)}
                        <label><input type="checkbox" id="checkbox-use-default-ogs"{if !$editable_ogs} checked{/if}> [`Use these meta tags and default product image for social sharing too`]</label>
                    </div>
                </div>
              </div>

              {$product_og = $editable_ogs}
              <div class="field-group" id="og-fieldgroup"{if !$editable_ogs} style="display: none;"{/if}>
                <div class="field">
                    <div class="name">[`Social sharing title`] <span class="hint">og:title</span></div>
                    <div class="value">
                        <input name="product[og][title]" value="{ifset($product_og['title'])|escape}" placeholder="{shopProduct::getDefaultMetaTitle($product)|escape}" class="long bold">
                    </div>
                </div>
                <div class="field">
                    <div class="name">[`Social sharing image URL`] <span class="hint">og:image</span></div>
                    <div class="value">
                        <input name="product[og][image]" value="{ifset($product_og['image'])|escape}" placeholder="PRODUCT DEFAULT IMAGE 970 URL" class="long">
                        <br>
                        <span class="hint">[`If not set, a social network will attempt to determine preview image on it’s own.`]</span>
                    </div>
                </div>
                <div class="field">
                    <div class="name">[`Social sharing video URL`] <span class="hint">og:video</span></div>
                    <div class="value">
                        <input name="product[og][video]" value="{ifset($product_og['video'])|escape}" placeholder="" class="long">
                    </div>
                </div>
                <div class="field">
                    <div class="name">[`Social sharing description`] <span class="hint">og:description</span></div>
                    <div class="value">
                        <textarea name="product[og][description]" placeholder="{shopProduct::getDefaultMetaDescription($product)}">{ifset($product_og['description'])|escape}</textarea>
                    </div>
                </div>
                <div class="field">
                    <div class="name">[`Social sharing type`] <span class="hint">og:type</span></div>
                    <div class="value">
                        <input name="product[og][type]" value="{ifset($product_og['type'])|escape}" placeholder="og:product">
                    </div>
                </div>

                <div class="field">
                    <div class="value">
                        <p class="hint">[`Please refer to <a href="http://ogp.me" target="_blank">Open Graph</a> protocol site for more information on social sharing meta tags and available values.`]</p>
                    </div>
                </div>

                {* Make sure not to delete OG tags we can't edit. Trying to be plugin-friendly. *}
                {foreach $other_ogs as $k => $v}
                    <input type="hidden" name="product[og][{$k|escape}]" value="{$v|escape}">
                {/foreach}

                {* We enable this hidden fields when user checks the checkbox "use default og values",
                   so that the server receives empty values instead of OG fields above. *}
                {foreach $editable_ogs_list as $k}
                    <input type="hidden" name="product[og][{$k|escape}]" value="" class="editable-og-disabler"{if $editable_ogs} disabled{/if}>
                {/foreach}

              </div>

              <div class="field-group">
                <div class="field description">
                    <div class="name">[`Description`]</div>
                    <div class="value" id="s-product-description">
                        <div class="wa-editor-core-wrapper s-editor-core-wrapper">
                            <ul class="wa-editor-wysiwyg-html-toggle s-wysiwyg-html-toggle">
                                <li class="selected"><a class="wysiwyg" href="#">[s`WYSIWYG`]</a></li>
                                <li><a class="html" href="#">HTML</a></li>
                            </ul>
                            <div>
                                <textarea id="s-product-description-content" name="product[description]"
                                    data-modification-wysiwyg-msg="[s`WYSIWYG editor may change your HTML code. It is necessary for correct text formatting. Smarty code may be broken and outdated HTML tags may be replaced with modern ones. Are you sure to switch to WYSIWYG editor?`]"
                                >{$product.description|escape}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
              </div>

                <div class="field-group">
                    <div class="field">
                        <div class="name">
                            <label for="custom-settings">
                            [`Custom parameters`]
                            </label>
                        </div>
                        <div class="value">
                            <textarea name="product[params]" rows="10" cols="5">{if $product->params}{foreach $product->params as $k=>$v}{if $k!='order'}{$k}={$v|escape|cat:"\n"}{/if}{/foreach}{/if}</textarea><br>
                            <span class="hint">[`Optional set of custom <em>key=value</em> parameters which can be used in frontend theme templates as <em>&#123;$product.params.key&#125;</em>. Each key=value pair must be on a separate line.`]</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
{* PRODUCT EDIT DESCRIPTIONS TAB SECTION END *}

        {capture name="template-productprofile-tab"}{literal}
        <div class="s-product-form {%#o.id%}">
            <i class="icon16 loading"></i>[`Loading`]
        </div>{/literal}{/capture}


        <div id="s-product-edit-save-panel">
            <div class="block bordered-top">
                <input type="submit" class="button green" value="[`Save`]" id="s-product-save-button">
                <em class="hint">Ctrl + S</em>
                <span id="product-save-message" class="s-product-save-message"><!-- message placeholder --></span>
            </div>
        </div>
        </form>
    </div>

</div>

{capture name='template-product-image-list'}
    {literal}
        {% if (o.type === 'crop') { %}
            {% include('template-product-crop-image-list', o); %}
        {% } else { %}
            {% include('template-product-thumb-image-list', o); %}
        {% } %}
    {/literal}
{/capture}

{capture name='template-product-crop-image-list'}
    {literal}
        {% var image, image_iterator = $.shop.iterator(o.images); %}
        {% while (image = image_iterator.next()) { %}
            <li data-image-id="{%#image.id%}">
                <div class="s-image">
                    <a href="#/product/{%#o.product_id%}/edit/images/{%#image.id%}/">
                        <img src="{%#image.url_crop%}{%# image.edit_datetime_ts ? '?'+image.edit_datetime_ts : '' %}" alt="">
                    </a>
                </div>
            </li>
        {% } %}
    {/literal}
{/capture}

{capture name='template-product-thumb-image-list'}
    {literal}
        {% var image, image_iterator = $.shop.iterator(o.images); %}
        {% while (image = image_iterator.next()) { %}
            <li data-image-id="{%#image.id%}">
                <div class="s-image">
                    <a href="#/product/{%#o.product_id%}/edit/images/{%#image.id%}/">
                        <img src="{%#image.url_thumb%}{%# image.edit_datetime_ts ? '?'+image.edit_datetime_ts : '' %}" alt="">
                    </a>
                </div>
                <div class="p-description">
                    {% if (image.description) { %}
                        <div class="small editable">{%#image.description%}</div>
                    {% } else { %}
                        <div class="small gray editable">{%#o.placeholder%}</div>
                    {% } %}
                </div>
            </li>
        {% } %}
    {/literal}
{/capture}

{* js templates block*}
{foreach $smarty.capture as $template => $template_content}
{if $template_content && (strpos($template, 'template-')===0)}
<script id="{$template}" type="text/html">
{$template_content|replace:'</':'<\/'}
</script>{capture name=$template}{/capture}
{/if}
{/foreach}

{$title_suffix = " — "|cat:{$wa->accountName(false)}|escape:'javascript'}

<script type="text/javascript">
    var wa_url = '{$wa_url}';
    var wa_app = 'shop';
    var wa_lang = '{$lang}';


    $(function() {

        $('#s-product-description-content').data('uploadFields', {
            '_csrf': {waRequest::cookie('_csrf', '')|json_encode}
        });

        $.product.setData('main','stocks',{$stocks|json_encode});
        $.product.setData('main','stock_ids', {array_keys($stocks)|json_encode});
        $.product.setData('main', 'category_name', {$category_name|json_encode});
        {if !empty($product.reviews)}
        $.product_reviews.init({
            container: '#s-reviews-block',
            reply: 'ignore',
            statuses: {
                deleted:  '{shopProductReviewsModel::STATUS_DELETED}',
                published:'{shopProductReviewsModel::STATUS_PUBLISHED}'
            }
        });
        {/if}
    });
    {if !empty($product.reviews)}
        $('#s-all-reviews').find('.count-new:first').text({if $sidebar_counters.reviews.new}'+{$sidebar_counters.reviews.new}'{else}''{/if});
    {/if}
    {if $product.id > 0}
        $.product_images.init({
            product_id: {$product.id},
            images: {json_encode(array_values($product.images))},
            type: 'crop',
            enable_2x: {if $wa->shop->config('enable_2x')}true{else}false{/if},
            image_list: '#s-product-view .s-product-image-crops'
        });
    {/if}

    var sales_data = {if !empty($sales_data) && $report_rights}{json_encode($sales_data)}{else}[]{/if};
    var cash_type = {wa_currency_html(0, $primary_currency)|replace:'0':'%s'|json_encode};

    // "By SKU" pie graph
    var sku_plot_data = {if !empty($sku_plot_data) && $report_rights}{json_encode($sku_plot_data)}{else}[]{/if};
    $.product.setOptions({
        title_suffix: '{$title_suffix}',
        edit_rights:    {if $edit_rights}true{else}false{/if},
        sidebar_width: {if $sidebar_width}{$sidebar_width}{else}0{/if}
    });

    {if $product.id > 0}
        document.title = '{$product.name|escape:'javascript'|cat:$title_suffix}';
    {else}
        document.title = '[`New product`]{$title_suffix}';
    {/if}


   (function(container) {
        $('a', container).click(function() {
            if (!$(this).closest('li').hasClass('gray')) {
                container.find('li.selected').removeClass('selected');
                container.find('input[type="hidden"]').attr('disabled', true);
                $(this).closest('li').addClass('selected').find('input[type=hidden]').attr('disabled', false).trigger('change');
            }
            return false;
        });
        $('input', container).bind('disabled', function(e, disabled) {
            var item = $(this);
            if (disabled) {
                item.closest('li').removeClass('selected').addClass('gray');
                item.attr('disabled', true);
            } else {
                item.closest('li').removeClass('gray');
                if (item.closest('li').hasClass('selected')) {
                    item.attr('disabled', false);
                }
            }
        });
        $('input', container).bind('checked', function(e, checked) {
            var item = $(this);
            if (!item.closest('li').hasClass('gray')) {
                $(this).attr('checked', !!checked);
                container.find('li.selected').removeClass('selected');
                container.find('li:not(.gray)').attr('disabled', true);
                if (checked) {
                    $(this).attr('disabled', false).closest('li').addClass('selected');
                }
            }
        });
   })($('.s-selling-mode'));

    $(function() {

        setTimeout(function() {
                // profile tabs
            (function(container) {
                var loadTo = function(block, url, after) {
                    if (!block.data('loaded')) {
                        block.load(url, after).data('loaded', 1);
                    }
                    return block;
                };
                var getLastTab = function() {
                    return $.storage.get('shop/product-profile/tab');
                };
                var setLastTab = function(tab) {
                    $.storage.set('shop/product-profile/tab', tab);
                };

                container.on('click', '.tabs a', function() {
                    $(this).closest('.tabs').find('.selected').removeClass('selected')
                    var el = $(this).closest('li').addClass('selected');
                    $('.tab-content', container).find('.s-tab-block').hide()
                            .end().find('.s-tab-block[data-tab="' + el.data('tab') + '"]').show().trigger('open');
                    setLastTab(el.data('tab'));
                    return false;
                }).on('open', '.s-tab-block', function() {
                    container.find('.s-tab-block').each(function() {
                        $(this).data('opened', 0);
                    });
                    $(this).data('opened', 1);
                }).on('open', '.s-tab-block[data-tab="stock-logs"]', function() {
                    var url = '?module=product&action=stocksLog&id=' + $.product.getId();
                    var block = loadTo($(this), url)
                        .on('click', '.p-log-filters a', function() {
                            block.load(url + '&' + $(this).attr('href'));
                            return false;
                        });
                }).on('open', '.s-tab-block[data-tab="reviews"]', function() {
                    loadTo($(this), '?module=product&action=reviews&id=' + $.product.getId());
                }).on('open', '.s-tab-block[data-tab="recent-orders"]', function() {
                    var view=$.storage.get('shop/orders/view') || '{$orders_default_view}';
                    loadTo($(this), '?module=product&action=orders&view=' + view + '&id=' + $.product.getId());
                }).on('open', '.s-tab-block[data-tab="buybuttons"]', function() {
                    loadTo($(this), '?module=product&action=buybuttons&id=' + $.product.getId());
                }).on('refresh', '.s-tab-block', function() {
                    var block = $(this).html('').data('loaded', 0);
                    if (block.data('opened')) {
                        block.trigger('open');
                    }
                });

                {if $product.id > 0}
                    var last_tab = getLastTab();
                    if (last_tab) {
                        container.find('li[data-tab="' + last_tab + '"] a').click();
                    }
                {/if}

            })($('#s-product-profile-tabs'));
        }, 200);

    });

    (function() {
        $('.s-product-name-input').change(function() {
            $.product.updateMetaFields();
        });
        $.shop.changeListener($('#s-product-summary'), function() {
            $.product.updateMetaFields();
        });
        $('#product-tags').change(function() {
            $.product.updateMetaFields();
        });
        $('.s-sku-name-input').change(function() {
            $.product.updateMetaFields();
        });

        $('#checkbox-use-default-ogs').change(function() {
            if (this.checked) {
                $('#og-fieldgroup').slideUp(200);
                $('.editable-og-disabler').prop('disabled', false);
            } else {
                $('#og-fieldgroup').slideDown(200);
                $('.editable-og-disabler').prop('disabled', true);
            }
        });
    })();

    (function(menu, tabs_block) {
        menu.find('a').click(function() {
            menu.find('li.selected').removeClass('selected');
            tabs_block.find('tr').show();
            var item = $(this).closest('li').addClass('selected');
            var target = item.data('target');
            tabs_block.find('.s-target').hide()
                .end().find('.s-' + target).show();
            if (target === 'forecast') {
                tabs_block.find('.s-' + target + '[data-hidden=1]').closest('tr').hide();
            }
            return false;
        });
    })($('.s-report-toggler'), $('.s-report-tabs'));

    // Control for sets
    (function() { "use strict";
        var $form = $('#s-product-save');
        var $sets_wrapper = $form.find('.s-product-sets');
        if (!$sets_wrapper.length) {
            return;
        }

        var $add_set_button = $sets_wrapper.find('.add-set-button');
        var $template = $add_set_button.closest('.value').siblings('.hidden.template');

        // Add new selector when user clicks on "additional set" link
        $add_set_button.click(function() {
            $template.clone().removeClass('hidden template').insertBefore($add_set_button.closest('.value'));
            return false;
        });

        // Remove select when user clicks on a cross icon
        $sets_wrapper.on('click', '.s-product-delete-from-set', function() {
            $(this).closest('.value').remove();
        });
    })();

</script>
