<h1 class="album-name category-name">
    <span>{$album.name}</span>
    {* @event frontend_collection.%plugin_id%.name *}
    {foreach $frontend_collection as $item}{if !empty($item.name)}{$item.name}{/if}{/foreach}
</h1>
{if $album.note}<em class="album-note">{$album.note}</em>{/if}
{if $album.description}<p class="album-description">{$album.description}</p>{/if}

<!-- subalbums -->
{if $childcrumbs}
    <ul class="albums subalbums">
        {foreach $childcrumbs as $a}
            <li>
                <a href="{$a.full_url}">
                    <div class="cover">
                        {if $a.count > 1}
                            <div class="sublayer layer1"></div>
                            <div class="sublayer layer2"></div>
                        {/if}
                        {if $a.key_photo}
                            <img src="{$a.key_photo.thumb.url}{if $a.key_photo.edit_datetime}?{strtotime($a.key_photo.edit_datetime)}{/if}" alt="{$a.name}">
                        {else}
                            <img src="{$wa_app_static_url}img/album-dummy.png" alt="{$a.name}">
                        {/if}                            
                    
                        <strong{if $a.status <= 0} class="gray" title="[`Private album`]"{/if}>{$a.name|default:'[`(no name)`]'}{if $a.status <= 0} <i class="icon10 lock-bw"></i>{/if}</strong>
                        <span class="count">{sprintf( _w('%d photo','%d photos',$a.count), $a.count)}</span>
                    </div>
                </a>
            </li>
        {/foreach}
    </ul>
{/if}

{* @event frontend_collection.%plugin_id%.content *}
{foreach $frontend_collection as $item}{if !empty($item.content)}{$item.content}{/if}{/foreach}

{* display album according to the album's custom parameter "view" *}
{if !empty($photos)}
    {if !empty($album.view) && $album.view == 'thumbs'}
    
        {* NOTE: this 'thumbs' option is just for demo purpose *}
        <div style="margin: 0 -30px; overflow: hidden;">
        	{include file='photos-thumbs.html'}
    	</div>
    	
    {else}
    
        {* default album view mode *}
    	{include file='photos-thumbs.html'}
    	
    {/if}
    
    {* NOTE: you main link your custom photo list templates instead of those shown above *}
    
{else}

    <div class="view-plain">
        <p>[`There are no photos in this album.`]</p>
    </div>

{/if}