<link rel="stylesheet" href="{$wa_parent_theme_url}swipebox/css/swipebox.css">

<script type="text/javascript" src="{$wa_parent_theme_url}js/jquery.tooltipster.min.js"></script>
<script type="text/javascript" src="{$wa_theme_url}js/fractionslider/jquery.fractionslider.js"></script>
<script type="text/javascript" src="{$wa_parent_theme_url}js/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="{$wa_parent_theme_url}js/jquery.scrollTo.js"></script>

<script type="text/javascript" src="{$wa_static_url}wa-content/js/jquery-ui/jquery.ui.core.min.js?v{$wa->version(true)}"></script>
<script type="text/javascript" src="{$wa_static_url}wa-content/js/jquery-ui/jquery.ui.widget.min.js?v{$wa->version(true)}"></script>
<script type="text/javascript" src="{$wa_static_url}wa-content/js/jquery-ui/jquery.ui.mouse.min.js?v{$wa->version(true)}"></script>
<script type="text/javascript" src="{$wa_static_url}wa-content/js/jquery-ui/jquery.ui.slider.min.js?v{$wa->version(true)}"></script>
<script type="text/javascript" src="{$wa_static_url}wa-content/js/jquery-plugins/jquery.cookie.js"></script>

<!-- photos app css -->
<link href="{$wa_active_theme_url}photos.css?v{$wa_theme_version}" rel="stylesheet" type="text/css">

<!-- js -->
<script type="text/javascript" src="{$wa_active_theme_url}js/jquery.wookmark.min.js?v{$wa->version(true)}"></script>
<script type="text/javascript" src="{$wa_active_theme_url}js/jquery.waitforimages.min.js?v{$wa->version(true)}"></script>
<script type="text/javascript" src="{$wa_active_theme_url}photos.js?v={$wa->version(true)}"></script>
{if $wa->photos->config('enable_2x')}
<script type="text/javascript" src="{$wa_static_url}wa-content/js/jquery-plugins/jquery.retina.min.js?v{$wa->version(true)}"></script>
<script type="text/javascript">$(window).load(function(){ $('#photo-list img,.photo img,.albums img').retina()});</script>
{/if}

{if $nofollow}
    <!-- "nofollow" for duplicate photo pages (context dependent) -->
    <meta name="robots" content="nofollow" />
{/if}

{* @event frontend_assets.%plugin_id% *}
{foreach $frontend_assets as $item}{if !empty($item)}{$item}{/if}{/foreach}
