<div class="menu-v-background" {if $theme_settings.navigation_left == 'standart'}id="menu-standart"{else}id="menu-collapsible"{/if}>
<ul class="menu-v topmenu">

    <li {if $wa->currentUrl() == $wa_app_url} class="selected"{/if}>
        <a href="{$wa_app_url}">[`All photos`]</a>
    </li>
    <li {if $wa->param('action') neq 'page' && $wa->param('action') neq 'album' && $wa->param('hash') == 'favorites'} class="selected"{/if}>
        <a href="{$wa_app_url}favorites/">[`Editors’ choice`]</a>
    </li>

    <!-- plugins -->
    {* @event frontend_sidebar.%plugin_id%.menu *}
    {foreach $frontend_sidebar as $plugin_id => $item}{if !empty($item.menu)}
    <li>{$item.menu}</li>
    {/if}{/foreach}

    
    {foreach $wa->photos->pages() as $page}
    <li{if strlen($page.url)>1 && $wa->currentUrl()|strstr:$page.url} class="selected"{/if}><a href="{$page.url}">{$page.name}</a></li>
    {/foreach}

</ul>
</div>

{if $theme_settings.setting_news}
{if $wa->blog}
{$latest_posts = $wa->blog->posts(null, 5)}
{if $latest_posts}
<div class="news hidden-xs-down">
    <h3>[`News`]</h3>
    <hr>
    {foreach $latest_posts as $post}
    <div class="date">
        <div class="threed">{$post.datetime|date_format:"%d"}</div>
        <div class="month">{$post.datetime|date_format:"%B %Y"}</div>
        <div class="head"><a href="{$post.link}">{$post.title|strip_tags|truncate:400}</a></div>
    </div>
    {/foreach}
</div>
{/if}
{/if}
{/if}

{if !empty($theme_settings.vk_widget_code)}
<div class="widget_vk">
    {$theme_settings.vk_widget_code}
</div>
{/if}

