<div class="row">
    <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
        {include file="`$wa_active_theme_path`/leftside.html"}
    </div>
    <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">

        {include file="`$wa_active_theme_path`/breadcrumb.html" inline}

        {$content}

    </div>
</div>







