<!-- TILED PHOTO LIST -->

{* @event frontend_collection.%plugin_id%.thumbs_list *}
{if !empty($frontend_collection)}{foreach $frontend_collection as $item}{if !empty($item.thumbs_list)}{$item.thumbs_list}{/if}{/foreach}{/if}

<ul class="albums" id="photo-list">
    {foreach from=$photos item=photo}
        <li itemscope itemtype ="http://schema.org/Photograph">
            <div class="image">
                <a href="{$photo.frontend_link}">
                <div class="cover">
                    <div class="corner top left">
                        {* @event prepare_photos_frontend.top_left.%plugin_id% *}
                        {foreach $photo.hooks.top_left as $plugin => $output}{$output}{/foreach}
                    </div>
                    <div class="corner top right">
                        {* @event prepare_photos_frontend.top_right.%plugin_id% *}
                        {foreach $photo.hooks.top_right as $plugin => $output}{$output}{/foreach}
                        {if $photo.stack_count > 0}<span class="indicator">{$photo.stack_count}</span>{/if}
                    </div>
                    
                    {$wa->photos->getImgHtml($photo, '200x200', ['itemprop' => 'image'])}
                    
					<strong class="gray">{$photo.name}</strong>
					{* @event prepare_photos_frontend.name.%plugin_id% *}
                        {foreach $photo.hooks.name as $plugin => $output}{$output}{/foreach}       
                        {if $photo.rate > 0}<p class="rating nowrap">{$wa->photos->ratingHtml($photo.rate, 10)}</p>{/if}                        
                        {if $photo.description}<p itemprop="description" class="small">{strip_tags($photo.description)|truncate:100}</p>{/if}
                        {* @event prepare_photos_frontend.thumb.%plugin_id% *}
                        {foreach $photo.hooks.thumb as $plugin => $output}{$output}{/foreach}
				</div>
                </a>
            </div>
        </li>
    {/foreach}
</ul>

{if isset($pages_count) && $pages_count > 1}
<div class="photo-thumbs-lazyloading">
    <div class="block {if $theme_settings.pagination == 'lazyloading'}lazyloading-paging{else}paging-nav{/if} align-center" data-times="2" data-link-text="[`Load more`]">
        {wa_pagination total=$pages_count attrs=['class' => "menu-h"]}
    </div>
</div>
{/if}