<!-- PLAIN PHOTO LIST -->

<ul class="albums">
    {* @event frontend_collection.%plugin_id%.plain_list *}
    {if !empty($frontend_collection)}{foreach $frontend_collection as $item}{if !empty($item.plain_list)}{$item.plain_list}{/if}{/foreach}{/if}
    {foreach $photos as $photo}
        <li itemscope itemtype="http://schema.org/Photograph">
			<a href="{$a.full_url}">
			<div class="cover">
            {* UNCOMMENT THIS IF YOU WANT TO DISPLAY PHOTO NAMES if $photo.name}
                <h5 itemprop="name">{$photo.name}</h5>
            {/if *}
            {if $photo.description}
                {if $photo.description|strstr:'<p>'}
                    <div itemprop="description">{$photo.description}</div>
                {else}
                    <p itemprop="description">{$photo.description}</p>
                {/if}
            {/if}
            {* UNCOMMENT THIS IF YOU WANT TO DISPLAY PHOTO RATING WITHIN ALBUMS if $photo.rate > 0}
                <div class="rating nowrap">{$wa->photos->ratingHtml($photo.rate, 16)}</div>
            {/if *}
            
            <div class="image">
                <a name="photo{$photo.id}"></a>
                {if !empty($photo.stack_nav)}
                    <div class="stack">
                        {$photo.stack_nav}
                    </div>
                {/if}
                <div class="corner top left">
                    {* @event prepare_photos_frontend.top_left.%plugin_id% *}
                    {foreach $photo.hooks.top_left as $plugin => $output}{$output}{/foreach}
                </div>
                <div class="corner top right">
                    {* @event prepare_photos_frontend.top_right.%plugin_id% *}
                    {foreach $photo.hooks.top_right as $plugin => $output}{$output}{/foreach}
                </div>
                {$wa->photos->getImgHtml($photo, '200x200', ['itemprop' => 'image'])}
                {* @event prepare_photos_frontend.plain.%plugin_id% *}
                {foreach $photo.hooks.plain as $plugin => $output}{$output}{/foreach}
            </div>
			</div>
			</a>
        </li>
    {/foreach}
</ul>

{if isset($pages_count) && $pages_count > 1}
<div class="block {if $theme_settings.pagination == 'lazyloading'}lazyloading-paging{else}paging-nav{/if}" data-times="2" data-link-text="[`Load more`]">
    {wa_pagination total=$pages_count attrs=['class' => "menu-h"]}
</div>
{/if}