<script type="text/javascript" src="{$wa_theme_url}cart.js"></script>
<div class="wrap cart-page">
    {if !$cart.count}
    <h1>[`Shopping cart`]</h1>
    <p>[`Your shopping cart is empty.`]</p>
    {else}
    {$crossselling = $wa->shop->crossSelling($cart.items, 'product_id')}
    {if $crossselling}
    <div class="sidebar right165px">
        <h4>[`Better together`]</h4>
        <div class="related">
            {include file="slider.html" not_ajax=1 slider_id="2" products=$crossselling speed="5000" mode="vertical"}
        </div>
    </div>
    {/if}
    <!-- general welcome text -->
    <div class="content {if $crossselling}float-left with-sidebar{/if}">
        <h1>[`Shopping cart`]</h1>
        <form method="post">
            <div class="cart">
                <!-- products -->
                {foreach $cart.items as $item}
                <div class="cart-row" data-id="{$item.id}">
                    <div class="cart-cell"><a href="{$wa->shop->productUrl($item.product)}" class="image" title="{$item.product.name|escape}">{$wa->shop->productImgHtml($item.product, '105', ['default' => "`$wa_theme_url`img/dummy105.jpg"])}</a></div>
                    <div class="cart-cell cart-item">
                            <a href="{$wa->shop->productUrl($item.product)}" class="bold product-name">{$item.product.name|escape}</a>
                            <span class="sku-name">{if $item.sku_name && $item.sku_name != $item.product.name}{$item.sku_name|escape}{/if}</span>
                            <br /><br />
                            {if !empty($item.services)}
                            <div class="services">
                                {foreach $item.services as $service_id => $s}
                                <!-- one option -->
                                <div {if !empty($s.id)}data-id="{$s.id}"{/if}>
                                    <input {if !empty($s.id)}checked{/if} type="checkbox" name="services[{$item.id}][]" value="{$service_id}" id="serv-{$item.id}-{$service_id}"><label for="serv-{$item.id}-{$service_id}"><span class="stylish-wrap"></span>{$s.name|escape} {if $s.price && !isset($s.variants)}(<span>+{if $theme_settings.ruble == 'html'}{shop_currency_html($s.price, $s.currency)}{else}{shop_currency($s.price, $s.currency)}{/if}</span>){/if}</label>
                                    {if isset($s.variants)}
                                    <select name="service_variant[{$item.id}][{$service_id}]" {if empty($s.id)}disabled{/if}>
                                            {foreach $s.variants as $variant_id => $v}
                                            <option {if $s.variant_id == $variant_id}selected{/if} value="{$variant_id}">{$v.name|escape} (+{if $theme_settings.ruble == 'html'}{shop_currency_html($v.price, $s.currency)}{else}{shop_currency($v.price, $s.currency)}{/if})</option>
                                        {/foreach}
                                    </select>
                                    {/if}
                                </div>
                                {/foreach}
                            </div>
                            {/if}
                        {if !empty($item.error)}<script>alert('{$item.error|escape}');</script>{/if}
                    </div>
                    <div class="align-center cart-cell quantity">[`Qty`]: <a href="javascript:void(0)" class="f-quantity-minus"><i class="icon16 ms larr-bw"></i></a><input type="text" name="quantity[{$item.id}]" value="{$item.quantity}" class="qty{if !empty($item.error)} error{/if}"><a href="javascript:void(0)" class="f-quantity-plus"><i class="icon16 ms rarr-bw"></i></a></div>
                    <div class="align-center cart-cell item-total price">{if $theme_settings.ruble == 'html'}{shop_currency_html($item.full_price, true)}{else}{shop_currency($item.full_price, true)}{/if}</div>
                    <div class="cart-cell"><a class="delete" href="#" title="[`Remove from cart`]"><i class="icon16 ig close-bw"></i></a></div>
                </div>
                {/foreach}
            </div>

            <div class="cart-result">
                {if shopDiscounts::isEnabled('coupons')}
                <div class="coupon">
                    <img src="{$wa_theme_url}img/discount.png" style="vertical-align: middle;" />
                    <input type="text" name="coupon_code" value="{$coupon_code|escape}" class="coupon-code" placeholder="[`Enter coupon code`]"> <input type="submit" class="coupon-submit button theme" value="[`Yes`]!">
                </div>
                {/if}
                <div class="total">
                    <div>[`Total`]: <span class="cart-total align-center bold nowrap">{if $theme_settings.ruble == 'html'}{shop_currency_html($cart.total, true)}{else}{shop_currency($cart.total, true)}{/if}</span></div>
                    <div class="discount" {if !$discount}style='display: none'{/if}>[`Discount`]: <span class="align-center cart-discount nowrap">&minus; {if $theme_settings.ruble == 'html'}{shop_currency_html($discount, true)}{else}{shop_currency($discount, true)}{/if}</span></div>
                </div>
                <!-- affiliate bonus -->
                {if shopAffiliate::isEnabled() && $affiliate_bonus > 0}
                <div class="cart-affiliate">
                    {if $theme_settings.ruble == 'html'}
                    {$aff_bonus = shop_currency_html(shopAffiliate::convertBonus($affiliate_bonus))}
                    {else}
                    {$aff_bonus = shop_currency(shopAffiliate::convertBonus($affiliate_bonus))}
                    {/if}
                    {sprintf('[`Your current affiliate bonus of <span class="points">%s points</span> allows you to get an additonal discount of up to <span class="points">%s</span>`]', $affiliate_bonus, $aff_bonus)}
                    {if $use_affiliate}
                        <a id="cancel-affiliate" href="#">[`Cancel`]</a>
                        {else}
                        <input type="submit" name="use_affiliate" class='button grey' value="[`Use bonus`]">
                        {/if}
                </div>
                {/if}
                {if !empty($add_affiliate_bonus)}
                <em class="affiliate float-right">{sprintf('[`This order will add <span class="points">+%s</span> points to your affiliate bonus.`]', $add_affiliate_bonus)}</em>
                {/if}
            </div>
            <!-- checkout -->
            <div class="checkout">
                <a href="{$wa_app_url}" class="float-left button grey"><i class="icon16 ms cart-bw"></i> [`Continue shopping`]</a>
                <input name="checkout" type="submit" value="[`Proceed to checkout`]" class=" float-right button theme">
            </div>
            <!-- plugin hook: 'frontend_cart' -->
            {* @event frontend_cart.%plugin_id% *}
            {foreach $frontend_cart as $_}{$_}{/foreach} 
        </form>
    </div>
    {/if}
</div>