{if $theme_settings.demo == 'on' && $wa->shop}
{* Cancel *}
{$settings_cancel = $wa->post('settings-cancel')}
{if !empty($settings_cancel)}
{$settings_cancel = 1}
{$wa->storage('settings-menu-category', '')}
{$wa->storage('settings-productsperfly', '')}
{$wa->storage('settings-footer-type', '')}
{$wa->storage('settings-default-view', '')}
{$wa->storage('settings-lazyloading', '')}
{else}
{$settings_cancel = 0}
{/if}

{* Default products view *}
{$default_view = $wa->post('settings-default-view')}
{$default_view2 = $wa->storage('settings-default-view')}
{if !empty($default_view) && !$settings_cancel}
{$theme_settings.default_view = $default_view}
{elseif (!empty($default_view2) && !$settings_cancel)}
{$theme_settings.default_view = $default_view2}
{/if}

{* Catalog view *}
{$lazyloading = $wa->post('settings-lazyloading')}
{$lazyloading2 = $wa->storage('settings-lazyloading')}
{if !empty($lazyloading) && !$settings_cancel}
{$theme_settings.lazyloading = $lazyloading}
{elseif (!empty($lazyloading2) && !$settings_cancel)}
{$theme_settings.lazyloading = $lazyloading2}
{/if}
{/if}

{capture name="extra_js"}
<script type="text/javascript" src="{$wa_static_url}wa-content/js/jquery-ui/jquery.ui.core.min.js"></script>
<script type="text/javascript" src="{$wa_static_url}wa-content/js/jquery-ui/jquery.ui.widget.min.js"></script>
<script type="text/javascript" src="{$wa_static_url}wa-content/js/jquery-ui/jquery.ui.mouse.min.js"></script>
<script type="text/javascript" src="{$wa_static_url}wa-content/js/jquery-ui/jquery.ui.slider.min.js"></script>
<script type="text/javascript" src="{$wa_active_theme_url}filter.js"></script>
{/capture}
<div class="wrap category-content">
    <div class="sidebar category-sidebar left240px">
        {include file="sidebar.html"}
    </div>
    <div class="content left260px">
        <h1 class="category-name">
            {$category.name|escape}
        </h1>

        <!-- plugin hook: 'frontend_category' -->
        {* @event frontend_category.%plugin_id% *}
        {foreach $frontend_category as $plugin_name => $_}
        {if !$theme_settings.productsperpage_plugin || ($theme_settings.productsperpage_plugin && $plugin_name !== 'productsperpage-plugin')}
            {$_}
        {/if}
        {/foreach}

        <!-- description -->
        {if $category.description}
        <p>{$category.description}</p>
        {/if}
        {$categories = $wa->shop->categories($category.id, null, true)}
        
        <div id="product-list">
            {if !$products}
            {if !empty($filters)}
            [`No products were found.`]
            {else}
            [`This category does not contain any products.`]
            {/if}
            {else}
            {if isset($theme_settings.default_view) && $theme_settings.default_view == 'table'}
            {include file='list-table.html' sorting=!empty($category.params.enable_sorting) is_category=1}
            {else}
            {include file='list-thumbs.html' sorting=!empty($category.params.enable_sorting) is_category=1}
            {/if}
            {/if}
        </div>
    </div>
    <div class="clear-both"></div>
</div>