<div class="checkout-content" data-step-id="confirmation">

    {if !empty($error)}
        <div class="checkout-result error">{$error}</div>
    {else}
    
        <h3>[`Ship to`]</h3
        <p>{$contact.name|escape}<br>
        {$shipping_address.value}</p>
    
        {if $billing_address}
            <h3>[`Bill to`]</h3>
            <p>{$contact.name|escape}<br>
            {$billing_address.value}</p>
        {/if}
    
        <table class="table">
            <tr>
                <th></th>
                <th class="align-right"><span class="non-mobile-only">[`Quantity`]</span></th>
                {if $tax > 0}
                    <th class="align-right">[`Tax`]</th>
                {/if}
                <th class="align-right">[`Total`]</th>
            </tr>
            {foreach $items as $item}
            <tr{if $item.type == 'service'} class="service"{/if}>
                <td>{if $item.type == 'service'}+ {/if}{$item.name|escape}</td>
                <td class="align-right nowrap"><span class="gray">{if $theme_settings.ruble == 'html'}{shop_currency_html($item.price, $item.currency)}{else}{shop_currency($item.price, $item.currency)}{/if} &times;</span> {$item.quantity}</td>
                {if $tax > 0} 
                    <td class="align-right nowrap">{if isset($item.tax)}{if $theme_settings.ruble == 'html'}{shop_currency_html($item.tax, true)}{else}{shop_currency($item.tax, true)}{/if}{else}&ndash;{/if}</td>
                {/if}
                <td class="align-right nowrap">{if $theme_settings.ruble == 'html'}{shop_currency_html($item.price * $item.quantity, $item.currency)}{else}{shop_currency($item.price * $item.quantity, $item.currency)}{/if}</td>
            </tr>
            {/foreach}
            {if $tax > 0}{$colspan=3}{else}{$colspan=2}{/if}
            <tr class="no-border thin">
                <td colspan="{$colspan}" class="align-right">[`Subtotal`]</td>
                <td class="align-right nowrap">{if $theme_settings.ruble == 'html'}{shop_currency_html($subtotal, true)}{else}{shop_currency($subtotal, true)}{/if}</td>
            </tr>
            <tr class="no-border thin">
                <td colspan="{$colspan}" class="align-right">[`Discount`]</td>
                <td class="align-right nowrap">&minus; {if $theme_settings.ruble == 'html'}{shop_currency_html($discount, true)}{else}{shop_currency($discount, true)}{/if}</td>
            </tr>
            <tr class="no-border thin">
                <td colspan="{$colspan}" class="align-right">[`Shipping`]{if !empty($params.shipping_name)} &mdash; <strong>{$params.shipping_name}</strong>{/if}</td>
                <td class="align-right nowrap">{if $theme_settings.ruble == 'html'}{shop_currency_html($shipping, true)}{else}{shop_currency($shipping, true)}{/if}</td>
            </tr>
            {if $tax > 0}
            <tr class="no-border thin">
                <td colspan="{$colspan}" class="align-right">[`Tax`]</td>
                <td class="align-right nowrap">{if $theme_settings.ruble == 'html'}{shop_currency_html($tax, true)}{else}{shop_currency($tax, true)}{/if}</td>
            </tr>
            {/if}
            <tr class="no-border thin large">
                <td colspan="{$colspan}" class="align-right"><b>[`Total`]</b></td>
                <td class="align-right bold nowrap">{if $theme_settings.ruble == 'html'}{shop_currency_html($total, true)}{else}{shop_currency($total, true)}{/if}</td>
            </tr>
        </table>
        
        [`Comment`]<br>
        <textarea class="comment" name="comment"></textarea>
    
        {if !empty($terms)}
        <br>
        {if waRequest::method() == 'post' && !$wa->post('terms')}
            <p class="error">[`You must read and agree to the Terms of service to place an order.`]</p>
        {/if}
        <label><input type="checkbox" name="terms" value="1"> {sprintf('[`I have read and agree to the <a href="%s" target="_blank">Terms of service</a>`]', $wa->getUrl('/frontend/checkout', ['step' => 'confirmation'])|cat:'?terms=1')}</label>
        {/if}
    
    {/if}

    <!-- plugin hook: 'frontend_checkout' -->
    {* @event frontend_checkout.%plugin_id% *}
    {foreach $frontend_checkout as $_}{$_}{/foreach}

</div>