<div class="wrap compare-page">
    {$wa->title('[`Compare products`]')}
    <script type="text/javascript" src="{$wa_static_url}wa-content/js/jquery-plugins/jquery.cookie.js"></script>
    <h1>[`Compare products`]</h1>

    <script>
        $(function() {
            $("#compare-all").click(function() {
                $("#compare-table tr.same").show();
                $(this).closest('ul').find('li.selected').removeClass('selected');
                $(this).parent().addClass('selected');
                return false;
            });
            $("#compare-diff").click(function() {
                $("#compare-table tr.same").hide();
                $(this).closest('ul').find('li.selected').removeClass('selected');
                $(this).parent().addClass('selected');
                return false;
            });
            $(".compare-remove").on('click', function() {
                var compare = $.cookie('shop_compare');
                if (compare) {
                    compare = compare.split(',');
                } else {
                    compare = [];
                }
                var i = $.inArray($(this).data('product') + '', compare);
                if (i != -1) {
                    compare.splice(i, 1)
                }
                
                if (compare.length) {
                    $.cookie('shop_compare', compare.join(','), { expires: 30, path: $.multishop.shopUrl });
                } else {
                    $.cookie('shop_compare', '', { expires: 30, path: $.multishop.shopUrl });
                    location.href = "{$wa->getUrl('shop/frontend')}";
                    return false;
                }
            });
        });
    </script>

    {$td_width = round((100-25)/count($products))}
    <table id="compare-table" class="compare">
        <tr>
            <th>    
                {*
                uncomment for all/different only toggle
        <ul class="menu-h">
            <li class="selected"><a id="compare-all" href="#" class="inline-link"><b><i>[`All features`]</i></b></a></li>
            <li><a id="compare-diff" href="#" class="inline-link"><b><i>[`Different`]</i></b></a></li>
        </ul>        
        *}
        </th>
        {foreach $products as $p}
        <td width="{$td_width}%">
            <a href="{$wa->getUrl('/frontend/product/', ['product_url' => $p.url])}" class="no-underline">
                {$wa->shop->productImgHtml($p, '96x0', ['itemprop' => 'image', 'id' => 'product-image', 'default' => "`$wa_theme_url`img/dummy96.jpg", 'title' => $p.name|cat:' ':strip_tags($p.summary)|escape])}
                <u>{$p.name}</u>
            </a>
            <br><br>
            <a data-product="{$p.id}" class="compare-remove" href="{$p.delete_url}" title="[`Remove from comparison list`]"><i class="icon16 ig close-bw"></i> [`Delete`]</a>
        </td>
        {/foreach}
        </tr>
        <tr class="div">
            <th>[`Price`]</th>
            {foreach $products as $p}
            <td width="{$td_width}%">
                <span class="price nowrap">{if $theme_settings.ruble == 'html'}{shop_currency_html($p.price)}{else}{shop_currency($p.price)}{/if}</span>
            </td>
            {/foreach}
        </tr>
        {foreach $features as $f_id=>$f}
        <tr {if $f@iteration % 2 == '0'}class="div"{/if}>
            <th>{$f.name}</th>
            {foreach $products as $p}
            <td>
                {if isset($p.features[$f_id])}
                {if is_array($p.features[$f_id])}
                {implode(', ', $p.features[$f_id])}
                {else}
                {$p.features[$f_id]|escape}
                {/if}
                {else}
                <span class="gray">&mdash;</span>
                {/if}
            </td>
            {/foreach}
        </tr>
        {/foreach}
    </table>
</div>