<div class="wrap" {if !isset($breadcrumbs) && !$frontend_header}style="display: none"{/if}>
    <!-- plugin hook: 'frontend_header' -->
    {* @event frontend_header.%plugin_id% *}
    {foreach $frontend_header as $_}{$_}{/foreach}            
        
    <!-- navigation breadcrumbs -->
    {if isset($breadcrumbs)}
        <div class="breadcrumbs">
            <a href="{$wa_app_url}">{$wa->accountName()}</a>
            {if $breadcrumbs}
                {foreach $breadcrumbs as $breadcrumb}
                    <i class="icon16 th rarr-active"></i> <a href="{$breadcrumb.url}">{$breadcrumb.name|escape}</a>
                {/foreach}
            {else} <i class="icon16 th rarr-active"></i> {/if}
        </div>
    {/if}
</div>
<!-- current page core content -->
{$content}

<div class="clear-both"></div>   

<!-- plugin hook: 'frontend_footer' -->
{* @event frontend_footer.%plugin_id% *}
{foreach $frontend_footer as $_}{$_}{/foreach}