@media only screen and (min-width: 1280px) {
    ul.thumbs li { margin-right: 24px; }
    .product-info { margin-left: 430px; }
    .product-page .skus label { width: 500px; }
    .product-info > .content { width: 600px; }
    .content.with-sidebar { width: 1100px; }
    .slider-custom .product-list li { margin-right: 19px; margin-left: 0; }
    .news-block article.even, .news-block article { margin-right: 20px; }
    .news-block img, .news-block article { width: 230px; }
    .news-block article.div3 { margin-right: 0; }
    .with-sidebar .cart-cell.cart-item { width: 670px; }
    .cart-cell.cart-item { width: 850px; }
}
@media only screen and (max-width: 980px) {
    ul.thumbs li { margin-right: 28px; }
    ul.table .description { font-size: 12px; }
    ul.table .price { font-size: 16px; }
    ul.table .compare-price { font-size: 12px; }
    .promo .compare-at-price { font-size: 18px; }
    .promo a .info { width: 60%; }
    .promo .price { font-size: 20px; }
    .promo a .info p { font-size: 1em; }
    .product-info > .content { width: 370px; }
    .product-info .all-price { clear: both; }
    .product-page .skus label { width: 265px; }
    .sidebar.related, .cart-page .sidebar { display: none; }
    .content.with-sidebar { width: inherit; }
    .product-info .favourite { margin-left: 9px; }
    .content.main-page { margin-left: 470px; }
    .sidebar.main-page { padding-right: 15px; }
    .sidebar.left500px.main-page { width: 440px; }
    .cart-cell.cart-item { width: 310px; }
    .footer.big .copyright { right: 0; }
    .news-block img, .news-block article { width: 245px; }
}
@media only screen and (max-width: 740px) {
    .promo a .info { width: 80%; }
    .sidebar.left500px.main-page { float: none; width: inherit; padding-right: 0; border-right: 0; }
    .content.main-page.left500px { margin: 0; padding: 0 10px; }
    #main .category-sidebar { display: none; }
    #mobilebar .category-sidebar { float: none; }
    #main .content.left260px { margin-left: 0; }
    ul.thumbs { padding-left: 5px; }
    #product-list ul.thumbs li { margin-left: 15px; }
    .product-page .images { margin: 0; float: none; }
    .product-page .images .image { margin: 0 auto; }
    .product-info { margin: 0; }
    .product-info > .content { margin: 0 auto; float: none; }
    .product-info > .content h1 { text-align: center; }
    .cart-cell { display: block; text-align: center; }
    .cart-cell.cart-item, .cart-page .quantity, .item-total { width: inherit; }
    .slider-custom ul.thumbs li { margin-left: 60px; margin-right: 69px; }
    .cart-sheet.fixed { right: 30px; }
    .banner-home { display: none; }
    .news-block article.div3 { margin-right: 0; }
    .news-block article.even, .news-block article { margin-right: 15px; }
    .content.with-sidebar.float-left { float: none; }
}
@media only screen and (max-width: 600px) {
    .slider-custom ul.thumbs li { margin-left: 40px; margin-right: 37px; }
}
@media only screen and (max-width: 530px) {
    .slider-custom ul.thumbs li { margin-left: 22px; margin-right: 23px; }
}
@media only screen and (max-width: 480px) {
    ul.thumbs, ul.table { text-align: center; }
    ul.thumbs li { float: none; }
    .slider-custom ul.thumbs li { float: left; margin-left: 5px; margin-right: 28px; }
    #product-list ul.thumbs li { margin: 0 auto; }
    .product-list.table .active-icons.table { display: none; }

    ul.table li { float: none; border-bottom: none; text-align: center; width: 200px; height: 360px; padding: 0; margin: 0 25px 0 0; position: relative; display: block\9; float: left\9; height: 392px\9; /* IE8- hack */ }
    ul.table .short-info  { width: inherit; position: relative; bottom: 0; left: 0; }
    ul.table li:hover { -webkit-box-shadow: 0 0 3px 0 #b7b7b7; -moz-box-shadow: 0 0 3px 0 #b7b7b7; box-shadow: 0 0 3px 0 #b7b7b7; }
    ul.table input[type="submit"] { bottom: 0; }
    #product-list ul.table li { margin: 0 auto; display: inline-block; vertical-align: top; float: none; }
    ul.table .table { display: none; }
    ul.table .thumbs { display: block; }
    ul.table .rating { margin-top: 2px; }
    ul.table .image { width: 200px; height: 245px; overflow: hidden; position: relative; padding-bottom: 15px; border: none; }
    ul.table h5 { font-size: 13px; font-weight: normal; margin: 10px 0 5px; }
    .cart-sheet.fixed { right: auto; left: 0; }
}
@media only screen and (max-width: 450px) {
    .dialog-window .cart { width: inherit; margin: 5px; }
    .promo a .info h2 { font-size: 10px; }
    .promo .compare-at-price { font-size: 8px; }
    .promo .price { font-size: 10px; }
    .promo a .info p { font-size: 8px; }
    .product-info > .content { width: 300px; }
    .product-page .skus label { width: 210px; }
    #dialog .skus label { width: 165px; }
    .add2cart .quantity { float: none; }
    .cart-page .checkout .button.grey, .cart-page .checkout input[type='submit'] { width: inherit; display: block; float: none; }
    .cart-page .checkout input[type='submit'] { width: 100%; margin-top: 10px; }
}
@media only screen and (max-width: 320px) {
    .cart-sheet.fixed { display: none; }
}