.main-page h3 { border-bottom: 1px solid #dadada; }
.sidebar .bx-wrapper{ margin-bottom: 0; }
.sidebar .bx-wrapper .bx-viewport { padding-bottom: 0; }
.sidebar h4 { text-align: center; }
.sidebar.main-page { padding: 0 10px; }
.sidebar.main-page img { max-width: 100%; }
.content.with-sidebar { width: 810px; }
span.ruble { font-weight: 400; }
/*Homepage*/
.promo { margin-bottom: 10px; }
.promo a { display: block; height: 350px; position: relative; text-decoration: none; }
.promo a .image { position: absolute; right: 0; top: 0; }
.promo a .image .corner.right { right: 60px; }
.promo a .image .corner.top { top: 30px; }
.promo a .info { position: absolute; top: 10px; left: 75px; width: 70%; z-index: 10; }
.promo a .info h2 { font-size: 20px; font-weight: bold; color: #000; line-height: 1.5em; margin-bottom: 0; text-shadow: 0 1px 1px #fff; }
.promo a .info p { color: #222; font-size: 1.1em; text-shadow: 0 1px 1px #fff; margin-top: 20px; }
.promo .compare-at-price { font-size: 22px; }
.promo .price { font-size: 26px; }
.promo .bx-wrapper { margin: 0 auto; direction: ltr; }
.promo .bx-wrapper .bx-viewport { border: none; box-shadow: none; left: 0; }
.promo .bx-wrapper .bx-pager,
.promo .bx-wrapper .bx-controls-auto { bottom: 20px; }
.promo .bx-wrapper .bx-controls-direction a { display: none; opacity: 0.7; }
.promo:hover .bx-wrapper .bx-controls-direction a { display: block; }
.promo-countdown { text-align: center; }
.promo-countdown .colorDefinition { background: #999; padding: 2px; color : #fff; }
.promo-countdown .size_xl { font-size: 2em; }
.promo-countdown .size_lg { font-size: 1.8em; }
.promo-countdown .size_md { font-size: 1.5em; }
.promo-countdown .size_sm { font-size: 1.2em; }
.promo-countdown .size_xs { font-size: 1em; }
/*Product*/
.product-page .images { float: left; margin-right: 15px; margin-left: 10px; margin-bottom: 10px; }
.product-page .images .image { width: 320px; position: relative; padding-bottom: 10px;  }
.product-page .images .image:after { position: absolute; bottom: 10px; right: 0; width: 34px; height: 34px; background: url("img/loop.png") no-repeat; content: ''; }
.product-page .images .image img { border: 1px solid #cbcbcb; }
.product-page .images .image img { position: relative; left: 0; top: 0; max-width: 320px; }
.product-page .images .jcarousel-container { z-index: 101; }
.product-page .product-info .stock-high { font-size: 16px; }
.product-page .sidebar.related .button.grey { border: 1px solid #B6B6B6; width: inherit; height: 20px; line-height: 1; }
.product-page .bx-wrapper { right: 1px; }
.related h4 { color: #01c7c3; margin-left: 10px; }
.product-info { margin-left: 365px; }
.product-info .stocks { margin: 20px 0 20px -2px; }
.product-info h1 { font-size: 20px; font-weight: bold; }
.product-info .rating { margin-bottom: 10px; }
.product-info .rating-review { margin-left: 15px; margin-top: 0.2em; display: inline-block; }
.product-info .reviews-count { position: relative; margin-left: 10px; }
.product-info .reviews-count:before { content: ''; width: 1px; height: 13px; position: absolute; background: #9598a7; left: -7px; top: 3px; }
.product-info .add2cart .quantity { margin-right: 75px; width: 200px; }
.product-info .add2cart .quantity a { display: inline-block; vertical-align: middle; bottom: 3px; position: relative; }
.product-info > .content { float: left; width: 450px; }
.product-info .favourite a { text-decoration: none; }
.product-info .favourite { display: inline-block; margin-left: 9px; margin-bottom: 5px; }

table.rating-distribution td { padding: 2px 15px 2px 0; border: none; }
table.rating-distribution td .bar { background: #eee; width: 200px; height: 13px; }
table.rating-distribution td .bar .filling { background-color: #01C7C3; height: 13px; }

.options { line-height: 2em; }
.options .inline-select { margin-bottom: 15px; }
.options .inline-select a { border: 1px solid #a5a4a4; color: #fff; margin: 0 5px 5px 0; display: inline-block; padding: 3px 7px; background: #5c6371; text-decoration: none; font-weight: bold; position: relative; min-width: 22px; text-align: center; }
.options .inline-select a:hover { background-color: rgba(0,0,0,0.2); color: #fff; }
.options .inline-select a .color_name { display: none; position: absolute; bottom: -22px; left: 50%; font-size: 0.6em; color: rgba(0,0,0,0.7); margin-left: -40px; width: 80px; }
.options .inline-select a.selected { border-width: 3px; border-style: solid; border-color: #01C7C3; color: #000 !important; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); }
.options .inline-select a.selected.not-color-block { background: #ffffff; /* Old browsers */ background: -moz-linear-gradient(top, #ffffff 0%, #ededed 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ededed)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #ffffff 0%,#ededed 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #ffffff 0%,#ededed 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, #ffffff 0%,#ededed 100%); /* IE10+ */ background: linear-gradient(to bottom, #ffffff 0%,#ededed 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */ }
.options .inline-select a.selected .color_name { display: block; background: none; }

.cart input[type='submit'].theme { border: 1px solid #05a19d; background: rgb(97,236,227); background-image: url("img/cart.png"), -moz-linear-gradient(top,  rgba(97,236,227,1) 0%, rgba(58,197,189,1) 100%); background-image: url("img/cart.png"), -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(97,236,227,1)), color-stop(100%,rgba(58,197,189,1))); background-image: url("img/cart.png"), -webkit-linear-gradient(top,  rgba(97,236,227,1) 0%,rgba(58,197,189,1) 100%); background-image: url("img/cart.png"), -o-linear-gradient(top,  rgba(97,236,227,1) 0%,rgba(58,197,189,1) 100%); background-image: url("img/cart.png"), -ms-linear-gradient(top,  rgba(97,236,227,1) 0%,rgba(58,197,189,1) 100%); background-image: url("img/cart.png"), linear-gradient(to bottom,  rgba(97,236,227,1) 0%,rgba(58,197,189,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61ece3', endColorstr='#3ac5bd',GradientType=0 ); background-position: right center; background-repeat: no-repeat; }
.cart input[type='submit'].theme:hover,
.multishop-pink .cart input[type='submit'].theme:hover,
.multishop-green .cart input[type='submit'].theme:hover,
.multishop-blue .cart input[type='submit'].theme:hover,
.multishop-purple .cart input[type='submit'].theme:hover,
.multishop-black .cart input[type='submit'].theme:hover, 
.multishop-white .cart input[type='submit'].theme:hover,
.multishop-emerald .cart input[type='submit'].theme:hover,
.multishop-orange .cart input[type='submit'].theme:hover,
.multishop-red .cart input[type='submit'].theme:hover,
.multishop-red2 .cart input[type='submit'].theme:hover,
.multishop-lightpurple .cart input[type='submit'].theme:hover,
.multishop-blindblue .cart input[type='submit'].theme:hover { color: #fff; border: 1px solid #C3C5C9; background: rgb(133,133,148); background-position: right center; background-repeat: no-repeat; background-image: url("img/cart-white.png"), -moz-linear-gradient(top,  rgba(133,133,148,1) 0%, rgba(90,90,106,1) 100%); background-image: url("img/cart-white.png"), -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(133,133,148,1)), color-stop(100%,rgba(90,90,106,1))); background-image: url("img/cart-white.png"), -webkit-linear-gradient(top,  rgba(133,133,148,1) 0%,rgba(90,90,106,1) 100%); background-image: url("img/cart-white.png"), -o-linear-gradient(top,  rgba(133,133,148,1) 0%,rgba(90,90,106,1) 100%); background-image: url("img/cart-white.png"), -ms-linear-gradient(top,  rgba(133,133,148,1) 0%,rgba(90,90,106,1) 100%); background-image: url("img/cart-white.png"), linear-gradient(to bottom,  rgba(133,133,148,1) 0%,rgba(90,90,106,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#858594', endColorstr='#5a5a6a',GradientType=0 ); }
.cart input[type='submit'].theme:active,
.multishop-pink .cart input[type='submit'].theme:active,
.multishop-green .cart input[type='submit'].theme:active,
.multishop-blue .cart input[type='submit'].theme:active,
.multishop-purple .cart input[type='submit'].theme:active,
.multishop-black .cart input[type='submit'].theme:active, 
.multishop-white .cart input[type='submit'].theme:active,
.multishop-emerald .cart input[type='submit'].theme:active,
.multishop-orange .cart input[type='submit'].theme:active,
.multishop-red .cart input[type='submit'].theme:active,
.multishop-red2 .cart input[type='submit'].theme:active,
.multishop-lightpurple .cart input[type='submit'].theme:active,
.multishop-blindblue .cart input[type='submit'].theme:active { background: rgb(74,74,87); background-position: right center; background-repeat: no-repeat; background-image: url("img/cart-white.png"), -moz-linear-gradient(top,  rgba(74,74,87,1) 0%, rgba(121,121,135,1) 100%); background-image: url("img/cart-white.png"), -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(74,74,87,1)), color-stop(100%,rgba(121,121,135,1))); background-image: url("img/cart-white.png"), -webkit-linear-gradient(top,  rgba(74,74,87,1) 0%,rgba(121,121,135,1) 100%); background-image: url("img/cart-white.png"), -o-linear-gradient(top,  rgba(74,74,87,1) 0%,rgba(121,121,135,1) 100%); background-image: url("img/cart-white.png"), -ms-linear-gradient(top,  rgba(74,74,87,1) 0%,rgba(121,121,135,1) 100%); background-image: url("img/cart-white.png"), linear-gradient(to bottom,  rgba(74,74,87,1) 0%,rgba(121,121,135,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a4a57', endColorstr='#797987',GradientType=0 ); }
.cart input[type='submit'].theme:disabled,
.multishop-pink .cart input[type='submit'].theme:disabled,
.multishop-green .cart input[type='submit'].theme:disabled,
.multishop-blue .cart input[type='submit'].theme:disabled,
.multishop-purple .cart input[type='submit'].theme:disabled,
.multishop-black .cart input[type='submit'].theme:disabled, 
.multishop-white .cart input[type='submit'].theme:disabled,
.multishop-emerald .cart input[type='submit'].theme:disabled,
.multishop-orange .cart input[type='submit'].theme:disabled,
.multishop-red .cart input[type='submit'].theme:disabled,
.multishop-red2 .cart input[type='submit'].theme:disabled,
.multishop-lightpurple .cart input[type='submit'].theme:disabled,
.multishop-blindblue .cart input[type='submit'].theme:disabled { color: #3D3F41; background: url("img/cart.png") right center no-repeat #f1f1f1; }

.multishop-pink .cart input[type='submit'].theme { color: #fff; border: 1px solid #d1225c; background: rgb(238,67,124); background-image: url("img/cart-white.png"), -moz-linear-gradient(top,  rgba(238,67,124,1) 0%, rgba(219,48,105,1) 100%); background-image: url("img/cart-white.png"), -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,67,124,1)), color-stop(100%,rgba(219,48,105,1))); background-image: url("img/cart-white.png"), -webkit-linear-gradient(top,  rgba(238,67,124,1) 0%,rgba(219,48,105,1) 100%); background-image: url("img/cart-white.png"), -o-linear-gradient(top,  rgba(238,67,124,1) 0%,rgba(219,48,105,1) 100%); background-image: url("img/cart-white.png"), -ms-linear-gradient(top,  rgba(238,67,124,1) 0%,rgba(219,48,105,1) 100%); background-image: url("img/cart-white.png"), linear-gradient(to bottom,  rgba(238,67,124,1) 0%,rgba(219,48,105,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee437c', endColorstr='#db3069',GradientType=0 ); background-position: right center; background-repeat: no-repeat; }
.multishop-green .cart input[type='submit'].theme { color: #01304b; border: 1px solid #7cc203; background:rgb(165,235,42); background-image: url("img/cart.png"), -moz-linear-gradient(top,  rgba(165,235,42,1) 0%, rgba(146,216,23,1) 100%); background-image: url("img/cart.png"), -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(165,235,42,1)), color-stop(100%,rgba(146,216,23,1))); background-image: url("img/cart.png"), -webkit-linear-gradient(top,  rgba(165,235,42,1) 0%,rgba(146,216,23,1) 100%); background-image: url("img/cart.png"), -o-linear-gradient(top,  rgba(165,235,42,1) 0%,rgba(146,216,23,1) 100%); background-image: url("img/cart.png"), -ms-linear-gradient(top,  rgba(165,235,42,1) 0%,rgba(146,216,23,1) 100%); background-image: url("img/cart.png"), linear-gradient(to bottom,  rgba(165,235,42,1) 0%,rgba(146,216,23,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5eb2a', endColorstr='#92d817',GradientType=0 ); background-position: right center; background-repeat: no-repeat; } 
.multishop-blue .cart input[type='submit'].theme { color: #fff; border: 1px solid #008bb3; background: rgb(36,184,227); background-image: url("img/cart-white.png"), -moz-linear-gradient(top,  rgba(36,184,227,1) 0%, rgba(17,165,207,1) 100%); background-image: url("img/cart-white.png"), -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(36,184,227,1)), color-stop(100%,rgba(17,165,207,1))); background-image: url("img/cart-white.png"), -webkit-linear-gradient(top,  rgba(36,184,227,1) 0%,rgba(17,165,207,1) 100%); background-image: url("img/cart-white.png"), -o-linear-gradient(top,  rgba(36,184,227,1) 0%,rgba(17,165,207,1) 100%); background-image: url("img/cart-white.png"), -ms-linear-gradient(top,  rgba(36,184,227,1) 0%,rgba(17,165,207,1) 100%); background-image: url("img/cart-white.png"), linear-gradient(to bottom,  rgba(36,184,227,1) 0%,rgba(17,165,207,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#24b8e3', endColorstr='#11a5cf',GradientType=0 ); background-position: right center; background-repeat: no-repeat; }
.multishop-purple .cart input[type='submit'].theme { color: #fff; border: 1px solid #7d448c; background: rgb(155,105,168); background-image: url("img/cart-white.png"), -moz-linear-gradient(top,  rgba(155,105,168,1) 0%, rgba(136,86,149,1) 100%); background-image: url("img/cart-white.png"), -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(155,105,168,1)), color-stop(100%,rgba(136,86,149,1))); background-image: url("img/cart-white.png"), -webkit-linear-gradient(top,  rgba(155,105,168,1) 0%,rgba(136,86,149,1) 100%); background-image: url("img/cart-white.png"), -o-linear-gradient(top,  rgba(155,105,168,1) 0%,rgba(136,86,149,1) 100%); background-image: url("img/cart-white.png"), -ms-linear-gradient(top,  rgba(155,105,168,1) 0%,rgba(136,86,149,1) 100%); background-image: url("img/cart-white.png"), linear-gradient(to bottom,  rgba(155,105,168,1) 0%,rgba(136,86,149,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b69a8', endColorstr='#885695',GradientType=0 ); background-position: right center; background-repeat: no-repeat; }
.multishop-black .cart input[type='submit'].theme, 
.multishop-white .cart input[type='submit'].theme { border: 1px solid #3d3f41; color: #3d3f41; background:rgb(253,253,254); background-image: url("img/cart.png"), -moz-linear-gradient(top,  rgba(253,253,254,1) 0%, rgba(219,219,220,1) 100%); background-image: url("img/cart.png"), -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(253,253,254,1)), color-stop(100%,rgba(219,219,220,1))); background-image: url("img/cart.png"), -webkit-linear-gradient(top,  rgba(253,253,254,1) 0%,rgba(219,219,220,1) 100%); background-image: url("img/cart.png"), -o-linear-gradient(top,  rgba(253,253,254,1) 0%,rgba(219,219,220,1) 100%); background-image: url("img/cart.png"), -ms-linear-gradient(top,  rgba(253,253,254,1) 0%,rgba(219,219,220,1) 100%); background-image: url("img/cart.png"), linear-gradient(to bottom,  rgba(253,253,254,1) 0%,rgba(219,219,220,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfe', endColorstr='#dbdbdc',GradientType=0 ); background-position: right center; background-repeat: no-repeat; }
.multishop-emerald .cart input[type='submit'].theme { color: #384045; border: 1px solid #05ab6a; background:rgb(62,232,166); background-image: url("img/cart.png"), -moz-linear-gradient(top,  rgba(62,232,166,1) 0%, rgba(43,213,146,1) 100%); background-image: url("img/cart.png"), -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(62,232,166,1)), color-stop(100%,rgba(43,213,146,1))); background-image: url("img/cart.png"), -webkit-linear-gradient(top,  rgba(62,232,166,1) 0%,rgba(43,213,146,1) 100%); background-image: url("img/cart.png"), -o-linear-gradient(top,  rgba(62,232,166,1) 0%,rgba(43,213,146,1) 100%); background-image: url("img/cart.png"), -ms-linear-gradient(top,  rgba(62,232,166,1) 0%,rgba(43,213,146,1) 100%); background-image: url("img/cart.png"), linear-gradient(to bottom,  rgba(62,232,166,1) 0%,rgba(43,213,146,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ee8a6', endColorstr='#2bd592',GradientType=0 ); background-position: right center; background-repeat: no-repeat; }
.multishop-orange .cart input[type='submit'].theme { color: #fff; border: 1px solid #db7304; background: rgb(252,171,28); background-image: url("img/cart-white.png"), -moz-linear-gradient(top,  rgba(252,171,28,1) 0%, rgba(243,157,16,1) 100%); background-image: url("img/cart-white.png"), -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,171,28,1)), color-stop(100%,rgba(243,157,16,1))); background-image: url("img/cart-white.png"), -webkit-linear-gradient(top,  rgba(252,171,28,1) 0%,rgba(243,157,16,1) 100%); background-image: url("img/cart-white.png"), -o-linear-gradient(top,  rgba(252,171,28,1) 0%,rgba(243,157,16,1) 100%); background-image: url("img/cart-white.png"), -ms-linear-gradient(top,  rgba(252,171,28,1) 0%,rgba(243,157,16,1) 100%); background-image: url("img/cart-white.png"), linear-gradient(to bottom,  rgba(252,171,28,1) 0%,rgba(243,157,16,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcab1c', endColorstr='#f39d10',GradientType=0 ); background-position: right center; background-repeat: no-repeat; }
.multishop-red .cart input[type='submit'].theme { color: #fff; border: 1px solid #c90227; background: rgb(253,47,86); background-image: url("img/cart-white.png"), -moz-linear-gradient(top,  rgba(253,47,86,1) 0%, rgba(234,28,67,1) 100%); background-image: url("img/cart-white.png"), -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(253,47,86,1)), color-stop(100%,rgba(234,28,67,1))); background-image: url("img/cart-white.png"), -webkit-linear-gradient(top,  rgba(253,47,86,1) 0%,rgba(234,28,67,1) 100%); background-image: url("img/cart-white.png"), -o-linear-gradient(top,  rgba(253,47,86,1) 0%,rgba(234,28,67,1) 100%); background-image: url("img/cart-white.png"), -ms-linear-gradient(top,  rgba(253,47,86,1) 0%,rgba(234,28,67,1) 100%); background-image: url("img/cart-white.png"), linear-gradient(to bottom,  rgba(253,47,86,1) 0%,rgba(234,28,67,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd2f56', endColorstr='#ea1c43',GradientType=0 ); background-position: right center; background-repeat: no-repeat; }
.multishop-red2 .cart input[type='submit'].theme { color: #fff; border: 1px solid #d10101; background: rgb(254,40,40); background-image: url("img/cart-white.png"), -moz-linear-gradient(top,  rgba(254,40,40,1) 0%, rgba(241,8,8,1) 100%); background-image: url("img/cart-white.png"), -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,40,40,1)), color-stop(100%,rgba(241,8,8,1))); background-image: url("img/cart-white.png"), -webkit-linear-gradient(top,  rgba(254,40,40,1) 0%,rgba(241,8,8,1) 100%); background-image: url("img/cart-white.png"), -o-linear-gradient(top,  rgba(254,40,40,1) 0%,rgba(241,8,8,1) 100%); background-image: url("img/cart-white.png"), -ms-linear-gradient(top,  rgba(254,40,40,1) 0%,rgba(241,8,8,1) 100%); background-image: url("img/cart-white.png"), linear-gradient(to bottom,  rgba(254,40,40,1) 0%,rgba(241,8,8,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe2828', endColorstr='#f10808',GradientType=0 ); background-position: right center; background-repeat: no-repeat; }
.multishop-lightpurple .cart input[type='submit'].theme { color: #fff; border: 1px solid #8f688e; background: rgb(189,165,189); background-image: url("img/cart-white.png"), -moz-linear-gradient(top,  rgba(189,165,189,1) 0%, rgba(170,146,170,1) 100%); background-image: url("img/cart-white.png"), -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(189,165,189,1)), color-stop(100%,rgba(170,146,170,1))); background-image: url("img/cart-white.png"), -webkit-linear-gradient(top,  rgba(189,165,189,1) 0%,rgba(170,146,170,1) 100%); background-image: url("img/cart-white.png"), -o-linear-gradient(top,  rgba(189,165,189,1) 0%,rgba(170,146,170,1) 100%); background-image: url("img/cart-white.png"), -ms-linear-gradient(top,  rgba(189,165,189,1) 0%,rgba(170,146,170,1) 100%); background-image: url("img/cart-white.png"), linear-gradient(to bottom,  rgba(189,165,189,1) 0%,rgba(170,146,170,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bda5bd', endColorstr='#aa92aa',GradientType=0 ); background-position: right center; background-repeat: no-repeat; }  
.multishop-blindblue .cart input[type='submit'].theme { color: #fff; border: 1px solid #5067b7; background: rgb(141,156,213); background-image: url("img/cart-white.png"), -moz-linear-gradient(top,  rgba(141,156,213,1) 0%, rgba(122,137,194,1) 100%); background-image: url("img/cart-white.png"), -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(141,156,213,1)), color-stop(100%,rgba(122,137,194,1))); background-image: url("img/cart-white.png"), -webkit-linear-gradient(top,  rgba(141,156,213,1) 0%,rgba(122,137,194,1) 100%); background-image: url("img/cart-white.png"), -o-linear-gradient(top,  rgba(141,156,213,1) 0%,rgba(122,137,194,1) 100%); background-image: url("img/cart-white.png"), -ms-linear-gradient(top,  rgba(141,156,213,1) 0%,rgba(122,137,194,1) 100%); background-image: url("img/cart-white.png"), linear-gradient(to bottom,  rgba(141,156,213,1) 0%,rgba(122,137,194,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8d9cd5', endColorstr='#7a89c2',GradientType=0 ); background-position: right center; background-repeat: no-repeat; } 

.cart .compare { margin: 20px 0; }
.cart .compare a { text-decoration: none; }
#product-tabs { font-family: Tahoma; margin-top: 5px; font-size: 13px; clear: both; width: 100%; height: 40px; background: #ecf0f1; }
#product-tabs li { height: 40px; margin: 0; float: left; position: relative; }
#product-tabs li.selected:after { content: ''; position: absolute; left: 0; bottom: 0; height: 3px; width: 100%; background: #525968; }
#product-tabs li.selected:before { content: ''; position: absolute; left: 42%; bottom: -8px; width: 0; height: 0; z-index: 7; border-left: 7px solid transparent; border-right: 7px solid transparent; border-top: 10px solid #525968;  }
#product-tabs li:hover { background: #d8ddde; }
#product-tabs li.selected { background: #d8ddde; }
#product-tabs li a { background: none; padding: 0 10px; color: #0e0500; line-height: 300%; }
#product-tabs li.selected a { background: #d8ddde; }
#tab-content { padding: 10px; background-color: #fbfbfb; margin-bottom: 20px; clear: both; }
#tab-content > div { display: none; }
#tab-content #overview { display: block; }
.reviews { color: #666565; }
.review-form-fields input[type='text'], .review-form-fields textarea { font-family: Tahoma; padding: 7px 10px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; background: #fff; border: 1px solid #c1c0c0; color: #666565; }
.review-form-fields input[type='text'].empty, .review-form-fields textarea.empty { background: #f1f3f3; }
.review-form-fields input[type='text'] { width: 290px; }
.review-form-fields textarea { width: 96%; }
.review-field { margin-bottom: 10px; }
.reviews > .reviews-branch > li { border-bottom: 1px solid #b8b6b6; }
.reviews-branch i.icon16.ig.loading { margin: 0; }
.review .username { display: inline; }
.review h6 { margin-top: 5px; }
.review p { margin-bottom: 5px; }
#product-description { line-height: 1.5; }
#product-features .icon16.color { -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; border: 1px solid rgba(0,0,0,0.2); vertical-align: bottom; width: 14px; height: 14px; background-color: #fff; background-image: none;}
table.features { border-spacing: 0; border-collapse: collapse; }
table.features td { padding: 5px 0 2px; }
table.features td.name { min-width: 145px; color: #777; vertical-align: top; }
table.features td.value { padding-left: 50px; }
table.features tr:hover td { background: #f7f7f7; }
table.features tr.divider td { border-bottom: 1px solid #ccc; padding-left: 0; padding-top: 15px; padding-bottom: 0; }
.image-thumb img { border: 1px solid #c2c1c1; position: relative; max-width: 81px; max-height: 100px; }

.image-thumb a.selected img { border-width: 3px; border-style: solid; border-color: #1cc9c5;  }

.multishop-pink .image-thumb a.selected img, .multishop-pink .dialog-window .cart,
.multishop-pink .options .inline-select a.selected,
.multishop-pink .checkout-step h2.selected .checkout-number { border-color: #db2261; }
.multishop-green .image-thumb a.selected img, .multishop-green .dialog-window .cart,
.multishop-green .options .inline-select a.selected,
.multishop-green .checkout-step h2.selected .checkout-number { border-color: #8ed417; }
.multishop-blue .image-thumb a.selected img, .multishop-blue .dialog-window .cart,
.multishop-blue .options .inline-select a.selected,
.multishop-blue .checkout-step h2.selected .checkout-number { border-color: #00a6d6; }
.multishop-purple .image-thumb a.selected img, .multishop-purple .dialog-window .cart,
.multishop-purple .options .inline-select a.selected,
.multishop-purple .checkout-step h2.selected .checkout-number { border-color: #834c91; }
.multishop-white .image-thumb a.selected img, 
.multishop-white .dialog-window .cart, 
.multishop-white .options .inline-select a.selected,
.multishop-white .checkout-step h2.selected .checkout-number,
.multishop-black .image-thumb a.selected img, 
.multishop-black .dialog-window .cart,
.multishop-black .options .inline-select a.selected,
.multishop-black .checkout-step h2.selected .checkout-number { border-color: #80aed2; }
.multishop-emerald .image-thumb a.selected img, .multishop-emerald .dialog-window .cart,
.multishop-emerald .options .inline-select a.selected,
.multishop-emerald .checkout-step h2.selected .checkout-number { border-color: #1fc987; }
.multishop-orange .image-thumb a.selected img, .multishop-orange .dialog-window .cart,
.multishop-orange .options .inline-select a.selected,
.multishop-orange .checkout-step h2.selected .checkout-number { border-color: #f7a316; }
.multishop-red .image-thumb a.selected img, .multishop-red .dialog-window .cart,
.multishop-red .options .inline-select a.selected,
.multishop-red .checkout-step h2.selected .checkout-number { border-color: #e5012b; }
.multishop-red2 .image-thumb a.selected img, .multishop-red2 .dialog-window .cart,
.multishop-red2 .options .inline-select a.selected,
.multishop-red2 .checkout-step h2.selected .checkout-number { border-color: #d10101; }
.multishop-lightpurple .image-thumb a.selected img, .multishop-lightpurple .dialog-window .cart,
.multishop-lightpurple .options .inline-select a.selected,
.multishop-lightpurple .checkout-step h2.selected .checkout-number { border-color: #b39bb3; }
.multishop-blindblue .image-thumb a.selected img, .multishop-blindblue .dialog-window .cart,
.multishop-blindblue .options .inline-select a.selected,
.multishop-blindblue .checkout-step h2.selected .checkout-number { border-color: #8594cd; }

.image-thumb a.selected { position: relative;  }

.image-thumb a.selected:before { content: ''; position: absolute; top: 7px; left: 40px; width: 0; height: 0; border-left: 6px solid transparent; border-right: 6px solid transparent; border-bottom-width: 8px; border-bottom-style: solid; border-bottom-color: #1cc9c5; }
.multishop-pink .image-thumb a.selected:before,
.multishop-pink .checkout-step h2.selected { border-bottom-color: #db2261; }
.multishop-green .image-thumb a.selected:before,
.multishop-green .checkout-step h2.selected { border-bottom-color: #8ed417; }
.multishop-blue .image-thumb a.selected:before,
.multishop-blue .checkout-step h2.selected { border-bottom-color: #00a6d6; }
.multishop-purple .image-thumb a.selected:before,
.multishop-purple .checkout-step h2.selected { border-bottom-color: #834c91; }
.multishop-white .image-thumb a.selected:before,
.multishop-white .checkout-step h2.selected,
.multishop-black .image-thumb a.selected:before,
.multishop-black .checkout-step h2.selected { border-bottom-color: #80aed2; }
.multishop-emerald .image-thumb a.selected:before,
.multishop-emerald .checkout-step h2.selected { border-bottom-color: #1fc987; }
.multishop-orange .image-thumb a.selected:before,
.multishop-orange .checkout-step h2.selected { border-bottom-color: #f7a316; }
.multishop-red .image-thumb a.selected:before,
.multishop-red .checkout-step h2.selected { border-bottom-color: #e5012b; }
.multishop-red2 .image-thumb a.selected:before,
.multishop-red2 .checkout-step h2.selected { border-bottom-color: #d10101; }
.multishop-lightpurple .image-thumb a.selected:before,
.multishop-lightpurple .checkout-step h2.selected { border-bottom-color: #b39bb3; }
.multishop-blindblue .image-thumb a.selected:before,
.multishop-blindblue .checkout-step h2.selected { border-bottom-color: #8594cd; }

.bx-wrapper .bx-viewport { border: 0 none; padding-bottom: 15px; padding-top: 5px; left: 1px; }
.thumbs-container { position: relative; }
.thumbs-container .slider-prev { position: absolute; left: 0; top: 32px;  }
.thumbs-container .slider-next { position: absolute; right: 0; top: 32px;  }
.zoomContainer { z-index: 200; }
#zoom-gallery { width: 300px; margin: 0 auto; left: 5px; }
#zoom-gallery .slick-list { padding-top: 8px; }
/*Catalog*/
.category-sidebar { color: #060606; word-wrap: break-word; padding-left: 10px; }
.category-sidebar h4 { margin-bottom: 15px; text-align: left; position: relative; }  
.category-sidebar ul.menu-v { padding-left: 20px; margin: 0;  }
.category-sidebar ul.menu-v li { margin: 0;  }
.category-sidebar ul li ul li + li { border-top: 1px dotted #CCCCCC; }
.category-sidebar ul.l0 { margin-bottom: 25px; padding-left: 0; }
.category-sidebar ul.menu-v a, .category-sidebar h4 a { margin: 0; color: #060606; text-decoration: none; }
.category-sidebar ul.menu-v a { padding-right: 16px; }
.category-sidebar ul.menu-v a.selected, .category-sidebar ul.menu-v a:hover, .category-sidebar h4 a:hover { color: #01c7c3; font-weight: bold; }
.category-sidebar .tags { margin-bottom: 10px; }
.category-sidebar .f-collapsible { position: absolute;  margin: 0; cursor: pointer; background-color: #F5F5F5; right: 0; top: 5px; }
.category-sidebar .f-collapsible:hover { opacity: 1; background-color: #ddd; }
.category-name { font-size: 20px; color: #01c7c3; text-transform: uppercase; }
.compare-table { display: none; position: absolute; right: 0; top: 0; }
.active-icons { position: absolute; left: 0; bottom: 0; width: 85px; z-index: 5; text-align: left; }
.product-item.not-mobile .active-icons a, .product-item.not-mobile .active-icons span { display: none; vertical-align: top; margin: 0 0 0 5px; padding: 0; }
.product-list li.not-mobile:hover .active-icons a,
.active-icons a.active,
.product-item.not-mobile:hover .active-icons span,
.active-icons span.active, 
.product-list.table li .active-icons a, 
.product-item .active-icons a, 
.product-item .active-icons span { display: inline-block; vertical-align: top; }
.product-list.table .compare-table { display: block; }
.product-list.thumbs .product-item { text-align: center; }
.product-list.table .active-icons.table { position: relative; display: inline-block; }
.product-list.vertical img { max-width: 145px; max-height: 178px; }
.sort-view { height: 55px; }
.sort-view:after { content: ''; clear: both; display: block; }
.product-view { float: right; text-align: right; }
.product-view .view { margin-top: 5px;  }
.product-view .view a { margin-left: 10px; }
.product-view .grey { font-size: 12px; }
#product-list { margin-bottom: 10px; padding-right: 15px; }
.lazyloading-paging ul.menu-h > li.selected > a { background: none; color: #02D1CD; font-weight: bold;  }
.lazyloading-paging a { color: #525968; }
/*Filter*/
.filters { margin: 30px 0 20px; }
.filters .button.grey { border: 1px solid #c3c5c9; color: #060606; margin-top: 10px; }
.filters .button.grey:hover, .filters .button.grey:active { color: #fff; }
.filter-block { background: #f3f2f2; padding: 10px 15px 0 15px; }
.filter-block.last { padding-bottom: 15px; }
.filter-block hr { margin: 0; background: #c3c2c2; margin-top: 10px; }
.filter-block b { margin-bottom: 5px; display: block; position: relative; }
.filter-block b i { position: absolute; right: 0; top: 5px; }
.filter-block b a { color: #060606; text-decoration: none; display: block; }
.filter-block i.icon16.color { margin-top: 1px; }
.filter-field { margin-bottom: 5px; }
.filters label { position: relative; }
.filters:not(#foo) input[type="radio"] { opacity: 0; }
.filters:not(#foo) input[type="radio"] + label { margin-left: -16px; cursor: pointer; }
.filters:not(#foo) input[type="radio"] + label .stylish-wrap {  -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; cursor:pointer; }
.filters:not(#foo) input[type="radio"]:checked + label .stylish-wrap:after { -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; background-color: #01C7C3; content: ""; height: 8px; left: 4px; position: absolute; top: 6px; width: 8px;} 
.filters:not(#foo) input[type="checkbox"] { opacity: 0; }
.filters:not(#foo) input[type="checkbox"] + label { margin-left: -18px; cursor: pointer; }
.filters:not(#foo) input[type="checkbox"] + label .stylish-wrap, .filters:not(#foo) input[type="radio"] + label .stylish-wrap { background: #fff; border: 1px solid #d6d7d8; display:inline-block; width:15px; height:15px; margin:-1px 4px 0 0; vertical-align:middle; } 
.filters:not(#foo) input[type="checkbox"]:checked + label .stylish-wrap, 
.filters:not(#foo) input[type="radio"]:checked + label .stylish-wrap,
.filters input[type="radio"]:checked + label,
.filters input[type="checkbox"]:checked + label, 
.filters label:hover { color: #01c7c3; }
.filters:not(#foo) input[type="checkbox"]:checked + label .stylish-wrap:after { content: ''; background-color: #20c7c3; width: 7px; height: 7px; position: absolute; top: 6px; left: 5px; }
.filter-block.open .filter-value { display: block; }
.filter-value { display: none; }
.filter-value .icon16.color { -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; border: 1px solid rgba(0,0,0,0.2); vertical-align: bottom; width: 14px; height: 14px; background-color: #fff; background-image: none;}
.price-filter { margin-bottom: 20px; }
.price-inputs { position: relative; }
.ui-slider-horizontal { position: relative; width: 98%; margin-top: 10px; height: 9px; border-top: 1px solid #a8a8a8; background: #e4e4e4; -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px; -webkit-box-shadow: 0 1px 0 0px #D0D0D0 inset; -moz-box-shadow: 0 1px 0 0px #D0D0D0 inset; box-shadow: 0 1px 0 0px #D0D0D0 inset; }

.ui-slider .ui-slider-handle { background: url("img/colors/lightblue/priceRangeSlider/cursor.png") no-repeat; width: 18px; height: 20px; cursor: pointer; position: absolute; margin-left: -10px; bottom: -8px; z-index: 2; }
.multishop-pink .ui-slider .ui-slider-handle { background: url("img/colors/pink/priceRangeSlider/cursor.png") 0 0 no-repeat; }
.multishop-green .ui-slider .ui-slider-handle { background: url("img/colors/green/priceRangeSlider/cursor.png") 0 0 no-repeat; }
.multishop-blue .ui-slider .ui-slider-handle { background: url("img/colors/blue/priceRangeSlider/cursor.png") 0 0 no-repeat; }
.multishop-purple .ui-slider .ui-slider-handle { background: url("img/colors/purple/priceRangeSlider/cursor.png") 0 0 no-repeat; }
.multishop-black .ui-slider .ui-slider-handle { background: url("img/colors/black/priceRangeSlider/cursor.png") 0 0 no-repeat; }
.multishop-white .ui-slider .ui-slider-handle { background: url("img/colors/white/priceRangeSlider/cursor.png") 0 0 no-repeat; }
.multishop-emerald .ui-slider .ui-slider-handle { background: url("img/colors/emerald/priceRangeSlider/cursor.png") 0 0 no-repeat; }
.multishop-orange .ui-slider .ui-slider-handle { background: url("img/colors/orange/priceRangeSlider/cursor.png") 0 0 no-repeat; }
.multishop-red .ui-slider .ui-slider-handle { background: url("img/colors/red/priceRangeSlider/cursor.png") 0 0 no-repeat; }
.multishop-red2 .ui-slider .ui-slider-handle { background: url("img/colors/red2/priceRangeSlider/cursor.png") 0 0 no-repeat; }
.multishop-lightpurple .ui-slider .ui-slider-handle { background: url("img/colors/lightpurple/priceRangeSlider/cursor.png") 0 0 no-repeat; }
.multishop-blindblue .ui-slider .ui-slider-handle { background: url("img/colors/blindblue/priceRangeSlider/cursor.png") 0 0 no-repeat; }

.ui-slider-range { background: url("img/colors/lightblue/priceRangeSlider/bg.png") repeat-x; height: 100%; top: 0; border: 0 none; display: block; position: absolute; z-index: 1; } 
.multishop-pink .ui-slider-range { background: url("img/colors/pink/priceRangeSlider/bg.png") repeat-x; }
.multishop-green .ui-slider-range { background: url("img/colors/green/priceRangeSlider/bg.png") repeat-x; }
.multishop-blue .ui-slider-range { background: url("img/colors/blue/priceRangeSlider/bg.png") repeat-x; }
.multishop-purple .ui-slider-range { background: url("img/colors/purple/priceRangeSlider/bg.png") repeat-x; }
.multishop-black .ui-slider-range { background: url("img/colors/black/priceRangeSlider/bg.png") repeat-x; }
.multishop-white .ui-slider-range { background: url("img/colors/white/priceRangeSlider/bg.png") repeat-x; }
.multishop-emerald .ui-slider-range { background: url("img/colors/emerald/priceRangeSlider/bg.png") repeat-x; }
.multishop-orange .ui-slider-range { background: url("img/colors/orange/priceRangeSlider/bg.png") repeat-x; }
.multishop-red .ui-slider-range { background: url("img/colors/red/priceRangeSlider/bg.png") repeat-x; }
.multishop-red2 .ui-slider-range { background: url("img/colors/red2/priceRangeSlider/bg.png") repeat-x; }
.multishop-lightpurple .ui-slider-range { background: url("img/colors/lightpurple/priceRangeSlider/bg.png") repeat-x; }
.multishop-blindblue .ui-slider-range { background: url("img/colors/blindblue/priceRangeSlider/bg.png") repeat-x; }
/*Sorting*/
.sorting { color: #5c5c5c; font-size: 13px; float: left; }
#sorting-block { display: none; }
#sorting-select { border: 1px solid #ebe9e9; padding: 5px 10px; }
.sorting .active-sort { display: inline-block; position: relative; }
.sorting .active-sort i.sort-asc, .sorting .active-sort i.sort-desc { position: absolute; right: 5px; top: 8px; }
/*Cart*/
.cart-page h1 { color: #01c7c3; padding-left: 10px; }
.cart-page .product-name { color: #060606; text-decoration: none; }
.cart-page .product-name:hover { color: #01C4C0; }
.cart-page .sku-name, .cart-page .quantity { font-size: 12px; }
.cart-page .qty { text-align: center; width: 28px; height: 19px; margin: 0 5px; border: 1px solid #969696; background: #fcfcfc; color: #0e0500; font-size: 12px; }
.cart-page .qty:disabled { background: #F0F0F0; }
.cart-page .checkout { margin-top: 10px; margin-bottom: 10px; padding: 0 10px; }
.cart-page .checkout:after, .cart-page:after { content: ''; display: block; clear: both; }
.cart-page .checkout .button.grey { border: 1px solid #b6b6b6; width: inherit; padding: 0 10px; }
.cart-page .checkout .button.grey i { margin-top: 6px; }
.cart-page .sidebar h4 { text-align: center; }
.cart-page .cart { padding-left: 10px; }
.item-total { width: 125px; }
.cart-page .quantity { width: 130px; }
.cart-row { padding: 10px 0; border-bottom: 1px solid #c6c6c6; }
.cart-cell { display: inline-block; vertical-align: middle; }
.cart-cell .image { width: 105px; display: inline-block; }
.cart-cell .image img { border: 1px solid #cacaca; max-width: 105px; max-height: 105px; }
.cart-cell.cart-item { width: 380px; padding: 0 10px; }
.cart-result { background: #525968; padding: 10px; }
.cart-result:after { content: ''; display: block; clear: both; }
.cart-result .coupon { float: left; }
.cart-result .total { text-align: right; float: right; color: #fff; font-size: 16px; width: 300px; }
.cart-result .total > div { margin-bottom: 10px; }
.cart-result .total .discount { font-size: 13px; }
.cart-result .cart-total { font-size: 18px; }
.cart-result .cart-affiliate { clear: both; font-size: 13px; color: #d8d5d5; text-align: right; }
.cart-result .cart-affiliate input[type='submit'] { width: inherit; margin-top: 5px; }
#cancel-affiliate { color: #ccc; }
.affiliate { color: #D8D5D5; }
.cart-result .cart-affiliate .points, .affiliate .points { color: #02ebe6; }
.coupon-code { background: #f4f5f5; height: 25px; border: 0 none; padding: 5px 50px 5px 5px; width: 195px; color: #48505a; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.coupon-submit { width: 50px; height: 40px; position: relative; font-family: Verdana; color: #0b0b0b; right: 50px; top: 2px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
/*Checkout*/
.checkout-step { margin-bottom: 5px; }
.checkout-number { border: 1px solid #37dcd9; display: inline-block; text-align: center; color: #060606; line-height: 160%; width: 37px; height: 37px; -webkit-border-radius: 37px; -moz-border-radius: 37px; border-radius: 37px; }
.checkout-step h2.selected .checkout-number { border-width: 1px; border-style: solid; border-color: #37dcd9; display: inline-block; text-align: center; color: #060606; line-height: 160%; width: 37px; height: 37px; -webkit-border-radius: 37px; -moz-border-radius: 37px; border-radius: 37px; background: rgb(90,230,222); background: -moz-linear-gradient(top,  rgba(98,236,228,1) 0%, rgba(58,197,190,1) 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(98,236,228,1)), color-stop(100%,rgba(58,197,190,1))); background: -webkit-linear-gradient(top,  rgba(98,236,228,1) 0%,rgba(58,197,190,1) 100%); background: -o-linear-gradient(top,  rgba(98,236,228,1) 0%,rgba(58,197,190,1) 100%); background: -ms-linear-gradient(top,  rgba(98,236,228,1) 0%,rgba(58,197,190,1) 100%); background: linear-gradient(to bottom,  rgba(98,236,228,1) 0%,rgba(58,197,190,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62ece4', endColorstr='#3ac5be',GradientType=0 ); }
.checkout-step h2 .checkout-number { border: 1px solid #b4b5b5; color: #6f6f6f; background: rgb(219,223,223); background: -moz-linear-gradient(top, rgba(219,223,223,1) 0%, rgba(180,184,184,1) 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(219,223,223,1)), color-stop(100%,rgba(180,184,184,1))); background: -webkit-linear-gradient(top, rgba(219,223,223,1) 0%,rgba(180,184,184,1) 100%); background: -o-linear-gradient(top, rgba(219,223,223,1) 0%,rgba(180,184,184,1) 100%); background: -ms-linear-gradient(top, rgba(219,223,223,1) 0%,rgba(180,184,184,1) 100%); background: linear-gradient(to bottom, rgba(219,223,223,1) 0%,rgba(180,184,184,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbdfdf', endColorstr='#b4b8b8',GradientType=0 ); } 
.checkout-step h2 { border-bottom: 1px solid #6f6f6f; padding-bottom: 10px; font-size: 22px; }
.checkout-step h2 a { color: #6f6f6f; text-decoration: none; }
.checkout-step h2.selected { border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #01c7c3; }
.checkout-step h2.selected a { color: #060606; }
.checkout-page .button.grey { border: 1px solid #b6b6b6; padding: 0 5px; width: inherit;  -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.checkout-page .button.grey.large { line-height: 0; }
.checkout-page .wa-auth-adapters { margin-top: 10px; }
.checkout ul.checkout-options { padding-left: 25px; }
.checkout ul.checkout-options li { list-style: none; position: relative; margin-bottom: 50px; clear: both; }
.checkout ul.checkout-options li h3 { font-weight: bold; margin-bottom: 10px; }
.checkout ul.checkout-options li h3 label { margin-right: 10px; }
.checkout ul.checkout-options li .rate { float: right; text-align: center; width: 250px; }
.checkout ul.checkout-options li .rate .price { font-size: 22px; }
.checkout ul.checkout-options li p { width: 70%; }
.checkout ul.checkout-options li input[type="radio"] { position: absolute; top: 4px; left: -25px; }
.checkout ul.checkout-options li label input[type="radio"] { top: 4px; left: -20px; }
.checkout ul.checkout-options li img.method-logo { position: relative; float: left; margin-right: 10px; top: -6px; left: 0px; /* adjusted for default 60x32-px logos */ }
.checkout ul.checkout-options li .wa-form { margin-top: 0px; margin-bottom: 30px; }
.checkout ul.checkout-options li .wa-form label input[type="radio"] { position: static; }
.checkout .checkout-step h2 a.hint { font-size: 0.8em; color: #aaa; text-decoration: underline; }
.checkout .checkout-step-content { padding: 20px; background: #fff; }
.checkout .checkout-result.error h1 { color: red; }
.checkout-header-total { font-size: 22px; } 
.checkout-header { margin-bottom: 25px; text-decoration: underline; }

table.table { margin-top: 25px; width: 100%; border-spacing:0; border-collapse:collapse; }
table.table th { padding-left: 7px; padding-right: 7px; }
table.table td { padding: 15px 7px; border-bottom: 1px solid #ddd; }
table.table td.min-width { width: 1%; }
table.table td p { margin: 0; }
table.table td input.numerical { width: 50px; margin-right: 5px; text-align: right; }
table.table tr.no-border td { border: none; }
table.table tr.thin td { padding-top: 13px; padding-bottom: 0; }
table.table tr.service td { padding-top: 5px; padding-bottom: 5px; padding-left: 25px; font-size: 0.8em; color: #555; }

.checkout .checkout-result { background: #fff; text-align: center; }
.checkout .checkout-result h1 { font-size: 4em; margin-bottom: 50px; }
.checkout .checkout-result .wa-form { margin: 10px auto 20px; width: 400px; float: none; text-align: left; }
.checkout .checkout-result .back { margin-top: 50px; }

.checkout .comment { width: 100%; height: 100px; margin-bottom: 20px; }
.checkout blockquote img { margin-right: 20px; float: left; }
.checkout blockquote p { margin-bottom: 10px; }
.checkout blockquote p span { color: #000; }

.checkout .errormsg.inline { display: inline; margin-left: 10px; }
.shipping-error { color: #ff0000; }
/*Compare*/
table.compare { width: 100%; }
table.compare td { text-align: center; line-height: 1em; padding: 10px 2px; }
table.compare th { text-align: left; }
table.compare td img { display: block; margin: 0 auto 10px; max-width: 96px; max-height: 96px;}
.compare-page h1 { color: #01C7C3; }
.compare-remove { text-decoration: none; }
/*My*/
.my-nav a:hover i.ig.user-bw { background-position: -32px -16px; }
.my-nav a:hover i.ms.cart-bw { background-position: -64px -16px; }
.my-nav a:hover i.ms.thumbup-bw { background-position: -80px -16px; }
/*Plugin Productsperpage*/
.productsperpage-form { color: #5c5c5c; font-size: 13px; margin-bottom: 5px; }
.productsperpage-form .productsperpage-view li { margin-right: 0; }
.productsperpage-form .productsperpage-view li a { text-decoration: none; color: #525968;  }
.productsperpage-form .productsperpage-view li a.selected { background: none; font-weight: bold; color: #02d1cd;  }
/*Icons*/
.icon16.stock-red { background-image: url("img/icons.png"); background-position:-128px 0; margin: 0; }
.icon16.stock-yellow { background-image: url("img/icons.png"); background-position:-144px 0; margin: 0; }
.icon16.stock-green { background-image: url("img/icons.png"); background-position:-160px 0; margin: 0; }
.icon16.stock-transparent { background-image: url("img/icons.png"); background-position:-176px 0; margin: -2px 0 0; }

i.icon16.ms { background: url("img/colors/lightblue/cart-icons.png") 0 0 no-repeat; margin: 0 2px 0 0; }
.multishop-pink i.icon16.ms { background: url("img/colors/pink/cart-icons.png") 0 0 no-repeat; }
.multishop-green i.icon16.ms { background: url("img/colors/green/cart-icons.png") 0 0 no-repeat; }
.multishop-blue i.icon16.ms { background: url("img/colors/blue/cart-icons.png") 0 0 no-repeat; }
.multishop-purple i.icon16.ms { background: url("img/colors/purple/cart-icons.png") 0 0 no-repeat; }
.multishop-black i.icon16.ms { background: url("img/colors/black/cart-icons.png") 0 0 no-repeat; }
.multishop-white i.icon16.ms { background: url("img/colors/white/cart-icons.png") 0 0 no-repeat; }
.multishop-emerald i.icon16.ms { background: url("img/colors/emerald/cart-icons.png") 0 0 no-repeat; }
.multishop-orange i.icon16.ms { background: url("img/colors/orange/cart-icons.png") 0 0 no-repeat; }
.multishop-red i.icon16.ms { background: url("img/colors/red/cart-icons.png") 0 0 no-repeat; }
.multishop-red2 i.icon16.ms { background: url("img/colors/red2/cart-icons.png") 0 0 no-repeat; }
.multishop-lightpurple i.icon16.ms { background: url("img/colors/lightpurple/cart-icons.png") 0 0 no-repeat; }
.multishop-blindblue i.icon16.ms { background: url("img/colors/blindblue/cart-icons.png") 0 0 no-repeat; }

i.icon16.ms.view-thumbs-bw { background-position: 0 0; }
i.icon16.ms.view-thumbs { background-position: 0 -16px; }
i.icon16.ms.view-table-bw { background-position: -16px 0; }
i.icon16.ms.view-table { background-position: -16px -16px; }
i.icon16.ms.larr-bw { background-position: -32px -0px; }
i.icon16.ms.larr { background-position: -32px -16px; }
i.icon16.ms.rarr-bw { background-position: -48px 0; }
i.icon16.ms.rarr { background-position: -48px -16px; }
i.icon16.ms.cart-bw { background-position: -64px 0; }
i.icon16.ms.cart { background-position: -64px -16px; }
i.icon16.ms.thumbup { background-position: -80px -16px; }
i.icon16.ms.thumbup-bw { background-position: -80px 0; }

i.slider-thumb-icons { background: url("img/colors/lightblue/slider-thumb-icons.png") 0 0 no-repeat; width: 9px; height: 38px; display: inline-block; cursor: pointer; }
.multishop-pink i.slider-thumb-icons { background: url("img/colors/pink/slider-thumb-icons.png") 0 0 no-repeat; }
.multishop-green i.slider-thumb-icons { background: url("img/colors/green/slider-thumb-icons.png") 0 0 no-repeat; }
.multishop-blue i.slider-thumb-icons { background: url("img/colors/blue/slider-thumb-icons.png") 0 0 no-repeat; }
.multishop-purple i.slider-thumb-icons { background: url("img/colors/purple/slider-thumb-icons.png") 0 0 no-repeat; }
.multishop-black i.slider-thumb-icons { background: url("img/colors/black/slider-thumb-icons.png") 0 0 no-repeat; }
.multishop-white i.slider-thumb-icons { background: url("img/colors/white/slider-thumb-icons.png") 0 0 no-repeat; }
.multishop-emerald i.slider-thumb-icons { background: url("img/colors/emerald/slider-thumb-icons.png") 0 0 no-repeat; }
.multishop-orange i.slider-thumb-icons { background: url("img/colors/orange/slider-thumb-icons.png") 0 0 no-repeat; }
.multishop-red i.slider-thumb-icons { background: url("img/colors/red/slider-thumb-icons.png") 0 0 no-repeat; }
.multishop-red2 i.slider-thumb-icons { background: url("img/colors/red2/slider-thumb-icons.png") 0 0 no-repeat; }
.multishop-lightpurple i.slider-thumb-icons { background: url("img/colors/lightpurple/slider-thumb-icons.png") 0 0 no-repeat; }
.multishop-blindblue i.slider-thumb-icons { background: url("img/colors/blindblue/slider-thumb-icons.png") 0 0 no-repeat; }

i.slider-thumb-icons.larr-bw, i.slider-thumb-icons.larr-bw.inactive:hover { background-position: 0 0; }
i.slider-thumb-icons.larr { background-position: 0 -41px; }
i.slider-thumb-icons.rarr-bw, i.slider-thumb-icons.rarr-bw.inactive:hover { background-position: -12px 0; }
i.slider-thumb-icons.rarr { background-position: -12px -41px; }
i.slider-thumb-icons.larr-bw:hover { background-position: 0 -41px; }
i.slider-thumb-icons.rarr-bw:hover { background-position: -12px -41px; }
i.slider-thumb-icons.larr-bw.inactive, i.slider-thumb-icons.rarr-bw.inactive { cursor: default; opacity: 0.6; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60); }
.menu-v.l0 > li > a { font-weight: bold; }

/*Product list*/
ul.thumbs, div.thumbs { padding: 0; margin: 0; list-style: none; }
ul.thumbs li, div.thumbs .product-item { float: left; width: 220px; height: 360px; padding: 0; margin: 0 25px 0 0; position: relative; display: block\9; float: left\9; height: 392px\9; /* IE8- hack */ }
ul.thumbs li.not-mobile:hover, div.thumbs .product-item.not-mobile:hover { -webkit-box-shadow: 0 0 3px 0 #b7b7b7; -moz-box-shadow: 0 0 3px 0 #b7b7b7; box-shadow: 0 0 3px 0 #b7b7b7; }
.no-boxshadow ul.thumbs li.not-mobile:hover, .no-boxshadow div.thumbs .product-item.not-mobile:hover { border: 1px solid #b7b7b7; }
#product-list ul.thumbs li { margin: 0 0 25px 25px; display: inline-block; vertical-align: top; float: none; }
ul.thumbs img, ul.table img , div.thumbs img { position: absolute; top: 0; bottom: 0; margin: auto; left: 0; right: 0; }
ul.thumbs img , div.thumbs img { max-width: 200px; max-height: 245px; }
ul.table img { max-width: 140px; max-height: 140px; }
ul.thumbs a, ul.table a, div.thumbs a { text-decoration: none; }
ul.thumbs .image, div.thumbs .image { width: 200px; height: 245px; overflow: hidden; position: relative; padding-bottom: 15px; }
ul.thumbs .price, div.thumbs .price { font-size: 14px; }
ul.thumbs .rating, div.thumbs .rating { margin-top: 2px; }
ul.thumbs h5, div.thumbs h5 { font-size: 13px; font-weight: normal; margin: 10px 0 5px; }
ul.thumbs h5 a, ul.table h5 a, div.thumbs h5 a { color: #4b4c4e; }
ul.thumbs h5 a:hover, ul.table h5 a:hover, div.thumbs h5 a:hover { color: #0ca6a3; }
ul.thumbs .compare-price, ul.table .compare-price, div.thumbs .compare-price { font-size: 14px; }

.thumbs input[type='submit'], ul.table input[type='submit'] { position: absolute; right: 0; bottom: 0; border: 0 none; background: url("img/colors/lightblue/cart-submit-icons.png") 0 0 no-repeat; width: 64px; height: 63px; }
.multishop-pink .thumbs input[type='submit'], .multishop-pink ul.table input[type='submit'] { background: url("img/colors/pink/cart-submit-icons.png") 0 0 no-repeat; }
.multishop-green .thumbs input[type='submit'], .multishop-green ul.table input[type='submit'] { background: url("img/colors/green/cart-submit-icons.png") 0 0 no-repeat; }
.multishop-blue .thumbs input[type='submit'], .multishop-blue ul.table input[type='submit'] { background: url("img/colors/blue/cart-submit-icons.png") 0 0 no-repeat; }
.multishop-purple .thumbs input[type='submit'], .multishop-purple ul.table input[type='submit'] { background: url("img/colors/purple/cart-submit-icons.png") 0 0 no-repeat; }
.multishop-black .thumbs input[type='submit'], .multishop-black ul.table input[type='submit'] { background: url("img/colors/black/cart-submit-icons.png") 0 0 no-repeat; }
.multishop-white .thumbs input[type='submit'], .multishop-white ul.table input[type='submit'] { background: url("img/colors/white/cart-submit-icons.png") 0 0 no-repeat; }
.multishop-emerald .thumbs input[type='submit'], .multishop-emerald ul.table input[type='submit'] { background: url("img/colors/emerald/cart-submit-icons.png") 0 0 no-repeat; }
.multishop-orange .thumbs input[type='submit'], .multishop-orange ul.table input[type='submit'] { background: url("img/colors/orange/cart-submit-icons.png") 0 0 no-repeat; }
.multishop-red .thumbs input[type='submit'], .multishop-red ul.table input[type='submit'] { background: url("img/colors/red/cart-submit-icons.png") 0 0 no-repeat; }
.multishop-red2 .thumbs input[type='submit'], .multishop-red2 ul.table input[type='submit'] { background: url("img/colors/red2/cart-submit-icons.png") 0 0 no-repeat; }
.multishop-lightpurple .thumbs input[type='submit'], .multishop-lightpurple ul.table input[type='submit'] { background: url("img/colors/lightpurple/cart-submit-icons.png") 0 0 no-repeat; }
.multishop-blindblue .thumbs input[type='submit'], .multishop-blindblue ul.table input[type='submit'] { background: url("img/colors/blindblue/cart-submit-icons.png") 0 0 no-repeat; }

.thumbs input[type='submit']:hover, ul.table input[type='submit']:hover { background-position: -68px 0; }
.thumbs input[type='submit'].disabled, ul.table input[type='submit'].disabled { background-position: -136px 0; }

.thumbs input[type='submit'].active, ul.table input[type='submit'].active { background-image: url("img/colors/lightblue/addtocart.gif"); background-position: 0 0; }
.multishop-pink .thumbs input[type='submit'].active, .multishop-pink ul.table input[type='submit'].active { background-image: url("img/colors/pink/addtocart.gif"); }
.multishop-green .thumbs input[type='submit'].active, .multishop-green ul.table input[type='submit'].active { background-image: url("img/colors/green/addtocart.gif"); }
.multishop-blue .thumbs input[type='submit'].active, .multishop-blue ul.table input[type='submit'].active { background-image: url("img/colors/blue/addtocart.gif"); }
.multishop-purple .thumbs input[type='submit'].active, .multishop-purple ul.table input[type='submit'].active { background-image: url("img/colors/purple/addtocart.gif"); }
.multishop-black .thumbs input[type='submit'].active, .multishop-black ul.table input[type='submit'].active { background-image: url("img/colors/black/addtocart.gif"); }
.multishop-white .thumbs input[type='submit'].active, .multishop-white ul.table input[type='submit'].active { background-image: url("img/colors/white/addtocart.gif"); }
.multishop-emerald .thumbs input[type='submit'].active, .multishop-emerald ul.table input[type='submit'].active { background-image: url("img/colors/emerald/addtocart.gif"); }
.multishop-orange .thumbs input[type='submit'].active, .multishop-orange ul.table input[type='submit'].active { background-image: url("img/colors/orange/addtocart.gif"); }
.multishop-red .thumbs input[type='submit'].active, .multishop-red ul.table input[type='submit'].active { background-image: url("img/colors/red/addtocart.gif"); }
.multishop-red2 .thumbs input[type='submit'].active, .multishop-red2 ul.table input[type='submit'].active { background-image: url("img/colors/red2/addtocart.gif"); }
.multishop-lightpurple .thumbs input[type='submit'].active, .multishop-lightpurple ul.table input[type='submit'].active { background-image: url("img/colors/lightpurple/addtocart.gif"); }
.multishop-blindblue .thumbs input[type='submit'].active, .multishop-blindblue ul.table input[type='submit'].active { background-image: url("img/colors/blindblue/addtocart.gif"); }

.thumbs.vertical input[type='submit'], ul.table.vertical input[type='submit'] { position: absolute; right: 0; bottom: 0; border: 0 none; background: url("img/colors/lightblue/cart-submit-icons-small.png") 0 0 no-repeat; width: 40px; height: 39px; }
.multishop-pink .thumbs.vertical input[type='submit'], .multishop-pink ul.table.vertical input[type='submit'] { background: url("img/colors/pink/cart-submit-icons-small.png") 0 0 no-repeat; }
.multishop-green .thumbs.vertical input[type='submit'], .multishop-green ul.table.vertical input[type='submit'] { background: url("img/colors/green/cart-submit-icons-small.png") 0 0 no-repeat; }
.multishop-blue .thumbs.vertical input[type='submit'], .multishop-blue ul.table.vertical input[type='submit'] { background: url("img/colors/blue/cart-submit-icons-small.png") 0 0 no-repeat; }
.multishop-purple .thumbs.vertical input[type='submit'], .multishop-purple ul.table.vertical input[type='submit'] { background: url("img/colors/purple/cart-submit-icons-small.png") 0 0 no-repeat; }
.multishop-black .thumbs.vertical input[type='submit'], .multishop-black ul.table.vertical input[type='submit'] { background: url("img/colors/black/cart-submit-icons-small.png") 0 0 no-repeat; }
.multishop-white .thumbs.vertical input[type='submit'], .multishop-white ul.table.vertical input[type='submit'] { background: url("img/colors/white/cart-submit-icons-small.png") 0 0 no-repeat; }
.multishop-emerald .thumbs.vertical input[type='submit'], .multishop-emerald ul.table.vertical input[type='submit'] { background: url("img/colors/emerald/cart-submit-icons-small.png") 0 0 no-repeat; }
.multishop-orange .thumbs.vertical input[type='submit'], .multishop-orange ul.table.vertical input[type='submit'] { background: url("img/colors/orange/cart-submit-icons-small.png") 0 0 no-repeat; }
.multishop-red .thumbs.vertical input[type='submit'], .multishop-red ul.table.vertical input[type='submit'] { background: url("img/colors/red/cart-submit-icons-small.png") 0 0 no-repeat; }
.multishop-red2 .thumbs.vertical input[type='submit'], .multishop-red2 ul.table.vertical input[type='submit'] { background: url("img/colors/red2/cart-submit-icons-small.png") 0 0 no-repeat; }
.multishop-lightpurple .thumbs.vertical input[type='submit'], .multishop-lightpurple ul.table.vertical input[type='submit'] { background: url("img/colors/lightpurple/cart-submit-icons-small.png") 0 0 no-repeat; }
.multishop-blindblue .thumbs.vertical input[type='submit'], .multishop-blindblue ul.table.vertical input[type='submit'] { background: url("img/colors/blindblue/cart-submit-icons-small.png") 0 0 no-repeat; }

.thumbs.vertical input[type='submit']:hover, ul.table.vertical input[type='submit']:hover { background-position: -44px 0; }
.thumbs.vertical input[type='submit'].disabled, ul.table.vertical input[type='submit'].disabled { background-position: -87px 0; }

.thumbs.vertical input[type='submit'].active, ul.table.vertical input[type='submit'].active { background-image: url("img/colors/lightblue/addtocart-small.gif"); background-position: 0 0; }
.multishop-pink .thumbs.vertical input[type='submit'].active, .multishop-pink ul.table.vertical input[type='submit'].active { background-image: url("img/colors/pink/addtocart-small.gif"); }
.multishop-green .thumbs.vertical input[type='submit'].active, .multishop-green ul.table.vertical input[type='submit'].active { background-image: url("img/colors/green/addtocart-small.gif"); }
.multishop-blue .thumbs.vertical input[type='submit'].active, .multishop-blue ul.table.vertical input[type='submit'].active { background-image: url("img/colors/blue/addtocart-small.gif"); }
.multishop-purple .thumbs.vertical input[type='submit'].active, .multishop-purple ul.table.vertical input[type='submit'].active { background-image: url("img/colors/purple/addtocart-small.gif"); }
.multishop-black .thumbs.vertical input[type='submit'].active, .multishop-black ul.table.vertical input[type='submit'].active { background-image: url("img/colors/black/addtocart-small.gif"); }
.multishop-white .thumbs.vertical input[type='submit'].active, .multishop-white ul.table.vertical input[type='submit'].active { background-image: url("img/colors/white/addtocart-small.gif"); }
.multishop-emerald .thumbs.vertical input[type='submit'].active, .multishop-emerald ul.table.vertical input[type='submit'].active { background-image: url("img/colors/emerald/addtocart-small.gif"); }
.multishop-orange .thumbs.vertical input[type='submit'].active, .multishop-orange ul.table.vertical input[type='submit'].active { background-image: url("img/colors/orange/addtocart-small.gif"); }
.multishop-red .thumbs.vertical input[type='submit'].active, .multishop-red ul.table.vertical input[type='submit'].active { background-image: url("img/colors/red/addtocart-small.gif"); }
.multishop-red2 .thumbs.vertical input[type='submit'].active, .multishop-red2 ul.table.vertical input[type='submit'].active { background-image: url("img/colors/red2/addtocart-small.gif"); }
.multishop-lightpurple .thumbs.vertical input[type='submit'].active, .multishop-lightpurple ul.table.vertical input[type='submit'].active { background-image: url("img/colors/lightpurple/addtocart-small.gif"); }
.multishop-blindblue .thumbs.vertical input[type='submit'].active, .multishop-blindblue ul.table.vertical input[type='submit'].active { background-image: url("img/colors/blindblue/addtocart-small.gif"); }

.thumbs.vertical .price { font-size: 13px; font-weight: bold; }
.thumbs.vertical .compare-price { font-size: 12px; }
ul.thumbs.li100px li { width: 100px; }
ul.thumbs.li150px li, .thumbs.li150px .product-item { width: 150px; height: 304px; }
ul.thumbs.li150px .image, .thumbs.li150px .image { width: 150px; height: 188px; overflow: hidden; }
ul.thumbs.li200px li, div.thumbs .product-item { width: 200px; }
ul.thumbs.li220px li { width: 220px; }
ul.thumbs.li300px li { width: 300px; }
ul.thumbs.li350px li { width: 350px; } 
ul.thumbs .table { display: none; }

ul.table { list-style: none; padding: 0; }
ul.table .description { display: block; }
ul.table .rating { display: inline-block; position: relative; top: 3px; }
ul.table .thumbs { display: none; }
ul.table .price { font-size: 20px; }
ul.table input[type='submit'] { bottom: 10px; }
ul.table h5 { font-size: 14px; margin-top: 0; }
ul.table .short-info { position: absolute; bottom: 10px; left: 160px; width: 260px; }
ul.table li { height: 140px; padding: 10px 0; position: relative; border-bottom: 1px solid #d9d9d9; }
ul.table li:after { content: ''; display: block; clear: both; }
ul.table .image { width: 140px; height: 140px; margin-right: 20px; position: relative; border: 1px solid #d5d4d4; float: left;  }

/*Favoutire icons*/
i.favourite-icon { width: 22px; height: 20px; background: url("img/colors/lightblue/favourite-icons.png") 0 0 no-repeat; display: inline-block; vertical-align: middle;  }
.multishop-pink i.favourite-icon { background: url("img/colors/pink/favourite-icons.png") 0 0 no-repeat; }
.multishop-green i.favourite-icon { background: url("img/colors/green/favourite-icons.png") 0 0 no-repeat; }
.multishop-blue i.favourite-icon { background: url("img/colors/blue/favourite-icons.png") 0 0 no-repeat; }
.multishop-purple i.favourite-icon { background: url("img/colors/purple/favourite-icons.png") 0 0 no-repeat; }
.multishop-black i.favourite-icon { background: url("img/colors/black/favourite-icons.png") 0 0 no-repeat; }
.multishop-white i.favourite-icon { background: url("img/colors/white/favourite-icons.png") 0 0 no-repeat; }
.multishop-emerald i.favourite-icon { background: url("img/colors/emerald/favourite-icons.png") 0 0 no-repeat; }
.multishop-orange i.favourite-icon { background: url("img/colors/orange/favourite-icons.png") 0 0 no-repeat; }
.multishop-red i.favourite-icon { background: url("img/colors/red/favourite-icons.png") 0 0 no-repeat; }
.multishop-red2 i.favourite-icon { background: url("img/colors/red2/favourite-icons.png") 0 0 no-repeat; }
.multishop-lightpurple i.favourite-icon { background: url("img/colors/lightpurple/favourite-icons.png") 0 0 no-repeat; }
.multishop-blindblue i.favourite-icon { background: url("img/colors/blindblue/favourite-icons.png") 0 0 no-repeat; }

i.favourite-icon:hover, 
.product-list .active-icons a.active i.favourite-icon,
.product-list .active-icons span.active i.favourite-icon,
.product-info .favourite a:hover i.favourite-icon,
.product-info .favourite a.active i.favourite-icon { background-position: -24px 0; }
/*Compare icons*/
i.compare-icon { width: 22px; height: 20px; background: url("img/colors/lightblue/compare-icons.png") 0 0 no-repeat; display: block;  }
.multishop-pink i.compare-icon { background: url("img/colors/pink/compare-icons.png") 0 0 no-repeat; }
.multishop-green i.compare-icon { background: url("img/colors/green/compare-icons.png") 0 0 no-repeat; }
.multishop-blue i.compare-icon { background: url("img/colors/blue/compare-icons.png") 0 0 no-repeat; }
.multishop-purple i.compare-icon { background: url("img/colors/purple/compare-icons.png") 0 0 no-repeat; }
.multishop-black i.compare-icon { background: url("img/colors/black/compare-icons.png") 0 0 no-repeat; }
.multishop-white i.compare-icon { background: url("img/colors/white/compare-icons.png") 0 0 no-repeat; }
.multishop-emerald i.compare-icon { background: url("img/colors/emerald/compare-icons.png") 0 0 no-repeat; }
.multishop-orange i.compare-icon { background: url("img/colors/orange/compare-icons.png") 0 0 no-repeat; }
.multishop-red i.compare-icon { background: url("img/colors/red/compare-icons.png") 0 0 no-repeat; }
.multishop-red2 i.compare-icon { background: url("img/colors/red2/compare-icons.png") 0 0 no-repeat; }
.multishop-lightpurple i.compare-icon { background: url("img/colors/lightpurple/compare-icons.png") 0 0 no-repeat; }
.multishop-blindblue i.compare-icon { background: url("img/colors/blindblue/compare-icons.png") 0 0 no-repeat; }

i.compare-icon:hover, .product-list .active-icons a.active i.compare-icon,
i.compare-icon:hover, .product-list .active-icons span.active i.compare-icon { background-position: -24px 0; }

i.favourite-icon:hover, i.compare-icon:hover { cursor: pointer; }
/*Badge*/
* .badge { text-decoration:none!important; vertical-align:top; margin: 0; }
.badge { position: absolute; top: 0; left: 0; background-repeat:no-repeat;  background-color: inherit; z-index: 5; height:45px; width:45px; background-image: url("img/badge-icons.png");  display:inline-block; text-decoration:none!important; }
.badge span { color: #fff; font-size: 14px;  line-height: 330%; }
.badge.new {  background-position: 0 0; text-indent: -9999px; }
.badge.bestseller {  background-position: -45px 0; text-indent: -9999px; }
.badge.low-price {  background-position: -90px 0; text-indent: -9999px; }
.badge.sale {  background-position: -135px 0; text-align: center; }
.badge.custom { background: #163bdb; width: auto; height: auto; padding: 5px 7px; top: 7px; left: 7px; }
.badge.custom span { line-height: 100%; }
.badge.custom.black { background-color: #000;}
.badge.custom.red { background-color: #ff0000; }
.badge.custom.orange { background-color: #ffcc00; }
.badge.custom.yellow { background-color: #ffff00; }
.badge.custom.green { background-color: #00ff66; }
.badge.custom.lightblue { background-color: #00ffff;}
.badge.custom.blue { background-color: #0000ff;}
.badge.custom.purple { background-color: #cc00cc;}
.badge.custom.pink { background-color: #ff99ff;}
.badge.custom.yellow span, .badge.custom.lightblue span { background-color: #ffff00; color: #333; }
/* Dialog */
.dialog { display: none; }
.dialog-background { position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: url("img/overlay.png") repeat; z-index: 300; }
.dialog-window .cart { box-sizing: border-box; position: fixed; overflow: auto; top: 15%; left: 0; right: 0; z-index: 301; margin: 0 auto; text-align: left; width: 430px; bottom: 15%; background: #FBFAFA; padding: 12px 25px; border-width: 2px; border-style: solid; border-color: #1cc9c5; }
.dialog-window .cart .added2cart { font-size: 1.1em; font-style: italic; }
.dialog-window .dialog-close { z-index: 100; position: absolute; background: url("img/close.png") no-repeat; width: 35px; height: 35px; text-decoration: none; right: 0; top: 0; }
.dialog-window .cart-form { margin-bottom: 10px; margin-top: 15px; }
/* Product cart */
.cart-form .add2cart { margin-top: 10px; overflow: hidden; }
.cart-form:not(#foo) input[type="radio"] { opacity: 0; }
.cart-form:not(#foo) input[type="radio"] + label { margin-left: -16px; }
.cart-form:not(#foo) input[type="radio"] + label .stylish-wrap { display:inline-block; width:16px; height:16px; margin:-1px 4px 0 0; vertical-align:middle; background:url("img/stylish-buttons.png") -20px -2px no-repeat; cursor:pointer; }
.cart-form:not(#foo) input[type="radio"]:checked + label .stylish-wrap { background:url("img/stylish-buttons.png") -20px -20px no-repeat; }
.cart-form:not(#foo) input[type="checkbox"], .cart-page:not(#foo) input[type="checkbox"] { opacity: 0; }
.cart-form:not(#foo) input[type="checkbox"] + label, .cart-page:not(#foo) input[type="checkbox"] + label { margin-left: -14px; cursor: pointer; }
.cart-form:not(#foo) input[type="checkbox"] + label .stylish-wrap, .cart-page:not(#foo) input[type="checkbox"] + label .stylish-wrap {  cursor: pointer; background:url("img/stylish-buttons.png") -2px -2px no-repeat; display:inline-block; width:16px; height:16px; margin:-1px 4px 0 0; vertical-align:middle; } 
.cart-form:not(#foo) input[type="checkbox"]:checked + label .stylish-wrap, .cart-page:not(#foo) input[type="checkbox"]:checked + label .stylish-wrap { background:url("img/stylish-buttons.png") -2px -20px no-repeat; }
.cart-form select, .cart-page select { padding: 5px 10px; border: 1px solid #bbbbbb; margin-bottom: 5px; }
.skus { list-style: none; padding: 0; margin: 0;  }
.skus li { margin-bottom: 5px; }
.skus label { float: left; width: 250px; overflow: hidden; white-space: nowrap; }
.product-page .skus label { width: 330px; }
.skus .price { /*float: left; width: 100px; overflow: hidden; */ margin-left: 5px;}
.skus input[type="radio"] { float: left; }
.skus .sku-sku { clear: left; margin-left: 16px; }
.skus .sku-name { white-space: normal; display: inline-block; padding-right: 10px; word-wrap: break-word; }
.skus .s-radio-name { position: relative; }
.skus .s-radio-name:after { margin-left: 5px; content: '.............................................................................................................................'; }
.cart .stock-high { color: #00aeb1; }
.cart .stock-none { color: #9c9c9c; }
.cart .stock-low, .cart .stock-critical { color: #d0024e; }
.cart .add2cart .price { font-size: 24px; }
.cart .submit { clear: both; float: left; margin-top: 10px;  }
.add2cart .compare-price { font-size: 18px; }
.add2cart .quantity { float: left; margin-right: 50px; }
.add2cart input[name='quantity'] { text-align: center; width: 32px; height: 23px; margin: 0 5px; border: 1px solid #969696; background: #fcfcfc; color: #0e0500; font-size: 14px; }
.add2cart .quantity i.icon16.ms, .cart-page .quantity i.icon16.ms { margin-top: 4px; margin-right: 0; }
.add2cart .quantity i.icon16.ms.larr-bw:hover, .cart-page .quantity i.icon16.ms.larr-bw:hover { background-position: -32px -16px; }
.add2cart .quantity i.icon16.ms.rarr-bw:hover, .cart-page .quantity i.icon16.ms.rarr-bw:hover { background-position: -48px -16px; }
.aux span { margin-right: 5px; }
/* Product slider */
.slider-custom .vertical .slider-prev, .slider-custom .vertical .slider-next { display: block; text-align: center; }
.slider-custom.list { margin: 10px 0 30px; }
.slider-custom.thumbs-container { margin: 0; }
.slick-list { padding: 5px 0 5px 5px; }
.vertical .slick-list { padding: 0; }
.slick-track { margin: 0 auto; }

/* Banners */
.banner-home { margin-bottom: 20px; background: url("img/banner1.png") no-repeat; height: 340px; width: 100%; text-align: center; }
.banner-home img { margin-top: 55px; }
#mosaic-banners { text-align: center; padding: 0; }
#mosaic-banners li { margin: 0 10px 10px 0; }
#mosaic-banners img { max-width: 100%; }
/*News block*/
.news-block a {  text-decoration: none; word-wrap: break-word; }
.news-block p { margin-bottom: 0; }
.news-block img, .news-block article { width: 200px; }
.news-block article { display: inline-block; margin-bottom: 20px; margin-right: 15px; vertical-align: top; }
.news-block article.even { margin-right: 0; }

.cancel-viewed { font-size: 12px; text-transform: lowercase; text-decoration: underline; color: #666; }
.cancel-viewed:hover { text-decoration: none; }

.info-banners { text-align: center; margin: 20px 0; }
.info-banners:after, .banner-icon:after { content: ''; clear: both; display: block; }
.info-banner { text-align: left; border: 1px solid #dddcdc; margin-right: 20px; margin-bottom: 5px; box-sizing: border-box; padding: 10px; min-height: 80px; display: inline-block; vertical-align: top; width: 230px;  }
.info-banner p { margin: 0; font-size: 13px; }
.info-banner img { max-width: 212px; }
.info-banner h5 a { font-weight: normal; text-decoration: none; }
.info-banner h5 a:hover { text-decoration: underline; color: #01c4c0 !important; }
.banner-icon { float: left; margin-right: 5px; position: relative; }
.multishop-pink .info-banner h5 a:hover { color: #db2261 !important; }
.multishop-green .info-banner h5 a:hover { color: #8ed417 !important; }
.multishop-blue .info-banner h5 a:hover { color: #00a6d6 !important; }
.multishop-purple .info-banner h5 a:hover { color: #834c91 !important; }
.multishop-black .info-banner h5 a:hover { color: #80aed2 !important; }
.multishop-emerald .info-banner h5 a:hover { color: #1fc987 !important; }
.multishop-orange .info-banner h5 a:hover { color: #f7a316 !important; }
.multishop-red .info-banner h5 a:hover { color: #e5012b !important; }
.multishop-red2 .info-banner h5 a:hover { color: #d10101 !important; }
.multishop-lightpurple .info-banner h5 a:hover { color: #b39bb3 !important; }
.multishop-blindblue .info-banner h5 a:hover { color: #8594cd !important; }