<div class="wrap">
    <h1 class='heading'>{$error_message|default:"[`Error`]"}</h1>
    <p>{if $error_code}<strong>{$error_code}.</strong> {/if}[`The requested resource is not available.`]</p>
</div>