{if !empty($filters)}

{$max_price = 0}
{if isset($category)}
    {if !isset($category.params.filter_max)}
        {$pr = $wa->shop->products("category/`$category.id`", 1000)}
        {foreach $pr as $p_r}
            {if $max_price < $p_r.price}
                {$max_price = $p_r.price}
            {/if}
        {/foreach}
    {else}
        {$max_price = $category.params.filter_max}
    {/if}   
    {if $max_price}
        {$max_price = ceil(shop_currency($max_price, null, null, false))}
    {/if}
{/if} 

{$count = 0}
{$filter_count = $filters|count}
<div class="filters{if !empty($theme_settings.ajax_filters)} ajax{/if}">
    <form method="get" action="{$wa->currentUrl(0,1)}">
        {foreach $filters as $fid => $filter}
        {$count = $count + 1}
        {if $fid == 'price'}
        <div class="price-filter">
            {$c = $wa->shop->currency(true)}
            <b>[`Price`]</b>
            <div class="price-inputs">
                [`from`] <input type="text" class="width50px min f-price" name="price_min" value="{if $wa->get('price_min')}{(int)$wa->get('price_min')}{else}0{/if}" placeholder="0">
                [`to`] <input type="text" class="width50px max f-price" name="price_max" value="{if $wa->get('price_max')}{(int)$wa->get('price_max')}{elseif $max_price}{$max_price}{/if}" placeholder="{if $max_price}{$max_price}{else}&infin;{/if}"> {$c.sign}
            </div>
            <div class="slider-range"></div>
        </div>
        {else}
        <div class="filter-block {if $count == $filter_count}last{/if}" data-id="{$filter.id}">
            <b><a href="javascript:void(0)">{$filter.name|escape} <i class="icon10 {if $theme_settings.filter_state == 'opened'}darr open{else}rarr close{/if}"></i></a></b>
            <div class="filter-value" {if $theme_settings.filter_state == 'opened'}style='display: block;'{/if}>
                {if $filter.type == 'boolean'}
                <div class="filter-field{if $wa->get($filter.code)} checked{/if}">
                    <input type="radio" id="fil-yes-{$filter.id}" name="{$filter.code}"{if $wa->get($filter.code)} checked{/if} value="1"> 
                    <label for="fil-yes-{$filter.id}"><span class="stylish-wrap"></span>[`Yes`]</label>
                </div>
                <div class="filter-field{if $wa->get($filter.code) === '0'} checked{/if}">
                    <input type="radio" id="fil-no-{$filter.id}" name="{$filter.code}"{if $wa->get($filter.code) === '0'} checked{/if} value="0"> 
                    <label for="fil-no-{$filter.id}"><span class="stylish-wrap"></span>[`No`]</label>
                </div>
                <div class="filter-field{if $wa->get($filter.code, '') === ''} checked{/if}">
                    <input type="radio" id="fil-any-{$filter.id}" name="{$filter.code}"{if $wa->get($filter.code, '') === ''} checked{/if} value=""> 
                    <label for="fil-any-{$filter.id}"><span class="stylish-wrap"></span>[`Any`]</label>
                </div>
                 {elseif isset($filter.min)}
                   {$_v = $wa->get($filter.code)}
                   <div class="price-inputs">
                        [`from`] <input type="text" class="width50px min f-price" name="{$filter.code}[min]" placeholder="{$filter.min}" {if !empty($_v.min)}value="{$_v.min}"{/if}>
                        [`to`] <input type="text" class="width50px max f-price" name="{$filter.code}[max]" placeholder="{$filter.max}" {if !empty($_v.max)}value="{$_v.max}"{/if}>
                        {if !empty($filter.unit)}
                        {$filter.unit.title}
                        {if $filter.unit.value != $filter.base_unit.value}<input type="hidden" name="{$filter.code}[unit]" value="{$filter.unit.value}">{/if}
                        {/if}
                   </div>
                   <div class="slider-range"></div>
                {else}
                {foreach $filter.values as $v_id => $v}
                <div class="filter-field{if in_array($v_id, (array)$wa->get($filter.code, array()))} checked{/if}">
                    <input type="checkbox" id="fil-{$fid}-{$v_id}" name="{$filter.code}[]" {if in_array($v_id, (array)$wa->get($filter.code, array()))}checked{/if} value="{$v_id}"> 
                    <label for="fil-{$fid}-{$v_id}"><span class="stylish-wrap"></span>{$v}</label>
                </div>
                {/foreach}
                {/if}
            </div>
            {if $count !== $filter_count}<hr />{/if}
        </div>
        {/if}
        {/foreach}
        {if $wa->get('sort')}<input type="hidden" name="sort" value="{$wa->get('sort')|escape}">{/if}
        {if $wa->get('order')}<input type="hidden" name="order" value="{$wa->get('order')|escape}">{/if}
        {if empty($theme_settings.ajax_filters)}
        <div class="align-right">
            <a href="{$wa->currentUrl(false, true)}">[`Reset`]</a>
            <input type="submit" class="button grey" value="[`Filter products`]">
        </div>
        {/if}
    </form>
</div>

{/if} 