<div class="wrap multishop-form">
    <div id="page" role="main">
        {if !empty($set_password)}
        <h1>[s`Recover password for`] {$login}</h1>
        {$wa->setPasswordForm($error)}
        {else}
        <h1>[s`Password recovery`]</h1>
        {if !empty($sent)}
        <p>[s`Password recovery instructions have been sent to your email address.`]</p>
        <a href="{$wa->loginUrl()}" class="fly-login">[s`Back to login page`]</a>
        {else}
        {$wa->forgotPasswordForm($error)}
        {/if}
        {/if}
    </div>
</div>