<!-- shop app css -->
<link href="{$wa_active_theme_url}custom.shop.css?{$wa_theme_version}" rel="stylesheet" type="text/css">
<link href="{$wa_active_theme_url}custom.shop.mobile.css?{$wa_theme_version}" rel="stylesheet" type="text/css">
<!-- js -->
{if isset($smarty.capture.extra_js)}
{$smarty.capture.extra_js}
{/if}

<link rel="stylesheet" href="{$wa_active_theme_url}igaponov/slick/slick.css" />
<script type="text/javascript" src="{$wa_active_theme_url}igaponov/slick/slick.js"></script>

{$wa_promos = $wa->shop->promos()}
{if $wa_promos}
    <script type="text/javascript" src="{$wa_active_theme_url}igaponov/jquerycountdowntimer/jquery.countdownTimer.min.js?v={$wa->version(true)}"></script>
{/if}
<script type="text/javascript" src="{$wa_active_theme_url}lazyloading.js"></script>
<script type="text/javascript" src="{$wa_app_static_url}js/lazy.load.js?v={$wa_theme_version}"></script>
<script type="text/javascript" src="{$wa_static_url}wa-content/js/jquery-plugins/jquery.cookie.js"></script>
<script type="text/javascript" src="{$wa_active_theme_url}custom.shop.js"></script>
{if $wa->shop->config('enable_2x')}
<script type="text/javascript" src="{$wa_static_url}wa-content/js/jquery-plugins/jquery.retina.js?v{$wa->version(true)}"></script>
<script type="text/javascript">$(window).load(function(){ $('.bxslider img,.product-list img,.product-page img,.cart img').retina(); });</script>
{/if}

{if !empty($nofollow)}
<!-- "nofollow" for pages not to be indexed, e.g. customer account -->
<meta name="robots" content="noindex,nofollow" />
{/if}

<!-- plugin hook: 'frontend_head' -->
{* @event frontend_head.%plugin_id% *}
{foreach $frontend_head as $_}{$_}{/foreach}