<!-- plugin hook: 'frontend_homepage' -->
{* @event frontend_homepage.%plugin_id% *}
{foreach $frontend_homepage as $_}{$_}{/foreach}

{if $wa->photos && !empty($theme_settings.photos_slider)}
    {include file="slider.html" photos=$theme_settings.photos_slider search_count=$theme_settings.photos_slider_count width=$theme_settings.photos_slider_size_width height=$theme_settings.photos_slider_size_height fullwidth=$theme_settings.photos_slider_fullwidth}
{/if}
<div class="wrap">
    {if $theme_settings.html_slider}
        <!-- get products from predefined product lists 'promo' and 'bestsellers' -->
        {$promos = $wa->shop->productSet('promo')}
        <!-- promo products -->
        {if $promos && count($promos)}
        <div class="promo slider-custom">
            <!-- CUSTOM SLIDER -->
            <ul class="bxslider-custom">
                {foreach $promos as $p}
                <li itemscope itemtype ="http://schema.org/Product">
                    <a href="{$p.frontend_url}" title="{$p.name}{if $p.summary} &ndash; {strip_tags($p.summary)|escape}{/if}">
                        <div class="image">
                            {$badge_html = $wa->shop->badgeHtml($p.badge)}
                            {if $badge_html}
                            <div class="corner top">{$badge_html}</div>
                            {/if}
                            {$wa->shop->productImgHtml($p, '250x0', ['itemprop' => 'image', 'alt' => $p.name, 'default' => "`$wa_theme_url`img/dummy200.png"])}
                        </div>
                        <div class="info">
                            <h2 itemprop="name">
                                <span class="name align-center">{$p.name}</span>
                            </h2>
                            <p>{if $p.compare_price > 0}<span class="compare-at-price nowrap"> {if $theme_settings.ruble == 'html'}{shop_currency_html($p.compare_price)}{else}{shop_currency($p.compare_price)}{/if} </span>{/if}<span class="price nowrap">{if $theme_settings.ruble == 'html'}{shop_currency_html($p.price)}{else}{shop_currency($p.price)}{/if}</span></p>
                            {if $p.summary}<p itemprop="description">{strip_tags($p.summary)|escape}</p>{/if}
                        </div>
                    </a>
                </li>
                {/foreach}
            </ul>
        </div>
        {/if}
    {/if}

    {if !empty($theme_settings.products_slider)}
        {include file="slider.html" slider_id="1" search=$theme_settings.products_slider search_count=$theme_settings.products_slider_count name="[`Best sellers`]" speed="10000"}
    {/if}

    <!-- Promo-cards -->
    {$wa_promos = $wa->shop->promos()}
    {if $wa_promos}
        <div class="info-banners">
            {foreach $wa_promos as $pr}
                <div class="info-banner">
                    <div class="banner-icon"><a href="{$pr.link|escape}"><img src="{$pr.image}" /></a></div>
                    {if !empty($pr.title)}
                        <h5><a href="{$pr.link|escape}" style="color: {$pr.color};">{$pr.title|escape}</a></h5>{/if}
                    {if !empty($pr.body)}<p style="color: {$pr.color};">{$pr.body|escape}</p>{/if}
                    {if !empty($pr.countdown_datetime) && time() <= strtotime($pr.countdown_datetime)}
                        <div class="promo-countdown">
                            <div class="js-promo-countdown"
                                  data-start="{date('Y-m-d H:i:s')}"
                                  data-end="{$pr.countdown_datetime}">
                            </div>
                        </div>
                    {/if}
                </div>
            {/foreach}
        </div>
    {/if}
    <!-- End of Promo-cards -->

    <!-- Big banner -->
    <div class="banner-home">
        {$big_banner = $wa->block('multishop.big.banner')}
        {if $big_banner}
            {$big_banner}
        {else}
            <a href="{$wa->getUrl('shop/frontend')}"><img src="{$wa_active_theme_url}img/banner1-content.png" alt="" /></a>
        {/if}
    </div>
    <!-- End -->

    {*include file="slider.html" slider_id="5" search="set/promo" name="[`New`]" speed="10000"*}

    <!-- Mosaic banners -->
    {if $theme_settings.banner_id}
        {$banners = $wa->photos->photos("album/`$theme_settings.banner_id`")}
        {if $banners}
            <ul id="mosaic-banners" class="menu-h">
                {foreach $banners as $b}
                    <li>
                        {$size = "`$b.width`x`$b.height`"}
                        {if $b.description}<a href="{$b.description}" title='{$b.name}'>{/if}
                            <img src="{photosPhoto::getPhotoUrl($b, $size)}" alt="{$b.name}"  />
                        {if $b.description}</a>{/if}
                    </li>
                {/foreach}
            </ul>
        {/if}
    {/if}
    <!-- End -->

    <!-- GENERAL WELCOME TEXT -->
    {if $wa->blog}
    {if empty($theme_settings.news)}
    {$theme_settings.news = null}
    {/if}
    {$news = $wa->blog->posts($theme_settings.news, $theme_settings.news_count)}
    {else}
    {$news = null}
    {/if}
    <div class="{if $news}sidebar left500px {/if}main-page" itemscope itemtype="http://schema.org/Store">
        <h3 itemprop="name">{sprintf('[`%s online store`]', $wa->shop->settings('name'))}</h3>
        <meta itemprop="description" content="{$wa->meta('description')|escape}">
        [`<p>Theme template "Multishop" - Your assistant in the sales.</p>`]
        [`<p>You get all this advantages and even more:</p>`]
        <ul style="padding-left: 25px;">
            [`<li>Flying cart with order details.</li>`]
            [`<li>Flexible setup of menu categories (individual display for each category).</li>`]
            [`<li>Responsive design without unnecessary elements.</li>`]
            [`<li>Built-in slider.</li>`]
            [`<li>Focus on details.</li>`]
            [`<li>And even more.</li>`]
        </ul>
        <img src="{$wa_active_theme_url}img/preview.jpg" class="main-page-image" />
        [`<p>Becoming the owner of the theme template Multishop", You get a powerful tool for e-commerce.</p>`]
        <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <meta itemprop="streetAddress" content="">
            <meta itemprop="addressLocality" content="">
            <meta itemprop="addressRegion" content="">
            <meta itemprop="postalCode" content="">
            <meta itemprop="addressCountry" content="{$wa->shop->settings('country')|upper}">
        </div>
    </div>
    {if $news}
    <div class="content main-page left500px">
        <section class="news-block">
            <h3>[`News`]</h3>
            {foreach $news as $n}
            <article class="{if $n@iteration is div by 2}even{/if}{if $n@iteration is div by 3} div3{/if}">
                <p>
                    <a href="{if !empty($n.external_link)}{$n.external_link}{else}{$n.link}{/if}">
                        {if !empty($n.preview)}
                        <img src="{$n.preview}" />
                        {/if}
                        {$n.text|strip_tags|truncate:150}
                    </a>
                </p>
                <time class="grey"><i class="icon16 th calendar-bw"></i> {$n.datetime}</time>
            </article>
            {/foreach}
        </section>
    </div>
    <div class="clear-both"></div>
    {/if}
    <p class="align-center gray">[`Edit this information in the <strong>home.html</strong> template file using built-in design editor in the store backend.`]</p>
</div>