$("#zoom-gallery").slick({
    dots: false,
    autoplay: false,
    draggable: false,
    infinite: false,
    slidesToShow: 3,
    slidesToScroll: 1,
    leftArrow: '<i class="slider-thumb-icons larr-bw"></i>',
    rightArrow: '<i class="slider-thumb-icons rarr-bw"></i>'
});

{if $theme_settings.enlarge_type == 'zoom'}
    var imageGalleryResize = function() {
        var options = { };
        var destroyZoom = function() {
            $(".magnifier, .statusdiv, .tracker, .cursorshade").remove();
        };
        var refreshZoom = function(options) {
            destroyZoom();
            $("#zoom").imagezoomsl({
                zoomrange: options.zoomrange,
                disablewheel: options.disablewheel,
                innerzoom: options.innerzoom
            });
        };
        if ($(window).width() < 740) {
            options.innerzoom = true;
            options.zoomrange = [2, 2];
            options.disablewheel = false;
        } else {
            options.innerzoom = false;
            options.zoomrange = [2, 10];
            options.disablewheel = true;
        }
        if ($(window).width() < 450) {
            destroyZoom();
        } else {
            refreshZoom(options);
        }
    };
    $(window).resize(function() {
        imageGalleryResize();
    });
    imageGalleryResize();
{else}
    $('.fancybox-img-start').on("click", function(){
        var items = [];
        var imageId = $(this).attr('data-id');
        items.push({ href: $(this).attr('href'), title: $(this).find("img").attr('alt') });
        $('.fancybox-img').each(function() {
            if (parseInt($(this).attr('rel')) !== parseInt(imageId)) {
                items.push({ href: $(this).attr('href'), title: $(this).find("img").attr('alt') });
            }
        });

        $.fancybox.open(items, {
            helpers: {
                overlay: {
                    locked: false
                }
            },
            beforeShow: function () {
                var imgAlt = this.group[0].alt;
                if (imgAlt) {
                    $(".fancybox-image").attr("alt", imgAlt);
                }
            }
        });
        return false;
    });
{/if}
    // product images
    $("#zoom-gallery a").click(function () {
        $(".image-thumb a").removeClass("selected");
        var a = $(this);
        var img = $(this).find('img');
        if (a.attr('id') == 'product-image-video') {
            a.addClass("selected");
            $("#image-container").hide();
            $("#video-container").show();
        } else {
            $("#image-container").show();
            $("#video-container").hide();
            var size = $("#zoom").attr('src').replace(/^.*\/[0-9]+\.(.*)\..*$/, '$1');
            var src = img.attr('src').replace(/^(.*\/[0-9]+\.)(.*)(\..*)$/, '$1' + size + '$3');
            $('<img>').attr('src', src).load(function () {
                $("#zoom").attr('src', src).removeAttr('width').removeAttr('height')
                    .attr("data-large", img.attr("data-large"))
                    .parent().attr("href", img.attr("data-large")).attr("data-id", a.attr("rel"));
            }).each(function() {
                //ensure image load is fired. Fixes opera loading bug
                if (this.complete) { $(this).trigger("load"); }
            });
            var goTo = ($(this).parent().index() < 3) ? $(this).parent().index() : Math.ceil($(this).parent().index()/3) + 1;
            $("#zoom-gallery").slickGoTo(goTo);
            $(this).addClass("selected");
        }
        return false;
    });