{if isset($is_category) && $is_category == 1}
<script type="text/javascript" src="{$wa_active_theme_url}view.js"></script>
<div class="sort-view">
    {if !empty($sorting)}
    <script type="text/javascript" src="{$wa_active_theme_url}sort.js"></script>
    <!-- sorting -->
    {$sort_fields = ['rating' => '[`Customer rating`]', 'total_sales' => '[`Bestsellers`]', 'price' => '[`Price`]', 'name' => '[`Name`]', 'create_datetime'=>'[`Date added`]', 'stock' => '[`In stock`]']}
    {if !isset($active_sort)}
    {$active_sort = $wa->get('sort', 'create_datetime')}
    {/if}
    <div class="sorting">
        [`Sort by`]:
        <div class="active-sort">
            <form action="">
                <select id="sorting-select">
                    {if !empty($category) && !$category.sort_products}
                    <option value="{$wa->currentUrl(0, 1)}" {if !$active_sort}selected{/if}>[`New & Popular`]</option>
                    {/if}
                    {foreach $sort_fields as $sort => $name}
                    <option value="" data-id="{$sort}"{if $active_sort == $sort}selected{/if}>{$name}</li>
                        {if $wa->get('sort') == $sort}{$wa->title( $wa->title()|cat:' — '|cat:$name)}{/if}
                        {/foreach}
                </select>
            </form>
            <ul id="sorting-block">
                {foreach $sort_fields as $sort => $name}
                <li data-id="{$sort}">{$wa->shop->sortUrl($sort, $name, $active_sort)}</li>
                {/foreach}
            </ul>
        </div>
    </div>
    {/if}
    <div class="product-view">

        {* Plugin Products per page. Link: http://www.webasyst.ru/store/plugin/shop/productsperpage/
        Put code below: {shopProductsperpagePlugin::getCode()} *}
        {if $wa->setting('update_time','','shop.productsperpage') && $theme_settings.productsperpage_plugin}
            {shopProductsperpagePlugin::getCode()}
        {/if}
        <div class="grey">[`found`]: {$products_count} </div>
        <div class="view"><a href="javascript:void(0)" class="f-view" data-view='thumbs'><i class="icon16 ms view-thumbs"></i></a><a href="javascript:void(0)" data-view='table' class="f-view"><i class="icon16 ms view-table-bw"></i></a></div>
    </div>
</div>
{/if}
<!-- products thumbnail list view -->
<ul class="thumbs li200px product-list">
    {$compare = $wa->shop->compare()}
    {$favourite = waRequest::cookie('shop_multishop_favourite', [], waRequest::TYPE_ARRAY_INT)}
    {foreach $products as $p}

    <li itemscope itemtype ="http://schema.org/Product" data-id="{$p.id}" class="product-item{if !$wa->isMobile() && !$wa->userAgent('device')} not-mobile{/if}">
        {if !empty($p.autobadge)}
                {$p.autobadge}
            {/if}
        {$dummy_url = "`$wa_theme_url`img/dummy77.jpg"}
        <div class="image" data-small="{$wa->shop->productImgHtml($p, '77x0', ['itemprop' => 'image', 'alt' => $p.name, 'default' => $dummy_url])|escape}">
            {$badge_html = $wa->shop->badgeHtml($p.badge)}
            {if $badge_html}
            {$badge_html}
            {/if}
            <a href="{$p.frontend_url|escape}" title="{$p.name|escape}{if $p.summary} &ndash; {strip_tags($p.summary)|escape}{/if}">
                <div class="thumbs">{$wa->shop->productImgHtml($p, '200x0', ['itemprop' => 'image', 'alt' => $p.name, 'default' => "`$wa_theme_url`img/dummy220.jpg"])}</div>
                <div class="table">{$wa->shop->productImgHtml($p, '140', ['itemprop' => 'image', 'alt' => $p.name, 'default' => "`$wa_theme_url`img/dummy140.jpg"])}</div>
            </a>
        </div>
        <h5 itemprop="name">
            <a href="{$p.frontend_url|escape}" title="{$p.name|escape}{if $p.summary} &ndash; {strip_tags($p.summary)|escape}{/if}">
                {$p.name}
            </a>
            {if $p.rating > 0}
            <div class="rating table">{$wa->shop->ratingHtml($p.rating)}</div>
            {/if}
        </h5>
        {if $p.summary}<p itemprop="description" class='description table'>{$p.summary|truncate:200}</p>{/if}
        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            <div class="short-info">
                {if $p.compare_price > 0}<span class="compare-price">{if $theme_settings.ruble == 'html'}{shop_currency_html($p.compare_price)}{else}{shop_currency($p.compare_price)}{/if}</span>{/if}
                <span class="price" itemprop="price">{if $theme_settings.ruble == 'html'}{shop_currency_html($p.price)}{else}{shop_currency($p.price)}{/if}</span>
                {if $p.rating > 0}
                <div class="rating thumbs">{$wa->shop->ratingHtml($p.rating)}</div>
                {/if}
                <div class="active-icons table">
                    <a href="javascript:void(0)" class="favourite-catalog {if in_array($p.id, $favourite)} active{/if}" data-product="{$p.id}" title="{if in_array($p.id, $favourite)}[`Remove from Wish list?`]{else}[`Add to Wish list?`]{/if}"><i class="favourite-icon"></i></a>
                    <a href="javascript:void(0)" class="compare-catalog{if $compare && isset($compare[$p.id])} active compared{/if}" data-product="{$p.id}" title="{if $compare && isset($compare[$p.id])}[`Remove from compare list?`]{else}[`Add to compare list?`]{/if}"><i class="compare-icon"></i></a>
                </div>
            </div>
            <form class="addtocart" method="post" {if $p.sku_count > 1}data-url="{$p.frontend_url}{if strpos($p.frontend_url, '?')}&{else}?{/if}cart=1"{/if} action="{$wa->getUrl('/frontendCart/add')}">
                {if $wa->shop->settings('ignore_stock_count') || $p.count === null || $p.count > 0}
                <input type="hidden" name="product_id" value="{$p.id}">
                <input type="submit" value="">
                <link itemprop="availability" href="http://schema.org/InStock" />
                {else}
                <input type="submit" value="" class="disabled" disabled="disabled" title="[`Out of stock`]">
                <link itemprop="availability" href="http://schema.org/OutOfStock" />
                {/if}
                <meta itemprop="price" content="{$p.price}">
                <meta itemprop="priceCurrency" content="{$wa->shop->primaryCurrency()}">
            </form>
            <div class="active-icons thumbs">
                <a href="javascript:void(0)" class="favourite-catalog {if in_array($p.id, $favourite)} active{/if}" data-product="{$p.id}" title="{if in_array($p.id, $favourite)}[`Remove from Wish list?`]{else}[`Add to Wish list?`]{/if}"><i class="favourite-icon"></i></a>
                <a href="javascript:void(0)" class="compare-catalog{if $compare && isset($compare[$p.id])} active compared{/if}" data-product="{$p.id}" title="{if $compare && isset($compare[$p.id])}[`Remove from compare list?`]{else}[`Add to compare list?`]{/if}"><i class="compare-icon"></i></a>
            </div>
        </div>
    </li>
    {/foreach}
</ul>
{if isset($pages_count) && $pages_count > 1}
<div class="block {if $theme_settings.lazyloading == 'lazyloading' || !$theme_settings.lazyloading}lazyloading-paging{/if}">
    {wa_pagination total=$pages_count attrs=['class' => "menu-h"]}
</div>
{/if}