<li class="shop {if $my_nav_selected == 'orders'}selected{/if}">
    <a href="{$wa->getUrl('/frontend/myOrders')}"><i class="icon16 ms {if $my_nav_selected == 'orders'}cart{else}cart-bw{/if}"></i> [`My orders`]</a>
</li>

{if $my_app == $wa->app()}
    <li class="shop {if $my_nav_selected == 'profile'}selected{/if}">
        <a href="{$wa->getUrl('/frontend/myProfile')}"><i class="icon16 th {if $my_nav_selected == 'profile'}user{else}user-bw{/if}"></i> [`My profile`]</a>
    </li>
{/if}

{if shopAffiliate::isEnabled()}
    <li class="shop {if $my_nav_selected == 'affiliate'}selected{/if}">
        <a href="{$wa->getUrl('/frontend/myAffiliate')}"><i class="icon16 ms {if $my_nav_selected == 'affiliate'}thumbup{else}thumbup-bw{/if}"></i> [`Affiliate program`]</a>
    </li>
{/if}

<!-- plugin hook: 'frontend_my_nav' -->
{* @event frontend_my_nav.%plugin_id% *}
{foreach $frontend_my_nav as $_plugin => $_}
<li class="shop {if waRequest::param('plugin') == str_replace('-plugin', '', $_plugin)}selected{/if}">{$_}</li>
{/foreach}