<div class='wrap multishop-form'>
    {$wa->myNav('menu-h bottom-padded my-nav')}

    <h1>[`My profile`]</h1>

    {if $saved}
    <strong><i class="icon16 saved"></i><span style="color:green">[`Contact information successfully updated!`]</span></strong>
    {/if}

    <form action="" method="post">
        <div class="wa-form">

            {$form->html()}

            <div class="wa-field">
                <div class="wa-value">
                    <input type="submit" class='button grey border-light' value="[`Save`]">
                </div>
            </div>
        </div>
    </form>
</div>