{if $theme_settings.demo == 'on' && $wa->shop}

{* Cancel *}
{$settings_cancel = $wa->post('settings-cancel')}
{if !empty($settings_cancel)}
{$settings_cancel = 1}
{$wa->storage('settings-menu-category', '')}
{$wa->storage('settings-productsperfly', '')}
{$wa->storage('settings-footer-type', '')}
{$wa->storage('settings-default-view', '')}
{$wa->storage('settings-lazyloading', '')}
{$wa->storage('settings-color', '')}
{$wa->storage('settings-pattern', '')}
{else}
{$settings_cancel = 0}
{/if}

{* Product enlarge *}
{$zoom = $wa->post('settings-zoom')}
{$zoom2 = $wa->storage('settings-zoom')}
{if !empty($zoom) && !$settings_cancel}
{$theme_settings.enlarge_type = $zoom}
{$wa->storage('settings-zoom', $zoom)}
{elseif (!empty($zoom2) && !$settings_cancel)}
{$theme_settings.enlarge_type = $zoom2}
{/if}

{/if}

{$favourite = waRequest::cookie('shop_multishop_favourite', [], waRequest::TYPE_ARRAY_INT)}

<script type="text/javascript" src="{$wa_theme_url}igaponov/zoomsl-3.0.min.js"></script>
<script type="text/javascript" src="{$wa_static_url}wa-content/js/jquery-plugins/jquery.history.js"></script>

<script type="text/javascript">
    jQuery(document).ready(function($) {
        $(".reviews-count a").click(function() {
            $(window).scrollTop($("#product-tabs").offset().top - 50);
        });

        {include file='image-gallery.html'}

        var viewedProducts = $.cookie('shop_multishop_viewed');
        if (viewedProducts) {
            viewedProducts = viewedProducts.split(',');
        } else {
            viewedProducts = [];
        }
        var i = $.inArray({$product.id}+'', viewedProducts);
        if (i == -1) {
            viewedProducts.push({$product.id});
        }
        $.cookie('shop_multishop_viewed', viewedProducts.join(','), { expires: 10, path: $.multishop.shopUrl });
    });
</script>

<div class="wrap">
    <div  class="product-page" itemscope itemtype="http://schema.org/Product">
        <!-- image gallery -->
        <div class="images">
            <!-- main image -->
            {$dummy_url = "`$wa_theme_url`img/dummy77.jpg"}
            <div class="image" data-small="{$wa->shop->productImgHtml($product, '77x0', ['itemprop' => 'image', 'alt' => $product.name|escape, 'default' => $dummy_url])|escape}">
                {if !empty($product.autobadge)}
                        {$product.autobadge}
                    {/if}
                {if !empty($product['video_url'])}
                    {$video = $product->getVideo(['96x96'])}
                {/if}
                {if !empty($video.url)}
                    <div id="video-container" itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
                        <div itemprop="embedHTML">
                            <iframe src="{$video.url}" width="{$video.width}" height="{$video.height}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>
                        <meta itemprop="width" content="{$video.width}">
                        <meta itemprop="height" content="{$video.height}">
                    </div>
                {/if}
                <div id='image-container'{if !empty($video.url)} style='display: none'{/if}>
                    {if $product.images}
                    {$wa->shop->badgeHtml($product.badge)}
                    {/if}
                    {$zoom_image = $wa->shop->productImgUrl($product, '970x0')}
                    {if $theme_settings.enlarge_type == 'fancybox'}
                    <a href="{$zoom_image}" data-id='{$product.image_id}' class='fancybox-img-start'>
                    {/if}
                    {$wa->shop->productImgHtml($product, '320x0', [ 'itemprop' => 'image', 'id' => 'zoom','data-large' => $zoom_image, 'alt' => $product.name|escape, 'default' => "`$wa_theme_url`img/dummy220.jpg"])}
                    {if $theme_settings.enlarge_type == 'fancybox'}
                    </a>
                    {/if}
                </div>
            </div>
            <!-- gallery -->
            {if count($product.images) > 1 || (!empty($video.url) && count($product.images) === 1)}
                <div class="thumbs-container slider-custom">
                    <div id='zoom-gallery'>
                        {if !empty($video.url)}
                            <div class="image-thumb">
                                <a id="product-image-video" class='selected' href="{$video.url}">
                                    <img src="{$video.images[0]}" alt='[`Video`]'>
                                </a>
                            </div>
                        {/if}
                        {foreach $product.images as $image}
                            <div class="image-thumb">
                                <a id="product-image-{$image.id}"
                                   {if $theme_settings.enlarge_type == 'zoom'}
                                       href="javascript:void(0)"
                                       data-image="{$wa->shop->productImgUrl(['id'=> $product.id, 'image_id' => $image.id, 'ext' => $image.ext], '320x0')}"
                                       data-zoom-image="{$wa->shop->productImgUrl(['id'=> $product.id, 'image_id' => $image.id, 'ext' => $image.ext], '970x0')}"
                                   {else}
                                       href="{$wa->shop->productImgUrl(['id'=> $product.id, 'image_id' => $image.id, 'ext' => $image.ext], '970x0')}"
                                       class="fancybox-img"
                                       rel='{$image.id}'
                                   {/if}
                                   >
                                    {$zoom_thumb = $wa->shop->productImgUrl(['id'=> $product.id, 'image_id' => $image.id, 'ext' => $image.ext], '970x0')}
                                    {$image_normal_size = $wa->shop->productImgUrl(['id'=> $product.id, 'image_id' => $image.id, 'ext' => $image.ext], '320x0')}
                                    {$image_alt = $product.name|escape}
                                    {if $image.description}
                                    {$image_alt = $image_alt|cat:' - ':$image.description|escape}
                                    {/if}
                                    {$wa->shop->productImgHtml(['id'=> $product.id, 'image_id' => $image.id, 'ext' => $image.ext, 'image_desc' => $image.description|escape], '81x0', ['alt' => $image_alt, 'data-large'=>{$zoom_thumb}, 'data-image' => $image_normal_size])}
                                </a>
                            </div>
                        {/foreach}
                    </div>
                    <span class="slider-prev"></span>
                    <span class="slider-next"></span>
                </div>
            {/if}
        </div>
        <div class="product-info">
            <div class='content'>
                <h1 itemprop="name">
                    {$product.name|escape}
                </h1>
                {if !empty($product.rating) && $product.rating > 0}
                <div class="rating" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating" title="{sprintf('[`Average user rating: %s / 5`]', $product.rating)}">
                    {$wa->shop->ratingHtml($product.rating, 16)}
                    <span class="rating-review">
                        <i class="icon16 ig user-grey"></i><span itemprop="ratingValue">{$product.rating}</span>
                        <span class="reviews-count">
                            {if $reviews}
                            <i class="icon16 ig review"></i>
                            {sprintf('<a href="%s">[`reviews`]: <span itemprop="reviewCount" class="count">%d</span></a>', '#/reviews/', $reviews_total_count)}
                            {/if}
                        </span>
                    </span>
                </div>
                {/if}
                {if !empty($rates)}
                    <table class="rating-distribution">
                        {$_total_count = 0}
                        {foreach $rates as $_rate => $_count}
                            {$_total_count = $_total_count + $_count}
                        {/foreach}
                        {* foreach $rates as $_rate => $_count *}
                        {for $i = 5 to 0 step -1}
                            {if empty($rates[$i]) || !$rates[$i]}{$_count = 0}{else}{$_count = $rates[$i]}{/if}
                            {if $i || $_count}
                                <tr>
                                    <td class="min-width hint">{$_count}</td>
                                    <td>
                                        <div class="bar">
                                            <div class="filling" style="width: {if $_total_count > 0}{str_replace(',','.', 100*$_count/$_total_count)}{else}0{/if}%;{if !$i} background: #ddd;{/if}"></div>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="rating">{for $j=1 to $i}<i class="icon10 star"></i>{forelse}<span class="hint">[`no rate`]</span>{/for}</span>
                                    </td>
                                </tr>
                            {/if}
                        {/for}
                    </table>
                {/if}
                <div class="cart" id="cart-flyer">
                    <!-- add to cart -->
                    {include file="product.cart.html" product_page=1 inline}
                    <!-- compare -->
                    <div class="compare">
                        <a {if $compare}style="display:none"{/if} class="compare-add" data-product="{$product.id}" href="javascript:void(0)"><i class="icon16 th compare-bw"></i>[`Add to comparison table`]</a>
                        <a {if !$compare}style="display:none"{/if} class="compare-remove" data-product="{$product.id}" href="javascript:void(0)"><i class="icon16 th compare-bw"></i>[`Remove from comparison table`]</a>
                        <a id="compare-link" style="display:none" rel="nofollow" href="{$wa->getUrl('/frontend/compare/', ['id' => implode(',', $compare) ])}" class="bold"> / [`Compare`] <span class="count">{count($compare)}</span></a>
                    </div>

                    <div class="favourite">
                        <a href="javascript:void(0)" data-product="{$product.id}" class="favourite-catalog {if in_array($product.id, $favourite)}active{/if}"><i class="favourite-icon"></i> <span>{if in_array($product.id, $favourite)}[`Remove from Wish list?`]{else}[`To Wish-list`]{/if}</span></a>
                    </div>
                    <!-- plugin hook: 'frontend_product.cart' -->
                    {* @event frontend_product.%plugin_id%.cart *}
                    {foreach $frontend_product as $_}{$_.cart}{/foreach}

                </div>
                <hr />
                <div class="aux">
                    <!-- categories -->
                    {if $product.categories}
                    <p id="product-categories">
                        <b>[`Categories`]</b>:
                        {foreach $product.categories as $c}{if $c.status}
                        <span><a href="{$wa->getUrl('/frontend/category', ['category_url' => $c.full_url|escape])}">{$c.name|escape}</a></span>
                        {/if}{/foreach}
                    </p>
                    {/if}
                    <!-- tags -->
                    {if $product.tags}
                    <p class="tags" id="product-tags">
                        <b>[`Tags`]</b>:
                        <span>
                            {foreach $product.tags as $t}
                            <a href="{$wa->getUrl('/frontend/tag', ['tag' => urlencode($t)])}">{$t}</a>
                            {/foreach}
                        </span>
                    </p>
                    {/if}

                    <!-- plugin hook: 'frontend_product.block_aux' -->
                    {* @event frontend_product.%plugin_id%.block_aux *}
                    {foreach $frontend_product as $_}{$_.block_aux}{/foreach}

                </div>
            </div>
            <div class="sidebar right165px related">
                {$upselling = $product->upSelling()}
                {if $upselling}
                {$compare_ids = array_merge(array($product.id), array_keys($upselling))}
                <h4>[`See also`]:</h4>
                {$compareUrl = $wa->getUrl('/frontend/compare', ['id' => implode(',', $compare_ids)])}
                <input type="button" class='button grey' onClick='javascript:window.location = "{$compareUrl}";' value="[`Compare all`]" />
                {include file="slider.html" slider_id=3 products=$upselling speed="5000" mode='vertical'}
                {/if}
            </div>
        </div>
        <!-- product page navigation -->
        <script type="text/javascript" src="{$wa_active_theme_url}tabs.js"></script>
        <ul class="menu-h" id="product-tabs">
            <li class="selected"><a href="{$wa->shop->productUrl($product)}" data-id="overview">[`Overview`]</a></li>
            <li>
                <a href="{$wa->shop->productUrl($product, 'reviews')}" data-tab="reviews" data-id="reviews">[`Reviews`] <span class="hint count">{$reviews_total_count}</span></a>
            </li>
            {if $product.features}
            <li>
                <a href="javascript:void(0)" data-tab="features" data-id="features">[`Features`]</a>
            </li>
            {/if}
            {foreach $product.pages as $page}
            <li><a href="{$wa->shop->productUrl($product, 'page', ['page_url' => $page.url|escape])}" data-tab="page" data-id="page-{$page.url|regex_replace:'/[\s]/':'_'}">{$page.name|escape}</a></li>
            {/foreach}

            <!-- plugin hook: 'frontend_product.menu' -->
            {* @event frontend_product.%plugin_id%.menu *}
            {foreach $frontend_product as $_}{$_.menu}{/foreach}

        </ul>
        <div id="tab-content">
            <div id="overview">
                <!-- plugin hook: 'frontend_product.block' -->
                {* @event frontend_product.%plugin_id%.block *}
                {foreach $frontend_product as $_}{$_.block}{/foreach}

                <div class="description" id="product-description" itemprop="description">{if $product.description}{$product.description}{else}[`No description`]{/if}</div>
            </div>
            <div id="features">
                <!-- product features -->
                {if $product.features}
                <table class="features" id="product-features">
                    {foreach $product.features as $f_code => $f_value}
                    <tr{if $features[$f_code].type == 'divider'} class="divider"{/if}>
                        <td class="name">
                            {$features[$f_code].name|escape}
                        </td>
                        <td class="value" itemprop="{$f_code|escape}">
                            {if is_array($f_value)}
                            {if $features[$f_code].type == 'color'}
                            {implode('<br /> ', $f_value)}
                            {else}
                            {implode(', ', $f_value)}
                            {/if}
                            {else}
                            {$f_value}
                            {/if}
                        </td>
                    </tr>
                    {/foreach}
                </table>
                {/if}
            </div>
        </div>
    </div>
    <!-- RELATED PRODUCTS -->
    {$crossselling = $product->crossSelling()}
    {if $crossselling}
    <div class="related">
        <h4>{sprintf('[`Customers who bought %s also bought`]', $product.name|escape)}</h4>
        {include file="slider.html" slider_id=4 products=$crossselling speed="5000" max_slides=5}
    </div>
    {/if}
</div>