
<form id="cart-form{if $wa->get('cart')}-dialog{/if}" class="cart-form" method="post" action="{$wa->getUrl('/frontendCart/add')}">

    <!-- sku -->
    {if !isset($product_page)}
    <h4 data-name="{$product.name|escape}" data-url="{$product.frontend_url|escape}" class="align-center">{sprintf('[`Buy %s`]',$product.name|escape)}</h4>
    {$dummy_url = "`$wa_theme_url`img/dummy77.jpg"}
    <div class="image align-center" data-small="{$wa->shop->productImgHtml($product, '77', ['itemprop' => 'image', 'alt' => $product.name, 'default' => $dummy_url])|escape}">
        {$wa->shop->productImgHtml($product, '77', [ 'itemprop' => 'image', 'alt' => $product.name|escape|cat:' ':strip_tags($product.summary), 'default' => "`$wa_theme_url`img/dummy77.jpg"])}
    </div>
    {/if}

    {if $product.sku_type}
        <!-- SELECTABLE FEATURES selling mode -->
        {$default_sku_features = $product.sku_features}
        {$product_available = $product.status}
        {if $theme_settings.selectable_features_control == 'inline' || (isset($product.params.selectable_features) && $product.params.selectable_features == 'inline')}
            <div class="options">
                {foreach $features_selectable as $f}
                {$f.name}:
                    <div class="inline-select{if $f.type == 'color'} color{/if}">
                        {foreach $f.values as $v_id => $v}
                            {if !isset($default_sku_features[$f.id])}{$default_sku_features[$f.id]=$v_id}{/if}
                            <a data-value="{$v_id}" href="#" class="{if $v_id == ifset($default_sku_features[$f.id])}selected{/if}{if $f.type !== 'color'} not-color-block{/if}"{if $f.type == 'color'} style="{$v->style}; margin-bottom: 20px;"{/if}>
                                {if $f.type == 'color'}&nbsp;<span class="color_name">{strip_tags($v)}</span>{else}{$v}{/if}
                            </a>
                        {/foreach}
                        <input type="hidden" data-feature-id="{$f.id}" class="sku-feature" name="features[{$f.id}]" value="{ifset($default_sku_features[$f.id])}">
                    </div>
                {/foreach}
            </div>        
        {elseif $theme_settings.selectable_features_control == 'select' || (isset($product.params.selectable_features) && $product.params.selectable_features == 'select')}
            <div class="options">
                {foreach $features_selectable as $f}
                    {$f.name}:
                    <select data-feature-id="{$f.id}" class="sku-feature" name="features[{$f.id}]">
                        {foreach $f.values as $v_id => $v}
                            <option value="{$v_id}" {if $v_id == ifset($default_sku_features[$f.id])}selected{/if}>{$v}</option>
                        {/foreach}
                    </select>
                    <br>
                {/foreach}
            </div>
        {/if}
    {else}
    <!-- FLAT SKU LIST selling mode -->
    {$product_available = false}
    {if count($product.skus) > 1}

    <!-- SKU selector -->

    <ul class="skus">
        {foreach $product.skus as $sku}
        {$sku_available =  $product.status && $sku.available && ($wa->shop->settings('ignore_stock_count') || $sku.count === null || $sku.count > 0)}
        <li itemprop="offers" itemscope itemtype="http://schema.org/Offer" data-id="{$sku.id}">
            <div {if !$sku.available} class="disabled"{/if} class="clearfix inline-block">
                <input name="sku_id" id="lab-{$sku.id}" type="radio" value="{$sku.id}"{if !$sku.available} disabled="true"{/if}{if !$sku_available}data-disabled="1"{/if}{if $sku.id == $product.sku_id} checked="checked"{/if} data-compare-price="{shop_currency($sku.compare_price, $product.currency, null, 0)}" data-price="{shop_currency($sku.price, $product.currency, null, 0)}"{if $sku.image_id} data-image-id="{$sku.image_id}"{/if}> 
                <label for="lab-{$sku.id}" itemprop="name" class="s-radio-name">
                    <span class="stylish-wrap"></span><span class="sku-name">{$sku.name|escape}</span>
                </label>
                <meta itemprop="price" content="{shop_currency($sku.price, $product.currency)}">
                {if (!($sku.count === null) && $sku.count <= 0)}
                <link itemprop="availability" href="http://schema.org/OutOfStock" />
                {else}
                <link itemprop="availability" href="http://schema.org/InStock" />
                {/if}
            </div>
            <span class="price">{if $theme_settings.ruble == 'html'}{shop_currency_html($sku.price, $product.currency)}{else}{shop_currency($sku.price, $product.currency)}{/if}</span>
            {if $sku.sku}<div class="hint sku-sku" itemprop="name">({$sku.sku|escape})</div>{/if}
        </li>
        {$product_available = $product_available or $sku_available}
        {/foreach}
    </ul>
    {else}

    <!-- in case there is only one SKU, don't display the selector -->

    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        {$sku = $product.skus[$product.sku_id]}
        {if $sku.sku}<span class="hint" itemprop="name">{$sku.sku|escape}</span>{/if}
        <meta itemprop="price" content="{shop_currency($sku.price, $product.currency)}">
        {if !$sku.available}
        <link itemprop="availability" href="http://schema.org/Discontinued" />
        <p><em class="bold error">[`This product is not available for purchase`]</em></p>
        {elseif !$wa->shop->settings('ignore_stock_count') && !($sku.count === null || $sku.count > 0)}
        <link itemprop="availability" href="http://schema.org/OutOfStock" />
        <div class="stocks"><strong class="stock-none"><i class="icon16 stock-transparent"></i>{if $wa->shop->settings('ignore_stock_count')}[`Pre-order only`]{else}[`Out of stock`]{/if}</strong></div>
        {else}
        <link itemprop="availability" href="http://schema.org/InStock" />
        {/if}
        <input name="sku_id" type="hidden" value="{$product.sku_id}">
        {$product_available = $product.status && $sku.available && ($wa->shop->settings('ignore_stock_count') || $sku.count === null || $sku.count > 0)}
    </div>

    {/if}

    {/if}

    <!-- stock info -->
    {if $product_available || count($product.skus) > 1}
    <div class="stocks">
        {function name=in_stock n=0 low=5 critical=2}
        {if $n > $low or $n === null}
        <strong class="stock-high"><i class="icon16 stock-green"></i>[`In stock`] {if $n}<span class="hint">({$n} [`items`])</span>{/if}</strong>
        {elseif $n > $critical}
        <strong class="stock-low"><i class="icon16 stock-yellow"></i>{_w("Only %d left in stock", "Only %d left in stock", $n)}</strong>
        {elseif $n > 0}
        <strong class="stock-critical"><i class="icon16 stock-red"></i>{_w("Only %d left in stock", "Only %d left in stock", $n)}</strong>
        {else}
        <strong class="stock-none"><i class="icon16 stock-transparent"></i>{if $wa->shop->settings('ignore_stock_count')}[`Pre-order only`]{else}[`Out of stock`]{/if}</strong>
        {/if}
        {/function}
        {foreach $product.skus as $sku}
        <div {if $sku.id != $product.sku_id}style="display:none"{/if} class="sku-{$sku.id}-stock">
            {if $sku.stock}
            {foreach $stocks as $stock_id => $stock}
            {if isset($sku.stock[$stock_id])}
            {$stock_count = $sku.stock[$stock_id]}
            {else}
            {$stock_count = null}
            {/if}
            {$stock.name}: {in_stock n=$stock_count low=$stock.low_count critical=$stock.critical_count}<br>
            {/foreach}
            {else}
            {in_stock n=$sku.count}
            {/if}
        </div>
        {/foreach}
        {if $product.sku_type}
        <div class="sku-no-stock">
            <strong class="stock-none">[`Product with the selected option combination is not available for purchase`]</strong>
        </div>
        {/if}
    </div>
    {/if}

    {if $services}
    <!-- services -->
    <div class="services">
        {foreach $services as $s}
        <div class="service-{$s.id}">
                <input data-price="{shop_currency($s.price, $s.currency, null, 0)}" {if !$product_available}disabled="disabled"{/if} type="checkbox" name="services[]" value="{$s.id}" id="serv-{$s.id}-{$product.id}"><label for="serv-{$s.id}-{$product.id}"><span class="stylish-wrap"></span> {$s.name|escape} {if $s.price && !isset($s.variants)}(+<span class="service-price">{if $theme_settings.ruble == 'html'}{shop_currency_html($s.price, $s.currency)}{else}{shop_currency($s.price, $s.currency)}{/if}</span>){/if}</label>
            {if isset($s.variants)}
            <select data-variant-id="{$s.variant_id}" class="service-variants" name="service_variant[{$s.id}]" disabled>
                {foreach $s.variants as $v}
                <option {if $s.variant_id == $v.id}selected{/if} data-price="{shop_currency($v.price, $s.currency, null, 0)}" value="{$v.id}">{$v.name|escape} (+{if $theme_settings.ruble == 'html'}{shop_currency_html($v.price, $s.currency)}{else}{shop_currency($v.price, $s.currency)}{/if})</option>
                {/foreach}
            </select>
            {else}
            <input type="hidden" name="service_variant[{$s.id}]" value="{$s.variant_id}">
            {/if}
        </div>
        {/foreach}
    </div>
    {/if}

    <!-- price -->
    <div class="add2cart">
        <div class="quantity">
            [`Qty`]: <a href="javascript:void(0)" class="f-quantity-minus"><i class="icon16 ms larr-bw"></i></a><input type="text" name="quantity" value="1" /><a href="javascript:void(0)" class="f-quantity-plus"><i class="icon16 ms rarr-bw"></i></a>
        </div>
        <div class="all-price">
            <div data-price="{shop_currency($product.price, null, null, 0)}" class="price">{if $theme_settings.ruble == 'html'}{shop_currency_html($product.price)}{else}{shop_currency($product.price)}{/if}</div>
            {if $product.compare_price > 0}<div class="compare-price">{if $theme_settings.ruble == 'html'}{shop_currency_html($product.compare_price)}{else}{shop_currency($product.compare_price)}{/if}</div>{/if}
        </div>
        <input type="hidden" name="product_id" value="{$product.id}">
        <div class="submit"><input type="submit" {if !$product_available}disabled="disabled"{/if} value="[`Add to cart`]" class="button theme" /></div>
    </div>

</form>

<script type="text/javascript" src="{$wa_theme_url}product.js?v{$wa_theme_version}"></script>
<script type="text/javascript">
    $(function () {
        new Product('#cart-form{if $wa->get('cart')}-dialog{/if}', {
            currency: {json_encode($currency_info)}
            {if count($product.skus) > 1 or $product.sku_type}
            ,services: {json_encode($sku_services)}
            {/if}
            {if $product.sku_type}
            ,features: {json_encode($sku_features_selectable)}
            {/if}
        });
    });
</script>