{* one review output *}

{if !empty($ajax_append)}<li data-id={$review.id} data-parent-id="{$review.parent_id}">{/if}

    <div class="review" itemprop="review" itemscope itemtype="http://schema.org/Review">
        <div class="summary">
            [`By`]
            {if empty($review.site)}
            <span class="username" itemprop="author">{$review.author.name}</span>
            {else}
            <a href="{$review.site}" class="username" itemprop="author">{$review.author.name}</a>
            {/if}|
            <meta itemprop="datePublished" content="{$review.datetime|date_format:'Y-m-d'}">
            <span class="date" title="{$review.datetime|wa_datetime}">{$review.datetime|wa_datetime:"humandatetime"}</span>
            {if !$review.parent_id && !empty($review.rate)}
            <span itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                {$rate = round($review.rate)}
                <meta itemprop="worstRating" content = "1">
                <meta itemprop="ratingValue" content="{$rate}">
                <meta itemprop="bestRating" content = "5">
                {$wa->shop->ratingHtml($rate)}
            </span>
            {/if}
            <h6>
                <span itemprop="name">{if $review.title}{$review.title}{/if}</span>
            </h6>
        </div>
        {if $review.text}
        <p itemprop="description">{$review.text}</p>
        {/if}

        {if $reply_allowed}
        <div class="actions">
            <a href="{if isset($reply_link)}{$reply_link}{else}javascript:void(0){/if}" class="review-reply inline-link"><b><i>[`reply`]</i></b></a>
        </div>
        {/if}
    </div>
    {if !empty($ajax_append)}<ul class="menu-v with-icons reviews-branch"></ul></li>{/if}