{if $theme_settings.demo == 'on' && $wa->shop}
{* Cancel *}
{$settings_cancel = $wa->post('settings-cancel')}
{if !empty($settings_cancel)}
{$settings_cancel = 1}
{$wa->storage('settings-menu-category', '')}
{$wa->storage('settings-productsperfly', '')}
{$wa->storage('settings-footer-type', '')}
{$wa->storage('settings-default-view', '')}
{$wa->storage('settings-lazyloading', '')}
{else}
{$settings_cancel = 0}
{/if}

{* Default products view *}
{$default_view = $wa->post('settings-default-view')}
{$default_view2 = $wa->storage('settings-default-view')}
{if !empty($default_view) && !$settings_cancel}
{$theme_settings.default_view = $default_view}
{elseif (!empty($default_view2) && !$settings_cancel)}
{$theme_settings.default_view = $default_view2}
{/if}

{* Catalog view *}
{$lazyloading = $wa->post('settings-lazyloading')}
{$lazyloading2 = $wa->storage('settings-lazyloading')}
{if !empty($lazyloading) && !$settings_cancel}
{$theme_settings.lazyloading = $lazyloading}
{elseif (!empty($lazyloading2) && !$settings_cancel)}
{$theme_settings.lazyloading = $lazyloading2}
{/if}
{/if}

{$favourite = $wa->get('favourite')}
{$viewed_products = $wa->get('viewed_products')}

{capture name="extra_js"}
<script type="text/javascript" src="{$wa_static_url}wa-content/js/jquery-ui/jquery.ui.core.min.js"></script>
<script type="text/javascript" src="{$wa_static_url}wa-content/js/jquery-ui/jquery.ui.widget.min.js"></script>
<script type="text/javascript" src="{$wa_static_url}wa-content/js/jquery-ui/jquery.ui.mouse.min.js"></script>
<script type="text/javascript" src="{$wa_static_url}wa-content/js/jquery-ui/jquery.ui.slider.min.js"></script>
<script type="text/javascript" src="{$wa_active_theme_url}filter.js"></script>
{/capture}
<div class="wrap">
    <div class="sidebar category-sidebar left240px">
        {include file="sidebar.html"}
    </div>
    <div class="content left260px">
        
        {if $favourite}
        {$favourite_cookie = waRequest::cookie('shop_multishop_favourite', '', waRequest::TYPE_STRING)}
        {$products = $wa->shop->products('id/'|cat:$favourite_cookie)}
        {$sorting=null}
        {$pages_count = 1}
        {/if}
        
        {if $viewed_products}
        {$viewed = waRequest::cookie('shop_multishop_viewed', '', waRequest::TYPE_STRING)}
        {$products = $wa->shop->products('id/'|cat:$viewed)}
        {$sorting=null}
        {$pages_count = 1}
        {/if}
        
        <h1 class="category-name">
            {if $favourite || $viewed_products}
            {$wa->title($wa->get('title'))}
            {$wa->get('title')} {if $viewed_products && $viewed} <a href="javascript:void(0)" class="cancel-viewed">([`Reset`])</a> {/if}
            {else}
            {$title}
            {/if}
        </h1>

        <!-- plugin hook: 'frontend_search' -->
        {* @event frontend_search.%plugin_id% *}
        {foreach $frontend_search as $plugin_name => $_}
        {if !$theme_settings.productsperpage_plugin || ($theme_settings.productsperpage_plugin && $plugin_name !== 'productsperpage-plugin')}
            {$_}
        {/if}
        {/foreach}
        <div id="product-list">
            {if !$products}
            [`No products were found.`]
            {else}
            {if isset($theme_settings.default_view) && $theme_settings.default_view == 'table'}
            {include file='list-table.html' sorting=!empty($category.params.enable_sorting) is_category=1}
            {else}
            {include file='list-thumbs.html' sorting=!empty($category.params.enable_sorting) is_category=1}
            {/if}
            {/if}
        </div>
    </div>
    <div class="clear-both"></div>
</div>