{* Build category menu *}
{function name=build_shop_sidebar}
{if $collapsible == 'collapsed' || ($collapsible == 'expanded1' && $level > 0) || ($collapsible == 'expanded2' && $level > 1)}
{$hide = 1}
{else}
{$hide = 0}
{/if}

{if ($collapsible == 'expanded2' && $level < 1) || $collapsible == 'expanded'}
{$child_hide = 0}
{else}
{$child_hide = 1}
{/if}
<ul class="menu-v l{$level}{if $hide && !$show_branch} hidden{/if}">
    {foreach $cats as $c}
    <li>
        {if in_array($c.url, $crumbs)}{$show_branch = 1}{else}{$show_branch = 0}{/if}
        <a href="{$c.url}" title="{$c.name}" {if $category_id == $c.id}class="selected"{/if}><i class="icon16 ig rarr"></i> {$c.name}</a> {if !empty($c.childs)}{if $child_hide && !$show_branch}<i class="icon16 ig plus f-collapsible" title="[`Expand`]"></i>{else}<i class="icon16 ig minus f-collapsible" title="[`Collapse`]"></i>{/if}{/if}
        {if !empty($c.childs)}
            {build_shop_sidebar cats = $c.childs crumbs = $crumbs show_branch = $show_branch level=$level+1 collapsible = $collapsible}
        {/if}
    </li>
    {/foreach}
</ul>
{/function}

<!-- plugin hook: 'frontend_nav' -->
{* @event frontend_nav.%plugin_id% *}
{foreach $frontend_nav as $plugin_name => $_}
{if $plugin_name == 'brands-plugin'}
<h4>[`Brands`]</h4>
{/if}
{$_}
{/foreach}  

<!-- plugin hook: 'frontend_nav_aux' -->
 {* @event frontend_nav.%plugin_id% *}
 {foreach $frontend_nav_aux as $plugin => $output}{$output}{/foreach}

<!-- category tree -->

{if $theme_settings.catalog_cat_display == 'children' && isset($category)}
    {$category_display = $category.id}
{elseif $theme_settings.catalog_cat_display == 'parent' && isset($root_category_id)}
    {$category_display = $root_category_id}
{else}
    {$category_display = null}
{/if}

{$categories = $wa->shop->categories($category_display, null, true, false)}
{if isset($category)}
{$selected_category=$category.id}
{else}
{$selected_category=null}
{/if}

{if $theme_settings.filter_position == 'up'}
    {include file='filter.html'}
{/if}

{if $categories}
    {if isset($breadcrumbs)}
    {foreach $breadcrumbs as $b}
        {$crumbs[] = $b.url}
    {/foreach}
{else}
    {$crumbs = []}
{/if}
    {foreach $categories as $c}
        {if in_array($c.url, $crumbs) || $selected_category == $c.id}{$show_branch = 1}{else}{$show_branch = 0}{/if}
        <h4><a href="{$c.url}" title="{$c.name}"{if $selected_category == $c.id} class="selected"{$crumbs[]=$category.url}{/if}>{if !empty($c.childs)}{if $theme_settings.catalog_cat_collapsible == 'collapsed' && !$show_branch}<i class="icon16 ig plus f-collapsible" title="[`Expand`]"></i>{else}<i class="icon16 ig minus f-collapsible" title="[`Collapse`]"></i>{/if}{/if}{$c.name}</a></h4>
        {if !empty($c.childs)}
            {if isset($root_category_id) && $c.id == $root_category_id}{$cat_id = $selected_category}{else}{$cat_id = 0}{/if}
            {build_shop_sidebar cats = $c.childs level=0 category_id = $cat_id show_branch=$show_branch crumbs=$crumbs collapsible = $theme_settings.catalog_cat_collapsible}
        {/if}
    {/foreach}
{/if}

{if $theme_settings.filter_position == 'down'}
    {include file='filter.html'}
{/if}

<!-- tag cloud -->
{if $cloud = $wa->shop->tags()}
<hr>
<div class="tags align-center">
    {foreach $cloud as $tag}
    <a href="{$wa_app_url}tag/{$tag.uri_name}/" style="font-size: {$tag.size}%; opacity: {$tag.opacity}">{$tag.name}</a>
    {/foreach}
</div>
{/if}