@font-face {
  font-family: 'Roboto-Medium';
  src: url('Roboto-Medium.eot');
  src: url('Roboto-Medium.woff') format('woff'),
       url('Roboto-Medium.ttf') format('truetype'),
       url('Roboto-Medium.svg#Roboto-Medium') format('svg'),
       url('Roboto-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url('Roboto-Regular.eot');
    src: url('Roboto-Regular.woff') format('woff'),
    url('Roboto-Regular.ttf') format('truetype'),
    url('Roboto-Regular.svg#Roboto-Regular') format('svg'),
    url('Roboto-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Light';
    src: url('Roboto-Light.eot');
    src: url('Roboto-Light.woff') format('woff'),
    url('Roboto-Light.ttf') format('truetype'),
    url('Roboto-Light.svg#Roboto-Light') format('svg'),
    url('Roboto-Light.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}


