<div class="i-app-item {if empty($is_mini)}profile image96px{else}is-mini{/if}">
    <div class="image">
        <a href="#/apps/{$app.slug}{if !empty($app.edition)}.{$app.edition}{/if}/">
            <div class="i-image-wrapper">
                <img src="{$app.icons.96}" alt="{$app.name|truncate:15|escape}" height="96" width="96">
                {if empty($hide_product_badge)}
                {if !empty($app.publish_datetime) && strtotime($app.publish_datetime) > $smarty.now - 86400*14}
                    <!-- NEW -->
                    <div class="i-badge new"><span>New</span></div>
                {elseif !empty($app.tags)}
                    {if in_array('featured', $app.tags)}
                        <!-- FEATURED -->
                        <div class="i-badge featured"><i class="thumb-up"></i></div>
                    {elseif in_array('updated', $app.tags)}
                        <!-- UPDATED -->
                        <div class="i-badge updated two-lines"><span>[`New version!`]</span></div>
                    {/if}
                {/if}
                {/if}
            </div>
        </a>
    </div>
    <div class="details">
        <h5><a href="#/apps/{$app.slug}{if !empty($app.edition)}.{$app.edition}{/if}/"
               data-href="#/apps%filter%/{$app.slug}{if !empty($app.edition)}.{$app.edition}{/if}/"
               class="js-item-link">{$app.name|truncate:15|escape}</a></h5>
        {if $app.description}<p>{$app.description}</p>{/if}

        {if empty($app.installed)}

            {* NOT INSTALLED *}

            {if empty($app.price)}
                <strong>[`Free`]</strong>
            {else}
                <div class="i-pricing">
                {if isset($app.lease_price) &&(($app.lease_price == 'free')||(empty($app.lease_price)))}
                    {* free to install on this particular installation (cloud) *}
                    {if $app.price && ({$app.price|regex_replace:'@\D+@':''|floatval}>0)}
                        <strike>{$app.price}</strike>&nbsp;<strong title="{sprintf('[`Your account status enables you to install %s for free!`]', $app.name|escape)}">[`Free`]</strong>
                    {else}
                        <strong>[`Free`]</strong>
                    {/if}
                {else}
                    {if !empty($app.compare_price)}<strike class="bold gray">{$app.compare_price}</strike>&nbsp; {/if}
                    <strong{if !empty($app.compare_price)} class="discounted"{/if}>{$app.price}</strong>
                    {if !empty($app.lease_price)}
                        [`or`]
                        <strong>{sprintf('[`%s/mo`]',$app.lease_price)}</strong>
                    {/if}
                {/if}
                </div>
            {/if}

        {else}

            {* INSTALLED *}

            {if $app.commercial}
                {* PAID *}
                {if empty($app.purchased) && empty($app.license_expire)}
                    {* NOT LICENSED *}
                    <em class="i-installed-label not-licensed{if installerHelper::overdue()} overdue{/if}"><i
                                class="icon10 {if installerHelper::overdue()}no{else}no-bw{/if}"></i> [`Not licensed`]</em>
                {else}
                    {* VALID LICENSE *}
                    {if !empty($app.license_expire)}
                        {if (strtotime($app.license_expire) < $smarty.now)}{$_overdue = 1}{else}{$_overdue = 0}{/if}
                        <em class="i-installed-label{if $_overdue} overdue{/if}"><i
                                    class="icon10 {if $_overdue}no{else}yes{/if}"></i>
                                    {if $_overdue}
                                        {sprintf('[`Expired %s`]', $app.license_expire|wa_datetime:'humandate')}
                                    {else}
                                        {sprintf('[`Expires %s`]', $app.license_expire|wa_datetime:'humandate')}
                                    {/if}
                        </em>
                    {else}
                        <em class="i-installed-label licensed"><i class="icon10 yes"></i> [`Licensed`]</em>
                    {/if}
                {/if}
            {else}
                {* FREE *}
                <em class="i-installed-label"><i class="icon10 yes"></i> [`Installed`]</em>
            {/if}

        {/if}
    </div>
</div>
