<link href="{$plugin_path}/css/jquery.minicolors.min.css" rel="stylesheet" type="text/css">
<script src="{$plugin_path}/js/jquery.minicolors.min.js"></script/
<div class="block double-padded" id="s-plugins-content"> 
<h1>{_wp('Chatra - online consultant')}</h1>

<div class="fields form">
<form action="?module=plugins&id=chatra&action=save" method="post" id="plugins-settings-form" enctype="multipart/form-data" target="plugins-settings-iframe">
{$wa->csrf()}
    <div class="field">
        <div class="name">
            <label for="chatra_shop_chatra_enabled">{_wp('Plugin enabled')}</label>
        </div>
        <div class="value">
            <input type="checkbox" name="shop_chatra[enabled]" value="1" class="checkbox" {if $settings.enabled}checked="checked"{/if} id="chatra_shop_chatra_enabled"><br>
            <br>
             <span>1.{_wp('Create account using <a href="http://chatra.io/" target="_blank">https://chatra.io/</a>.')}<br>2.{_wp('Copy ChatraID from <a href="https://app.chatra.io/settings/general"  target="_blank">https://app.chatra.io/settings/general</a> or use full code to paste it to the field below.')}</span><br>
        </div>
    </div>
    <div class="field">
        <div class="name">
            <label for="chatra_shop_chatra_chatraID">{_wp('ChatraID = ')}</label>
        </div>
        <div class="value">
            <input id="chatra_shop_chatra_chatraID" type="text" name="shop_chatra[chatraID]" class="input" value="" placeholder="{_wp('ex. 1qaZ2WsX3eDc')}"> <br>
        </div>
    </div>
    <div class="field">
        <div class="name">
            <label for="chatra_shop_chatra_code">{_wp('Code')}</label>
        </div>
        <div class="value">
            <br>
            <span class="hint">{_wp('Code from Chatra site')}</span>
            <textarea name="shop_chatra[code]" class="textarea" id="chatra_shop_chatra_code" placeholder='{_wp('Copy code from https://app.chatra.io/settings/general and paste it to the field below.')}'>{if $settings.code}{$settings.code}{/if}</textarea><br>
        </div>
    </div>
    
    <div class="field">
        <div class="name">
            <label for="chatra_shop_chatra_send_user">{_wp('Send user info to livechat')}</label>
        </div>
        <div class="value">
            <input type="checkbox" name="shop_chatra[send_user]" value="1" class="checkbox" {if $settings.send_user}checked="checked"{/if}id="chatra_shop_chatra_send_user">
        </div>
    </div>
    
    <div class="field">
        <div class="name">
            <label for="chatra_shop_chatra_custom">{_wp('Custom style enabled')}</label>
        </div>
        <div class="value">
            <input type="checkbox" name="shop_chatra[custom]" value="1" {if $settings.custom}checked="checked"{/if} class="checkbox" id="chatra_shop_chatra_custom"> 
        </div>
    </div>
    
    <div class="field">
        <div class="name">
            <label for="chatra_shop_chatra_color_bar">{_wp('Color bar')}</label>
        </div>
        <div class="value">
            <input id="chatra_shop_chatra_color_bar" type="text" name="shop_chatra[color_bar]" class="input" value=""> <br>
        </div>
    </div>
    
    <div class="field">
        <div class="name">
            <label for="chatra_shop_chatra_color_text">{_wp('Color text')}</label>
        </div>
        <div class="value">
            <input id="chatra_shop_chatra_color_text" type="text" name="shop_chatra[color_text]" class="input" value=""> <br>
        </div>
    </div>
<p>
    <hr>
    <div class="clear-left"></div>
    </p>
    <div class="field">
        <div class="value submit">
            <input type="submit" class="button green" value="{_w('Save')}">
            <span id="plugins-settings-form-status" style="display:none"><!-- message placeholder --></span>
        </div>
    </div>
</form>
</div>
<div class="clear-left"></div>
</div>
<script>var chatra={
    settings:{json_encode($settings)},
    }</script>
<script>
{literal}
"use strict;"
    $('#chatra_shop_chatra_color_text').minicolors({position:'top left',defaultValue:chatra.settings.color_text});
    $('#chatra_shop_chatra_color_bar').minicolors({position:'top left',defaultValue:chatra.settings.color_bar});
    $('#chatra_shop_chatra_custom').click(function(){
        if($(this).is(':checked')) {
            $('#chatra_shop_chatra_color_text').attr('disabled',false);
            $('#chatra_shop_chatra_color_bar').attr('disabled',false);
        } else {
            $('#chatra_shop_chatra_color_text').attr('disabled','true');
            $('#chatra_shop_chatra_color_bar').attr('disabled','true');
        };
    });
    if (chatra.settings.custom==0) {
        $('#chatra_shop_chatra_color_text').attr('disabled','false');
        $('#chatra_shop_chatra_color_bar').attr('disabled','false');
    };
    
    if($('#chatra_shop_chatra_code').val()) {
        var chatra_textarea = CodeMirror.fromTextArea(document.getElementById('chatra_shop_chatra_code'), {
                mode: "text/html",
                tabMode: "indent",
                height: "dynamic",
                lineWrapping: true
            });
        $("#chatra_shop_chatra_code").change(function() {
            chatra_textarea.setValue($(this).val())
        });
    }
{/literal}
</script>
