<link rel="stylesheet" href="{$wa_parent_theme_url}swipebox/css/swipebox.css">

<script type="text/javascript" src="{$wa_parent_theme_url}js/jquery.tooltipster.min.js"></script>
<script type="text/javascript" src="{$wa_theme_url}js/fractionslider/jquery.fractionslider.js"></script>
<script type="text/javascript" src="{$wa_parent_theme_url}js/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="{$wa_parent_theme_url}js/jquery.scrollTo.js"></script>

<script type="text/javascript" src="{$wa_static_url}wa-content/js/jquery-ui/jquery.ui.core.min.js?v{$wa->version(true)}"></script>
<script type="text/javascript" src="{$wa_static_url}wa-content/js/jquery-ui/jquery.ui.widget.min.js?v{$wa->version(true)}"></script>
<script type="text/javascript" src="{$wa_static_url}wa-content/js/jquery-ui/jquery.ui.mouse.min.js?v{$wa->version(true)}"></script>
<script type="text/javascript" src="{$wa_static_url}wa-content/js/jquery-ui/jquery.ui.slider.min.js?v{$wa->version(true)}"></script>
<script type="text/javascript" src="{$wa_static_url}wa-content/js/jquery-plugins/jquery.cookie.js"></script>

<!-- blog css -->
<link href="{$wa_active_theme_url}blog.css?v{$wa_theme_version}" rel="stylesheet" type="text/css">

<!-- blog js -->
<script type="text/javascript" src="{$wa_active_theme_url}blog.js?v{$wa_theme_version}"></script>

<!-- next & prev links -->
{foreach $links as $role => $link}
<link rel="{$role}" href="{$link}">
{/foreach}

{* @event (frontend_action_default|frontend_action_post|frontend_action_page|frontend_action_error).%plugin_id%.head *}
{foreach $frontend_action as $plugin => $output}
    {if !empty($output.head)}{$output.head}{/if}
{/foreach}
