<!-- search -->
<form method="get" action="{$wa_app_url}" class="search">
    <div class="input-group">
        <input class="form-control" type="search" name="query" {if !empty($blog_query)}value="{$blog_query}"{/if} placeholder="[`Search posts`]">
                <span class="input-group-btn">
                    <button class="btn btn-primary blue" type="submit">Найти</button>
                </span>
    </div>
</form>

<div class="menu-v-background" {if $theme_settings.navigation_left == 'standart'}id="menu-standart"{else}id="menu-collapsible"{/if}>
<ul class="menu-v topmenu">
    <!-- blog list -->
    {$blogs = $wa->blog->blogs()}
    {if count($blogs)>1}
    <li><a href="{$wa->blog->url()}">[`All posts`]</a></li>
    {foreach $blogs as $blog}
    <li class="{if $wa->globals('blog_id') eq $blog.id && empty($is_search)}selected{/if}">
        <a href="{$blog.link}">{$blog.name}</a>
    </li>
    {/foreach}
    {else}
    {$blog=current($blogs)}
    <li{if empty($is_search)} class="selected"{/if}>
    <a href="{$wa->blog->url()}">{$blog.name}</a>
    </li>
    {/if}
    {$timeline = $wa->blog->timeline()}
    {if !empty($timeline)}
    <li id="timeline" class="tree">
        <a href="#" onClick="return false">[`Calendar`]</a>
        {if !empty($timeline)}
        <ul class="menu-v">
            {$year=null}
            {foreach $timeline as $year_month => $item}
            {if $year neq $item.year}
            {if !$item@first}
        </ul>
    </li>
    {/if}
    <li class="tree {if $item.year_selected}bold{/if}">
        {$year=$item.year}
        <a href="{$item.year_link}">{$item.year|default:'NULL'}</a>
        <ul class="menu-v">
            {/if}
            <li {if $item.selected}class="tree"{/if}>
            <a href="{$item.link}" title="{_w("%d post","%d posts",$item.count)}">{_ws(date("F",gmmktime(0,0,0,$item.month)))}</a>
            </li>
            {if $item@last}
        </ul>
    </li>
    {/if}
    {/foreach}

</ul>
{/if}
</li>

{/if}


</ul>
</div>





{if $wa->blog->pages()}
<div class="menu-v-background" {if $theme_settings.navigation_left == 'standart'}id="menu-standart"{else}id="menu-collapsible"{/if}>
{wa_print_tree tree=$wa->blog->pages() selected=$selected_page collapsible_class='tree' unfolded=true class="menu-v" elem ='<a href=":url">:name</a>'}
</div>
{/if}


{if !empty($theme_settings.vk_widget_code)}
<div class="widget_vk">
    {$theme_settings.vk_widget_code}
</div>
{/if}




<!-- plugins -->
{* @event (frontend_action_default|frontend_action_post|frontend_action_page|frontend_action_error).%plugin_id%.sidebar *}
{foreach $frontend_action as $plugin => $output}
{if !empty($output.sidebar)}
<ul class="plugins-left">
    <li class="tree">
        <a href="#" onClick="return false">
            {if substr($plugin, -7) == '-plugin'}{$wa->pluginName(substr($plugin, 0, -7))}{else}[`More`]{/if}
        </a>
        {$output.sidebar}
    </li>
</ul>
{/if}
{/foreach}
