<h3 class="category-name">{$page.name}</h3>
{$subpages = $wa->blog->pages($page.id)}
{if $subpages}
<ul class="list-inline subcategory">
   {foreach $subpages as $p}
    <li><a href="{$p.url}">{$p.name}</a></li>
   {/foreach}
</ul>
{/if}
<div>
    {$page.content}
</div>