<div>

    <div class="post"  id="post-{$post.id}">
        
        <h1 class="category-name">
            <span>{$post.title}</span>
            {* @event prepare_posts_frontend.%plugin_id%.post_title *}
            {if !empty($post.plugins.post_title)}
                {foreach $post.plugins.post_title as $plugin => $output}{$output}{/foreach}
            {/if}
        </h1>

        <div class="credentials">
            {if $post.contact_id}
                <a href="{$post.user.posts_link}">
                    <img src="{$post.user.photo_url_20}" class="userpic" alt="">
                </a>
                <a href="{$post.user.posts_link}" class="username">{$post.user.name}</a>
            {else}
                <img src="{$post.user.photo_url_20}" class="userpic" alt="">
                <span class="username">{$post.user.name}</span>
            {/if}

            <span class="hint date" title="{$post.datetime|wa_datetime}">{$post.datetime|wa_datetime:"humandate"}</span>
        </div>

        {* @event prepare_posts_frontend.%plugin_id%.before *}
        {if !empty($post.plugins.before)}
            <div class="text_before">
                {foreach $post.plugins.before as $plugin => $output}{$output}{/foreach}
            </div>
        {/if}

        <div class="text">
            {$post.text}
        </div>

        {if $post.album_id && $post.album.id && $post.album.photos}
            {include 'post.album.html' album=$post.album inline}
        {/if}
        
        {* @event prepare_posts_frontend.%plugin_id%.after *}
        {if !empty($post.plugins.after)}
            <div class="text_after">
                {foreach $post.plugins.after as $plugin => $output}{$output}{/foreach}
            </div>
        {/if}

        {*
        <div class="share">
            COULD BE A GOOD PLACE FOR SHARE BUTTONS
        </div>
        *}

    </div>

    {* @event frontend_post.%plugin_id%.footer *}
    {foreach $frontend_post as $plugin => $output}
        {if !empty($output.footer)}{$output.footer}{/if}
    {/foreach}

    {if $show_comments && $post.comments_allowed}
        {if $post.status eq blogPostModel::STATUS_PUBLISHED}
            {include 'comments.html' inline}
        {else}
            <h4>[`Comments for non published posts are disabled`]</h4>
        {/if}
    {/if}

</div>