{* post stream (list): default view mode *}

{foreach $posts as $post}
<div class="post" id="post-{$post.id}" {if $wa->param('blog_url')}itemprop="blogPosts" {/if}>
    <h3 class="category-name">{$post.title}

        {* @event prepare_posts_frontend.%plugin_id%.post_title *}
        {if !empty($post.plugins.post_title)}
        {foreach $post.plugins.post_title as $plugin => $output}{$output}{/foreach}
        {/if}
    </h3>
    <div class="credentials">

        {if isset($post.user.photo_url_20)}
        {if $post.user.posts_link}
        <a href="{$post.user.posts_link}">
            <img src="{$post.user.photo_url_20}" class="userpic" alt="">
        </a>
        {else}
        <img src="{$post.user.photo_url_20}" class="userpic" alt="">
        {/if}
        {/if}

        {if $post.user.posts_link}
        <a href="{$post.user.posts_link}" class="username">{$post.user.name}</a>
        {else }
        <span class="username">{$post.user.name}</span>
        {/if}
        <span class="hint date">{$post.datetime|wa_datetime:"humandate"}</span>
        {if $show_comments && $post.comments_allowed}
        {if !empty($post.comment_count)}
        <a href="{$post.link}#comments">
            {_w('%d comment','%d comments',$post.comment_count)}
        </a>
        {else}
        {*
        <a href="{$post.link}#comments" class="hint">
            [`no comments`]
        </a>
        *}
        {/if}
        {/if}
    </div>

    {* @event prepare_posts_frontend.%plugin_id%.before *}
    {if !empty($post.plugins.before)}
    <div class="text_before">
        {foreach $post.plugins.before as $plugin => $output}{$output}{/foreach}
    </div>
    {/if}

    <div class="text">
        {$post.text}
    </div>

    {* attached album photo thumbs *}
    {if $post.album_id && $post.album.id && $post.album.photos}
    {$photos_loaded = 1} {* required for proper photo thumbs retinification *}
    <div class="photo-album-attachment">
        <ul class="thumbs">
            {foreach $post.album.photos as $p}
            <li><a href="{$post.link}#photo{$p.id}"><img src="{$p.thumb_crop.url}" class="retinify" width="96"
                                                         height="96" alt="{$p.name|escape}"></a></li>
            {/foreach}
        </ul>
    </div>
    {/if}

    {* @event prepare_posts_frontend.%plugin_id%.after *}
    {if !empty($post.plugins.after)}
    <div class="text_after">
        {foreach $post.plugins.after as $plugin => $output}{$output}{/foreach}
    </div>
    {/if}
    <div class="text-right">
        <a href="{$post.link}" class="btn btn-primary blue">[`Read more`] &rarr;</a>
    </div>
</div>
{foreachelse}
{if $page lt 2}
{_w('%d post','%d posts',0)}
{/if}
{/foreach}

{if !empty($photos_loaded) && blogPhotosBridge::is2xEnabled()}
<script src="{$wa_static_url}wa-content/js/jquery-plugins/jquery.retina.min.js"></script>
<script>$(function () {
    "use strict";
    $.Retina && $('img.retinify').retina();
});</script>
{/if}
