{strip}

<div class="wa-order-dialog wa-order-delivery-variants-dialog">
    <div class="wa-dialog-background"></div>
    <div class="wa-dialog-body">
        <header class="wa-dialog-header">
            <div class="wa-header">[`Shipping option selection`]</div>
            <span class="wa-close-wrapper js-close-dialog">
                <i class="wa-icon delete size-10"><svg><use xlink:href="{$wa_app_static_url}img/frontend/order/svg/sprite.svg#delete"></use></svg></i>
            </span>
        </header>
        <div class="wa-dialog-content">

            <div class="wa-delivery-variants-section">
                <div class="wa-section-header">[`Filter`]</div>
                {if !empty($_variants_html)}{$_variants_html|join:""}{/if}
            </div>

        </div>
    </div>
</div>

{/strip}