<div class="wa-order-dialog wa-photo-dialog">
    <div class="wa-dialog-background"></div>
    <div class="wa-dialog-body with-full-height without-footer">
        <header class="wa-dialog-header">
            <div class="wa-header">%title%</div>
            <span class="wa-close-wrapper js-close-dialog">
                <i class="wa-icon delete size-10"><svg><use xlink:href="{$wa_app_static_url}img/frontend/order/svg/sprite.svg#delete"></use></svg></i>
            </span>
        </header>

        <div class="wa-dialog-content">

            <div class="wa-photo-slider-section js-photo-slider-section">
                <div class="wa-photo-body"></div>
                <div class="wa-photo-actions">
                    <span class="wa-action left js-show-prev">
                        <i class="wa-icon delete size-14"><svg><use xlink:href="{$wa_app_static_url}img/frontend/order/svg/sprite.svg#arrow-left"></use></svg></i>
                    </span>
                    <span class="wa-action right js-show-next">
                        <i class="wa-icon delete size-14"><svg><use xlink:href="{$wa_app_static_url}img/frontend/order/svg/sprite.svg#arrow-right"></use></svg></i>
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>