{$wrapper_id = uniqid('wa-forgotpassword-dialog')}

<div class="wa-order-dialog wa-auth-dialog-wrapper" id="{$wrapper_id}">
    <div class="wa-dialog-background"></div>
    <div class="wa-dialog-body with-full-height without-footer">
        <header class="wa-dialog-header">
            <div class="wa-header">[`Set password`]</div>
            <span class="wa-close-wrapper js-close-dialog">
                <i class="wa-icon delete size-10"><svg><use xlink:href="{$wa_app_static_url}img/frontend/order/svg/sprite.svg#delete"></use></svg></i>
            </span>
        </header>

        <div class="wa-dialog-content">
            {$wa->setPasswordForm('', [
                'need_redirects' => false,
                'hash' => $hash|default:''
            ])}
        </div>
    </div>
</div>
