{strip}

<div class="wa-order-dialog">
    <div class="wa-dialog-background"></div>
    <div class="wa-dialog-body">
        <header class="wa-dialog-header">
            <div class="wa-header">[`Terms of service`]</div>
            <span class="wa-close-wrapper js-close-dialog">
                <i class="wa-icon delete size-10"><svg><use xlink:href="{$wa_app_static_url}img/frontend/order/svg/sprite.svg#delete"></use></svg></i>
            </span>
        </header>
        <div class="wa-dialog-content">
            {$_html|default:""}
        </div>
        <footer class="wa-dialog-footer with-delimiter">
            <button class="wa-button gray js-close-dialog">[`Close`]</button>
        </footer>
    </div>
</div>

{/strip}