<script type="text/javascript">
    jQuery(document).ready(function($) {
        var loginForm = $(".login form");
        var signupForm = $(".signup form");
        var forgotpasswdForm = $(".forgotpasswd form");
        var loading = $("<div class='loader'>[`Loading`]...<i class='icon16 loading2'></i></div>");
        var loginSubmit = loginForm.find(".wa-submit").addClass("login-submit").removeClass("wa-value").html("<input type='submit' class='button grey' value='[`Log in`]' />" + " <a href='{$wa->forgotPasswordUrl()}' class='f-forgotpasswd'>[`Forgot password?`]</a>");
        var signupSubmit = signupForm.find(".wa-submit").addClass("signup-submit").removeClass("wa-value").html("<input type='submit' class='button grey' value='[`Signup`]' />");
        var forgotpasswdSubmit = forgotpasswdForm.find(".wa-submit").addClass("forgotpasswd-submit").removeClass("wa-value");
        loginSubmit.appendTo(".form.auth .footer-fly");
        signupSubmit.appendTo(".form.auth .footer-fly");
        forgotpasswdSubmit.appendTo(".forgotpasswd.form .footer-fly").find("input[type='submit']").addClass("button grey");
        loginForm.append('<input type="hidden" name="wa_auth_login" value="1">');
        loginSubmit.find("input[type='submit']").click(function() {
            var btn = $(this);
            btn.before(loading);
            loginForm.submit();
        });
        signupSubmit.find("input[type='submit']").click(function() {
            var btn = $(this);
            btn.before(loading);
            signupForm.submit();
        });
        forgotpasswdSubmit.find("input[type='submit']").click(function() {
            var btn = $(this);
            btn.before(loading);
            forgotpasswdForm.attr('action', "{$wa->forgotPasswordUrl()}").submit();
        });
    });
</script>