@media only screen and (min-width: 1280px) {
    html, body { min-width: 1280px; }
    .wrap { width: 1280px; }
    #search { width: 485px; }
    .dropdown-combine-wrap ul.menu-v.l0 > li > ul { width: 1026px; }
    .dropdown-combine-wrap ul.menu-v.l0 > li > ul:before { width: 1056px; }
    .dropdown-combine-wrap ul.menu-v.l0 ul.menu-v.l1 > li { width: 200px; margin-right: 3px; }
    .dropdown-combine-wrap ul.menu-v.l0 ul.menu-v.l1 > li.category-html { width: 1006px; }
}
@media only screen and (max-width: 980px) {
    html, body { min-width: 740px; }
    .wrap { width: 740px; }
    .search { right: 115px; }
    #search { width: 190px; }
    .footer .sidebar { margin: 0; }
    .footer .sidebar.right450px { float: none; width: inherit; }
    .footer .sidebar.right450px p { margin: 0; float: left; }
    .footer .sidebar.left500px { width: inherit; }
    .footer .sidebar.left500px p { margin-bottom: 5px; }
    .footer.big .sidebar.left500px p { margin-bottom: 10px; }
    .footer .content { margin-left: 0; } 
    .footer .social-buttons { padding: 0; text-align: left; }
    .footer .copyright { position: relative; }
    .footer-pages .column { margin-top: 0; }
    .footer.big .sidebar { margin-top: 5px; }
    #go-top { right: 25px; }
    #mobilebar { display: none; }
    .dropdown-combine-wrap ul.menu-v.l0 > li > ul { width: 525px; padding-left: 215px; }
    .dropdown-combine-wrap ul.menu-v.l0 > li > ul:before { width: 555px; }
    .dropdown-combine-wrap ul.menu-v.l0 > li { width: 185px; }
    .dropdown-combine-wrap ul.menu-v.l0 > li > a { width: 155px; }
    .dropdown-combine-wrap ul.menu-v.l0 ul.menu-v.l1 > li.category-html { width: 520px; }
}
@media only screen and (max-width: 740px) {
    html, body { min-width: 320px; }
    .wrap { width: inherit; }
    .footer .sidebar.left500px { width: inherit; }
    .footer.big .column.third,
    .bottom-section .search,
    .footer .footer-text,
    .top-menu ul.menu-h,
    .mobile-menu.hidden,
    #multishop-settings,
    .top-section .phone, .top-section .account { display: none; }
    .mobile-block { display: inline-block; }
    #mobilebar { display: block; }
    #mobilebar .phone { float: none; height: inherit;}
    #mobilebar .account { display: block; }
    #mobilebar .search { position: relative; right: 0; top: 0; }
    #mobilebar .search input[type="submit"] { right: 25px; }
    #mobilebar .search input[name="query"] { box-sizing: content-box; border: 1px solid #8c8c8c; width: 190px; padding: 10px 50px 10px 20px; -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px; -webkit-box-shadow: 2px 1px 3px 1px #E9E9E9 inset; -moz-box-shadow: 2px 1px 3px 1px #E9E9E9 inset; box-shadow: 2px 1px 3px 1px #E9E9E9 inset; font-style: italic; -webkit-appearance: none; }
    #mobilebar .compare .indicator { display: inline-block; position: static; }
    #mobilebar .compare { margin: 10px 0; }
    #go-top { right: 15px; }
    .footer .sidebar.right450px { clear: both; padding-top: 20px; }
    .footer.big .sidebar.right450px { padding-top: 0; }
    #mobile-menu { display: block; height: 43px; text-align: center; }
    .mobile-menu { display: block;  }
    ul.social-buttons.menu-h, ul.payment-block.menu-h, .footer-pages, .copyright { padding-left: 10px; }
}
@media only screen and (max-width: 500px) {
    .footer-pages .column { float: none; text-align: center; width: inherit; }
    .footer-pages .column.first ul.menu-v li { text-align: center; }
    .footer-pages .column.second, .footer-pages .column.third { display: none; }
    .footer .copyright { text-align: center; }
    .footer.big .copyright { bottom: -15px; }
}
@media only screen and (max-width: 450px) {
    .footer .sidebar.right450px { width: inherit; }
    .footer .footer-text { font-size: 12px; }
    .footer .sidebar.left500px p { margin-bottom: 0; }
    .footer .copyright { font-size: 12px; }
    .footer .social-buttons { height: 35px; overflow: hidden; }
    #main .sidebar.right200px { float: none; width: inherit;  }
    #main .content.right200px { margin: 0; }
    ul.menu-h > li.dropdown { display: block; margin: 5px 0; }
}
@media only screen and (max-width: 400px) {
    #mobilebar-link { font-size: 14px; line-height: 250%; }
}
@media only screen and (max-width: 320px) {
    .cart-block { width: 320px; }
    .cart-block .buttons, .bottom-fixed ul.menu-h > li { display: none; }
    .logo { width: 320px; }
    #main > .wrap { padding: 0 0 10px; }
    
    .bottom-fixed ul.menu-h > li.mobile-cart, .bottom-fixed ul.menu-h > li.favourite-block { display: inline-block; }
    .bottom-fixed ul.menu-h > li.mobile-cart i { vertical-align: middle; }
    .bottom-fixed ul.menu-h > li.mobile-cart a { padding-top: 7px; }
}