<div class="content wrap">
  <div id="page" role="main">
    <h1>
    	{if $error_code}{$error_code}. {/if}
    	{if $error_message}{$error_message}{else}[`Error`]{/if}
    </h1>
    [`The requested resource is not available.`]
  </div>
</div>