<div class="form auth">
    <div class="sidebar">
        <div class="signup">
            <div class="h2">[`Sign up`]</div>
            <hr />
            <div class="interactive">{$wa->signupForm()}</div>
        </div>
    </div>
    <div class="content">
        <div class="login">
            <div class="h2">[`Log in`]</div>
            <hr />
            {$wa->authAdapters()}
            <div class="interactive">{$wa->loginForm('', 2)}</div>
        </div>
    </div>
    <div class="footer-fly clear-both"></div>
</div>
<div class="form forgotpasswd">
    <div class="content">
        <div class="h2">[`Password recovery`]</div>
        <hr />
        <div class="interactive">{$wa->forgotPasswordForm()}</div>
    </div>
    <div class="footer-fly clear-both"></div>
</div>