<div class="footer {if $theme_settings.footer_type == 'big'}big{/if}">
    <div class="wrap">
        <div class="sidebar left500px">
            <p class="footer-text">{$theme_settings.footer_text}</p>
        </div>
        <div class="sidebar right450px">
            <p class="footer-text">{$theme_settings.social_text}</p>
            
            <!-- SOCIAL BUTTONS -->
            <ul class="menu-h social-buttons align-left">
                {if !empty($theme_settings.social_vk)}
                    <li><a href="{$theme_settings.social_vk}" title='[`Vkontakte`]'><i class="social-icons vk"></i></a></li>
                {/if}
                {if !empty($theme_settings.social_fb)}
                    <li><a href="{$theme_settings.social_fb}" title='Facebook'><i class="social-icons fb"></i></a></li>
                {/if}
                {if !empty($theme_settings.social_tw)}    
                    <li><a href="{$theme_settings.social_tw}" title='Twitter'><i class="social-icons twitter"></i></a></li>
                {/if}
                {if !empty($theme_settings.social_google)}    
                    <li><a href="{$theme_settings.social_google}" title='Google +'><i class="social-icons google"></i></a></li>
                {/if}
                {if !empty($theme_settings.social_lj)}    
                  <li><a href="{$theme_settings.social_lj}" title='Livejournal'><i class="social-icons lj"></i></a></li>
                {/if}
                {if !empty($theme_settings.social_ya)}    
                 <li><a href="{$theme_settings.social_ya}" title='Yandex'><i class="social-icons yandex"></i></a></li>
                {/if}
                {if !empty($theme_settings.social_odn)}    
                 <li><a href="{$theme_settings.social_odn}" title='[`Odnoklassniki`]'><i class="social-icons odnokl"></i></a></li>
                {/if}
                {if !empty($theme_settings.social_youtube)}    
                    <li><a href="{$theme_settings.social_youtube}" title='Youtube'><i class="social-icons youtube"></i></a></li>
                {/if}
                {if !empty($theme_settings.social_instagram)}    
                    <li><a href="{$theme_settings.social_instagram}" title='Instagram'><i class="social-icons instagram"></i></a></li>
                {/if}
                {if !empty($theme_settings.social_pint)}    
                    <li class="last" title='Pinterest'><a href="{$theme_settings.social_pint}"><i class="social-icons pinterest"></i></a></li>
                {/if}
            </ul>
            <!-- End -->
            
            {$payment_icons = ['qiwi', 'rbk-money', 'robokassa', 'privat-bank', 'sberbank', 'skrill-moneybookers',
                               'telemoney', 'unistream', 'visa', 'webmoney', 'western-union', 'yandex-money',
                               'alfabank', 'american-express', 'assist', 'payu', 'cirrus', 'contact', 'diners-club',
                               'elecsnet', 'intellectmoney', 'jcb', 'maestro', 'mail-money', 'mastercard', 'migom',
                               'moneymail', 'mts-bank', 'paypal', 'chronopay']}
            <!-- Payment block -->
            <ul class="menu-h payment-block">
                {foreach $payment_icons as $pi}
                    {if !empty($theme_settings["payment-`$pi`"])}
                        <li><i class="payment-icon {$pi}" title='{$pi}'></i></li>
                    {/if}
                {/foreach}
            </ul>
            <!-- End -->
            
            <div class="clear-both"></div>
        </div>
        <div class="content clear-both">
            {if $theme_settings.footer_type == 'big'}
            <div class="footer-pages">
                
                <!-- Информационные колонки. Information pages -->
                <div class="column first">
                    <h5>[`It might be interesting`]</h5>
                    <ul class="menu-v">
                        <li><a href="">[`Delivery`]</a></li>
                        <li><a href="">[`Payment`]</a></li>
                        <li><a href="">[`Reviews`]</a></li>
                        <li><a href="">[`Contacts`]</a></li>
                    </ul>
                </div>
                <div class="column second">
                    <h5>[`Recommend`]</h5>
                    <ul class="menu-v">
                        <li><a href="">[`Mobile phones`]</a></li>
                        <li><a href="">[`Accessories`]</a></li>
                        <li><a href="">[`The best deals of the year`]</a></li>
                        <li><a href="">[`New collection`]</a></li>
                        <li><a href="">[`Promos`]</a></li>
                    </ul>
                </div>
                <div class="column third">
                    <h5>[`Don't miss`]!</h5>
                    <ul class="menu-v">
                        <li><a href="">[`New`]</a></li>
                        <li><a href="">[`Sales`]</a></li>
                        <li><a href="">[`What to buy?`]</a></li>
                        <li><a href="">[`Where to save?`]</a></li>
                    </ul>
                </div>
            </div>
            <!-- End -->
            
            {/if}
            <!-- COPYRIGHT -->
            <div class="copyright">{$theme_settings.copyright}</div>
            
        </div>
    </div>
</div>