{$theme_settings.color = $theme_settings.color|regex_replace:['/img\/colors\//', '/\/color\.png/']:""}

{if $theme_settings.demo == 'on' && $wa->shop}
{* Cancel *}
{$settings_cancel = $wa->post('settings-cancel')}
{if !empty($settings_cancel)}
{$settings_cancel = 1}
{$wa->storage('settings-menu-category', '')}
{$wa->storage('settings-productsperfly', '')}
{$wa->storage('settings-footer-type', '')}
{$wa->storage('settings-default-view', '')}
{$wa->storage('settings-lazyloading', '')}
{$wa->storage('settings-color', '')}
{$wa->storage('settings-pattern', '')}
{else}
{$settings_cancel = 0}
{/if}

{* Color scheme *}
{$settings_color = $wa->post('settings-color')}
{$settings_color2 = $wa->storage('settings-color')}
{if !empty($settings_color) && !$settings_cancel}
{$theme_settings.color = $settings_color}
{$wa->storage('settings-color', $settings_color)}
{elseif (!empty($settings_color2) && !$settings_cancel)}
{$theme_settings.color = $settings_color2}
{/if}

{* Background pattern *}
{$settings_pattern = $wa->post('settings-pattern')}
{$settings_pattern2 = $wa->storage('settings-pattern')}
{if !empty($settings_pattern) && !$settings_cancel}
{$theme_settings.pattern = $settings_pattern}
{$wa->storage('settings-pattern', $settings_pattern)}
{elseif (!empty($settings_pattern2) && !$settings_cancel)}
{$theme_settings.pattern = $settings_pattern2}
{/if}

{* Type of horizontal menu *}
{$settings_menu_category = $wa->post('settings-menu-category')}
{$settings_menu_category2 = $wa->storage('settings-menu-category')}
{if !empty($settings_menu_category) && !$settings_cancel}
{$theme_settings.menu_category = $settings_menu_category}
{$wa->storage('settings-menu-category', $settings_menu_category)}
{elseif (!empty($settings_menu_category2) && !$settings_cancel)}
{$theme_settings.menu_category = $settings_menu_category2}
{/if}

{* Number of products inside fly cart *}
{$products_per_fly = $wa->post('settings-productsperfly')}
{$products_per_fly2 = $wa->storage('settings-productsperfly')}
{if !empty($products_per_fly) && !$settings_cancel}
{$theme_settings.products_per_fly = $products_per_fly}
{$wa->storage('settings-productsperfly', $products_per_fly)}
{elseif (!empty($products_per_fly2) && !$settings_cancel)}
{$theme_settings.products_per_fly = $products_per_fly2}
{/if}

{* Footer type *}
{$footer_type = $wa->post('settings-footer-type')}
{$footer_type2 = $wa->storage('settings-footer-type')}
{if !empty($footer_type) && !$settings_cancel}
{$theme_settings.footer_type = $footer_type}
{$wa->storage('settings-footer-type', $footer_type)}
{elseif (!empty($footer_type2) && !$settings_cancel)}
{$theme_settings.footer_type = $footer_type2}
{/if}

{* Default products view *}
{$default_view = $wa->post('settings-default-view')}
{$default_view2 = $wa->storage('settings-default-view')}
{if !empty($default_view) && !$settings_cancel}
{$theme_settings.default_view = $default_view}
{$wa->storage('settings-default-view', $default_view)}
{elseif (!empty($default_view2) && !$settings_cancel)}
{$theme_settings.default_view = $default_view2}
{/if}

{* Catalog view *}
{$lazyloading = $wa->post('settings-lazyloading')}
{$lazyloading2 = $wa->storage('settings-lazyloading')}
{if !empty($lazyloading) && !$settings_cancel}
{$theme_settings.lazyloading = $lazyloading}
{$wa->storage('settings-lazyloading', $lazyloading)}
{elseif (!empty($lazyloading2) && !$settings_cancel)}
{$theme_settings.lazyloading = $lazyloading2}
{/if}

{* Product enlarge *}
{$zoom = $wa->post('settings-zoom')}
{$zoom2 = $wa->storage('settings-zoom')}
{if !empty($zoom) && !$settings_cancel}
{$theme_settings.enlarge_type = $zoom}
{$wa->storage('settings-zoom', $zoom)}
{elseif (!empty($zoom2) && !$settings_cancel)}
{$theme_settings.enlarge_type = $zoom2}
{/if}

{* Active plugins *}
{$active_plugins = $wa->post('settings-plugins')}
{$active_plugins2 = $wa->storage('settings-plugins')}
{if !empty($active_plugins) && !$settings_cancel}
{$theme_settings.plugins = $active_plugins}
{$wa->storage('settings-plugins', $active_plugins)}
{elseif (!empty($active_plugins2) && !$settings_cancel)}
{$theme_settings.plugins = $active_plugins2}
{/if}

{/if}

<!DOCTYPE html>
<!--[if lt IE 8]>	<html class="no-js lt-ie8">	<![endif]-->
<!--[if IE 8]>		<html class="no-js ie8">	<![endif]-->
<!--[if gt IE 8]>	<html class="no-js gt-ie8">	<![endif]-->
<!--[if !IE]><!-->	<html class="no-js">	<!--<![endif]-->
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>{$wa->title()|escape}</title>
        <meta name="Keywords" content="{$wa->meta('keywords')|escape}" />
        <meta name="Description" content="{$wa->meta('description')|escape}" />
        {if !empty($canonical)}<link rel="canonical" href="{$canonical}"/>{/if}
        <link rel="shortcut icon" href="/favicon.ico"/>
        {if $wa->blog}
        <!-- rss -->
        {$rss=$wa->blog->rssUrl()}
        {if $rss}<link rel="alternate" type="application/rss+xml" title="[s`RSS`] &mdash; {$wa->accountName()}" href="{$rss}">{/if}
        {/if}
        <!-- css -->
        {if $wa->shop && $wa->shop->currency() == 'RUB'} <link href="{$wa_static_url}wa-content/font/ruble/arial/fontface.css" rel="stylesheet" type="text/css">{/if}
        <link href="{$wa_theme_url}bxslider/jquery.bxslider.css?{$wa_theme_version}" rel="stylesheet" type="text/css"/>
        <link href="{$wa_theme_url}fancybox/jquery.fancybox.css" rel="stylesheet" type="text/css"/>
        <link href="{$wa_theme_url}custom.css?{$wa_theme_version}" rel="stylesheet" type="text/css"/>
        <link href="{$wa_theme_url}custom.mobile.css?{$wa_theme_version}" rel="stylesheet" type="text/css"/>
        {$wa->css()} {* links active plugins CSS *}
        <!-- js -->
        <script type="text/javascript" src="{$wa_static_url}wa-content/js/jquery/jquery-1.8.2.min.js"></script>
        <script type="text/javascript" src="{$wa_theme_url}igaponov/modernizr.js"></script>
        <script type="text/javascript" src="{$wa_theme_url}fancybox/jquery.fancybox.pack.js"></script>
        <script type="text/javascript" src="{$wa_theme_url}bxslider/jquery.bxslider.min.js"></script>
        <!--[if lt IE 9]>
	<script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
        <script type="text/javascript" src="{$wa_theme_url}custom.js"></script>
        <script type="text/javascript">
            jQuery(document).ready(function($) {
                $.multishop = {
                    locale: "{$wa->locale()}",
                    productsPerFly: "{(int)$theme_settings.products_per_fly}",
                    shopUrl: "{if $wa->shop}{$wa->getUrl('shop/frontend')}{/if}",
                    ruble: "{$theme_settings.ruble}",
                    messages: {
                        'ru_RU' : {
                            "decrease": "уменьшить",
                            "increase": "увеличить",
                            "quantity": "количество",
                            "Delete": "Удалить",
                            "Remove from compare list?": "Удалить из сравнения?",
                            "Added to compare list": "Добавлено к сравнению",
                            "Add to compare list?": "Добавить к сравнению?",
                            "Removed from compare list": "Удалено из сравнения",
                            "Remove from Wish list?": "Удалить из избранного?",
                            "Added to Wish list": "Добавлено в избранное",
                            "Add to Wish list?": "Добавить в избранное?",
                            "To Wish-list": "В избранное",
                            "Removed from Wish list": "Удалено из избранного",
                            "Loading": "Идет загрузка",
                            "Added to cart": "Добавлено в корзину",
                            "Removed from cart": "Удалено из корзины"
                        }
                    },
                    translate: function(message) {
                        if (typeof this.messages[this.locale] !== 'undefined' && this.messages[this.locale][message]) {
                            return this.messages[this.locale][message];
                        }
                        return message;
                    }
                };
            });
        </script>
        {if $wa->isMobile() || $wa->userAgent('device')}
        <meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1; user-scalable=0;" />
        {/if}
        {$wa->js()} {* links active plugins JS *}
        {include file="`$wa_active_theme_path`/head.html" inline}
        {$wa->headJs()} {* links Google Analytics tracking code and current site's custom JS (Site app) *}
    </head>
    <body id="multishop" class='{$wa_app} multishop-{$theme_settings.color}'>
        {$background_style = ""}
        {if $theme_settings.pattern !== 'img/patterns/no-pattern.jpg'} {$background_style="background-image: url(`$wa_theme_url``$theme_settings.pattern`);  background-repeat: repeat;"}{/if}
        {if $theme_settings.bg_pattern} {$background_style = "background-image: url(`$wa_theme_url``$theme_settings.bg_pattern`);  background-repeat: repeat;"}{/if}
        {if $theme_settings.bg_image} {$background_style = "background-image: url(`$wa_theme_url``$theme_settings.bg_image`); background-repeat: no-repeat; background-position: center 285px;"}{/if}
        {if $theme_settings.bg_color} {$background_style = "`$background_style` background-color: `$theme_settings.bg_color`;"}{/if}
        <div class="main-wrapper"{if $background_style} style="{$background_style}"{/if}>
            <div id="header">
                <div class="top-section"{if $theme_settings.bg_smalltop_color} style="background-color: {$theme_settings.bg_smalltop_color};"{/if}>
                    <div class="wrap">

                        <div class="mobile-block">
                            <a href="javascript:void(0)" id="mobilebar-link"><i class="mobilebar-icon"></i> [`Open panel`]</a>
                        </div>

                        <!-- Телефон / Phone -->
                        {if ($wa->shop && $wa->shop->settings('phone')) || $theme_settings.phone}
                        <div class="phone">
                            {if $theme_settings.phone}{$theme_settings.phone}{elseif $wa->shop}{$wa->shop->settings('phone')}{/if}
                        </div>
                        {/if}
                        <!-- Конец / End -->

                        <div class="float-right top-right-block">

                            <div class="account">
                                {if $wa->blog}
                                 <a href="{$wa->getUrl('blog/frontend/rss')}" title="[s`Subscribe`]" class="rss-icon"><img src="{$wa_theme_url}img/rss.png" alt="[s`Subscribe`]" /></a>
                                {/if}
                                {if $wa->isAuthEnabled()}
                                    <!-- auth links -->
                                    {if $wa->user()->isAuth()}
                                    {if $wa->shop}
                                    <a href="{$wa->myUrl()}" class="user-account"><i class="userimg" style="background-image: url('{$wa->user()->getPhoto(20)}');"></i> {$wa->user('name')}</a> /
                                    {else}
                                    <strong>{$wa->user('name')}</strong>
                                    {/if}
                                    <a href="?logout">[`Log out`]</a>
                                    {else}
                                    <i class="icon16 th key-bw"></i>
                                     <a href="{$wa->signupUrl()}" class="fly-login">[`Log in`] / [`Signup`]</a>
                                    <!-- authorize -->
                                    <div style="display: none" class="fly-forms">
                                        {include file="fly-authorize.html" inline}
                                    </div>
                                    {include file="authorize-js.html" inline}
                                    {/if}
                                {/if}
                            </div>

                            {if $wa->shop}
                            <!-- shopping cart info -->
                            {$cart_total = $wa->shop->cart->total()}
                            {$cart_count = $wa->shop->cart->count()}
                            <div id="cart">
                                <a href="{if $cart_count}{$wa->getUrl('shop/frontend/cart')}{else}javascript:void(0){/if}" {if !$cart_count}data-url="{$wa->getUrl('shop/frontend/cart')|escape}"{/if} class="cart-total"><span class="value">{if $cart_count}{if $theme_settings.ruble == 'html'}{wa_currency_html($cart_total, $wa->shop->currency())}{else}{wa_currency($cart_total, $wa->shop->currency())}{/if}{else}[`Cart is empty`]{/if}</span></a>
                            </div>
                            {/if}
                        </div>
                    </div>
                </div>
                <div class="wrap">
                    {if $wa->shop}
                    {include file="cart-block.html"}
                    {/if}
                </div>
                <div class="bottom-section{if $theme_settings.highlight == 'hide'} no-highlights{/if}"{if $theme_settings.bg_top_color} style="background-color: {$theme_settings.bg_top_color};"{/if}>
                    <div class="wrap">
                        <div class="logo">
                            <a href="{if $wa->shop}{$wa->getUrl('shop/frontend')}{else}{$wa_static_url}{/if}"><img src="{if !$theme_settings.logo}{$wa_theme_url}img/colors/{$theme_settings.color}/logo.png{else}{$wa_theme_url}{$theme_settings.logo|escape}?{$wa_theme_version}{/if}" alt="{if $wa->shop}{$wa->shop->settings('name')}{/if}" /></a>
                            <div class="company-text">{$theme_settings.slogan|escape}</div>
                            {if $wa->shop}
                                {if $wh = $wa->shop->settings('workhours')}
                                    <div class="grey">[`Work hours`]: {$wh.days_from_to}{if $wh.hours_from && $wh.hours_to} {$wh.hours_from}—{$wh.hours_to}{/if}</div>
                                {/if}
                            {/if}
                        </div>
                        {if $wa->shop}
                        <!-- product search -->
                        <div class="search">
                            <form method="get" action="{$wa->getUrl('shop/frontend/search')}">
                                <input type="search" name="query" {if !empty($query)}value="{$query}"{/if} id="search" placeholder="[`Product search`]" />
                                       <input type="submit" value='' />
                            </form>
                            <div class="hint">{$theme_settings.search_text}</div>
                        </div>
                        {$currency = $wa->shop->currency(true)}
                        <div id="currencies" data-currency='{if $currency.code == "RUB" && $theme_settings.ruble == "html"}{$currency.sign_html}{else}{$currency.sign}{/if}'>
                            {if isset($currencies) && count($currencies) > 1}
                            {foreach $currencies as $c_code => $c}
                            <a href="javascript:void(0)" {if $c_code == $currency.code}class='selected'{/if} title="{$c.title}" data-code="{$c.code}">{if $c.code == 'RUB' && $theme_settings.ruble == 'html'}{$c.sign_html}{else}{$c.sign}{/if}</a>
                            {/foreach}
                            <script>
                                $("#currencies a").click(function() {
                                    var url = location.href;
                                    if (url.indexOf('?') == -1) {
                                        url += '?';
                                    } else {
                                        url += '&';
                                    }
                                    location.href = url + 'currency=' + $(this).data('code');
                                });
                            </script>
                            {/if}
                        </div>
                        {/if}
                    </div>
                </div>
            </div>

            <!-- Navigation pages and apps -->
            {include file="navigation.html" inline}

            <!-- MAIN CONTENT -->
            <div class="content {if $theme_settings.footer_type == 'big'}big-footer{/if}" id="main">
                {include file="`$wa_active_theme_path`/content.html" inline}
            </div>

        </div>

        <div class="bounce-popup"></div>

        {if $wa->shop}
        <div id="dialog" class="dialog">
            <div class="dialog-background"></div>
            <div class="dialog-window">
                <!-- common part -->
                <div class="cart">

                </div>
                <!-- /common part -->
            </div>
        </div>
        {/if}

        <!-- FOOTER -->
        {include file="footer.html" inline}

        {if $wa->shop}

        <!-- Fixed block -->
        {$favourite = waRequest::cookie('shop_multishop_favourite', [], waRequest::TYPE_ARRAY_INT)}
        {$viewed_products = waRequest::cookie('shop_multishop_viewed', [], waRequest::TYPE_ARRAY_INT)}
        <div class="bottom-fixed">
            <ul class="menu-h">
                <li class="compare-block">
                    <a class="compare {if !$wa->shop->compare()}grey{/if}" href="{if !$wa->shop->compare()}javascript:void(0){else}{$wa->getUrl('/frontend/compare/', ['id' => implode(',', $wa->shop->compare()|array_keys) ])}{/if}" title='{if $wa->shop->compare()}[`Compare products`]{else}[`Nothing to compare`]{/if}'>
                        <div class="relative">
                            <span class="indicator">{if $wa->shop->compare()}{$wa->shop->compare()|count}{else}0{/if}</span>
                            <img src="{$wa_theme_url}img/compare-bottom.png" /> [`Compare`]
                        </div>
                    </a>
                </li>
                <li class="favourite-block">
                    <a href="{$wa->getUrl('shop/frontend')}search/?title=[`Wish+list`]&amp;favourite=1">
                        <div class="relative">
                            <span class="indicator">{count($favourite)}</span>
                            <img src="{$wa_theme_url}img/favourite-bottom.png" /> [`Wish list`]
                        </div>
                    </a>
                </li>
                <li>
                    <a href="{$wa->getUrl('shop/frontend')}search/?title=[`Viewed+products`]&amp;viewed_products=1">
                        <div class="relative">
                            <span class="indicator">{count($viewed_products)}</span>
                            <img src="{$wa_theme_url}img/viewed-bottom.png" /> [`Viewed`]
                        </div>
                    </a>
                </li>
                <li class="mobile-cart">
                    <a href="{$wa->getUrl('shop/frontend/cart')}" title="[`Cart`]">
                        <div class="relative">
                            <span class="indicator">{$cart_count}</span>
                            <i class="icon32 ig cart"></i> [`Cart`]
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    {/if}
        <div id="go-top"><a href="javascript:void(0)"></a></div>

        <!-- MOBILEBAR -->
        {include file="mobilebar.html" inline}

        <!-- DEMO SETTINGS BLOCK -->
        {if $theme_settings.demo == 'on' && $wa->shop}
        <div id="multishop-settings">
            <div class="settings-header">
                <a href="javascript:void(0)" class="settings-icon" title="[`Settings`]"></a>
            </div>
            <form action="" method="post">
                <div class="settings-body">
                    <div class="settings-fields">
                        <div class="setting-block">
                            <b>[`Color scheme`]</b>
                            {$color_scheme = ['lightblue' => '[`Lightblue`]', 'blue' => '[`Blue`]', 'blindblue'=>'[`Blindblue`]', 'black'=>'[`Black`]',
                                             'emerald'=>'[`Emerald`]', 'green'=>'[`Green`]', 'purple'=>'[`Purple`]', 'lightpurple'=>'[`Light purple`]',
                                             'orange'=>'[`Orange`]', 'pink'=>'[`Pink`]', 'red'=>'[`Red`]', 'red2'=>'[`Red2`]', 'white'=>'[`White`]']}
                            <select name="settings-color">
                                {foreach $color_scheme as $ck => $cv}
                                <option value="{$ck}" {if $theme_settings.color == $ck}selected{/if}>{$cv}</option>
                                {/foreach}
                            </select>
                        </div>
                        <hr />
                        <div class="setting-block">
                            <b>[`Background pattern`]</b>
                            {$background_pattern = ['img/patterns/no-pattern.jpg' => '[`No pattern`]', 'img/patterns/pattern1.png' => '[`Pattern`]1', 'img/patterns/pattern2.png'=>'[`Pattern`]2', 'img/patterns/pattern3.png'=>'[`Pattern`]3',
                                             'img/patterns/pattern4.png'=>'[`Pattern`]4', 'img/patterns/pattern5.png'=>'[`Pattern`]5', 'img/patterns/pattern6.jpg'=>'[`Pattern`]6', 'img/patterns/pattern7.png'=>'[`Pattern`]7',
                                             'img/patterns/pattern8.png'=>'[`Pattern`]8', 'img/patterns/pattern9.png'=>'[`Pattern`]9', 'img/patterns/pattern10.png'=>'[`Pattern`]10', 'img/patterns/pattern11.png'=>'[`Pattern`]11',
                                             'img/patterns/pattern12.png'=>'[`Pattern`]12', 'img/patterns/pattern13.png'=>'[`Pattern`]13', 'img/patterns/pattern14.png'=>'[`Pattern`]14', 'img/patterns/pattern15.png'=>'[`Pattern`]15',
                                             'img/patterns/pattern16.png'=>'[`Pattern`]16', 'img/patterns/pattern17.png'=>'[`Pattern`]17', 'img/patterns/pattern18.jpg'=>'[`Pattern`]18', 'img/patterns/pattern19.png'=>'[`Pattern`]19',
                                             'img/patterns/pattern20.png'=>'[`Pattern`]20']}
                            <select name="settings-pattern">
                                {foreach $background_pattern as $bk => $bv}
                                <option value="{$bk}" {if $theme_settings.pattern == $bk}selected{/if}>{$bv}</option>
                                {/foreach}
                            </select>
                        </div>
                        <hr />
                        <div class="setting-block">
                            <b>[`Number of products inside fly cart`]</b>
                            <select name="settings-productsperfly">
                                <option value="1" {if $theme_settings.products_per_fly == '1'}selected{/if}>1</option>
                                <option value="2" {if $theme_settings.products_per_fly == '2'}selected{/if}>2</option>
                                <option value="3" {if $theme_settings.products_per_fly == '3'}selected{/if}>3</option>
                                <option value="4" {if $theme_settings.products_per_fly == '4'}selected{/if}>4</option>
                                <option value="5" {if $theme_settings.products_per_fly == '5'}selected{/if}>5</option>
                            </select>
                        </div>
                        <hr />
                        <div class="setting-block">
                            <b><a href="javascript:void(0)">[`Type of horizontal menu`] <i class="icon10 rarr close"></i></a></b>
                            <div class="setting-value">
                                <div><input type="radio" name="settings-menu-category" value="list" {if $theme_settings.menu_category == 'list'}checked{/if} /> [`List`]</div>
                                <div><input type="radio" name="settings-menu-category" value="menu" {if $theme_settings.menu_category == 'menu'}checked{/if} /> [`Menu`]</div>
                                <div><input type="radio" name="settings-menu-category" value="combine" {if $theme_settings.menu_category == 'combine'}checked{/if} /> [`Combine`]</div>
                            </div>
                        </div>
                        <hr />
                        <div class="setting-block">
                            <b><a href="javascript:void(0)">[`Footer type`] <i class="icon10 rarr close"></i></a></b>
                            <div class="setting-value">
                                <div><input type="radio" name="settings-footer-type" value="small" {if $theme_settings.footer_type == 'small'}checked{/if} /> [`Small`]</div>
                                <div><input type="radio" name="settings-footer-type" value="big" {if $theme_settings.footer_type == 'big'}checked{/if} /> [`Big`]</div>
                            </div>
                        </div>
                        <hr />
                        <div class="setting-block">
                            <b><a href="javascript:void(0)">[`Default products view`] <i class="icon10 rarr close"></i></a></b>
                            <div class="setting-value">
                                <div><input type="radio" name="settings-default-view" value="thumbs" {if $theme_settings.default_view == 'thumbs'}checked{/if} /> [`Thumbs`]</div>
                                <div><input type="radio" name="settings-default-view" value="table" {if $theme_settings.default_view == 'table'}checked{/if} /> [`Table`]</div>
                            </div>
                        </div>
                        <hr />
                        <div class="setting-block">
                            <b><a href="javascript:void(0)">[`Catalog products view`] <i class="icon10 rarr close"></i></a></b>
                            <div class="setting-value">
                                <div><input type="radio" name="settings-lazyloading" value="lazyloading" {if $theme_settings.lazyloading == 'lazyloading'}checked{/if} /> [`Lazyloading`]</div>
                                <div><input type="radio" name="settings-lazyloading" value="productsperpage" {if $theme_settings.lazyloading == 'productsperpage'}checked{/if} /> [`Products per page`]</div>
                            </div>
                        </div>
                         <div class="setting-block">
                            <b><a href="javascript:void(0)">[`Product photo onclick enlarge`] <i class="icon10 rarr close"></i></a></b>
                            <div class="setting-value">
                                <div><input type="radio" name="settings-zoom" value="zoom" {if $theme_settings.enlarge_type == 'zoom'}checked{/if} /> [`Hover zoom`]</div>
                                <div><input type="radio" name="settings-zoom" value="fancybox" {if $theme_settings.enlarge_type == 'fancybox'}checked{/if} /> [`Popup window`]</div>
                            </div>
                        </div>
                        {*
                        <div class="setting-block">
                            <b><a href="javascript:void(0)">[`Enable plugins`] <i class="icon10 rarr close"></i></a></b>
                            <div class="setting-value">
                                <div><input type="radio" name="settings-plugins" value="1" {if !empty($theme_settings.plugins)}checked{/if} /> [`Enable`]</div>
                                <div><input type="radio" name="settings-plugins" value="0" {if empty($theme_settings.plugins)}checked{/if} /> [`Disable`]</div>
                            </div>
                        </div>
                        *}
                    </div>
                </div>
                <div class="settings-footer">
                    <input type="submit" class="cancel" name='settings-cancel' value='[`Reset`]' />
                    <input type="submit" class="button theme" value='[`Apply`]' />
                </div>
            </form>
            <script type="text/javascript">
                $(function() {
                    $("#multishop-settings .setting-block b a").click(function() {
                        var i = $(this).find("i");
                        if (i.hasClass("open")) {
                            i.removeClass("open darr").addClass("close rarr");
                            i.closest(".setting-block").find(".setting-value").slideUp();
                        } else {
                            i.removeClass("close rarr").addClass("open darr");
                            i.closest(".setting-block").find(".setting-value").slideDown();
                        }
                    });
                    $("#multishop-settings .settings-icon").click(function() {
                        var btn = $(this);
                        if (btn.hasClass("open")) {
                            btn.removeClass("open").addClass("close");
                            $("#multishop-settings").animate({
                                marginRight: '-45px'
                            }, 500, function() {
                                $("#multishop-settings").removeClass("open");
                            });
                        } else {
                            btn.removeClass("close").addClass("open");
                            $("#multishop-settings").addClass("open")
                            $("#multishop-settings").animate({
                                marginRight: '-335px'
                            }, 500);
                        }
                    });
                    setTimeout(function() {
                        $("#multishop-settings").animate({
                            marginRight: '-45px'
                        }, 500);
                    }, 1000);
                });
            </script>
        </div>
        {/if}
        <!-- END DEMO SETTINGS BLOCK -->

    <noindex><div class="lt-ie8-wrap">{include file="lt-ie8.html"}</div></noindex>
</body>
</html>