<table class="align-center">
    <tr class="head-lt-ie8">
        <td colspan="3" class="align-center">
            <a href="{$wa->getUrl('shop/frontend')}"><img src="{if !$theme_settings.logo}{$wa_theme_url}/img/colors/{$theme_settings.color}/logo.png{else}{$wa_theme_url}{$theme_settings.logo|escape}{/if}" alt="{$wa->shop->settings('name')}" /></a>
            <div class="company-text">{$theme_settings.slogan|escape}</div>
        </td>
        <td colspan="2" class="align-center">
            <!-- Телефон / Phone -->
            <div class="phone">
                {if $wa->shop->settings('phone') || $theme_settings.phone}
                    {if $theme_settings.phone}{$theme_settings.phone|escape}{else}{$wa->shop->settings('phone')}{/if}
                {/if}
            </div>
            <!-- Конец / End -->
        </td>
    </tr>
    <tr><td colspan="5">
            <p class="align-center">    
                [`Sorry, but Your browser doesn't support technologies used on this site`].
            </p>
        </td></tr>
    <tr><td colspan="5">
            <p class="align-center">[`Please refresh your browser by downloading it via the links below`].</p>
        </td></tr>
    <tr class="align-center">
        <td><a href="http://www.microsoft.com/rus/windows/internet-explorer/worldwide-sites.aspx" title="Internet Explorer"><i class="browser-icon ie"></i><div>Internet Explorer</div></a></td>
        <td><a href="http://www.google.com/chrome/" title="Chrome"><i class="browser-icon chrome"></i><div>Chrome</div></a></td>
        <td><a href="http://www.apple.com/ru/safari/" title="Safari"><i class="browser-icon safari"></i><div>Safari</div></a></td>
        <td><a href="http://www.opera.com/" title="Opera"><i class="browser-icon opera"></i><div>Opera</div></a></td>
        <td><a href="http://www.mozilla-europe.org/ru/firefox/" title="Firefox"><i class="browser-icon firefox"></i><div>Firefox</div></a></td>
    </tr>
</table>