<div id="mobilebar">
    <a href="javascript:void(0)" class="close">[`Close`]</a>
    <!-- Телефон / Phone -->
    {if ($wa->shop && $wa->shop->settings('phone')) || $theme_settings.phone}
    <div class="phone">{if $theme_settings.phone}{$theme_settings.phone|escape}{elseif $wa->shop}{$wa->shop->settings('phone')}{/if}</div>
    {/if}
    <!-- Конец / End -->
    {if $wa->isAuthEnabled()}
    <div class="account">
        <!-- auth links -->
        {if $wa->user()->isAuth()}
        {if $wa->shop}
        <i class="icon16 th user-bw"></i>
        <a href="{$wa->getUrl('shop/frontend/my')}">{$wa->user('name')}</a> /
        {else}
        <strong>{$wa->user('name')}</strong>
        {/if}
        <a href="?logout">[`Log out`]</a>
        {else}
        <i class="icon16 th key-bw"></i> 
        <a href="{$wa->loginUrl()}">[`Log in`]</a> / <a href="{$wa->signupUrl()}">[`Signup`]</a>
        {/if}
    </div>
    {/if}
    {if $wa->blog}
        <div class="rss-block">
            <a href="{$wa->getUrl('blog/frontend/rss')}" title="[s`Subscribe`]" class="rss-icon"><img src="{$wa_theme_url}img/rss.png" alt="[s`Subscribe`]" />[s`Subscribe`]</a>
        </div>
    {/if}
    {if $wa->shop}
    <div class="compare {if !$wa->shop->compare()}grey{/if}">
        <span class="indicator">{if $wa->shop->compare()}{$wa->shop->compare()|count}{else}0{/if}</span>
        <a href="{if $wa->shop->compare() lt 2}javascript:void(0){else}{$wa->getUrl('/frontend/compare/', ['id' => implode(',', $wa->shop->compare()|array_keys) ])}{/if}" title='{if $wa->shop->compare()}[`Compare products`]{else}[`Nothing to compare`]{/if}'><i class="icon16 th compare-bw"></i> [`Compare`]</a>
    </div>
    <!-- product search -->
    <div class="search">
        <form method="get" action="{$wa->getUrl('shop/frontend/search')}">
            <input type="search" name="query" {if !empty($query)}value="{$query}"{/if} placeholder="[`Product search`]" />
                   <input type="submit" value='' />
        </form>
    </div>

    <div class="category-sidebar">
        <!-- JS generated content -->
    </div>
    {/if}
    
</div>