{if $wa->shop}
    {$shop_pages=$wa->shop->pages()}
{/if}
{if $wa->photos}
    {$photos_pages=$wa->photos->pages()}
{/if}
{if $wa->blog}
    {$blog_pages=$wa->blog->pages()}
{/if}
{$pages=$wa->site->pages()}

{$shop_url = $wa->getUrl('shop/frontend')}
{$photos_url = $wa->getUrl('photos/frontend')}
{$blog_url = $wa->getUrl('blog/frontend')}
<div class="pages"{if $theme_settings.bg_middle_color} style="background-color: {$theme_settings.bg_middle_color};"{/if}>
    <div class="wrap">
        <ul class="menu-h">
            {if $theme_settings.horizontal_menu_pages == 'before'}
                {if $wa->shop}{build_topmenu categories=$shop_pages}{/if}
                {if $wa->photos}{build_topmenu categories=$photos_pages}{/if}
                {if $wa->blog}{build_topmenu categories=$blog_pages}{/if}
                {build_topmenu categories=$pages}
            {/if}
            
            {foreach $wa->apps() as $a}
                {if !empty($a.url)}
                    {$icon = ''}
                    {$icon_a = ''}
                    <li>
                        <a href="{$a.url}" {if $wa_app_url == $a.url}class="selected"{/if} title="{$a.name|escape}">
                           {if $shop_url == $a.url}{$icon = 'shop.png'}{$icon_a = 'shop-active.png'}
                               {elseif $blog_url == $a.url}{$icon = 'blog.png'}{$icon_a = 'blog-active.png'}
                                   {elseif $photos_url == $a.url}{$icon = 'photo.png'}{$icon_a = 'photo-active.png'}
                                       {else}{$icon = 'site.png'}{$icon_a = 'site-active.png'}
                                       {/if}
                           {if !empty($icon)}
                               <img class="page-icons" src="{$wa_theme_url}img/colors/{$theme_settings.color}/icons/{if $wa->currentUrl() == $a.url && !empty($icon_a)}{$icon_a}{else}{$icon}{/if}" data-hover="{if !empty($icon_a)}{$icon_a}{/if}" data-original="{$icon}" />
                           {/if}
                           {$a.name|escape}
                        </a>
                    </li>
                {/if}
            {/foreach}
            
            {if $theme_settings.horizontal_menu_pages == 'after'}
                {if $wa->shop}{build_topmenu categories=$shop_pages}{/if}
                {if $wa->photos}{build_topmenu categories=$photos_pages}{/if}
                {if $wa->blog}{build_topmenu categories=$blog_pages}{/if}
                {build_topmenu categories=$pages}
            {/if}
        </ul>
    </div>
</div>