{if $wa->shop}
    {$categories=$wa->shop->categories(0,null,true, true)}
{/if}
{if isset($category)}{$category_id=$category.id}{elseif isset($product)}{$category_id=$product.category_id}{else}{$category_id=null}{/if}
{if !empty($breadcrumbs)}
    {foreach $breadcrumbs as $crumb}
        {$crumbs[]=$crumb.url}
    {/foreach}
{else}
    {$crumbs = []}
{/if}
{* Build mobile menu *}
{function name=build_shop_mobile_menu}

{if $collapsible == 1}
{$hide = 1}
{else}
{$hide = 0}
{/if}

<ul class="menu-v l{$level} {if $hide}hidden{/if}">
    {foreach $cats as $c}
    {if $category_id == $c.id}{$collapsible = 1}{$hide = 1}{/if}
    <li {if $category_id == $c.id || in_array($c.url, $crumbs)}class="selected"{/if}>
        <a href="{$c.url}" title="{$c.name}">{$c.name}</a>
        {if !empty($c.childs)}{if !$hide}<i class="icon16 ig minus f-collapsible" title="[`Collapse`]"></i>{else}<i class="icon16 ig plus f-collapsible" title="[`Expand`]"></i>{/if}{/if}
        {if !empty($c.childs)}{build_shop_mobile_menu collapsible=$collapsible cats = $c.childs level=$level+1}{/if}
    </li>
    {/foreach}
</ul>
{/function}

{* Build category menu *}
{function name=build_shop_category_menu}

{if !isset($type)}
{$type = $theme_settings.menu_category}
{/if}

<ul class="menu-v l{$level} {if $level > 0 && isset($collapsible) && $collapsible == '1'}hidden{/if}">
    {if isset($collapsible)}{$parent_collapsible = $collapsible}{/if}

    {if $level == '1' && !empty($parent.params.category_top_html) && $type=='combine'}
    <li class="category-html">
        {$wa->block($parent.params.category_top_html)}
    </li>
    {/if}

    {foreach $cats as $c}

    {if empty($force_menu) && isset($c.params.menu_type) && $c.params.menu_type == 'menu'}
    {$force_menu = 1}
    {elseif !isset($force_menu)}
    {$force_menu = 0}
    {/if}

    <li class="{if $category_id == $c.id || in_array($c.url, $crumbs)}selected{/if}{if !empty($force_menu)} dropdown dropdown-menu force-menu{/if}{if $type=='combine'  && (!empty($c.childs) || !empty($c.params.category_bottom_html) || !empty($c.params.category_top_html))} childs{/if}">
        {if isset($force_collapsible)}{$collapsible = 1}{elseif isset($c.params.collapsible) && $c.params.collapsible == '1'}{$collapsible = 1}{elseif isset($c.params.collapsible) && $c.params.collapsible == '0'}{$collapsible = 0}{else}{$collapsible=$parent_collapsible}{/if}
        <a href="{$c.url}" title="{$c.name}">
            {$c.name}
            {if !empty($c.childs)}
                {if $type == 'menu'}<i class="icon16 ig rarr"></i>{/if}
            {/if}
        </a>
        {if !empty($c.childs)}
            {if $type == 'list' || $type == 'combine'}
                {if ($force_menu && $type !== 'combine') || ($force_menu && $type == 'combine' && $level > 0)}
                    <i class="icon16 ig rarr list-rarr"></i>
                {elseif $type !== 'combine' || ($type == 'combine' && $level > 0)}
                    {if isset($collapsible) && $collapsible == '0'}
                        <i class="icon16 ig minus f-collapsible" title="[`Collapse`]"></i>
                    {else}
                        <i class="icon16 ig plus f-collapsible" title="[`Expand`]"></i>
                    {/if}
                {/if}
            {/if}
            {build_shop_category_menu type=$type parent_collapsible=$parent_collapsible collapsible=$collapsible cats = $c.childs level=$level+1 force_menu=$force_menu parent = $c}
        {elseif $type=='combine'}
            {build_shop_category_menu type=$type parent_collapsible=$parent_collapsible collapsible=$collapsible cats = [] level=$level+1 force_menu=$force_menu parent = $c}
        {/if}
    </li>
    {$force_menu = 0}
    {/foreach}

    {if $level == '1' && !empty($parent.params.category_bottom_html) && $type=='combine'}
    <li class="category-html">
        {$wa->block($parent.params.category_bottom_html)}
    </li>
    {/if}
</ul>
{/function}

{* Compose second column for category *}
{function name=double_column}
<h6><a href="{$cat.url}" title="{$cat.name}">{$cat.name}</a></h6>
{$childs_count = $cat.childs|count}
{math equation="round(x/y)" x=$childs_count y=2 assign=middle}
{if isset($cat.params.collapsible) && $cat.params.collapsible == '1'}{$collapsible = 1}{elseif isset($cat.params.collapsible) && $cat.params.collapsible == '0'}{$collapsible = 0}{else}{$collapsible=$parent_collapsible}{/if}
<ul class="menu-v l{$level}">
    {section name=double_columns loop = $middle start=0}
    {$child_cat = $cat.childs[$smarty.section.double_columns.index]}
    <li class="{if $category_id == $child_cat.id || in_array($child_cat.url, $crumbs)}selected{/if}{if !empty($child_cat.childs)} has-child{/if}{if isset($child_cat.params.menu_type) && $child_cat.params.menu_type == 'menu'} force-menu dropdown dropdown-menu{/if}">
        <a href="{$child_cat.url}" title="{$child_cat.name}">
            {$child_cat.name}
            {if !empty($child_cat.childs) && isset($child_cat.params.menu_type) && $child_cat.params.menu_type == 'menu'}
                <i class="icon16 ig rarr list-rarr"></i>
            {/if}
        </a>
        {if !empty($child_cat.childs)}
            {if (isset($child_cat.params.menu_type) && $child_cat.params.menu_type !== 'menu') || !isset($child_cat.params.menu_type)}
                {if isset($collapsible) && $collapsible == '0'}
                    <i class="icon16 ig minus f-collapsible" title="[`Collapse`]"></i>
                {else}
                    <i class="icon16 ig plus f-collapsible" title="[`Expand`]"></i>
                {/if}
            {/if}
            {build_shop_category_menu collapsible=$collapsible cats = $child_cat.childs level=$level+1 type=list parent_collapsible=$parent_collapsible force_menu=(isset($child_cat.params.menu_type) && $child_cat.params.menu_type == 'menu')}
        {/if}
    </li>
    {/section}
</ul>
<ul class="menu-v l{$level}">
    {section name=double_columns2 loop = $childs_count start=$middle}
    {$child_cat = $cat.childs[$smarty.section.double_columns2.index]}
    <li class="{if $category_id == $child_cat.id || in_array($child_cat.url, $crumbs)}selected{/if}{if !empty($child_cat.childs)} has-child{/if}{if isset($child_cat.params.menu_type) && $child_cat.params.menu_type == 'menu'} force-menu dropdown dropdown-menu{/if}">
        <a href="{$child_cat.url}" title="{$child_cat.name}">
            {$child_cat.name}
            {if !empty($child_cat.childs) && isset($child_cat.params.menu_type) && $child_cat.params.menu_type == 'menu'}
                <i class="icon16 ig rarr list-rarr"></i>
            {/if}
        </a>
        {if !empty($child_cat.childs)}
            {if (isset($child_cat.params.menu_type) && $child_cat.params.menu_type !== 'menu') || !isset($child_cat.params.menu_type)}
                {if isset($collapsible) && $collapsible == '0'}
                    <i class="icon16 ig minus f-collapsible" title="[`Collapse`]"></i>
                {else}
                    <i class="icon16 ig plus f-collapsible" title="[`Expand`]"></i>
                {/if}
            {/if}
            {build_shop_category_menu collapsible=$collapsible cats = $child_cat.childs level=$level+1 type=list parent_collapsible=$parent_collapsible force_menu=(isset($child_cat.params.menu_type) && $child_cat.params.menu_type == 'menu')}
        {/if}
    </li>
    {/section}
</ul>
{/function}

{* Build category list menu *}
{function name=build_shop_category_list}
{if $type == 'default'}

{$cat = $categories[$key]}

{if isset($cat.params.double_column) && !empty($cat.childs)}
{$double_column = 1}
{else}
{$double_column = 0}
{/if}

<li {if $double_column}class="double-column"{/if}>
    {if $double_column}
    {double_column cat=$cat level=$level parent_collapsible=$parent_collapsible}
    {else}
    <ul class="menu-v l{$level}">
        <li class="{if $category_id == $cat.id || in_array($cat.url, $crumbs)}selected{/if}{if !empty($cat.childs)} has-child{/if}">
            <h6><a href="{$cat.url}" title="{$cat.name}">{$cat.name}</a></h6>
            {if !empty($cat.childs)}{build_shop_category_menu cats = $cat.childs level=$level+1 type=list parent_collapsible=$parent_collapsible}{/if}
        </li>
    </ul>
    {/if}
</li>
{elseif $type == 'custom-columns'}

{$start = $key*$items}
{if ($key+1) != $columns}
    {$loop = $items*($key+1)}
    {if $loop ==  $child_count}
        {$loop = $child_count - 1}
    {/if}
{else}
    {$loop = $child_count}
    {if $loop ==  $start}
        {$start = $key*$items-1}
    {/if}
{/if}
{section name=inside_columns loop = $loop start=$start}
{$cat = $categories[$smarty.section.inside_columns.index]}

{if isset($cat.params.double_column) && !empty($cat.childs)}
{$double_column = 1}
{else}
{$double_column = 0}
{/if}
<li {if $double_column}class="double-column"{/if}>
    {if $double_column}
    {double_column cat=$cat level=$level parent_collapsible=$parent_collapsible}
    {else}
    <ul class="menu-v l{$level}">
        <li class="{if $category_id == $cat.id || in_array($cat.url, $crumbs)}selected{/if}{if !empty($cat.childs)} has-child{/if}">
            <h6><a href="{$cat.url}" title="{$cat.name}">{$cat.name}</a></h6>
            {if !empty($cat.childs)}{build_shop_category_menu cats = $cat.childs level=$level+1 type=list parent_collapsible=$parent_collapsible}{/if}
        </li>
    </ul>
    {/if}
</li>
{/section}

{elseif $type == 'column-groups'}

{foreach $categories as $cat}

{if isset($cat.params.double_column) && !empty($cat.childs)}
{$double_column = 1}
{else}
{$double_column = 0}
{/if}
<li {if $double_column}class="double-column"{/if}>
    {if $double_column}
    {double_column cat=$cat level=$level parent_collapsible=$parent_collapsible}
    {else}
    <ul class="menu-v l{$level}">
        <li class="{if $category_id == $cat.id || in_array($cat.url, $crumbs)}selected{/if}{if !empty($cat.childs)} has-child{/if}">
            <h6><a href="{$cat.url}" title="{$cat.name}">{$cat.name}</a></h6>
            {if !empty($cat.childs)}{build_shop_category_menu cats = $cat.childs level=$level+1 type=list parent_collapsible=$parent_collapsible}{/if}
        </li>
    </ul>
    {/if}
</li>
{/foreach}
{/if}
{/function}

{* Build page navigation*}
{function name=build_topmenu}
{if !empty($categories)}
{foreach from=$categories item=c}
{if isset($c.topmenu)}
<li>
    <a href="{$c.url}" {if $wa->currentUrl() == $c.url}class="selected"{/if} title="{$c.name}">
        {if isset($c.icon)}
        <img class="page-icons" src="{$wa_theme_url}img/colors/{$theme_settings.color}/icons/{if $wa->currentUrl() == $c.url && isset($c['icon-active'])}{$c['icon-active']|escape}{else}{$c.icon|escape}{/if}" data-hover="{if isset($c['icon-active'])}{$c['icon-active']|escape}{/if}" data-original="{$c.icon|escape}" />
        {/if}
        {$c.name}
    </a>
</li>
{/if}
{if isset($c.childs)}{build_topmenu categories=$c.childs}{/if}
{/foreach}
{/if}
{/function}

{if $theme_settings.horizontal_menu == 'up'}
    {include file='navigation_pages.html'}
{/if}
{if $wa->shop}
    <div class="top-menu">
        <div class="wrap">
            <a href="javascript:void(0)" class ='mobile-block' id="mobile-menu"><i class="mobilemenu-icon"></i> [`Menu`]</a>
            <ul class="menu-h">
                {if $categories}
                    {foreach $categories as $cat}
                        {if (isset($cat.params.menu_type) && ($cat.params.menu_type !== 'menu' && $cat.params.menu_type !== 'combine')) ||
                            (!isset($cat.params.menu_type) && (!isset($theme_settings.menu_category)
                              || $theme_settings.menu_category == 'list'))}
                            <li {if $category_id == $cat.id || (!empty($root_category_id)
                                && $root_category_id == $cat.id)}class="selected"{/if}>
                                <a href="{$cat.url}" title="{$cat.name}" class="f-cat-title">
                                    {$cat.name}
                                </a>
                                {if !empty($cat.childs)}
                                    <div class="dropdown-wrap">

                                        {if isset($cat.params.collapsible) && $cat.params.collapsible == '0'}
                                            {$parent_collapsible = 0}
                                        {else}
                                            {$parent_collapsible = 1}
                                        {/if}

                                        {$count_child = $cat.childs|count}

                                        {if !empty($cat.params.columns) && $cat.params.columns == 'groups'}

                                            {$type = 'column-groups'}
                                            {$childs = []}
                                            {foreach $cat.childs as $c}
                                                {if !empty($c.params.column_group)}
                                                    {$childs[$c.params.column_group][] = $c}
                                                {else}
                                                    {$childs['undefined'][] = $c}
                                                {/if}
                                            {/foreach}
                                            {$columns = $childs|count}
                                            {if $columns == '1'}
                                                {$type = 'default'}
                                                {$columns = $count_child}
                                                {$items = 0}
                                            {/if}

                                        {elseif !empty($cat.params.columns) && $cat.params.columns < $count_child}

                                            {$type = 'custom-columns'}
                                            {$columns = $cat.params.columns}
                                            {math equation="round(x/y)" x=$count_child y=$columns assign=items}

                                        {else}

                                            {$type = 'default'}
                                            {$columns = $count_child}
                                            {$items = 0}

                                        {/if}
                                        <ul class="category-columns c{$columns}">
                                            {if $type !== 'column-groups'}
                                                {section name=columns loop = $columns}
                                                <li class="u{$smarty.section.columns.index}">
                                                    <ol>
                                                        {build_shop_category_list categories = $cat.childs columns=$columns items=$items child_count=$count_child key=$smarty.section.columns.index type=$type parent_collapsible=$parent_collapsible level=0}
                                                    </ol>
                                                </li>
                                                {/section}
                                            {else}
                                                {foreach $childs as $child}
                                                    <li class="u">
                                                        <ol>
                                                            {build_shop_category_list categories = $child type=$type parent_collapsible=$parent_collapsible level=0}
                                                        </ol>
                                                    </li>
                                                {/foreach}
                                            {/if}
                                        </ul>
                                    </div>
                                {/if}
                            </li>
                        {elseif (!isset($cat.params.menu_type) && $theme_settings.menu_category == 'menu') || (isset($cat.params.menu_type) && $cat.params.menu_type == 'menu')}
                            <li rel="{$cat.id}" class="dropdown dropdown-menu {if $category_id == $cat.id || (!empty($root_category_id) && $root_category_id == $cat.id)}selected{/if}">
                                <a href="{$cat.url}" class="f-cat-title" title="{$cat.name}">
                                    {$cat.name}
                                </a>
                                {if !empty($cat.childs)}
                                    {build_shop_category_menu cats = $cat.childs type = 'menu' force_collapsible=1 parent_collapsible=1 level = 0}
                                {/if}
                            </li>
                        {elseif $theme_settings.menu_category == 'combine' || (isset($cat.params.menu_type) && $cat.params.menu_type == 'combine')}

                            {if isset($cat.params.collapsible) && $cat.params.collapsible == '0'}
                                {$parent_collapsible = 0}
                             {else}
                                {$parent_collapsible = 1}
                             {/if}

                            <li rel="{$cat.id}" class="dropdown-combine {if $category_id == $cat.id || (!empty($root_category_id) && $root_category_id == $cat.id)}selected{/if}">
                                <a href="{$cat.url}" class="f-cat-title" title="{$cat.name}">
                                    {$cat.name}
                                </a>
                                <div class="dropdown-combine-wrap">
                                    {if !empty($cat.childs)}
                                        {build_shop_category_menu cats = $cat.childs type='combine' parent_collapsible=$parent_collapsible level = 0}
                                    {/if}
                                </div>
                            </li>
                        {/if}
                    {/foreach}
                {/if}
            </ul>
        </div>
    </div>
    <ul class="menu-v mobile-block mobile-menu hidden">
        {if $categories}
            {foreach $categories as $cat}
                <li {if $category_id == $cat.id || in_array($cat.url, $crumbs)}class="selected"{/if}>
                    {if $category_id == $cat.id || (!empty($root_category_id) && $root_category_id == $cat.id)}
                        <h4><a href="{$cat.url}" title="{$cat.name}" class="f-cat-title">{$cat.name}</a>{if !empty($cat.childs)}<i class="icon16 ig minus f-collapsible" title="[`Collapse`]"></i>{/if}</h4>
                        {if !empty($cat.childs)}{build_shop_mobile_menu cats = $cat.childs level=0 collapsible=0}{/if}
                    {else}
                        <h4><a href="{$cat.url}" title="{$cat.name}" class="f-cat-title">{$cat.name}</a>{if !empty($cat.childs)}<i class="icon16 ig plus f-collapsible" title="[`Expand`]"></i>{/if}</h4>
                        {if !empty($cat.childs)}{build_shop_mobile_menu cats = $cat.childs level=0 collapsible=1}{/if}
                    {/if}
                </li>
            {/foreach}
        {/if}
    </ul>
{/if}

{if $theme_settings.horizontal_menu == 'down'}
    {include file='navigation_pages.html'}
{/if}

{if $wa->shop}
<script type="text/javascript">
    $(function() {
        var topmenu = $(".top-menu ul.menu-h");
        var more = [];
        var resizeTopMenu = function(topmenu) {
            // Вкладка "Еще" в меню
            // Если уже существует вкладка "Еще", то прячем ее
            var moreTab = topmenu.children(".more-tab");
            if (moreTab.length) {
                moreTab.hide();
            }
            // Узнаем высоту блока навигации
            var height = topmenu.height();
            // Если высота больше допустимого уровня, то собираем все вкладки, которые вышли за пределы
            if (height > '50') {
                while (height > '50') {
                    var last = moreTab.length ? topmenu.children().eq(-2) : topmenu.children().last();
                    more.push(last);
                    last.remove();
                    height = topmenu.height();
                }
                // Добавляем вкладку "Еще", чтобы проверить не происходит ли смещение
                topmenu.append("<li class='more-tab'><a href='javascript:void(0)'>{$theme_settings.more_text}</a></li>");
                height = topmenu.height();
                // Если смещение произошло, то убираем еще один пункт навигации
                if (height > '50') {
                    topmenu.children().last().remove();
                    var last = moreTab.length ? topmenu.children().eq(-2) : topmenu.children().last();
                    more.push(last);
                    last.remove();
                } else {
                    topmenu.children().last().remove();
                }
                var html = "";
                    // Клонируем объект со скрытыми вкладками
                    var moreClon = [];
                    $.each(more, function(i,k) {
                        moreClon.push($(k).clone());
                    });
                   // Функция, формирующая пункты во вкладке "Еще"
                   var createMoreTabInsideLi = function(moreClon) {
                       var html = "";
                       $.each(moreClon, function(i, v) {
                           var v1 = $(v);
                           {if $theme_settings.more_type == 'combine'}
                                var zeroUl = v1.find("ul.l0");
                                html += "<li";
                                if (zeroUl.length) {
                                    html += " class='childs'";
                                    zeroUl.removeClass("l0").addClass("l1").find("ul.l1").removeClass("l1").addClass("l2");
                                    zeroUl.find(".icon16.ig.rarr").each(function(i,v) {
                                       v = $(v);
                                       var a = v.parent('a');
                                       if (!a.length) {
                                           var li = v.closest("li");
                                       } else {
                                           var li = a.closest("li");
                                       }
                                       if (!li.hasClass("force-menu")) {
                                           v.remove();
                                           a.after('<i class="icon16 ig plus f-collapsible" title="[`Expand`]"></i>');
                                       } else {
                                           li.find("ul").removeAttr("style");
                                           if (!v.hasClass("list-rarr")) {
                                               v.addClass("list-rarr");
                                           }
                                       }
                                    });
                                    zeroUl.children("li.childs").each(function(i,v) {
                                        v = $(v);
                                        var a = v.removeClass("childs").children("a");
                                        var ul = a.next("ul");
                                        if (!ul.hasClass("hidden")) {
                                            ul.addClass("hidden");
                                        }
                                        a.after('<i class="icon16 ig plus f-collapsible" title="[`Expand`]"></i>');
                                        v.find("li.category-html").remove();
                                    });
                                }
                                html += ">";
                                html += v.find(".f-cat-title").removeClass().prop('outerHTML');
                                if (v.find(".category-columns").length) {
                                    html += "<ul class='menu-v l1'>";
                                    $.each(v.find("h6"), function(i,v) {
                                        var v = $(v);
                                        html += '<li>' + v.find("a").prop('outerHTML');
                                        var nextUl = v.next("ul");
                                        if (nextUl.length) {
                                            html += '<i class="icon16 ig minus f-collapsible" title="[`Collapse`]"></i>';
                                        }
                                        if (v.parent().hasClass("double-column") && nextUl.length) {
                                            html += "<ul class='menu-v l2'>";
                                            $.each(v.siblings("ul"), function(i,v) {
                                                html += $(v).html();
                                            });
                                            html += "</ul>";
                                        } else if (nextUl.length) {
                                            html += nextUl.prop('outerHTML');
                                        }
                                        html += '</li>';
                                    });
                                    html += "</ul>";
                                } else {
                                    html += (zeroUl.length ? zeroUl.prop('outerHTML') : "");
                                }
                                html += "</li>";
                            {else}
                                html += "<li><h6 class='parent-title'>" + v1.find(".f-cat-title").prop('outerHTML') + "</h6>";
                                    if (v1.find(".category-columns").length) {
                                        var ol = v1.find("ol");
                                        $.each(ol, function(ii, vv) {
                                            $(this).find(".double-column").removeClass("double-column");
                                            html += $(this).prop('outerHTML');
                                        });
                                    } else {
                                        var zeroUl = v1.find("ul.l0");
                                        if (zeroUl.length) {
                                            $.each(zeroUl.children(), function(i,v) {
                                                $(v).find(".f-collapsible.minus").removeClass("minus").addClass("plus").next("ul").addClass("hidden");
                                                var a = $(v).children('a');
                                                a.find(".rarr").remove();
                                                if (v1.hasClass("dropdown dropdown-menu")) {
                                                    $.each($(v).find(".menu-v.l1 .rarr"), function(i,vv) {
                                                        if (!$(this).closest("li").hasClass("force-menu")) {
                                                            $(this).parent().after('<i class="icon16 ig plus f-collapsible" title="[`Expand`]"></i>');
                                                            $(this).remove();
                                                        } else {
                                                            $(this).addClass("list-rarr");
                                                        }
                                                    });
                                                }
                                                html += '<h6>'+a.prop('outerHTML')+'</h6>';
                                                if ($(v).find(".menu-v.l1").length) {
                                                    html += '<ol><li>';
                                                    $(v).find("li.category-html").remove();
                                                    html += $(v).find(".menu-v.l1").removeClass("hidden").prop('outerHTML');
                                                    html += "</li></ol>";
                                                }
                                            });
                                        }
                                    }
                                html += "</li>";
                            {/if}
                        });
                        return html;
                   };

                   if (!moreTab.length) {
                        {if $theme_settings.more_type == 'combine'}
                            html = "<li class='more-tab dropdown-combine'>" +
                                   "<a href='javascript:void(0)'>{$theme_settings.more_text}</a>" +
                                   "<div class='dropdown-combine-wrap'>" +
                                   "<ul class='menu-v l0'>"+
                                   createMoreTabInsideLi(moreClon)+
                                   "</ul>" +
                                   "</div>" +
                                   "</li>";
                        {else}
                            html = "<li class='more-tab'>" +
                                   "<a href='javascript:void(0)'>{$theme_settings.more_text}</a>" +
                                   "<div class='dropdown-wrap force-list'>" +
                                   "<ul class='category-columns width154px more'>"+
                                   createMoreTabInsideLi(moreClon)+
                                   "</ul>" +
                                   "</div>" +
                                   "</li>";
                        {/if}
                    } else {
                        {if $theme_settings.more_type == 'combine'}
                            html = "<a href='javascript:void(0)'>{$theme_settings.more_text}</a>" +
                                  "<div class='dropdown-combine-wrap'>" +
                                  "<ul class='menu-v l0'>"+
                                  createMoreTabInsideLi(moreClon)+
                                  "</ul>" +
                                  "</div>";
                            moreTab.html(html);
                        {else}
                            html += createMoreTabInsideLi(moreClon);
                            moreTab.find(".category-columns").html(html);
                        {/if}
                    }

                if (moreTab.length) {
                    moreTab.show();
                } else {
                    topmenu.append(html);
                }
            } else if (moreTab.length) {
                if(more.length) {
                    moreTab.before(more.pop());
                    resizeTopMenu($(".top-menu ul.menu-h"));
                }
            }
        };
        // Позиционирование блока меню
        var positionTopmenu = function(topmenu) {
            var topmenuLi = topmenu.children();
            var wrapWidth = $(".wrap").width();
            $.each(topmenuLi, function(i, v) {
                v = $(v);
                var left = v.position().left;
                var dropdownWrap = v.find(".dropdown-wrap");
                if (dropdownWrap.length) {
                    dropdownWrap.css({
                        'width': 'inherit',
                        'left' : 0,
                        'marginLeft' : 0
                    });
                    var dropdownWrapWidth = dropdownWrap.width();
                    if (left + dropdownWrapWidth > wrapWidth) {
                        dropdownWrap.css({
                            left: '100%',
                            marginLeft: '-' + (dropdownWrapWidth + 2) + 'px'
                        });
                        // IE hack
                        dropdownWrap.width(function(i, v) {
                            return v + 1;
                        });
                    } else {
                        dropdownWrap.css('left', left);
                    }
                }
            });
        };

        // Позиционирование всплывающего меню
        var positionMenu = function(ul, wrap) {
            var offset = ul.offset();
            if (offset.left - wrap.offset().left + ul.find("a").outerWidth() > wrap.width()) {
                ul.css('left', '-98%');
            } else if (offset.left < 0) {
                ul.css('left', '100%');
            }
        };
        $(document).on({
            mouseenter: function() {
                var ul = $(this).find("ul");
                if (ul.length) {
                    if ($.browser.msie == true) {
                        setTimeout(function() {
                            positionMenu(ul, $(".wrap"));
                        }, 5);
                    } else {
                        positionMenu(ul, $(".wrap"));
                    }
                }
            }
        }, ".dropdown li, .dropdown.dropdown-menu");

        resizeTopMenu(topmenu);
        positionTopmenu(topmenu);
        $(window).resize(function(){
             resizeTopMenu($(".top-menu ul.menu-h"));
             positionTopmenu($(".top-menu ul.menu-h"));
        });

        $(document).on({
            mouseenter: function() {
                var btn = $(this);
                var dropdown = btn.find(".dropdown-wrap").length ? btn.find(".dropdown-wrap") : btn.children(".l1");
                if (dropdown.length) {
                    if (dropdown.height() > ($(".main-wrapper").height()-$("#header").height()-$(".top-menu").height())) {
                        $(".main-wrapper").css('overflow', 'inherit');
                    }
                }
                $(this).siblings(".selected").removeClass("selected").addClass("was-selected");
            },
            mouseleave: function() {
                $(".main-wrapper").css('overflow', 'hidden');
                $(this).siblings(".was-selected").addClass("selected").removeClass("was-selected");
            }
        }, ".top-menu ul.menu-h > li, .dropdown-combine-wrap .l0 > li");
    });
</script>
{/if}