<div class="wrap">
    {if !empty($theme_settings.site_pages)}
        {if !empty($theme_settings.site_pages_duplicate)}
            {function name="build_pages"} 
                <ul class="menu-v" {if $level = 0}id="page-list"{/if}>
                    {foreach $pages as $p} 
                        {if !isset($p.topmenu)}
                            <li {if $p.id == $page.id}class="selected"{/if}>
                                <a href="{$p.url}">{$p.name}</a>
                                {if !empty($p.childs)}
                                    {build_pages level = $level + 1 pages = $p.childs}
                                {/if}
                            </li>
                        {/if} 
                    {/foreach} 
                </ul>
            {/function} 
        {/if}
        {$pages = $wa->site->pages()} 
        {if $pages} 
            <div class="sidebar right200px" role="navigation">
                {if !empty($theme_settings.site_pages_duplicate)}
                    {build_pages level = 0 pages = $pages} 
                {else}
                    {wa_print_tree tree=$pages class="menu-v" attrs = 'id="page-list"' elem ='<a href=":url">:name</a>' selected=$page.id}
                {/if} 
            </div>
        {/if} 
    {/if}
    <div class="content{if !empty($theme_settings.site_pages) && !empty($pages)} right200px{/if}">
        <div id="page" role="main">
            <h1>{$page.name}</h1>
            {$page.content}
        </div>
    </div>
    <div class="clear-both"></div>
</div>