<div class="wrap multishop-form">
    <div id="page" role="main">
        {if !empty($contact)}
            <h1>[`Thank you!`]</h1>
            <p>[`You have successfully signed up.`]</p>
            <!-- DON'T REMOVE AND CHANGE THIS LINE -->
            <div id='f-success-registration'></div>
        {else}
            <h1>[`Sign up`]</h1>
            {$wa->authAdapters()}
            {$wa->signupForm($errors)}
        {/if}
    </div>
</div>