{if !empty($photos)}

{if empty($search_count) || (!empty($search_count) && $search_count < 0)}
    {$search_count = 10}
{/if}
{if $wa->photos}
    {$slider_photos = $wa->photos->photos($photos, null, null, $search_count)}
    {if !empty($slider_photos)}

    {if empty($width)}
        {$width = 755}
    {/if}
    {if empty($height)}
        {$height = 0}
    {/if}

    <div class="slider slider-custom">
        <ul class="bxslider">

            {foreach $slider_photos as $photo}
            <li>
                {if $photo.description}<a href="{$photo.description}" title='{$photo.name}'>{/if}
                   {if $photo.width < $width}
                       {$slide_width = $photo.width}
                   {else}
                       {$slide_width = $width}
                   {/if}
                   {if $photo.height < $height}
                       {$slide_height = $photo.height}
                   {else}
                       {$slide_height = $height}
                   {/if}
                   {$size = "`$slide_width`x`$slide_height`"}
                    <img src="{photosPhoto::getPhotoUrl($photo, $size)}" alt="{$photo.name}" {if !empty($fullwidth)}style="width: 100%;"{/if} />
                    {if $photo.description}</a>{/if}
            </li>

            {/foreach}
        </ul>
    </div>
    {/if}
{/if}
{elseif (!empty($list) || !empty($products) || !empty($search)) && !empty($slider_id)}

{* Slider settings *}
{if empty($mode)}{$mode = 'horizontal'}{/if}
{if empty($width)}{$width = 200}{/if}
{if empty($auto)}{$auto = true}{/if}
{if empty($speed)}{$speed = 4000}{/if}
{if $mode == 'vertical'}
{$width = 150}{$small = 1}{$margin=5}
{else}
{$small = 0}
{/if}

<div class="slider-{$slider_id} slider-custom list relative">
        {if !empty($products)}
            {$slides = $products}
        {elseif !empty($list)}
            {$slides = $wa->shop->productSet($list)}
        {elseif (!empty($search))}
            {if empty($search_count) || (!empty($search_count) && $search_count < 0)}
                {$search_count = 10}
            {/if}
            {$slides = $wa->shop->products($search, $search_count)}
        {/if}
        {if $slides && count($slides)}

        {$compare = $wa->shop->compare()}
        {$favourite = waRequest::cookie('shop_multishop_favourite', [], waRequest::TYPE_ARRAY_INT)}

        {if ($mode == 'vertical' && !empty($name)) || $mode == 'horizontal'}<h3>{if !empty($name)}{$name|escape}: {/if}{if $mode == 'horizontal'}<span class="active-line"></span>{/if}</h3>{/if}
        {if $mode == 'horizontal'}
        <div class="slider-controls">
            <span class="slider-prev"></span>
            <span class="slider-next"></span>
        </div>
        {elseif $mode == 'vertical'}
        <span class="slider-prev"></span>
        {/if}
        <div class="relative">
            <div class="slider-thumbs-{$slider_id} thumbs {$mode} product-list {if $small}li150px{else}li200px{/if}">
                {foreach $slides as $s}
                <div>
                    <div class="product-item{if !$wa->isMobile() && !$wa->userAgent('device')} not-mobile{/if}" itemscope itemtype ="http://schema.org/Product" data-id="{$s.id}">
                        {if !empty($s.autobadge)}
                            {$s.autobadge}
                        {/if}
                        <a href="{$s.frontend_url}" title="{$s.name|escape}{if $s.summary} &ndash; {strip_tags($s.summary)|escape}{/if}">
                            {$dummy_url = "`$wa_theme_url`img/dummy77.jpg"}
                            <div class="image" data-small="{$wa->shop->productImgHtml($s, '77x0', ['itemprop' => 'image', 'alt' => $s.name|escape, 'default' => $dummy_url])|escape}">
                                {$badge_html = $wa->shop->badgeHtml($s.badge)}
                                {if $badge_html}
                                {$badge_html}
                                {/if}

                                {if $small}{$image_size = '145x0'}{else}{$image_size = '200x0'}{/if}
                                {if $small}{$dummy_large = "`$wa_theme_url`img/dummy140.jpg"}{else}{$dummy_large = "`$wa_theme_url`img/dummy220.jpg"}{/if}
                                {$wa->shop->productImgHtml($s, {$image_size}, ['itemprop' => 'image', 'alt' => $s.name|escape, 'default' => $dummy_large])}
                            </div>
                        </a>
                        <h5 itemprop="name">
                            <a href="{$s.frontend_url}" title="{$s.name}{if $s.summary} &ndash; {strip_tags($s.summary)|escape}{/if}">
                                {$s.name}
                            </a>
                        </h5>
                        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                            <div class="short-info">
                                {if $s.compare_price > 0}<span class="compare-price">{if $theme_settings.ruble == 'html'}{shop_currency_html($s.compare_price)}{else}{shop_currency($s.compare_price)}{/if}</span>{/if}
                                <span class="price" itemprop="price">{if $theme_settings.ruble == 'html'}{shop_currency_html($s.price)}{else}{shop_currency($s.price)}{/if}</span>
                                {if $s.rating > 0 && !$small}
                                <div class="rating">{$wa->shop->ratingHtml($s.rating)}</div>
                                {/if}
                            </div>
                            <form class="addtocart {if !empty($not_ajax)}not-ajax{/if}" method="post" {if $s.sku_count > 1}data-url="{$s.frontend_url}?cart=1"{/if} action="{$wa->getUrl('/frontendCart/add')}">
                                {if $wa->shop->settings('ignore_stock_count') || $s.count === null || $s.count > 0}
                                <input type="hidden" name="product_id" value="{$s.id}">
                                <input type="submit" value="">
                                <link itemprop="availability" href="http://schema.org/InStock" />
                                {else}
                                <input type="submit" value="" class="disabled" disabled="disabled" title="[`Out of stock`]">
                                <link itemprop="availability" href="http://schema.org/OutOfStock" />
                                {/if}
                                <meta itemprop="price" content="{$s.price}">
                                <meta itemprop="priceCurrency" content="{$wa->shop->primaryCurrency()}">
                            </form>
                            <div class="active-icons">
                                <span class="favourite-catalog {if in_array($s.id, $favourite)} active{/if}" data-product="{$s.id}" title="{if in_array($s.id, $favourite)}[`Remove from Wish list?`]{else}[`Add to Wish list?`]{/if}"><i class="favourite-icon"></i></span>
                                <span class="compare-catalog{if $compare && isset($compare[$s.id])} active compared{/if}" data-product="{$s.id}" title="{if $compare && isset($compare[$s.id])}[`Remove from compare list?`]{else}[`Add to compare list?`]{/if}"><i class="compare-icon"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                {/foreach}
            </div>
        </div>
        {if $mode == 'vertical'}
        <span class="slider-next"></span>
        {/if}

        <script type="text/javascript">
        $(function() {
            var activeLineInit = function(block) {
                    var mult = $(".slider-" + block + " .slick-dots .slick-active").index();
                    var count = $(".slider-" + block + " .slick-dots li").length;
                    var width = $(".slider-" + block + " h3").width() / count;
                    var activeLine = $(".slider-" + block + " .active-line");
                    activeLine.width(width).css('left', width * mult);
                };
            var slider = $('.slider-thumbs-{$slider_id}').slick({
                dots: true,
                autoplay: {$auto} === 1,
                draggable: false,
                infinite: true,
                autoplaySpeed: "{$speed}",
                {if $mode == 'horizontal'}
                slidesToShow: 5,
                slidesToScroll: 5,
                vertical: false,
                onAfterChange: function(sl, i) {
                    activeLineInit("{$slider_id}");
                },
                onInit: function(sl) {
                    activeLineInit("{$slider_id}");
                    sl.$slider.find(".slick-dots").hide();
                },
                responsive: [{
                    breakpoint: 1200,
                    settings: {
                        draggable: false,
                        autoplaySpeed: "{$speed}",
                        dots: true,
                        slidesToScroll: 4,
                        onAfterChange: function(sl, i) {
                            activeLineInit("{$slider_id}");
                        },
                        onInit: function(sl) {
                            activeLineInit("{$slider_id}");
                            sl.$slider.find(".slick-dots").hide();
                        },
                        slidesToShow: 4
                    }
                }, {
                    breakpoint: 950,
                    settings: {
                        draggable: false,
                        dots: true,
                        slidesToScroll: 3,
                        autoplaySpeed: "{$speed}",
                        onAfterChange: function(sl, i) {
                            activeLineInit("{$slider_id}");
                        },
                        onInit: function(sl) {
                            activeLineInit("{$slider_id}");
                            sl.$slider.find(".slick-dots").hide();
                        },
                        slidesToShow: 3
                    }
                }, {
                    breakpoint: 639,
                    settings: {
                        draggable: false,
                        dots: true,
                        autoplaySpeed: "{$speed}",
                        slidesToScroll: 2,
                        onAfterChange: function(sl, i) {
                            activeLineInit("{$slider_id}");
                        },
                        onInit: function(sl) {
                            activeLineInit("{$slider_id}");
                            sl.$slider.find(".slick-dots").hide();
                        },
                        slidesToShow: 2
                    }
                },{
                    breakpoint: 420,
                    settings: {
                        draggable: false,
                        autoplaySpeed: "{$speed}",
                        dots: true,
                        slidesToScroll: 1,
                        onAfterChange: function(sl, i) {
                            activeLineInit("{$slider_id}");
                        },
                        onInit: function(sl) {
                            activeLineInit("{$slider_id}");
                            sl.$slider.find(".slick-dots").hide();
                        },
                        slidesToShow: 1
                    }
                }]
                {else}
                vertical: true,
                slidesToShow: 2,
                slidesToScroll: 1,
                onInit: function(sl) {
                    sl.$slider.find(".slick-dots").hide();
                },
                {/if}
            });
        });
        </script>
        {else}
        <p class="hint align-center">{sprintf('[`Product set with the ID <strong>%s</strong> either does not exist or does not contain any product. Add some products into a product set with the specified ID to make these products featured here.`]',{$list})}</p>
        {/if}
</div>
{/if}