<div class="wrap">
    {$blog_pages=$wa->blog->pages()}
    {if !$settlement_one_blog || $blog_pages}
    <!-- navigation bar -->
    <div id="blog-nav">
        <ul class="menu-h my-nav">
            {if !$settlement_one_blog || $action == 'post'}

                <!-- blog list -->
                {$blogs = $wa->blog->blogs()}
                {if count($blogs)>1}
                    <li class="{if is_array($wa->globals('blog_id')) && empty($is_search)}selected{/if}"><a href="{$wa->blog->url()}">[`All posts`]</a></li>
                    {foreach $blogs as $blog}
                        <li class="{if $wa->globals('blog_id') eq $blog.id && empty($is_search)}selected{/if}">
                            <a href="{$blog.link}">{$blog.name}</a>
                        </li>
                    {/foreach}
                {else}
                    {$blog=current($blogs)}
                    <li{if empty($is_search)} class="selected"{/if}>
                        <a href="{$wa->blog->url()}">{$blog.name}</a>
                    </li>
                {/if}

                {$timeline = $wa->blog->timeline()}
            {if !empty($timeline)}
            <!-- timeline navigation -->
            <li id="timeline" class="dropdown">
                <a href="#" class="inline-link">
                    <i class="icon16 th calendar-bw"></i>
                    <b><i>[`Calendar`]</i></b><i class="icon10 darr"></i>
                </a>
                {if !empty($timeline)}
                <div class="popup">
                    <ul class="menu-v">
                        {$year=null}
                        {foreach $timeline as $year_month => $item}
                        {if $year neq $item.year}
                        {if !$item@first}
                    </ul>
            </li>
            {/if}
            <li {if $item.year_selected}class="selected"{/if}>
                {$year=$item.year}
                <a href="{$item.year_link}">{$item.year|default:'NULL'}</a>
                <ul class="menu-v">
                    {/if}
                    <li {if $item.selected}class="selected"{/if}>
                        <a href="{$item.link}" title="{_w("%d post","%d posts",$item.count)}">{_ws(date("F",gmmktime(0,0,0,$item.month,1)))}</a>
                    </li>
                    {if $item@last}
                </ul>
            </li>
            {/if}
            {/foreach}
        </ul>
    </div>
    {/if}
</li>
{/if}
{/if}

<!-- plugins -->
{* @event (frontend_action_default|frontend_action_post|frontend_action_page|frontend_action_error).%plugin_id%.sidebar *}
{if $frontend_action}
<li class="popup-wrap">
    <a href="#" class="inline-link">
        <b><i>[`More`]</i></b><i class="icon10 darr"></i>
    </a>
    <div class="popup">
        <div>{foreach $frontend_action as $plugin => $output}
            {if !empty($output.sidebar)}{$output.sidebar}{/if}
            {/foreach}</div>
    </div>
</li>
{/if}

</ul>

<div class="clear-both"></div>

</div>
{/if}

<!-- blog content -->
{* @event (frontend_action_default|frontend_action_post|frontend_action_page|frontend_action_error).%plugin_id%.nav_before *}
{foreach $frontend_action as $plugin => $output}
{if !empty($output.nav_before)}{$output.nav_before}{/if}
{/foreach}
{if $blog_pages}
    {if !empty($theme_settings.blog_pages)}
        {if !empty($theme_settings.blog_pages_duplicate)}
            {function name="build_pages"} 
                <ul class="menu-v" {if $level = 0}id="page-list"{/if}>
                    {foreach $pages as $p} 
                        {if !isset($p.topmenu)}
                            <li {if isset($page_id) && $p.id == $page_id}class="selected"{/if}>
                                <a href="{$p.url}" title="{$p.title}">{$p.name}</a>
                                {if !empty($p.childs)}
                                    {build_pages level = $level + 1 pages = $p.childs}
                                {/if}
                            </li>
                        {/if} 
                    {/foreach} 
                </ul>
            {/function} 
        {/if}
        <div class="sidebar right200px" role="navigation">
            <h3>[`Interesting`]:</h3>
            {if !empty($theme_settings.blog_pages_duplicate)}
                {build_pages level = 0 pages = $blog_pages} 
            {else}
                {if !isset($page_id)}{$page_id = 0}{/if}
                {wa_print_tree tree=$blog_pages class="menu-v" attrs = 'id="page-list"' elem ='<a href=":url" title=":title">:name</a>' selected=$page_id}
            {/if} 
        </div>
    {/if}
{/if}
<div class="content{if !empty($theme_settings.blog_pages) && $blog_pages} right200px{/if}">
    {$content} 
</div>
<div class="clear-both"></div>
</div>