.multishop-pink .post h3 a:hover { color: #db2261; }
.multishop-green .post h3 a:hover { color: #8ed417; }
.multishop-blue .post h3 a:hover { color: #00a6d6; }
.multishop-purple .post h3 a:hover { color: #834c91; }
.multishop-black .post h3 a:hover { color: #525968; }
.multishop-white .post h3 a:hover { color: #80aed2; }
.multishop-emerald .post h3 a:hover { color: #1fc987; }
.multishop-orange .post h3 a:hover { color: #f7a316; }
.multishop-red .post h3 a:hover { color: #e5012b; }
.multishop-lightpurple .post h3 a:hover { color: #b39bb3; }
.multishop-blindblue .post h3 a:hover { color: #8594cd; }

.multishop-pink #blog-nav .popup ul.menu-v li:hover, 
.multishop-pink #blog-nav .popup ul.menu-v li.selected { background-color: #db2261; }
.multishop-green #blog-nav .popup ul.menu-v li:hover, 
.multishop-green #blog-nav .popup ul.menu-v li.selected { background-color: #8ed417; }
.multishop-blue #blog-nav .popup ul.menu-v li:hover, 
.multishop-blue #blog-nav .popup ul.menu-v li.selected { background-color: #00a6d6; }
.multishop-purple #blog-nav .popup ul.menu-v li:hover, 
.multishop-purple #blog-nav .popup ul.menu-v li.selected  { background-color: #834c91; }
.multishop-black #blog-nav .popup ul.menu-v li:hover, 
.multishop-black #blog-nav .popup ul.menu-v li.selected  { background-color: #525968; }
.multishop-white #blog-nav .popup ul.menu-v li:hover, 
.multishop-white #blog-nav .popup ul.menu-v li.selected  { background-color: #80aed2; }
.multishop-emerald #blog-nav .popup ul.menu-v li:hover, 
.multishop-emerald #blog-nav .popup ul.menu-v li.selected { background-color: #1fc987; }
.multishop-orange #blog-nav .popup ul.menu-v li:hover, 
.multishop-orange #blog-nav .popup ul.menu-v li.selected { background-color: #f7a316; }
.multishop-red #blog-nav .popup ul.menu-v li:hover, 
.multishop-red #blog-nav .popup ul.menu-v li.selected { background-color: #e5012b; }
.multishop-lightpurple #blog-nav .popup ul.menu-v li:hover, 
.multishop-lightpurple #blog-nav .popup ul.menu-v li.selected  { background-color: #b39bb3; }
.multishop-blindblue #blog-nav .popup ul.menu-v li:hover, 
.multishop-blindblue #blog-nav .popup ul.menu-v li.selected { background-color: #8594cd; }

/*Navigation*/
.my-nav a:hover i.th.calendar-bw { background-position: -48px -16px; }
#blog-nav .popup { position: relative; top: -5px; }
#blog-nav .popup ul.menu-v { padding: 10px 0; }
#blog-nav .popup ul.menu-v li { list-style: none; line-height: 1.3em; width: 190px; padding-left: 20px; }
#blog-nav .popup ul.menu-v li a { padding: 8px 5px; color: #242424; position: relative; font-weight: bold; }
#blog-nav .popup ul.menu-v li ul { padding-top: 6px; font-size: 0.8em; margin-bottom: 5px; }
#blog-nav .popup ul.menu-v li ul li a { font-weight: normal; }
#blog-nav .popup ul.menu-v li:hover, #blog-nav .popup ul.menu-v li.selected { background-color: #1dc5c4; }
#blog-nav i.icon10 { position: relative; top: 2px; }
#blog-nav .popup-wrap { position: relative; }
#blog-nav .popup-wrap .popup { background: none repeat scroll 0 0 #FFFFFF; box-shadow: 0 1px 4px #000000; display: none; left: -2px; margin-left: 2px; padding: 0 10px 10px; position: absolute; top: 85%; z-index: 50; } 
#blog-nav .popup-wrap:hover .popup { display: block; }
.no-boxshadow .popup-wrap .popup { border: 2px solid #AAAAAA; }
/*Posts*/
.post { margin-bottom: 40px; margin-right: 0; }
.post h3 { font-size: 18px; margin-right: 5px; margin-bottom: 3px; }
.post h3 a { text-decoration: none; color: #060606; }
.post h3 a:hover { color: #1dc5c4; }
.post img { max-width: 100%; height: auto !important; }
.post .text { margin-top: 5px;}
.post textarea { width: 100%; min-height: 400px; margin-top: 10px; height: 450px; }
.post .credentials { margin-bottom: 20px;}
.post .text_after { margin-top: 10px; }
.credentials { overflow: hidden; line-height: 1.3em; }
.credentials a, 
.credentials span { display: inline-block; vertical-align: middle; padding-left: 0 !important; //display: inline;}
.credentials .userpic { min-width: 20px; display: block; float: left; margin-right: 2px; }
.credentials .username { font-size: 0.9em; margin: 0; }
.credentials .username, .credentials .username a { color: #707070; font-style: italic; padding: 0; display: inline; }
.credentials a.username:hover { color: red; }
.credentials .date { margin: 0 3px; color: #707070; font-style: italic; }
.credentials .date:before { content: '|'; color: #707070; margin-right: 6px; }
.credentials i.comment-bw { margin-top: 3px; }
/*Comments*/
.comment-form { padding: 0; }
.comment-form h4 { margin: 0 0 20px; font-weight: normal; }
.comment-form-fields p { margin: 0 0 10px; }
.comment-form-fields p a { display: inline !important; }
.comment-form-fields label { width: 160px; display: block; clear: left; float: left; margin: 0 10px 0 0; color: #aaa;}
.comment-form-fields input { width: 20em;}
.comment-form textarea { min-width: 70%; min-height: 160px; }
.comment-form .comment-submit { padding:0;}
.comment-form .comment-submit input[type='submit'] { width: inherit; }
.comment-form .userpic { width: 20px; height: 20px; float: left; margin-right: 5px; }
.comment-form ul.menu-h.auth-type li a img { float: left; margin-right: 3px; position: relative; top: 2px; }
.comment-form ul.menu-h.auth-type { padding-bottom: 20px; }
.comments { margin-bottom: 30px; }
.comments h3 { margin: 0 0 20px; }
.comments h4 { margin: 0 0 10px; }
.comments .credentials .date { margin: 0 5px; }
.comments .credentials .userpic { margin-top: 5px; margin-right: 5px; }
.comments .credentials .userpic.icon16 { min-width: 0; width: 16px; height: 16px; margin: 7px 4px 0; }
.comments textarea { height: 100px; min-height: 100px; width: 75%; margin-top: 0; } 
.comments ul, .comments ul.menu-v li { padding: 0; margin: 0; list-style: none;}
.comments ul li { margin:0 0 20px 0;}
.comments ul li ul { margin:20px 0 0 0; }
.comments ul li span.hint a { color: #aaa; text-decoration: underline; }
.comments .text { margin: 5px 0 5px 27px; text-align: justify; }
.comments .actions { margin: 0 0 5px 22px; font-size: 0.9em; }
.comments ul li a.comment-delete { margin: 0 0 0 5px; padding: 0; color: #d99; text-decoration: underline; }
.comments ul li a.comment-delete:hover { background: red; color: white; }
.comments ul li ul { padding-left: 25px; }
.comments ul li .comment-form { padding: 10px 30px; }
.comments ul li .comment-form textarea { min-height: 100px; }
.comments ul.menu-h.auth-type { padding: 0 0 40px; margin-left: -5px; }
.comments ul.menu-h.auth-type li { padding-right: 10px; }
.comments ul.menu-h.auth-type li a { padding: 5px 6px; }
.comments ul.menu-h.auth-type li a img { top: 0; }

.page-navigation { margin-bottom: 10px; }
.pageless-wrapper { font-style: italic; }

/* Plugins
---------- */

.tags a { color: green; }
.tags.cloud { text-align: center; font-size: 0.9em; border-top: 1px solid #ccc; padding-top: 20px; }

ul.menu-v.categories { padding-left: 10px; border-top: 1px solid #ccc; }
ul.menu-v.categories li { line-height: 1.2em; font-size: 0.9em; margin: 12px 0 0; }
ul.menu-v.categories li.selected a { color: #000; text-decoration: none; font-weight: bold; }
ul.menu-v.with-icons.comments a { margin-left: 0; padding-left: 0; }
