<!-- blog css -->
<link href="{$wa_active_theme_url}custom.blog.css?{$wa->version()}" rel="stylesheet" type="text/css">
{*
<link href="{$wa_active_theme_url}custom.blog.mobile.css?{$wa->version()}" rel="stylesheet"{if !$wa->isMobile()} media="screen and (max-width: 760px)"{/if} type="text/css">
*}

<!-- blog js -->
<script type="text/javascript" src="{$wa_active_theme_url}blog.js?v{$wa->version()}"></script>
<script type="text/javascript" src="{$wa_static_url}wa-content/js/jquery-wa/wa.core.js"></script>

<!-- next & prev links -->
{foreach $links as $role => $link}
<link rel="{$role}" href="{$link}">
{/foreach}

{* @event (frontend_action_default|frontend_action_post|frontend_action_page|frontend_action_error).%plugin_id%.head *}
{foreach $frontend_action as $plugin => $output}
    {if !empty($output.head)}{$output.head}{/if}
{/foreach}
