{* post list: default view mode *}
{foreach $posts as $post}
<div class="post" id="post-{$post.id}" {if $wa->param('blog_url')}itemprop="blogPosts" {/if}itemscope itemtype="http://schema.org/BlogPosting">
    <h3>
        <a href="{$post.link}" itemprop="url">{$post.title}</a>

        {* @event prepare_posts_frontend.%plugin_id%.post_title *}
        {if !empty($post.plugins.post_title)}
        {foreach $post.plugins.post_title as $plugin => $output}{$output}{/foreach}
        {/if}

    </h3>
    <div class="credentials">

        {if isset($post.user.photo_url_20)}
        {if $post.user.posts_link}
        <a href="{$post.user.posts_link}">
            <img src="{$post.user.photo_url_20}" class="userpic" alt="">
        </a>
        {else}
        <img src="{$post.user.photo_url_20}" class="userpic" alt="">
        {/if}
        {/if}

        {if $post.user.posts_link}
        <a href="{$post.user.posts_link}" class="username" rel="author">{$post.user.name}</a>
        {else}
        <span class="username" rel="author">{$post.user.name}</span>
        {/if} 
        <span class="hint date">{$post.datetime|wa_datetime:"humandate"}</span>
        {if $show_comments && $post.comments_allowed}
        <i class="icon16 ig comment-bw"></i>
        {if !empty($post.comment_count)}
        <a href="{$post.link}#comments" class="small">
            {_w('%d comment','%d comments',$post.comment_count)}
        </a>
        {else}
        <a href="{$post.link}#comments" class="hint">
            [`no comments`]
        </a>
        {/if}
        {/if}

    </div>

    {* @event prepare_posts_frontend.%plugin_id%.before *}
    {if !empty($post.plugins.before)}
    <div class="text_before">
        {foreach $post.plugins.before as $plugin => $output}{$output}{/foreach}
    </div>
    {/if}

    <div class="text">
        {$post.text}
        {if $post.cutted}
        <a href="{$post.link}">{$post.cut_link_label|default:'[`Continue reading →`]'}</a>
        {/if}
    </div>

    {* @event prepare_posts_frontend.%plugin_id%.after *}
    {if !empty($post.plugins.after)}
    <div class="text_after">
        {foreach $post.plugins.after as $plugin => $output}{$output}{/foreach}
    </div>
    {/if}

</div>
{foreachelse}
{if $page lt 2}
{_w('%d post','%d posts',0)}
{/if}
{/foreach}