    <h1 class="album-name">
        {$album.name}
        {* @event frontend_collection.%plugin_id%.name *}
        {foreach $frontend_collection as $item}{if !empty($item.name)}{$item.name}{/if}{/foreach}
    </h1>
    {if $album.note}
    <em class="album-note">{$album.note}</em>
    {/if}
    {if $album.description}
    <p class="album-description">{$album.description}</p>
    {/if}
    {if $childcrumbs}
    <div class="sub-albums">
        {foreach $childcrumbs as $child}<a href="{$child.full_url}">{$child.name}</a> {/foreach}
    </div>
    {/if}
    {* @event frontend_collection.%plugin_id%.content *}
    {foreach $frontend_collection as $item}{if !empty($item.content)}{$item.content}{/if}{/foreach}

{* display album according to the album's custom parameter "view" *}
{if empty($album.view) || $album.view == 'thumbs'}
{include file='view-thumbs.html'}
{elseif $album.view == 'mixed'}
{include file='view-mixed.html'}
{else}
{include file='view-plain.html'}
{/if}
