<div class="wrap">
    <!-- plugin hook -->
    {* @event frontend_layout.%plugin_id%.header *}
    {foreach $frontend_layout as $item}{if !empty($item.header)}{$item.header}{/if}{/foreach}

    <!-- navigation menu -->
    <div id="gallery-nav">
        <ul class="menu-h my-nav">

            <!-- core filters -->
            <li {if $wa->currentUrl() == $wa_app_url} class="selected"{/if}>
                <a href="{$wa_app_url}">[`Photostream`]</a>
            </li>
            <li {if $wa->param('action') neq 'page' && $wa->param('action') neq 'album' && $wa->param('hash') == 'favorites'} class="selected"{/if}>
                <a href="{$wa_app_url}favorites/">[`Editors’ choice`]</a>
            </li>

            <!-- plugins -->
            {* @event frontend_sidebar.%plugin_id%.menu *}
            {foreach $frontend_sidebar as $plugin_id => $item}{if !empty($item.menu)}
            <li>{$item.menu}</li>
            {/if}{/foreach}

            <!-- albums -->
            {if $albums = $wa->photos->albums(0)}
            <li class="dropdown">
                <a href="#" class="inline-link"><b><i>[`Albums`]</i></b><i class="icon10 darr"></i></a>
                <div class="popup">
                    {wa_print_tree tree=$albums class="menu-v album-tree" elem ='<a href=":url">:name</a>'}
                </div>
            </li>
            {/if}

            <!-- tags -->
            {if $cloud = $wa->photos->tags()}
            <li class="dropdown">
                <a href="#" class="inline-link"><b><i>[`Tags`]</i></b><i class="icon10 darr"></i></a>
                <div class="popup tags">
                    <ul class="menu-v">
                        <li>
                            {foreach $cloud as $tag}
                            <a href="{$wa_app_url}tag/{$tag.uri_name}/" style="font-size: {$tag.size}%; opacity: {$tag.opacity}">{$tag.name}</a>
                            {/foreach}
                        </li>
                    </ul>
                </div>
            </li>
            {/if}

            <!-- more plugins -->
            {* @event frontend_sidebar.%plugin_id%.section *}
            {capture name="more"}{strip}
            {foreach $frontend_sidebar as $plugin_id => $item}{if !empty($item.section)}
            <hr><div class="block">{$item.section}</div>
            {/if}{/foreach}
            {strip}{/capture}
            {if $smarty.capture.more ne ""}
            <li class="popup-wrap">
                <a href="#" class="inline-link"><b><i>[`More`]</i></b><i class="icon10 darr"></i></a>
                <div class="popup">

                </div>
            </li>
            {/if}

        </ul>
        <div class="clear-both"></div>

    </div>

    <!-- pages -->
    {if $photos_pages = $wa->photos->pages()}
        {$page_id = $wa->param('page_id')}
        {if !empty($theme_settings.photos_pages)}
            {if !empty($theme_settings.photos_pages_duplicate)}
                {function name="build_pages"} 
                    <ul class="menu-v" {if $level = 0}id="page-list"{/if}>
                        {foreach $pages as $p} 
                            {if !isset($p.topmenu)}
                                <li {if !empty($page_id) && $p.id == $page_id}class="selected"{/if}>
                                    <a href="{$p.url}" title="{$p.title}">{$p.name}</a>
                                    {if !empty($p.childs)}
                                        {build_pages level = $level + 1 pages = $p.childs}
                                    {/if}
                                </li>
                            {/if} 
                        {/foreach} 
                    </ul>
                {/function} 
            {/if}
            <div class="sidebar right200px">
                <h3>[`Interesting`]:</h3>
                {if !empty($theme_settings.photos_pages_duplicate)}
                    {build_pages level = 0 pages = $photos_pages} 
                {else}
                    {if !isset($page_id)}{$page_id = 0}{/if}
                    {wa_print_tree tree=$photos_pages class="menu-v" attrs = 'id="page-list"' elem ='<a href=":url" title=":title">:name</a>' selected=$page_id}
                {/if} 
            </div>
        {/if}
    {/if}

    <!-- photos app content -->
    <div {if $action == 'photo'} itemscope itemtype="http://schema.org/Photograph"{/if} class="content{if !empty($theme_settings.photos_pages) && $photos_pages} right200px{/if}">
        {$content}
    </div>
    <div class="clear-both"></div>
</div>
<div class="clear-both"></div>