/*Navigation*/
#gallery-nav .popup { position: relative; top: -4px; }
#gallery-nav .popup ul.menu-v { padding: 10px 0; }
#gallery-nav .popup ul.menu-v li { list-style: none; line-height: 1.3em; width: 190px; padding-left: 20px; }
#gallery-nav .popup ul.menu-v li a { padding: 8px 5px; color: #242424; position: relative; font-weight: bold; }
#gallery-nav .popup ul.menu-v li ul { padding-top: 6px; font-size: 0.8em; margin-bottom: 5px; }
#gallery-nav .popup ul.menu-v li ul li a { font-weight: normal; }
#gallery-nav .popup ul.menu-v li:hover, #gallery-nav .popup ul.menu-v li.selected { background-color: #1dc5c4; }
#gallery-nav .popup.tags ul.menu-v { max-width: 400px; }
#gallery-nav .popup.tags ul.menu-v li:hover { background-color: #fff; }
#gallery-nav .popup.tags ul.menu-v a { display: inline-block; }
#gallery-nav i.icon10 { position: relative; top: 2px; }
#gallery-nav .popup-wrap { position: relative; }
#gallery-nav .popup-wrap .popup { background: none repeat scroll 0 0 #FFFFFF; box-shadow: 0 1px 4px #000000; display: none; left: -2px; margin-left: 2px; padding: 0 10px 10px; position: absolute; top: 85%; z-index: 50; } 
#gallery-nav .popup-wrap:hover .popup { display: block; }
.no-boxshadow .popup-wrap .popup { border: 2px solid #AAAAAA; }

h1.search-criteria { margin-bottom: 1em; text-align: center; }
.album-note { display: block; margin-top: -10px; color: #aaa; font-style: italic; }
.album-description { margin-top: 15px; }
.sub-albums { margin-bottom: 25px; line-height: 1.3em; }
.sub-albums a { padding: 0 1em 0 0; }

ul.menu-v.album-tree li { margin: 3px 0; }
ul.menu-v.album-tree ul li { margin-left: 7px; font-size: 0.9em; }

/* photostream */
ul.photostream { padding: 0; margin: 0; list-style: none; position: relative;}
ul.photostream li { float: left; padding-right: 7px;  }
ul.photostream li img { width: 48px; height: 48px; }
ul.photostream li.selected img { border: 4px solid #FDDA3B; margin: -4px -4px -2px; }
ul.photostream li.stream-nav { position: absolute; top: 18px; }
ul.photostream li.stream-nav i { display: block; width: 12px; height: 14px; }
ul.photostream li.stream-nav.rewind { left: -16px; padding: 0; }
ul.photostream li.stream-nav.rewind i { background: url('img/photostream-rewind.png') no-repeat; }
ul.photostream li.stream-nav.ff { right: -16px; padding: 0; }
ul.photostream li.stream-nav.ff i { background: url('img/photostream-ff.png') no-repeat;}
.photostream-divider { margin-top: 90px; border-top: 1px solid #ccc; margin-bottom: 20px; }
/* one photo */
.photo { margin-bottom: 0; width: 100%; }
.photo img { max-width: 100%; height: auto !important; }
.hero.superhero { padding: 0; box-shadow: 0 5px 20px rgba(0,0,0,0.5); }
.stack-nav { font-size: 120%; margin-bottom: 10px; }
.stack-nav .rewind { position: relative; left: -2px; top: 5px; }
.stack-nav .ff { position: relative; left: 2px; top: 5px; }
.image { position: relative; display: block; max-width: 100%; display: block\9; /* IE8- hack */ }
.image img { max-width: 100%; height: auto !important; }
.image .corner { position:absolute; z-index:10; color: #fff; font-weight: bold; }
.image .corner.top { top:7px; }
.image .corner.left { left:10px; }
.image .corner.right { right:10px; }
.image .corner.bottom { bottom:5px; }
.image .corner .indicator { color: #fff; background: rgba(0,0,0,0.5); border-radius: 10px; padding: 3px 6px; }
.image .stripe { color: #060606; font-size: 13px; }
.image .stripe h5 { margin-bottom: 0; }
.image .stripe p { margin: 0.3em 0 0; }
.image .stack { position: absolute; top: 5px; left: 0; right: 0; color: #fff; padding: 10px; }
.image .stack .stack-nav { font-size: 120%; padding: 4px 8px 2px; display: inline-block; position: relative; background: #000; /* IE8- hack */ display: block\9; background: transparent\9; }
.image .stack .stack-nav .rewind { position: absolute; left: -30px; top: 3px; }
.image .stack .stack-nav .ff { position: absolute; right: -30px; left: auto; top: 3px; }
.hero.superhero .image { text-align: center; }
.hero.superhero .image img { display: block; margin: 0 auto; }
.hero.superhero .image .stack img { display: inline-block; }
#photo-name { margin-top: 30px; }
.photo-stream { display: inline-block; margin-top: 20px; }
/* photo lists */
.view-plain { margin-top: 20px; }
.view-plain h5 { margin-bottom: 3px; }
.view-plain p { margin-bottom: 0; }
.view-plain .image { margin: 5px 0 0; text-align: left\9; /* IE8- hack */ }
.view-plain img.shadowed { -moz-box-shadow: 0 1px 3px #aaa; -webkit-box-shadow: 0 1px 3px #aaa; box-shadow: 0 1px 3px #aaa; }
.view-plain .stack { margin-top: 20px; }
ul.view-thumbs { padding: 0; margin: 0; list-style: none; text-align: center; }
ul.view-thumbs li a { text-decoration: none; color: #fff; }
ul.view-thumbs li { display: inline-block; position: relative; vertical-align: top; width: 250px; margin-right: 15px; margin-bottom: 15px; }
ul.view-thumbs li img.shadowed { -moz-box-shadow: 0 1px 3px #aaa; -webkit-box-shadow: 0 1px 3px #aaa; box-shadow: 0 1px 3px #aaa; margin-bottom: 5px; }
ul.view-thumbs.album-float-left-view { margin-top: 10px; float: left; }
ul.view-thumbs.album-float-left-view li { display: block; margin-right: 10px; float: left; }
ul.view-mixed { padding: 0; margin: 0; list-style: none; text-align: center; }
ul.view-mixed li.brick { display: inline-block; position: relative; vertical-align: top; width: 320px; height: 320px; margin-right: 6px; margin-bottom: 10px; text-align: left; overflow: hidden; /* IE8- hack */ display: block\9; float: left\9; margin-right: 10px\9; }
ul.view-mixed li.brick ul { padding: 0; margin: 0; }
ul.view-mixed li.brick ul li { float: left; padding: 0; margin: 0; }
ul.view-mixed li.brick ul li a { text-decoration: none; }
ul.view-mixed li.brick ul li a img { display: block; /* IE8- hack */ max-width: none\9; }
ul.view-mixed li.brick ul li a img.margined-right { margin-right: 10px; }
ul.view-mixed li.brick ul li a img.margined-bottom { margin-bottom: 10px; }
ul.view-mixed.album-float-left-view { margin-top: 10px; float: left; }
ul.view-mixed.album-float-left-view li.brick { display: block; margin-right: 10px; float: left; }
.tags a { color: #004268 !important; }
.tags a:hover { color: #00BEBA !important; }
/* comments */
.credentials { overflow: hidden; line-height: 1.3em; }
.credentials a,
.credentials span { display: inline-block; vertical-align: middle; padding-left: 0 !important; //display: inline;}
.credentials .userpic { min-width: 20px; display: block; float: left; margin-right: 2px; }
.credentials .username { font-size: 0.9em; margin: 0; }
.credentials .username, .credentials .username a { color: #777; padding: 0; display: inline; }
.credentials a.username:hover { color: red; }
.credentials .date { margin: 0 3px; }

.comment-form { padding: 0; }
.comment-form h4 { margin: 0 0 20px; font-weight: normal; }
.comment-form-fields p { margin: 0 0 10px; }
.comment-form-fields p a { display: inline !important; }
.comment-form-fields label { width: 160px; display: block; clear: left; float: left; margin: 0 10px 0 0; color: #aaa;}
.comment-form-fields input { width: 20em; }
.comment-form textarea { min-width: 70%; min-height: 160px; }
.comment-form .comment-submit { padding:0 0 20px 170px;}
.comment-form .userpic { width: 20px; height: 20px; float: left; margin-right: 5px; }
.comment-form ul.menu-h.auth-type li a img { float: left; margin-right: 3px; position: relative; top: 2px; }
.comment-form ul.menu-h.auth-type { padding-bottom: 20px; }
.comment-form label { width: 160px; display: block; clear: left; float: left; margin: 0 10px 0 0; color: #AAA; }

.comments { margin-bottom: 30px; }
.comments h3 { margin: 0 0 20px; }
.comments h4 { margin: 0 0 10px; }
.comments .credentials .date { margin: 0 5px; }
.comments .credentials .userpic { margin-top: 5px; margin-right: 5px; }
.comments .credentials .userpic.icon16 { min-width: 0; width: 16px; height: 16px; margin: 7px 4px 0; }
.comments textarea { height: 100px; min-height: 100px; width: 75%; margin-top: 0; } 
.comments ul,
.comments ul.menu-v li { padding: 0; margin: 0; list-style: none;}
.comments ul li { margin:0 0 20px 0;}
.comments ul li ul { margin:20px 0 0 0; }
.comments ul li span.hint a { color: #aaa; text-decoration: underline; }
.comments .text { margin: 5px 0 5px 27px; }
.comments .actions { margin: 0 0 5px 22px; font-size: 0.9em; }
.comments ul li a.comment-delete { margin: 0 0 0 5px; padding: 0; color: #d99; text-decoration: underline; }
.comments ul li a.comment-delete:hover { background: red; color: white; }
.comments ul li ul { padding-left: 25px; }
.comments ul li .comment-form { padding: 10px 30px; }
.comments ul li .comment-form textarea { min-height: 100px; }
.comments ul.menu-h.auth-type { padding: 0 0 40px; margin-left: -5px; }
.comments ul.menu-h.auth-type li { padding-right: 10px; }
.comments ul.menu-h.auth-type li a { padding: 5px 6px; }
.comments ul.menu-h.auth-type li a img { top: 0; }
.comment.deleted s { color: #777; background: #eee; padding: 0 3px; }
/* Star icons for user rating */
#photo-rate-votes-count,
#clear-photo-rate,
#photo-rate-error { position: relative; top: 3px; margin-left: 5px; margin-right: 5px; }
#photo-rate-error { color: red; }

.p-declined { color: red; }
.p-declined img { border: 2px solid red; margin-top: -2px; }
.p-awaiting-moderation { color: gray; font-style: italic; opacity: 0.5; }

.image .p-declined { color: white; background: red; padding: 15px; font-size: 1.2em; }
.image .p-awaiting-moderation { color: white; background: gray; padding: 15px; font-size: 1.2em; }

/*Page*/
.page-navigation { margin-bottom: 10px; }