{* static info page *}
<div class="page-navigation" role="navigation">
    {if $page.parent_id}
        {$p_id = $page_parents[0].id}
    {else}
        {$p_id = $page.id}
    {/if}
    {wa_print_tree tree=$wa->photos->pages($p_id, false) class="menu-h" elem ='<a href=":url">:name</a>' selected=$page.id}
</div>
<div class="content">
    <h1>{$page.name}</h1>
    <div id="page" role="main">
        {$page.content}
    </div>
</div>
