<div id="dialog-callback" class="dialog-callback">
    <div class="dialog-background"></div>
    <div class="dialog-window">
        <div class="cart">
            <h2 class="header">[`Feedback`]</h2>
            {$errors = array()}
            {if $wa->post("send") and $wa->sendEmail("", $errors)}
            <p>[`Your message was successfully sent!`]</p>
            {else}
            <hr>
            <div class="wa-form">
                <form method="post" action="{$wa_app_url}" id="feedback">
                    <div class="slide_up">
                    <div class="wa-field">
                        <div class="wa-name">[s`Name`]:</div>
                        <div class="wa-value"><input name="name" type="text" value="{$wa->post("name")|escape}"></div>
                    </div>
                    <div class="wa-field">
                        <div class="wa-name">[s`Email`]:</div>
                        <div class="wa-value">
                            <input {if !empty($errors.email)}class="wa-error"{/if} name="email" type="email" value="{$wa->post("email")|escape}" >
                            {if !empty($errors.email)}<em class="wa-error-msg">{$errors.email}</em>{/if}
                        </div>
                    </div>
                    <div class="wa-field">
                        <div class="wa-name">[s`Message`]:</div>
                        <div class="wa-value">
                            <input type="hidden" name="subject" value="[s`Website request`]">
                            <textarea {if !empty($errors.body)}class="wa-error"{/if} name="body">{$wa->post("body")|escape}</textarea>
                            {if !empty($errors.body)}<em class="wa-error-msg">{$errors.body}</em>{/if}
                        </div>
                    </div>
                    <div class="wa-field">
                        <div class="wa-value">
                            {$wa->captcha(!empty($errors.captcha))}
                            {if !empty($errors.captcha)}<em class="wa-error-msg">{$errors.captcha}</em>{/if}
                        </div>
                    </div>
                        {$agreement_link = "/"}
                        {if $agreement_link}
                        <div class="wa-field">
                            <div class="wa-value">
                                <input type="hidden" name="agree_to_terms" value="">
                                <label>
                                    <input type="checkbox" name="agree_to_terms" value="1"{if $wa->post("agree_to_terms")} checked{/if}>
                                    [s`I agree to the`] <a href="{$agreement_link|escape}" target="_blank">[s`personal data protection policy`]</a>
                                    {if !empty($errors.agree_to_terms)}<em class="wa-error-msg">{$errors.agree_to_terms}</em>{/if}
                                </label>
                            </div>
                        </div>
                        {/if}
                    <div class="wa-field">
                        <div class="wa-value wa-submit">
                            {if !empty($errors.all)}<em class="wa-error-msg">{$errors.all}</em><br>{/if}
                            <input type="hidden" value="feedback" name="send">
                            <input type="submit" value="[s`Send`]" name="send"> <i class="fa fa-spinner fa-spin" style="display:none;"></i>
                        </div>
                    </div>
                    </div>
                    <div id="status"></div>
                    {if !empty($errors.all)}
                    <div class="wa-error-msg">{$errors.all}</div>
                    <br>{/if}
                </form>
            </div>
            {/if}
        </div>
    </div>
</div>