<script type="text/javascript" src="{$wa_theme_url}cart.js"></script>
<div class="row">
    <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
        {include file="`$wa_active_theme_path`/leftside.html"}
    </div>
    <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12 product">
        {include file="`$wa_active_theme_path`/breadcrumb.html" inline}
        <div class="cart">
            <h3>[`Cart`]</h3>
            {if !$cart.count}
                <p>[`Your shopping cart is empty.`]</p>
            {else}
                <div class="emptycart" style="display:none;">
                    <p>[`Your shopping cart is empty.`]</p>
                </div>
                <div class="row cart-block">
                    <div class="col-lg-12 col-xs-12 col-sm-12">
                        <div class="row cart-hint hidden-xs-down">
                            <div class="col-lg-2 col-md-2 col-sm-2"></div>
                            <div class="col-lg-4 col-md-4 col-sm-4 gray">[`Product`]</div>
                            <div class="col-lg-3 col-md-3 col-sm-3 gray">[`Quantity`]</div>
                            <div class="col-lg-2 col-md-2 col-sm-2 gray">[`Price`]</div>
                            <div class="col-lg-1 col-md-1 col-sm-1 gray"></div>
                        </div>
                        <hr class="hidden-xs-down">
                        <form method="post" class="cartform">
                            {foreach $cart.items as $item name=foo}
                            <div class="row cart-product" data-id="{$item.id}">
                                <div class="col-lg-2 col-md-2 col-sm-2 text-center">
                                    <a href="{$wa->shop->productUrl($item.product)}" title="{$item.product.name|escape}">{$wa->shop->productImgHtml($item.product, '180', ['default' => "`$wa_theme_url`img/no-foto-catalog.gif"])}</a>
                                </div>
                                <div class="col-lg-4 cold-md-4 col-sm-4">
                                    <a href="{$wa->shop->productUrl($item.product)}">{$item.product.name|escape}</a>
                                    {if $item.sku_name && $item.sku_name != $item.product.name}<p><b>{$item.sku_name|escape}</b></p>
                                    {/if}
                                    {if !empty($item.services)}
                                    <!-- services -->
                                    <div class="services">
                                        {foreach $item.services as $service_id => $s}
                                        <!-- one option -->
                                        <div {if !empty($s.id)}data-id="{$s.id}" {/if}>
                                        <label class="checkbox">
                                            <input data-id="{$item.id}" {if !empty($s.id)}checked{/if} type="checkbox"
                                            name="services[{$item.id}][]" value="{$service_id}"> {$s.name|escape} {if
                                            $s.price &&
                                            !isset($s.variants)}(<span>+{shop_currency($s.price, $s.currency)}</span>){/if}
                                        </label>
                                        {if isset($s.variants)}
                                        <select name="service_variant[{$item.id}][{$service_id}]" {if empty($s.id)}disabled{/if}>
                                        {foreach $s.variants as $variant_id => $v}
                                        <option {if $s.variant_id== $variant_id}selected{/if} value="{$variant_id}">{$v.name|escape} (+{shop_currency($v.price,
                                        $s.currency)})</option>
                                        {/foreach}
                                        </select>
                                        {/if}
                                    </div>
                                    {/foreach}
                                </div>
                                {/if}
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <div class="input-group select_quantity">
                                    <span class="input-group-addon"><a href="#" class="dec_cart"><i
                                            class="fa fa-minus"></i></a></span>
                                    <input type="text" class="form-control quantity qty select_input_cart"
                                           name="quantity[{$item.id}]" value="{$item.quantity}" autocomplete="off">
                                    <span class="input-group-addon"><a href="#" class="inc_cart"><i
                                            class="fa fa-plus"></i></a></span>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2">
                                <span class="price"><h4 class="item-total">{shop_currency($item.full_price, true)}</h4></span>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1">
                                <a class="delete btn btn-primary red" href="#" title="[`Remove from cart`]"><i
                                        class="fa fa-close"></i></a>
                            </div>
                    </div>
                    {if !empty($item.error)}
                    <script>alert({json_encode($item.error)});</script>
                    {/if}
                    {/foreach}
                    {if shopDiscounts::isEnabled('coupons')}
                    <div class="text-center cupon-text"{if $coupon_code} style="display: none;" {/if}><a href="#">[`Discount coupon (if you have one)`]</a></div>
                    <div class="cupon" {if !$coupon_code}style="display: none;" {/if}>
                        <div class="row">
                            <div class="col-lg-3 col-sm-5 col-xs-12 ">
                                <p>[`Discount code`]:</p>
                            </div>
                            <div class="col-lg-6 col-sm-7 col-xs-12">
                                <div class="input-group">
                                    <input type="text" name="coupon_code" value="{$coupon_code|escape}" placeholder="[`Enter code`]" autocomplete="off">
                                    <span class="input-group-btn"><button class="btn btn-primary red" type="submit">[`Apply`]</button></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {/if}
                    {if $coupon_code && empty($coupon_discount)}
                    <div class="wa-error-msg text-center">[`Invalid coupon code`]</div>
                    {/if}


                    {if $wa->userId()}
                    {if !empty($add_affiliate_bonus)}
                    <div class="bonuses">
                        <p>{sprintf("[`This order will add <strong>+%s bonuses</strong> to  your account, which you will be able to spend on getting additional discounts later.`]", $add_affiliate_bonus)}</p>
                        {if shopAffiliate::isEnabled() && $affiliate_bonus > 0}
                        <div class="bonus">
                            {if $use_affiliate}[`Discount`]:
                            <b>{shop_currency(shopAffiliate::convertBonus($used_affiliate_bonus))}</b>
                            <a id="cancel-affiliate" href="#">[`Don’t use bonus discount`]</a>
                            {else}
                            {sprintf('[`Your current affiliate bonus of %s points allows you to get an additonal discount of up to %s`]', $affiliate_bonus, shop_currency(shopAffiliate::convertBonus($affiliate_bonus)))}
                            <input type="submit" name="use_affiliate" class="use_affiliate" value="[`Use bonus`]">
                            {/if}
                        </div>
                        {/if}
                    </div>
                    {/if}
                    {/if}
                    <div class="text-right total-button text-xs-center text-lg-center">
                        <h5>[`Discount`]: <span class="cart-discount price">{shop_currency($discount, true)}</span> [`Total`]:
                            <span class="cart-total price">{shop_currency($cart.total, true)}</span></h5>
                            <input name="checkout" type="submit" value="[`Proceed to checkout`]" class="btn btn-primary blue">
                    </div>
                    <!-- plugin hook: 'frontend_cart' -->
                    {* @event frontend_cart.%plugin_id% *}
                    {foreach $frontend_cart as $_}{$_}{/foreach}
                    </form>
                </div>
            </div>
            {/if}
        </div>
    </div>
</div>