<script type="text/javascript" src="{$wa_active_theme_url}lazyloading.js?v{$wa_theme_version}"></script>
<div class="row">
    <div class="col-lg-3 col-md-4 col-sm-12 filter">
        {if !empty($filters)}
        <div class="hidden-sm-up"><a href="#" class="show-filter">[`Show filter`]</a></div>
        <div class="panel-default hidden-xs-down">
            <div class="filters-background filters ajax">
                <form method="get" action="{$wa->currentUrl(0,1)}" data-loading="{$wa_active_theme_url}img/loading.gif"
                      class="filterform">
                    {foreach $filters as $fid => $filter}
                    {if $fid == 'price'}
                    {$c = $wa->shop->currency(true)}
                    <div class="filtergroup">
                        <div class="panel-body">[`Price`]:
                            <div class="icon"><i class="fa fa-angle-down"></i></div>
                        </div>
                        <div class="filtergroup slider slideblock rangefilter" {if $theme_settings.catalog_filter == 1}style="display:none;"{/if}>
                        <span>[`from`]</span>
                        <span class="text-center"><input type="text" class="min" name="price_min" {if $wa->get('price_min')}value="{(int)$wa->get('price_min')}"{/if} placeholder="{floor($filter.min)}"></span>
                        <span>[`to`]</span>
                        <span class="text-center"><input type="text" class="max" name="price_max" {if $wa->get('price_max')}value="{(int)$wa->get('price_max')}"{/if} placeholder="{ceil($filter.max)}"> </span>
                        <span class="text-center">{$c.sign}</span>

                        <div class="pricehint">
                            <div class="row">
                                <div class="col-lg-6">{floor($filter.min)} {$c.sign}</div>
                                <div class="col-lg-6 text-right">{ceil($filter.max)} {$c.sign}</div>
                            </div>
                        </div>
                    </div>
            </div>
            {else}
            <div class="filtergroup">
                <div class="panel-body">{$filter.name|escape}:
                    <div class="icon"><i class="fa fa-angle-down"></i></div>
                </div>
                {if $filter.type == 'boolean'}
                <div class="slideblock" {if $theme_settings.catalog_filter== 1}style="display:none;"{/if}>
                <div class="checkboxfilter"><label class="radio"><input type="radio" name="{$filter.code}" {if $wa->get($filter.code)}checked{/if} value="1"> [`Yes`]</label></div>
                <div class="checkboxfilter"><label class="radio"><input type="radio" name="{$filter.code}" {if $wa->get($filter.code) === '0'} checked{/if} value="0"> [`No`]</label></div>
                <div class="checkboxfilter"><label class="radio"><input type="radio" class="any" name="{$filter.code}"{if $wa->get($filter.code, '') === ''} checked{/if} value=""> [`Any`]</label></div>
            </div>
        </div>
        {elseif isset($filter.min)}
        {$_v = $wa->get($filter.code)}
        <div class="slider slideblock" {if $theme_settings.catalog_filter== 1}style="display:none;" {/if}>
        <div class="rangefilter diaposon">
            <span>[`from`]</span>
            <span class="text-center"><input type="text" class="min" name="{$filter.code}[min]" placeholder="{$filter.min}" {if !empty($_v.min)}value="{$_v.min}"{/if}></span>
            <span>[`to`]</span>
            <span class="text-center"><input type="text" class="max" name="{$filter.code}[max]" placeholder="{$filter.max}" {if !empty($_v.max)}value="{$_v.max}"{/if}></span>
            {if !empty($filter.unit)}
            <span>{$filter.unit.title}</span>
            {if $filter.unit.value != $filter.base_unit.value}<input type="hidden" name="{$filter.code}[unit]" value="{$filter.unit.value}">{/if}
            {/if}
        </div>
    </div>
</div>
{else}
{foreach $filter.values as $v_id => $v}
<div class="checkboxfilter slideblock"{if $theme_settings.catalog_filter== 1} style="display:none;"{/if}>
<label class="checkbox">
    <input type="checkbox" name="{$filter.code}[]" {if in_array($v_id, (array)$wa->get($filter.code, array()))}checked{/if} value="{$v_id}"> {$v}
</label>
</div>
{/foreach}
</div>
{/if}
{/if}
{/foreach}
{if $wa->get('sort')}<input type="hidden" name="sort" value="{$wa->get('sort')|escape}">{/if}
{if $wa->get('order')}<input type="hidden" name="order" value="{$wa->get('order')|escape}">{/if}
<div class="filtersubmit">
    <div class="text-center">
        {if $filter|@count > 4}
        <div class="slideall">
            {if $theme_settings.catalog_filter == 1}
            <a href="#" data-close="[`Show filter`]" data-open="[`Hide filter`]">[`Show filter`]</a>
            {else}
            <a href="#" class="open" data-close="[`Show filter`]" data-open="[`Hide filter`]">[`Hide filter`]</a>
            {/if}
        </div>
        {/if}
        <div class="clearfilter"><a href="#" class="btn gray btn-primary">[`Reset filter`]</a></div>
    </div>
</div>
</form>
</div>
</div>
{else}
<div class="filters ajax">
    <form method="get" action="{$wa->currentUrl(0,1)}" data-loading="{$wa_active_theme_url}img/loading.gif" class="filterform"></form>
</div>
{/if}

{include file="`$wa_active_theme_path`/leftside.html"}

</div>
<div class="col-lg-9 col-md-8 col-sm-12">
    {include file="breadcrumb.html" inline}
    <h3 class="category-name">{$category.name|escape}
        {$category_count = $wa->shop->productsCount('category/'|cat:$category.id)}
        {if $category_count != 0}({$category_count}){/if}
    </h3>


    {if $category.subcategories}
    <ul class="inline subcategory">
        {foreach $category.subcategories as $sc}
        <li><a href="{$sc.url}">{$sc.name|escape}</a></li>
        {if !$sc@last}
        <li>|</li>
        {/if}
        {/foreach}
    </ul>
    {/if}
    {if !empty($category.params.img)}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 category-image">
            <img src="{$category.params.img}" alt="{$category.name}"/>
        </div>
    </div>
    {/if}
    <!-- plugin hook: 'frontend_category' -->
    {* @event frontend_category.%plugin_id% *}
    {foreach $frontend_category as $_}{$_}{/foreach}

    <!-- description -->
    {if $theme_settings.category_description == 'top' && $category.description}
    <div class="category_description">
        {$category.description}
    </div>
    <hr>
    {/if}

    <div id="product-list">
        {if !$products}
        {if !empty($filters)}
        <div class="alert-box notice">
            [`No products were found.`]
        </div>
        {else}
        <div class="alert-box notice">
            [`This category does not contain any products.`]
        </div>
        {/if}
        {else}
        {$sorting=!empty($category.params.enable_sorting)}

        {if !empty($theme_settings.catalog_type)}{$catalog_show = $theme_settings.catalog_type}{else}{$catalog_show =
        'list'}{/if}
        {$shop_view = waRequest::cookie('show', '', waRequest::TYPE_STRING)}
        {if $shop_view}{$catalog_show = $shop_view}{/if}
        <div class="row category-page-block">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="btn-group showtype" role="group">
                    <button type="button" class="btn gray btn-catalog{if $catalog_show != 'list'} active{/if}"
                            data-list="thumbs"><i class="fa fa-th"></i></button>
                    <button type="button" class="btn gray btn-catalog{if $catalog_show == 'list'} active{/if}"
                            data-list="list"><i class="fa fa-th-list"></i></button>
                </div>
            </div>
            <div class="col-lg-6  col-md-6  col-sm-12 text-right">
                <ul class="inline product-per-page">
                    <li>[`Show by`]:</li>
                    <li><a href="#" data-page="20">20</a></li>
                    <li><a href="#" data-page="40">40</a></li>
                    <li><a href="#" data-page="60">60</a></li>
                </ul>
            </div>
        </div>

        {if !empty($sorting)}
        {$sort_fields = ['name' => '[`Name`]', 'price' => '[`Price`]', 'total_sales' => '[`Bestsellers`]',
        'rating' => '[`Customer rating`]',
        'create_datetime'=>'[`Date added`]',
        'stock' => '[`In stock`]']}
        {if !isset($active_sort)}
        {$active_sort = $wa->get('sort', 'create_datetime')}
        {/if}
        <ul class="inline sorting">
            <li>[`Sort`]:</li>
            {foreach $sort_fields as $sort => $name}
            <li{if $active_sort== $sort} class="selected"{/if}>{$wa->shop->sortUrl($sort, $name)}
            {if $active_sort == $sort}{if $wa->get('order') == 'asc'}<i class="fa fa-angle-down"></i> {else}<i class="fa fa-angle-up"></i>{/if}{/if}
            </li>
            {if $wa->get('sort') == $sort}{$wa->title( $wa->title()|cat:' — '|cat:$name)}{/if}
            {/foreach}
        </ul>
        {/if}

        <div class="row catalog" {if $catalog_show == 'list'} id="list"{/if}>
        {include file="`$wa_active_theme_path`/list-thumbs.html" products=$products}
    </div>
    {if isset($pages_count) && $pages_count > 1}
    <div class="{if $theme_settings.lazyload == 1} lazyloading-paging{/if}">
        {wa_pagination total=$pages_count attrs=['class' => "pagination"]}
    </div>
    {/if}
    {/if}
</div>

<!-- description -->
{if $theme_settings.category_description == 'bottom'}
{if $category.description}
<div class="category_description">
    <h3>{$category.name|escape}</h3>
    {$category.description}
</div>
{/if}
{/if}
</div>
</div>