<div class="checkout-result">
    <div class="welcome">
        <h3>[`Thank you!`]</h3>
        <p>[`We successfully accepted your order, and will contact you asap.`]<br />
            [`Your order number is `] <strong>{$order.id}</strong>.</p>
    </div>
    {if !empty($payment)}
    <div class="plugin">
        {$payment}
    </div>
    {/if}

    {if !empty($payment_success)}
    <span class="highlighted">[`Your payment has been successfully accepted. We will process your order and contact you shortly.`]</span>
    {/if}

    <p class="back">
        &larr; <a href="{$wa_app_url}">[`Back to the store`]</a>
    </p>
    <!-- plugin hook: 'frontend_checkout' -->
    {* @event frontend_checkout.%plugin_id% *}
    {foreach $frontend_checkout as $_}{$_}{/foreach}
</div>