<script src="{$wa_theme_url}js/jquery.mousewheel.min.js" type="text/javascript"></script>
{$wa->title('[`Compare products`]')}
{include file="`$wa_active_theme_path`/breadcrumb.html" inline}
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6"><h3>[`Compare products`] ({count($products)})</h3></div>
    {if $products}
    <div class="col-lg-6 col-md-6 col-sm-6 text-right clearview_block"><a href="#" id="compare-clear">[`Clear comparison list`]</a></div>
    {/if}
</div>
{if count($products)}
<div class="compare-scroll">
    {$td_width = round((100-25)/count($products))}
    <table id="compare-table" class="table table-striped">
        <tr class="white-td">
            <td style="width:300px;">
                <ul class="compare-diff-all">
                    <li class="selected"><a id="compare-all" href="#" class="inline-link">[`All features`]</a></li>
                    <li><a id="compare-diff" href="#" class="inline-link">[`Different`]</a></li>
                </ul>
            </td>
            {foreach $products as $p}
            <td>
                <div class="image">
                    {$badge_html = $wa->shop->badgeHtml($p.badge)}{if $badge_html}{$badge_html}{/if}
                    <div class="image_fix">
                        <a href="{$wa->getUrl('/frontend/product/', ['product_url' => $p.url])}">
                            {$wa->shop->productImgHtml($p, '180', ['default' =>
                            "`$wa_theme_url`img/no-foto-catalog.gif", 'alt' => $p.name|cat:'
                            ':strip_tags($p.summary)|escape, 'title' => $p.name|cat:'
                            ':strip_tags($p.summary)|escape])}
                        </a>
                    </div>
                </div>
                <p><a href="{$wa->getUrl('/frontend/product/', ['product_url' => $p.url])}">{$p.name}</a></p>
                {if count($products) > 1}
                <div class="remove-icon"><a data-product="{$p.id}" class="btn btn-primary red compare-remove" href="{$p.delete_url}"><i class="fa fa-close"></i></a></div>
                {/if}
            </td>
            {/foreach}
        </tr>
        {foreach $features as $f_id=>$f}
        <tr
        {if $f.same} class="same"{/if}>
        <td><b>{$f.name}</b></td>
        {foreach $products as $p}
        <td>
            {if isset($p.features[$f_id])}
            {if is_array($p.features[$f_id])}
            {implode(', ', $p.features[$f_id])}
            {else}
            {$p.features[$f_id]}
            {/if}
            {else}
            <span class="gray">&mdash;</span>
            {/if}
        </td>
        {/foreach}
        </tr>
        {/foreach}
        <tr>
            <td></td>
            {foreach $products as $p}
            <td style="width:{$td_width}%;" class="product-thumbs">
                <div class="price">{if $p.compare_price > 0}{shop_currency($p.price)}<s>{shop_currency($p.compare_price)}</s>
                    {else}
                    <div>
                        {shop_currency($p.price)}
                    </div>
                    {/if}
                </div>
            </td>
            {/foreach}
        </tr>
    </table>
</div>
{else}
<div class="alert-box notice">[`Product comparison list is empty.`]</div>
{/if}
