<div class="row">
    <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
        {include file="`$wa_active_theme_path`/leftside.html"}
    </div>
    <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">

        {include file="`$wa_active_theme_path`/breadcrumb.html" inline}
        <div class="row">
            <div class="col-12 col-lg-12 col-xs-12 col-sm-12">
                <h3>{$error_message|default:"[`Error`]"}</h3>
                <div>{if $error_code}<strong>{$error_code}.</strong> {/if}[`The requested resource is not available.`]</div>
            </div>
        </div>
    </div>
</div>
