{if $wa->post("send") == 'feedback'}

    {if $wa->sendEmail("", $errors)}
    <div class="feedback-send"><h5>[`Your message was successfully sent`]!<br>[`We will contact you soon`]</h5></div>
    <script>
        $(".slide_up").slideToggle();
    </script>
    {else}
    <div class="wa-error-msg"><b>[`Error`]:</b> <p>{foreach $errors as $a}{$a@iteration}. {$a}<br>{/foreach}</p></div>
    <script>
        $("#feedback .wa-captcha-refresh").click();
    </script>
    {/if}

{else}

<div class="row">
    <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 ">

        {include file="leftside-home.html"}

    </div>
    <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">



        {if $theme_settings.slider_id}

        {$slider = $wa->shop->productSet( $theme_settings.slider_id )}
        {if $slider}
        <div class="slider-wrapper hidden-sm-down">
            <div class="single-slider" style="visibility: hidden;">
                <div class="fs_loader"></div>
                {foreach $slider as $p}
                <div class="slide">
                    <img class="image" src="{$wa->shop->productImgUrl($p, '350')}" data-step="1" data-position="10,80" data-in="right" data-delay="0" data-out="right" alt="{$p.name|truncate:200}">
                    <p class="header" data-step="1" data-position="60,480" data-in="left" data-out="left">
                        {$p.name|truncate:200:"...":true}</p>
                    <p class="text" data-step="1" data-position="150,480" data-in="left" data-out="left">
                        {strip_tags($p.summary)|escape|truncate:140}</p>
                    <p class="button" data-step="1" data-position="250,480" data-in="left" data-out="left"
                       data-delay="500"><a href="{$p.frontend_url}" class="btn red btn-primary">[`More`] <i
                            class="fa fa-angle-right" aria-hidden="true"></i></a></p>
                    <!-- <a href="{$p.frontend_url}" class="slider_link"  data-step="1" data-in="right" data-delay="0" data-out="right"></a> -->
                </div>
                {/foreach}
            </div>
        </div>
        {/if}
        {/if}

        <!-- Promo icon -->
        <div class="promos">
            <div class="row">
                <div class="col-sm-4 text-center">
                    <div class="text-center">
                        {$theme_settings.promo1_icon}
                    </div>
                    {$theme_settings.promo1}
                </div>
                <div class="col-sm-4 text-center">
                    <div class="text-center">
                        {$theme_settings.promo2_icon}
                    </div>
                    {$theme_settings.promo2}
                </div>
                <div class="col-sm-4 text-center">
                    <div class="text-center">
                        {$theme_settings.promo3_icon}
                    </div>
                    {$theme_settings.promo3}
                </div>
            </div>
        </div>

        {if $theme_settings.homepage_promo_title}
        <div class="slider">
            {if $theme_settings.homepage_productset_promo}
            {$promos = $wa->shop->productSet( $theme_settings.homepage_productset_promo )}
            {else}
            {$promos = $wa->shop->productSet("promo")}
            {/if}
            <h3>{str_replace('{$date}', $smarty.now|wa_datetime:"humandate", $theme_settings.homepage_promo_title)}</h3>
            <hr>

            {if $theme_settings.homepage_promo_slider}
            {if count($promos) > 4}
            <div class="arrow-control">
                <div class="arrow-left"><a href="#" id="slider-product-prev"></a></div>
                <div class="arrow-right"><a href="#" id="slider-product-next"></a></div>
            </div>
            {/if}
            {/if}

            {if $promos && count($promos)}
            <div class="row catalog product-slider" {if count($promos) > 4}{if $theme_settings.homepage_promo_slider}id="promo"{/if}{/if}>
                {include file="`$wa_active_theme_path`/list-thumbs.html" products=$promos}
            </div>
            {else}
            [`Add items to the list`] <b>{$theme_settings.homepage_productset_promo}</b>
            {/if}
        </div>
        {/if}

        <div class="slider">
            {if $theme_settings.homepage_productset_bestsellers}
            {$hits = $wa->shop->productSet( $theme_settings.homepage_productset_bestsellers)}
            {else}
            {$hits = $wa->shop->productSet("bestsellers")}
            {/if}
            {if $theme_settings.homepage_bestseller_title}
            <h3>{str_replace('{$date}', $smarty.now|wa_datetime:"humandate",
                $theme_settings.homepage_bestseller_title)}</h3>
            {/if}
            <hr>

            {if $theme_settings.homepage_bestseller_slider}
            {if count($hits) > 4}
            <div class="arrow-control">
                <div class="arrow-left"><a href="#" id="slider-product-prev-hits"></a></div>
                <div class="arrow-right"><a href="#" id="slider-product-next-hits"></a></div>
            </div>
            {/if}
            {/if}

            {if $hits && count($hits)}
            <div class="row catalog product-slider" {if count($hits) > 4}{if $theme_settings.homepage_bestseller_slider}id="hits"{/if}{/if}>
                {include file="`$wa_active_theme_path`/list-thumbs.html" products=$hits}
            </div>
            {else}
            [`Add items to the list`] <b>{$theme_settings.homepage_productset_bestsellers}</b>
            {/if}
        </div>

        {if $wa->blog}{$latest_posts = $wa->blog->posts(null, 5)}{/if}

        <div class="row">
            {if $latest_posts}
                <div class="col-lg-7 col-sm-12 col-xs-12">
            {else}
                <div class="col-lg-12 col-sm-12 col-xs-12">
            {/if}

                {if $wa->block("main_block")}
                    {$wa->block("main_block")}
                {else}
                <div class="clear-main">
                    <h3>[`About shop`]</h3>
                    <hr>
                    [`Add text of your shop in the app "Site" -> "Blocks". Create a new block with an ID`]
                    <b>main_block</b>
                </div>
                {/if}
                <!-- plugin hook: 'frontend_homepage' -->
                {* @event frontend_homepage.%plugin_id% *}
                {foreach $frontend_homepage as $_}{$_}{/foreach}
            </div>

            {if $latest_posts}
            <div class="col-lg-5 col-sm-12 col-xs-12">
                <div class="news">
                    {foreach $latest_posts as $post}
                    <div class="date">
                        <div class="threed">{$post.datetime|date_format:"%d"}</div>
                        <div class="month">{$post.datetime|date_format:"%B %Y"}</div>
                        <div class="head"><a href="{$post.link}">{$post.title|strip_tags|truncate:400}</a></div>
                    </div>
                    {/foreach}
                </div>
            </div>
            {/if}
        </div>
    </div>
</div>
{/if}