{if $wa->shop}
{$shop_category = $wa->shop->categories(0, null, true)}
{if $shop_category}
<div class="menu-v-background" {if $theme_settings.navigation_left == 'standart'}id="menu-standart"{else}id="menu-collapsible"{/if}>
{if isset($category.id)}{$selected_page=$category.id}{else}{$selected_page=null}{/if}
{wa_print_tree tree=$shop_category selected=$selected_page collapsible_class='tree' unfolded=true class="menu-v" elem ='<a href=":url">:name</a>'}
</div>
{/if}
{/if}

{$promocards = $wa->shop->promos()}
{if $promocards}
{foreach $promocards as $promo}
<div class="banner hidden-sm-down">
    <a href="{$promo.link}"><img src="{$promo.image}" alt="{$promo.title|escape}"/>
        {if !empty($promo.countdown_datetime) && time() <= strtotime($promo.countdown_datetime)}
        <div class="countdown">
            Осталось: <span class="js-promo-countdown" data-start="{date('Y-m-d H:i:s')}" data-end="{$promo.countdown_datetime}"></span>
        </div>
        {/if}
    </a>
    <div class="banner-inner">
        <h4>{$promo.title|escape}</h4>
        <p>{$promo.body|escape}</p>
    </div>
</div>
{/foreach}
{/if}

{if $wa_app == 'shop'}
<!-- plugin hook: 'frontend_nav' -->
{* @event frontend_nav.%plugin_id% *}
{$_hook_frontend_sidebar_section = false}
{foreach $frontend_nav as $plugin => $output}
{if !empty($output)}
{$_hook_frontend_sidebar_section = true}
{/if}
{/foreach}

{if $_hook_frontend_sidebar_section}
<div id="leftside-plugin">
    {foreach $frontend_nav as $_key => $_}
    <div class="inner">
        <h4>{$wa->pluginName(substr($_key, 0, -7))}</h4>
        {$_}
    </div>
    {/foreach}

    {foreach $frontend_nav_aux as $_key => $_}
    <div class="inner">
        <h4>{$wa->pluginName(substr($_key, 0, -7))}</h4>
        {$_}
    </div>
    {/foreach}
</div>
{/if}
{/if}

{if $wa->photos}
{if $theme_settings.setting_photo}
{$photos = $wa->photos->photos("", "96x96", 6)}
{if $photos}
<div class="lastphoto hidden-sm-down">
    <h3>[`Photos`]</h3>
    <hr>
    <div class="photo">
        {foreach $photos as $photo}
        <a href="{$photo.frontend_link}"><img src='{$photo.thumb_96x96.url}' alt='{$photo.name}.{$photo.ext}' title="{if $photo.description}{$photo.description}{/if}"></a>
        {/foreach}
    </div>
</div>
{/if}
{/if}
{/if}

{if $wa_app == 'shop'}
{if $theme_settings.setting_tags == '1'}
{$cloud = $wa->shop->tags()}
{if $cloud}
<div class="tags hidden-sm-down">
    <h3>[`Tags`]</h3>
    <hr>
    {foreach $cloud as $tag}
    <a href="{$wa_app_url}tag/{$tag.uri_name}/" style="font-size: {$tag.size}%;">{$tag.name|escape}</a>
    {/foreach}
</div>
{/if}
{/if}
{/if}

{if !empty($theme_settings.vk_widget_code)}
<div class="widget_vk">
    {$theme_settings.vk_widget_code}
</div>
{/if}