{$favorite_p = waRequest::cookie("shop_favorite", '', waRequest::TYPE_STRING)}
{assign var=favorite_p_split value=","|explode:$favorite_p}
{foreach $products as $p}
<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" {if $wa->get("view") == 'favorite'}data-type="favorite"{/if} itemscope itemtype ="http://schema.org/Product">
	<div class="thumbnail">
	<div class="preview">
		<a href="#" class="preview_icon preview_dialog" title="[`Preview`]"><span><i class="fa fa-search"></i></span></a>
		<a href="#" data-add-text="[`Product added to compare`]" data-dec-text="[`Product removed from the comparison list`]" data-compare-url="{$wa->getUrl('shop/frontend/compare/')}" data-product="{$p.id}" title="[`Compare`]" class="preview_icon compare-link{if $wa->shop->inComparison($p.id)} active{/if}"><span><i class="fa fa-sliders"></i></span></a>
		<a href="#" data-add-text="[`Product added to favorites`]" data-dec-text="[`Product is removed from the list of favorites`]" data-favorite-url="{$wa->getUrl('shop/frontend/search/')}?view=favorite" data-product="{$p.id}" title="[`Favorite`]" class="preview_icon favorite-link {if in_array($p.id, $favorite_p_split)} active{/if}"><span><i class="fa fa-heart"></i></span></a>
	</div>
		<form data-preview="{$p.frontend_url}{if strpos($p.frontend_url, '?')}&{else}?{/if}cart=1" {if $p.sku_count > 1}data-url="{$p.frontend_url}{if strpos($p.frontend_url, '?')}&{else}?{/if}cart=1"{/if} method="post" action="{$wa->getUrl('/frontendCart/add')}">
		<input type="hidden" name="product_id" value="{$p.id}">
		{$badge_html = $wa->shop->badgeHtml($p.badge)}{if $badge_html}{$badge_html}{/if}
		<div class="image-block">
			<div class="zoom-image">
				<a href="{$p.frontend_url}" title="{$p.name}{if $p.summary} &ndash;  {strip_tags($p.summary)|escape}{/if}">{$wa->shop->productImgHtml($p, '180', ['itemprop' => 'image', 'alt' => $p.name, 'default' => "`$wa_theme_url`img/no-foto-catalog.gif"])}</a>
			</div>
		</div>
		<div class="caption">
			<div class="name"><a href="{$p.frontend_url}" itemprop="name">{$p.name|truncate:50:"...":true}</a></div>
			{if !$wa->isMobile()}<div class="description" itemprop="description" style="display: none">{if $p.summary}{strip_tags($p.summary)|escape|truncate:300}{else}{strip_tags($p.description)|escape|truncate:300}{/if}</div>{/if}
			<div itemprop="offers" class="offers" itemscope itemtype="http://schema.org/Offer">
				{if $wa->shop->settings('ignore_stock_count') || $p.count === null || $p.count > 0}
				<div class="row-fluid buy" data-name="{$p.name}" data-url="{$p.frontend_url}">
					<div class="price text-center" data-price="{shop_currency($p.price)}">{shop_currency($p.price)}{if $p.compare_price > 0} <s>{shop_currency($p.compare_price)}</s>{/if}
						<meta itemprop="price" content="{$p.price}">
						<meta itemprop="priceCurrency" content="{$wa->shop->primaryCurrency()}">
						<link itemprop="availability" href="http://schema.org/InStock" />
					</div>
					<div class="text-center buy_button"><a href="#" class="btn btn-primary blue addtocart"><i	class="fa fa-shopping-cart"></i>[`Buy`]</a></div>
					<link itemprop="availability" href="http://schema.org/OutOfStock" />
				</div>
				{else}
				<div class="price text-center" data-price="{shop_currency($p.price)}">{shop_currency($p.price)}{if $p.compare_price > 0} <s>{shop_currency($p.compare_price)}</s>{/if}
					<meta itemprop="price" content="{$p.price}">
					<meta itemprop="priceCurrency" content="{$wa->shop->primaryCurrency()}">
					<link itemprop="availability" href="http://schema.org/InStock" />
				</div>
				<div class="text-center buy_button"><a href="#" class="btn btn-primary gray disabled">[`Out of stock`]</a></div>
				<meta itemprop="price" content="{$p.price}">
				<meta itemprop="priceCurrency" content="{$wa->shop->primaryCurrency()}">
				{/if}
			</div>
		</div>
	</form>
	</div>
</div>
{/foreach}