<div class="row">
    <div class="col-lg-3 col-sm-3">
        {include file="`$wa_active_theme_path`/leftside.html"}
    </div>
    <div class="col-lg-9 col-sm-9">
        {include file="`$wa_active_theme_path`/breadcrumb.html" inline}
        <h3>[`Affiliate program`]</h3>
        {$wa->myNav('product-nav')}
        <div class="product-nav-block">
        {$balance = $customer.affiliate_bonus|wa_format_number:false}
        {if $customer.affiliate_bonus >= 0}{$balance = '+'|cat:$balance}{/if}
        <h5>{sprintf('[`Your current affiliate bonus: <strong class="bonus">%s</strong>`]', $balance)}</strong></h5>

        {$_aff_plugins_active = 0}
        <!-- plugin hook: 'frontend_my_affiliate' -->
        {* @event frontend_my_affiliate.%plugin_id% *}
        {foreach $frontend_my_affiliate as $_}{$_}{$_aff_plugins_active = 1}{/foreach}

            <table class="table table-striped">
                <tr class="white">
                    <th>[`Date`]</th>
                    <th>#</th>
                    <th>[`Credit`]</th>
                    <th>[`Debit`]</th>
                    <th>[`Balance`]</th>
                </tr>
                {foreach $affiliate_history as $h}
                <tr>
                    <td class="gray">{$h.create_datetime|wa_date:'humandatetime'}</td>
                    <td>
                        {if $h.order_id}
                        <a href="{$h.order_url}">[`Order`] {$wa->shop->orderId($h.order_id)}</a>
                        {/if}
                        {if $h.order_id && $h.comment}
                        <br>
                        {/if}
                        {if $h.comment}
                        {$h.comment|escape}
                        {/if}
                    </td>
                    <td class="align-right">
                        {if $h.amount > 0}
                        {$h.amount|wa_format_number:false}
                        {/if}
                    </td>
                    <td class="align-right">
                        {if $h.amount < 0}
                        {abs($h.amount)|wa_format_number:false}
                        {/if}
                    </td>
                    <td class="align-right">{$h.balance|wa_format_number:false}</td>
                </tr>
                {foreachelse}
                <tr>
                    <td colspan="5">[`You have no affiliate history yet.`]</td>
                </tr>
                {/foreach}
            </table>
        </div>
    </div>
</div>

