    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
            {include file="`$wa_active_theme_path`/leftside.html"}
        </div>
        <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
            {include file="`$wa_active_theme_path`/breadcrumb.html" inline}
            <h3>[`My orders`]</h3>
            {$wa->myNav('product-nav')}
            <div class="product-nav-block">
            <table class="table table-striped  my-orders">
                <tr>
                    <th>#</th>
                    <th>[`Products`]</th>
                    <th>[`Delivery`]</th>
                    <th>[`Payment`]</th>
                    <th>[`Date`]</th>
                </tr>
                {foreach $orders as $o}
                <tr>
                    <td>
                        <div><a href="{$o.url}" class="bold">{$o.id_str}</a></div>
                        <span class="label label-primary">{$o.state->getName()}</span>
                    </td>
                    <td width="40%">
                        {if !empty($o.items)}
                        {foreach $o.items as $i}
                        <div class="row">
                            <div class="col-lg-4 col-sm-12  col-xs-12">
                                {if $i.type == 'product'}
                                {$product_id = $i.product_id}
                                {$products = $wa->shop->product($product_id)}
                                {foreach $products.images as $image}
                                {if $image@first}
                                <a href="{$wa->getUrl('/frontend/product/', ['product_url' => $products.url])}">{$wa->shop->productImgHtml(['id'=> $product_id,'image_filename' => '', 'image_id' => $image.id, 'ext' => $image.ext], '180', ['class' => 'orders_img'])}</a>
                                {/if}
                                {/foreach}
                                {/if}
                            </div>
                            <div class="col-lg-8 col-sm-12 col-xs-12">
                                {$sku = $products.skus[$products.sku_id]}
                                {if $sku.sku}<small class="gray">[`Code`]: {$sku.sku|escape}</small>{/if}
                                <p><b><a href="{$wa->getUrl('/frontend/product/', ['product_url' => $products.url])}">{$i.name|escape}</a></b> <span class="gray">x {$i.quantity}</span><br /></p>
                            </div>
                        </div>
                        {/foreach}
                        {/if}
                    </td>
                    <td>
                        {if $o.shipping_name}
                        <span class="gray">{$o.shipping_name|escape}</span>
                        {else}
                        &nbsp;
                        {/if}
                    </td>
                    <td>
                        {if $o.payment_name}
                        <span class="gray">{$o.payment_name|escape}</span>
                        {else}
                        &nbsp;
                        {/if}
                    </td>
                    <td>
                        <span class="gray">{$o.create_datetime|wa_date:'humandate'}</span>
                    </td>
                </tr>
                {foreachelse}
                <tr colspan="6">
                    <td>[`You have no order history yet.`]</td>
                </tr>
                {/foreach}
            </table>
            </div>
        </div>
    </div>

{$wa->globals('isMyAccount', true)}

<!-- plugin hook: 'frontend_my_orders' -->
{* @event frontend_my_orders.%plugin_id% *}
{foreach $frontend_my_orders as $_}{$_}{/foreach}