<div class="row">
    <div class="col-lg-3 col-sm-3">
        {include file="`$wa_active_theme_path`/leftside.html"}
    </div>
    <div class="col-lg-9 col-sm-9">
        {include file="`$wa_active_theme_path`/breadcrumb.html" inline}
        {$wa->myNav('product-nav')}
        <div class="product-nav-block">
        {if !empty($pin_required)}
        <h3>[`Order`] {$encoded_order_id}</h3>
        {$wa->myNav('inline')}
        <hr>
        <form action="" method="post">
            {if $wrong_pin}
            <p>[`PIN is not valid`]</p>
            {/if}
            <p>[`Please enter a 4-digit PIN that you received with your order receipt by email.`]</p>
            <div>
                <input type="text" name="pin">
            </div>
            <div>
                <input type="submit" value="[`View order`]" class="flamingo-1">
            </div>
        </form>
        {else}
        <h3>[`Order`] {$order.id_str}
            <small>от {$order.create_datetime|wa_date:'humandatetime'}</small>
            <span class="label label-primary">{$order.state->getName()}</span></h3>

        <!-- shipping -->
        <h4>[`Shipping`]
            {if $order.shipping_name}
            &mdash; <strong>{$order.shipping_name}</strong>
            {/if}
        </h4>

        <!-- shipping plugin output -->
        {if !empty($order.params.tracking_number)}
        [`Shipment tracking number`]: {$order.params.tracking_number}
        <br/>
        {/if}
        {if !empty($tracking) && $order.state->getId() != 'completed'}
        <div class="plugin">
            {$tracking}
        </div>
        {/if}

        <p>{$contact.name|escape}<br>
            {if $shipping_address}
        <address>{$shipping_address}</address>
        {/if}
        </p>

        <!-- billing -->
        <h4>[`Payment`]
            {if $order.payment_name}
            &mdash; <strong>{$order.payment_name}</strong>
            {/if}
        </h4>

        <!-- payment plugin output -->
        {if !empty($payment)}
        <div class="plugin">
            {$payment}
        </div>
        {/if}

        <p>
            {$contact.name|escape}<br>
            {if $billing_address}
            {$billing_address}
            {/if}
        </p>

        {if !empty($order.comment)}
        <h4>[`Comment`]</h4>
        <p>
            {$order.comment|escape}<br>
        </p>
        {/if}

        <!-- order content and total -->
        <table class="table table-striped">
            <tr class="white">
                <th></th>
                <th>[`Quantity`]</th>
                <th>[`Total`]</th>
            </tr>
            {foreach $order.items as $item}
            <tr
            {if $item.type == 'service'} class="service"{/if}>
            <td>{if $item.type == 'service'}+ {/if}
                <b>{$item.name}</b>
                {if $item.type == 'product' && !empty($item.download_link)}<a href="{$item.download_link}"><strong>[`Download`]</strong></a>{/if}
            </td>
            <td>{wa_currency($item.price, $order.currency)} <span class="gray">x{$item.quantity}</span></td>
            <td>{wa_currency($item.price * $item.quantity, $order.currency)}</td>
            </tr>
            {/foreach}
            <tr>
                <td colspan="2">[`Subtotal`]</td>
                <td>{wa_currency($subtotal, $order.currency)}</td>
            </tr>
            <tr>
                <td colspan="2">[`Discount`]</td>
                <td>{wa_currency($order.discount, $order.currency)}</td>
            </tr>
            <tr>
                <td colspan="2">
                    [`Shipping`]
                    {if !empty($order.params.shipping_name)}
                    (<strong>{$order.params.shipping_name}</strong>)
                    {/if}
                </td>
                <td>{wa_currency($order.shipping, $order.currency)}</td>
            </tr>
            {if $order.tax > 0}
            <tr class="no-border thin">
                <td colspan="2">[`Tax`]</td>
                <td>{wa_currency($order.tax, $order.currency)}</td>
            </tr>
            {/if}
            <tr>
                <td colspan="2"><b>[`Total`]</b></td>
                <td>{wa_currency($order.total, $order.currency)}</td>
            </tr>
        </table>
        {/if}
    </div>
    </div>
</div>

{$wa->globals('isMyAccount', true)}

<!-- plugin hook: 'frontend_my_order' -->
{* @event frontend_my_order.%plugin_id% *}
{foreach $frontend_my_order as $_}{$_}{/foreach}
