<div class="row">
    <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
        {include file="`$wa_active_theme_path`/leftside.html"}
    </div>
    <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
        {include file="`$wa_active_theme_path`/breadcrumb.html" inline}

        <h3>{$page.title}</h3>
        {$subpages = $wa->shop->pages($page.id)}
        {if $subpages}
        <ul class="list-inline subcategory">
            {foreach $subpages as $p}
            <li><a href="{$p.url}">{$p.name}</a></li>
            {if !$p@last}
            <li>|</li>
            {/if}
            {/foreach}
        </ul>
        {/if}
        {$page.content}
    </div>
</div>