    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 product">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <!-- Foto -->
                    {if $product.images}
                    <div class="product-gallery">
                        <!-- Big foto -->
                        <div class="image" id="product-core-image">
                            {$wa->shop->badgeHtml($product.badge)}
                            <a href="{$wa->shop->productUrl($product)}">
                                {$wa->shop->productImgHtml($product, '400', ['id' => 'product-image', 'alt' => $product.name|escape ])}
                            </a>
                        </div>
                    </div>
                    {else}
                    <div class="product-gallery">
                        <img src="{$wa_theme_url}img/no-foto.gif" style="width:325px;">
                    </div>
                    {/if}
                </div>
                <div class="col-lg-6  col-md-6 col-sm-12">
                    <br>
                    <div id="cart-flyer">
                        {$sku = $product.skus[$product.sku_id]}
                        {if $sku.sku}
                        <!-- Product ID -->
                        <div class="articul">[`Code`]: {$sku.sku|escape}</div>
                        {/if}
                        <h1>{$product.name|escape}</h1>
                        {if !empty($product.rating) && $product.rating > 0}
						    {$wa->shop->ratingHtml($product.rating, 16)}
                        {else}
                        <i class="icon16 star-empty"></i><i class="icon16 star-empty"></i><i class="icon16 star-empty"></i><i class="icon16 star-empty"></i><i class="icon16 star-empty"></i>
                        {/if}

                        <form id="cart-form{if $wa->get('cart')}-dialog{/if}" method="post" action="{$wa->getUrl('/frontendCart/add')}">
                            <!-- stock info -->
                            {$product_available = $product.status}
                            {if $product_available || count($product.skus) > 1}
                            <div class="stocks">
                                {function name=in_stock n=0 low=5 critical=2}
                                {if $n > $low or $n === null}
                                <span class="stock-high"><i class="fa fa-circle"></i> [`In stock`]</span>
                                {elseif $n > $critical}
                                <span class="stock-low"><i class="fa fa-circle yellow"></i>{* _w("Only %d left in stock", "Only %d left in stock", $n) *}{_w("Only a few items left")}</span>
                                {elseif $n > 0}
                                <span class="stock-critical"><i class="fa fa-circle red"></i>{_w("Only %d left in stock", "Only %d left in stock", $n)}</span>
                                {else}
                                <span class="stock-none red"><i class="fa fa-circle"></i>{if $wa->shop->settings('ignore_stock_count')}[`Pre-order only`]{else}[`Out of stock`]{/if}</span>
                                {/if}
                                {/function}
                                {foreach $product.skus as $sku}
                                <div {if $sku.id != $product.sku_id}style="display:none"{/if} class="sku-{$sku.id}-stock">
                                    {if $sku.stock}
                                    {foreach $stocks as $stock_id => $stock}
                                    {if isset($sku.stock[$stock_id])}
                                    {$stock_count = $sku.stock[$stock_id]}
                                    {else}
                                    {$stock_count = null}
                                    {/if}
                                    {$stock.name}: {in_stock n=$stock_count low=$stock.low_count critical=$stock.critical_count}<br>
                                    {/foreach}
                                    {else}
                                    {in_stock n=$sku.count}
                                    {/if}
                                </div>
                                {/foreach}
                                {if $product.sku_type}
                                <div class="sku-no-stock">
                                    <span class="stock-none red"><i class="fa fa-circle"></i> [`Product with the selected option combination is not available for purchase`]</span>
                                </div>
                                {/if}
                            </div>
                            {/if}
                            <div class="add2cart">
                                <span data-price="{shop_currency($product.price, null, null, 0)}" class="price nowrap">{shop_currency($product.price)}</span>
                                {if $product.compare_price > 0}<s class="compare-at-price nowrap"> {shop_currency($product.compare_price)} </s>{/if}
                            </div>

                            <!-- product summary -->
                            {if $product.summary}<p class="summary">{$product.summary|truncate:150:"... <a href='{$wa->shop->productUrl($product)}'>[`Read more`]</a>":true}</p><hr>{/if}

                            {if $product.sku_type}
                            <!-- SELECTABLE FEATURES selling mode -->
                            {$default_sku_features = $product.sku_features}
                            {$product_available = $product.status}
                            {if $theme_settings.selectable_features_control == 'inline'}
                            <div class="options">
                                {foreach $features_selectable as $f}
                                <div class="inline-select{if $f.type == 'color'} color-fix{else} inline-no-color{/if}">
                                    {foreach $f.values as $v_id => $v}
                                    {if !isset($default_sku_features[$f.id])}{$default_sku_features[$f.id]=$v_id}{/if}
                                    <a data-value="{$v_id}" href="#"{if $v_id == ifset($default_sku_features[$f.id])} class="selected"{/if}{if $f.type == 'color'} style="{$v->style}; margin-bottom: 20px;"{/if}>
                                    {if $f.type == 'color'}&nbsp;<i class="icon16 checkmark color_checkmark"></i>{/if}
                                    {if $f.type == 'color'}&nbsp;<span class="color_name">{strip_tags($v)}</span>{else}{$v}{/if}
                                    </a>
                                    {/foreach}
                                    <input type="hidden" data-feature-id="{$f.id}" class="sku-feature" name="features[{$f.id}]" value="{ifset($default_sku_features[$f.id])}">
                                </div>
                                {/foreach}
                            </div>
                            {else}
                            <div class="options">
                                {foreach $features_selectable as $f}
                                <label class="name">{$f.name}:</label>
                                <select data-feature-id="{$f.id}" class="sku-feature" name="features[{$f.id}]">
                                    {foreach $f.values as $v_id => $v}
                                    <option value="{$v_id}" {if $v_id == ifset($default_sku_features[$f.id])}selected{/if}>{$v|strip_tags}</option>
                                    {/foreach}
                                </select>
                                {/foreach}
                            </div>
                            {/if}
                            <!-- list all SKUs for Schema.org markup -->
                            {foreach $product.skus as $sku}

                            {/foreach}
                            {else}
                            <!-- FLAT SKU LIST selling mode -->
                            {$product_available = false}
                            {if count($product.skus) > 1}
                            {* SKU radio buttons *}
                            <ul class="skus">
                                {foreach $product.skus as $sku}
                                {$sku_available =  $product.status && $sku.available && ($wa->shop->settings('ignore_stock_count') || $sku.count === null || $sku.count > 0)}
                                <li>
                                    <label{if !$sku.available} class="disabled"{/if}>
                                    <input name="sku_id" type="radio" value="{$sku.id}"{if !$sku.available} disabled="true"{/if}{if !$sku_available}data-disabled="1"{/if}{if $sku.id == $product.sku_id} checked="checked"{/if} data-compare-price="{shop_currency($sku.compare_price, $product.currency, null, 0)}" data-price="{shop_currency($sku.price, $product.currency, null, 0)}"{if $sku.image_id} data-image-id="{$sku.image_id}"{/if}> <span itemprop="name">{$sku.name|escape}</span>
                                    {if $sku.sku}<span class="articul">{$sku.sku|escape}</span>{/if}
                                    (<span class="price tiny nowrap">{shop_currency($sku.price, $product.currency)}</span>)
                                    </label>
                                </li>
                                {$product_available = $product_available or $sku_available}
                                {/foreach}
                            </ul>
                            {else}

                                <input name="sku_id" type="hidden" value="{$product.sku_id}">
                                {$product_available = $product.status && $sku.available && ($wa->shop->settings('ignore_stock_count') || $sku.count === null || $sku.count > 0)}

                            {/if}
                            {/if}

                            <div class="purchase">
                                {if $services}
                                <!-- services -->
                                <div class="services">
                                    {foreach $services as $s}
                                    <div class="service-{$s.id}">
                                        <label class="checkbox">
                                            <input data-price="{shop_currency($s.price, $s.currency, null, 0)}" {if !$product_available}disabled="disabled"{/if} type="checkbox" name="services[]" value="{$s.id}"> {$s.name|escape} {if $s.price && !isset($s.variants)}(+<span class="service-price">{shop_currency_html($s.price, $s.currency)}</span>){/if}
                                        </label>
                                        {if isset($s.variants)}
                                        <select data-variant-id="{$s.variant_id}" class="service-variants" name="service_variant[{$s.id}]" disabled>
                                            {foreach $s.variants as $v}
                                            <option {if $s.variant_id == $v.id}selected{/if} data-price="{shop_currency($v.price, $s.currency, null, 0)}" value="{$v.id}">{$v.name|escape} (+{shop_currency($v.price, $s.currency)})</option>
                                            {/foreach}
                                        </select>
                                        {else}
                                        <input type="hidden" name="service_variant[{$s.id}]" value="{$s.variant_id}">
                                        {/if}
                                    </div>
                                    {/foreach}
                                </div>
                                {/if}

                                <!-- price -->
                                <div class="add2cart cart-group">
                                    <input type="hidden" name="product_id" value="{$product.id}">
                                    <div class="select_quantity">
                                        <span class="input-group-addon"><a href="#" class="dec_cart"><i class="fa fa-minus"></i></a></span>
                                        <input type="text" class="quantity qty select_input_cart" name="quantity" value="1" autocomplete="off">
                                        <span class="input-group-addon"><a href="#" class="inc_cart"><i class="fa fa-plus"></i></a></span>
                                    </div>
                                    <button type="submit" class="blue" {if !$product_available}disabled="disabled"{/if}><i class="fa fa-shopping-cart"></i>{if $wa->shop->cart->total() > 0}[`Add to cart`]{else}[`Buy now`]{/if}</button>
                                </div>
                                <span class="added2cart" style="display: none;">{sprintf('[`%s is now <a href="%s"><strong>in your shopping cart</strong></a>`]', $product.name|escape, $wa->getUrl('shop/frontend/cart'))}</span>
                                <div class="to-cart" style="display: none;">
                                    <a href="{$wa->getUrl('shop/frontend/cart')}" class="btn btn-primary blue">[`Go to cart`]</a>
                                </div>
                                <div class="to-back" style="display: none;">
                                    <a href="#" class="btn btn-primary gray">[`Continue shopping`]</a>
                                </div>
                            </div>
                        </form>
                        <script>
                            ( function($) {
                                $.getScript("{$wa_theme_url}product.cart.js?v{$wa_theme_version}", function() {
                                    if (typeof Product === "function") {
                                        new Product('#cart-form{if $wa->get('cart')}-dialog{/if}', {
                                            currency: {json_encode($currency_info)}
                                        {if count($product.skus) > 1 or $product.sku_type}
                                    ,services: {json_encode($sku_services)}
                                        {/if}
                                        {if $product.sku_type}
                                    ,features: {json_encode($sku_features_selectable)}
                                        {/if}
                                    });
                                    }
                                });
                            })(jQuery);
                        </script>
                    </div>
                </div>
            </div>

        </div>
    </div>
<script type="text/javascript" src="{$wa_theme_url}product.cart.js"></script>