<script type="text/javascript" src="{$wa_theme_url}js/jquery.easyzoom.js"></script>
<script type="text/javascript" src="{$wa_theme_url}swipebox/js/jquery.swipebox.js"></script>

	<div class="row" itemscope itemtype="http://schema.org/Product">
		<div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
			{include file="`$wa_active_theme_path`/leftside.html"}
		</div>
		<div class="col-lg-9 col-md-8 col-sm-12 col-xs-12 product">
		{include file="`$wa_active_theme_path`/breadcrumb.html" inline}
			<div class="row">
				<div class="col-lg-6 col-sm-12">
					<!-- Foto -->

					{$video = $product->video}
					{if $video}
						<div id="video-container" class="video-container" itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
							<div itemprop="embedHTML">
								<iframe src="{$video.url}" width="100%" height="250" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
							</div>
							<meta itemprop="width" content="{$video.width}">
							<meta itemprop="height" content="{$video.height}">
						</div>
					{else}
						{$video = null}
					{/if}

					{if $product.images}
					<div class="product-gallery">
						<!-- Big foto -->

						<div class="image" id="product-core-image" {if $video.url}style="display:none"{/if}>
							{$wa->shop->badgeHtml($product.badge)}
							<a href="{$wa->shop->productImgUrl($product, '970')}" class="easyzoom">
								{$wa->shop->productImgHtml($product, '400', [ 'itemprop' => 'image', 'id' => 'product-image', 'alt' => $product.name|escape ])}
							</a>
						</div>
						<div id="switching-image" style="display: none;"></div>

						<!-- Preview -->
					{if count($product.images) > 1 || (count($product.images) === 1 && $video)}
						<div class="more-images" id="product-gallery">
							{if $video}
							<div class="image video selected">
								<a id="product-image-video" href="{$video.url}" class="swipebox">
									<img src="{$video.images[0]}">
								</a>
							</div>
							{/if}

							{foreach $product.images as $image}
							<div class="image{if $image.id == $product.image_id && empty($video)} selected{/if}">
								<a id="product-image-{$image.id}" href="{$wa->shop->imgUrl($image, '970')}" class="swipebox"{if $image.description} title="{$image.description}"{/if}>
									{$wa->shop->imgHtml($image, '96x96', [ 'alt' => $product.name|escape ])}
								</a>
							</div>
							{/foreach}
						</div>
						{/if}

					</div>
					{else}
					<div class="product-gallery" {if $video.url}style="display:none"{/if}>
						<img src="{$wa_theme_url}img/no-foto.gif">
					</div>
					{/if}
				</div>
				<div class="col-lg-6 col-sm-12">
					<div class="cart priceblock" id="cart-flyer">
						{$sku = $product.skus[$product.sku_id]}
						{if $sku.sku}
						<!-- Product ID -->
						<div class="articul">[`Code`]: {$sku.sku|escape}</div>
						{/if}
						<h1>
							<span itemprop="name">{$product.name|escape}</span>
							{if !empty($product.rating) && $product.rating > 0}
						<span class="rating" title="{sprintf('[`Average user rating: %s / 5`]', $product.rating)}" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
						{$wa->shop->ratingHtml($product.rating, 16)}
						<meta itemprop="ratingValue" content="{$product.rating}">
						<meta itemprop="reviewCount" content="{$reviews_total_count}">
						</span>
							{else}
							<i class="icon16 star-empty"></i><i class="icon16 star-empty"></i><i class="icon16 star-empty"></i><i class="icon16 star-empty"></i><i class="icon16 star-empty"></i>
							{/if}
						</h1>

						<form id="cart-form{if $wa->get('cart')}-dialog{/if}" method="post" action="{$wa->getUrl('/frontendCart/add')}">
						<!-- stock info -->
						{$product_available = $product.status}
						{if $product_available || count($product.skus) > 1}
						<div class="stocks">
							{function name=in_stock n=0 low=5 critical=2}
							{if $n > $low or $n === null}
							<span class="stock-high"><i class="fa fa-circle"></i> [`In stock`]</span>
							{elseif $n > $critical}
							<span class="stock-low"><i class="fa fa-circle yellow"></i>{* _w("Only %d left in stock", "Only %d left in stock", $n) *}{_w("Only a few items left")}</span>
							{elseif $n > 0}
							<span class="stock-critical"><i class="fa fa-circle red"></i>{_w("Only %d left in stock", "Only %d left in stock", $n)}</span>
							{else}
							<span class="stock-none red"><i class="fa fa-circle"></i>{if $wa->shop->settings('ignore_stock_count')}[`Pre-order only`]{else}[`Out of stock`]{/if}</span>
							{/if}
							{/function}
							{foreach $product.skus as $sku}
							<div {if $sku.id != $product.sku_id}style="display:none"{/if} class="sku-{$sku.id}-stock">
								{if $sku.stock}
								{foreach $stocks as $stock_id => $stock}
								{if isset($sku.stock[$stock_id])}
								{$stock_count = $sku.stock[$stock_id]}
								{else}
								{$stock_count = null}
								{/if}
								{$stock.name}: {in_stock n=$stock_count low=$stock.low_count critical=$stock.critical_count}<br>
								{/foreach}
								{else}
								{in_stock n=$sku.count}
								{/if}
							</div>
							{/foreach}
							{if $product.sku_type}
							<div class="sku-no-stock">
								<span class="stock-none red"><i class="fa fa-circle"></i> [`Product with the selected option combination is not available for purchase`]</span>
							</div>
							{/if}
						</div>
						{/if}
						<div class="add2cart">
							<span data-price="{shop_currency($product.price, null, null, 0)}" class="price nowrap">{shop_currency($product.price)}</span>
							{if $product.compare_price > 0}<s class="compare-at-price nowrap"> {shop_currency($product.compare_price)} </s>{/if}
						</div>

						<!-- product summary -->
						{if $product.summary}<p class="summary">{$product.summary}</p><hr>{/if}

						{if $product.sku_type}
						<!-- SELECTABLE FEATURES selling mode -->
						{$default_sku_features = $product.sku_features}
						{$product_available = $product.status}
						{if $theme_settings.selectable_features_control == 'inline'}
						<div class="options">
						{foreach $features_selectable as $f}
							<div class="inline-select{if $f.type == 'color'} color-fix{else} inline-no-color{/if}">
								{foreach $f.values as $v_id => $v}
								{if !isset($default_sku_features[$f.id])}{$default_sku_features[$f.id]=$v_id}{/if}
								<a data-value="{$v_id}" href="#"{if $v_id == ifset($default_sku_features[$f.id])} class="selected"{/if}{if $f.type == 'color'} style="{$v->style}; margin-bottom: 20px;"{/if}>
								{if $f.type == 'color'}&nbsp;<i class="icon16 checkmark color_checkmark"></i>{/if}
								{if $f.type == 'color'}&nbsp;<span class="color_name">{strip_tags($v)}</span>{else}{$v}{/if}
								</a>
								{/foreach}
								<input type="hidden" data-feature-id="{$f.id}" class="sku-feature" name="features[{$f.id}]" value="{ifset($default_sku_features[$f.id])}">
							</div>
						{/foreach}
						</div>
						{else}
						<div class="options">
						{foreach $features_selectable as $f}
							<label class="name">{$f.name}:</label>
							<select data-feature-id="{$f.id}" class="sku-feature" name="features[{$f.id}]">
							{foreach $f.values as $v_id => $v}
								<option value="{$v_id}" {if $v_id == ifset($default_sku_features[$f.id])}selected{/if}>{$v|strip_tags}</option>
							{/foreach}
							</select>
						{/foreach}
						</div>
						{/if}
						<!-- list all SKUs for Schema.org markup -->
						{foreach $product.skus as $sku}
						<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
						{$sku_available =  $product.status && $sku.available && ($wa->shop->settings('ignore_stock_count') || $sku.count === null || $sku.count > 0)}
						{if $sku.name}<meta itemprop="name" content="{$sku.name|escape}">{/if}
							<meta itemprop="price" content="{$sku.price}">
							<meta itemprop="priceCurrency" content="{$product.currency}">
							{if (!($sku.count === null) && $sku.count <= 0)}
							<link itemprop="availability" href="http://schema.org/OutOfStock" />
							{else}
							<link itemprop="availability" href="http://schema.org/InStock" />
							{/if}
						</div>
						{/foreach}
						{else}
						<!-- FLAT SKU LIST selling mode -->
						{$product_available = false}
						{if count($product.skus) > 1}
						{* SKU radio buttons *}
						<ul class="skus">
						{foreach $product.skus as $sku}
						{$sku_available =  $product.status && $sku.available && ($wa->shop->settings('ignore_stock_count') || $sku.count === null || $sku.count > 0)}
							<li itemprop="offers" itemscope itemtype="http://schema.org/Offer">
								<label{if !$sku.available} class="disabled"{/if}>
								<input name="sku_id" type="radio" value="{$sku.id}"{if !$sku.available} disabled="true"{/if}{if !$sku_available}data-disabled="1"{/if}{if $sku.id == $product.sku_id} checked="checked"{/if} data-compare-price="{shop_currency($sku.compare_price, $product.currency, null, 0)}" data-price="{shop_currency($sku.price, $product.currency, null, 0)}"{if $sku.image_id} data-image-id="{$sku.image_id}"{/if}> <span itemprop="name">{$sku.name|escape}</span>
								{if $sku.sku}<span class="articul">{$sku.sku|escape}</span>{/if}
								<meta itemprop="price" content="{$sku.price}">
								<meta itemprop="priceCurrency" content="{$product.currency}">
								(<span class="price tiny nowrap">{shop_currency($sku.price, $product.currency)}</span>)
								{if (!($sku.count === null) && $sku.count <= 0)}
								<link itemprop="availability" href="http://schema.org/OutOfStock" />
								{else}
								<link itemprop="availability" href="http://schema.org/InStock" />
								{/if}
								</label>
							</li>
							{$product_available = $product_available or $sku_available}
						{/foreach}
						</ul>
						{else}
						{* in case there is only one SKU, don't display the selector *}
						<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
						{$sku = $product.skus[$product.sku_id]}
						{if $sku.name}<meta itemprop="name" content="{$sku.name|escape}">{/if}
							<meta itemprop="price" content="{$sku.price}">
							<meta itemprop="priceCurrency" content="{$product.currency}">
							{if !$sku.available}
							<link itemprop="availability" href="http://schema.org/Discontinued" />
							{elseif !$wa->shop->settings('ignore_stock_count') && !($sku.count === null || $sku.count > 0)}
							<link itemprop="availability" href="http://schema.org/OutOfStock" />
							{else}
							<link itemprop="availability" href="http://schema.org/InStock" />
							{/if}
							<input name="sku_id" type="hidden" value="{$product.sku_id}">
							{$product_available = $product.status && $sku.available && ($wa->shop->settings('ignore_stock_count') || $sku.count === null || $sku.count > 0)}
						</div>
						{/if}
						{/if}

						<div class="purchase">
						{if $services}
						<!-- services -->
							<div class="services">
							{foreach $services as $s}
								<div class="service-{$s.id}">
									<label class="checkbox">
										<input data-price="{shop_currency($s.price, $s.currency, null, 0)}" {if !$product_available}disabled="disabled"{/if} type="checkbox" name="services[]" value="{$s.id}"> {$s.name|escape} {if $s.price && !isset($s.variants)}(+<span class="service-price">{shop_currency_html($s.price, $s.currency)}</span>){/if}
									</label>
									{if isset($s.variants)}
									<select data-variant-id="{$s.variant_id}" class="service-variants" name="service_variant[{$s.id}]" disabled>
									{foreach $s.variants as $v}
										<option {if $s.variant_id == $v.id}selected{/if} data-price="{shop_currency($v.price, $s.currency, null, 0)}" value="{$v.id}">{$v.name|escape} (+{shop_currency($v.price, $s.currency)})</option>
									{/foreach}
									</select>
									{else}
									<input type="hidden" name="service_variant[{$s.id}]" value="{$s.variant_id}">
									{/if}
								</div>
								{/foreach}
							</div>
						{/if}

						<!-- price -->
						<div class="add2cart cart-group">
							<input type="hidden" name="product_id" value="{$product.id}">
							<div class="select_quantity">
								<span class="input-group-addon"><a href="#" class="dec_cart"><i class="fa fa-minus"></i></a></span>
								<input type="text" class="quantity qty select_input_cart" name="quantity" value="1" autocomplete="off">
								<span class="input-group-addon"><a href="#" class="inc_cart"><i class="fa fa-plus"></i></a></span>
							</div>
							<button type="submit" class="blue" {if !$product_available}disabled="disabled"{/if}><i class="fa fa-shopping-cart"></i>{if $wa->shop->cart->total() > 0}[`Add to cart`]{else}[`Buy now`]{/if}</button>
						</div>
							<span class="added2cart" style="display: none;">{sprintf('[`%s is now <a href="%s"><strong>in your shopping cart</strong></a>`]', $product.name|escape, $wa->getUrl('shop/frontend/cart'))}</span>
							<div class="to-cart" style="display: none;">
								<a href="{$wa->getUrl('shop/frontend/cart')}" class="btn btn-primary blue">[`Go to cart`]</a>
							</div>
							<div class="to-back" style="display: none;">
								<a href="#" class="btn btn-primary gray">[`Continue shopping`]</a>
							</div>
						</div>
						</form>

						<script>
							( function($) {
								$.getScript("{$wa_theme_url}product.js?v{$wa_theme_version}", function() {
									if (typeof Product === "function") {
										new Product('#cart-form{if $wa->get('cart')}-dialog{/if}', {
											currency: {json_encode($currency_info)}
										{if count($product.skus) > 1 or $product.sku_type}
									,services: {json_encode($sku_services)}
										{/if}
										{if $product.sku_type}
									,features: {json_encode($sku_features_selectable)}
										{/if}
									});
									}
								});
							})(jQuery);
						</script>

						<!-- plugin hook: 'frontend_product.cart' -->
						{* @event frontend_product.%plugin_id%.cart *}
						{foreach $frontend_product as $_}{$_.cart}{/foreach}
				</div>
				<!-- plugin hook: 'frontend_product.block_aux' -->
				{* @event frontend_product.%plugin_id%.block_aux *}
				{if !empty($frontend_product)}
				<div class="aux">
					{foreach $frontend_product as $_}{$_.block_aux}{/foreach}
				</div>
				{/if}

					<!-- social -->
					<script type="text/javascript">(function() {
						if (window.pluso)if (typeof window.pluso.start == "function") return;
						if (window.ifpluso==undefined) { window.ifpluso = 1;
							var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
							s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
							s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
							var h=d[g]('body')[0];
							h.appendChild(s);
						}})();</script>
					<div data-description="{$product.summary|escape}" data-title="{$product.name|escape}" data-url="{$wa->domainUrl()}{$wa->currentUrl(false)}" class="pluso" data-background="transparent" data-options="small,round,line,horizontal,counter,theme=04" data-services="vkontakte,odnoklassniki,facebook,twitter,google,moimir,email,print"></div>

					<div class="compare-favorite">
						{$favorite_p = waRequest::cookie("shop_favorite", '', waRequest::TYPE_STRING)}
						{assign var=favorite_p_split value=","|explode:$favorite_p}
						<i class="fa fa-sliders"></i><a href="#" data-add-text="[`Product added to compare`]" data-dec-text="[`Product removed from the comparison list`]" data-compare-url="{$wa->getUrl('shop/frontend/compare/')}" data-product="{$product.id}" class="compare-favorite-icon compare-link{if $wa->shop->inComparison($product.id)} active{/if}">сравнить</a>
						<span class="divider">или</span>
						<i class="fa fa-heart"></i><a href="#" data-add-text="[`Product added to favorites`]" data-dec-text="[`Product is removed from the list of favorites`]" data-favorite-url="{$wa->getUrl('shop/frontend/search/')}?view=favorite" data-product="{$product.id}" class="compare-favorite-icon favorite-link {if in_array($product.id, $favorite_p_split)} active{/if}">в избранное</a>
					</div>

					<!-- categories -->
					{if count($product.categories) > 1}
					<div class="sub">
						[`Categories`]:
						{foreach $product.categories as $c}{if $c.status}
						<a href="{$wa->getUrl('/frontend/category', ['category_url' => $c.full_url])}">{$c.name|escape}</a>
						{/if}{/foreach}
					</div>
					{/if}
					<!-- tags -->
					{if $product.tags}
					<div class="sub" id="product-tags">
						[`Tags`]:
						{foreach $product.tags as $t}
						<a href="{$wa->getUrl('/frontend/tag', ['tag' => urlencode($t)])}">{$t}</a>
						{/foreach}
					</div>
					{/if}
				</div>
			</div>

			<!-- product internal nav -->
			<ul class="product-nav">
				<li class="selected" data-link="description"><a href="{$wa->shop->productUrl($product)}">[`Overview`]</a></li>
				{if $product.features}<li data-link="features"><a href="{$wa->shop->productUrl($product)}">[`Features`]</a></li>{/if}
				<li data-link="reviews" class="review-scroll"><a href="{$wa->shop->productUrl($product, 'reviews')}">[`Reviews`] (<span class="reviews-count">{$reviews_total_count}</span>)</a></li>
				{foreach $product.pages as $page}
				<li data-link="pages-{$page@iteration}"><a href="#">{$page.name|escape}</a></li>
				{/foreach}
				<!-- plugin hook: 'frontend_product.menu' -->
				{* @event frontend_product.%plugin_id%.menu *}
				{foreach $frontend_product as $_}{$_.menu}{/foreach}
			</ul>

			<div class="product-nav-block">
				<!-- plugin hook: 'frontend_product.block' -->
				{* @event frontend_product.%plugin_id%.block *}
				{foreach $frontend_product as $_}{$_.block}{/foreach}


				<div id="description-tab" class="description product-tab"  itemprop="description">
					{if $product.description}
						{$product.description}
					{else}
						[`Description for product`] <b>{$product.name|escape}</b> [`soon updated`]
					{/if}
				</div>



				<!-- product features -->
				{if $product.features}
				<div id="features-tab" class="product-tab" style="display:none;">
					<table class="features table-striped" id="product-features">
						{foreach $product.features as $f_code => $f_value}
						<tr{if $features[$f_code].type == 'divider'} class="divider"{/if}>
						<td class="name">
							<b>{$features[$f_code].name|escape}</b>
						</td>
						<td class="value">
							{if is_array($f_value)}
							{if $features[$f_code].type == 'color'}
							{implode('<br /> ', $f_value)}
							{else}
							{implode(', ', $f_value)}
							{/if}
							{else}
							{$f_value}
							{/if}
						</td>
						</tr>
						{/foreach}
					</table>
				</div>
				{/if}

				<!-- Review -->
				<div id="reviews-tab" class="product-tab" style="display:none;">
					<div class="loading"><img src="{$wa_active_theme_url}img/loading.gif" alt="Loading..."></div>
					<div class="review-block"></div>
					<script type="text/javascript">
						$(function(){
							$('.review-block').load('{$wa->shop->productUrl($product)}reviews/ .reviews', function(){
								$(this).prepend('<script type="text/javascript" src="{$wa_app_static_url}js/rate.widget.js"><\/script>' +
										'<script type="text/javascript" src="{$wa_theme_url}reviews.js"><\/script>');
								$(".loading").remove();
							});
						});
					</script>
				</div>

				<!-- Pages -->
				{if $product.pages}
				{foreach $product.pages as $a}
				<div id="pages-{$a@iteration}-tab" class="product-tab" style="display:none;">
					<h3>{$a.name}</h3>
					<div>{$a.content}</div>
				</div>
				{/foreach}
				{/if}

			</div>
			<!-- RELATED PRODUCTS -->
			{$upselling = $product->upSelling(12)}
			{$crossselling = $product->crossSelling(12)}
			{if $upselling || $crossselling}
			{if $crossselling}
			<div class="related">
				<h3>{sprintf('[`Customers who bought %s also bought`]', $product.name|escape)}</h3>
				<hr>
				<div class="row catalog">
					{include file="list-thumbs.html" products=$crossselling type="standart"  big="no"}
				</div>
			</div>
			{/if}
			{if $upselling}
			<div class="related">
				<h3>[`See also`] {$compare_ids = array_merge(array($product.id), array_keys($upselling))}
						<a href="#" class="btn btn-primary gray" onClick="javascript:window.location='{$wa->getUrl('/frontend/compare', ['id' => implode(',', $compare_ids)])}';return false;">[`Compare all`]</a>
				</h3>
				<hr>
			<div class="row catalog">
				{include file="list-thumbs.html" products=$upselling type="standart" big="no"}
			</div>
			</div>
			{/if}
			{/if}
		</div>
</div>