<div class="row">
    <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
        {include file="`$wa_active_theme_path`/leftside.html"}
    </div>
    <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12 product">
        {include file="`$wa_active_theme_path`/breadcrumb.html" inline}
        <div class="row" id="product">
            <div class="col-lg-12">
                {$sku = $product.skus[$product.sku_id]}
                {if $sku.sku}
                <div class="articul">[`Code`]: {$sku.sku|escape}</div>
                {/if}
                <h1>{$product.name|escape}</h1>
            </div>
        </div>

        <!-- product internal nav -->
        <ul class="product-nav">
            <li data-link="description"><a href="{$wa->shop->productUrl($product)}">[`Overview`]</a></li>
            {if $product.features}<li data-link="features"><a href="{$wa->shop->productUrl($product)}">[`Features`]</a></li>{/if}
            <li data-link="reviews" class="review-scroll"><a href="{$wa->shop->productUrl($product)}">[`Reviews`] (<span class="reviews-count">{$reviews_total_count}</span>)</a></li>
            {foreach $product.pages as $p}
            <li {if $p.id == $page.id}class="selected"{/if}><a href="#">{$page.name|escape}</a></li>
            {/foreach}
        </ul>

        <div class="product-nav-block">
            <h3>{$page.title|escape}</h3>
            {$page.content}
        </div>

    </div>
</div>