{* one review output *}

{if !empty($ajax_append)}<li data-id={$review.id} data-parent-id="{$review.parent_id}">{/if}

	<div class="review" itemprop="review" itemscope itemtype="http://schema.org/Review">
		<div class="summary">
			<h6>
				<span itemprop="name">{if $review.title}{$review.title}{/if}</span>
				{if !$review.parent_id && !empty($review.rate)}
            <span itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                {$rate = round($review.rate)}
                <meta itemprop="worstRating" content = "1">
                <meta itemprop="ratingValue" content="{$rate}">
                <meta itemprop="bestRating" content = "5">
                {$wa->shop->ratingHtml($rate)}
            </span>
				{/if}

			</h6>
			[`By`]
			{if empty($review.site)}
			<span class="username" itemprop="author">{$review.author.name}</span>
			{else}
			<a href="{$review.site}" class="username" itemprop="author">{$review.author.name}</a>
			{/if}

			{if ifempty($review.author.is_user) > 0}
			<span class="staff">{$wa->shop->settings('name')}</span>
			{/if}

			<meta itemprop="itemReviewed" content="{$product.name|escape}">
			<meta itemprop="datePublished" content="{$review.datetime|date_format:'Y-m-d'}">
			<span class="date" title="{$review.datetime|wa_datetime}"><span class="divider">|</span> {$review.datetime|wa_datetime:"humandatetime"}</span>
		</div>
		{if $review.text}
		<p itemprop="description">{$review.text}</p>
		{/if}

		{if $reply_allowed}
		<div class="actions">
			<a href="{if isset($reply_link)}{$reply_link}{else}#{/if}" class="review-reply inline-link">[`reply`]</a>
		</div>
		{/if}
	</div>

	{if !empty($ajax_append)}<ul class="reviews-branch"></ul></li>{/if}