{$compare_p = waRequest::cookie('shop_compare', array(), waRequest::TYPE_ARRAY_INT)}
{$favorite_p = waRequest::cookie("shop_favorite", '', waRequest::TYPE_STRING)}
{if !empty($theme_settings.catalog_type)}{$catalog_show = $theme_settings.catalog_type}{else}{$catalog_show =
'list'}{/if}
{$shop_view = waRequest::cookie('show', '', waRequest::TYPE_STRING)}
{if $shop_view}{$catalog_show = $shop_view}{/if}
<div class="row">
    <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 ">
        {include file="`$wa_active_theme_path`/leftside.html"}
    </div>
    <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
        {include file="`$wa_active_theme_path`/breadcrumb.html" inline}
        {if $wa->get('view') == 'favorite'}
        {$wa->title('[`Favorite products`]')}
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6"><h3>[`Favorite products`] (<span class="favorite_count">{$wa->shop->productsCount('id/'|cat:$favorite_p)}</span>)
            </h3></div>
            {if $favorite_p}
            <div class="col-lg-6 col-md-6 col-sm-6 text-right clearview_block"><a href="#" class="clearfavorite">[`Clear list`]</a></div>
            {/if}
        </div>
        {if !$favorite_p}
        <div class="alert-box notice">[`No products were found.`]</div>
        {else}
        <div class="showtype-block">
            <div class="btn-group showtype" role="group">
                <button type="button" class="btn gray btn-catalog{if $catalog_show != 'list'} active{/if}"
                        data-list="thumbs"><i class="fa fa-th"></i></button>
                <button type="button" class="btn gray btn-catalog{if $catalog_show == 'list'} active{/if}"
                        data-list="list"><i class="fa fa-th-list"></i></button>
            </div>
        </div>
        {$products_ = $wa->shop->products('id/'|cat:$favorite_p)}
        {$products = []}
        {foreach explode(',', $favorite_p) as $a}
        {$products[] = $products_[$a]}
        {/foreach}
        <div class="row catalog" data-type="favorite"{if $catalog_show == 'list'} id="list"{/if}>
            {include file="`$wa_active_theme_path`/list-thumbs.html" products=$products type="favorite" big="no"}
        </div>

        {/if}
        {else if $wa->get('view') == 'ajax_search'}
        {if $products}
        <div class="ajax_block">
            <div class="text-center ajax_search_header"><b>[`Products found`]</b></div>
            {foreach $products|@array_slice:0:6 as $a}
            <div class="ajax_search">
                <div class="ajax_row">
                    <div class="ajax_cell image"><a href="{$a.frontend_url}">{$wa->shop->productImgHtml($a, '75x75',
                        ['itemprop' => 'image', 'alt' => $a.name, 'default' => "`$wa_theme_url`img/no-foto-catalog.gif"])}</a></div>
                    <div class="ajax_cell name"><a href="{$a.frontend_url}">{$a.name}</a>
                        <div class="price">{shop_currency($a.price)}{if $a.compare_price > 0} <s>{shop_currency($a.compare_price)}</s>{/if}
                        </div>
                    </div>
                </div>
            </div>
            {/foreach}
            {if $products|@count > 6}
            <div class="text-center ajax_search_link"><a href="#">[`Show all`] ({$products_count})</a> &nbsp;&nbsp;&nbsp;&nbsp;<a href="#" class="hide_search">[`Hide search`]</a></div>
            {/if}
        </div>
        {/if}
        {else}
        <h3>[`Search results`] ({$products_count})</h3>
        <!-- plugin hook: 'frontend_search' -->
        {* @event frontend_search.%plugin_id% *}
        {foreach $frontend_search as $_}{$_}{/foreach}
        {if $title}<p>[`Query`]: <b>{$title}</b></p>{/if}
        {if !$products}
        <div class="alert-box notice">[`No products were found.`]</div>
        {else}
        <div class="showtype-block">
            <div class="btn-group showtype" role="group">
                <button type="button" class="btn gray btn-catalog{if $catalog_show != 'list'} active{/if}"
                        data-list="thumbs"><i class="fa fa-th"></i></button>
                <button type="button" class="btn gray btn-catalog{if $catalog_show == 'list'} active{/if}"
                        data-list="list"><i class="fa fa-th-list"></i></button>
            </div>
        </div>
        <div class="row catalog" {if $catalog_show == 'list'} id="list"{/if}>
            {include file="`$wa_active_theme_path`/list-thumbs.html" products=$products}
        </div>
        {/if}
        {if isset($pages_count) && $pages_count > 1}
        <div class="{if $theme_settings.lazyload == 1} lazyloading-paging{/if}">
            {wa_pagination total=$pages_count attrs=['class' => "pagination"]}
        </div>
        {/if}
        {/if}
    </div>
</div>