{include file="`$wa_active_theme_path`/breadcrumb.html" inline}
<h3>[`Sign up`]</h3>
{if !empty($contact)}
<h3>[`Thank you!`]</h3>

<p>[`You have successfully signed up.`]</p>
{else}
{$wa->authAdapters()}
{$wa->signupForm($errors)}
{/if}