body {
  font-family: 'Roboto-Regular', Arial, serif;
  background-color: #ffffff;
  background-image: -webkit-linear-gradient(top, #cde7ce 0%, #ffffff 100px);
  /* Chrome10+,Safari5.1+ */
  background-image: -moz-linear-gradient(top, #cde7ce 0%, #ffffff 100px);
  /* FF3.6+ */
  background-image: linear-gradient(top, #cde7ce 0%, #ffffff 100px);
  /* W3C */
  background-repeat: no-repeat;
  background-size: 100% 300px;
  line-height: 1.4;
}
h1 {
  font-size: 26px;
  font-family: 'Roboto-Medium', Arial, serif;
}
h2 {
  font-size: 24px;
  font-family: 'Roboto-Medium', Arial, serif;
}
h3 {
  font-size: 22px;
  font-family: 'Roboto-Medium', Arial, serif;
  font-weight: normal;
}
h4 {
  font-size: 20px;
  font-family: 'Roboto-Medium', Arial, serif;
}
h5 {
  font-size: 18px;
  font-family: 'Roboto-Medium', Arial, serif;
}
a {
  text-decoration: underline;
  color: #29aa0b;
}
a:hover {
  color: #018200;
}
select {
  text-transform: none;
  min-width: 200px;
  max-width: 268px;
  padding: 3px;
  font-size: 16px;
  line-height: 1;
  border: 1px solid #cccccc;
  border-radius: 0;
  height: 30px;
  background: #ffffff;
}
hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
}
.text-center {
  text-align: center;
}
/** Header **/
.header {
  margin-top: 20px;
  margin-bottom: 20px;
}
.header .logo-sm {
  margin: 10px 0 20px;
}
.header .col-lg-3 {
  line-height: 16px;
  font-size: 14px;
}
.header .col-lg-3:last-child,
.header .col-lg-3:first-child {
  border-right: 0;
}
.header .col-lg-3 .fa {
  padding: 7px 5px;
  font-size: 20px;
  text-align: center;
  position: relative;
}
.header .col-lg-3 .fa-shopping-cart .cart-count {
  position: absolute;
  top: -9px;
  right: -16px;
  background: #a0e37c;
  width: 15px;
  height: 15px;
  text-align: center;
  text-shadow: none;
  line-height: 15px;
  color: #000000;
  font-size: 10px;
  font-family: 'Roboto-Medium', Arial, serif;
  border-radius: 50%;
}
.header .header-align p {
  margin-bottom: 5px;
}
.header .header-align .phone-number,
.header .header-align .cart-total,
.header .header-align .account {
  font-size: 16px;
  font-family: 'Roboto-Medium', Arial, serif;
}
.header .header-align .account {
  margin-top: 10px;
}
.header .header-align .account-link {
  margin-top: 5px;
}
.header .header-align .account-link a {
  margin-right: 10px;
}
.header .header-align a {
  font-size: 13px;
}
.header .header-align .work-time {
  font-size: 13px;
  margin-top: 8px;
}
.header .header-align .cart-text {
  font-size: 17px;
  margin-left: 10px;
  font-family: 'Roboto-Medium', Arial, serif;
}
.header .header-align .left-padding {
  position: absolute;
  top: 5px;
  margin-left: 60px;
  display: block;
}
.header .header-align .left-padding span {
  display: block;
  margin-bottom: 5px;
}
.vertical-align {
  display: flex;
  align-items: center;
}
ul.inline,
ol.inline {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.inline > li,
ol.inline > li {
  display: inline-block;
  margin-right: 10px;
}
.promos {
  width: 100%;
  margin: 0 0 30px;
  border-radius: 5px;
  padding: 5px 10px 5px;
  border: 1px solid #e5e5e5;
}
.promos .fa {
  font-size: 40px;
  color: #e46cc9 ;
  margin: 10px 0 15px;
  height: 40px;
  line-height: 40px;
}
.promos h4 {
  margin-bottom: 0;
  font-size: 18px;
}
.promos p {
  font-size: 14px;
  line-height: 16px;
}
/** Order **/
.orders_img {
  margin-bottom: 20px;
}
/** News **/
.news {
  border-radius: 5px;
  box-shadow: 0 4px 0 #a5a5a5, 0 5px 0 #888686, 0 5px 0 rgba(0, 0, 0, 0);
  padding: 20px 20px 10px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}
.news .date {
  padding-bottom: 20px;
}
.news .date .threed {
  width: 35px;
  height: 35px;
  text-align: center;
  font-size: 16px;
  padding-top: 5px;
  font-weight: bold;
  font-family: 'Roboto-Medium', Arial, serif;
  border: 1px solid #bfbfbf;
  border-radius: 5px;
  box-shadow: 0 4px 0 #a5a5a5, 0 5px 0 #888686, 0 5px 0 rgba(0, 0, 0, 0);
  background-color: #fff;
}
.news .date .month {
  position: relative;
  margin-top: -25px;
  margin-left: 50px;
  font-size: 11px;
  color: #aaa;
  font-family: 'Roboto-Regular', Arial, serif;
}
.news .date .head {
  padding-left: 50px;
  margin-top: 10px;
  line-height: 18px;
}
.news .date .head a {
  font-size: 13px;
}
/** Slider Product **/
.slider {
  position: relative;
  margin-bottom: 20px;
}
.slider .arrow-control {
  position: absolute;
  right: 0;
  top: 0;
}
.slider .arrow-control .arrow-left {
  position: absolute;
  right: 40px;
  top: 0;
}
.slider .arrow-control .arrow-left a {
  height: 30px;
}
.slider .arrow-control .arrow-right {
  position: absolute;
  top: 0;
  right: 0;
}
/** Category **/
.category-page-block {
  margin-top: 10px;
  margin-bottom: 10px;
}
.sorting {
  margin: 30px 0 !important;
  display: block;
  font-size: 14px;
  font-family: 'Roboto-Medium', Arial, serif;
}
.sorting .selected a {
  text-decoration: none;
  color: #29aa0b;
  font-family: 'Roboto-Medium', Arial, serif;
}
.sorting a {
  font-family: 'Roboto-Regular', Arial, serif;
  color: #373a3c;
}
.product-per-page {
  font-family: 'Roboto-Medium', Arial, serif;
  font-size: 14px;
  margin-top: 10px !important;
}
.product-per-page a {
  font-family: 'Roboto-Regular', Arial, serif;
}
.slideall a {
  font-size: 12px;
  margin: 20px 0 0 0;
  display: block;
}
.subcategory {
  margin-bottom: 20px !important;
}
.subcategory a {
  font-size: 18px;
  font-family: 'Roboto-Medium', Arial, serif;
}
/** List product **/
.thumbnail {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding: 10px 10px 20px;
  font-family: 'Roboto-Regular', Arial, serif;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  background: #ffffff;
}
.thumbnail .preview {
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
  z-index: 30;
}
.thumbnail .preview span {
  position: relative;
  display: block;
}
.thumbnail .preview span:hover {
  color: #c85252;
}
.thumbnail .preview .active span {
  color: #702526;
  text-shadow: 0 1px #ea8f99;
  background: #e46565;
  border-color: #e1696e #c85252 #a03a38;
  background-image: -webkit-linear-gradient(top, #eb9093 0%, #e46565 70%, #e25755 100%);
  background-image: -moz-linear-gradient(top, #eb9093 0%, #e46565 70%, #e25755 100%);
  background-image: -o-linear-gradient(top, #eb9093 0%, #e46565 70%, #e25755 100%);
  background-image: linear-gradient(top bottom, #eb9093 0%, #e46565 70%, #e25755 100%);
  -webkit-box-shadow: inset 0 1px #dcaaaa, inset 0 0 0 1px #df777a, 0 1px #a03a38, 0 3px #be4b49, 0 4px #a03a38, 0 5px 2px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px #dcaaaa, inset 0 0 0 1px #df777a, 0 1px #a03a38, 0 1px #be4b49, 0 1px #a03a38;
}
.thumbnail .preview .active span:hover {
  color: #ffffff;
}
.thumbnail .preview span {
  font-size: 16px;
  margin-bottom: 5px;
  display: block;
  line-height: 34px;
  text-align: center;
  width: 35px;
  height: 35px;
  background-color: #bfbfbf;
  color: #444444;
  text-shadow: 0 1px #fff;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #bfbfbf;
  border-bottom: 1px solid #ffffff;
  background-position: top;
  background-image: -webkit-linear-gradient(top, #f1f1f1 0%, #dfdfdf 70%, #dadada 100%);
  background-image: -moz-linear-gradient(top, #f1f1f1 0%, #dfdfdf 70%, #dadada 100%);
  background-image: -o-linear-gradient(top, #f1f1f1 0%, #dfdfdf 70%, #dadada 100%);
  background-image: linear-gradient(top bottom, #f1f1f1 0%, #dfdfdf 70%, #dadada 100%);
  -webkit-box-shadow: inset 0 1px #fdfdfd, inset 0 0 0 1px #eaeaea, 0 1px #a8a8a8, 0 3px #bbbbbb, 0 4px #a8a8a8, 0 5px 2px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px #fdfdfd, inset 0 0 0 1px #eaeaea, 0 1px #a8a8a8, 0 1px #bbbbbb, 0 1px #a8a8a8, 0 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}
.thumbnail .out-of-stock {
  font-size: 13px !important;
}
.thumbnail .preview a {
  text-decoration: none;
}
.thumbnail img {
  margin-bottom: 10px;
}
.thumbnail .name {
  font-size: 16px;
  line-height: 18px;
  height: 55px;
  margin-top: 10px;
}
.thumbnail .price {
  font-size: 16px;
  height: 50px;
  line-height: 18px;
  margin-top: 5px;
  font-family: 'Roboto-Medium', Arial, serif;
}
.thumbnail .price s {
  color: #a7a7a7;
  font-family: 'Roboto-Regular', Arial, serif;
}
.thumbnail .btn-primary {
  font-family: 'Roboto-Regular', Arial, serif;
  font-size: 17px;
  text-decoration: none;
}
.thumbnail .image-block {
  height: 200px;
  max-width: 100%;
  overflow: hidden;
  line-height: 200px;
  text-align: center;
}
.thumbnail .image-block img {
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  max-height: 200px;
  max-width: 100%;
}
.thumbnail:hover {
  border: 1px solid #29aa0b;
  box-shadow: inset 0 0 #29aa0b, inset 0 0 0 0 #29aa0b, 0 1px #29aa0b, 0 5px #29aa0b, 0 4px #29aa0b !important;
}
.thumbnail:hover .image-block img {
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.thumbnail .buy_button .blue .fa {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #919191;
}
.thumbnail .buy_button .gray .fa {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #cccccc;
}
.thumbnail .out-of-stock {
  color: #f8484a;
  font-size: 16px !important;
}
#list .col-lg-3 {
  width: 100%;
}
#list .preview {
  left: 10px;
}
#list .thumbnail {
  text-align: left;
  display: table;
  width: 100%;
  height: auto;
}
#list .thumbnail .description {
  display: block !important;
  font-family: 'Roboto-Regular', Arial, serif;
}
#list .thumbnail .preview {
  width: 40px;
}
#list .thumbnail .name {
  height: auto;
  margin-bottom: 20px;
}
#list .thumbnail .price {
  margin-top: 10px;
}
#list .thumbnail form {
  display: table-row;
}
#list .thumbnail form .image-block {
  display: table-cell;
  vertical-align: middle;
  width: 30%;
  padding-right: 20px;
}
#list .thumbnail form .caption {
  display: table-cell;
  vertical-align: top;
}
#list .thumbnail form .caption .text-center {
  text-align: left;
}
.table.threed-gray {
  border: 1px solid #cecece;
  border-radius: 5px;
  box-shadow: 0 4px 0 #cecece, 0 5px 0 #9e9e9e, 0 5px 0 rgba(0, 0, 0, 0);
  background-color: #ffffff;
  margin: 20px 0 30px;
}
.table.threed-gray td {
  font-size: 14px;
  padding: 8px;
  border-top: 1px solid #cecece;
}
.table.threed-gray td a {
  color: #888888;
}
/** Badge **/
.badge {
  position: absolute;
  z-index: 10;
  top: 10px;
  left: 10px;
  font-family: 'Roboto-Medium', Arial, serif;
  text-transform: uppercase;
  font-size: 14px;
  padding: 5px;
  color: #ffffff;
  border-radius: 4px;
  background: #59b210;
}
.badge.new {
  background: green;
}
.badge.low-price {
  background: #f8484a;
}
.badge.new {
  background: #59b210;
}
.badge.bestseller {
  background: #f7a310;
}
/** Banner **/
.banner {
  width: 100%;
  margin-bottom: 20px;
  background: #ffffff;
  border-radius: 5px;
  border: 1px solid #bfbfbf;
  box-shadow: inset 0 1px #888686, inset 0 0 0 0 #bfbfbf, 0 5px #a5a5a5, 0 6px 0 #bfbfbf;
}
.banner .banner-inner {
  padding: 10px 15px 15px 15px;
}
.banner .banner-inner h4 {
  font-size: 16px;
  font-family: 'Roboto-Medium', Arial, Tahoma, serif;
  margin-bottom: 5px;
}
.banner .banner-inner p {
  font-size: 14px;
  font-family: 'Roboto-Regular', Arial, Tahoma, serif;
  line-height: 15px;
  margin: 0;
}
.banner a {
  position: relative;
  display: block;
  color: #000000;
}
.banner .countdown {
  left: 6px;
  bottom: 13px;
  position: absolute;
  padding: 5px 7px;
  margin-top: 10px;
  display: inline-block;
  border: 1px solid #cecece;
  box-shadow: 0 2px 0 #cecece, 0 2px 0 #9e9e9e, 0 2px 0 rgba(0, 0, 0, 0);
  background: #f7f7f7;
  border-radius: 4px;
  font-size: 13px;
}
.banner .countdown span {
  color: #000000;
  font-weight: bold;
}
.banner img {
  width: 100%;
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.tags,
.last-photo {
  margin-top: 30px;
}
/** Last photo **/
.lastphoto {
  margin-top: 20px;
}
.lastphoto .photo a {
  display: inline-block;
  margin-right: 15px;
  margin-top: 5px;
}
.lastphoto .photo img {
  border: 2px solid #ffffff;
  width: 96px;
}
.lastphoto .photo img:hover {
  border: 2px solid #29aa0b;
}
.lastphoto .photo a:nth-child(2n+2) {
  margin-right: 0;
}
/** Mobile menu **/
/** Widget **/
.widget_vk {
  margin: 20px 0;
}
#vk_widget,
#vk_groups,
#vkwidget1 {
  overflow: hidden;
  width: 100% !important;
}
/** Menu V Collapsible **/
#menu-collapsible .menu-v {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 18px;
  font-family: 'Roboto-Medium', Arial, serif;
  margin-bottom: 20px;
  border-radius: 4px;
  color: #465f25;
  text-shadow: 0 1px #d9f3b5;
  background: #94d362;
  background-image: -webkit-linear-gradient(top, #c0eb85 0%, #94d362 70%, #8ed258 100%);
  background-image: -moz-linear-gradient(top, #c0eb85 0%, #94d362 70%, #8ed258 100%);
  background-image: -o-linear-gradient(top, #c0eb85 0%, #94d362 70%, #8ed258 100%);
  background-image: linear-gradient(top bottom, #c0eb85 0%, #94d362 70%, #8ed258 100%);
  -webkit-box-shadow: inset 0 1px #d9f3b5, inset 0 0 0 1px #b1e095, 0 1px #5e903f, 0 3px #6da445, 0 4px #5e903f, 0 5px 2px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px #d9f3b5, inset 0 0 0 1px #b1e095, 0 1px #5e903f, 0 3px #6da445, 0 4px #5e903f, 0 5px 2px rgba(0, 0, 0, 0.4);
  border: 1px solid #5e903f;
}
#menu-collapsible .menu-v .selected_menu {
  color: #000000;
}
#menu-collapsible .menu-v .selected > a {
  background: #a2d369;
}
#menu-collapsible .menu-v a {
  color: #000000;
  text-decoration: none;
}
#menu-collapsible .menu-v li {
  position: relative;
  border-bottom: 1px dotted #29aa0b;
}
#menu-collapsible .menu-v li > a:hover {
  background: #a2d369;
}
#menu-collapsible ul .menu-v li > a:hover {
  background: #a2d369;
}
#menu-collapsible .menu-v li:last-child {
  border-bottom: 0;
}
#menu-collapsible .menu-v li .show_cat {
  padding: 0;
  position: absolute;
  right: 5px;
  top: 13px;
  text-align: center;
  width: 20px;
  height: 20px;
  display: inline;
  cursor: pointer;
  font-size: 23px;
  color: #000000;
}
#menu-collapsible .menu-v li .show_cat:hover {
  background: inherit;
}
#menu-collapsible .menu-v li:last-child {
  border-top: 0;
}
#menu-collapsible .menu-v li a {
  display: block;
  padding: 15px 15px;
  outline: 0;
}
#menu-collapsible .menu-v li ul {
  display: none;
  list-style: none;
  font-size: 14px;
  background: #84bb56;
  text-shadow: 0 1px #d9f3b5;
  border: 0;
  border-radius: 0;
  margin: 0;
  padding: 0;
  box-shadow: none;
}
#menu-collapsible .menu-v li ul li {
  margin: 0;
  padding: 0;
}
#menu-collapsible .menu-v li ul li a {
  display: block;
  width: auto;
  font-size: 15px;
  padding: 15px 0 15px 30px;
  font-family: 'Roboto-Light', Arial, serif;
  text-transform: none;
}
#menu-collapsible .menu-v li ul li .show_cat {
  top: 15px;
}
#menu-collapsible .menu-v li ul li ul {
  border-top: 0;
  padding: 0 0;
}
#menu-collapsible .menu-v li ul li ul li {
  border-bottom: 0;
}
#menu-collapsible .menu-v li ul li ul a {
  padding: 15px 0 15px 40px;
  font-size: 14px;
}
#menu-collapsible .menu-v li ul li ul ul a {
  display: block;
  width: auto;
  padding: 15px 0 15px 50px;
}
/** Menu V Standard**/
#menu-standart {
  margin-bottom: 20px;
}
#menu-standart ul.menu-v {
  padding: 0 0;
  margin: 0;
  font-family: 'Roboto-Medium', serif;
  border-radius: 5px;
  color: #465f25;
  text-shadow: 0 1px #d9f3b5;
  background: #94d362;
  background-image: -webkit-linear-gradient(top, #c0eb85 0%, #94d362 70%, #8ed258 100%);
  background-image: -moz-linear-gradient(top, #c0eb85 0%, #94d362 70%, #8ed258 100%);
  background-image: -o-linear-gradient(top, #c0eb85 0%, #94d362 70%, #8ed258 100%);
  background-image: linear-gradient(top bottom, #c0eb85 0%, #94d362 70%, #8ed258 100%);
  -webkit-box-shadow: inset 0 1px #d9f3b5, inset 0 0 0 1px #b1e095, 0 1px #5e903f, 0 3px #6da445, 0 4px #5e903f, 0 5px 2px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px #d9f3b5, inset 0 0 0 1px #b1e095, 0 1px #5e903f, 0 3px #6da445, 0 4px #5e903f, 0 5px 2px rgba(0, 0, 0, 0.4);
  border: 1px solid #5e903f;
}
#menu-standart ul.menu-v ul {
  margin: 0;
  padding: 0;
}
#menu-standart ul.menu-v li {
  position: relative;
  list-style: none;
  padding: 0;
  border-bottom: 1px dotted #29aa0b;
}
#menu-standart ul.menu-v li:first-child {
  border-top: 0;
}
#menu-standart ul.menu-v li:last-child {
  border-bottom: 0;
}
#menu-standart ul.menu-v li a {
  padding: 13px 15px;
  display: block;
  font-size: 15px;
  line-height: 20px;
  text-decoration: none;
  color: #000000;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}
#menu-standart ul.menu-v .tree a {
  padding-right: 35px;
}
#menu-standart ul.menu-v .tree:after {
  font-family: 'FontAwesome', Arial, serif;
  position: absolute;
  top: 28%;
  right: 10px;
  content: "\f054";
  font-size: 14px;
  color: #000000;
}
#menu-standart ul.menu-v .tree:hover {
  color: #000000;
}
#menu-standart ul.menu-v li:hover {
  background: #77b943;
}
#menu-standart ul.menu-v ul {
  display: none;
  left: 100%;
  top: -1px;
  border-radius: 5px;
  color: #465f25;
  text-shadow: 0 1px #d9f3b5;
  background: #94d362;
  border-color: #91ce5e #7ab04b #5e903f;
  background-image: -webkit-linear-gradient(top, #c0eb85 0%, #94d362 70%, #8ed258 100%);
  background-image: -moz-linear-gradient(top, #c0eb85 0%, #94d362 70%, #8ed258 100%);
  background-image: -o-linear-gradient(top, #c0eb85 0%, #94d362 70%, #8ed258 100%);
  background-image: linear-gradient(top bottom, #c0eb85 0%, #94d362 70%, #8ed258 100%);
  -webkit-box-shadow: inset 0 1px #d9f3b5, inset 0 0 0 1px #b1e095, 0 1px #5e903f, 0 3px #6da445, 0 4px #5e903f, 0 5px 2px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px #d9f3b5, inset 0 0 0 1px #b1e095, 0 1px #5e903f, 0 3px #6da445, 0 4px #5e903f, 0 5px 2px rgba(0, 0, 0, 0.4);
  font-family: 'Roboto-Regular', Arial, serif;
  position: absolute;
  z-index: 13012;
  margin-left: 0;
}
#menu-standart ul.menu-v ul li {
  z-index: 111;
  position: relative;
  width: 250px;
  margin: 0;
}
#menu-standart ul.menu-v ul li a {
  text-transform: none;
  display: block;
  margin: 0;
  border: 0;
}
#menu-standart ul.menu-v li:hover > ul {
  display: block;
  height: auto;
}
/** Standart **/
.menu-h-background {
  border: 1px solid #bfbfbf;
  border-radius: 5px;
  box-shadow: 0 4px 0 #a5a5a5, 0 5px 0 #888686, 0 5px 0 rgba(0, 0, 0, 0);
  background: #F7F7F7;
  background: -moz-linear-gradient(top, #f7f7f7 0%, #ededed 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #ededed));
  background: -webkit-linear-gradient(top, #f7f7f7 0%, #ededed 100%);
  background: -o-linear-gradient(top, #f7f7f7 0%, #ededed 100%);
  background: -ms-linear-gradient(top, #f7f7f7 0%, #ededed 100%);
  background: linear-gradient(top, #f7f7f7 0%, #ededed 100%);
  margin-bottom: 20px;
  position: relative;
}
.home-h {
  float: left;
}
ul.menu-h {
  padding: 0;
  margin: 0;
  font-size: 0;
  font-family: 'Roboto-Regular', serif;
}
ul.menu-h a {
  color: #ffffff;
}
ul.menu-h ul {
  margin: 0;
  padding: 0;
}
ul.menu-h ul ul {
  top: 0 !important;
}
ul.menu-h li.home a {
  padding-left: 15px;
  padding-right: 15px;
}
ul.menu-h li {
  position: relative;
  display: inline-block;
  list-style: none;
}
ul.menu-h li a {
  padding: 10px 12px;
  display: block;
  font-size: 15px;
  text-decoration: none;
  color: #000000;
  border-left: 1px solid #BABABA;
}
ul.menu-h li:first-child a {
  border-left: 0;
}
ul.menu-h .tree a {
  padding-right: 25px;
}
ul.menu-h .tree:after {
  font-family: 'FontAwesome', Arial, serif;
  position: absolute;
  top: 37%;
  right: 10px;
  content: "\f078";
  font-size: 8px;
  color: #000000;
}
ul.menu-h ul .tree:after {
  color: #000000;
  font-family: 'FontAwesome', Arial, serif;
  position: absolute;
  top: 40%;
  right: 10px;
  content: "\f054";
  font-size: 8px;
}
ul.menu-h .tree:hover {
  color: #063b4d;
}
ul.menu-h li:hover > a {
  color: #000000;
  text-shadow: 0 1px #d9f3b5;
  background: #94d362;
  border-color: #91ce5e #7ab04b #5e903f;
  background-image: -webkit-linear-gradient(top, #c0eb85 0%, #94d362 70%, #8ed258 100%);
  background-image: -moz-linear-gradient(top, #c0eb85 0%, #94d362 70%, #8ed258 100%);
  background-image: -o-linear-gradient(top, #c0eb85 0%, #94d362 70%, #8ed258 100%);
  background-image: linear-gradient(top bottom, #c0eb85 0%, #94d362 70%, #8ed258 100%);
  -webkit-box-shadow: inset 0 1px #d9f3b5, inset 0 0 0 1px #b1e095, 0 1px #5e903f, 0 3px #6da445, 0 4px #5e903f, 0 5px 2px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px #d9f3b5, inset 0 0 0 1px #b1e095, 0 1px #5e903f, 0 3px #6da445, 0 4px #5e903f, 0 5px 2px rgba(0, 0, 0, 0.4);
}
ul.menu-h ul li:hover > a {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-left: 0;
}
ul.menu-h li.home {
  border-right: 1px solid #BABABA;
}
ul.menu-h li.home:first-child:hover > a {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-left: 0;
}
ul.menu-h .tree:hover {
  color: #ffffff;
}
ul.menu-h ul {
  display: none;
  left: 0;
  background: #fff;
  padding: 0;
  position: absolute;
  z-index: 13012;
  margin-left: 0;
  box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.32);
}
ul.menu-h ul li:last-child {
  box-shadow: 0 4px 0 #a5a5a5, 0 5px 0 #888686, 0 5px 0 rgba(0, 0, 0, 0);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
ul.menu-h ul li {
  z-index: 111;
  position: relative;
  width: 100%;
  min-width: 250px;
  margin: 0;
  border-top: 1px solid #aaaaaa;
}
ul.menu-h ul li li {
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
ul.menu-h ul li > li:last-child {
  border-bottom: 0;
}
ul.menu-h ul li a {
  text-transform: none;
  display: block;
  font-size: 14px;
  margin: 0;
  color: #000000;
  box-shadow: none !important;
  border-left: 0;
  border-right: 0;
}
ul.menu-h ul li ul {
  top: -1px;
  left: 100%;
  margin-left: 0;
}
ul.menu-h li:hover > ul {
  display: block;
  height: auto;
}
ul.menu-h .more {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
ul.menu-h .more a {
  padding-right: 15px;
  position: relative;
}
ul.menu-h .more a i {
  position: relative;
}
ul.menu-h .more a i .count {
  position: absolute;
  top: -10px;
  right: -10px;
  background: orangered;
  width: 15px;
  height: 15px;
  text-align: center;
  line-height: 15px;
  color: #ffffff;
  font-size: 10px;
  font-family: 'Roboto-Regular', Arial, serif;
  border-radius: 50%;
}
ul.menu-h .more:after {
  font-family: 'FontAwesome', serif;
  content: " ";
  right: 10px;
  top: 11px;
  position: absolute;
  font-size: 13px;
}
/** Search H **/
.search-h {
  margin: 2px 4px 1px 4px;
  position: relative;
}
.search-h .form-control {
  padding: 4px 0 4px 8px;
  font-size: 13px;
  height: 34px;
}
.search-h .form-control:focus {
  border: 1px solid #868686;
}
/** catalog **/
.showtype-block {
  margin: 20px 0;
}
.showtype .active {
  color: #000000 !important;
  text-shadow: 0 1px #5cab35 !important;
  background: #7bc846 !important;
  border-color: #94d16f #73c03f #5cab35 !important;
  background-image: -webkit-linear-gradient(top, #b4fa9b 0%, #7bd749 70%, #39b733 100%) !important;
  background-image: -moz-linear-gradient(top, #b4fa9b 0%, #7bd749 70%, #39b733 100%) !important;
  background-image: -o-linear-gradient(top, #b4fa9b 0%, #7bd749 70%, #39b733 100%) !important;
  background-image: linear-gradient(top bottom, #b4fa9b 0%, #7bd749 70%, #39b733 100%) !important;
  -webkit-box-shadow: inset 0 1px #d1fdc5, inset 0 0 0 1px #aaeb8a, 0 1px #5cab35, 0 3px #29aa0b, 0 4px #5cab35 !important;
  box-shadow: inset 0 1px #d1fdc5, inset 0 0 0 1px #aaeb8a, 0 1px #5cab35, 0 3px #29aa0b, 0 4px #5cab35, 0 5px 2px rgba(0, 0, 0, 0.4) !important;
}
/* Category filter */
#product-list {
  margin-bottom: 20px;
}
.filters-background {
  border-radius: 5px;
  box-shadow: 0 4px 0 #a5a5a5, 0 5px 0 #888686, 0 5px 0 rgba(0, 0, 0, 0);
  border: 1px solid #bfbfbf;
  padding-bottom: 20px;
}
.filter .panel-default {
  margin-bottom: 20px;
}
.filter .filtergroup {
  margin-bottom: 0;
}
.filter .filtergroup:first-child .panel-body {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.filter .filtergroup .slider {
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}
.filter .filtergroup .slider .pricehint {
  text-align: left;
  margin: 10px 10px -10px 10px;
  font-size: 10px;
  color: #000000;
}
.filter .filtergroup .slider .min,
.filter .filtergroup .slider .max {
  width: 25%;
}
.filter .filtergroup .slider input[type="text"] {
  text-align: center;
  color: #000000;
  border: 1px solid #cccccc;
  font-family: 'Roboto-Regular', Arial, serif;
}
.filter .filtergroup label {
  color: #000000;
}
.filter .panel-default {
  border-bottom: 1px solid #e5e5e5;
}
.filter .panel-body {
  border-bottom: 1px solid #e5e5e5;
  font-size: 14px;
  padding: 10px 10px;
  background: #f6f6f6;
  cursor: pointer;
  position: relative;
}
.filter .panel-body .icon {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #373a3c;
}
.filter .panel-body {
  color: #373a3c;
  font-size: 16px;
  font-family: 'Roboto-Medium', Arial, serif;
}
.filter .panel-body:hover {
  color: #29aa0b;
}
.filter .checkboxfilter {
  padding: 0 10px;
  font-size: 14px;
}
.filter .checkboxfilter:last-child {
  margin-bottom: 20px;
}
.filter .diaposon {
  margin: 20px 0;
}
.filter .filter-slider {
  margin: 20px 10px 30px 20px;
}
.filter .radio,
.filter .checkbox {
  margin: 3px 0;
}
.filter .checkbox,
.filter .radio {
  position: relative;
  margin-left: 20px !important;
  padding: 0;
}
.clearfilter {
  margin-top: 20px;
}
.text-right {
  text-align: right;
}
.ui-slider {
  position: relative;
}
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 10px;
  height: 15px;
  font-weight: bold;
  background: #29aa0b;
  cursor: pointer;
  outline: 0;
  border: 1px solid #6da445;
  background: #a2db6d;
}
.ui-slider .ui-slider-handle:focus {
  outline: 0;
}
.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  overflow: hidden;
}
.ui-slider-horizontal {
  height: 4px;
}
.ui-slider-horizontal .ui-slider-handle {
  top: -6px;
  margin-left: -9px;
}
.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}
.ui-widget-content {
  background: #ccc;
}
.ui-widget-header {
  border-bottom: 0;
  background: #afe278;
}
.ui-corner-all {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
/* Dialog */
#dialog-callback .header {
  margin-top: 10px !important;
}
.dialog {
  display: none;
}
.dialog .loading {
  position: fixed;
  left: 50%;
  top: 30%;
  transform: translate(-50%, 0);
  background: #ffffff;
  width: 70px;
  height: 70px;
  z-index: 10000;
  border-radius: 4px;
  background-image: url(img/loading.gif);
  background-repeat: no-repeat;
  background-position: center center;
}
.dialog-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000000;
  opacity: 0.7;
  filter: alpha(opacity=70);
  z-index: 10000;
}
.dialog-window .cart {
  position: fixed;
  top: 10%;
  max-height: 550px;
  overflow-y: auto;
  overflow-x: hidden;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: 10000;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  text-align: left;
  width: 700px;
  bottom: 15%;
  background: #ffffff;
  padding: 30px 10px;
  border-radius: 4px;
}
.dialog-window .dialog-close {
  position: absolute;
  text-decoration: none;
  z-index: 10001;
  color: #000000 !important;
  text-shadow: 0 1px #5cab35 !important;
  background: #7bc846 !important;
  border-color: #94d16f #73c03f #5cab35 !important;
  background-image: -webkit-linear-gradient(top, #b4fa9b 0%, #7bd749 70%, #39b733 100%) !important;
  background-image: -moz-linear-gradient(top, #b4fa9b 0%, #7bd749 70%, #39b733 100%) !important;
  background-image: -o-linear-gradient(top, #b4fa9b 0%, #7bd749 70%, #39b733 100%) !important;
  background-image: linear-gradient(top bottom, #b4fa9b 0%, #7bd749 70%, #39b733 100%) !important;
  -webkit-box-shadow: inset 0 1px #d1fdc5, inset 0 0 0 1px #aaeb8a, 0 1px #5cab35, 0 3px #29aa0b, 0 4px #5cab35 !important;
  box-shadow: inset 0 1px #d1fdc5, inset 0 0 0 1px #aaeb8a, 0 1px #5cab35, 0 3px #29aa0b, 0 4px #5cab35, 0 5px 2px rgba(0, 0, 0, 0.4) !important;
  width: 30px;
  height: 30px;
  right: 10px;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  top: 10px;
  color: #ffffff;
}
/** Callback **/
.dialog-callback {
  display: none;
}
.dialog-callback .loading {
  position: fixed;
  left: 50%;
  top: 30%;
  transform: translate(-50%, 0);
  background: #ffffff;
  width: 70px;
  height: 70px;
  z-index: 10000;
  border-radius: 4px;
  background-image: url(img/loading.gif);
  background-repeat: no-repeat;
  background-position: center center;
}
.dialog-callback .dialog-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000000;
  opacity: 0.7;
  filter: alpha(opacity=70);
  z-index: 10000;
}
.dialog-callback .dialog-window .cart {
  position: fixed;
  top: 10%;
  max-height: 550px;
  overflow-y: auto;
  overflow-x: hidden;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: 10000;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  text-align: left;
  width: 700px;
  bottom: 15%;
  background: #ffffff;
  padding: 30px 30px;
  border-radius: 4px;
}
.dialog-callback .dialog-window .dialog-close {
  position: absolute;
  text-decoration: none;
  z-index: 10001;
  color: #000000 !important;
  text-shadow: 0 1px #5cab35 !important;
  background: #7bc846 !important;
  border-color: #94d16f #73c03f #5cab35 !important;
  background-image: -webkit-linear-gradient(top, #b4fa9b 0%, #7bd749 70%, #39b733 100%) !important;
  background-image: -moz-linear-gradient(top, #b4fa9b 0%, #7bd749 70%, #39b733 100%) !important;
  background-image: -o-linear-gradient(top, #b4fa9b 0%, #7bd749 70%, #39b733 100%) !important;
  background-image: linear-gradient(top bottom, #b4fa9b 0%, #7bd749 70%, #39b733 100%) !important;
  -webkit-box-shadow: inset 0 1px #d1fdc5, inset 0 0 0 1px #aaeb8a, 0 1px #5cab35, 0 3px #29aa0b, 0 4px #5cab35 !important;
  box-shadow: inset 0 1px #d1fdc5, inset 0 0 0 1px #aaeb8a, 0 1px #5cab35, 0 3px #29aa0b, 0 4px #5cab35, 0 5px 2px rgba(0, 0, 0, 0.4) !important;
  width: 30px;
  height: 30px;
  right: 10px;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  top: 10px;
  color: #ffffff;
}
/** Input text **/
input[type="text"] {
  padding: 4px;
  font-size: 1rem;
  line-height: 1.5;
  color: #55595c;
  background: #ffffff none;
  border: 1px solid #ccc;
  border-radius: .25rem;
}
/** Button **/
.btn {
  padding: 2px 10px;
  text-decoration: none;
}
.to-cart,
.to-back {
  display: block;
  margin: 15px 0;
  font-size: 17px;
  font-family: 'Roboto-Regular', Arial, serif;
}
.to-cart a,
.to-back a {
  padding: 2px 10px;
}
textarea {
  border: 1px solid #bfbfbf;
  background: #ffffff;
}
button,
input[type="submit"] {
  font-family: 'Roboto-Regular', Arial, serif;
  margin: 0 0 5px;
  padding: 4px 10px;
  font-size: 17px;
  text-decoration: none;
  border-width: 1px 1px 0;
  border-style: solid;
  border-radius: 3px 3px 2px 2px;
  display: inline-block;
  vertical-align: baseline;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  color: #f1f1f1;
  text-shadow: 0 1px #111;
  background: #4f4f4f;
  border-color: #505050 #414141 #2c2c2c;
  background-image: -webkit-linear-gradient(top, #696969 0%, #4f4f4f 70%, #3c3c3c 100%);
  background-image: -moz-linear-gradient(top, #696969 0%, #4f4f4f 70%, #3c3c3c 100%);
  background-image: -o-linear-gradient(top, #696969 0%, #4f4f4f 70%, #3c3c3c 100%);
  background-image: linear-gradient(top bottom, #696969 0%, #4f4f4f 70%, #3c3c3c 100%);
  -webkit-box-shadow: inset 0 1px #828282, inset 0 0 0 1px #555555, 0 1px #2c2c2c, 0 3px #444444, 0 4px #2c2c2c, 0 5px 2px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px #828282, inset 0 0 0 1px #555555, 0 1px #2c2c2c, 0 3px #444444, 0 4px #2c2c2c, 0 5px 2px rgba(0, 0, 0, 0.4);
}
button .fa-shopping-cart,
input[type="submit"] .fa-shopping-cart {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #bfbfbf;
}
button:hover,
input[type="submit"]:hover {
  background: #505050;
}
button:disabled .fa-shopping-cart,
input[type="submit"]:disabled .fa-shopping-cart {
  border-right: 1px solid #bfbfbf;
}
button:disabled,
input[type="submit"]:disabled,
.btn:disabled {
  cursor: not-allowed;
  background-color: #bfbfbf;
  color: #858585;
  text-shadow: 0 1px #fff;
  text-decoration: none;
  border: 1px solid #bfbfbf;
  border-bottom: 1px solid #ffffff;
  background-position: top;
  background-image: -webkit-linear-gradient(top, #f1f1f1 0%, #dfdfdf 70%, #dadada 100%);
  background-image: -moz-linear-gradient(top, #f1f1f1 0%, #dfdfdf 70%, #dadada 100%);
  background-image: -o-linear-gradient(top, #f1f1f1 0%, #dfdfdf 70%, #dadada 100%);
  background-image: linear-gradient(top bottom, #f1f1f1 0%, #dfdfdf 70%, #dadada 100%);
  -webkit-box-shadow: inset 0 1px #fdfdfd, inset 0 0 0 1px #eaeaea, 0 1px #a8a8a8, 0 3px #bbbbbb, 0 4px #a8a8a8, 0 5px 2px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px #fdfdfd, inset 0 0 0 1px #eaeaea, 0 1px #a8a8a8, 0 3px #bbbbbb, 0 4px #a8a8a8, 0 5px 2px rgba(0, 0, 0, 0.25);
}
button:active,
input[type="submit"]:active,
.btn:active,
.btn-primary:active {
  box-shadow: none !important;
}
button:disabled:active,
input[type="submit"]:disabled:active,
.btn:disabled:active {
  box-shadow: inset 0 1px #fdfdfd, inset 0 0 0 1px #eaeaea, 0 1px #a8a8a8, 0 3px #bbbbbb, 0 4px #a8a8a8, 0 5px 2px rgba(0, 0, 0, 0.25) !important;
}
.btn.blue {
  color: #f1f1f1;
  text-shadow: 0 1px #111;
  background: #4f4f4f;
  border-color: #505050 #414141 #2c2c2c;
  background-image: -webkit-linear-gradient(top, #696969 0%, #4f4f4f 70%, #3c3c3c 100%);
  background-image: -moz-linear-gradient(top, #696969 0%, #4f4f4f 70%, #3c3c3c 100%);
  background-image: -o-linear-gradient(top, #696969 0%, #4f4f4f 70%, #3c3c3c 100%);
  background-image: linear-gradient(top bottom, #696969 0%, #4f4f4f 70%, #3c3c3c 100%);
  -webkit-box-shadow: inset 0 1px #828282, inset 0 0 0 1px #555555, 0 1px #2c2c2c, 0 3px #444444, 0 4px #2c2c2c, 0 5px 2px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px #828282, inset 0 0 0 1px #555555, 0 1px #2c2c2c, 0 3px #444444, 0 4px #2c2c2c, 0 5px 2px rgba(0, 0, 0, 0.4);
}
.btn.blue:hover,
.btn.blue:active {
  background: #505050;
  border-color: #414141;
}
.btn.red {
  color: #714667;
  text-shadow: 0 1px #f2c5e6;
  background: #e393d3;
  border-color: #e391d0 #c27ab3 #8a517d;
  background-image: -webkit-linear-gradient(top, #f1bee3 0%, #e393d3 70%, #df8dce 100%);
  background-image: -moz-linear-gradient(top, #f1bee3 0%, #e393d3 70%, #df8dce 100%);
  background-image: -o-linear-gradient(top, #f1bee3 0%, #e393d3 70%, #df8dce 100%);
  background-image: linear-gradient(top bottom, #f1bee3 0%, #e393d3 70%, #df8dce 100%);
  -webkit-box-shadow: inset 0 1px #f5d6ee, inset 0 0 0 1px #dcaacf, 0 1px #8a517d, 0 3px #a7619a, 0 4px #8a517d, 0 5px 2px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px #f5d6ee, inset 0 0 0 1px #dcaacf, 0 1px #8a517d, 0 3px #a7619a, 0 4px #8a517d, 0 5px 2px rgba(0, 0, 0, 0.4);
}
.btn.red:hover,
.btn.red:active {
  background: #c27ab3;
  border-top-color: #8a517d;
}
.btn.gray {
  background-color: #bfbfbf;
  color: #444444;
  text-shadow: 0 1px #fff;
  text-decoration: none;
  border: 1px solid #bfbfbf;
  border-bottom: 1px solid #ffffff;
  background-position: top;
  background-image: -webkit-linear-gradient(top, #f1f1f1 0%, #dfdfdf 70%, #dadada 100%);
  background-image: -moz-linear-gradient(top, #f1f1f1 0%, #dfdfdf 70%, #dadada 100%);
  background-image: -o-linear-gradient(top, #f1f1f1 0%, #dfdfdf 70%, #dadada 100%);
  background-image: linear-gradient(top bottom, #f1f1f1 0%, #dfdfdf 70%, #dadada 100%);
  -webkit-box-shadow: inset 0 1px #fdfdfd, inset 0 0 0 1px #eaeaea, 0 1px #a8a8a8, 0 3px #bbbbbb, 0 4px #a8a8a8, 0 5px 2px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px #fdfdfd, inset 0 0 0 1px #eaeaea, 0 1px #a8a8a8, 0 3px #bbbbbb, 0 4px #a8a8a8, 0 5px 2px rgba(0, 0, 0, 0.25);
}
.btn.gray:hover,
.btn.gray:active {
  background: #dfdfdf;
  border-color: #bfbfbf;
}
button:disabled:focus,
input[type="submit"]:disabled:focus,
.btn:disabled:focus {
  box-shadow: inset 0 1px #fdfdfd, inset 0 0 0 1px #eaeaea, 0 1px #a8a8a8, 0 3px #bbbbbb, 0 4px #a8a8a8, 0 5px 2px rgba(0, 0, 0, 0.25) !important;
}
/** Footer **/
.footer {
  background: -moz-linear-gradient(top, #4d4d4d 0%, #262626 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4d4d4d), color-stop(100%, #262626));
  background: -webkit-linear-gradient(top, #4d4d4d 0%, #262626 100%);
  background: -o-linear-gradient(top, #4d4d4d 0%, #262626 100%);
  background: -ms-linear-gradient(top, #4d4d4d 0%, #262626 100%);
  background: linear-gradient(top, #4d4d4d 0%, #262626 100%);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin-top: 40px;
  padding: 20px;
  color: #cccccc;
}
.footer .footer-menu {
  margin-bottom: 20px;
}
.footer .footer-menu a {
  color: #cccccc;
}
.footer a {
  color: #cccccc;
}
.footer .currency-toggle {
  color: #000000;
  margin: 10px 0;
  font-size: 14px;
}
.footer .social {
  margin-bottom: 20px;
}
.footer .copyright {
  font-size: 14px;
}
.footer h5 {
  color: #ffffff;
  font-size: 18px;
}
.footer .social .fa {
  margin-right: 5px;
}
.footer .social a {
  color: #ffffff;
  font-size: 14px;
}
/** Single Slider **/
.single-slider {
  width: 100%;
  margin-bottom: 20px;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: inset 0 1px #659a42, inset 0 0 0 1px #659a42, 0 5px #659a42, 0 6px 0 #659a42;
}
.single-slider .btn-primary {
  font-family: 'Roboto-Regular', Arial, serif;
  text-decoration: none;
  padding: 10px;
}
.single-slider .btn-primary .fa {
  margin-left: 10px;
}
.single-slider .image {
  position: relative;
  z-index: 90;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
.single-slider .image {
	  position: relative;
	  z-index: 90;
	  width:350px;
	  height:350px;
	}
}
.single-slider .header {
  font-size: 30px;
  font-family: 'Roboto-Medium', Arial, serif;
  color: #000000;
  width: 450px;
}
.single-slider .text {
  font-size: 18px;
  width: 450px;
}
.single-slider .slider_link {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 111;
}
.slider-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.fraction-slider {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: visible;
}
.fraction-slider .slide {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5000;
}
.fraction-slider .active-slide {
  z-index: 9999;
}
.fraction-slider .fs_obj {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 111;
}
.fraction-slider .fs_fixed_obj {
  z-index: 111;
  left: 0;
}
.fraction-slider .fs_obj * {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
}
.fs_loader {
  width: 100%;
  height: 400px;
  background: url(img/loading.gif) center center no-repeat transparent;
}
/** PAGER **/
.fs-pager-wrapper {
  position: absolute;
  bottom: 0;
  z-index: 9999;
  padding-top: 2px;
  text-align: center;
  text-shadow: 0 1px #d9f3b5;
  background: #94d362;
  border-color: #91ce5e #7ab04b #5e903f;
  background-image: -webkit-linear-gradient(top, #c0eb85 0%, #94d362 70%, #8ed258 100%);
  background-image: -moz-linear-gradient(top, #c0eb85 0%, #94d362 70%, #8ed258 100%);
  background-image: -o-linear-gradient(top, #c0eb85 0%, #94d362 70%, #8ed258 100%);
  background-image: linear-gradient(top bottom, #c0eb85 0%, #94d362 70%, #8ed258 100%);
  -webkit-box-shadow: inset 0 1px #d9f3b5, inset 0 0 0 1px #b1e095, 0 1px #5e903f, 0 3px #6da445, 0 4px #5e903f, 0 5px 2px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px #d9f3b5, inset 0 0 0 1px #b1e095, 0 1px #5e903f, 0 3px #6da445, 0 4px #5e903f, 0 5px 2px rgba(0, 0, 0, 0.4);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 100%;
}
.fs-pager-wrapper a,
.fs-custom-pager-wrapper a {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 0 5px 0 0;
  background: inherit;
  border: 1px solid #ffffff;
  border-radius: 50%;
  outline: 0;
}
.fs-pager-wrapper .active,
.fs-custom-pager-wrapper .active {
  background: #ffffff;
  border-radius: 50%;
  outline: 0;
}
/* This is the default Tooltipster theme (feel free to modify or duplicate and create multiple themes!): */
.tooltipster-default {
  border-radius: 0;
  border: 0;
  background: #000000;
  color: #ffffff;
}
/* Use this next selector to style things like font-size and line-height: */
.tooltipster-default .tooltipster-content {
  font-family: 'Roboto-Regular', Arial, serif;
  font-size: 11px;
  line-height: 16px;
  padding: 8px 10px;
  overflow: hidden;
}
/* This next selector defines the color of the border on the outside of the arrow. This will automatically match the color and size of the border set on the main tooltip styles. Set display: none; if you would like a border around the tooltip but no border around the arrow */
.tooltipster-default .tooltipster-arrow .tooltipster-arrow-border {
  /* border-color: ... !important; */
}
/* If you're using the icon option, use this next selector to style them */
.tooltipster-icon {
  cursor: help;
  margin-left: 4px;
}
/* This is the base styling required to make all Tooltipsters work */
.tooltipster-base {
  padding: 0;
  font-size: 0;
  line-height: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999999;
  width: auto;
  overflow: visible;
}
.tooltipster-base .tooltipster-content {
  overflow: hidden;
}
/* These next classes handle the styles for the little arrow attached to the tooltip. By default, the arrow will inherit the same colors and border as what is set on the main tooltip itself. */
.tooltipster-arrow {
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.tooltipster-arrow span,
.tooltipster-arrow-border {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
}
.tooltipster-arrow-top span,
.tooltipster-arrow-top-right span,
.tooltipster-arrow-top-left span {
  border-left: 8px solid transparent !important;
  border-right: 8px solid transparent !important;
  border-top: 8px solid;
  bottom: -7px;
}
.tooltipster-arrow-top .tooltipster-arrow-border,
.tooltipster-arrow-top-right .tooltipster-arrow-border,
.tooltipster-arrow-top-left .tooltipster-arrow-border {
  border-left: 9px solid transparent !important;
  border-right: 9px solid transparent !important;
  border-top: 9px solid;
  bottom: -7px;
}
.tooltipster-arrow-bottom span,
.tooltipster-arrow-bottom-right span,
.tooltipster-arrow-bottom-left span {
  border-left: 8px solid transparent !important;
  border-right: 8px solid transparent !important;
  border-bottom: 8px solid;
  top: -7px;
}
.tooltipster-arrow-bottom .tooltipster-arrow-border,
.tooltipster-arrow-bottom-right .tooltipster-arrow-border,
.tooltipster-arrow-bottom-left .tooltipster-arrow-border {
  border-left: 9px solid transparent !important;
  border-right: 9px solid transparent !important;
  border-bottom: 9px solid;
  top: -7px;
}
.tooltipster-arrow-top span,
.tooltipster-arrow-top .tooltipster-arrow-border,
.tooltipster-arrow-bottom span,
.tooltipster-arrow-bottom .tooltipster-arrow-border {
  left: 0;
  right: 0;
  margin: 0 auto;
}
.tooltipster-arrow-top-left span,
.tooltipster-arrow-bottom-left span {
  left: 6px;
}
.tooltipster-arrow-top-left .tooltipster-arrow-border,
.tooltipster-arrow-bottom-left .tooltipster-arrow-border {
  left: 5px;
}
.tooltipster-arrow-top-right span,
.tooltipster-arrow-bottom-right span {
  right: 6px;
}
.tooltipster-arrow-top-right .tooltipster-arrow-border,
.tooltipster-arrow-bottom-right .tooltipster-arrow-border {
  right: 5px;
}
.tooltipster-arrow-left span,
.tooltipster-arrow-left .tooltipster-arrow-border {
  border-top: 8px solid transparent !important;
  border-bottom: 8px solid transparent !important;
  border-left: 8px solid;
  top: 50%;
  margin-top: -7px;
  right: -7px;
}
.tooltipster-arrow-left .tooltipster-arrow-border {
  border-top: 9px solid transparent !important;
  border-bottom: 9px solid transparent !important;
  border-left: 9px solid;
  margin-top: -8px;
}
.tooltipster-arrow-right span,
.tooltipster-arrow-right .tooltipster-arrow-border {
  border-top: 8px solid transparent !important;
  border-bottom: 8px solid transparent !important;
  border-right: 8px solid;
  top: 50%;
  margin-top: -7px;
  left: -7px;
}
.tooltipster-arrow-right .tooltipster-arrow-border {
  border-top: 9px solid transparent !important;
  border-bottom: 9px solid transparent !important;
  border-right: 9px solid;
  margin-top: -8px;
}
/* Some CSS magic for the awesome animations - feel free to make your own custom animations and reference it in your Tooltipster settings! */
.tooltipster-fade {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.tooltipster-fade-show {
  opacity: 1;
}
.tooltipster-grow {
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  -webkit-backface-visibility: hidden;
}
.tooltipster-grow-show {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
}
.tooltipster-swing {
  opacity: 0;
  -webkit-transform: rotateZ(4deg);
  -moz-transform: rotateZ(4deg);
  -o-transform: rotateZ(4deg);
  -ms-transform: rotateZ(4deg);
  transform: rotateZ(4deg);
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
}
.tooltipster-swing-show {
  opacity: 1;
  -webkit-transform: rotateZ(0deg);
  -moz-transform: rotateZ(0deg);
  -o-transform: rotateZ(0deg);
  -ms-transform: rotateZ(0deg);
  transform: rotateZ(0deg);
  -moz-transition-timing-function: cubic-bezier(0.23, 0.635, 0.495, 2.4);
  -o-transition-timing-function: cubic-bezier(0.23, 0.635, 0.495, 2.4);
  transition-timing-function: cubic-bezier(0.23, 0.635, 0.495, 2.4);
}
.tooltipster-fall {
  top: 0;
  -webkit-transition-property: top;
  -moz-transition-property: top;
  -o-transition-property: top;
  transition-property: top;
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
}
.tooltipster-fall.tooltipster-dying {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  top: 0 !important;
  opacity: 0;
}
.tooltipster-slide {
  left: -40px;
  -webkit-transition-property: left;
  -moz-transition-property: left;
  -o-transition-property: left;
  transition-property: left;
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
}
.tooltipster-slide.tooltipster-dying {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  left: 0 !important;
  opacity: 0;
}
/* CSS transition for when contenting is changing in a tooltip that is still open. The only properties that will NOT transition are: width, height, top, and left */
.tooltipster-content-changing {
  opacity: 0.5;
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
/** Tabs **/
ul.product-nav {
  margin: 0;
  padding: 0;
  margin-top: 35px;
  padding-bottom: 11px;
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 16px;
}
ul.product-nav li {
  list-style: none;
  display: inline-block;
}
ul.product-nav li a {
  display: inline;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #bfbfbf;
  color: #444444;
  padding: 10px 18px 9px 18px;
  text-decoration: none;
  border: 1px solid #bfbfbf;
  border-bottom: 1px solid #ffffff;
  background-position: top;
  background-image: -webkit-linear-gradient(top, #f1f1f1 0%, #dfdfdf 70%, #dadada 100%);
  background-image: -moz-linear-gradient(top, #f1f1f1 0%, #dfdfdf 70%, #dadada 100%);
  background-image: -o-linear-gradient(top, #f1f1f1 0%, #dfdfdf 70%, #dadada 100%);
  background-image: linear-gradient(top bottom, #f1f1f1 0%, #dfdfdf 70%, #dadada 100%);
  -webkit-box-shadow: inset 0 1px #fdfdfd, inset 0 0 0 1px #eaeaea, 0 1px #a8a8a8, 0 3px #bbbbbb, 0 4px #a8a8a8;
  box-shadow: inset 0 1px #fdfdfd, inset 0 0 0 1px #eaeaea, 0 1px #a8a8a8, 0 3px #bbbbbb, 0 4px #a8a8a8;
}
ul.product-nav li a:hover {
  color: #714667;
  text-shadow: 0 1px #f2c5e6;
  background: #e393d3;
  border-color: #e391d0 #c27ab3 #8a517d;
  background-image: -webkit-linear-gradient(top, #f1bee3 0%, #e393d3 70%, #df8dce 100%);
  background-image: -moz-linear-gradient(top, #f1bee3 0%, #e393d3 70%, #df8dce 100%);
  background-image: -o-linear-gradient(top, #f1bee3 0%, #e393d3 70%, #df8dce 100%);
  background-image: linear-gradient(top bottom, #f1bee3 0%, #e393d3 70%, #df8dce 100%);
  -webkit-box-shadow: inset 0 1px #f5d6ee, inset 0 0 0 1px #dcaacf, 0 1px #8a517d, 0 3px #a7619a, 0 4px #8a517d, 0 5px 2px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px #f5d6ee, inset 0 0 0 1px #dcaacf, 0 1px #8a517d, 0 3px #a7619a, 0 4px #8a517d, 0 5px 2px rgba(0, 0, 0, 0.4);
}
ul.product-nav .selected a {
  color: #714667;
  text-shadow: 0 1px #f2c5e6;
  background: #e393d3;
  border-color: #e391d0 #c27ab3 #8a517d;
  background-image: -webkit-linear-gradient(top, #f1bee3 0%, #e393d3 70%, #df8dce 100%);
  background-image: -moz-linear-gradient(top, #f1bee3 0%, #e393d3 70%, #df8dce 100%);
  background-image: -o-linear-gradient(top, #f1bee3 0%, #e393d3 70%, #df8dce 100%);
  background-image: linear-gradient(top bottom, #f1bee3 0%, #e393d3 70%, #df8dce 100%);
  -webkit-box-shadow: inset 0 1px #f5d6ee, inset 0 0 0 1px #dcaacf, 0 1px #8a517d, 0 3px #a7619a, 0 4px #8a517d, 0 5px 2px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px #f5d6ee, inset 0 0 0 1px #dcaacf, 0 1px #8a517d, 0 3px #a7619a, 0 4px #8a517d, 0 5px 2px rgba(0, 0, 0, 0.4);
}
.product-nav-block {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 4px 0 #a5a5a5, 0 5px 0 #888686, 0 5px 0 rgba(0, 0, 0, 0);
  border: 1px solid #ccc;
  padding: 20px;
}
/** Breadcrumbs ***/
.breadcrumbs {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  list-style: none;
  font-size: 12px;
}
.breadcrumbs li {
  display: inline-block;
}
.breadcrumbs li .fa {
  font-size: 12px;
  margin-right: 5px;
  color: #787878;
}
/** Plugin **/
#leftside-plugin {
  margin-top: 30px;
}
#leftside-plugin .inner {
  border-radius: 5px;
  box-shadow: 0 4px 0 #a5a5a5, 0 5px 0 #888686, 0 5px 0 rgba(0, 0, 0, 0);
  border: 1px solid #ccc;
  padding: 15px;
}
#leftside-plugin .inner h4 {
  font-size: 16px;
}
#leftside-plugin .menu-v {
  border: 0;
  padding: 0;
  margin: 0;
  list-style: none;
}
#leftside-plugin .menu-v li a {
  color: #29aa0b;
  font-family: 'Roboto-Regular', Arial, serif;
  font-size: 14px;
}
#leftside-plugin .menu-v li a:hover {
  background: #ffffff;
  border: 0;
}
/** Ajax search **/
.input-group.search-h {
  position: relative;
}
.cart_ajax {
  position: absolute;
  z-index: 122120;
  background: #ffffff;
  width: 300px !important;
  display: none;
  margin-left: -140px;
  -webkit-box-shadow: 0 0 13px 0 rgba(50, 50, 50, 0.31);
  -moz-box-shadow: 0 0 13px 0 rgba(50, 50, 50, 0.31);
  box-shadow: 0 0 13px 0 rgba(50, 50, 50, 0.31);
}
.block-cell-text form {
  position: relative;
}
.ajax_search_header {
  padding: 10px;
  color: #714667;
  text-shadow: 0 1px #f2c5e6;
  background: #e393d3;
  border-color: #e391d0 #c27ab3 #8a517d;
  background-image: -webkit-linear-gradient(top, #f1bee3 0%, #e393d3 70%, #df8dce 100%);
  background-image: -moz-linear-gradient(top, #f1bee3 0%, #e393d3 70%, #df8dce 100%);
  background-image: -o-linear-gradient(top, #f1bee3 0%, #e393d3 70%, #df8dce 100%);
  background-image: linear-gradient(top bottom, #f1bee3 0%, #e393d3 70%, #df8dce 100%);
  -webkit-box-shadow: inset 0 1px #f5d6ee, inset 0 0 0 1px #dcaacf, 0 1px #8a517d, 0 3px #a7619a, 0 4px #8a517d, 0 5px 2px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px #f5d6ee, inset 0 0 0 1px #dcaacf, 0 1px #8a517d, 0 3px #a7619a, 0 4px #8a517d, 0 5px 2px rgba(0, 0, 0, 0.4);
}
.loading_ajax {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 10px;
  left: -20px;
  z-index: 10;
  background-image: url("img/loading.gif");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.ajax_search {
  display: table;
  width: 100%;
  border-bottom: 1px solid #eeeeee;
}
.ajax_row {
  display: table-row;
}
.ajax_block .ajax_search_link {
  padding: 3px 0 8px 0;
  background-color: #bfbfbf;
  color: #444444;
  text-shadow: 0 1px #fff;
  text-decoration: none;
  border: 1px solid #bfbfbf;
  border-bottom: 1px solid #ffffff;
  background-position: top;
  background-image: -webkit-linear-gradient(top, #f1f1f1 0%, #dfdfdf 70%, #dadada 100%);
  background-image: -moz-linear-gradient(top, #f1f1f1 0%, #dfdfdf 70%, #dadada 100%);
  background-image: -o-linear-gradient(top, #f1f1f1 0%, #dfdfdf 70%, #dadada 100%);
  background-image: linear-gradient(top bottom, #f1f1f1 0%, #dfdfdf 70%, #dadada 100%);
  -webkit-box-shadow: inset 0 1px #fdfdfd, inset 0 0 0 1px #eaeaea, 0 1px #a8a8a8, 0 3px #bbbbbb, 0 4px #a8a8a8, 0 5px 2px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px #fdfdfd, inset 0 0 0 1px #eaeaea, 0 1px #a8a8a8, 0 3px #bbbbbb, 0 4px #a8a8a8, 0 5px 2px rgba(0, 0, 0, 0.25);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.ajax_block .ajax_search_link a {
  color: #000000;
  font-size: 14px;
}
.ajax_row .image {
  width: 50px;
}
.ajax_row .image img {
  width: 50px;
  padding: 6px;
}
.ajax_row .name {
  line-height: 14px;
  padding: 6px;
  font-family: 'Roboto-Regular', Arial, serif;
}
.ajax_row .name .price {
  margin-top: 5px;
  font-family: 'Roboto-Medium', Arial, serif;
}
.ajax_row .name s {
  color: #8e8e8e;
  font-weight: normal;
}
.ajax_cell {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  width: 100%;
}
#scroller {
  position: fixed;
  bottom: 30px;
  right: 20px;
  cursor: pointer;
  display: none;
  padding: 0 10px 3px 10px;
  background-color: #bfbfbf;
  color: #444444;
  text-shadow: 0 1px #fff;
  text-decoration: none;
  border: 1px solid #bfbfbf;
  border-bottom: 1px solid #ffffff;
  background-position: top;
  background-image: -webkit-linear-gradient(top, #f1f1f1 0%, #dfdfdf 70%, #dadada 100%);
  background-image: -moz-linear-gradient(top, #f1f1f1 0%, #dfdfdf 70%, #dadada 100%);
  background-image: -o-linear-gradient(top, #f1f1f1 0%, #dfdfdf 70%, #dadada 100%);
  background-image: linear-gradient(top bottom, #f1f1f1 0%, #dfdfdf 70%, #dadada 100%);
  -webkit-box-shadow: inset 0 1px #fdfdfd, inset 0 0 0 1px #eaeaea, 0 1px #a8a8a8, 0 3px #bbbbbb, 0 4px #a8a8a8, 0 5px 2px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px #fdfdfd, inset 0 0 0 1px #eaeaea, 0 1px #a8a8a8, 0 3px #bbbbbb, 0 4px #a8a8a8, 0 5px 2px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  font-size: 24px;
}
#scroller:hover {
  border: 1px solid #dadada;
}
.plugins-left {
  border-radius: 5px;
  box-shadow: 0 4px 0 #a5a5a5, 0 5px 0 #888686, 0 5px 0 rgba(0, 0, 0, 0);
  border: 1px solid #ccc;
  padding: 15px;
  list-style: none;
  margin-bottom: 20px;
}
.plugins-left .tree a {
  margin-bottom: 5px;
  display: block;
  font-family: 'Roboto-Medium', Arial;
}
.plugins-left li {
  font-size: 22px;
}
.plugins-left li a {
  text-decoration: none;
  color: #000000;
  padding-bottom: 10px;
}
.plugins-left li .menu-v {
  margin: 0;
  padding: 0;
  list-style: none;
}
.plugins-left li .menu-v li {
  font-size: 14px;
  padding-left: 20px;
  margin-bottom: 5px;
}
.plugins-left li .menu-v li a {
  text-decoration: underline;
}
.plugins-left li .tags {
  font-size: 14px;
  margin-top: 0;
}
@media (max-width: 767px) {
  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  tr:first-child {
    border-top: 1px solid #ccc;
  }
  tr {
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }
  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  .product-nav {
    padding-bottom: 5px;
  }
  .product-nav li a {
    padding: 4px 4px;
  }
  .category-name {
    font-size: 24px;
    margin-top: 20px;
  }
  #leftside-plugin {
    display: none;
  }
  .dialog,
  .dialog-callback {
    display: none;
  }
  .dialog .loading,
  .dialog-callback .loading {
    position: fixed;
    left: 50%;
    top: 30%;
    transform: translate(-50%, 0);
    background: #ffffff;
    width: 70px;
    height: 70px;
    z-index: 10000;
    border-radius: 4px;
    background-image: url(img/loading.gif);
    background-repeat: no-repeat;
    background-position: center center;
  }
  .dialog-background,
  .dialog-callback .dialog-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000;
    opacity: 0.7;
    filter: alpha(opacity=70);
    z-index: 9999;
  }
  .dialog-window .cart,
  .dialog-callback .dialog-window .cart {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: 10000;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    text-align: left;
    width: 100%;
    bottom: 15%;
    background: #ffffff;
    padding: 30px 10px;
    max-height: 100%;
    border-radius: 0;
  }
  .dialog-window .dialog-close {
    position: absolute;
    text-decoration: none;
    z-index: 10001;
    background: #888888;
    width: 30px;
    height: 30px;
    right: 10px;
    top: 10px;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
  }
  .dialog-window .col-sm-6 {
    width: 100%;
  }
  .breadcrumb {
    display: none;
  }
  .header .logo img {
    width: auto;
  }
  .slider {
    margin-top: 30px;
  }
  .slider h3 {
    font-size: 18px;
  }
  h3 {
    font-size: 18px;
  }
  .header .col-lg-3 {
    line-height: 15px;
    font-size: 12px;
    border-right: 0;
  }
  .header .col-lg-3 .fa {
    padding: 7px 5px;
    font-size: 14px;
    text-align: center;
    position: relative;
  }
  .header .col-lg-3 .fa-shopping-cart .cart-count {
    position: absolute;
    top: -9px;
    right: -16px;
    background: #a0e37c;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 15px;
    color: #000000;
    font-size: 10px;
    font-family: 'Roboto-Medium', Arial, serif;
    border-radius: 50%;
  }
  .header .header-align p {
    margin-bottom: 3px;
  }
  .header .header-align .phone-number,
  .header .header-align .cart-total,
  .header .header-align .account {
    font-size: 14px;
    font-family: 'Roboto-Medium', Arial, serif;
  }
  .header .header-align .account {
    margin-top: 5px;
  }
  .header .header-align .account-link a {
    margin-right: 10px;
  }
  .header .header-align a {
    font-size: 12px;
  }
  .header .header-align .work-time {
    font-size: 10px;
    margin-top: 2px;
  }
  .header .header-align .cart-text {
    font-size: 13px;
    margin-left: 10px;
    font-family: 'Roboto-Medium', Arial, serif;
  }
  .header .header-align .left-padding {
    position: absolute;
    top: 5px;
    margin-left: 55px;
    display: block;
  }
  .header .header-align .left-padding span {
    display: block;
    margin-bottom: 2px;
  }
  .category-page-block {
    display: none;
  }
  .slider h3 {
    width: 200px;
  }
  .product .articul {
    margin-top: 20px;
  }
  .product .product-gallery {
    margin-top: 20px;
    text-align: center;
  }
  .product .product-nav {
    padding-bottom: 5px;
  }
  .product .product-nav li a {
    padding: 4px 4px;
  }
}
.mobile-account {
  width: 100%;
  background-color: #bfbfbf;
  color: #444444;
  text-shadow: 0 1px #fff;
  text-decoration: none;
  border: 1px solid #bfbfbf;
  border-bottom: 1px solid #ffffff;
  background-position: top;
  background-image: -webkit-linear-gradient(top, #f1f1f1 0%, #dfdfdf 70%, #dadada 100%);
  background-image: -moz-linear-gradient(top, #f1f1f1 0%, #dfdfdf 70%, #dadada 100%);
  background-image: -o-linear-gradient(top, #f1f1f1 0%, #dfdfdf 70%, #dadada 100%);
  background-image: linear-gradient(top bottom, #f1f1f1 0%, #dfdfdf 70%, #dadada 100%);
  -webkit-box-shadow: inset 0 1px #fdfdfd, inset 0 0 0 1px #eaeaea, 0 1px #a8a8a8, 0 3px #bbbbbb, 0 4px #a8a8a8, 0 5px 2px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px #fdfdfd, inset 0 0 0 1px #eaeaea, 0 1px #a8a8a8, 0 3px #bbbbbb, 0 4px #a8a8a8, 0 5px 2px rgba(0, 0, 0, 0.25);
  font-size: 12px;
  padding: 5px 0;
}
.mobile-account div {
  display: inline-block;
  margin-right: 10px;
}
.mobile-account div a {
  margin-right: 10px;
}
.account-border {
  border-left: 1px dotted #bababa;
}
.clear-main {
  margin-bottom: 30px;
}
/** Product **/
.product .articul {
  font-size: 12px;
  color: #858585;
  margin-bottom: 10px;
}
.product h1 {
  font-size: 24px;
  font-family: 'Roboto-Medium', Arial, serif;
}
.product .stocks {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 13px;
}
.product .stocks .fa {
  padding-right: 5px;
  font-size: 11px;
}
.product .stocks .red {
  color: #e00 !important;
}
.product .stocks .stock-critical {
  color: #e00;
}
.product .stocks .stock-low {
  color: #a80;
}
.product .stocks .stock-high {
  color: #59B210;
}
.product .stocks .stock-none {
  color: #aaa;
  white-space: normal;
}
.product .stocks .icon16 {
  margin-top: 0.1em;
}
.product .add2cart {
  margin: 20px 0;
  font-size: 22px;
}
.product .add2cart .compare-at-price {
  color: #a7a7a7;
  font-family: 'Roboto-Light', Arial, serif;
}
.product .add2cart .price {
  font-family: 'Roboto-Medium', Arial, serif;
}
.product .summary {
  line-height: 18px;
}
.product .services .checkbox input[type="checkbox"] {
  margin-left: 0;
  position: relative;
  margin-right: 5px;
}
.product .more-images {
  display: block;
}
.product .more-images .image {
  margin-top: 20px;
  border: 3px solid #dadada;
  display: inline-block;
  width: 90px;
}
.product .more-images .image img {
  max-width: 80px;
  padding: 1px;
  margin: 2px;
}
.product #product-gallery {
  width: 100%;
}
.product #product-gallery .selected {
  position: relative;
  border: 3px solid #29aa0b;
  font-weight: bold;
}
.product #product-core-image {
  text-align: center;
  position: relative;
}
.product .sub {
  margin-top: 20px;
  font-size: 11px;
}
.product .sub a {
  color: #888888;
}
.product ul.skus {
  list-style: none;
  padding-left: 2px;
}
.product ul.skus li {
  padding-bottom: 3px;
  font-family: 'Roboto-Regular', Arial, serif;
}
.product ul.skus li span {
  font-family: 'Roboto-Medium', Arial, serif;
}
.product ul.skus li .articul {
  font-family: 'Roboto-Regular', Arial, serif;
}
.product ul.skus li .price {
  font-family: 'Roboto-Medium', Arial, serif;
}
.product .badge {
  font-size: 15px;
}
.product .add-review a {
  font-size: 13px;
  text-decoration: none;
  border-bottom: 1px dotted #29aa0b;
}
.product .options {
  line-height: 2em;
  margin-bottom: 20px;
}
.product .options label.name {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  color: #111111;
  margin-bottom: 0;
  margin-top: 10px;
  font-family: 'Roboto-Medium', serif;
}
.product .options select {
  text-transform: none;
  min-width: 200px;
  background: transparent;
  width: 268px;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border: 1px solid #cccccc;
  border-radius: 0;
  height: 34px;
  -webkit-appearance: none;
}
.product .options .inline-select {
  margin-bottom: 15px;
}
.product .options .inline-select a {
  border: 1px solid #cccccc;
  border-radius: 3px;
  margin: 0 5px 5px 0;
  display: inline-block;
  padding: 3px 7px;
  text-decoration: none;
  position: relative;
  min-width: 22px;
  text-align: center;
  color: #454545;
  background: #ffffff;
}
.product .options .color-fix a {
  padding: 5px 15px !important;
}
.product .options .inline-select a:hover {
  background-color: #eeeeee;
  border: 1px solid #737373;
}
.product .options .inline-select a .color_name {
  display: none;
  position: absolute;
  bottom: -25px;
  left: 50%;
  font-size: 0.6em;
  color: rgba(0, 0, 0, 0.8);
  margin-left: -40px;
  width: 80px;
}
.product .options .inline-select a .color_checkmark {
  display: none;
  position: absolute;
  top: 7px;
  left: 10px;
}
.product .options .inline-select a.selected {
  border: 1px solid #5e903f;
  color: #ffffff !important;
  background-color: #d9f3b5;
}
.product .options .inline-no-color a.selected {
  color: #000000 !important;
  text-shadow: 0 1px #5cab35 !important;
  background: #7bc846 !important;
  border-color: #94d16f #73c03f #5cab35 !important;
  background-image: -webkit-linear-gradient(top, #b4fa9b 0%, #7bd749 70%, #39b733 100%) !important;
  background-image: -moz-linear-gradient(top, #b4fa9b 0%, #7bd749 70%, #39b733 100%) !important;
  background-image: -o-linear-gradient(top, #b4fa9b 0%, #7bd749 70%, #39b733 100%) !important;
  background-image: linear-gradient(top bottom, #b4fa9b 0%, #7bd749 70%, #39b733 100%) !important;
  -webkit-box-shadow: inset 0 1px #d1fdc5, inset 0 0 0 1px #aaeb8a, 0 1px #5cab35, 0 3px #29aa0b, 0 4px #5cab35 !important;
  box-shadow: inset 0 1px #d1fdc5, inset 0 0 0 1px #aaeb8a, 0 1px #5cab35, 0 3px #29aa0b, 0 4px #5cab35, 0 5px 2px rgba(0, 0, 0, 0.4) !important;
}
.product .options .inline-select a.selected .color_name {
  display: block;
}
.product .options .inline-select a.selected .color_checkmark {
  display: block;
}
.product .services {
  margin-bottom: 10px;
  line-height: 1.4em;
}
.product .col-lg-6 #product-image {
  max-width: 100%;
}
.product .compare-favorite {
  margin-bottom: 20px;
  text-align: left;
  font-size: 12px;
  color: #afafaf;
  margin-top: 10px;
}
.product .compare-favorite .fa {
  color: #5e903f;
  margin-right: 5px;
}
.product .compare-favorite .divider {
  margin: 0 10px;
}
.product .compare-favorite .compare-favorite-icon .fa {
  color: #cccccc;
  font-size: 14px;
  margin-right: 8px;
}
.product .compare-favorite .active .fa {
  color: #5e903f;
}
.product .compare-favorite a {
  color: #000000;
  font-size: 14px;
  text-decoration: none;
  border-bottom: 1px dotted #000000;
}
.select_quantity .input-group-addon {
  width: 25px;
  height: 25px;
  font-size: 15px;
  border-radius: 50%;
  border: 1px solid #a4a4a4;
  padding: 0;
  line-height: 25px;
  text-align: center;
}
.select_quantity .input-group-addon .dec_cart {
  color: #111111;
  display: block;
}
.select_quantity .input-group-addon .inc_cart {
  color: #111111;
  display: block;
}
.select_quantity span {
  float: left;
  margin-right: 10px;
  margin-top: 4px;
}
.select_quantity .select_input_cart {
  width: 50px;
  text-align: center;
  float: left;
  margin-right: 10px;
  padding: 3px;
}
.icon16.color {
  margin-right: 5px;
  border-radius: 20px;
  height: 10px;
  width: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: inline-block;
  margin-top: 3px;
}
.rating-user {
  color: #aeaeae;
}
i.icon16 {
  height: 16px;
  width: 16px;
  display: inline-block;
  text-indent: -9999px;
  text-decoration: none !important;
  background: url("img/icons.png") no-repeat;
  background-size: 210px 160px /* 50% of the original size for auto @2x optimization */;
}
* i.icon16 {
  text-decoration: none !important;
  vertical-align: top;
  margin: 0.1em 0.2em 0 0;
}
.icon16.rss {
  background-position: -16px 0;
}
.icon16.facebook {
  background-position: -32px 0;
}
.icon16.twitter {
  background-position: -48px 0;
}
.icon16.vk {
  background-position: -64px 0;
}
.icon16.google {
  background-position: -80px 0;
}
.icon16.userpic20 {
  background-position: -2px -2px;
  border-radius: 50%;
  background-size: auto;
}
.icon16.color {
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 12px;
  height: 12px;
  background-image: none;
}
.icon16.loading {
  background: url('img/loading.gif') 0 0;
  background-size: 16px 16px;
}
.loading_icon {
  margin: 10px 0;
}
.icon16.star,
.icon16.star-full {
  background-position: -16px -16px;
}
.icon16.star-half {
  background-position: -32px -16px;
}
.icon16.star-empty {
  background-position: -48px -16px;
}
.icon16.star-hover {
  background-position: -64px -16px;
}
.icon16.remove {
  background-position: -96px -16px;
}
.icon16.saved {
  background-position: -112px -16px;
}
.icon16.stock-red {
  background-position: -128px -16px;
}
.icon16.stock-yellow {
  background-position: -144px -16px;
}
.icon16.stock-green {
  background-position: -160px -16px;
}
.icon16.stock-transparent {
  background-position: -176px -16px;
}
/* Checkout
----------- */
.checkout-order {
  border: 1px solid #e8e8e8;
  padding: 5px 20px 20px;
  margin-top: 20px;
}
.checkout-order .btn-bordered {
  margin-top: 20px;
  display: block;
  color: #9e9e9e;
  border-color: #cccccc;
}
.checkout-order .btn-bordered:focus {
  text-decoration: none;
}
.checkout-order .btn-bordered:hover {
  border-color: #dddddd;
  text-decoration: none;
}
.checkout-order .btn {
  color: #ffffff;
}
.container-fix {
  padding-left: 0;
}
.checkout form {
  margin: 0 !important;
}
.checkout {
  margin: 20px 0 0;
}
.checkout-header {
  margin: 0;
  color: #999;
  background: #fff;
  padding: 20px;
}
.checkout-header h3 {
  margin-bottom: 0;
}
.checkout-header h3 a {
  text-decoration: none;
  color: #777;
  font-weight: normal;
}
.checkout-header h3 a:hover {
  color: #5e903f !important;
}
.checkout-header strong {
  color: #666;
}
.checkout ul.checkout-options {
  padding-left: 25px;
}
.checkout ul.checkout-options li {
  list-style: none;
  position: relative;
  margin-bottom: 30px;
  clear: both;
}
.checkout ul.checkout-options li h3 {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 16px;
}
.checkout ul.checkout-options li h3 select {
  width: 270px;
  margin: 0;
  color: #000;
  height: 30px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 7px;
  border: 1px solid #B3B3B3;
  font-size: 13px;
}
.checkout ul.checkout-options li h3 label {
  margin-right: 10px;
  font-family: 'Roboto Medium', Arial, serif;
}
.checkout ul.checkout-options li .rate {
  float: right;
  text-align: center;
  width: 250px;
}
.checkout ul.checkout-options li .rate .price {
  font-size: 18px;
}
.checkout ul.checkout-options li .rate .est_delivery {
  font-size: 12px;
  color: #888888;
}
.checkout ul.checkout-options li p {
  width: 70%;
  font-size: 0.85em;
  color: #888888;
}
.checkout ul.checkout-options li input[type="radio"] {
  position: absolute;
  top: 4px;
  left: -25px;
}
.checkout ul.checkout-options li img.method-logo {
  position: relative;
  float: left;
  margin-right: 10px;
  top: -6px;
  left: 0;
  /* adjusted for default 60x32-px logos */
}
.checkout ul.checkout-options li .wa-form {
  margin-top: 0;
  margin-bottom: 30px;
}
.checkout ul.checkout-options li .wa-form label input[type="radio"] {
  position: static;
}
.checkout .checkout-result {
  padding: 60px 0 20px;
  background: #fff;
  text-align: center;
}
.checkout .checkout-result h1 {
  font-size: 4em;
  margin-bottom: 50px;
  font-weight: bold;
}
.checkout .checkout-result.error h1 {
  color: red;
}
.checkout .checkout-result .wa-form {
  margin: 10px auto 20px;
  width: 400px;
  float: none;
  text-align: left;
}
.checkout .checkout-result .back {
  margin-top: 50px;
}
.checkout {
  padding: 0;
}
.checkout h2 {
  padding: 10px 15px;
  font-weight: normal;
  border: 1px solid #d8d8d8;
  background: #f4f4f4;
  margin: 0;
}
.checkout h2 a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
}
.checkout h2 a:hover {
  color: #29aa0b !important;
}
.checkout h2.upcoming a:hover {
  color: #000 !important;
  cursor: default;
}
.checkout h2 a.hint {
  font-size: 0.6em;
  color: #aaa;
  text-decoration: none;
  margin-top: 6px;
}
.checkout h2 a.hint strong {
  text-decoration: underline;
}
.checkout h2.is-done {
  position: relative;
}
.checkout h2.is-done:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 100%;
  background-size: 30px;
}
.checkout .checkout-step-content.auth {
  border-radius: 5px;
  box-shadow: 0 4px 0 #a5a5a5, 0 5px 0 #888686, 0 5px 0 rgba(0, 0, 0, 0);
  padding: 20px 20px 10px;
  border: 1px solid #ccc;
  margin: 10px 0 30px;
}
.checkout .checkout-step-content {
  padding: 20px 0;
}
.checkout ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
}
.checkout ul li {
  margin-bottom: 5px;
}
.checkout ul li input[type="radio"] {
  margin-right: 3px;
}
.checkout #login-form h1 {
  display: none;
}
.checkout input.large {
  font-size: 1.4em;
}
.checkout .comment {
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
}
.checkout blockquote img {
  margin-right: 20px;
  float: left;
  border-radius: 50%;
}
.checkout blockquote p {
  margin-bottom: 10px;
  margin-left: 70px;
  font-size: 14px;
}
.checkout blockquote p span {
  color: #000;
}
.checkout-step {
  margin-bottom: 1px;
}
.checkout .errormsg.inline {
  display: inline;
  margin-left: 10px;
}
.checkout table.table {
  width: 100%;
}
.checkout table.table td {
  border: none;
}
.checkout .last span.loading {
  left: -10px;
}
.checkout .wa-form .wa-field .wa-name {
  padding-top: 0.3em;
}
.checkout .wa-form .wa-field.wa-field-birthday .wa-value select {
  margin-right: 5px;
}
.checkout .wa-form .wa-field.wa-field-address .wa-field-address-zip input {
  min-width: 100px;
  width: 20%;
}
.checkout .float-right {
  float: right;
}
/** Orders **/
.my-orders img {
  max-width: 100%;
}
/** Review **/
/* Product reviews
------------------ */
table.rating-distribution td {
  padding: 2px 15px 2px 0;
  border: none;
}
table.rating-distribution td .bar {
  background: #eee;
  width: 200px;
  height: 13px;
}
table.rating-distribution td .bar .filling {
  background: #f7c854;
  height: 13px;
}
.write-review,
.rules {
  margin: 30px 0 40px;
}
.write-review a,
.rules a {
  text-decoration: none;
  border-bottom: 1px dotted #29aa0b;
}
.review {
  margin-bottom: 10px;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  padding: 20px;
}
.review .summary {
  font-size: 0.9em;
  color: #777;
}
.review .summary h6 {
  color: #000;
  font-size: 18px;
  margin-bottom: 0.3em;
  font-family: 'Roboto-Medium', Arial, serif;
}
.review .summary a.username {
  color: #777;
}
.review .summary a.username:hover {
  color: red;
}
.review .summary a {
  display: inline;
  padding: 0;
}
.review .summary .date {
  color: #aaa;
}
.review .summary .date .divider {
  margin: 0 10px;
}
.review p {
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 1.3em;
}
.review .actions a {
  padding: 0 !important;
  text-decoration: none;
  border-bottom: 1px dotted #5e903f;
  font-size: 12px;
}
.review:hover {
  background: #fafafa;
  border: 1px solid #cccccc;
  box-shadow: 0 5px 0 rgba(255, 255, 255, 0.75);
}
.reviews {
  margin-bottom: 20px;
}
.reviews ul {
  margin-left: 0;
  padding: 0;
  list-style: none;
}
.reviews .hint {
  font-size: 11px;
}
.reviews ul li ul {
  padding-left: 35px;
}
.reviews ul li ul li .review h6 {
  color: #333333;
  font-family: 'Roboto-Medium', Arial, serif;
}
.reviews ul li .review-form {
  padding: 20px 0 0;
}
.reviews ul li .review-form textarea {
  min-height: 100px;
}
.reviews ul .in-reply-to {
  background: #fafafa;
  position: relative;
}
.reviews ul .new {
  background: #ffc;
  margin: -8px -8px 22px;
  padding: 8px 35px 8px 8px;
}
.reviews ul.menu-h.auth-type {
  padding: 0 0 40px;
  margin-left: -5px;
}
.reviews ul.menu-h.auth-type li {
  padding-right: 10px;
}
.reviews ul.menu-h.auth-type li a {
  padding: 5px 6px;
}
.reviews ul.menu-h.auth-type li a img {
  top: 0;
}
.reviews textarea {
  height: 100px;
  min-height: 100px;
  margin-top: 0;
}
.review-form {
  padding: 0;
  margin-bottom: 30px;
}
.review-form h4 {
  margin: 0 0 20px;
  font-weight: normal;
}
.review-form-fields p {
  margin: 0 0 10px;
}
.review-form-fields p.review-field a {
  display: inline;
  padding: 0;
  text-decoration: none;
}
.review-form-fields label {
  width: 160px;
  display: block;
  float: left;
  margin: 0 10px 0 0;
  color: #373a3c;
}
.review-form-fields input[type="text"] {
  width: 20em;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background: #ffffff none;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.review-form textarea {
  min-width: 70%;
  min-height: 160px;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background: #ffffff none;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  border-radius: 4px;
}
.review-form .wa-captcha-input {
  width: 80px !important;
}
.review-form .review-submit {
  padding: 0 0 20px 170px;
}
.review-form .userpic {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 5px;
  border-radius: 50%;
}
.review-form ul.menu-h.auth-type li a img {
  float: left;
  margin-right: 3px;
  position: relative;
  top: 2px;
}
.review-form ul.menu-h.auth-type {
  padding-bottom: 20px;
}
.review-form label {
  width: 160px;
  display: block;
  float: left;
  margin: 0 10px 0 0;
  color: #373a3c;
  font-weight: 700;
}
.reviews span.rate {
  line-height: 1.3em;
  display: block;
  margin: 0.5em 0;
}
.reviews span.rate a {
  text-decoration: none !important;
}
.reviews span.rate .icon10 {
  background: url(../../../../wa-content/img/icon10.png) no-repeat;
  height: 10px;
  width: 10px;
  display: inline-block;
  text-indent: -9999px;
}
.reviews span.rate .icon10.star {
  background-position: -60px -40px;
}
.reviews span.rate .icon10.star-empty {
  background-position: -80px -40px;
}
input.error,
textarea.error {
  border: 2px solid red;
}
.errormsg,
.wa-error-msg {
  color: #c71907;
  font-size: 14px;
  margin-left: 10px;
}
table.compare {
  width: 100%;
}
table.compare thead td {
  border-top: none;
  vertical-align: bottom;
}
table.compare td {
  text-align: left;
  line-height: 1em;
  padding: 10px 2px;
  border-left: none;
  border-right: none;
}
table.compare td a {
  text-decoration: none;
}
table.compare td a.compare-remove {
  position: relative;
  top: -0.2em;
  left: 0.2em;
}
table.compare th {
  text-align: left;
}
table.compare td img {
  display: block;
  margin: 0 0 10px;
  width: 96px;
  height: 96px;
}
table.compare thead .name-wrapper {
  position: relative;
  display: inline-block;
  padding: 0 24px 0 0;
}
table.compare thead .name-wrapper .name-link {
  display: inline-block;
  max-width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
table.compare thead .name-wrapper .compare-remove {
  position: absolute;
  top: 0;
  right: 6px;
  left: auto;
  width: 16px;
  height: 16px;
}
table.compare thead .name-wrapper .compare-remove i {
  margin: 0;
}
table.features {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}
table.features td {
  padding: 10px;
  border: none;
}
table.features td.name {
  width: 50%;
  vertical-align: top;
}
table.features tr.divider td {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
  padding-top: 15px;
  padding-bottom: 0;
  font-weight: bold;
  text-transform: uppercase;
  color: #aaa;
}
.related {
  padding-top: 30px;
  margin-top: 20px;
}
/** Alert **/
.alert-save {
  color: green;
  margin: 20px 0;
}
.alert {
  position: fixed;
  width: 100%;
  z-index: 9999;
  bottom: -20px;
  text-align: center;
  background-color: #bfbfbf;
  color: #444444;
  text-shadow: 0 1px #fff;
  text-decoration: none;
  border: 1px solid #bfbfbf;
  border-bottom: 1px solid #ffffff;
  background-position: top;
  background-image: -webkit-linear-gradient(top, #f1f1f1 0%, #dfdfdf 70%, #dadada 100%);
  background-image: -moz-linear-gradient(top, #f1f1f1 0%, #dfdfdf 70%, #dadada 100%);
  background-image: -o-linear-gradient(top, #f1f1f1 0%, #dfdfdf 70%, #dadada 100%);
  background-image: linear-gradient(top bottom, #f1f1f1 0%, #dfdfdf 70%, #dadada 100%);
  -webkit-box-shadow: inset 0 1px #fdfdfd, inset 0 0 0 1px #eaeaea, 0 1px #a8a8a8, 0 3px #bbbbbb, 0 4px #a8a8a8, 0 5px 2px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px #fdfdfd, inset 0 0 0 1px #eaeaea, 0 1px #a8a8a8, 0 3px #bbbbbb, 0 4px #a8a8a8, 0 5px 2px rgba(0, 0, 0, 0.25);
  border-radius: 0;
  padding: 10px;
}
.alert a {
  text-decoration: underline;
  color: #000000;
}
.alert .close {
  text-decoration: none;
}
/** Cart **/
.cart-block .cart-hint {
  color: #aaa;
}
.cart-block .cart-product {
  margin-bottom: 20px;
}
.cart-block .item-total {
  font-size: 16px;
  margin-top: 7px;
}
.cart-block .cartform .col-lg-2 img {
  max-width: 100%;
}
.cart-block .select_quantity .select_input_cart {
  width: 30px;
}
.cart .cupon {
  color: #000000 !important;
  text-shadow: 0 1px #5cab35 !important;
  background: #7bc846 !important;
  border-color: #94d16f #73c03f #5cab35 !important;
  background-image: -webkit-linear-gradient(top, #b4fa9b 0%, #7bd749 70%, #39b733 100%) !important;
  background-image: -moz-linear-gradient(top, #b4fa9b 0%, #7bd749 70%, #39b733 100%) !important;
  background-image: -o-linear-gradient(top, #b4fa9b 0%, #7bd749 70%, #39b733 100%) !important;
  background-image: linear-gradient(top bottom, #b4fa9b 0%, #7bd749 70%, #39b733 100%) !important;
  -webkit-box-shadow: inset 0 1px #d1fdc5, inset 0 0 0 1px #aaeb8a, 0 1px #5cab35, 0 3px #29aa0b, 0 4px #5cab35 !important;
  box-shadow: inset 0 1px #d1fdc5, inset 0 0 0 1px #aaeb8a, 0 1px #5cab35, 0 3px #29aa0b, 0 4px #5cab35, 0 5px 2px rgba(0, 0, 0, 0.4) !important;
  color: #ffffff;
  padding: 20px 20px 10px 20px;
  margin-bottom: 20px;
}
.cart .cupon p {
  margin-top: 3px;
  font-weight: bold;
  font-size: 18px;
}
.cart .cupon input[type="text"] {
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 5px rgba(0, 0, 0, 0.075);
  padding: 6px 12px;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #CCC;
  border-radius: 0;
  width: 100%;
}
.cart .cupon-text {
  font-size: 22px;
}
.cart .cupon-text a {
  text-decoration: none;
  color: #29aa0b;
  border-bottom: 1px dotted #29aa0b;
}
.cart .total-button {
  border-radius: 5px;
  box-shadow: 0 4px 0 #a5a5a5, 0 5px 0 #888686, 0 5px 0 rgba(0, 0, 0, 0);
  border: 1px solid #ccc;
  margin-top: 20px;
  padding: 20px;
}
.cart .total-button input[type="submit"] {
  font-size: 18px;
  border-radius: 2px;
}
.cart .bonuses {
  margin: 10px 0;
  text-align: center;
}
.cart-block .cart-total {
  margin-bottom: 30px;
}
/** Compare */
#compare-table {
  margin-bottom: 0;
}
#compare-table p {
  color: #000000;
  line-height: 16px;
}
#compare-table h5 {
  margin: 0;
}
#compare-table .image {
  height: 200px;
  width: 200px;
  position: relative;
  margin-bottom: 10px;
}
#compare-table .image_fix {
  line-height: 200px;
  text-align: center;
  position: relative;
}
#compare-table .image .remove-icon {
  position: absolute;
  right: 0;
  top: 0;
  background: #c0171e;
  padding: 0 5px;
  border-radius: 2px;
}
#compare-table .white-td td {
  background: #fff;
  border-top: 0;
  padding-bottom: 40px;
}
#compare-table td button {
  padding: 8px 15px;
}
#compare-table td .price {
  display: block;
  height: 50px;
  font-size: 15px;
  font-weight: bold;
}
#compare-table td .price s {
  display: block;
  font-size: 13px;
  color: #8E8E8E;
}
#compare-table tr:last-child td {
  padding: 30px 10px;
  border-bottom: 0;
}
#compare-table h5 {
  font-weight: 700;
  margin-top: 10px;
}
.compare-scroll {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}
ul.compare-diff-all {
  list-style: none;
  padding: 0;
  margin: 0 0 0 -7px;
  width: 200px;
}
ul.compare-diff-all li {
  display: block;
  margin-bottom: 10px;
}
ul.compare-diff-all li a {
  padding: 5px;
  color: #888;
}
ul.compare-diff-all li.selected a {
  color: #000000 !important;
  text-shadow: 0 1px #5cab35 !important;
  background: #7bc846 !important;
  border-color: #94d16f #73c03f #5cab35 !important;
  background-image: -webkit-linear-gradient(top, #b4fa9b 0%, #7bd749 70%, #39b733 100%) !important;
  background-image: -moz-linear-gradient(top, #b4fa9b 0%, #7bd749 70%, #39b733 100%) !important;
  background-image: -o-linear-gradient(top, #b4fa9b 0%, #7bd749 70%, #39b733 100%) !important;
  background-image: linear-gradient(top bottom, #b4fa9b 0%, #7bd749 70%, #39b733 100%) !important;
  -webkit-box-shadow: inset 0 1px #d1fdc5, inset 0 0 0 1px #aaeb8a, 0 1px #5cab35, 0 3px #29aa0b, 0 4px #5cab35 !important;
  box-shadow: inset 0 1px #d1fdc5, inset 0 0 0 1px #aaeb8a, 0 1px #5cab35, 0 3px #29aa0b, 0 4px #5cab35, 0 5px 2px rgba(0, 0, 0, 0.4) !important;
  text-decoration: none;
  color: #fff;
  padding: 5px;
  border-radius: 2px;
}
ul.compare-diff-all li.selected a b {
  border: none;
}
/* Sign up & Login forms
------------------------ */
.wa-auth-adapters {
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.wa-auth-adapters ul {
  padding: 0;
  margin: 0;
  min-height: 16px;
}
.wa-auth-adapters ul li {
  list-style: none;
  float: left;
  padding: 0 30px 0 0;
}
.wa-auth-adapters ul li a {
  display: block;
  padding-top: 5px;
  border-bottom: 0;
  color: #000;
}
.wa-auth-adapters ul li a img {
  position: relative;
  top: 0;
  left: -3px;
  border-bottom: 0;
  padding-right: 5px;
}
.wa-auth-adapters p {
  clear: left;
  color: #888;
  font-size: 0.9em;
  padding-top: 10px;
}
.wa-form {
  margin: 10px 0;
  overflow: visible;
  width: 100%;
}
.wa-form .wa-field {
  clear: left;
  margin: 0;
  padding-top: 3px;
}
.wa-form .wa-field .wa-name {
  float: left;
  width: 155px;
  padding-bottom: 10px;
  font-size: 1em;
  font-weight: 700;
}
.wa-form .wa-field.wa-separator {
  height: 10px;
}
.wa-form .wa-field .wa-value {
  margin-left: 180px;
  margin-bottom: 5px;
  position: relative;
  max-width: 450px;
}
.wa-form .wa-field .wa-value .wa-error,
.wa-form .wa-field .wa-value .error {
  border: 1px solid #c71907 !important;
}
.wa-form .wa-field .wa-value textarea {
  width: 260px;
  margin: 0;
  color: #000;
  font-size: 13px;
  height: 24px;
  padding-top: 5px;
  padding-left: 7px;
  border: 1px solid #b3b3b3;
  border-radius: 0;
}
input[type="button"][disabled] {
  background: #000;
}
.wa-form .wa-field .wa-value textarea {
  display: block;
  width: 80%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background: #ffffff none;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  border-radius: 4px;
}
.wa-form .wa-field .wa-value input[type="text"],
.wa-form .wa-field .wa-value input[type="email"],
.wa-form .wa-field .wa-value input[type="password"] {
  display: block;
  width: 80%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background: #ffffff none;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  border-radius: 4px;
}
.wa-form .wa-field .wa-value select {
  width: 100%;
  max-width: 340px;
  margin: 0;
  color: #000;
  height: 30px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 7px;
  border: 1px solid #b3b3b3;
}
.wa-form .wa-field .wa-value textarea {
  min-width: 260px;
  height: 70px;
}
.wa-form .wa-field .wa-value label {
  display: block;
}
.wa-form .wa-field .wa-value .errormsg {
  margin-left: 0;
  color: #c71907;
  font-size: 11px;
}
.wa-form .wa-field .wa-value.wa-submit {
  margin-top: 10px;
}
.wa-form .wa-field .wa-value p label {
  display: block;
  margin: 0;
}
.wa-form .wa-field .wa-value p {
  line-height: 1.6em;
  margin-bottom: 23px;
  position: relative;
}
.wa-form .wa-field .wa-value p span {
  color: #777;
  font-size: 0.9em;
  display: block;
}
.wa-form .wa-field .wa-value p i.icon16 {
  float: left;
  left: -20px;
  margin-top: 2px;
  position: absolute;
}
.wa-form .wa-field .wa-value p input {
  display: block;
  margin-bottom: 2px;
}
.wa-form .wa-field .wa-value p input[type="radio"],
.wa-form .wa-field .wa-value p input[type="checkbox"] {
  display: inline;
}
.wa-form .wa-field .wa-value p .field.wa-required span:after {
  content: " *";
  color: #faa;
}
.wa-form .wa-field.wa-required .wa-name:after {
  content: " *";
  color: #faa;
}
.wa-form .wa-field .wa-value .wa-captcha input[type="text"] {
  width: 110px;
}
.wa-captcha {
  padding: 7px 0 0;
  margin-bottom: 20px;
}
.wa-captcha p {
  clear: left;
  margin: 0;
  padding: 0;
}
.wa-captcha p img {
  float: left !important;
  margin-right: 5px;
  margin-top: -8px;
}
.wa-captcha p input {
  width: 50px;
  float: left !important;
}
.wa-captcha .wa-captcha-refresh {
  font-size: 0.8em;
  text-decoration: none;
  color: #aaa;
  border-bottom: 1px solid #aaa;
}
.wa-captcha .wa-error-msg {
  display: inline;
  margin-left: 20px;
  margin-top: -20px;
  color: #c71907;
}
.wa-captcha strong {
  float: left !important;
  margin-right: 10px;
  margin-top: 3px;
}
/* 10x10 Icons
-------------- */
i.icon10 {
  height: 10px;
  width: 10px;
  display: inline-block;
  text-indent: -9999px;
  text-decoration: none !important;
  background: url("img/icons.png") no-repeat;
  background-size: 210px 160px /* 50% of the original size for auto @2x optimization */;
}
* i.icon10 {
  text-decoration: none !important;
  vertical-align: top;
  margin: 0.2em 0.1em 0 0;
}
.icon10.star,
.icon10.star-full {
  background-position: 0 -100px;
}
.icon10.star-half {
  background-position: -10px -100px;
}
.icon10.star-empty {
  background-position: -20px -100px;
}
/** Pagination **/
.pagination {
  margin: 20px 0;
}
.pagination {
  display: inline-block;
  margin-bottom: 0;
  margin-left: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  float: left;
  padding: 10px 22px;
  line-height: 20px;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-left-width: 0;
}
.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > .selected > a,
.pagination > .selected > span {
  color: #000000 !important;
  text-shadow: 0 1px #5cab35 !important;
  background: #7bc846 !important;
  border-color: #94d16f #73c03f #5cab35 !important;
  background-image: -webkit-linear-gradient(top, #b4fa9b 0%, #7bd749 70%, #39b733 100%) !important;
  background-image: -moz-linear-gradient(top, #b4fa9b 0%, #7bd749 70%, #39b733 100%) !important;
  background-image: -o-linear-gradient(top, #b4fa9b 0%, #7bd749 70%, #39b733 100%) !important;
  background-image: linear-gradient(top bottom, #b4fa9b 0%, #7bd749 70%, #39b733 100%) !important;
  -webkit-box-shadow: inset 0 1px #d1fdc5, inset 0 0 0 1px #aaeb8a, 0 1px #5cab35, 0 3px #29aa0b, 0 4px #5cab35 !important;
  box-shadow: inset 0 1px #d1fdc5, inset 0 0 0 1px #aaeb8a, 0 1px #5cab35, 0 3px #29aa0b, 0 4px #5cab35, 0 5px 2px rgba(0, 0, 0, 0.4) !important;
}
.pagination > .selected > a,
.pagination > .selected > span {
  color: #999999;
  cursor: default;
}
.pagination > .disabled > span,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #999999;
  cursor: default;
  background-color: transparent;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  border-left-width: 1px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
}
#easy_zoom {
  width: 410px;
  height: 400px;
  border: 5px solid #eee;
  border-radius: 10px;
  background: #fff;
  color: #333;
  position: absolute;
  margin-left: 30px;
  top: 0;
  z-index: 1111;
  left: 90%;
  overflow: hidden;
  -moz-box-shadow: 0 0 10px #777;
  -webkit-box-shadow: 0 0 10px #aaa;
  box-shadow: 0 0 10px #aaa;
  /* vertical and horizontal alignment used for preloader text */
  line-height: 400px;
  text-align: center;
  display: none;
}
#easy_zoom img {
  max-width: none;
  height: auto;
}
@media (min-width: 768px) {
  .lastphoto .photo img {
    width: 75px;
  }
  .priceblock h1 {
    margin-top: 20px;
  }
  .catalog .col-lg-3 {
    padding-right: 0;
    width: 48%;
  }
  .product-slider .col-lg-3 {
    width: 230px !important;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .lastphoto .photo img {
    width: 75px;
  }
  #easy_zoom {
    width: 340px;
    height: 340px;
    display: block;
  }
  .catalog .col-lg-3 {
    padding-right: 0;
    width: 32.5%;
  }
  .product-slider .col-lg-3 {
    width: 229px !important;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .lastphoto .photo img {
    width: 96px;
  }
  #easy_zoom {
    width: 420px;
    height: 420px;
  }
  .catalog .col-lg-3 {
    padding-right: 0;
    width: 24.5%;
  }
  .product-slider .col-lg-3 {
    width: 209px !important;
  }
}
/** MEdia Mobile **/
@media (max-width: 544px) {
  .show-filter {
    border-radius: 5px;
    box-shadow: 0 4px 0 #a5a5a5, 0 5px 0 #888686, 0 5px 0 rgba(0, 0, 0, 0);
    border: 1px solid #ccc;
    padding: 10px 0;
    width: 100%;
    display: block;
    text-decoration: none;
    text-align: center;
    margin-bottom: 15px;
    color: #373a3c;
  }
  .show-filter:hover {
    text-decoration: none;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    width: 100%;
  }
  .wa-form .wa-field .wa-value input[type="text"],
  .wa-form .wa-field .wa-value input[type="email"],
  .wa-form .wa-field .wa-value input[type="password"] {
    width: 100%;
  }
  .wa-form .wa-field .wa-name {
    width: 100%;
    display: block;
    float: none;
  }
  .wa-form .wa-field .wa-value {
    margin-left: 0;
    width: 100%;
  }
  .wa-submit {
    font-size: 12px;
  }
  .articul {
    margin-top: 20px;
  }
  .product .col-lg-6 #product-image {
    max-width: 100%;
  }
  #easy_zoom {
    display: none;
  }
  .priceblock h1 {
    margin-top: 20px;
  }
  .mobile-menu {
    display: block;
  }
  ul.menu-h ul .tree:after {
    top: 15px;
    font-family: 'FontAwesome', serif;
    content: "\f078";
  }
  ul.menu-h ul {
    position: absolute;
    width: 285px;
    left: -45px;
  }
  ul.menu-h ul ul {
    position: static;
  }
  .cart-block {
    text-align: center;
  }
  .cart-block .cart-product {
    border: 1px solid #e5e5e5;
    margin: 0;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 4px;
  }
  .cart-block .select_quantity {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  tr:first-child {
    border-top: 1px solid #ccc;
  }
  tr {
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }
  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  #menu-standart ul.menu-v .tree:after {
    top: 13px;
    font-family: 'FontAwesome', serif;
    content: "\f078";
  }
  #menu-standart ul.menu-v ul .tree:after {
    top: 15px;
    font-family: 'FontAwesome', serif;
    content: " ";
  }
  #menu-standart ul.menu-v ul {
    position: static;
    border: 0;
    border-radius: 0;
  }
  #menu-standart ul.menu-v ul li {
    position: static;
    width: 100%;
  }
  #menu-standart .menu-v li > a:hover {
    background: #6da445;
  }
  #menu-standart ul .menu-v li > a:hover {
    background: #6da445;
  }
  #menu-standart ul.menu-v ul ul {
    position: static;
  }
}
