<div class="wa-order-dialog wa-confirm-dialog">
    <div class="wa-dialog-background"></div>
    <div class="wa-dialog-body">
        <header class="wa-dialog-header">
            <div class="wa-header">[`Empty cart`]</div>
            <span class="wa-close-wrapper js-close-dialog">
                <i class="wa-icon delete size-10"><svg><use xlink:href="{$wa_app_static_url}img/frontend/order/svg/sprite.svg#delete"></use></svg></i>
            </span>
        </header>
        <div class="wa-dialog-content">[`Delete all products from the cart?`]</div>
        <footer class="wa-dialog-footer">
            <button class="wa-button blue js-focus-button js-cancel">[`Don’t delete`]</button>
            <button class="wa-button gray js-confirm">[`Delete`]</button>
        </footer>
    </div>
</div>