<ul class="breadcrumbs hidden-sm-down">
	<li><i class="fa fa-home"></i></li>
	<li><a href="{$wa_app_url}">{if $wa->shop}{$wa->shop->settings('name')}{else}[`Main`]{/if}</a></li>
	{if isset($breadcrumbs)}
	{if $breadcrumbs}
	{foreach $breadcrumbs as $breadcrumb}
	<li>&raquo; <a href="{$breadcrumb.url}">{$breadcrumb.name|escape}</a></li>
	{/foreach}
	{else} &raquo; {/if}

	{/if}
</ul>