{if !empty($set_password)}
<h3>[s`Recover password for`] {$login}</h3>
{$wa->setPasswordForm($error)}
{else}
<h3>[s`Password recovery`]</h3>
{if !empty($sent)}
<p>[s`Password recovery instructions have been sent to your email address.`]</p>
<br/><br/>
<a href="{$wa->loginUrl()}">[s`Back to login page`]</a>
{else}
{$wa->forgotPasswordForm($error)}
{/if}
{/if}