<link rel="stylesheet" href="{$wa_parent_theme_url}swipebox/css/swipebox.css">

<script type="text/javascript" src="{$wa_parent_theme_url}js/jquery.tooltipster.min.js"></script>
<script type="text/javascript" src="{$wa_theme_url}js/fractionslider/jquery.fractionslider.js"></script>
<script type="text/javascript" src="{$wa_parent_theme_url}js/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="{$wa_parent_theme_url}js/jquery.scrollTo.js"></script>

<script type="text/javascript" src="{$wa_static_url}wa-content/js/jquery-ui/jquery.ui.core.min.js?v{$wa->version(true)}"></script>
<script type="text/javascript" src="{$wa_static_url}wa-content/js/jquery-ui/jquery.ui.widget.min.js?v{$wa->version(true)}"></script>
<script type="text/javascript" src="{$wa_static_url}wa-content/js/jquery-ui/jquery.ui.mouse.min.js?v{$wa->version(true)}"></script>
<script type="text/javascript" src="{$wa_static_url}wa-content/js/jquery-ui/jquery.ui.slider.min.js?v{$wa->version(true)}"></script>
<script type="text/javascript" src="{$wa_static_url}wa-content/js/jquery-plugins/jquery.cookie.js"></script>