{if $wa->shop}
<div class="menu-v-background" {if $theme_settings.navigation_left == 'standart'}id="menu-standart"{else}id="menu-collapsible"{/if}>
{$shop_category = $wa->shop->categories(0, null, true)}

{if $shop_category}
{if isset($category.id)}{$selected_page=$category.id}{else}{$selected_page=null}{/if}
{wa_print_tree tree=$shop_category selected=$selected_page collapsible_class='tree' unfolded=true class="menu-v" elem ='<a href=":url">:name</a>'}
{/if}
</div>
{/if}

{if $wa->site->pages()}
<div class="menu-v-background" {if $theme_settings.navigation_left == 'standart'}id="menu-standart"{else}id="menu-collapsible"{/if}>
{wa_print_tree tree=$wa->site->pages() selected=$selected_page collapsible_class='tree' unfolded=true class="menu-v" elem ='<a href=":url">:name</a>'}
</div>
{/if}

{if $theme_settings.setting_news}
{if $wa->blog}
{$latest_posts = $wa->blog->posts(null, 5)}
{if $latest_posts}
<div class="news hidden-xs-down">
    <h3>[`News`]</h3>
    <hr>
    {foreach $latest_posts as $post}
    <div class="date">
        <div class="threed">{$post.datetime|date_format:"%d"}</div>
        <div class="month">{$post.datetime|date_format:"%B %Y"}</div>
        <div class="head"><a href="{$post.link}">{$post.title|strip_tags|truncate:400}</a></div>
    </div>
    {/foreach}
</div>
{/if}
{/if}
{/if}


{if !empty($theme_settings.vk_widget_code)}
<div class="widget_vk">
    {$theme_settings.vk_widget_code}
</div>
{/if}