<div class="row">
    <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
        {include file="`$wa_active_theme_path`/leftside.html"}
    </div>
    <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">

        {include file="`$wa_active_theme_path`/breadcrumb.html" inline}

        {if $wa->currentUrl() == $wa_app_url && !empty($error_code) && $error_code == 404}

        <div class="welcome">
            <h1>[`Welcome to your new site!`]</h1>
            <p>{sprintf('[`Start by <a href="%s">creating a page</a> in your site backend.`]', $wa_backend_url|cat:'site/#/pages/')}</p>
        </div>

        {else}

            {$content}

        {/if}

    </div>
</div>





