<h3>[`My profile`]</h3>
{$wa->myNav('product-nav')}
<div id="wa-my-info-wrapper" class="product-nav-block">
    {if $saved}
    <div class="alert-save success">[`Contact information successfully updated!`]</div>
    {/if}

    {if isset($smarty.get.emailconfirmed) && $smarty.get.emailconfirmed == 1}
    <div class="alert-save success">[s`Contact information successfully updated!`]</div>
    {/if}

    <div class="wa-form" id="wa-my-info-read-wrapper" {if !empty($form->errors)} style="display: none;"{/if}>

        {foreach $user_info as $id => $info}
        <div class="wa-field">
            <div class="wa-name">{$info.name}</div>
            <div class="wa-value">{$info.value}</div>
        </div>
        {/foreach}

        <div class="wa-field">
            <div class="wa-value">
                <input type="button" class="blue btn btn-primary" id="wa-my-info-edit" value="[s`Edit`]"/>
            </div>
        </div>

    </div>

    <div class="clear-both"></div>

    <form action="" enctype="multipart/form-data" method="post" {if empty($form->errors)} style="display: none;"{/if}
        id="wa-my-info-edit-wrapper">
        <div class="wa-form">

            {$form->html()}

            <div class="wa-field">
                <div class="wa-value">
                    <input type="submit" value="[s`Save`]">
                    <a href="#" id="wa-my-info-cancel">[s`cancel`]</a>
                </div>
            </div>
        </div>
    </form>

    {$auth_adapters = $wa->authAdapters(true)}
    {if $auth_adapters}
    <hr>
    <div class="wa-auth-adapters wa-connect">
        <h3>[s`Connected accounts`]</h3>

        {$linked_adapters = []}
        {$other_adapters = []}
        {foreach $auth_adapters as $a}
        {if $wa->user("{$a->getId()}_id")}
        {$linked_adapters[] = $a}
        {else}
        {$other_adapters[] = $a}
        {/if}
        {/foreach}

        {if $linked_adapters}

        <ul>
            {foreach $linked_adapters as $a}
            <li><span><img alt="{$a->getName()}" src="{$a->getIcon()}"/>{$a->getName()}</span></li>
            {/foreach}
        </ul>
        {/if}

        {if $other_adapters}

        <p>[s`Connect this account to your social network accounts so next time you can log in without entering your
            password:`]</p>
        <div class="wa-auth-adapters">
            <ul>
                {foreach $other_adapters as $a}
                <li><a href="{$a->getUrl()}"><img alt="{$a->getName()}" src="{$a->getIcon()}"/>{$a->getName()}</a></li>
                {/foreach}
            </ul>
        </div>
        <script type="text/javascript">
            $("div.wa-auth-adapters a").click(function () {
                var left = (screen.width - 600) / 2;
                var top = (screen.height - 400) / 2;
                window.open($(this).attr('href'), 'oauth', "width=600,height=400,left=" + left + ",top=" + top + ",status=no,toolbar=no,menubar=no");
                return false;
            });
        </script>
        {/if}

    </div>
    {/if}
</div>

<script>
    (function () {
        var $wrapper = $('#wa-my-info-wrapper'),
                $form = $wrapper.find('#wa-my-info-edit-wrapper'),
                $info = $wrapper.find('#wa-my-info-read-wrapper'),
                $password = $form.find('.wa-field-password'),
                $photo = $form.find('.wa-field-photo');

        if ($password.length) {
            var $change_link = $('<span><a href="#">[s`Change password`]</a></span>'),
                    $password_inputs = $password.find('p');

            $password.find('.wa-value').prepend($change_link);

            $change_link.on('click', 'a', function (e) {
                e.preventDefault();
                $change_link.hide();
                $password_inputs.slideDown();
            });
        }

        if ($photo.length) {
            var $delete_photo = $('<span><a href="#">[s`Delete photo`]</a></span>'),
                    $photo_input = $photo.find('[name="profile[photo]"]'),
                    $user_photo = $photo.find('img:first'),
                    $default_photo = $photo.find('img:last');

            if ($user_photo[0] != $default_photo[0]) {
                $default_photo
                        .hide()
                        .after($delete_photo);

                $delete_photo.on('click', 'a', function (e) {
                    e.preventDefault();
                    $default_photo.show();
                    $user_photo.hide();
                    $delete_photo.hide();
                    $photo_input.val('');
                });
            } else {
                $default_photo.show();
            }
        }

        $wrapper
                .on('click', '#wa-my-info-edit', function (e) {
                    e.preventDefault();
                    if ($password.length) {
                        $change_link.show();
                        $password_inputs.hide();
                    }
                    if ($photo.length) {
                        if ($user_photo[0] != $default_photo[0]) {
                            $delete_photo.show();
                            $default_photo.hide();
                        }
                    }
                    $form.show();
                    $info.hide();
                })
                .on('click', '#wa-my-info-cancel', function (e) {
                    e.preventDefault();
                    $form.hide();
                    $info.show();
                });
    })();
</script>


{$wa->globals('isMyAccount', true)}