<h3>{$page.title}</h3>
{$subpages = $wa->site->pages($page.id)}
{if $subpages}
<ul class="inline subcategory">
    {foreach $subpages as $p}
    <li><a href="{$p.url}">{$p.name}</a></li>
    {if !$p@last}
    <li>|</li>
    {/if}
    {/foreach}
</ul>
{/if}
<div class="content">
    {$page.content}
</div>