<div class="block i-product-page">
{if !empty($messages)}
    {foreach $messages as $message}
        <div class="block double-padded i-message-{$message.result}">
            {if $message.result == 'success'}<i class="icon16 yes"></i>
            {elseif $message.result == 'fail'}
                <i class="icon16 no"></i>
            {/if}
            {$message.text|escape}
        </div>
    {/foreach}
{/if}
{if empty($widget)}
    <div class="content">
        <div class="i-breadcrumbs">
            <a href="#/widgets/">[`All widgets`]</a>
            {if strlen($query)>1}
            <a href="#/widgets/{$query}">[`List`]</a>
            {/if}
        </div>
        <h1>[`Plugin not found`]</h1>
        {if !empty($error)}
            <p class="error">{$error|escape}</p>
        {/if}
    </div>
{else}
    {$current_url = "#/widgets/`$widget.app`/`$widget.id`/"}
    <div class="sidebar">
    <div class="i-get-started">

        <!-- action block -->
        {if $widget.installed}

            <!-- already installed -->
            <div class="align-center">
                {if $widget.commercial && empty($widget.purchased)}

                    {* PAID PLUGIN, LICENSE IS NOT VALID *}

                    {if !empty($widget.license_expire)}
                        {* EXPIRED LICENSE *}
                        <a class="button green" href="{$widget.renew_url|escape}">[`Renew license`]</a>
                        <p class="red"><i class="icon16 no"></i>{sprintf("[`License for using %s on <strong>%s</strong> has expired on %s`]",$widget.name|escape,installerHelper::getDomain()|escape,$widget.license_expire|wa_datetime:'humandate')}</p>
                    {else}
                        {* NEVER LICENSED *}
                        <form action="{$widget.purchase_url|escape}" method="post">
                            <input type="hidden" name="app_id[]" value="{$widget.slug}">
                            <input type="hidden" name="hash" value="{$identity_hash}">
                            {if !empty($promo_id)}
                                <input type="hidden" name="promo_id" value="{$promo_id|escape}">
                            {/if}
                            <input type="hidden" name="domain" value="{$domain}">
                            <input type="hidden" name="installer_url" value="{$wa->currentUrl(true,true)}">
                            <input type="submit" class="button green" value="[`Link license`]">
                            <p class="red"><i class="icon16 no"></i>{sprintf("[`Installation and usage of %s widget on <strong>%s</strong> is not licensed. Updates are disabled. Buy a new license or link your existing %s widget license to this Webasyst installation.`]",$widget.name|escape,installerHelper::getDomain()|escape,$widget.name|escape)}</p>
                        </form>
                    {/if}
                {else}
                {* LICENSED INSTALLATION: EITHER FREE OR PAID *}
                    {if $widget.action == waInstallerApps::ACTION_UPDATE}
                    {* UPDATES ARE AVAILABLE *}
                        <form action="?module=update&action=manager" method="post">
                            {$wa->csrf()}
                            <input type="hidden" name="app_id[{$widget.slug}]" value="{$widget.vendor|default:'dummy'}{if !empty($widget.edition)}:{$widget.edition}{/if}">
                            <input type="submit" class="button blue" value="[`Install update`]"{if !$widget.applicable} disabled="disabled"{/if}>
                            <p>
                                {sprintf("[`A newer version of %s <strong>%s</strong> is available for installation (your current version is %s).`]",$widget.name|escape,$widget.version,$widget.installed.version)}
                                {if !empty($widget.changelog)}
                                    <a href="{$current_url}changelog/">[`View release notes`]</a>
                                {/if}
                            </p>
                            {*

                                    MOVE TO SEPARATE CHANGELOG PAGE

                                if !empty($widget.changelog)}
                                {foreach $widget.changelog as $changelog}
                                    {if version_compare($widget.version,$widget.installed.version,'>')}
                                        <p class="hint"><b>{$changelog.version}</b> {$changelog.content}</p>
                                    {/if}
                                {/foreach}
                            {/if

                            *}

                            {if !$widget.applicable}
                                <div style="display: block;">
                                    <p class="hint">[`This widget cannot be updated`]</p>
                                    {include file="templates/includes/requirements.html" item=$widget inline}
                                </div>
                            {/if}

                        </form>
                    {elseif $widget.action == waInstallerApps::ACTION_INBUILT}
                        <p>
                            {sprintf("[`A newer version of %s <strong>%s</strong> is available for installation (your current version is %s).`]",$widget.name|escape,$widget.version,$widget.installed.version)}
                        </p>
                        <p>
                            {sprintf("[`This widget will be updated automatically when you update %s app.`]",$app.name|default:$widget.app|escape)}

                            {if !empty($widget.changelog)}
                                <a href="{$current_url}changelog/">[`View release notes`]</a>
                            {/if}
                        </p>

                    {elseif $widget.commercial}

                        {* PAID PLUGIN *}

                        {if !empty($widget.license_expire)}

                            {* COMMERCIAL LICENSE WITH AN EXPIRATION DATE *}
                            {if (strtotime($widget.license_expire) < $smarty.now)}{$_overdue = 1}{else}{$_overdue = 0}{/if}
                            <p><em class="i-installed-label{if $_overdue} overdue{/if}"><i class="icon16 yes"></i>{sprintf("[`This is a licensed installation of %s on %s. License is valid through <strong>%s</strong>.`]",$widget.name|escape, installerHelper::getDomain()|escape, $widget.license_expire|wa_datetime:'humandate')}</em></p>
                            <a class="button green" href="{$widget.renew_url|escape}" style="display: inline-block;">[`Extend license`]</a>
                            <br><br>

                        {else}

                            {* VALID LICENSE *}
                            <p><em class="i-installed-label"><i class="icon16 yes"></i>{sprintf("[`This is a valid licensed installation of %s on <strong>%s</strong>.`]",$widget.name|escape, installerHelper::getDomain()|escape)}</em></p>

                             <a class="button green" href="{$widget.buymore_url|default:'https://www.webasyst.com/my/#/neworder/'|escape}">[`Buy more licenses`]</a>

                            <p>{sprintf("[`Additional licenses are required if you are using %s on more than one domain name (<a href='%s' target='_blank'>one license per domain</a>).`]",$widget.name|escape, '[`http://www.webasyst.com/help/1200/paid-app-licensing/`]')}</p>
                        {/if}

                    {else}

                        {* FREE PLUGIN *}
                        {if !empty($widget.reviews.url)}
                            <p>
                                <a href="{$widget.reviews.url}" class="large bold">[`Write a review`]</a>
                                <i class="icon16 new-window"></i>
                            </p>
                        {/if}
                        <p><em class="i-installed-label"><i class="icon16 yes"></i>{sprintf("[`You have the latest version of %s installed: <strong>%s</strong>`]",$widget.name|escape,$widget.installed.version)}</em></p>

                    {/if}
                {/if}
            </div>

        {else}

            <!-- not installed -->

            <div class="align-center">
                {if $widget.commercial  && empty($widget.purchased)}
                    {* PAID APP *}
                    <form action="{$widget.purchase_url|escape}" method="post">
                        <input type="hidden" name="app_id[]" value="{$widget.slug}{if !empty($widget.edition)}:{$widget.edition}{/if}">
                        <input type="hidden" name="hash" value="{$identity_hash}">
                        {if !empty($promo_id)}
                            <input type="hidden" name="promo_id" value="{$promo_id|escape}">
                        {/if}
                        <input type="hidden" name="domain" value="{$domain}">
                        <input type="hidden" name="installer_url" value="{$wa->currentUrl(true,true)}">
                        <input type="submit" class="button green" value="[`Buy & Install`]"{if !$widget.applicable} disabled="disabled"{/if}>
                    </form>
                    <p>{sprintf('[`%s will be automatically downloaded from Webasyst Store and installed immediately after you make payment.`]', $widget.name|escape)} [`If you already have a license, click the button above to link it to this Webasyst installation.`]</p>
                {else}
                    {* FREE APP *}
                    <form action="?module=update&action=manager" method="post">
                        {$wa->csrf()}
                        <input type="hidden" name="install" value="1">
                        <input type="hidden" name="app_id[{$widget.slug}]" value="{$widget.vendor|default:'dummy'}{if !empty($widget.edition)}:{$widget.edition}{/if}">
                        <input type="submit" class="button green" value="[`Install`]"{if !$widget.applicable} disabled="disabled"{/if}>
                    </form>
                    <p>{sprintf('[`%s will be downloaded from Webasyst Store and installed automatically.`]', $widget.name|escape)}</p>
                {/if}
                {if !$widget.applicable}
                    {* DEPENDENCIES *}
                    <p class="hint">[`This widget cannot be installed`]</p>
                    {include file="templates/includes/requirements.html" item=$widget inline}
                {/if}

            </div>

        {/if}

        <!-- pricing -->
        <div class="fields width100px">
            {if !$widget.installed}
                {if $widget.commercial}
                    <div class="field-group">
                        <div class="field">
                            <div class="name">
                                [`Price`]
                            </div>
                            {if ifset($widget.lease_price) == 'free'}
                                {* free to install on this particular installation (cloud) *}
                                <div class="value">
                                    <strong>[`Free`]</strong>
                                </div>
                            {else}
                                <div class="value">
                                    {if !empty($widget.compare_price)}<strike class="gray">{$widget.compare_price}</strike>&nbsp; {/if}
                                    <strong{if !empty($widget.compare_price)} class="discounted large"{/if}>{$widget.price}</strong>
                                </div>
                                {if !empty($widget.lease_price)}
                                    <div class="value">
                                        [`or`]
                                    </div>
                                    <div class="value">
                                        <strong>{sprintf('[`%s/mo`]',$widget.lease_price)}</strong>
                                    </div>
                                {/if}
                            {/if}
                        </div>
                    </div>
                {else}
                    <div class="field">
                        <div class="name">
                            [`Price`]
                        </div>
                        <div class="value">
                            <strong>[`Free`]</strong>
                        </div>
                    </div>
                {/if}
            {/if}
            <div class="field">
                <div class="name">
                    [`License`]
                </div>
                <div class="value">

                    {if !empty($widget.license_text)}
                        [`Commercial`]
                        <a href="#/show/license/" class="js-action">[`View`]</a>
                        <div class="dialog">
                            <div class="dialog-background"></div>
                            <div class="dialog-window" style="left: 29%; top: 25%;">
                                <div class="dialog-content">
                                    <div class="dialog-content-indent">
                                        <h2>{$widget.name|string_format:'[`%s end user license agreement`]'|escape}</h2>
                                        <p>{$widget.license_text|escape|nl2br}</p>
                                    </div>
                                </div>
                                <div class="dialog-buttons">
                                    <div class="block double-padded">
                                        <a href="#/hide/license" class="js-action">[`Close`]</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {else}
                        {$widget.license|default:'[`No license`]'|escape}
                        {if !empty($widget.license_url)}<a href="{$widget.license_url|escape}" target="_blank">[`View`]</a> <i class="icon10 new-window"></i>{/if}
                    {/if}

                </div>
            </div>
            <div class="field">
                <div class="name">
                    [`Developer`]
                </div>
                <div class="value">
                    {$widget.vendor_name|default:$widget.vendor|default:"—"|escape}
                </div>
            </div>
        </div>

        <div class="clear-both"></div>

    </div>

    <!-- product misc details -->
    <div class="block double-padded">
        <div class="fields width100px">

            <div class="field">
                <div class="name">
                    [`Version`]
                </div>
                <div class="value">
                    {$widget.version}{if !empty($widget.changelog)}
                        <a href="{$current_url}changelog/" style="font-size: 0.9em;">[`View release notes`]</a>
                    {/if}
                </div>
            </div>
            <div class="field">
                <div class="name">
                    [`Updated`]
                </div>
                <div class="value">
                    {if empty($widget.update_datetime)}—{else}{$widget.update_datetime|wa_datetime:'humandate'}{/if}
                </div>
            </div>
            {*
            <div class="field">
                <div class="name">
                    [`Size`]
                </div>
                <div class="value">
                    <strong>{10241024|wa_format_file_size:'%0.2f':'[`B,KB,MB`]'}</strong>
                </div>
            </div>
            *}
        </div>

        {if $widget.installed}
            {if !$widget.system && empty($widget.inbuilt)}
                <div class="block top-padded align-center clear-both">
                    <form action="?module=widgets&amp;action=remove" method="POST"  onsubmit="return confirm(this.title);" title="[`This will delete the widget’s source code and settings without the recovery option. Delete the widget?`]">
                        {$wa->csrf()}
                        <input type="hidden" name="extras_id[{$widget.slug}]" value="{$widget.installed.vendor|default:'dummy'}{if !empty($widget.installed.edition)}:{$widget.installed.edition}{/if}">
                        <input type="submit" value="[`Delete this widget`]" class="button red">
                    </form>
                </div>
            {/if}
        {/if}
    </div>
    </div>

    <div class="content">

        <div class="i-breadcrumbs">
            <a href="#/widgets/">[`All widgets`]</a>
            {if !empty($widget.vendor)} &raquo; <a href="#/widgets/&vendor={$widget.vendor}/" data-href="#/widgets/%filter%&vendor={$widget.vendor}/%query%/" data-filter="vendor" class="js-item-link">{$widget.vendor_name|escape}</a>{/if}
        </div>

        <article class="i-summary">

            <div class="profile">
                <div class="image">
                    <img src="{$widget.icon|default:"`$wa_url`wa-apps/installer/img/dummy-widget.png"}" alt="">
                </div>
                <div class="details">
                    <h1>{$widget.name}{if isset($widget.status_label) && $widget.status_label} <span class="highlighted i-widget-label">{$widget.status_label}</span>{/if}</h1>
                    <p>{$widget.summary|default:''}</p>

                    <nav>
                        <ul class="menu-h">
                            <li class="selected"{if empty($widget.reviews.url)} style="display: none;"{/if}><a href="{$current_url}">[`Overview`]</a></li>
                            {if !empty($widget.reviews.url)}
                                <li><a href="{$widget.reviews.url}" target="_blank">[`Reviews`] <span class="hint">{$widget.reviews.count|escape}</span> <i class="icon10 new-window"></i></a></li>
                            {/if}
                        </ul>
                    </nav>
                </div>
            </div>
            {if !empty($widget.screenshots)}
                <div class="i-screenshots">
                    {$screenshot = reset($widget.screenshots)}
                    {if $screenshot}
                        <div id="current">
                            <img src="{$screenshot.img}" alt="" title="{$screenshot.description|escape}"/>
                            <!-- or YouTube / Vimeo video here -->
                        </div>
                    {/if}
                    {if count($widget.screenshots)>1}
                        <ul class="thumbs">
                            {foreach $widget.screenshots as $screenshot}
                                <li{if $screenshot@first} class="selected"{/if}><a href="#/show/screenshot/" class="js-action"><img data-src="{$screenshot.img}" src="{$screenshot.thumb}" alt="" title="{$screenshot.description|escape}"/></a></li>
                            {/foreach}
                        </ul>
                    {/if}
                </div>
            {/if}

        </article>

        <section class="i-page i-description" id="tab-{$widget.slug|escape}-info">
            <p>{$widget.description}</p>
        </section>


            {if !empty($widget.changelog)}
            <section class="i-page" id="tab-{$widget.slug|escape}-changelog" style="display:none;">
                {foreach $widget.changelog as $changelog}

                    <div><strong>{$changelog.version}</strong>{if !empty($changelog.datetime)}<span class="hint">{$changelog.datetime|wa_date:'humandate'|escape}</span>{/if}<p>{$changelog.content|nl2br}</p></div>
                {/foreach}
            </section>
        {/if}

        {*
            <section class="reviews">
                <h3>Reviews</h3>
            </section>
        *}
    </div>
{/if}
</div>
{if !empty($widget)}
<script type="text/javascript">
    <!--
    $.layout.window.setTitle('{$widget.name|cat:" — ":{$wa->accountName(false)}|escape:'javascript'}');
    //-->
</script>
{/if}
{block name=footer}
{/block}
