<style type="text/css">
    .s-compress-row td {
        padding-top: 15px !important;
        padding-bottom: 15px !important;
        font-size: 120%;
        border-top: 1px solid rgba(0, 0, 0, 0.05) !important;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
    }
    
    .s-compress-profit-cell {
        background: #090 !important;
        color: white;
        font-weight: bold;
    }
    
    .s-compress-info-row td {
        padding-top: 15px !important;
        padding-bottom: 15px !important;
        padding-left: 10px;
    }
</style>

<table class="zebra" style="max-width: 600px;">
    <thead>
        <tr class="white">
            <th>[`Thumbs`]</th>
            <th>[`Uploaded`]</th>
            <th>[`Downloaded`]</th>
            <th class="bold">[`Saved`]</th>
        </tr>
        <tr class="s-compress-row">
            <td><span id="s-compress-total-count">{$settings.count}</span></td>
            <td><span id="s-compress-total-out">{($settings.out / 1048576)|string_format:"%.2f"}</span>MB</td>
            <td><span id="s-compress-total-in">{($settings.in / 1048576)|string_format:"%.2f"}</span>MB</td>
            <td class="s-compress-profit-cell">
                <span id="s-compress-total-save">{if $settings.out != 0}{((1 - ($settings.in / $settings.out)) * 100)|ceil}% &#8594; {/if}{(($settings.out - $settings.in) / 1048576)|string_format:"%.2f"}MB</span></td>
        </tr>
    </thead>
</table>

<br><br>
<table>
    <tr class="s-compress-info-row">
        <td>[`Total:`]</td>
        <td style="font-size: 150%" id="s-compress-count"><i class="icon16 loading"></td>
        <td>[`thumbs`]</td>
    </tr>
    <tr>
        <td colspan=3>
            <center><br>
                <a href="#" class="button large green" id="s-compress-full-start">[`Scan and optimize`]</a>
                <i class="icon16 loading" id="s-compress-loading" style="display: none;"></i>
            </center>
        </td>
    </tr>
</table>

<br>

<div><span id="s-compress-info"></span></div>
<div class="progressbar blue" id="s-compress-progressbar" style="display: none">
    <div class="progressbar-outer">
        <div class="progressbar-inner" id="s-compress-progressbar-progress" style="width: 0;">
        </div>
    </div>
</div>
<br>

<div id="s-compress-compare">
</div>

<div class="block fields" id="s-compress-settings">
    <div class="field-group">
        <div class="field">
            <div class="name">[`CRON settings`]</div>
            <div class="value">
                <p>[`Automate the scanning and processing of images with CRON.<br>Script will run on schedule without your involvement.<br>Configure CRON with the following command in your control panel of your hosting: <br>`]
                    <b>php {$s_root}/cli.php shop compressRun</b><br>
                    [`For efficient operation run no more than once a day, better at nighttime.`]</p>
            </div>
        </div>
    </div>
</div>


{literal}
<script type="text/javascript">
    /*global $*/
    
    $(function() {
        $.get('?plugin=compress&action=total', function(response) {
            $('#s-compress-count').html("&asymp;" + response.data);
        })
    })


    $.wa.errorHandler = function() {};
    $("#s-compress-full-start").click(function() {
        // var c = $("#s-compress-count").text();
        var csrf = $('[name=_csrf]').attr("value");
        var url = '?plugin=compress&action=run';
        var quality = $("#s-compress-quality").val();
        var posting = $.post(url, {
            quality: quality,
            _csrf: csrf
        });
        posting.done(function(response) {
            processId = response['processId'];
            $('#s-compress-settings').hide();
            $('#s-compress-loading').show();
            $('#s-compress-full-start').hide();
        });
        var timerId = setInterval(function() {
            var posting = $.post(url, {
                _csrf: csrf,
                processId: processId
            });
            posting.done(function(data) {
                var ready = data['ready'];
                $("#s-compress-info").text('[`Processed`] ' + data.current + ' [`from`] ' + data.count);
                $("#s-compress-progressbar").show();
                if (data.settings.length != 0) {
                    $("#s-compress-total-count").text(data.settings.count);
                    $("#s-compress-total-out").text(((data.settings.out) / 1048576).toFixed(2));
                    $("#s-compress-total-in").text(((data.settings.in) / 1048576).toFixed(2));
                    if (data.settings.out != 0) {
                        $("#s-compress-total-save").html(Math.round((1 - (data.settings.in / data.settings.out)) * 100) + "% &#8594; " + (((data.settings.in - data.settings.out) / 1048576)).toFixed(2) * -1 + "MB");
                    }
                    $("#s-compress-progressbar-progress").css('width', (data.current / data.count * 100) + "%");
                    // $("#s-compress-count").text(c - data.current)
                }
                if (ready) {
                    clearInterval(timerId);
                    // $('#s-compress-loading').hide();
                    // $('#s-compress-full-start').show();
                    // $("#s-compress-progressbar").hide();
                    $("#wa-plugins-content").load("?plugin=compress&module=settings");
                }
            });
        }, 3500);
    });
</script>
{/literal}