.s-slider-section .s-layout {
  display: table;
  width: 100%;
}
.s-slider-section .s-layout.inline {
  width: auto;
}
.s-slider-section .s-layout.fixed {
  table-layout: fixed;
}
.s-slider-section .s-layout > .s-column {
  display: table-cell;
  vertical-align: top;
}
.s-slider-section .s-layout > .s-column.middle {
  vertical-align: middle;
}
.s-slider-section .s-layout > .s-column.center {
  text-align: center;
}
.s-slider-section .s-layout > .s-column.right {
  text-align: right;
}
.s-slider-section .bx-wrapper {
  margin: 0;
}
.s-slider-section .bx-wrapper .bx-viewport {
  top: 0;
  left: 0;
  padding: 0;
  border: 0;
  border-radius: 2px;
  overflow: hidden;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.s-slider-section .bx-wrapper .bx-pager {
  bottom: 1em;
}
.s-slider-section .bx-wrapper .bx-pager.bx-default-pager a {
  background: rgba(255,255,255,0.75);
  -webkit-box-shadow: 0 0 5px rgba(127,127,127,0.5);
  box-shadow: 0 0 5px rgba(127,127,127,0.5);
}
.s-slider-section .bx-wrapper .bx-pager.bx-default-pager a.active,
.s-slider-section .bx-wrapper .bx-pager.bx-default-pager a:hover {
  background: #ff0 !important;
}
.s-slider-section .bx-wrapper .bx-controls-direction a {
  top: 0;
  width: 64px;
  height: 100%;
  margin: 0;
  background: transparent;
  -webkit-transition: all 222ms linear;
  -moz-transition: all 222ms linear;
  -o-transition: all 222ms linear;
  -ms-transition: all 222ms linear;
  transition: all 222ms linear;
  z-index: auto;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  overflow: hidden;
}
.s-slider-section .bx-wrapper .bx-controls-direction a:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.s-slider-section .bx-wrapper .bx-controls-direction a:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 96px;
  height: 96px;
  margin: -48px 0 0;
  background: transparent url("../img/bx-controls.png") 50% no-repeat;
  -webkit-background-size: 192px auto;
  -moz-background-size: 192px auto;
  background-size: 192px auto;
}
.s-slider-section .bx-wrapper .bx-controls-direction a.bx-prev {
  left: 0;
}
.s-slider-section .bx-wrapper .bx-controls-direction a.bx-prev:after {
  left: -12px;
  background-position: 0 50%;
}
.s-slider-section .bx-wrapper .bx-controls-direction a.bx-next {
  right: 0;
}
.s-slider-section .bx-wrapper .bx-controls-direction a.bx-next:after {
  right: -12px;
  background-position: -96px 50%;
}
.s-slider-section .s-slider-block {
  margin: 0;
  padding: 0;
  height: 460px;
}
.s-slider-section .s-slider-block .s-slide-wrapper {
  position: relative;
  padding: 0;
  margin: 0;
  height: 100%;
}
.s-slider-section .s-slider-block .s-slide-wrapper .s-slide-block {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.s-slider-section .s-slider-block .s-slide-wrapper .s-header {
  padding: 0 3px 3px;
  margin: 0;
  color: inherit;
  font-size: 2em;
  line-height: 1.1em;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.s-slider-section .s-slider-block .s-slide-wrapper .s-description {
  margin: 1.5em 0 0;
  line-height: 1.285714285714286em;
}
.s-slider-section .s-slider-block .s-slide-wrapper .s-price-wrapper {
  margin: 1.5em 0 0;
}
.s-slider-section .s-slider-block .s-slide-wrapper .s-price-wrapper .s-price {
  font-size: 1.6em;
}
.s-slider-section .s-slider-block .s-slide-wrapper .s-price-wrapper .s-compare-price {
  font-size: 1.2em;
}
.s-slider-section .s-slider-block .s-slide-wrapper .s-counter {
  margin: 1.5em 0 0;
}
.s-slider-section .s-slider-block .s-slide-wrapper .s-counter span {
  display: inline-block;
  padding: 0.5em;
  border-radius: 3px;
  background: rgba(0,0,0,0.2);
  font-weight: bold;
  font-size: 1.6em;
  color: #ff7;
}
.s-slider-section .s-slider-block .s-slide-wrapper .s-badge-wrapper {
  position: absolute;
  top: 0;
  right: 60px;
}
.s-slider-section .s-slider-block .s-slide-wrapper .s-badge-wrapper .badge,
.s-slider-section .s-slider-block .s-slide-wrapper .s-badge-wrapper .badge:before,
.s-slider-section .s-slider-block .s-slide-wrapper .s-badge-wrapper .badge:after {
  width: 70px;
  height: 70px;
}
.s-slider-section .s-slider-block .s-slide-wrapper .s-badge-wrapper .badge span {
  font-size: 1.5em;
  top: 25px;
}
.s-slider-section .s-slider-block .s-slide-wrapper .s-badge-wrapper .badge.bestseller:after {
  -webkit-background-size: 64px 64px;
  -moz-background-size: 64px 64px;
  background-size: 64px 64px;
  background-position: 2px 2px;
}
.s-slider-section .s-slider-block .s-slide-wrapper .s-image-wrapper {
  position: relative;
  margin: 1.5em 0 0;
}
.s-slider-section .s-slider-block .s-slide-wrapper .s-image-wrapper img {
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
  max-height: 320px;
}
.s-slider-section .s-slider-block .s-slide-wrapper .s-slide-link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.s-slider-section.is-promocards .bx-wrapper .bx-controls-direction a:after {
  background-image: url("../img/bx-controls-white.png");
}
.s-slider-section.is-promocards .s-slider-block .s-slide-wrapper {
  background: transparent 50% 0 no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-shadow: 0 1px 2px rgba(0,0,0,0.75);
  text-align: center;
}
.s-slider-section.is-promocards .s-slider-block .s-slide-wrapper .s-slide-block {
  padding: 2em;
}
.s-slider-section.is-promocards .s-slider-block .s-slide-wrapper .s-header,
.s-slider-section.is-promocards .s-slider-block .s-slide-wrapper .s-description {
  color: inherit;
}
.s-slider-section.is-promocards .s-slider-block .s-slide-wrapper .s-description {
  padding: 0 48px;
}
.s-slider-section.is-products .s-slider-block .s-slide-wrapper .s-slide-block {
  padding: 0 64px;
}
.s-slider-section.is-products-wide {
  color: #fff;
}
.s-slider-section.is-products-wide .s-slider-block .s-slide-wrapper {
  background: transparent 50% 0 no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-shadow: 0 1px 2px rgba(0,0,0,0.75);
}
.s-slider-section.is-products-wide .s-slider-block .s-slide-wrapper .s-slide-block {
  padding: 2em 64px;
}
.s-slider-section.is-products-wide .s-slider-block .s-slide-wrapper .s-header,
.s-slider-section.is-products-wide .s-slider-block .s-slide-wrapper .s-description {
  color: inherit;
}
.s-slider-section.is-products-wide .s-slider-block .s-slide-wrapper .s-description {
  padding-right: 100px;
}
@media (max-width: 760px) {
  .s-slider-section .s-layout.is-adaptive {
    display: block;
    width: auto;
  }
  .s-slider-section .s-layout.is-adaptive > .s-column {
    display: block;
  }
  .s-slider-section .bx-wrapper .bx-pager {
    bottom: 0;
  }
  .s-slider-section .bx-wrapper .bx-controls-direction a {
    display: none;
  }
  .s-slider-section .s-slider-block {
    height: 200px;
    text-align: center;
  }
  .s-slider-section .s-slider-block .s-slide-wrapper .s-slide-block {
    padding: 1em;
  }
  .s-slider-section .s-slider-block .s-slide-wrapper .s-header {
    font-size: 15px;
  }
  .s-slider-section .s-slider-block .s-slide-wrapper .s-description {
    display: none;
  }
  .s-slider-section .s-slider-block .s-slide-wrapper .s-price-wrapper .s-price,
  .s-slider-section .s-slider-block .s-slide-wrapper .s-price-wrapper .s-compare-price {
    font-size: 15px;
  }
  .s-slider-section .s-slider-block .s-slide-wrapper .s-badge-wrapper {
    top: 0;
    right: 60px;
  }
  .s-slider-section.is-products .s-slider-block {
    height: 285px;
  }
  .s-slider-section.is-products .s-slider-block .s-slide-wrapper .s-slide-block {
    padding: 0;
  }
  .s-slider-section.is-products .s-slider-block .s-slide-wrapper .s-price-wrapper {
    margin: 0.5em 0 0;
  }
  .s-slider-section.is-products .s-slider-block .s-slide-wrapper .s-image-wrapper {
    margin: 0.5em 0 0;
  }
  .s-slider-section.is-products .s-slider-block .s-slide-wrapper .s-image-wrapper img {
    max-height: 200px;
  }
  .s-slider-section.is-products-wide {
    color: #fff;
  }
  .s-slider-section.is-products-wide .s-slider-block .s-slide-wrapper .s-slide-block {
    padding: 1em;
  }
  .s-slider-section.is-products-wide .s-slider-block .s-slide-wrapper .s-price-wrapper {
    padding: 100px 0 0;
  }
  .s-slider-section.is-products-wide .s-slider-block .s-slide-wrapper .s-badge-wrapper {
    right: 70px;
  }
}
.store-info .s-schedule-wrapper {
  position: relative;
}
.store-info .s-schedule-wrapper.is-open .s-label-wrapper .s-icon {
  -webkit-transform: rotate(180deg) translate(0, -1px);
  -moz-transform: rotate(180deg) translate(0, -1px);
  -o-transform: rotate(180deg) translate(0, -1px);
  -ms-transform: rotate(180deg) translate(0, -1px);
  transform: rotate(180deg) translate(0, -1px);
}
.store-info .s-schedule-wrapper.is-open .s-hidden {
  display: block;
}
.store-info .s-schedule-wrapper .s-visible {
  text-align: center;
}
.store-info .s-schedule-wrapper .s-hidden {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  width: 250px;
  padding: 12px 15px;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 16px -3px rgba(0,0,0,0.25);
  box-shadow: 0 3px 16px -3px rgba(0,0,0,0.25);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  background: #fff;
  text-align: left;
}
.store-info .s-schedule-wrapper .s-label-wrapper {
  display: inline-block;
  cursor: pointer;
  color: #999;
}
.store-info .s-schedule-wrapper .s-label-wrapper .s-icon {
  display: inline-block;
  width: 9px;
  height: 9px;
  background: transparent url("../img/svg/arrow.down.svg") 50% no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
}
.store-info .s-schedule-wrapper .s-days-wrapper {
  margin: 5px 0 0;
}
.store-info .s-schedule-wrapper .s-days-wrapper .s-day-wrapper {
  margin-top: 5px;
}
.store-info .s-schedule-wrapper .s-days-wrapper .s-day-wrapper:first-child {
  margin-top: 0;
}
.store-info .s-schedule-wrapper .s-days-wrapper .s-day-wrapper .s-date {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  color: #888;
  width: 100px;
  font-size: 14px;
  line-height: 1.214285714285714em;
}
.store-info .s-schedule-wrapper .s-days-wrapper .s-day-wrapper .s-value {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 1.1875em;
}
.store-info .s-schedule-wrapper .s-days-wrapper .s-day-wrapper .s-value .s-time {
  color: #000;
}
.store-info .s-schedule-wrapper .s-days-wrapper .s-day-wrapper .s-value .s-text {
  color: #aaa;
}
.store-info .s-schedule-wrapper .s-close-icon {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background: transparent url("../img/svg/delete.svg") 50% no-repeat;
  -webkit-background-size: 10px 10px;
  -moz-background-size: 10px 10px;
  background-size: 10px 10px;
  cursor: pointer;
}
