
<h1>[`CSV product export`]</h1>
<p>
    {sprintf('[`Export products to a comma-separated values (CSV) file. CSV files can be created and managed using most modern spreadsheet applications such as Microsoft Excel, OpenOffice, and iWork. For detailed information about Shop-Script-supported CSV file structure, please <a href="%s" target="_blank">refer to the manual</a>.`]','[`http://www.shop-script.com/help/45/import-products-from-csv-file/`]')}
    <i class="icon10 new-window"></i>
</p>
{if !empty($info)}
<div class="field-group" style="border-bottom: 1px solid #ccc;">
    <div class="field">
        <div class="name bold">
            [`Last export`]
        </div>
        {foreach $info as $f}
        <div class="value" style="min-width: 300px;">
            <p>
                <a href="?module=csv&action=productdownload&profile={$profile.id|default:''}&file={$f.name|escape}" class="bold nowrap inline"><i class="icon16 download" style="margin-top: 0.3em;"></i>[`Download`]</a>
                <span class="hint inline">{$f.size|wa_format_file_size}</span>
                <br>
                <span class="hint inline" style="color: #aaa;">[`Updated`]: {$f.mtime|wa_datetime:"humandatetime"}</span>
            </p>
        </div>
        {/foreach}
    </div>
</div>
{/if}


<div class="field js-profile-description">
   <div class="name">[`Profile`]</div>
   <div class="value">
       <input type="text" name="profile[name]" value="{$profile.name|default:''|escape}">
       <input type="hidden" name="profile[id]" value="{$profile.id|default:'-1'}">
   </div>
</div>


{if count($settlements)>1}
<div class="field-group">
    <div class="field">
        <div class="name">
            [`Storefront`]
        </div>
        <div class="value no-shift">
            <select name="domain">
                {foreach $settlements as $route => $title}
                    <option value="{$route|escape}"{if $route eq $current_domain} selected="selected"{/if}>{$title|escape}</option>
                {/foreach}
            </select>
            <p class="hint">[`Select storefront to make product image URLs exported properly`]</p>
        </div>
    </div>
</div>
{elseif $route = reset($settlements)}
<input type="hidden" value="{$route|escape}" name="domain">
{/if}

<div class="field-group">
    <div class="field">
        <div class="name">
           [`Encoding`]
        </div>
        <div class="value">
            <select name="encoding">
            {foreach $encoding as $enc}<option{if $enc == $profile.config.encoding} selected="selected"{/if}>{$enc|escape}</option>{/foreach}
            </select>
        </div>
        <div class="value hint js-encoding-hint" style="display: none;">
            <i class="icon10 exclamation" style="margin-top: 0;"></i>
            {sprintf('[`Certain symbols (such as %s) may be ommitted when exporting with the selected encoding. Consider using UTF-8 encoding for safe export and import.`]','©, ±, ö')}
            <br><br>
        </div>

    </div>

    <div class="field">
        <div class="name">
           [`Separator`]
        </div>
        <div class="value">
            <select name="delimiter">
                <option value=";"{if $profile.config.delimiter eq ';'} selected="selected"{/if}>[`Semicolon`] (;)</option>
                <option value=","{if $profile.config.delimiter eq ','} selected="selected"{/if}>[`Comma`] (,)</option>
                <option value="tab"{if $profile.config.delimiter eq 'tab'} selected="selected"{/if}>[`Tab`]</option>
            </select>
        </div>
    </div>

    <div class="field">
        <div class="name">
            [`Features`]
        </div>
        <div class="value no-shift">
            <label><input type="checkbox" name="features"{if !empty($profile.config.features)} checked="checked"{/if}> [`Export product feature values`]</label>
        </div>
    </div>

    <div class="field">
        <div class="name">
            [`Images`]
        </div>
        <div class="value no-shift">
            <label><input type="checkbox" name="images"{if !empty($profile.config.images)} checked="checked"{/if}> [`Export product image filenames`]</label>
        </div>
    </div>

    <div class="field">
        <div class="name">
            [`Additional categories`]
        </div>
        <div class="value no-shift">
            <label><input type="checkbox" name="extra_categories"{if !empty($profile.config.extra_categories)} checked="checked"{/if}> [`Duplicate product row under each category it belongs to`]</label>
        </div>
    </div>
    <div class="field">
        <div class="name">[`Primary SKU`]</div>
        <div class="value no-shift"><label><input name="primary_sku" type="checkbox"{if !empty($profile.config.primary_sku)} checked="checked"{/if}> [`Export default SKU choice value`]</label></div>
    </div>
    <div class="field">
        <div class="name">
            [`Custom parameters`]
        </div>
        <div class="value no-shift"><label><input type="checkbox" name="params"{if !empty($profile.config.params)} checked="checked"{/if}> [`Export product and category custom parameters`]</label></div>
    </div>

    <div class="field">
        <div class="name">
            [`Plugin fields`]
        </div>
        <div class="value no-shift"><label><input type="checkbox" name="extra"{if !empty($profile.config.extra)} checked="checked"{/if}> [`Export product extra fields`]</label></div>
    </div>
</div>


<div class="field-group">
    {include
    file="templates/includes/productSelector.html"
    hints=[
        'id'=>'<i class="icon10 exclamation"></i> [`Product categories will not be exported`]',
        'set'=>'<i class="icon10 exclamation"></i> [`Product categories will not be exported`]',
        'type'=>'<i class="icon10 exclamation"></i> [`Product categories will not be exported`]'
    ]
        hash=$profile.config.hash
    }
</div>

<div class="clear-left"></div>

<div class="field-group" id="s-csvproduct-report" style="display: none;">
    <div class="field">
        <div class="value"></div>
        <div class="value">
            <br>
            <a href="?module=csv&action=productdownload&profile={$profile.id|default:''}" class="bold nowrap"><i class="icon16 download"></i>[`Download`]</a>
        </div>
    </div>
</div>

<div class="field-group" id="s-csvproduct-submit">
    <div class="field">
        <div class="value submit">
            <input type="submit" class="button green" value="[`Start export`]">
        </div>

        <div class="value js-progressbar-container" style="display:none;">

            <div class="progressbar blue float-left" style="display: none; width: 70%;">
                <div class="progressbar-outer">
                    <div class="progressbar-inner" style="width: 0;"></div>
                </div>
            </div>

            <img style="float:left; margin-top:8px;" src="{$wa_url}wa-content/img/loading32.gif" />
            <div class="clear"></div>
            <span class="progressbar-description"></span>
            <br>
            <br>
                <span class="small italic">
                    [`Please do not close your browser window and do not leave this page until the entire export process is finished.`]
                </span>
        </div>
        <br>
        <br>
        <em class="errormsg"></em>
    </div>
</div>

