<style>
    .ui-menu .ui-menu-item-disabled {
        margin: 0;
        padding: 0;
        zoom: 1;
        float: left;
        clear: left;
        width: 100%;
    }
    .ui-menu .ui-menu-item-disabled a {
        text-decoration: none;
        display: block;
        padding: .2em .4em;
        line-height: 1.5;
        zoom: 1;
        color: gray;
    }
    .ui-menu .ui-menu-item-disabled a.ui-state-hover,
    .ui-menu .ui-menu-item-disabled a.ui-state-active {
        font-weight: normal;
        margin: -1px;
    }
</style>
<div id="s-transfer-product-dialog" class="dialog width800px height400px">
    <div class="dialog-background"></div>
    <div class="dialog-window">
        <form method="post">
            <div class="dialog-content">
                <div class="dialog-content-indent">
                    <h1>[`New transfer`]</h1>

                    <div class="s-alert" style="display: block;">
                        <a class="s-alert-close" href="javascript:void(0);">&times;</a>
                        [`Transfers is an easy way to move inventory from one stock to another. When you create new transfer, it automatically writes off selected products from the source stock. And once transfer has been completed, products are added to the destination stock.`]
                    </div>

                    <div class="fields form" style="width: 100%;">
                      <div class="field-group">
                        <div class="field">
                            <div class="name">
                                [`ID`]
                            </div>
                            <div class="value">
                                <input type="text" name="string_id" value="{$string_id}" placeholder="{$string_id}" class="bold">
                            </div>
                        </div>
                        <div class="field">
                            <div class="name">
                                [`Source stock`]
                            </div>
                            <div class="value no-shift">
                                <select name="from">
                                    <option value="">[`New arrival (no source stock)`]</option>
                                    {foreach $stocks as $stock}
                                        <option value="{$stock.id}" {if $from == $stock.id}selected="selected"{/if}>{$stock.name|escape}</option>
                                    {/foreach}
                                </select>
                            </div>
                        </div>
                        <div class="field">
                            <div class="name">
                                [`Destination stock`]
                            </div>
                            <div class="value no-shift">
                                <select name="to">
                                    <option value=""></option>
                                    {foreach $stocks as $stock}
                                        <option value="{$stock.id}" {if $to == $stock.id}selected="selected"{/if}>{$stock.name|escape}</option>
                                    {/foreach}
                                </select>
                            </div>
                        </div>
                      </div>
                      <div class="field-group">
                        <div class="field">
                            <div class="name">
                                [`Products`]
                            </div>
                            <div class="value">
                                <input type="search" class="s-transfer-products-add-autocomplete search long" placeholder="[`Start typing name of an existing product or SKU`]">
                                <br><br>
                                <table class="zebra">
                                    <tbody class="s-transfer-products-list"></tbody>
                                    <tfoot>
                                        <tr class="s-transfer-product-item s-tmpl" style="display: none;" data-id="">
                                            <td class="min-width valign-top">
                                                <img style="width: 48px;" src="">
                                            </td>
                                            <td>
                                                <a href="" class="s-product-name" target="_blank"></a>
                                                <span class="s-sku-name hint"></span>
                                            </td>
                                            <td>
                                                x
                                            <span class="f-transfer-count">
                                                <input type="text" name="count[]" value="1" class="small short" disabled="disabled">
                                            </span>
                                                <input type="hidden" name="id[]" value="" disabled="disabled">
                                            </td>
                                            <td class="min-width">
                                                <a class="s-delete-item"><i class="icon16 delete"></i></a>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                    <!-- plugin hook: 'backend_stocks.%plugin_id%.transfer' -->
                    {* @event backend_stocks.%plugin_id%.transfer *}
                    {foreach $backend_stocks_hook as $_}{$_.transfer|default:''}{/foreach}
            </div>
            <div class="dialog-buttons">
                <div class="dialog-buttons-gradient">
                    <input class="button green" name="send" type="button" value="[`Create transfer`]">
                    [`or`]
                    <a class="cancel" href="javascript:void(0);">[`cancel`]</a>
                    {* <input class="button yellow" name="send_and_receive" type="button" value="[`Transfer complete`]"> *}
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $(function () {

        var dialog = $('#s-transfer-product-dialog');
        var list = $('.s-transfer-products-list', dialog);
        var form = $('form', dialog);

        var showValidateErrors = function (errors) {
            $.each(errors, function(i, er) {
                var el = er.name === 'id' ? list : form.find('[name="' + er.name + '"]');
                var parent = el.parent();
                el.addClass('error');
                parent.append('<em class="errormsg">' + er.msg + '</em>');
            });
        };

        var clearValidateErrors = function () {
            form.find('.errormsg').remove()
                    .end().find('.error').removeClass('error');
        };

        var renderItem = function (data) {
            var item = $('.s-transfer-product-item.s-tmpl', dialog).clone();
            item.removeClass('s-tmpl');
            item.data('id', data.id);
            item.find('a').attr('href', '?action=products#/product/' + data.product_id + '/');
            item.find('img').attr('src', data.image_url);
            item.find('.s-product-name').text(data.product_name);
            item.find('.s-sku-name').text(data.name);
            item.find('[name="id[]"]').attr('disabled', false).val(data.id);
            item.find('[name="count[]"]').attr('disabled', false);
            return item.show();
        };

        {foreach $skus as $sku}
            list.append(renderItem({$sku|json_encode}));
        {/foreach}

        var submit = function (url) {
            clearValidateErrors();
            $.shop.jsonPost(
                url,
                form.serialize(),
                function (r) {
                    dialog.trigger('close');
                    // interface
                    dialog.trigger('afterSubmit', [r]);
                },
                function (r) {
                    showValidateErrors(r.errors || []);
                }
            );
        };

        dialog.waDialog({
            esc: false,
            onLoad: function () {

                var search_input = $('.s-transfer-products-add-autocomplete', dialog);
                search_input.autocomplete({
                    source: function (request, response) {
                        $.getJSON(
                            '?module=transfer&action=skus&stock_id=' + $('[name=from]').val(),
                            request,
                            function (r) {
                                response(r);
                            }
                        );
                    },
                    minLength: 3,
                    delay: 300,
                    open: function () {
                        $('.ui-menu-item .s-sku-disabled').each(function () {
                            var el = $(this);
                            var li = el.closest('.ui-menu-item');
                            li.removeClass('ui-menu-item').addClass('ui-menu-item-disabled');
                        });
                    },
                    select: function (event, ui) {
                        if (ui.item.disabled) {
                            search_input.val('');
                            return false;
                        }
                        search_input.val('');
                        list.append(renderItem(ui.item));
                        return false;
                    }
                });

                list.on('click', '.s-delete-item', function () {
                    var el = $(this);
                    var item = el.closest('.s-transfer-product-item');
                    item.remove();
                    return false;
                });

                $.shop.changeListener(form, ':input', clearValidateErrors);
                form.on('change', ':input', clearValidateErrors);

                form.find('[name=send]').click(function () {
                    submit('?module=transfer&action=send');
                    return false;
                });

                form.find('[name=send_and_receive]').click(function () {
                    submit('?module=transfer&action=sendAndReceive');
                    return false;
                });

                var $alert_block = $('.s-alert:first', dialog);
                if ($.storage.get('shop/transfer_alert_hidden')) {
                    $alert_block.hide();
                } else {
                    $alert_block.show();
                    $('.s-alert-close', dialog).click(function() {
                        $alert_block.hide();
                        $.storage.set('shop/transfer_alert_hidden', 1);
                    });
                }

                (function (select) {
                    var selected = select.find('option:selected').val();
                    select.change(function () {
                        var len = form.find('.s-transfer-products-list').children().length
                        if (len > 0) {
                            var msg = $_(len, "You’ve added %d product to this transfer already. Are you sure you want to change the source stock?")
                            msg = msg.replace('%d', len);
                            if (!confirm(msg)) {
                                select.find('option[value="' + selected + '"]').attr('selected', true);
                                return false;
                            }
                        }
                        selected = $(this).val();
                    });
                })(form.find('[name=from]'));
            }
        });

    });
</script>
