@charset "UTF-8";
@font-face {
    font-family: 'JivoSite';
    src: url('../fonts/JivoSite.eot');
    src: url('../fonts/JivoSite?#iefix') format('embedded-opentype'),
        url('../fonts/JivoSite.woff') format('woff'),
        url('../fonts/JivoSite.ttf') format('truetype'),
        url('../fonts/JivoSite.svg#JivoSite') format('svg');
    font-weight: normal;
    font-style: normal;   
}

#jivo_custom_widget_icon {
    display: inline-block;    
    font-size: 20px;
    font-family: 'JivoSite';
    line-height: 35px;
    overflow: hidden;
    width: 27px;
    text-align: left;    
}

/* скрываем оригинальный виджет - чтобы не было два ярлыка на экране*/
#jivo_chat_widget{
    display: none;
}

/* стиль по умолчанию - для оффлайн сообщений, если никого нет в онлайне */
#jivo_custom_widget {    
    background-color: #c12613;
    color: #fff;
    cursor: pointer;
    height: 35px;
    left: -106px;
    position: fixed;
    top: 45%;
    width: 240px;
    z-index: 300000;
    vertical-align: middle;
    text-align: center;
    text-shadow: 0px 0px 3px #000;
    overflow: hidden;
    border-radius: 0px 0px 7px 7px;
    -webkit-border-radius: 0px 0px 7px 7px;
    -moz-border-radius: 0px 0px 7px 7px;     
    
    box-shadow: 0px 7px 2px -5px #1A1A1A, inset 0px 0px 1px #9C0000;
    -webkit-box-shadow: 0px 7px 2px -5px #1A1A1A, inset 0px 0px 1px #9C0000;
    -moz-box-shadow: 0px 7px 2px -5px #1A1A1A, inset 0px 0px 1px #9C0000;       
    
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);    
}

#jivo_custom_widget_text {
    height: 35px;
    max-width: 202px;
    line-height: 35px;   
    overflow: hidden;
    display: inline-block;    
}

/* при наведении ярлык должен сдвигаться вправо на 3px */
#jivo_custom_widget:hover{
   left: -103px;
}

.jivo_widget_right {
    left: auto !important;
    right: -106px;
    border-radius: 7px 7px 0px 0px !important;
    -webkit-border-radius: 7px 7px 0px 0px !important;
    -moz-border-radius: 7px 7px 0px 0px !important;     
    box-shadow: 0px -7px 2px -5px #1A1A1A, inset 0px 0px 1px #9C0000 !important;
    -webkit-box-shadow: 0px -7px 2px -5px #1A1A1A, inset 0px 0px 1px #9C0000 !important;
    -moz-box-shadow: 0px -7px 2px -5px #1A1A1A, inset 0px 0px 1px #9C0000 !important;
    text-shadow: 0px 0px 3px #000 !important;
}

.jivo_widget_right:hover{
    right: -103px !important;
}