#jivo_custom_widget {
    top: 35%;
    left: 0;        
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.000, M12=-1.000, M21=1.000, M22=0.000)"; /* IE8 */        
}

#jivo_custom_widget:hover {
    left: 0;
}

#jivo_custom_widget_icon {
    display: none;
}

.jivo_widget_right {    
    right: -206px;    
    left: 0;        
}

.jivo_widget_right:hover{
    right: -206px !important;
    left: 0;
}