<div id="mount"></div>
<script>
	window.turbo = {
		resource_base_url: '{$wa_app_static_url}plugins/turbo/assets',
		settings: {$settings|json_encode},
	};
</script>
<link rel="stylesheet" href="{$wa_app_static_url}plugins/turbo/assets/settings_page.css" />
<script src="{$wa_app_static_url}plugins/turbo/assets/settings_page.js"></script>