<form id="order-edit-form" method="post" action="?module=order&action=save{if !empty($order.id)}&id={$order.id}{/if}">
<div class="sidebar left400px s-order-customer-details">
    <div class="block top-padded">
        {if !$new_order_for_client && empty($order.id) && $wa->userRights('shop')}
            <div class="float-right block half-padded small">
                <a href="#" id="s-order-new-customer" class="inline-link"><b><i>[`New customer`]</i></b></a>
            </div>
        {/if}
        <h2><a href="#" class="back">&larr; [`Back`]</a> <span>[`Customer`]</span></h2>
        <em class="errormsg s-customer-errors" style="font-size: 1.1em;"></em>
        {if empty($order.id) && !$new_order_for_client && $has_contacts_rights}
            <input id="customer-autocomplete" type="search" class="s-order-email-field search large long" placeholder="[`Type name, email or phone number`]">
        {/if}
    </div>
    <div class="block">
        <div class="fields form width200px" id="s-order-edit-customer">
            <div class="field-group">
                {if $form}
                    {$form->html()}
                {else}
                    <div class="fields form width100px">
                        <div class="field-group">
                            <div class="field">
                                <div class="name">[`Name`]</div>
                                <div class="value"><span>{$order.contact.name|escape}</span></div>
                            </div>
                            <div class="field">
                                <div class="name">[`Phone`]</div>
                                <div class="value"><p><span>{$order.contact.phone}</span></p></div>
                            </div>
                            <div class="field">
                                <div class="name">[`Email`]</div>
                                <div class="value"><p><span>{$order.contact.email}</span></p></div>
                            </div>
                        </div>
                    </div>
                {/if}
            </div>
        </div>
        {if $form}
            <input type="hidden" value="{if !empty($order.id)}{$order.contact_id}{elseif $new_order_for_client}{$new_order_for_client|escape}{else}0{/if}" name="customer_id" id="s-customer-id" {if empty($order.id)}disabled="disabled"{/if}>
        {/if}
    </div>
</div>

{* Templates *}

{function name="service_item"}
    {$multi_variants = count($service.variants) > 1}
    <li>
        {if !empty($service.item)}
            {if !empty($service.fake)}
                <label>
                    <input type="checkbox" checked="checked" class="js-fake-service-selected" value="{$service_id}">
                    <input type="text" name="name[edit][{$service.item.id}]" value="{$service.item.name|escape}" class="small">
                    <input type="hidden" name="service[edit][{$index}][item][{$service.item.id}]" value="{$service_id}">
                    {if $service.item.service_variant_id !== null}
                        <input type="hidden" name="variant[edit][{$index}][{$service_id}]" value="{$service.item.service_variant_id}">
                    {/if}
                </label>
            {else}
                <label>
                    <input type="checkbox" name="service[edit][{$index}][item][{$service.item.id}]" value="{$service_id}" checked="checked">
                    {$service.name|escape}
                </label>
                {if !$multi_variants}
                    <input type="hidden" name="variant[edit][{$index}][{$service_id}]" value="{$service.variant_id}">
                {else}
                    <select name="variant[edit][{$index}][{$service_id}]" class="s-orders-service-variant"
                        {if $service.item.service_variant_id === null}disabled="disabled"{/if}>
                        {foreach $service.variants as $variant_id => $variant}
                            <option value="{$variant.id}"
                                                   data-price="{$variant.price}"
                                                   {if $service.currency == '%'}data-percent-price="{$variant.percent_price}"{/if}
                                                   {if $service.item.service_variant_id == $variant_id}selected="selected"{/if}>
                                {$variant.name|escape} ({$variant.price_str})
                            </option>
                        {/foreach}
                    </select>
               {/if}
            {/if}
            <input type="text" name="price[edit][item][{$index}][{$service.item.id}]" value="{$service.item.price}"
                                        data-currency="{$service.currency}"
                                        data-price="{$service.item.price}"
                                        {if $service.currency == '%'}data-percent-price="{$service.percent_price}"{/if}
                                        class="short numerical s-orders-service-price">{$currency}
        {else}
            <label>
                <input type="checkbox" name="service[edit][{$index}][new][{$service_id}]" value="{$service_id}">
                {$service.name|escape}
            </label>
            {if !$multi_variants}
                <strong>{$service.variants[$service.variant_id].price_html}</strong>
                <input type="hidden" name="variant[edit][{$index}][{$service_id}]" value="{$service.variant_id}">
            {else}
                <select name="variant[edit][{$index}][{$service_id}]" class="s-orders-service-variant">
                    {foreach $service.variants as $variant_id => $variant}
                        <option value="{$variant.id}"
                                             data-price="{$variant.price}"
                                             {if $service.currency == '%'}data-percent-price="{$variant.percent_price}"{/if}
                                             {if $service.variant_id == $variant_id}selected="selected"{/if}>
                            {$variant.name|escape} ({$variant.price_str})
                        </option>
                    {/foreach}
                </select>
            {/if}
            <input type="text" name="price[edit][new][{$index}][{$service_id}]" value="{$service.price}"
                                        data-currency="{$service.currency}"
                                        data-price="{$service.price}"
                                        {if $service.currency == '%'}data-percent-price="{$service.percent_price}"{/if}
                                        class="short numerical s-orders-service-price">{$currency}
        {/if}
        <br/>
        <span class="hint js-item-total-discount" data-discount-id="{$index}_{$service_id}">
            {if !empty($service.item.total_discount)}
                {shop_currency_html(-$service.item.total_discount,$currency,$currency)|string_format:"[`Total discount for this service: %s.`]"}
            {/if}
        </span>
    </li>
{/function}

{function name='sku_stocks_select' sku=[] item=[] stocks=[]}
    <select name="stock[edit][{$item.id}]" class="s-orders-sku-stock-select">
        {if empty($sku.stock[$item.stock_id])}
            <option value="0"></option>
        {/if}
        {foreach $stocks as $stock_id => $stock}
            <option value="{$stock_id}"
                data-icon="{$sku.icons[$stock_id]}"
                {if $stock_id == $item.stock_id}selected="selected"{/if}>
                    @{$stock.name|escape} ({$sku.count_htmls[$stock_id]})
            </option>
        {/foreach}
    </select>
    <em class="errormsg s-error-item-stock_id"></em>
{/function}

{function name="product_item"}
    <tr data-product-id="{$product.id}" data-index="{$index}" data-item-id="{$product.item.id}" class="s-order-item">
        <td class="min-width valign-top">
            {if $product.url_crop_small}
                <img src="{$product.url_crop_small}">
            {else}
                <img src="{$wa_app_static_url}img/image-dummy-small.png" class="not-found" style="width: 48px; height: 48px;">
            {/if}
        </td>
        <td>
            <strong class="large">
                {if empty($product.fake)}{$product.name|escape}{else}{$product.item.name|escape}{/if}
            </strong>
            <span class="gray">
                {if empty($product.fake)}{$product.price_html}{/if}
            </span>

            {if count($product.skus) == 1}
                {$sku = reset($product.skus)}
                {if !empty($sku.compare_price) && $sku.compare_price > 0}
                    <span class="hint compare-price">(<span style="text-decoration: line-through">{shop_currency((float)$sku.compare_price,$product.currency,$currency)}</span> {$order.currency})</span>
                {/if}
            {/if}
            {if empty($product.fake)}
                {if count($product.skus) == 1}
                    <span class="s-orders-stock-icon-aggregate">
                        {$product.icon}
                    </span>
                    <span class="s-orders-stock-icon"></span>
                {else}
                    {$product.icon}
                {/if}
            {/if}

            {if empty($product.fake) && $product.item.type == 'product'
            && $product.current_product_name|escape != $product.item.name|escape}
                <div class="s-product-previous-name">
                    <i class=" icon16 exclamation"></i>
                    <span class="gray">
                [`Old name`]: {$product.item.name|escape}
            </span>
                </div>
            {/if}
            <p>
                {if count($product.skus) > 1}
                    <ul class="menu-v compact small s-orders-skus">
                        {foreach $product.skus as $sku_id => $sku}
                            <li><label>
                                <input type="radio" name="sku[edit][{$product.item.id}]" value="{$sku_id}"
                                    {if $product.item.sku_id == $sku_id}checked="checked"{/if}>
                                {$sku.name|escape}
                                {if $sku.sku}<span class="gray">{$sku.sku|escape}</span>{/if}
                                <strong>{$sku.price_html}</strong>
                                    {if !empty($sku.compare_price) && $sku.compare_price > 0}
                                        <span class="hint compare-price">(<span style="text-decoration: line-through">{shop_currency((float)$sku.compare_price,$product.currency,$currency)}</span> {$order.currency})</span>
                                    {/if}
                                <span class="s-orders-stock-icon-aggregate">
                                    {$sku.icon}
                                </span>
                                <span class="s-orders-stock-icon" style="display:none;"></span>
                                <div class="s-orders-sku-stock-place">
                                    {if $product.item.sku_id == $sku_id && !empty($sku.stock)}
                                        {sku_stocks_select sku=$sku item=$product.item stocks=$stocks}
                                    {/if}
                                </div>
                            </label></li>
                        {/foreach}
                    </ul>
                {else}
                    {$sku = $product.skus[$product.item.sku_id]}
                    {if $sku && empty($sku.fake) && !empty($sku.sku)}
                        <span class="hint">{$sku.sku}</span>
                    {/if}
                    <div class="s-orders-sku-stock-place">
                        {if !empty($sku.stock)}
                            {sku_stocks_select sku=$sku item=$product.item stocks=$stocks}
                        {/if}
                    </div>
                    {if !empty($product.fake)}
                        <p><input type="text" name="name[edit][{$product.item.id}]" value="{$product.item.name|escape}" class="small"></p>
                    {elseif !empty($sku.fake)}
                        <p class="small red">
                            <i class="icon10 exclamation"></i> <span>{sprintf(_w('SKU %s no longer exists for this product'), $sku['name'])}</span>
                        </p>
                        <input type="hidden" name="name[edit][{$product.item.id}]" value="{$product.item.name|escape}" class="small">
                    {/if}

                    <input type="hidden" name="sku[edit][{$product.item.id}]"   value="{$product.item.sku_id}">
                {/if}
            </p>

            {if !empty($product.services)}
                <ul class="menu-v compact small s-orders-services"><p>
                    {foreach $product.services as $service_id => $service}
                        {call service_item}
                    {/foreach}
                </p></ul>
            {/if}
        </td>
        <td class="valign-top align-right nowrap">
            <span style="padding-top: 2px;" class="gray">&times;</span>
            <input type="text"
                   name="quantity[edit][{$product.item.id}]"
                   value="{$product.item.quantity}"
                   class="s-orders-quantity short numerical"
            >
        </td>
        <td class="valign-top s-orders-product-price nowrap align-right">
            <input type="text" name="price[edit][{$product.item.id}]" value="{$product.item.price}" class="short numerical"><span style="padding-top: 2px;">{$currency}</span><br/>
            <span class="hint js-item-total-discount" data-discount-id="{$index}">
                {if !empty($product.item.total_discount)}
                {shop_currency_html(-$product.item.total_discount,$currency,$currency)|string_format:"[`Total discount for this order item: %s.`]"}{/if}
            </span>
        </td>
        <td class="valign-top min-width"><a href="#" class="s-order-item-delete" title="[`Remove from the order`]"><i class="icon16 delete"></i></a></td>

        <input type="hidden" name="item[edit][{$index}]" value="{$product.item.id}">
        <input type="hidden" name="product[edit][{$product.item.id}]" value="{$product.id}">
    </tr>
{/function}

<div class="content left400px bordered-left">
    <div class="block double-padded">

        <div class="float-right" style="margin-left: 10px;">
            <input id="customer-source" type="text" placeholder="[`Customer source`]" name="customer_source" value="{ifset($order, 'params', 'referer_host', '')|escape}">
        </div>
        <div class="block not-padded float-right" style="margin-left: 10px;">
            <select id="order-storefront" name="storefront">
                <option value="">[`Manual order`]</option>
                {foreach $storefronts as $storefront}
                    <option value="{$storefront['url']}"{if $storefront['url'] == $order_storefront} selected{/if}>{$storefront['url_decoded']}</option>
                {/foreach}
            </select>
        </div>
        {if empty($order.id)}
            <div class="float-right">
                <i class="icon16 dollar"></i>
                <select id="order-currency">
                    {foreach $wa->shop->currencies() as $c}
                    <option value="{$c.code}" {if $c.is_primary}selected{/if}>{$c.code}</option>
                    {/foreach}
                </select>
            </div>
        {/if}

        <h2>{if empty($order.id)}[`Add products`]{else}{shopHelper::encodeOrderId({$order.id})}{/if}</h2>
        <em class="errormsg s-order-errors" style="padding: 5px 0 10px;"></em>
        <div class="s-order-comment-edit" {if empty($order.id)}style="display:none;"{/if} id="s-order-comment-edit">
            [`Comment to the order`]:
            <textarea name="comment">{if !empty($order.comment)}{$order.comment|escape}{/if}</textarea>
        </div>
        <table id="order-items" class="zebra s-order-items-edit">
            <tbody>
                {if !empty($order.id)}
                    {foreach $order.items as $product}
                        {call product_item index = $product@index}
                    {/foreach}
                {/if}
            </tbody>
            <tfoot>
                <!-- add product -->
                <tr class="white" id="s-orders-add-row">
                    <td class="min-width align-center"><i class="icon16 add"></i></td>
                    <td colspan="4" style="width: 100%;">
                        <input id="orders-add-autocomplete" type="search" class="search bold large long" placeholder="[`Type product or SKU name`]">
                    </td>
                </tr>
                <!-- subtotal -->
                <tr class="white large">
                    <td class="min-width"></td>
                    <td class="align-right" colspan="2">
                        [`Subtotal`]
                    </td>
                    <td class="align-right nowrap">
                        <span id="subtotal">{$order.subtotal|default:null}</span>
                        <span class="currency">{$currency}</span>
                    </td>
                    <td></td>
                </tr>

                <!-- shipping -->
                <tr class="white">
                    <td class="min-width"></td>
                    <td class="align-right" colspan="2">
                        <div class="s-order-aux-box">
                            [`Shipping`]
                            {if !empty($order.shipping_id)}
                                {$_shipping_id=$order.shipping_id}
                            {else}
                                {$_shipping_id=''}
                            {/if}

                            {$_json_encode_options = 0}
                            {if defined('JSON_UNESCAPED_UNICODE')}{$_json_encode_options = constant('JSON_UNESCAPED_UNICODE')}{/if}

                            <select id="shipping_methods" name="shipping_id" style="max-width: 250px;">
                                <option value=""></option>
                                {foreach $shipping_methods as $m_id => $m}
                                    <option {if $_shipping_id === $m_id}selected{/if}
                                            data-test="2"
                                            {if !empty($m.custom_data)}{foreach $m.custom_data as $_custom_field => $_custom_value}
                                            data-{$_custom_field|escape}={$_custom_value|json_encode:$_json_encode_options|escape}
                                            {/foreach}{/if}
                                            data-rate="{$m.rate}" value="{$m_id}"{if !empty($m.external)} data-external="1"{/if}
                                            {if !empty($m.comment)} data-comment="{$m.comment|escape}"{/if}
                                            {if !empty($m.error)} data-error="{$m.error|escape}"{/if}
                                            {if !empty($m.est_delivery)} data-est_delivery="{$m.est_delivery|escape}"{/if}>{$m.name|truncate:80|escape}</option>
                                {/foreach}
                            </select>
                            <div id="shipping-info">
                            </div>
                            <div id="shipping-custom">
                                {$_shipping_id={$_shipping_id|regex_replace:'@\..+$@':''}}
                                <!--{$_shipping_id} -->
                                {foreach $shipping_methods as $m_id => $m}
                                    {if !empty($m.custom_html)}
                                        {$_m_id={$m_id|regex_replace:'@\..+$@':''}}
                                        <!--{$_m_id} -->
                                        <div id="shipping-custom-{$_m_id}" class="fields form" {if $_shipping_id !== $_m_id}style="display:none"{/if}>{$m.custom_html}</div>
                                    {/if}
                                {/foreach}
                            </div>
                        </div>
                    </td>
                    <td class="align-right valign-top nowrap">
                        <input type="text" name="shipping" class="numerical short" id="shipping-rate" {if !empty($order.id)}value="{(float)$order.shipping}"{/if}>
                        <span class="currency">{$currency}</span>
                    </td>
                    <td colspan="2"></td>
                </tr>

                <!-- payment -->
                <tr class="white">
                    <td class="min-width"></td>
                    <td class="align-right nowrap" colspan="2">
                        <div class="s-order-aux-box">
                        [`Payment`]
                        {$payment_methods = shopHelper::getPaymentMethods($order)}
                        <select id="payment_methods" name="payment_id" style="max-width: 250px;">
                            <option value=""></option>
                            {foreach $payment_methods as $m}
                            <option {if !empty($order.params.payment_id) && $order.params.payment_id == $m.id}selected="true"{/if} value="{$m.id}">{$m.name|truncate:80}</option>
                            {/foreach}
                        </select>
                        <div id="payment-info">
                            {foreach $payment_methods as $m}
                                {if !empty($m.custom_html)}<div id="payment-custom-{$m.id}" class="fields form" {if empty($order.params.payment_id) || $m.id != $order.params.payment_id}style="display:none"{/if}>{$m.custom_html}</div>{/if}
                            {/foreach}
                        </div>
                        </div>
                    </td>
                    <td></td>
                </tr>
                <tr class="white">
                    <td class="min-width"></td>
                    <td class="align-right" colspan="2">
                        <i class="icon16 info" style="display:none;" id="discount-tooltip-icon"></i>
                        [`Discount`]
                    </td>
                    <td class="align-right nowrap">
                        &minus; <input type="text" class="numerical short" id="discount" name="discount" {if !empty($order.id)}value="{$order.discount}"{/if}{if !empty($order.items_total_discount)} style="display:none;" {/if}>
                        {if !empty($order.items_total_discount)}<span class="js-order-discount">{$order.discount|wa_currency:$currency:'%'}</span>

                        {/if}
                        <span class="currency">{$currency}</span>
                        {if !empty($order.items_total_discount)}
                            <a href="#" class="inline inline-link" id="edit-discount" title="[`Edit discount`]"><i class="icon16 edit"></i></a>
                        {/if}
                    </td>
                    <td>
                        {capture name=hold_discount}
                            <br/><strong>[`Total discount breakdown`]</strong><br/>
- [`applicable to individual items:`] {shop_currency_html((float)$order.items_total_discount|default:0,$currency,$currency)|escape:ENT_QUOTES}<br/>
- [`applicable to entire order:`] {shop_currency_html((float)$order.discount|default:0-(float)$order.items_total_discount|default:0,$currency,$currency)}
                        {/capture}

                        <input type="hidden" name="discount_description" value="{if !empty($order.items_total_discount) || !empty($order.discount)}{$smarty.capture.hold_discount|escape}{/if}" id="discount-description"
                               data-updated-manually-msg="[`Manually edited discount. Click to apply automatically calculated discount value.`]"
                               data-edit-manually-msg="[`Manually edit automatically calculated discount`]"
                        >
                        <a href="#" style="_display: none" id="update-discount"
                           data-description="{$discount_description|escape}"
                           data-value="{if !empty($discount)}{$discount}{elseif !empty($order.id)}{$order.discount}{else}0{/if}"
                           data-items_discount="{$items_discount|json_encode|escape}"
                        ><i class="icon16 update"></i></a>
                    </td>
                </tr>

                <!-- tax -->
                <tr class="white medium">
                    <td class="min-width"></td>
                    <td class="align-right medium" colspan="2">[`Tax`]</td>
                    <td class="align-right medium nowrap">
                        <span id="tax">{$order.tax|default:''}</span>
                        <span class="currency">{$currency}</span>
                    </td>
                    <td></td>
                </tr>

                <!-- total -->
                <tr class="white large">
                    <td class="min-width"></td>
                    <td class="align-right large" colspan="2">[`Total`]</td>
                    <td class="align-right large bold nowrap">
                        <span id="total">{$order.total|default:''}</span>
                        <span class="currency">{$currency}</span>
                    </td>
                    <td></td>
                </tr>
                {if !empty($order.id)}
                    <tr class="white">
                        <td colspan="4" class="align-right">
                            <br>
                            <label>[`Don’t notify customer on this order editing`]
                            <input type="checkbox" name="notifications" value="silent" title="[`Don’t notify customer on this order editing`]"></label>
                            <br><br>
                        </td>
                    </tr>
                {/if}
                <tr class="white large">
                    <td class="save align-right" colspan="5">
                        <i class="icon16 loading"></i>
                        <input type="submit" class="button green large" value="[`Save order`]">

                    </td>
                </tr>
            </tfoot>
        </table>
        <div class="clear-both"></div>
    </div>
</div>
{$wa->csrf()}
</form>

<!-- plugin hook: 'backend_order_edit' -->
{* @event backend_order_edit.%plugin_id% *}
{if !empty($backend_order_edit)}{foreach $backend_order_edit as $plugin_id => $plugin_html}{$plugin_html}{/foreach}{/if}

<script type="text/javascript" src="{$wa_app_static_url}js/order/edit.js?v{$wa->version()}"></script>
<script type="text/javascript">
    var count_new = {if !empty($count_new)}{$count_new}{else}0{/if};
    var title = {strip}{if empty($order.id)}
        {json_encode("[`New order`] — {$wa->accountName(false)}")}
    {else}
        {json_encode("{$wa->shop->orderId($order.id)} — {$wa->accountName(false)}")}
    {/if}{/strip};
    if (title && count_new) {
        title = '(' + count_new + ') ' + title;
    }
    $.order_edit.init({
        id:    {if !empty($order.id)}{$order.id}{else}0{/if},
        mode: '{if !empty($order.id)}edit{else}add{/if}',
        container: '#s-content',
        form: '#order-edit-form',
        autocomplete_url: '?action=autocomplete&type=contact',
        currency: '{$currency}',
        stocks: {json_encode(array_values($stocks))},
        customer_sources: {$customer_sources|default:[]|json_encode},
        ignore_stock_count: {if $ignore_stock_count}true{else}false{/if},
        title: title,
        float_delimeter: {if strpos((string)3.14, ",") !== false}","{else}"."{/if},
        price_edit: true
    });

    {if !empty($order.id) && !$has_contacts_rights}
        $('#s-order-edit-customer').find('select,input,textarea').attr('disabled', true);
    {/if}

    {if $customer_validation_disabled}
        $('#s-order-edit-customer').find('.required,.wa-required').removeClass('required').removeClass('wa-required');
    {/if}

    {if $wa->shop->config('enable_2x')}
        $.fn.retina && $('#order-items img').retina();
    {/if}

</script>
