<div class="s-profit-block">
    <h1 style="margin:0px;">Done</h1>

    <p class="s-congratulations-text">Congratulations, now your online store is ready to accept your first customers!</p>

    <h2>If you have questions</h2>

    <ul>
        <li><a href="https://www.shop-script.com/help/" target="_blank">Shop-Script knowledge base</a></li>
        <li><a href="https://support.webasyst.com/" target="_blank">Users questions and answers</a></li>
        <li><a href="https://www.webasyst.com/my/requests/my/" target="_blank">Pricing-related and pre-sale inquiries, and personal support requests.</a></li>
    </ul>

</div>
<script>
    (function ($) {
        new TutorialSidebar({
            $wrapper: $("#tutorial-actions"),
            $active: {$active|json_encode},
            $app_url: {$wa_app_url|json_encode}
        });
    })(jQuery);
</script>