{wa_js file="js/order/order.min.js"}
{$wa_url}wa-content/js/jquery-plugins/jquery-tooltip/jquery.tooltip.patched.min.js
{$wa_app_static_url}js/order/timepicker/jquery.timepicker.min.js
{$wa_app_static_url}js/tmpl.min.js
{$wa_app_static_url}js/lazy.load.js
{$wa_app_static_url}js/orders.js
{$wa_app_static_url}js/order/list.js
{$wa_app_static_url}js/order/edit.js
{/wa_js}

<link href="{$wa_app_static_url}js/order/timepicker/jquery.timepicker.css?v{$wa->version()}" rel="stylesheet" type="text/css" />

<div class="s-alert s-orders-mobile-notice" id="s-orders-mobile-notice" data-alert="mobile-app">
    <div class="t-layout">
        <div class="t-column">

            <h3>[`Get instant updates on your mobile device`]</h3>
            [`<a href="https://www.shop-script.com/mobile/">Mobile app</a> will help you to conveniently track sales, process orders, and manage products right on your iOS or Android-powered smartphone.`]

        </div>
        <div class="t-column right">

            <a href="[`https://itunes.apple.com/us/app/shop-script/id1108957302?mt=8`]" class="s-mobile-store">
                <img src="{$wa_url}wa-apps/shop/img/[`badge-appstore-en.png`]">
            </a>
            <a href="[`https://play.google.com/store/apps/details?id=com.shop_script`]" class="s-mobile-store">
                <img src="{$wa_url}wa-apps/shop/img/[`badge-google-play-en.png`]">
            </a>

        </div>
    </div>
    <a class="close s-alert-close" href="javascript:void(0);">&times;</a>
</div>

<div class="sidebar left200px s-inner-sidebar" id="s-sidebar">
    <div class="block">
        <ul class="menu-v with-icons">
            <li class="bottom-padded">
                <a href="#/orders/new/" class="bold"><i class="icon16 add"></i>[`New order`]</a>
            </li>
            <li id="s-pending-orders" class="list">
                <span class="count">{if !empty($pending_count)}{$pending_count}{/if}</span>
                <a href="#/orders/state_id=new|processing|paid">
                    <i class="icon16 ss orders-processing"></i>[`Processing`]
                    <strong class="highlighted small">{if !empty($state_counters['new'])}+{$state_counters['new']}{/if}</strong>
                </a>
            </li>

            <!-- plugin hook: 'backend_orders.sidebar_top_li' -->
            {* @event backend_orders.%plugin_id%.sidebar_top_li *}
            {if !empty($backend_orders)}{foreach $backend_orders as $_}{ifset($_.sidebar_top_li)}{/foreach}{/if}

            <li id="s-all-orders" class="list">
                <span class="count">{if !empty($all_count)}{$all_count}{/if}</span>
                <a href="#/orders/all/">
                    <i class="icon16 ss orders-all"></i>[`All orders`]
                </a>
            </li>
            {if !empty($unsettled_count)}
                <li id="s-unsettled-orders" class="list" style="opacity: 0.6;">
                    <span class="count">{if !empty($unsettled_count)}{$unsettled_count}{/if}</span>
                    <a href="#/orders/unsettled=1">
                        <i class="icon16 ss flag-purple"></i>[`Unsettled`]
                        <strong class="highlighted small"></strong>
                    </a>
                </li>
            {/if}

        </ul>
    </div>

    <!-- plugin hook: 'backend_orders.sidebar_section' -->
    {* @event backend_orders.%plugin_id%.sidebar_section *}
    {if !empty($backend_orders)}{foreach $backend_orders as $_}{ifset($_.sidebar_section)}{/foreach}{/if}

    <div class="block">
        <h5 class="heading">[`Order states`]</h5>
        <ul class="menu-v with-icons collapsible">

            {foreach $states as $id => $state}
                <li data-state-id="{$id}" class="list">
                    <span class="count">{if isset($state_counters[$id])}{$state_counters[$id]}{else}0{/if}</span>
                    <a href="#/orders/state_id={$id}/" style="{$state->getStyle()}">
                        <i class="{$state->getOption('icon')}"></i>{$state->getName()|escape}
                    </a>
                </li>
            {/foreach}
        </ul>
    </div>

    {if !empty($couriers)}
        <div class="block">
            <h5 class="heading collapse-handler">
                [`Couriers`]
            </h5>
            <ul class="menu-v collapsible with-icons">
                {foreach $couriers as $courier}
                    <li data-courier-id="{$courier.id|escape}" class="list">
                        <span class="count">{$courier.count}</span>
                        <a href="#/orders/search/params.courier_id={$courier.id}/">
                            {if $courier.contact_id}
                                <i class="icon16 userpic20" style="background-image: url({waContact::getPhotoUrl($courier.contact_id, $courier.photo, 40)})"></i>
                            {else}
                                <i class="icon16 ss courier"></i>
                            {/if}
                            {$courier.name|escape}
                        </a>
                    </li>
                {/foreach}
            </ul>
        </div>
    {/if}

    {if !empty($sales_channels)}
        <div class="block">
            <h5 class="heading collapse-handler">
                [`Sales channels`]
            </h5>
            <ul class="menu-v collapsible s-storefronts-filter">
                {foreach $sales_channels as $channel_id => $channel}
                    <li data-storefront="{$channel.storefront|escape}" data-sales-channel="{$channel_id|escape}" class="list">
                        <span class="count">{$channel.count}</span>
                        <a href="{$channel.url|escape}">{$channel.name|escape}</a>
                    </li>
                {/foreach}
            </ul>
        </div>
    {/if}


    <div class="block">
        <ul class="menu-v with-icons">
            <li id="s-coupons">
                <span class="count">{$coupons_count}</span>
                <a href="#/coupons/"><i class="icon16 ss coupon"></i>[`Discount coupons`]</a>
            </li>

            <!-- plugin hook: 'backend_orders.sidebar_bottom_li' -->
            {* @event backend_orders.%plugin_id%.sidebar_bottom_li *}
            {if !empty($backend_orders)}{foreach $backend_orders as $_}{ifset($_.sidebar_bottom_li)}{/foreach}{/if}

            {if $web_push->isOn() && $web_push->isTuned()}
                <li id="s-web-push-notifications" style="margin-top: 20px; display: none;">
                    <label style="margin-left: -16px;">
                        <input type="checkbox" id="s-web-push-notification-subscribe"
                               {if !$web_push->isAllowed()}disabled=disabled{/if}
                               name="web_push_notification_subscribe[{$wa->user('id')}]" value="1"> [`Web push notifications`]
                    </label>
                </li>
            {/if}

            {if !$web_push->isTuned()}
                <li id="s-web-push-notifications-message" style="margin-top: 20px; margin-left: -16px;">
                    <span class="hint">[`To enable web push notifications, configure them in “Settings → <a href="?action=settings#/checkout/">Checkout</a>” screen.`]</span>
                </li>
            {/if}

        </ul>
    </div>

</div>

<div class="content left200px blank" id="s-content" style="padding-left: 10px;">
    <div class="block double-padded">
        [`Loading`] <i class="icon16 loading"></i>
    </div>
</div>

{capture name="template-order-product-img"}
{literal}
    {% if(o.url){ %}<img src="{%#o.url%}">{% } else { %}<img src="{/literal}{$wa_app_static_url}{literal}img/image-dummy-small.png" class="not-found" style="width: 48px; height: 48px;">{% } %}
{/literal}
{/capture}

{capture name="template-order"}
{literal}
    {% var options = o.options || {}; %}
    {% var product = o.data.product; %}
    {% var sku_ids = o.data.sku_ids; %}
    {% var index = options.index || '0'; %}
    {% var sku_count = $.shop.helper.size(product.skus); %}
    {% var chosen_sku_id = product.sku_id; %}
    {% var currency = options.currency; %}
    {% var stocks = o.options.stocks || {}; %}
    <tr data-product-id="{%#product.id%}" data-index={%#index%} class="s-order-item">
        <td class="min-width valign-top">{% include('template-order-product-img', { url: product.url_crop_small }); %}</td>
        <td>
            <strong class="large">{%=product.name%}</strong>
            <span class="gray">{%#product.price_html%}</span>

            {% if (sku_count == 1) { %}
                {% if (product.compare_price && product.compare_price > 0) { %}
                        <span class="hint compare-price">(<span style="text-decoration: line-through">{%=Number(Math.round((product.compare_price)*100)/100) %}</span> {%#currency%})</span>
                {% } %}
            {% } %}

            {% if (sku_count == 1) { %}
            <span class="s-orders-stock-icon-aggregate">
                    {%#product.icon%}
                </span>
            <span class="s-orders-stock-icon"></span>
            {% } else { %}
            {%#product.icon%}
            {% } %}

            <p>
                {% if (sku_count > 1) { %}
            <ul class="menu-v compact small s-orders-skus">
                {% var sku_id, sku_id_iterator = $.shop.iterator(sku_ids); %}
                {% while (sku_id = sku_id_iterator.next()) { %}
                {% var sku = product.skus[sku_id]; %}
                {% var checked = sku.checked; %}
                {% if (checked) { %}
                {% chosen_sku_id = sku_id; %}
                {% } %}
                <li>
                    <label>

                        <input type="radio"
                               name="sku[add][{%#index%}]"
                               value="{%#sku_id%}"
                               {% if (checked) { %} checked="checked" {% } %}>
                        {%=sku.name%}

                        {% if (sku.sku) { %}
                        <span class="gray">{%=sku.sku%}</span>
                        {% } %}

                        <strong>{%#sku.price_html%}</strong>

                        {% if (sku.compare_price && sku.compare_price > 0) { %}
                            <span class="hint compare-price">(<span style="text-decoration: line-through">{%=Number(Math.round((sku.compare_price)*100)/100)%}</span> {%#currency%})</span>
                        {% } %}

                        <span class="s-orders-stock-icon-aggregate">
                                        {%#sku.icon%}
                                    </span>
                        <span class="s-orders-stock-icon" style="display:none;"></span>
                        <div class="s-orders-sku-stock-place">
                            {% if (checked) { %}
                            {% include('template-order-stocks-add', { sku: sku, stocks: stocks, index: index }); %}
                            {% } %}
                        </div>
                    </label>
                </li>
                {% } %}
            </ul>
            {% } else { %}
            <div class="s-orders-sku-stock-place">
                {% include('template-order-stocks-add', { sku: product.skus[product.sku_id], stocks: stocks, index: index }); %}
            </div>
            <input type="hidden" name="sku[add][{%#index%}]" value="{%#product.sku_id%}">
            {% } %}
            </p>

            {% if (!$.isEmptyObject(product.services)) { %}
            <p>{% include('template-order-services-add', {
                services: product.services,
                service_ids: o.data.service_ids,
                options: options
                }); %}</p>
            {% } %}
        </td>
        <input type="hidden" name="product[add][{%#index%}]" value="{%#product.id%}">
        <td class="valign-top nowrap{% if (options.price_edit) { %} align-right{% } %}">
            <span style="padding-top: 2px;" class="gray">&times;</span>
            <input type="text"
                   name="quantity[add][{%#index%}][product]"
                   class="s-orders-quantity short numerical"
                   value="1"
            >
        </td>

        <td class="valign-top align-right s-orders-product-price">
            {% if (!options.price_edit) { %}
            <span>{%#product.skus[chosen_sku_id].price_html%}</span>
            <input type="hidden" name="price[add][{%#index%}][product]" value="{%#''+product.skus[chosen_sku_id].price%}" class="short">
            {% } else { %}
            <input type="text" name="price[add][{%#index%}][product]" value="{%#''+product.skus[chosen_sku_id].price%}" class="short"><span style="padding-top: 2px;">{%#currency%}</span>
            {% } %}
            <br/><span class="hint js-item-total-discount" data-discount-id="{%#index%}"></span>
        </td>
        <td class="valign-top min-width"><a href="#" class="s-order-item-delete"><i class="icon16 delete"></i></a></td>
    </tr>
{/literal}
{/capture}
{capture name="template-order-stocks-edit"}
{literal}
    {% var sku = o.sku; %}
    {% var stocks = o.stocks; %}
    {% var item_id = o.item_id; %}
    {% if (sku && !$.isEmptyObject(sku.stock)) { %}
    <select name="stock[edit][{%#item_id%}]" class="s-orders-sku-stock-select">
        {% for (var i = 0; i < stocks.length; i += 1) { %}
        {% var stock_id = stocks[i].id; %}
        <option value="{%#stock_id%}" data-icon="{%#''+sku.icons[stock_id]%}">
            @{%=stocks[i].name%} ({%#sku.count_htmls[stock_id]%})
        </option>
        {% } %}
    </select>
    <em class="errormsg s-error-item-stock_id"></em>
    {% } else { %}
    <input type="hidden" name="stock[edit][{%#item_id%}]" value="0">
    {% } %}
{/literal}
{/capture}
{capture name="template-order-stocks-add"}
{literal}
    {% var sku = o.sku; %}
    {% var stocks = o.stocks; %}
    {% var index = o.index; %}

    {% if (sku && !$.isEmptyObject(sku.stock)) { %}
    <select name="stock[add][{%#index%}][product]" class="s-orders-sku-stock-select">
        {% for (var i = 0; i < stocks.length; i += 1) { %}
        {% var stock_id = stocks[i].id; %}
        <option value="{%#stocks[i].id%}" data-icon="{%#''+sku.icons[stock_id]%}">
            @{%= stocks[i].name%} ({%#sku.count_htmls[stock_id]%})
        </option>
        {% } %}
    </select>
    <em class="errormsg s-error-item-stock_id"></em>
    {% } else { %}
    <input type="hidden" name="stock[add][{%#index%}][product]" value="0">
    {% } %}

{/literal}
{/capture}
{capture name="template-order-services-add"}
{literal}
    <ul class="menu-v compact small s-orders-services">
    {% var options = o.options || {}; %}
    {% var index = options.index || '0'; %}
    {% var currency = options.currency; %}
    {% var services = o.services; %}
    {% var service_ids = o.service_ids; %}
    {% for (var i = 0, n = service_ids.length; i < n; i += 1) { %}
    {% var service_id = service_ids[i]; %}
    {% var service = services[service_id]; %}
    {% var multi_variants = $.shop.helper.size(service.variants) > 1; %}
    <li>
    <label>
        <input type="checkbox" name="service[add][{%#index%}][]" value="{%#service_id%}"
               {% if (service.checked) { %}checked="checked"{% } %}>
        {%=service.name%}
        {% if (!multi_variants) { %}
        <strong>{%#service.variants[service.variant_id].price_html%}</strong>
        {% } %}
    </label>
    {% if (multi_variants) { %}
    <select name="variant[add][{%#index%}][{%#service_id%}]" class="s-orders-service-variant">
    {% for (var variant_id in service.variants) { %}
    {% var variant = service.variants[variant_id]; %}
    <option value="{%#variant.id%}" data-price="{%#''+variant.price%}"
    data-currency="{%#variant.currency%}"
    data-price="{%#variant.price%}"
    {% if (service.currency === $.order_edit.getPercentSymbol()) { %}data-percent-price="{%#variant.percent_price%}"{% } %}
    {% if (variant.status == {/literal}{shopProductServicesModel::STATUS_DEFAULT}{literal}) { %}selected="selected"{% } %}>
    {%=variant.name%} ({%#variant.price_str%})
    </option>
    {% } %}
    </select>
    {% } else { %}
    <input type="hidden" name="variant[add][{%#index%}][{%#service_id%}]" value="{%#service.variant_id%}">
    {% } %}
    <input type="text" name="price[add][{%#index%}][service][{%#service_id%}]" value="{%#''+service.price%}"
           data-currency="{%#service.currency%}"
           data-price="{%#service.price%}"
           {% if (service.currency === $.order_edit.getPercentSymbol()) { %}data-percent-price="{%#service.percent_price%}"{% } %}
           class="short s-orders-service-price" >{%#currency%}
    <br/><span class="hint js-item-total-discount" data-discount-id="{%#index%}_{%#service_id%}"></span>
    </li>
    {% } %}
    </ul>
{/literal}
{/capture}

{capture name="template-order-services-edit"}
{literal}
    <ul class="menu-v compact small s-orders-services">
    {% var options = o.options || {}; %}
    {% var index = options.index || '0'; %}
    {% var currency = options.currency; %}
    {% var services = o.services; %}
    {% var service_ids = o.service_ids; %}
    {% for (var i = 0, n = service_ids.length; i < n; i += 1) { %}
    {% var service_id = service_ids[i]; %}
    {% var service = services[service_id]; %}
    {% var multi_variants = $.shop.helper.size(service.variants) > 1; %}
    <li>
    <label>
        <input type="checkbox" name="service[edit][{%#index%}][new][{%#service_id%}]" value="{%#service_id%}"
               {% if (service.checked) { %}checked="checked"{% } %}>
        {%=service.name%}
        {% if (!multi_variants) { %}
        <strong>{%#service.variants[service.variant_id].price_html%}</strong>
        {% } %}
    </label>
    {% if (multi_variants) { %}
    <select name="variant[edit][{%#index%}][{%#service_id%}]" class="s-orders-service-variant">
    {% for (var variant_id in service.variants) { %}
    {% var variant = service.variants[variant_id]; %}
    <option value="{%#variant.id%}" data-price="{%#''+variant.price%}"
    data-currency="{%#variant.currency%}"
    data-price="{%#variant.price%}"
    {% if (service.currency === $.order_edit.getPercentSymbol()) { %}data-percent-price="{%#variant.percent_price%}"{% } %}
    {% if (variant.status == {/literal}{shopProductServicesModel::STATUS_DEFAULT}{literal}) { %}selected="selected"{% } %}>
    {%=variant.name%} ({%#variant.price_str%})
    </option>
    {% } %}
    </select>
    {% } else { %}
    <input type="hidden" name="variant[edit][{%#index%}][{%#service_id%}]" value="{%#service.variant_id%}">
    {% } %}
    <input type="text" name="price[edit][new][{%#index%}][{%#service_id%}]" value="{%#''+service.price%}"
           data-currency="{%#service.currency%}"
           data-price="{%#service.price%}"
           {% if (service.currency === $.order_edit.getPercentSymbol()) { %}data-percent-price="{%#service.percent_price%}"{% } %}
           class="short s-orders-service-price" >{%#currency%}
    <br/><span class="hint js-item-total-discount" data-discount-id="{%#index%}_{%#service_id%}"></span>
    </li>
    {% } %}
    </ul>
{/literal}
{/capture}

{* js templates block*}

{foreach $smarty.capture as $template => $template_content}
    {if $template_content && (strpos($template, 'template-')===0)}
        <script id="{$template}" type="text/html">
            {$template_content|replace:'</':'<\/'}
        </script>
        {capture name=$template}{/capture}
    {/if}
{/foreach}

<script type="text/javascript">$(function() {
        $.orders.init({
            view: '{$default_view}'
        });

        {if $web_push->isOn() && $web_push->isTuned()}
        setTimeout(function () {
            OneSignal.push(function () {

                var web_push_clients = {$web_push->getContactClientIds()|json_encode};

                if (!OneSignal.isPushNotificationsSupported() || !OneSignal.isPushNotificationsEnabled()) {
                    return;
                }

                OneSignal.init({
                    appId: "{$web_push->getAppId()}",
                    safari_web_id: "{$web_push->getSafariWebId()}",
                    autoRegister: false,
                    notifyButton: {
                        enable: false
                    },
                    welcomeNotification: {
                        title: "[`Shop orders`]",
                        message: "[`Thank you for subscribing!`]"
                    }
                });

                OneSignal.getUserId(function (uid) {
                    $("#s-web-push-notifications").show();
                    if (web_push_clients.indexOf(uid) >= 0) {
                        $('#s-web-push-notification-subscribe').attr('checked', true);
                    }
                });

                $('#s-web-push-notification-subscribe').click(function () {
                    if ($(this).is(':checked')) {
                        OneSignal.registerForPushNotifications();
                        OneSignal.setSubscription(true);
                        OneSignal.sendTags({ type: 'web', module: 'order' });
                    } else {
                        OneSignal.setSubscription(false);
                    }
                });

                OneSignal.on('subscriptionChange', function (isSubscribed) {
                    $('#s-web-push-notification-subscribe').attr('checked', isSubscribed);
                    OneSignal.getUserId(function (uid) {
                        $.post('?module=orders&action=webPushSubscribe', { status: isSubscribed ? 1 : 0, client_id: uid });
                    });

                });
            });
        }, 1000);
        {/if}

    });</script>
