<script type="text/javascript" src="{$wa_url}wa-content/js/jquery-wa/wa.core.js?{$wa->version(true)}"></script>
<script type="text/javascript" src="{$wa_app_static_url}js/backend/welcome.js?{$wa->version()}"></script>
<script type="text/javascript" src="{$wa_app_static_url}js/tutorial/tutorial.js"></script>
{include file="templates/actions/tutorial/include.TutorialSidebar.html" inline}

<div class="block double-padded welcome s-unboarding-wrapper">
    <form method="POST" action="?action=welcome">
        <div class="s-welcome-page">
            <div class="s-tutorial-disabled"{if $actions['welcome'].complete == 1} style="display: block;"{/if}></div>
            <div class="s-tutorial-hint"{if $actions['welcome'].complete == 1} style="display: block;"{/if}>
                <p>{sprintf('[`Values selected here can be changed in the <a href="%s">settings</a> later.`]', '?action=settings')}</p>
            </div>
            <h1>[`Welcome to Shop-Script!`]</h1>
            <p>[`This screen will help you to quickly launch your new online store.`]</p>
            <div class="form fields">
                <div class="s-tutorial-block">
                    <div class="s-title"><img src="{$wa_app_static_url}img/arrow/img_arrow.png" class="s-arrow" /><span class="s-title">[`Select a primary currency`]</span></div>
                    <div class="s-sub-title">[`You will later be able to add more currencies in «Settings - Currencies» section`]</div><br/>
                    <select name="currency" class="s-currency" id="" {if $actions['welcome'].complete != 1}required{/if}>
                        <option value="" disabled selected>[`Select currency`]</option>
                        {foreach $currencies as $currency}
                            <option value="{$currency.code}" title="{$currency.code}"{if $currency.code === null} disabled{/if}>{_w($currency.title)}</option>
                        {/foreach}
                    </select>
                </div>
                <div class="clear-both"></div>

                <div class="s-tutorial-block">
                    <div class="s-title"><img src="{$wa_app_static_url}img/arrow/img_arrow.png" class="s-arrow" /><span class="s-title-text">[`Select a country`]</span></div>
                    <div class="s-sub-title">[`This will automatically enable corresponding tax rates.`]</div><br/>
                    <select name="country" class="s-country">
                        {foreach $countries as $country}
                            <option value="{$country.iso3letter|escape}"{if $country.iso3letter == $country_iso} selected{/if}>{$country.name|escape}</option>
                        {/foreach}
                        <option value="">[`Other`] ([`No default regional data will be added`])</option>
                    </select>
                </div>
                <div class="clear-both"></div>

                <div class="s-tutorial-block">
                    <div class="s-title"><img src="{$wa_app_static_url}img/arrow/img_arrow.png" class="s-arrow" /><span class="s-title-text">[`Select types of products<br/>which you would like to be added as examples to your catalog.`]</span></div>
                    <div class="s-sub-title">[`Each type provides its own set of editable product<br/>features to publish detailed product descriptions on the website,<br/>and to set up filters and automated recommendations.`]</div><br/>
                    <div class="s-product-type">
                        {$i=0}
                        {$wrap_count = 7}
                        {foreach $types as $type_id => $type}
                            {$i=$i+1}
                            {if $i%$wrap_count==1}<div class="s-product-type-row">{/if}
                            <div class="value no-shift">
                                <label>
                                    <input type="checkbox" name="types[]" value="{$type_id|escape}">
                                    {$type.name|escape}
                                    <span class="hint">{$type.description|escape}</span>
                                </label>
                            </div>
                            {if $i%$wrap_count==0}</div>{/if}
                        {/foreach}
                        {if $i%$wrap_count!==0}</div>{/if}
                    </div>
                </div>
                <div class="clear-both"></div>

                <div class="s-welcome-import">
                    <div class="s-tutorial-block">
                        <div class="s-title"><img src="{$wa_app_static_url}img/arrow/img_arrow_orange.png" class="s-arrow" /><span class="s-title-text">[`You can import data from your existing online store<br/>based on another software platform.`]</span></div>
                        {if !empty($backend_welcome)}
                            {foreach $backend_welcome as $plugin => $data}
                                {if !empty($data['controls'])||!empty($data['name'])}
                                    <div class="field-group">
                                        <label>
                                            <input type="{if $data@total>1}radio{else}hidden{/if}" name="plugin" value="{$plugin|escape}"/>
                                        </label>
                                        {$data['controls']}
                                    </div>
                                {/if}
                            {/foreach}
                        {/if}
                    </div>
                </div>

                <div class="field-group" style="margin: 0px;">
                    <div class="field">
                        {$wa->csrf()}
                        <input type="hidden" name="passed_action" value="welcome">
                        <input type="submit" class="button green" value="[`Next step`] &rarr;" {if $actions['welcome'].complete == 1} style="margin-top: 85px;"{/if}>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
