{$wa->globals("crumb","[`Cart`]")}

<script type="text/javascript" src="{$wa_theme_url}cart.js"></script>

{if !$cart.count}
    <h1>[`Shopping cart`]</h1>
    <p class="lead">[`Your shopping cart is empty.`]</p>
{else}
    <form method="post">
        <div class="cart-summary-page">
            <h1>[`Shopping cart`]</h1>
            <div class="row cart-header hidden-xs hidden-sm">
                <div class="col-sm-6">[`Product name`]</div>
                <div class="col-sm-2 align-center">[`Quantity`]</div>
                <div class="col-sm-3 align-center">[`In total`]</div>
                <div class="col-sm-1">&nbsp;</div>
            </div>
            {if $wa->isMobile()}
            <!-- mobile cart-->
            <div class="cart theme-border-color">
            {foreach $cart.items as $item}
                <div class="row vertical-align{if $item@first} first{/if}" data-id="{$item.id}">
                    <div class="col-xs-3 item-thumb" title="{$item.product.name|escape}">
                        <a href="{$wa->shop->productUrl($item.product)}" title="{$item.product.name|escape}">{$wa->shop->productImgHtml($item.product, '65x65', ['default' => "`$wa_theme_url`img/dummy48.png", 'class' => 'img-responsive'])}</a>
                    </div>
                    <div class="col-xs-9 item-name">
                        <a href="{$wa->shop->productUrl($item.product)}">{$item.product.name|escape}</a>
                        {if $item.sku_name && $item.sku_name != $item.product.name}{$item.sku_name|escape}{/if}
                        <div>
                            <span class="item-qty pull-left">
                                <input type="text" name="quantity[{$item.id}]" value="{$item.quantity}" class="tt-input qty__input{if !empty($item.error)} error{/if}">
                            </span>
                            <span class="item-total pull-right">
                                {shop_currency_html($item.full_price, true)}
                            </span>
                            <span class="clearfix"></span>
                        </div>
                        {if !empty($item.services)}
                        <!-- services -->
                        <div>
                            <div class="services">
                                {foreach $item.services as $service_id => $s}
                                <!-- one option -->
                                <div {if !empty($s.id)}data-id="{$s.id}"{/if}>
                                <label>
                                    <input {if !empty($s.id)}checked{/if} type="checkbox" name="services[{$item.id}][]" value="{$service_id}"> {$s.name|escape} {if $s.price && !isset($s.variants)}(<span>+{shop_currency_html($s.price, $s.currency)}</span>){/if}
                                </label>
                                {if isset($s.variants)}
                                <select name="service_variant[{$item.id}][{$service_id}]" {if empty($s.id)}disabled{/if}>
                                    {foreach $s.variants as $variant_id => $v}
                                    <option {if $s.variant_id == $variant_id}selected{/if} value="{$variant_id}">{$v.name|escape} (+{shop_currency($v.price, $s.currency)})</option>
                                    {/foreach}
                                </select>
                                {/if}
                                </div>
                                {/foreach}
                            </div>
                        </div>
                        {/if}
                        <a class="delete" href="#" title="[`Remove from cart`]">
                            [`Remove from cart`]
                        </a>
                    </div>
                </div>
                {if !empty($item.error)}<script>alert({json_encode($item.error)});</script>{/if}
            {/foreach}
            </div>
            {else}
            <!-- pc cart-->
            <div class="cart">
            {foreach $cart.items as $item}
                <div class="row vertical-align" data-id="{$item.id}">
                    <div class="col-md-1 col-sm-2 item-thumb" title="{$item.product.name|escape}">
                        <a href="{$wa->shop->productUrl($item.product)}" title="{$item.product.name|escape}">{$wa->shop->productImgHtml($item.product, '65x65', ['default' => "`$wa_theme_url`img/dummy48.png"])}</a>
                    </div>
                    <div class="col-md-5 col-sm-4 item-name">
                        <a href="{$wa->shop->productUrl($item.product)}">{$item.product.name|escape}</a>
                        {if $item.sku_name && $item.sku_name != $item.product.name}{$item.sku_name|escape}{/if}

                        {if !empty($item.services)}
                        <!-- services -->
                        <div class="clearfix">
                            <div class="item-thumb">&nbsp;</div>
                            <div class="services">
                                {foreach $item.services as $service_id => $s}
                                <!-- one option -->
                                <div {if !empty($s.id)}data-id="{$s.id}"{/if}>
                                <label>
                                    <input {if !empty($s.id)}checked{/if} type="checkbox" name="services[{$item.id}][]" value="{$service_id}"> {$s.name|escape} {if $s.price && !isset($s.variants)}(<span>+{shop_currency_html($s.price, $s.currency)}</span>){/if}
                                </label>
                                {if isset($s.variants)}
                                <select name="service_variant[{$item.id}][{$service_id}]" {if empty($s.id)}disabled{/if}>
                                    {foreach $s.variants as $variant_id => $v}
                                    <option {if $s.variant_id == $variant_id}selected{/if} value="{$variant_id}">{$v.name|escape} (+{shop_currency($v.price, $s.currency)})</option>
                                    {/foreach}
                                </select>
                                {/if}
                                </div>
                                {/foreach}
                            </div>
                        </div>
                        {/if}
                    </div>
                    <div class="col-sm-2 item-qty qty">
                        <div class="input-group">
                            <div class="input-group-btn hidden-sm hidden-xs">
                                <a href="#" class="btn btn-default minus"><i class="fa fa-minus fa-fw" aria-hidden="true"></i></a>
                            </div>
                            <input type="text" name="quantity[{$item.id}]" value="{$item.quantity}" class="form-control qty__input{if !empty($item.error)} error{/if}">
                            <div class="input-group-btn hidden-sm hidden-xs">
                                <a href="#" class="btn btn-default plus"><i class="fa fa-plus fa-fw" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-height col-middle item-total">
                        {shop_currency_html($item.full_price, true)}
                    </div>
                    <div class="col-sm-1 col-xs-height col-middle item-remove">
                        <a class="delete theme-border-color-hover" href="#" title="[`Remove from cart`]">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                {if !empty($item.error)}<script>alert({json_encode($item.error)});</script>{/if}
            {/foreach}
            </div>
            {/if}
            <!-- discount coupon -->
            <div class="row discount">
                <div class="col-md-6 cart-coupon" {if !shopDiscounts::isEnabled('coupons') && !$discount}style="display:none"{/if}>
                    <div class="col-inner">
                        {if shopDiscounts::isEnabled('coupons')}
                        [`Discount coupon (if you have one)`]:
                        <input type="text" name="coupon_code" value="{$coupon_code|escape}" class="tt-input">
                        <input type="submit"  value="[`Apply`]" class="btn-blue btn-simple">
                        {/if}
                    </div>
                </div>
                <div class="col-md-6{if !shopDiscounts::isEnabled('coupons') && !$discount} col-md-offset-6{/if} discount-value">
                    <div class="col-inner">
                        <div class="row" {if !shopDiscounts::isEnabled('coupons') && !$discount}style="display: none;"{/if}>
                            <div class="col-xs-6">[`Discount`]:</div>
                            <div class="col-xs-6 align-right cart-discount">&minus; {shop_currency_html($discount, true)}</div>
                        </div>
                        
                        <hr>
                        <div class="row">
                            <div class="col-xs-6 bold">[`Total`]:</div>
                            <div class="col-xs-6 cart-total total align-right bold">{shop_currency_html($cart.total, true)}</div>
                        </div>
                    </div>
                </div>
            </div>
            {if shopAffiliate::isEnabled() && !empty($add_affiliate_bonus)}
            <div class="row">
                <div class="col-md-6 col-md-offset-6 text-center">
                    <p><span class="affiliate">{sprintf("[`This order will add +%s points to your affiliate bonus.`]", $add_affiliate_bonus)}</span></p>
                </div>
            </div>
            {/if}
    
            <!-- checkout -->
            <div class="row cart-checkout pull-right">
                <a href="{$wa_app_url}" class="btn btn-link theme-color">[`Back to the store`]</a>
                <input type="submit" name="checkout"  class="btn-blue btn-simple" value="[`Proceed to checkout`]">
            </div>
            <div class="clearfix"></div>

            {if shopAffiliate::isEnabled() && $affiliate_bonus > 0}
            <!-- affiliate bonus -->
            <div class="row affiliate">
                <div class="col-md-6">
                    <p>{sprintf('[`Your current affiliate bonus of %s points allows you to get an additonal discount of up to %s`]', $affiliate_bonus, "<span class=\"affiliate-discount-available\">{shop_currency_html($affiliate_discount)}</span>")}</p>
                </div>
                <div class="col-md-6">
                    <div class="col-inner">
                        <div class="row">
                            <div class="col-xs-6">[`Used`]:</div>
                            <div class="col-xs-6 affiliate-discount text-right"{if $use_affiliate} data-use="1"{/if}>
                                &minus; {if $use_affiliate}{shop_currency_html(shopAffiliate::convertBonus($used_affiliate_bonus))}{else}0{/if}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row affiliate-btn">
                <div class="pull-right">
                    {if $use_affiliate}
                    <a id="cancel-affiliate" href="#" class="btn btn-link theme-color">[`Cancel`]</a>
                    {else}
                    <input type="submit" name="use_affiliate" value="[`Use bonus`]" class="btn-blue btn-simple">
                    {/if}
                </div>
            </div>
            <div class="clearfix"></div>
            {/if}
        </div>

        <!-- plugin hook: 'frontend_cart' -->
        {* @event frontend_cart.%plugin_id% *}
        {foreach $frontend_cart as $_}{$_}{/foreach}
    </form>
    {$crossselling = $wa->shop->crossSelling($cart.items, 'product_id')}
    {if $crossselling}
        {if count($crossselling)>4}
        <script type="text/javascript">
            $(document).ready(function () {
                $(".crossselling ul").bxSlider({
                    auto: false, /*авто прокрутка*/
                    speed: 1000,
                    pause: 4000,
                    minSlides: 1,
                    maxSlides: 5,
                    slideWidth: 215,
                    slideMargin: 5,
                    moveSlides: 1, /*количество товаров при прокрутке*/
                    nextSelector: '#crossselling-next',
                    prevSelector: '#crossselling-prev',
                    nextText: '<i class="fa fa-angle-right fa-lg"></i>',
                    prevText: '<i class="fa fa-angle-left fa-lg"></i>',
                    pager: false,
                    responsive: true,
                    infiniteLoop: true /*зацикливание*/
                });
            });
        </script>
        {/if}
        <div class="crosselling">
            <div class="headline">
                <h2 class="theme-border-color">[`Better together`]</h2>
            </div>
            {include file="list-thumbs.html" products=$crossselling}
            <div class="product-slider-arrows">
                <span class="arrow-prev" id="crossselling-prev"></span>
                <span class="arrow-next" id="crossselling-next"></span>
            </div>
        </div>
    {/if}
{/if}