{$mobile = $wa->isMobile() || $wa->userAgent('device') == 'ipad' || $wa->userAgent('device') == 'android'}
{$sidebar = ($theme_settings.sidebar_shop_category && $theme_settings.sidebar_shop) || !empty($filters)}
{if $sidebar}
    {$wa->globals("sidebar",true)}
{/if}
{$wa->globals("crumb",$category.name|escape)}

{if waRequest::isXMLHttpRequest() && waRequest::get('page', 1) == 1}
<script type="text/javascript" src="{$wa_active_theme_url}lazyloading.js?v{$wa_theme_version}"></script>
{/if}
<h1 class="category-name">{$category.name|escape}{if !empty($theme_settings.cat_count) && $category.include_sub_categories == "1"} [<span class="theme-color-wh">{$wa->shop->productsCount("category/`$category.id`")}</span>]{/if}</h1>

<!-- plugin hook: 'frontend_category' -->
{* @event frontend_category.%plugin_id% *}
{foreach $frontend_category as $plugin => $_}{if $plugin != 'categoryimages-plugin'}{$_}{/if}{/foreach}

<!-- description be4-->
{if $category.description && $theme_settings.cat_description == "before"}
{$length = $category.description|count_characters:true}

<div {if $theme_settings.trunc_description && $length > 250}class="category-description trunc"{/if}>{$category.description} 
    <div class="cat-end"></div>
</div>
{if $theme_settings.trunc_description && $length > 250}
<a href class="btn btn-default margin-bottom-10 theme-background-hover margin-bottom-10" onclick="return false" id="cat-readmore" rel="nofollow">[`Read more`]</a>
{/if}
{/if}

<div class="content">
    <!-- subcategories -->
    {if $category.subcategories}
    <div class="subcategories"{if !empty($filters)} style="padding-left: 0px;"{/if}>
        {foreach $category.subcategories as $sc}
        <a href="{$sc.url}" class="{if $theme_settings.subcategories_image == "none" || $wa->isMobile()}btn btn-link{else}subcat{/if}">
            {if $theme_settings.subcategories_image != "none" && !$wa->isMobile()}
                <div class="subcatInner theme-border-color-hover theme-shadow-color">
                    <div class="subcat-image">
                        {$image_url = ''}
                        {if $theme_settings.subcategories_image == 'params' && isset($sc.params.image)}
                            {$image_url = $sc.params.image}
                        {elseif $theme_settings.subcategories_image == 'categoryimages' && class_exists('shopCategoryimagesPlugin')}
                            {$image_url = shopCategoryImagesPlugin::getCategoryImageUrl($sc.id)}
                        {elseif $theme_settings.subcategories_image == 'categoryimage' && class_exists('shopCategoryimagePlugin') && isset($sc.image)}
                            {$image_url = "{$wa_url}wa-data/public/shop/categories/{$sc.id}/{$sc.id}.200{$sc.image}"}
                        {elseif $theme_settings.subcategories_image == 'wmimage' && class_exists('shopWmimageincatPlugin')}
                            {$image_url = shopWmimageincatPlugin::getCategoryImage($sc.id,'image')}
                        {/if}
                        {if $image_url}
                            <img src='{$image_url|default:"`$wa_theme_url`img/dummy200.png"}' alt='{$sc.name|escape}' class="img-responsive">
                        {else}
                            <img src="{$wa_theme_url}img/dummy200.png" alt="Empty image" class="img-responsive">
                        {/if}
                    </div>
                    <div class="subcat-info">
                        <h4>
                            {$cat_count = $wa->shop->productsCount("category/`$sc.id`")}
                            {$sc.name|escape}
                            {if !empty($theme_settings.cat_count) && $cat_count>0} [<span class="theme-color-wh">{$cat_count}</span>]{/if}
                        </h4>
                        <span class="theme-color-wh">[`See all`] <i class="fa fa-chevron-circle-right"></i></span>
                    </div>
                </div>
            {else}
                {$sc.name|escape} {if !empty($theme_settings.cat_count)} [<span>{$wa->shop->productsCount("category/`$sc.id`")}</span>]{/if}
            {/if}
        </a>
        {/foreach}
    </div><!-- /.subcategories -->
    <div class="clearfix"></div>
    {/if}

    {if !empty($filters)}
    <!-- mobile show filters -->
    <button type="button" data-toggle="modal" data-target="#filterDialog" class="btn-blue btn-simple btn-wide visible-xs" style="margin: 10px 0">[`Filters`]</button>
    {/if}
    <div id="product-list">
        {if !$products}
            <p class="lead">
            {if !empty($filters)}
                [`No products were found.`]
            {else}
                [`This category does not contain any products.`]
            {/if}
            </p>
        {else}
            {include file='list-thumbs.html' sorting=!empty($category.params.enable_sorting)}
        {/if}
    </div>
</div>

<div class="modal fade" id="filterDialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                
            </div>
        </div>
    </div>
</div>
<!-- End Filter modal -->

<!-- description after-->
{if $category.description && $theme_settings.cat_description == "after"}
<div>{$category.description}</div>
{/if}