<style>
body { background-color: #fff }
.checkout-header,
.checkout-cart,
.footer,
.wrapper-toolbar,
#back-top {
    display: none;
}
</style>
<div class="checkout-result error">
    <h1>[`Error!`]</h1>
    {if !empty($error)}
        <p class="text-danger margin-bottom-30">{$error}</p>
    {else}
        <p class="text-danger margin-bottom-30">[`An error occurred while processing your payment.`]</p>
    {/if}
    
    <p class="back">
        <a href="{$wa_app_url}" class="btn-blue btn-simple">[`Back to the store`]</a>
    </p>
    
    <!-- plugin hook: 'frontend_checkout' -->
    {* @event frontend_checkout.%plugin_id% *}
    {foreach $frontend_checkout as $_}{$_}{/foreach}    
    
</div>

