<style>
body { background-color: #fff }
.checkout-header,
.checkout-cart,
.footer,
.wrapper-toolbar,
#back-top {
    display: none;
}
</style>
<div class="checkout-result success">
    <h1>[`Thank you!`]</h1>
    <p class="margin-bottom-30">[`We successfully accepted your order, and will contact you asap.`]<br />
    [`Your order number is `] <strong>{$order.id}</strong>.</p>
    
    {if !empty($payment)}
        <div class="plugin margin-bottom-10">
            {$payment}
        </div>
    {/if}

    {if !empty($payment_success)}
        <p class="text-success">[`Your payment has been successfully accepted. We will process your order and contact you shortly.`]</p>
    {/if}
    
    <div><a href="{$wa_app_url}" class="btn-blue btn-simple">[`Back to the store`]</a></div>
    
    <!-- plugin hook: 'frontend_checkout' -->
    {* @event frontend_checkout.%plugin_id% *}
    {foreach $frontend_checkout as $_}{$_}{/foreach}
        
</div>