{$wa->title('[`Compare products`]')}
<ul class="compare-diff-all hidden">
    <li class="selected"><a id="compare-all" href="#" class="inline-link"><b><i>[`All features`]</i></b></a></li>
    <li><a id="compare-diff" href="#" class="inline-link"><b><i>[`Different`]</i></b></a></li>
</ul>        
<h1 class="pull-left">[`Compare products`]</h1>
<a href="{$wa_app_url}" class="btn-blue btn-simple pull-right" id="compare-remove-all">[`Clear all`]</a>
<div class="clearfix"></div>
<script type="text/javascript">
$(function () {
    $("#compare-all").click(function () {
        $("#compare-table tr.same").show();
        $(this).closest('ul').find('li.selected').removeClass('selected');
        $(this).parent().addClass('selected');
        return false;
    });
    $("#compare-diff").click(function () {
        $("#compare-table tr.same").hide();
        $(this).closest('ul').find('li.selected').removeClass('selected');
        $(this).parent().addClass('selected');
        return false;
    });
    $(".compare-remove").on('click', function () {
        var compare = $.cookie('shop_compare');
        if (compare) {
            compare = compare.split(',');
        } else {
            compare = [];
        }
        var i = $.inArray($(this).data('product') + '', compare);
        if (i != -1) {
            compare.splice(i, 1)
        }
        if (compare) {
            $.cookie('shop_compare', compare.join(','), { expires: 30, path: '/'});
        } else {
            $.cookie('shop_compare', null);
        }
    });
    /*$(".scroll-content").css("width",$("#compare-table").css("width"));
    $("#compare-scroll").scroll(function(){
        $("#table-wrapper").scrollLeft($("#compare-scroll").scrollLeft());
    });
    $("#table-wrapper").scroll(function(){
        $("#compare-scroll").scrollLeft($("#table-wrapper").scrollLeft());
    });*/



    var fixed = $("#compare-table-fixed").append($("#compare-table > thead").clone());
    
    $(window).on("scroll", function(e, force) {
        var offset = $(this).scrollTop();
        var tableOffset = $("#compare-table").offset().top;

        if (offset >= tableOffset && (fixed.is(":hidden") || force)) {
            fixed.css('left', $("#compare-table").offset().left);
            fixed.css('width', $("#compare-table").width());
            $("#compare-table > thead th").each(function (i) {
                fixed.find('th:eq(' + i + ')').css('width', $(this).width());
            });
            fixed.show();
        } else if (offset < tableOffset) {
            fixed.hide();
        }
    });
/*
    $(window).resize(function () {
        $(window).trigger('scroll', true);
    });*/
});
</script>
{$td_width = round((100-25)/max(1,count($products)))}
<div style="overflow-x: auto">
<table id="compare-table" class="table table-striped table-hover table-dsv">
    <thead>
        <tr>
            <td></td>
            {foreach $products as $p}
                <td width="{$td_width}%" style="vertical-align: bottom;">
                    <a href="{$wa->getUrl('/frontend/product/', ['product_url' => $p.url])}" class="compare-img">
                        {if count($products)>3}
                            {$wa->shop->productImgHtml($p, '96', ['itemprop' => 'image', 'default' => "`$wa_theme_url`img/dummy96.png", 'title' => $p.name|escape, 'class' => 'img96'])}
                        {else}
                            {$wa->shop->productImgHtml($p, '215', ['itemprop' => 'image', 'default' => "`$wa_theme_url`img/dummy96.png", 'title' => $p.name|escape, 'class' => 'img215'])}
                        {/if}
                    </a>
                    <br>
                    <a data-product="{$p.id}" class="compare-remove theme-color-hover" href="{$p.delete_url}" title="[`Remove from comparison list`]"><i class="fa fa-times fa-lg"></i></a>
                </td>
            {/foreach}
        </tr>
    </thead>
    <tr>
        <th>[`Product name`]</th>
        {foreach $products as $p}
            <td><a href="{$wa->getUrl('/frontend/product/', ['product_url' => $p.url])}">{$p.name}</a></td>
        {/foreach}
    </tr>
    <tr>
        <th>[`Price`]</th>
        {foreach $products as $p}
            <td width="{$td_width}%">
                <span class="price nowrap">{shop_currency_html($p.price)}</span>
            </td>
        {/foreach}
    </tr>
    {foreach $features as $f_id=>$f}
    <tr{if $f.same} class="same"{/if}>
        <th>{$f.name}</th>
        {foreach $products as $p}
            <td>
            {if isset($p.features[$f_id])}
                {if is_array($p.features[$f_id])}
                    {implode(' , ', $p.features[$f_id])}
                {else}
                    {$p.features[$f_id]}
                {/if}
            {else}
                <span class="gray">&mdash;</span>
            {/if}
            </td>
        {/foreach}
    </tr>
    {/foreach}
</table>
</div>