/* 1.0. ГЛАВНАЯ */
.page { margin-top: 0 }
/* 1.1. СЛАЙДЕР */
.slider { position: relative; }
.slider .bx-wrapper .bx-pager.bx-default-pager a { border: 1px solid #e7e9e9; background-color: transparent }
.slider .bx-wrapper .bx-pager.bx-default-pager a:hover { background-color: #2bace2 }
.slider .bx-wrapper .bx-pager.bx-default-pager a.active { background-color: #e9e9e9 }
.slider .bx-wrapper ul li>a { display: block; position: relative }
.slider .slider-arrows,
.bannerslider .slider-arrows {
  -moz-user-select: none;
  -webkit-user-select: none;
}
.slider .slider-arrows span,
.bannerslider .slider-arrows span {
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -25px;
  cursor: pointer;
  z-index: 2000;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in-out 0.2s;
  -moz-transition: opacity 0.4s ease-in-out 0.2s;
  -o-transition: opacity 0.4s ease-in-out 0.2s;
  transition: opacity 0.4s ease-in-out 0.2s;
}
.slider .slider-arrows span a,
.bannerslider .slider-arrows span a {
  background: transparent url(img/plugins/bxslider/arrows.png) no-repeat;
  display: block;
  height: 50px;
  text-indent: -9999px;
  width: 49px;
}
.slider:hover .slider-arrows span,
.bannerslider:hover .slider-arrows span {
  opacity: 0.8;
}
.slider:hover .slider-arrows span:hover,
.bannerslider:hover .slider-arrows span:hover {
  opacity: 1;
}
.slider-arrows span:after {
  content: '';
  position: absolute;
  width: 49px;
  height: 49px;
}
.slider-arrows span.slider-arrow-prev {
  left: 12px;
}
.slider-arrows span.slider-arrow-prev a {
  background-position:0 -68px;
}
.slider-arrows span.slider-arrow-next {
  right: 15px;
}
.slider-arrows span.slider-arrow-next a {
  background-position:0 1px;
}

/* слайдер баннеров */
.bannerslider { visibility: hidden; position: relative; }
.bx-wrapper .bxbanner img { height: auto !important }

/* слайдер товаров */
.slider ul.bxslider li {
  /*background-size: cover;
  background-repeat: no-repeat;*/
  min-height: 250px !important;
}
.page-content>.slider { background-color: #fff; overflow: hidden; visibility: hidden }
.page-content>.slider li { display: list-item }
.page-content>.slider a { display: block; color: #000; text-decoration: none }
.slider .container {
  padding-top: 40px;
  padding-bottom: 40px;
}
.slider-image { position: relative }
.slider-image img {
  margin: 0 auto;
  max-height: 300px
}
.slider h2 {
  color: #fff;
  display: inline-block;
  font-size: 50px;
  text-shadow: rgba(0, 0, 0, 0.6) 1px 1px 4px;
}
.slider p { color: #fff; font-size: 20px; text-shadow: rgba(0, 0, 0, 0.6) 1px 1px 4px; }
.slider h2 i,
.slider p i { font-style: normal; }
.slider .price { font-size: 38px }
.slider ul.product-items li .compare-at-price { border-width: 3px; top: 4px }
.slider ul.product-items li .compare-inner { font-size: 33px; top: -4px }

/* 1.2. УСЛУГИ */
.page-content .project_services {
  background-color: #fafafa;
  border-bottom: 1px solid #eee;
  padding: 20px 0 10px;
  margin-bottom: 45px;
}
.page-content .project_services .service {
  overflow: hidden;
  margin-bottom: 10px;
  padding: 15px 15px 10px;
}

.page-content .project_services .service:hover {
  background: #fcfcfc;
  box-shadow: 0 0 5px #ddd;
    -webkit-transition: box-shadow 0.2s ease-in-out;
    -moz-transition: box-shadow 0.2s ease-in-out;
    -o-transition: box-shadow 0.2s ease-in-out;
    transition: box-shadow 0.2s ease-in-out;
}
.page-content .project_services .service:hover i {
  color: #656565 !important;
}
.page-content .project_services .service>a{ display: block }
.page-content .project_services .service>a:hover{ text-decoration: none }
.page-content .project_services img { margin: 0 auto }
.page-content .project_services .service .desc {
  color: #555;
  padding: 0 15px;
  overflow: hidden;
}
.page-content .project_services .service .desc h4 {
  color: #222;
  font-size: 22px;
  font-weight: 200;
  line-height: 25px;
}
.page-content .project_services .service .service-icon {
  float: left;
  padding: 10px;
  font-size: 45px;
  text-align: center;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.page-content .project_services .service .service-icon.icon-cogs { font-size: 37px }
.page-content .project_services .service .service-icon.icon-plane { font-size: 43px }

/* 1.3. ЛУЧШЕЕ ПРЕДЛОЖЕНИЕ И ЛИДЕРЫ ПРОДАЖ */
.bestsellers,
.leaders,
.productlist { position: relative }
.productlist .bx-wrapper,
.related .bx-wrapper { margin: 0 !important }

.product-slider-arrows {
  position: absolute;
  top: 0;
  right: 0;
}
.product-slider-arrows a {
  background-color: #acacac;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 3px 0;
  text-align: center;
  width: 26px;
}
.product-slider-arrows a:hover {
  background-color: #2bace2;
}
.product-slider-arrows a .fa-lg { vertical-align: -10% }
/* 1.4. ВЫВОД ПРОДУКТА В КАТАЛОГЕ */
ul.product-items {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}
.content ul.product-items { padding-top: 20px }
/*если нет фильтра*/
.col-md-12.content .product-items {
  padding-right: 15px;
  padding-left: 15px;
}
.col-md-12.content ul.product-items li { margin-right: 10px }

ul.product-items a:hover {text-decoration: none}
ul.product-items li {
  border: 1px solid transparent;
  display: inline-block;
  font-size: 15px;
  margin: 0 0 48px;
  padding: 5px;
  position: relative;
  width: 215px;
  /*float: left;*/
}
.productsItemInner {
  border: 1px solid transparent;
  padding: 5px;
}
.bx-wrapper ul.product-items li  { margin-left: 0; }
.bx-wrapper ul.product-items li:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
ul.product-items li .image {
  width: 190px;
  height: 190px;
  display: table-cell;
  vertical-align: middle;
}
ul.product-items li .image img {
  vertical-align: middle;
  display: block;
  max-width: 100%;
  max-height: 190px;
  margin: 0 auto;
}

ul.product-items .product-img { display: block }
ul.product-items li .fancybox-button {
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 17px;
}
ul.product-items.list .fancybox-button {
  left: 180px;
  width: 20px;
}
ul.product-items li .quickoverview {
  /*background-color: #fff;
  border: 1px solid #ddd;
  color: #555;
  left: 50%;
  margin-left: -80px;
  margin-top: -16px;
  position: absolute;
  top: 50%;
  width: 160px;*/
  left: 0;
  top: 50%;
  color: #fff;
  width: 100%;
  padding: 5px 0;
  font-size: 12px;
  text-align: center;
  position: absolute;
  text-transform: uppercase;
  background: rgba(0,0,0,0.5);
}
/*ul.product-items li .quickoverview:hover {
  color: #fff;
}*/
.quickoverview { display: none }

ul.product-items li:hover .quickoverview { display: block }
ul.product-items li hr {
  background-color:#e7e7e7;
  border: none;
  border-top: 1px solid #d1d1d1;
  color: #e9e9e9;
  height: 2px;
  margin: 9px 0 12px 0;
}

ul.product-items li .h5 {
  color: #4e4e4e;
  font-size: 15px;
  font-weight: 400;
  height: 40px;
  line-height: 18px;
  margin: 0 0 3px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
}
ul.product-items li .description { color: #888; display: none }
ul.product-items li .rating-list { display: none }
ul.product-items li .price { font-weight: bold }
ul.product-items li .prices  {margin-bottom: 12px }
ul.product-items li .compare-at-price { border-top: 2px solid #f7091f; line-height: 1; position: relative; top: 12px;/*color: #f7091f; text-decoration: line-through;*/}
ul.product-items li .compare-inner { position: relative; top: -12px; color: #5c5c5c; font-size: 13px; font-weight: normal; }
ul.product-items li .added2cart { display: block; font-weight: 500; height: 33px; line-height: 33px; font-size: 12px; }
ul.product-items li .fcart { display: none }
ul.product-items li button {
  border: none;
  color: #fff;
  font-size: 14px;
  padding: 5px 15px 6px;
  outline: none;
}
ul.product-items li button[disabled] { padding: 5px 10px 6px }
ul.product-items li button[disabled],
ul.product-items li button[disabled]:hover,
.add2cart button[disabled],
.add2cart button[disabled]:hover,
.storequickorder-button[disabled],
.storequickorder-button[disabled]:hover {
  background-color: #aaa !important;
}
ul.product-items li button i { margin-left: 10px }
ul.product-items li .userbar-list { display: none; font-size: 13px }
ul.product-items li .userbar-list a { color: #acacac }
ul.product-items li .userbar-list a:hover { color: #008dc6 }
ul.product-items li .userbar-list a.active { color: #2bace2 }
ul.product-items li .addtouserbar {
  bottom: 13px;
  height: 31px;
  position: absolute;
  right: 10px;
  text-align: right;
}
ul.product-items li .addtouserbar span {
  background-color: #acacac;
  cursor: pointer;
  display: inline-block;
  padding: 5px 0 4px;
  margin-left: -2px;
  text-align: center;
  width: 33px;
  visibility:hidden;
}

ul.product-items li .addtouserbar span.active { background-color: #2bace2 }
ul.product-items li .addtouserbar span:hover { background-color: #008dc6 }
ul.product-items li .addtouserbar i { color: #fff }

ul.product-items li:hover .addtouserbar span { visibility: visible }
ul.product-items li .addtouserbar span.active { visibility: visible }

ul.product-items.list li {
  border: none;
  border-bottom: 1px dashed #c1c1c1 !important;
  padding-bottom: 20px;
  margin-bottom: 20px;
  width: 100% !important;
}
ul.product-items.list .productsItemInner {
  display: table;
  width: 100%;
}
ul.product-items.list li:hover {
  border-color: #c1c1c1;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
ul.product-items.list hr,
ul.product-items.list .rating-list { color: #888; display: inline; font-size: 11px; }
ul.product-items.list .rating-list a { color: #888; margin-left: 5px; text-decoration: underline }
ul.product-items.list .rating-thumbs,
ul.product-items.list .addtouserbar { display: none }

ul.product-items.list li .product-img,
ul.product-items.list li .offers { display: table-cell; vertical-align: top; }
ul.product-items.list li .product-img { width: 190px }
ul.product-items.list li .product-info { display: table-cell; width: 50%; padding-left: 13px; padding-right: 10px; }
ul.product-items.list li .product-info a:hover,
ul.product-items.list li .product-info a:hover h5 { text-decoration: none }
ul.product-items.list li .h5 {
  color: #276fc8;
  height: auto;
  margin-bottom: 10px;
  text-decoration: underline;
}
ul.product-items.list li .image { vertical-align: middle }
ul.product-items.list li .description,
ul.product-items.list li .userbar-list { display: block }
ul.product-items.list li .description {
  font-size: 12px;
}
ul.product-items.list li .addtocart button {
  display: block;
  position: relative;
  text-align: left;
  width: 100%
}
ul.product-items.list li .addtocart button .fa { position: absolute; top: 10px; right: 15px;}
.pagination li a,
.pagination li span {
  color: #777;
  padding: 5px 15px;
}
.pagination li.selected a,
.pagination li a:hover { color: #fff }

/* 1.5. ТЕКСТ НА ГЛАВНОЙ */
.maintext {
  color: #555;
  font-size: 13px;
  line-height: 20px;
}
.maintext ul li i.fa { color: #2bace2;}
.maintext blockquote,
.maintext blockquote small { font-size: 13px }
small { color: #999999 }

/* 1.6. ФОТО СЛАЙДЕР */
#myCarousel {
  max-height: 250px;
  overflow: hidden;
}
#myCarousel img { height: auto !important }
.carousel-photo .carousel-arrow a.carousel-control {
  opacity: 1;
  font-size: 30px;
  height: inherit;
  width: inherit;
  background: none;
  text-shadow: none;
  position: inherit;
}
.carousel-photo .carousel-arrow a i {
  top: 50%;
  opacity: 0.6;
  background: #000;
  margin-top: -18px;
  padding: 2px 12px;
  position: absolute;
}
.carousel-photo .carousel-arrow a.left i { left: 0 }
.carousel-photo .carousel-arrow a.right i { right: 0 }
.carousel-arrow a.carousel-control:hover { color: #2bace2 }

/* 1.7. ПОСЛЕДНИЕ НОВОСТИ */
a.thumbnail {
  padding: 0;
  border: none;
  margin-bottom: 15px;
}
.thumbnail-style {
  padding: 7px;
  margin-bottom: 20px;
}
.thumbnail-style:hover {
  box-shadow: 0 0 8px #ddd;
    -webkit-transition: box-shadow 0.2s ease-in-out;
    -moz-transition: box-shadow 0.2s ease-in-out;
    -o-transition: box-shadow 0.2s ease-in-out;
    transition: box-shadow 0.2s ease-in-out;
}
.thumbnail h3,
.thumbnail-style h3 {
  margin: 6px 0 8px 0;
}
.thumbnail h3 a,
.thumbnail-style h3 a {
  color: #585f69;
  font-size: 20px;
}

.thumbnail h3 a:hover,
.thumbnail-style h3 a:hover {
  color: #2bace2;
  text-decoration: none;
}
.thumbnail-style .thumbnail-img {
  position: relative;
  margin-bottom: 11px;
}
.thumbnail-style .thumbnail-img .overflow-hidden {
  max-height: 157px;
}
.thumbnail-style a.btn-more {
  right: -10px;
  bottom: 10px;
  color: #fff;
  padding: 1px 6px;
  position: absolute;
  display: inline-block;
}
.thumbnail-style a.btn-more:hover {
  text-decoration: none;
}
.thumbnail-style:hover a.btn-more {
  right: 10px;
}
.thumbnail-kenburn img {
  left: 10px;
  margin-left: -10px;
  position: relative;
   -webkit-transition: all 0.8s ease-in-out;
   -moz-transition: all 0.8s ease-in-out;
   -o-transition: all 0.8s ease-in-out;
   transition: all 0.8s ease-in-out;
}
.thumbnail-kenburn:hover img {
   -webkit-transform: scale(1.2) rotate(2deg);
   -moz-transform: scale(1.2) rotate(2deg);
   -o-transform: scale(1.2) rotate(2deg);
   -ms-transform: scale(1.2) rotate(2deg);
   transform: scale(1.2) rotate(2deg);
}
/* 1.8. СООБЩЕСТВА / COMMUNITIES */
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] { width: 100% !important;}

/* 2.0. СТРАНИЦА КАТЕГОРИЙ */
.content { padding: 0 }
.category-description {
  overflow: hidden;
  position: relative;
}
#cat-readmore:hover {
  color: #fff;
}
.trunc .cat-end {
  background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
  bottom: 0;
  height: 30px;
  left: 0;
  position: absolute;
  width: 100%;
}

/* 2.1. ВЫВОД ПОДКАТЕГОРИЙ */
.subcategories { border-bottom: 1px dashed #c1c1c1;  }
.subcategories a.subcat {
  color: #333;
  display: inline-block;
  margin: 0 0 30px;
  padding: 5px;
  text-transform: uppercase;
  width: 215px;
}
.subcatInner {
  background-color: #f5f5f5;
  border: 1px solid #c0c0c0;
  border-bottom: 2px solid #2bace2;
}
.col-md-12.content .subcategories { padding: 0 15px }
.col-md-12.content .subcategories a.subcat {
   margin: 0 10px 30px 0;
}
.subcategories a.subcat:hover {
  text-decoration: none;
}

.subcategories a .subcat-image {
  background-color: #fff;
  border-bottom: 1px solid #bebebe;
  min-height: 220px;
}
.subcategories a .subcat-image img {
  max-height: 213px;
  margin: 0 auto;
}

.subcategories .subcat-info { padding: 17px 13px }
.subcategories .subcat-info>span { font-weight: bold }
.subcategories .subcat-info h4 { font-size: 14px; font-weight: normal; height: 44px; overflow: hidden }

/* 2.2. СОРТИРОВКА И ОТОБРАЖЕНИЕ ТОВАРОВ */
.sort-view {
  border-bottom: 1px dashed #c1c1c1;
  border-top: 1px dashed #c1c1c1;
  padding: 10px 10px 10px 0;
  margin-top: -1px;
}
.product-sorting,
.product-view,
.product-count {
  display: inline-block;
}
.sort-view .btn .caret { margin-left: 50px }
.sort-view .btn-default {
  font-size: 13px;
  border-color: #dedede;
}
.col-md-12.content .sort-view { padding-left: 20px }
.product-sorting {
  font-size: 12px;
}
.product-sorting .dropdown {display: inline-block}
.product-sorting .dropdown button {
  min-width: 181px;
  position: relative;
  text-align: left;
}
.product-sorting .dropdown button .fa {
  font-size: 11px;
  position: absolute;
  right: 10px;
  top: 12px;
}
.product-view button {
  background-color: #f4f4f4;
}
.product-view button.active {
  border-color: #c6c6c6;
  -moz-box-shadow: inset 0 0 5px 0px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 0 5px 0px rgba(0,0,0,0.1);
  box-shadow: inset 0 0 5px 0px rgba(0,0,0,0.1);
}
#product-list>.lead { padding: 15px 0 }

/* 2.3. ФИЛЬТРЫ */
.filters {
  background-color: #ebebeb;
  border: 1px solid #ebebeb;
}
.filters .filter-header {
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 20px;
  position: relative;
}

.filters .filter-header:after, .filters .filter-header:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.filters .filter-header:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #ffffff;
  border-width: 15px;
  margin-left: -15px;
}
.filters .filter-header:before {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #e0e0e0;
  border-width: 16px;
  margin-left: -16px;
}
.filters form {
  padding: 25px 20px;
}
.filters .accordion-group {
  margin-bottom: 30px;
}
.filters .accordion-group.last {
  margin-bottom: 0;
}
.filters .h5 {
  font-size: 11px;
  font-weight: 500;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.filters .h5 .fa {
  font-size: 1.2em;
}
.filters .h5 a,
.filters .h5 a:hover {
  color: #333;
  text-decoration: none;
}

.filters form label {
  color: #5c5c5c;
  font-size: 12px;
  font-weight: normal;
  margin: 0;
}
.filters input[type="checkbox"] {
  position: relative;
  top: 1px;
}
.filters .slider input {
  text-align: right;
  width: 75px;
}
.filters .ui-slider { margin: 10px 5px; display: block; }
.filters .ui-slider-horizontal { height: 2px; border: none; }
.filters .ui-slider-horizontal .ui-slider-handle,
.filters .ui-slider-horizontal .ui-slider-handle.ui-state-focus { top: -0.55em; margin-left: -0.4em; height: 1.1em; width: 1.1em; border: none; box-shadow: 0 1px 2px rgba(0,0,0,0.15); border-radius: 50% !important; }
.filters .ui-slider-horizontal .ui-slider-handle.ui-state-hover { border-color: #999; box-shadow: 0 1px 4px rgba(0,0,0,0.35); }
.filters .ui-slider-horizontal.ui-widget-content { background: #bbb; }
.filters .ui-slider-horizontal .ui-widget-header { background: #2bace2 ; height: 4px; position: relative; top: -1px; }
.filters .ui-widget-content .ui-state-default { border: 1px solid #ccc; background: #f7f7f7; }
.filters .modal-buttons { display: none }
.filters .modal-buttons .btn-blue { vertical-align: middle; padding-top: 6px; }

#filterDialog .modal-body { /*padding: 3px;*/ }
#filterDialog .modal-buttons {
  display: block;
  margin: 0 auto;
  vertical-align: middle;
}
#filterDialog .modal-buttons input,
#filterDialog .modal-buttons a {
  width: 48%;
  text-align: center;
}

/* ДИАЛОГ В КОРЗИНУ */
#dsvdialog .modal-bordered { padding-left: 160px; border: none; }
#dsvdialog .modal-header { min-height: 102px }
#dsvdialog .modal-header h4 { text-align: left }
#dsvdialog .modal-options {
  background-color: #f6f6f6;
  border: 1px solid #d8d8d8;
  margin-bottom: 12px;
  padding: 12px;
}
#dsvdialog .modal-dialog { margin-top: 10% }
#dsvdialog .modal-image {
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
  box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
  position: absolute;
  top: -40px;
  left: 15px;
  width: 150px;
  height: 150px;
  text-align: center;
  z-index: 9999;
  /*overflow: hidden;*/
  padding: 5px;
}
#dsvdialog .modal-image .corner { position: absolute; }
.modal-image .corner.top { top: 9px; }
.modal-image .corner.left { left:-6px; }
#dsvdialog .modal-image img {
  margin: 0 auto;
  max-width: 140px;
  max-height: 140px;
}
#dsvdialog .product-summary { display: none }
#dsvdialog .stocks {
  margin-bottom: 10px;
}
#dsvdialog .services label {
  color: #999;
  font-weight: normal;
  font-size: 14px;
}
#dsvdialog .services input {
  float: left;
  margin-right: 5px;
}

/* 3.0. СТРАНИЦА ТОВАРА */
.product-header { margin: 5px 0 18px }
.product-header .product-name {
  display: inline;
  font-weight: normal;
}
.product-header span,
.overview-name span {
  color: #b8b8b8;
  font-size: 12px;
  text-transform: uppercase;
  margin: 0 0 0 10px;
}

.image { position: relative; display: inline-block; max-width: 100%; display: block\9; /* IE8- hack */ }
.corner { position: absolute; z-index:10; font-size: 0.8em; color: #fff; font-weight: bold; }
.corner.top { top: 9px; }
.corner.bottom { bottom:-6px; }
.corner.left { left:-15px; }
.corner.right { right:-15px; }
.corner .badge {
  background: transparent url("img/badge.png") no-repeat;
  border-radius: 0;
  height: 34px;
  text-indent: -5px;}
.badge span { display: block; font-size: 12px; font-weight: 400; line-height: 23px; text-align: center; }
.badge.new { background-position: 0 0; width: 80px; }
.badge.bestseller { background-position: 0 -35px; width: 102px; }
.badge.low-price { background-position: 0 -70px; width: 60px; }
.badge[style] {
  background: url("img/custom_badge.png") repeat-x;
  border-radius: 2px !important;
  text-indent: 0;
  padding: 3px 15px;
  height: 29px;
}
.product-gallery { position: relative; }
.more-images { display: block; margin: 10px; }
.more-images .image img { border: 1px solid #dedede; opacity: 0.5; max-width: 70px; padding: 1px; float: left\9; /* IE8 */ }
.more-images .image.selected img { border-color: #777; opacity: 1 }
.product-image-video + .more-images {
  padding-left: 45px;
}
.product-image-video {
  bottom: 5px;
  font-size: 36px;
  left: 12px;
  position: absolute;
}
.video-container { display: none; text-align: center; margin-right: 50px; max-width: 750px; }
.video-container iframe { box-shadow: 0 5px 15px rgba(0,0,0,0.15); max-width: 100%; }

.product-page,
#dsvoverview { font-size: 14px; margin-bottom: 20px;}
.product-page .stocks { color: #333; font-size: 0.9em; margin-bottom: 15px; }
.stock-critical { color: #e00!important }
.stock-low { color: #FFD700 !important }
.stock-high { color: #17c615 !important }
.stock-none { color: #aaa !important }

.product-gallery .image img { max-height: 400px }
.zoomContainer { z-index: 1051; }
.fancybox-overlay { z-index: 9999 !important }
.fancybox-opened { z-index: 10000 !important }
#dsvoverview .product-share { display: none }
.product-page .product-summary,
#dsvoverview { color: #999 }
.product-page strong,
#dsvoverview strong { color: #737373 }

.overview-name {
  display: none;
  font-size: 24px;
  line-height: 1.2em;
  color: #515151;
  margin: 5px 0 18px;
}
#dsvoverview .overview-name { display: block }

.options { line-height: 2em; }
.options .inline-select { margin-bottom: 15px; }
.options .inline-select a {
  box-sizing: content-box;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 3px !important;
  margin: 0 5px 5px 0;
  display: inline-block;
  padding: 3px 7px;
  background: rgba(0,0,0,0.1);
  text-decoration: none;
  font-weight: 500;
  position: relative;
  min-width: 22px;
  text-align: center;
}
.options .inline-select a:hover { background-color: rgba(0,0,0,0.2); }
.options .inline-select a .color_name { display: none; position: absolute; bottom: -22px; left: 50%; font-size: 0.6em; color: rgba(0,0,0,0.7); margin-left: -40px; width: 80px; }
.options .inline-select a.selected {
  border: 1px solid #000;
  box-shadow: 0 2px 4px -2px rgba(0,0,0,0.4);
  color: #000 !important;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.options .inline-select a.selected .color_name { display: block; }
.product-page .services { margin-bottom: 20px }
.product-page .services label,
#dsvoverview .services label { color: #999; font-weight: normal }
.product-page .services input[type=checkbox],
#dsvoverview .services input[type=checkbox] { position: relative; top: 2px }
.product-page .skus label { font-weight: 500 }
.skus input[type=radio] { position: relative; top: 2px}
.add2cart .price {
  font-size: 30px;
  font-weight: bold;
}
.add2cart .compare-at-price { border-top: 2px solid #f7091f; position: relative; top: 12px }
.add2cart .compare-at-price .compare-inner { position: relative; top: -12px }
.add2cart .qty { margin-top: 5px }
.add2cart .qty input { width: 70px; position: relative; top: 1px }
.add2cart .qty a {
  background-color: #eee;
  color: #000;
  display: inline-block;
  font-size: 14px;
  height: 34px;
  padding: 6px;
  text-align: center;
  vertical-align: middle;
  width: 33px;
}
.add2cart button {
  margin: 3px 0;
  width: 100%;
}
.purchase .fcart { display: none }
.product-links {
  margin-top: 10px;
  margin-bottom: 10px;
}
.product-links>div {margin: 3px 0;}
.product-links a {
  color: #999;
  margin: 5px 0;
}
.product-links a.active {
  color: #2bace2;
}
.product-links a:hover { color: #008dc6; text-decoration: none; }
#product-categories a,
#product-tags a  {
  color: #999;
  text-decoration: underline;
}
.product-page #product-categories a:hover,
.product-page #product-tags a:hover {
  text-decoration: none;
}
.product-share>div{ top: 4px }
.product-page .product-share .yashare-auto-init {
  display: inline-block;
  vertical-align: 1px;
}
.pluso-logo,
.pluso-go { display: none !important }
.pluso-box .pluso-list { top: 0 !important }
.pluso-box .pluso-promo { display: none !important }
.pluso-wrap >div { border-radius: 3px !important; -webkit-border-radius: 3px; -moz-border-radius: 3px }
.pluso-wrap { border-radius: 6px !important; -webkit-border-radius: 6px; -moz-border-radius: 6px }

#overview,
#reviews {
  font-size: 14px;
}
#reviews h3,
#reviews .write-review a {
  color: #4ebae7;
  font-size: 22px;
}
/*.reviews-branch .bordered { border-bottom: 1px solid #ccc; }*/
#reviews li:first-child .review { border-top: 1px solid #ccc }
#reviews .review {
  border-bottom: 1px solid #ccc;
  padding: 20px 0;
  margin: 0;
}
.review .username {
  font-weight: bold;
}
.review .date {
  color: #999;
}
.review h6 {
  font-size: 18px;
  font-weight: bold;
}
.review p {
  color: #999;
}
.review .review-reply {
  color: #009fdf;
  font-size: 12px;
}

.reviews ul.menu-h.auth-type { padding: 0; margin-left: -5px; }
.reviews ul.menu-h.auth-type li { padding-right: 0; }
.reviews ul.menu-h.auth-type li a { color: #000; font-size: 12px; padding: 5px 6px; text-decoration: underline; }
.reviews ul.menu-h.auth-type li a img { margin-right: 5px; top: 0; }
.review-form {
  max-width: 480px;
}
.review-field .icon16.star,
.review-field .icon16.star-full,
.review-field .icon16.star-half,
.review-field .icon16.star-empty,
.review-field .icon16.star-hover { background-image: url("img/star13.png"); width: 13px; height: 13px; }
.review-field .icon16.star,
.review-field .icon16.star-full { background-position: 0 0 }
.review-field .icon16.star-half { background-position: -15px 0 }
.review-field .icon16.star-empty { background-position: -30px 0 }
.review-field .icon16.star-hover { background-position: -45px 0 }

/* Рекомендуемые товары */
.related { position: relative }

/* 4.0. СРАВНЕНИЕ ТОВАРОВ */
/*#table-wrapper {
  position:relative;
  overflow-x: scroll;
}
#compare-scroll { overflow-x: scroll; }
#table-scroll {
  height: 20px;
  overflow:auto;
}
.scroll-content {
  height: 20px;
}*/
#compare-table td {
  text-align: center;
}
#compare-table td a {
  color: #333;
}
#compare-table td .compare-img {
  display: block;
}
#compare-table td img {
  display: block;
  margin: 0 auto 10px;
}
#compare-table td img.img96 {
  max-height: 96px
}
#compare-table td img.img215 {
  max-height: 215px
}
/* 5.0. КОРЗИНА */
.cart-summary-page h1 {
  font-size: 32px;
  font-weight: normal;
}
.cart-summary-page {
  font-size: 14px;
}
.cart-summary-page .cart-header {
  border-bottom: 3px solid #e6e6e6;
  border-top: 3px solid #e6e6e6;
  margin: 0
}
.cart-summary-page .cart-header>div {
  font-size: 12px;
  padding: 10px 0;
  text-transform: uppercase;
}
.cart-summary-page .cart {
  border-bottom: 10px solid;
}
.cart-summary-page .cart .row {
  border-bottom: 1px solid #e6e6e6;
  margin: 0;
}
.cart-summary-page .cart .row>div {
  padding-top: 30px;
  padding-bottom: 30px;
}
.cart-summary-page label {
  font-size: 12px;
  font-weight: normal;
}
.cart-summary-page input[type="checkbox"] {
  vertical-align: -2px;
}
.cart-summary-page .item-name a {
  color: #000;
}
.cart-summary-page .item-qty,
.cart-summary-page .item-total,
.cart-summary-page .item-remove {
  text-align: center;
}
.cart-summary-page .item-qty .input-group { margin: 0 auto; max-width: 120px; }
.cart-summary-page .qty__input {
  font-size: 18px;
  text-align: center;
  max-width: 60px;
}
.item-qty .fa { font-size: 10px; }
.cart-summary-page a.delete {
  border: 1px solid #d7d7d7;
  -webkit-border-radius: 2px !important;
  -moz-border-radius:    2px !important;
  border-radius:         2px !important;
  color: #333;
  display: inline-block;
  padding: 8px 0;
  text-align: center;
  width: 40px;
}
.cart-summary-page a.delete:hover {
  border-color: #bababa;
  -webkit-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow:    1px 1px 1px 0 rgba(0, 0, 0, 0.4);
  box-shadow:         1px 1px 1px 0 rgba(0, 0, 0, 0.4);
}
.cart-summary-page .cart-coupon {
  margin-bottom: 5px;
}
.cart-summary-page .discount {
  padding: 18px 0;
}
.cart-summary-page .discount .col-inner,
.cart-summary-page .affiliate .col-inner {
  background-color: #f6f6f6;
  padding: 15px;
}

.cart-coupon input {
  margin-right: 10px;
  text-align: center;
  width: 150px;
}
.discount-value { color: #595959 }
.discount-value hr {
  border-top: 2px solid #d6d6d6;
  margin: 15px 0;
}
.cart-checkout,
.affiliate-btn {
  padding: 15px;
}

.affiliate-btn a { font-weight: 500 }
.cart-checkout a { font-weight: 500; margin-right: 10px }
.cart-checkout button { width: 200px }
.crosselling .bx-wrapper { margin-left: 0 !important }

/* 6.0. ОФОРМЛЕНИЕ */

.checkout-header {
  min-height: 54px;
  padding-top: 10px;
}
.checkout-cart {
  margin-top: 10px;
  font-size: 1em;
}
.checkout-cart strong { font-size: 16px; font-weight: bold }
.checkout .wa-form {
  max-width: 840px;
}
.checkout blockquote { font-size: 14px }
.checkout .checkout-step h2 {
  padding: 19px 22px;
  margin: 0 0 13px;
  text-transform: uppercase;
  background: #fafafa;
  font-size: 16px;
  font-weight: normal;
  position: relative;
  -webkit-box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
}
.checkout .checkout-step h2.active {
  background-color: #2bace2;
  position: relative;
}
.checkout .checkout-step h2 a{
  color: #4a4a4a;
}
.checkout .checkout-step h2.active a {
  color: #fff;
}
.checkout .checkout-step h2 a.pull-right {
  font-size: 13px;
  text-transform: none;
}
.checkout .checkout-step h2.active:after {
  top: 100%;
  left: 10%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-width: 17px;
  margin-left: -17px;
}
.checkout .wa-auth-adapters ul {
  margin: 0;
  padding: 0;
}
.checkout .checkout-step-content { padding: 20px; }
.checkout .checkout-step-content.auth { padding-bottom: 0px; }
.checkout .regular_customer {
  color: #000;
  font-size: 12px;
  font-weight: normal;
  vertical-align: middle;
}
.checkout .regular_customer input {
  position: relative;
  top: 1px;
}

.checkout ul.checkout-options { padding-left: 25px }
.checkout ul.checkout-options li {
  clear: both;
  list-style: none;
  margin-bottom: 35px;
  position: relative;
}
.checkout ul.checkout-options h3 { margin-top: 0px }
.checkout ul.checkout-options h3 label {
  font-size: 28px;
  font-weight: normal;
}
.checkout ul.checkout-options h3 select {
  font-size: 12px;
  outline: none;
  padding: 5px 10px;
  vertical-align: middle;
}
.checkout ul.checkout-options li input[type="radio"] {
  left: -25px;
  position: absolute;
  top: 4px;
}
.checkout ul.checkout-options .option-description { color: #737373; font-size: 14px; }
.checkout ul.checkout-options .rate { text-align: center }
.checkout ul.checkout-options .rate .price { font-size: 14px }

.checkout-result.success,
.checkout-result.error {
  padding: 100px 0 150px;
  text-align: center;
}
.checkout-result.success h1,
.checkout-result.error h1 {
  font-size: 60px;
  color: #222;
}
.checkout-result.success p,
.checkout-result.error p { font-size: 14px }
.wa-field-address-country .icon16 { background-image: none }

/* 7.0. МОЙ ПРОФИЛЬ */
.table.my-orders>tbody>tr>th,
.table.my-orders>tbody>tr>td {
  vertical-align: middle;
  padding: 30px 10px;
}
.order-status {
  color: #fff;
  padding: 5px 10px;
}
.table .order-status {
  display: inline-block;
  padding: 10px 15px;
  margin: 5px 0;
}
.table.my-orders>thead>tr>th {
  border-bottom: 3px solid #e6e6e6;
  border-top: 3px solid #e6e6e6 !important;
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
}

.bonus {
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  padding: 0 7px;
  text-align: center;
}

/* PLUGINS */
/* quickstore */

#storequickorder .dialog-window { z-index:10000 !important }

.storequickorder-button,
.submit-button {
  background-color: #2bace2;
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  padding: 5px 30px 6px 15px;
  position: relative;
  text-align: left;
  margin: 3px 0;
  width: 100%;
}
.storequickorder-button,
.submit-button {
  width: auto;
  padding-right: 15px;
}
.quickorder-button,
.quantity {
  background-color: #2bace2;
  border: none !important;
  color: #fff !important;
  font-size: 14px !important;
  font-weight: normal !important;
  padding: 5px 30px 6px 15px !important;
  position: relative !important;
  text-align: left !important;
  margin: 3px 0 !important;
  width: 100% !important;
}
.quickorder-button:hover {
  background-image: none !important;
  text-decoration: none !important;
}
.quickorder-submit .quickorder-button {
  text-align: center !important;
}

.quickorder-value input,
.quickorder-quantity input,
.ui-widget input {
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.quickorder-value input:focus,
.ui-widget input:focus {
  border-color: #0cb7ee;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

.quickorder-header,
.ui-dialog .ui-dialog-title {
  background: none !important;
  border-bottom: 2px solid;
  text-shadow: none !important;
  font-size: 20px !important;
  font-weight: normal !important;
  font-family: 'Roboto', sans-serif !important;
  color: #585f69 !important;
  height: auto !important;
}

.quantity.dialog_link {
  text-shadow: none !important;
  height: auto !important;
  line-height: auto !important;
}

.ui-widget-header {
  background-image: none !important;
  border: none !important;
}

/* callback plugin */
.call-b-input input[type="text"] {
  height: 34px !important;
  padding: 6px 12px !important;
  font-size: 14px !important;
  line-height: 1.42857143 !important;
  color: #555 !important;
  background-color: #fff !important;
  background-image: none !important;
  border: 1px solid #ccc !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.call-b-input input[type="text"]:focus {
  border-color: #0cb7ee;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

/* mobile shop */
@media (max-width: 900px) {
  .da-slide h2,
  .da-slide p { width: 50% }

  .thumbnail-style .thumbnail-img .overflow-hidden {
    max-height: none;
  }
  /*.subcategories {
    padding: 0 15px !important;
  }*/
  .sort-view {
    padding: 10px 15px;
  }
}
@media (max-width: 550px) {
  .da-slide .da-img {
    width: 40%;
  }
  .da-slide-current .da-img {
    left: 50%;
  }
}
@media (max-width: 500px) {
  /*Slider Parallax*/
  #da-slider h2 {
    font-size: 26px;
    line-height: 1.4;
  }
  .da-slide p {
    font-size: 13px;
    line-height: 1.4;
  }
  .slider .bx-wrapper p {
    display:none;
  }
  .slider .bx-wrapper h2 {
    top: 5px;
    margin: 0;
  }
  .subcategories { text-align: center }
  .subcategories .subcat-info { text-align: left }

  .checkout ul.checkout-options h3 label { font-size: 18px }
  .checkout blockquote { margin-bottom: 0 }

  ul.product-items { text-align: center }
  ul.product-items li {
    border: 1px solid #e6e6e6;
    margin-bottom: 20px;
    text-align: left;
  }
  ul.product-items li button { width: 100%; }
  ul.product-items li .addtouserbar { display: none; }

  #product-list .product-items li {
    float: left;
    width: 50%;
    margin: 0;
  }

  /* cart mobile */
  .cart-summary-page a.delete {
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #2bace2;
    text-decoration: underline;
    display: inline;
    padding: 0;
    text-align: left;
    width: auto;
  }
  .cart-summary-page .item-total {
    font-weight: bold;
    color: #990000;
  }
  .cart-summary-page h1 {
    font-size: 24px;
  }
  .cart-summary-page .cart .row>div {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .cart-summary-page .qty { margin: 5px 0 }
  .cart-summary-page .discount { padding-bottom: 5px }
  .cart-summary-page .discount .col-inner {
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }
  .cart-summary-page .btn-blue {
    display: block;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
  }
  .cart-checkout {
    text-align: center;
    float: none !important;
    padding-top: 0;
    /*padding: 15px 0;*/
  }
  .cart-checkout a {
    margin-bottom: 5px;
  }
  .cart-coupon input { margin: 7px 0 5px }

  .affiliate,
  .affiliate-btn {
    text-align: center;
    float: none !important;
  }
  /* checkout mobile */
  .cart-coupon input,
  .checkout-step-content .btn-blue {
    display: block;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
  }
  .checkout-step-content .row>div { padding-left: 0; padding-right: 0}
  .checkout-step-content .checkout-accept { float: none !important }
  /*.checkout .checkout-step-content { padding: 20px 0 }*/
  .checkout ul.checkout-options .rate { text-align: left }

  /* modal hide image */
  #dsvdialog .modal-image { display: none }
  #dsvdialog .modal-bordered { padding-left: 0 }

  /* 1 click buy */
  /*#storequickorder .dialog-content {
    max-width: 320px;
  }*/
  #storequickorder .wa-form .wa-field .wa-value textarea {
    min-width: 300px;
  }
  .product-sorting { margin-bottom: 10px }
  .sort-view .pull-right { float: none !important }
}

@media (max-width: 768px) {
  .da-slide h2 { font-size: 34px }
  /* mobile wide */
  .cart-summary-page a.delete {
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #2bace2;
    text-decoration: underline;
    display: inline;
    padding: 0;
    text-align: left;
    width: auto;
  }
  .cart-summary-page .item-total {
    font-weight: bold;
    color: #990000;
  }
  .cart-summary-page .qty { margin: 15px 0 }
  .cart-summary-page .cart-coupon .col-inner { text-align: center }
  .checkout-step-content .row>div { padding-left: 0; padding-right: 0}
  .checkout ul.checkout-options .rate { text-align: left }
}
@media (min-width: 768px) {
    .news .thumbnails { height: 345px; overflow: hidden }
}
@media (min-width: 992px) {
  #dsvoverview .row>.col-md-5,
  #dsvoverview .row>.col-md-7 { width: 50% }
}
@media (max-width: 320px) {
  #product-list .product-items li {
    float: none;
    width: 215px;
  }
}