<div class="sidebar-filters hidden-xs">
{if waRequest::isXMLHttpRequest() && waRequest::get('page', 1) == 1}
<link href="{$wa_active_theme_url}slider/jquery-ui.min.css?v{$wa_theme_version}" rel="stylesheet">
<script type="text/javascript" src="{$wa_active_theme_url}slider/jquery-ui.min.js?v{$wa_theme_version}"></script>
{/if}
<div class="filters{if !empty($theme_settings.ajax_filters)} ajax{/if}">
    <div class="filter-header">[`Filters`] <a data-dismiss="modal" class="pull-right close visible-xs"><i class="fa fa-times"></i></a></div>
    <form method="get" action="{$wa->currentUrl(0,1)}" data-loading="{$wa_parent_theme_url}img/loading16.gif">
        <div class="modal-buttons">
            <input type="reset" class="btn btn-default" value="[`Clear all`]">
            <input type="submit" class="btn-blue btn-simple" value="[`Filter products`]">
        </div>
        <div class="accordion" id="accordion">
        {if !empty($theme_settings.filter_type) && !$wa->isMobile()}
            {if $theme_settings.filter_type == "display"}
                {$filter_display=1}
            {/if}
            {if $theme_settings.filter_type == "hide"}
                {$filter_display=0}
            {/if}
            {if $theme_settings.filter_type == "morethan"}
                {$filter_display=0}
                {if $theme_settings.filter_count>0}
                    {$filter_limit=$theme_settings.filter_count}
                {/if}
            {/if}
        {else}
            {$filter_display=0}
        {/if}
        {foreach $filters as $fid => $filter}
        <div class="accordion-group{if $filter@last} last{/if}">
            <div class="filter-param">
                {if $fid == 'price'}
                    {$c = $wa->shop->currency(true)}
                    <div class="h5">[`Price`] ({$c.sign})</div>
                    <div class="slider">
                    [`from`] <input type="text" class="min tt-input" name="price_min" {if $wa->get('price_min')}value="{(int)$wa->get('price_min')}"{/if} placeholder="{floor($filter.min)}">
                    [`to`] <input type="text" class="max tt-input" name="price_max" {if $wa->get('price_max')}value="{(int)$wa->get('price_max')}"{/if} placeholder="{ceil($filter.max)}">
                    </div>
                {else}
                    <div class="accordion-heading">
                        <div class="h5">
                        <a class="accordion-toggle" data-toggle="collapse" href="#filter{$filter.id}" rel="nofollow">
                        {if $filter_display || (!empty($filter_limit) && count($filter.values)<$filter_limit)}
                            <i class="fa fa-chevron-circle-up fa-lg"></i>
                        {else}
                            <i class="fa fa-chevron-circle-down fa-lg"></i>
                        {/if} {$filter.name|escape}</a>
                        </div>
                    </div>
                    <div id="filter{$filter.id}" class="collapse {if $filter_display || ( !empty($filter_limit) && count($filter.values) < $filter_limit )}in{/if}">
                        <div class="accordion-inner">
                        {if $filter.type == 'boolean'}
                            <label><input type="radio" name="{$filter.code}"{if $wa->get($filter.code)} checked{/if} value="1"> [`Yes`]</label>
                            <label><input type="radio" name="{$filter.code}"{if $wa->get($filter.code) === '0'} checked{/if} value="0"> [`No`]</label>
                            <label><input type="radio" name="{$filter.code}"{if $wa->get($filter.code, '') === ''} checked{/if} value=""> [`Any`]</label>
                        {elseif isset($filter.min)}
                            {$_v = $wa->get($filter.code)}
                            <div class="slider">
                            [`from`] <input type="text" class="tt-input min" name="{$filter.code}[min]" placeholder="{$filter.min}" {if !empty($_v.min)}value="{$_v.min}"{/if}>
                            [`to`] <input type="text" class="tt-input max" name="{$filter.code}[max]" placeholder="{$filter.max}" {if !empty($_v.max)}value="{$_v.max}"{/if}>
                            {if !empty($filter.unit)}
                                {$filter.unit.title}
                                {if $filter.unit.value != $filter.base_unit.value}<input type="hidden" name="{$filter.code}[unit]" value="{$filter.unit.value}">{/if}
                            {/if}
                            </div>
                        {else}
                            {foreach $filter.values as $v_id => $v}
                                <label>
                                    <input type="checkbox" name="{$filter.code}[]" {if in_array($v_id, (array)$wa->get($filter.code, array()))}checked{/if} value="{$v_id}"> {$v}
                                </label><br>
                            {/foreach}
                        {/if}
                        </div>
                    </div>
                {/if}
            </div>
        </div>
        {/foreach}
        </div>
        {if $wa->get('sort')}<input type="hidden" name="sort" value="{$wa->get('sort')|escape}">{/if}
        {if $wa->get('order')}<input type="hidden" name="order" value="{$wa->get('order')|escape}">{/if}
        {if empty($theme_settings.ajax_filters)}
            <input type="submit" class="btn-blue btn-simple" value="[`Filter products`]">
        {/if}
    </form>
</div>
</div>