{*uncomment this and comment dsv.shop.min.css*}
{*<link rel="stylesheet" href="{$wa_active_theme_url}dsv.shop.css?v{$wa_theme_version}">*}
{*<link rel="stylesheet" href="{$wa_active_theme_url}parallax-slider.css?v{$wa_theme_version}">*}
{*<link rel="stylesheet" href="{$wa_active_theme_url}jquery.bxslider.css?v{$wa_theme_version}">*}
{*<link rel="stylesheet" href="{$wa_active_theme_url}fancybox/jquery.fancybox.css" type="text/css">*}
<link rel="stylesheet" href="{$wa_active_theme_url}dsv.shop.min.css?v{$wa_theme_version}">
{if !empty($filters)}
<link rel="stylesheet" href="{$wa_active_theme_url}slider/jquery-ui.min.css?v{$wa_theme_version}">
{/if}
<style type="text/css" media="print">
@media print { 
a[href]:after{ content:none!important}
.auth,.header,.navbar,.footer,.wrapper-toolbar,.breadcrumb,.options,.qty,.product-links,.add2cart button,.more-images,.tab-dsv .nav-tabs li:not(.active),.sidebar,.hook-cart,.corner,.related,.product-share{ display:none}
#back-top{ visibility:hidden;opacity:0}
}
</style>

<style type="text/css">
{if $theme_settings.product_name == "three"}
ul.product-items li .h5{ height: 56px}{/if}
{if $theme_settings.product_name == "four"}
ul.product-items li .h5{ height: 72px}{/if}
{if $theme_settings.slider_type == "parallax"}
.da-slider{ background-image: url({$wa_active_theme_url}{$theme_settings.parallax_bg})}{/if}
{if $theme_settings.parallax_bgcustom}
.da-slider{ background-image: url({$wa_active_theme_url}{$theme_settings.parallax_bgcustom})}{/if}
{if $theme_settings.parallax_color}.da-slide h2, .da-slide p { color: {$theme_settings.parallax_color}}{/if}
{if !$theme_settings.parallax_shadow}.da-slide h2, .da-slide p { text-shadow: none; }{/if}
</style>
{if !empty($theme_settings.fbid)}
<meta property="fb:app_id" content="{$theme_settings.fbid}">
{/if}
{if !empty($nofollow)}
    <meta name="robots" content="noindex,nofollow" />
{/if}
<!-- plugin hook: 'frontend_head' -->
{* @event frontend_head.%plugin_id% *}
{foreach $frontend_head as $_}{$_}{/foreach}