{$set_id=$set|default:'promo'}
{$set_pause=(int)$pause|default:4000}
{$set_move=(int)$move|default:1}
{if $mobile}{$set_move=1}{/if}
{$set_auto=$auto|default:'false'}
{$set=$wa->shop->productSet($set_id,null,$limit|default:null)}
{if count($set)}
<div class="{$set_id} productlist margin-bottom-60">
    <div class="headline">
        <h2 class="theme-border-color">{$mytitle|default:'[`Promos`]'}</h2>
    </div>
    {include file="list-thumbs.html" products=$set}
    <div class="product-slider-arrows">
        <span class="arrow-prev" id="{$set_id}-prev"></span>
        <span class="arrow-next" id="{$set_id}-next"></span>
    </div>
</div>
{if count($set)>4 || $mobile}
<script type="text/javascript">
$(document).ready(function (){ $(".{$set_id} ul").bxSlider({ auto:{$set_auto},speed:1000,pause:{$set_pause},minSlides:1,maxSlides:5,slideWidth:215,slideMargin:5,moveSlides:{$set_move},nextSelector:'#{$set_id}-next',prevSelector:'#{$set_id}-prev',nextText:'<i class="fa fa-angle-right fa-lg"></i>',prevText:'<i class="fa fa-angle-left fa-lg"></i>',pager:false,responsive:true,infiniteLoop:true }) });
</script>
{/if}
{else}
    <p class="text-danger" style="font-size: 14px;">{sprintf('[`Product set with the ID <strong>%s</strong> either does not exist or does not contain any product. Add some products into a product set with the specified ID to make these products featured here.`]',$set_id)}</p>
{/if}