{$set_id=$set|default:'promo'}
{$promos = $wa->shop->productSet($set_id,null,$limit|default:null,["params" => 1])}
{if count($promos)}

{if $theme_settings.layout == 'wide' && !$wa->isMobile()}{$size = '1920x0'}{else}{$size = '1170x0'}{/if}
{$slider_photos = $wa->shop->images( array_keys($promos), $size )}

{foreach $slider_photos as $product_id => $_photos}
    {$slider_photos[$product_id] = end($_photos)}
{/foreach}
<div class="slider">
    <ul class="bxslider product-list product-items">
        {foreach $promos as $promo}
        {$available = $wa->shop->settings('ignore_stock_count') || $promo.count === null || $promo.count > 0}
        <li itemscope itemtype ="http://schema.org/Product" {if $slider_photos[ $promo.id ]['description']=='slider'}style="background-image: url({$slider_photos[ $promo.id ]['url_'|cat:$size]})"{/if}>
                <div class="{if $sidebar}row{else}container{/if}">
                <div class="col-md-3 col-xs-3">
                    <div class="slider-image">
                        {$badge_html = $wa->shop->badgeHtml($promo.badge)}
                        {if $badge_html}
                            <div class="corner top left">{$badge_html}</div>
                        {elseif $promo.compare_price>0}
                            {$percent = ($promo.compare_price-$promo.price)*100/$promo.compare_price}
                            <div class="corner top left">
                                <div class="badge low-price"><span>-{$percent|ceil}%</span></div>
                            </div>
                        {/if}
                        {$wa->shop->productImgHtml($promo, '200x0', ['alt' => $promo.name, 'default' => "`$wa_theme_url`img/dummy200.png"])}
                    </div>
                </div>
                <div class="col-md-9 col-xs-9">
                    <a href="{$promo.frontend_url}">
                        <div class="slider-info margin-bottom-10">
                            {if !empty($promo.rating) && $promo.rating > 0}
                            <span class="rating rating-list nowrap">
                                {$wa->shop->ratingHtml($promo.rating)}
                            </span>
                            {/if}
                            <h2>{if isset($promo.params.header)}{$promo.params.header}{else}{$promo.name}{/if}</h2>
                            <p>{if !empty($promo.params.text)}{$promo.params.text}{else}{$promo.description|strip_tags|truncate:200}{/if}</p>
                        </div>
                        <div class="prices">
                            <span class="price nowrap" itemprop="price">{shop_currency_html($promo.price)}</span>
                            {if $promo.compare_price > 0}<span class="compare-at-price nowrap"> <span class="compare-inner">{shop_currency_html($promo.compare_price)}</span> </span>{/if}
                        </div>
                    </a>
                    <div itemprop="offers" class="offers" itemscope itemtype="http://schema.org/Offer">
                        <form class="addtocart" {if $promo.sku_count > 1}data-url="{$promo.frontend_url}{if strpos($promo.frontend_url, '?')}&{else}?{/if}cart=1" data-name="{$promo.name}"{/if} method="post" action="{$wa->getUrl('/frontendCart/add')}">  
                            <input type="hidden" name="product_id" value="{$promo.id}">
                            {if $available}
                            <button type="submit" class="theme-background">
                                [`Add to cart`] <i class="fa fa-angle-right fa-lg"></i>
                            </button>
                            <link itemprop="availability" href="http://schema.org/InStock" />
                            {else}
                            <button type="submit" class="theme-background" disabled>
                                [`Add to cart`] <i class="fa fa-angle-right fa-lg"></i>
                            </button>
                            <link itemprop="availability" href="http://schema.org/OutOfStock" />
                            {/if}
                            <span class="added2cart" style="display: none;">[`Added to`] <a href="{$wa->getUrl('shop/frontend/cart')}" rel="nofollow">[`cart`]</a></span>

                            <div class="fcart" data-price="{$promo.price}">
                                <div class="row row-xs-height">
                                    <div class="fcart-img col-sm-3 col-xs-height col-middle">
                                        {$wa->shop->productImgHtml($promo, '200', ['class' => 'img-responsive','alt' => $promo.name, 'default' => "`$wa_theme_url`img/dummy48.png"])}
                                    </div>
                                    <div class="col-md-3 col-xs-height col-middle hidden-sm hidden-xs">
                                        <input type="text" value="1" class="fcart-qty form-control">
                                    </div>
                                    <div class="fcart-info col-sm-9 col-md-6 col-xs-height">
                                        <p class="fcart-name"><a href="{$promo.frontend_url}" rel="nofollow">{$promo.name}</a></p>
                                        <p class="fcart-price">{shop_currency_html($promo.price)}</p>
                                        <a href="javascript:void(0);" class="fcart-del" title="[`Delete`]" rel="nofollow"><i class="fa fa-times fa-lg theme-color"></i></a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    </div><!-- /.col-md-9 -->
                </div><!-- /.row -->
        </li>
        {/foreach}
    </ul>
    <div class="slider-arrows">
        <span class="slider-arrow-prev" id="slider-prev"></span>
        <span class="slider-arrow-next" id="slider-next"></span>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function(){ $('.bxslider').bxSlider({ auto:{$autoplay|default:0},mode:'{$theme_settings.banner_mode|default:horizontal}',speed:1000,pause:{$interval},responsive:true,nextSelector: '#slider-next',prevSelector:'#slider-prev',onSliderLoad: function(){ $('.slider').css("visibility", "visible");}});
/*$('.bxslider').css('height','auto');*/
});
</script>
{else}
<p class="text-danger padded" style="font-size: 14px;">{sprintf('[`Product set with the ID <strong>%s</strong> either does not exist or does not contain any product. Add some products into a product set with the specified ID to make these products featured here.`]',$set_id)}</p>
{/if}