{if $wa->block("site.about")}
    {$wa->block("site.about")}
{else}
<div class="headline">
    <h1 class="theme-border-color">Добро пожаловать в «{$wa->shop->settings('name')}»</h1>
</div>
<p>“Дизайн со вкусом” - это профессиональный и красивый шаблон, разработанный на основе Twitter Bootstrap, профессиональной командой разработчиков. Почему вы должны выбрать нас:<br>
<ul class="list-unstyled">
    <li><i class="fa fa-check"></i> Адаптапция для смартфонов и планшетов (технология Bootstrap 3).</li>
    <li><i class="fa fa-check"></i> Бесплатная оперативная поддержка и помощь в настройке магазина. </li>
    <li><i class="fa fa-check"></i> Регулярные бесплатные обновления расширяющих функционал.</li>
    <li><i class="fa fa-check"></i> 50 текстур для заднего фона и 14 цветовых оформлений + свой цвет.</li>
    <li><i class="fa fa-check"></i> Корректное отображение во всех популярных браузерах.</li>
    <li><i class="fa fa-check"></i> Тема разработа под приложения WebAsyst (магазин, сайт, фото, блог).</li>
</ul>
</p>
<blockquote>
<p>Мы более 7 лет специализируемся на создании, обслуживании интернет-магазинов. Качественный и удобный дизайн подходит для любой сферы деятельности. С нашей стороны мы гарантируем качественную поддержку, регулярные обновления в целях улучшения визуальных и функциональных требований.</p>
<small>&copy; «Дизайн со вкусом»</small>
</blockquote>
{/if}