{$set_id=$set|default:'promo'}
{$promos = $wa->shop->productSet($set_id,null,$set_limit|default:null,["params" => 1])}
{if !count($promos)}
    <p class="text-danger padded" style="font-size: 14px;">{sprintf('[`Product set with the ID <strong>%s</strong> either does not exist or does not contain any product. Add some products into a product set with the specified ID to make these products featured here.`]',$set_id)}</p>
{else}
<div class="slider-inner">
    <div id="da-slider" class="da-slider">
        {foreach $promos as $promo}
        <div class="da-slide">
            <h2>{if isset($promo.params.header)}{$promo.params.header}{else}<i>{$promo.name}</i>{/if}</h2>
            <p>{if isset($promo.params.text)}{$promo.params.text}{else}<i>{$promo.description|strip_tags|truncate:130:"..."}</i>{/if}</p>
            <a href="{$wa->shop->productUrl($promo)}" class="da-link">[`Read more`]</a>
            <div class="da-img">
                <a href="{$wa->shop->productUrl($promo)}">
                {$wa->shop->productImgHtml($promo, '200x0', ['alt' => $promo.name, 'default' => "`$wa_theme_url`img/dummy200.png"])}
                </a>
            </div>
        </div>
        {/foreach}
        <div class="da-arrows">
            <span class="da-arrows-prev"></span>
            <span class="da-arrows-next"></span>
        </div>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function(){ 
    $("#da-slider").cslider({ autoplay:{$autoplay|default:1},interval:{$interval|default:4000}})
});
</script>
{/if}