{if $wa->photos}
{$album_id = $album|default:$theme_settings.slider_album}
<div class="bannerslider">
    {if $theme_settings.layout == 'wide' && !$wa->isMobile()}{$size = '1920x0'}{else}{$size = '1170x0'}{/if}
    {if $sidebar}{$size = '970x0'}{/if}
    {$slides = $wa->photos->photos("album/`$album_id`")}
	<ul class="bxbanner" style="padding: 0">
        {foreach $slides as $slide}
        	{$photo = $wa->photos->photo($slide.id)}
            <li><a href="{$slide.description}">{$wa->photos->getImgHtml($photo, $size, ['alt' => $slide.name])}</a></li>
        {/foreach}
    </ul>
	<div class="slider-arrows">
	    <span class="slider-arrow-prev" id="slider-prev"></span>
	    <span class="slider-arrow-next" id="slider-next"></span>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function(){ 
$('.bxbanner').bxSlider({ 
    auto:{$autoplay|default:1},
    mode:'{$theme_settings.banner_mode|default:horizontal}',
    speed:1000,
    pause:{$interval|default:4000},
    adaptiveHeight:true,
    responsive:true,
    nextSelector:'#slider-next',
    prevSelector:'#slider-prev',
    onSliderLoad: function(){ $('.bannerslider').css("visibility", "visible")}
});
});
</script>
{/if}