{$news_count = $blog_count|default:4}
{$news_col=3}
{if $sidebar && !$mobile}
{$news_count = 3}
{$news_col=4}
{/if}
{$latest_posts = $wa->blog->posts($blog_id|default:null,$news_count)}
{if count($latest_posts)}
<div class="news">
    <div class="headline">
        <h2 class="theme-border-color">{$mytitle|default:'[`Latest news`]'}</h2>
    </div>
    <div class="row">
        {foreach $latest_posts as $_post}
        <div class="col-md-{$news_col} col-sm-6">
            <div class="thumbnails thumbnail-style thumbnail-kenburn">
                <div class="thumbnail-img">
                    <div class="overflow-hidden">
                        <img src="{if !empty($_post.preview)}{$wa_static_url}{$_post.preview}{else}{$wa_theme_url}img/dummy200.png{/if}" alt="{$_post.title}" class="img-responsive">
                    </div>
                    <a href="{$_post.link}" class="btn-more hover-effect theme-background" rel="nofollow">[`Read more`] +</a>
                </div>
                <div class="caption">
                    <h3><a href="{$_post.link}" class="hover-effect">{$_post.title|truncate:50:"...":true}</a></h3>
                    <p>{$_post.text|strip_tags|truncate:100:"...":true}</p>
                </div>
            </div>
        </div>
        {/foreach}
    </div>
</div>
{/if}