<div class="headline">
    <h2 class="theme-border-color">{$mytitle|default:'[`The latest photos`]'}</h2>
</div>
<div id="myCarousel" class="carousel slide carousel-photo" data-interval="{$timer|default:'false'}" {if $pause|default:0}data-pause="hover"{/if}>
    <div class="carousel-inner">
        {foreach $photos as $photo}
        <div class="item{if $photo@first} active{/if}">
            {if empty($photo.frontend_link)}
                {$wa->photos->getImgHtml($photo, "360x0",['class'=>'img-responsive','alt'=>$photo.name])}
            {else}
                <a href="{$photo.frontend_link|default:'#'}">
                {$wa->photos->getImgHtml($photo, "360x0",['class'=>'img-responsive','alt'=>$photo.name])}
                </a>
            {/if}
        </div>
        {/foreach}
    </div>
    <div class="carousel-arrow">
        <a href="#myCarousel" class="left carousel-control" data-slide="prev" rel="nofollow"><i class="fa fa-angle-left"></i></a>
        <a href="#myCarousel" class="right carousel-control" data-slide="next" rel="nofollow"><i class="fa fa-angle-right"></i></a>
    </div>
</div>