<div class="project_services">
    <div{if !$sidebar} class="container"{/if}>
        <div class="row">
            {if $wa->block("site.uslugi") && $theme_settings.promo_blocks == "block"}
                {$wa->block("site.uslugi")}
            {elseif $theme_settings.promo_blocks == "promo"}
                {foreach $wa->shop->promos() as $promo}
                <div class="col-md-4">
                    <div class="service text-center">
                        <a href="{$promo.link|escape}">
                            <img src="{$promo.image}" alt="{if !empty($promo.title)}{$promo.title|escape}{/if}" class="img-responsive">
                            <div class="desc">
                            {if !empty($promo.title)}<h4 style="color: {$promo.color};">{$promo.title|escape}</h4>{/if}
                            {if !empty($promo.body)}<p style="color: {$promo.color};">{$promo.body|escape}</p>{/if}
                            </div>
                        </a>
                    </div>
                </div>
                {/foreach}
            {else}
                <div class="col-md-4">
                    <div class="service">
                        <a href="{$wa->domainUrl()}/site/dostavka/">
                            <i class="fa fa-paper-plane service-icon theme-color"></i>
                            <div class="desc">
                                <h4>Доставка</h4>
                                <p>Доставка осуществляется по всей России и странам ближнего зарубежья. Только у нас при заказе от 5 000 рублей, доставка заказа доставляется беслплатно!</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service">
                        <a href="{$wa->domainUrl()}/site/sposoby-oplaty/">
                            <i class="fa fa-credit-card service-icon theme-color"></i>
                            <div class="desc">
                                <h4>Оплата</h4>
                                <p>Оплатить заказ вы можете любым удобным для вас способом: наличный расчет, кредит на месте, платежной картой, yandex деньги, paypal, безналичный расчет и др...</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service">
                        <a href="{$wa->domainUrl()}/site/kak-zakazat/">
                            <i class="fa fa-question-circle service-icon theme-color"></i>
                            <div class="desc">
                                <h4>Как заказать</h4>
                                <p>Сделать заказ в нашем магазине очень просто,  заполнив форму заказа на сайте или воспользоваться формой заказ в один клик. Или позвонив по телефону 8-800-999-99-40. </p>
                            </div>
                        </a>
                    </div>
                </div>
            {/if}  
            <div class="clearfix"></div>
        </div>
    </div>
</div>