{$mobile = $wa->isMobile() || $wa->userAgent('device') == 'ipad' || $wa->userAgent('device') == 'android'}
{$sidebar = $theme_settings.sidebar_shop_home && $theme_settings.sidebar_shop}
{if $sidebar}
    {$wa->globals("sidebar",true)}
{else}
    {$wa->globals("container",1)}
{/if}
{$wa->globals("nopadded",1)}
{$wa->globals("displayBreadcrumbs",false)}

{$autoplay = 'false'}
{$interval = 4000}
{if !empty($theme_settings.slider_autoplay)}{$autoplay = 'true'}{/if}
{if !empty($theme_settings.slider_time) && $theme_settings.slider_time >= 1000 && $theme_settings.slider_time <= 10000}{$interval = $theme_settings.slider_time}{/if}

{if $theme_settings.slider_type != "off"}
    <!-- SLIDER -->
    <!-- ПАРАЛЛАКС СЛАЙДЕР / PARALLAX SLIDER -->
    {if $theme_settings.slider_type == "parallax"}
        {include file="home.parallax.html" inline}
    {/if}
    {if $theme_settings.slider_type == "bxslider_banner"}
        {include file="home.bannerslider.html" inline}
    {/if}
    {if $theme_settings.slider_type == "bxslider_product"}
        {include file="home.productslider.html" inline}
    {/if}
{/if}
<!-- УСЛУГИ(ПРОМО) / SERVICES BLOCKS(PROMO) -->
{if $theme_settings.promo_blocks != "off"}
    {include file="home.services.html" inline}
{/if}
<div{if !$sidebar} class="container"{/if}>
    <!-- СПИСКИ ТОВАРОВ / PRODUCT SETS -->
    {if $theme_settings.home_productsets}
        <div class="bestnlead">
            {include file="home.productset.html" set="bestsellers" mytitle="[`The best offer`]" inline}
        </div>
    {/if}
    <!-- ПОСЛЕДНИЕ ПОСТЫ / THE LATEST POSTS-->
    {if $wa->blog && $theme_settings.posts}
        {include file="home.blog.html" inline}
    {/if}
    <!-- HOMEPAGE TEXT & THE LATEST PHOTOS -->
    {if $wa->photos && $theme_settings.photos}
        {$photos = $wa->photos->photos(null,null,8)}
    {else}
        {$photos = []}
    {/if}
    <div class="maintext margin-bottom-30">
        {if count($photos) && !$sidebar}
            <div class="row">
                <div class="col-md-8 col-md-12">
                    <!-- ТЕКСТ НА ГЛАВНОЙ / HOMEPAGE TEXT -->
                    {include file="home.maintext.html" inline}
                </div>

                {if !$mobile}
                <div class="col-md-4 col-sm-6">
                    <!-- ПОСЛЕДНИЕ ФОТОГРАФИИ / THE LATEST PHOTOS -->
                    {include file="home.photos.html" inline}
                </div>
                {/if}
            </div>
        {else}
            <!-- ТЕКСТ НА ГЛАВНОЙ / HOMEPAGE TEXT -->
            {include file="home.maintext.html" inline}
        {/if}
    </div>

	<!-- СООБЩЕСТВА / COMMUNITIES -->
	{if !$theme_settings.sidebar_communities}
    <div class="row">
    	{include file="home.vk.html" inline}
    	{include file="home.fb.html" inline}
    </div>
    {/if}
    <!-- plugin hook: 'frontend_homepage' -->
    {* @event frontend_homepage.%plugin_id% *}
    {foreach $frontend_homepage as $_}{$_}{/foreach}
</div><!-- /.container -->