{if !empty($theme_settings.fb_href)}
<div class="col-md-{$md|default:6}">
	<div class="headline">
	    <h2 class="theme-border-color">{$mytitle|default:'Facebook'}</h2>
	</div>
	<!-- FB Widget -->
	<div class="fb-page" data-href="{$theme_settings.fb_href}" data-height="{$theme_settings.fb_height|default:400}" data-small-header="{if $theme_settings.fb_header}true{else}false{/if}"
	data-adapt-container-width="true" data-hide-cover="{if $theme_settings.fb_cover}true{else}false{/if}" data-show-facepile="{if $theme_settings.fb_faces}true{else}false{/if}" data-show-posts="{if $theme_settings.fb_stream}true{else}false{/if}"></div>
</div>
{/if}