{if $theme_settings.product_image == 'elevatezoom' && !$wa->isMobile()}
    <script type="text/javascript" src="{$wa_active_theme_url}elevatezoom/jquery.elevateZoom-3.0.8.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        $("#product-image").elevateZoom({ gallery:'product-gallery',galleryActiveClass:'active',responsive:true,cursor:'crosshair',zoomWindowPosition:1,zoomWindowOffetx:10,borderSize:1,easing:true,scrollZoom:true,zoomWindowWidth:400,zoomWindowHeight:400,
        });
    });
    </script>
{/if}
<script type="text/javascript" src="{$wa_active_theme_url}fancybox/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="{$wa_active_theme_url}jquery.cslider.js?v{$wa_theme_version}"></script>
<script src="{$wa_active_theme_url}jquery.bxslider.min.js?v{$wa_theme_version}"></script>
<script type="text/javascript" src="{$wa_static_url}wa-content/js/jquery-wa/wa.core.js?v{$wa->version(true)}"></script>
{if $wa->shop->config('enable_2x')}
<script type="text/javascript" src="{$wa_static_url}wa-content/js/jquery-plugins/jquery.retina.js?v{$wa->version(true)}"></script>
<script type="text/javascript">$(window).load(function() { 
    $('.promo img').retina({ force_original_dimensions: false });
    $('.product-list img,.product-info img,.cart img').retina();
    $('.bestsellers img').retina();
});
</script>
{/if}
<script type="text/javascript" src="{$wa_app_static_url}js/lazy.load.js?v{$wa->version()}"></script>
<script type="text/javascript" src="{$wa_active_theme_url}modernizr.js?v{$wa_theme_version}"></script>
<script type="text/javascript" src="{$wa_active_theme_url}default.shop.js?v{$wa_theme_version}"></script>
{if !empty($filters)}
<script type="text/javascript" src="{$wa_active_theme_url}slider/jquery-ui.min.js?v{$wa_theme_version}"></script>
{/if}
{if !empty($theme_settings.vk_id) || $theme_settings.tab_vk}
<script type="text/javascript" src="//vk.com/js/api/openapi.js?116"></script>
{/if}