<!-- products thumbnail list view -->
{$view = $wa->cookie("product_view",$theme_settings.product_view)}
{if isset($category)}
<div class="sort-view">
    {if !empty($sorting)}
    <!-- sorting -->
    {$sort_fields = [
    'name' => '[`Name`]',
    'price' => '[`Price`]',        
    'total_sales' => '[`Bestsellers`]',
    'rating' => '[`Customer rating`]',
    'create_datetime'=>'[`Date added`]',
    'stock' => '[`In stock`]']}
    {if !isset($active_sort)}
        {$active_sort = $wa->get('sort', 'create_datetime')}
    {/if}
    <div class="product-sorting">
        [`Sort by`]:
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="productSortMenu" data-toggle="dropdown">
                {if $active_sort}{$sort_fields[$active_sort]}{/if}
                {if !empty($category) && !$category.sort_products && !$active_sort}[`New & Popular`]{/if}
                <i class="fa fa-sort"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="productSortMenu">
                {if !empty($category) && !$category.sort_products}
                    <li{if !$active_sort} class="active"{/if}><a href="{$wa->currentUrl(0, 1)}" rel="nofollow">[`New & Popular`]</a></li>
                {/if}
                {foreach $sort_fields as $sort => $name}
                    <li{if $active_sort == $sort} class="active"{/if}>{$wa->shop->sortUrl($sort, $name)}</li>
                    {if $wa->get('sort') == $sort}{$wa->title( $wa->title()|cat:' — '|cat:$name)}{/if}
                {/foreach}
            </ul>
        </div>
    </div>
    {/if}
    <div class="pull-right">
        {if $theme_settings.cat_pagination=='pagination'}
        {$lazy = $wa->cookie("lazyppp",false)}
        {$ppp = $wa->cookie('products_per_page')}
        {$page_counts = ['8','16','32','64']}
        <div class="product-count">
            [`View`]:
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">{if $ppp}{$ppp}{else}[`All`]{/if} <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                    {foreach $page_counts as $page_count}
                    <li{if $page_count == $ppp} class="active"{/if}>
                        <a href="#" data-perpage="{$page_count}" rel="nofollow">{$page_count}</a>
                    </li>
                    {/foreach}
                    <li{if $lazy || empty($ppp)} class="active"{/if}><a href="#" data-href="{$wa->currentUrl(0, 1)}" rel="nofollow">[`All`]</a></li>
                </ul>
            </div>
        </div>
        {/if}
        <div class="product-view btn-group hidden-xs">
            <button class="btn btn-default{if !empty($view) && $view=='list'} active{/if}" type="button" data-view="list">
                <i class="fa fa-list"></i>
            </button>
            <button class="btn btn-default{if !empty($view) &&  $view=='thumbs'} active{/if}" type="button" data-view="thumbs">
                <i class="fa fa-th"></i>
            </button>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
{/if}
<ul class="product-items product-list{if !empty($view) && !$wa->isMobile() && isset($category)} {$view}{/if} clearfix">
{foreach $products as $p}
    {$available = $wa->shop->settings('ignore_stock_count') || $p.count === null || $p.count > 0}
    <li itemscope itemtype ="http://schema.org/Product">
        <div class="productsItemInner theme-shadow-color theme-border-color-hover">
            <a href="{$p.frontend_url}" title="{$p.name}" class="product-img" rel="nofollow">
                {*
                {$imgs = $wa->shop->images($p.id)}
                {$p.ext=$imgs[$p.id][$p.image_id]['ext']}
                *}
                <div class="image">
                    {$badge_html = $wa->shop->badgeHtml($p.badge)}
                    {if $badge_html}
                        <div class="corner top left">{$badge_html}</div>
                    {elseif $p.compare_price>0}
                        {$percent = ($p.compare_price-$p.price)*100/$p.compare_price}
                        <div class="corner top left">
                            <div class="badge low-price"><span>-{$percent|ceil}%</span></div>
                        </div>
                    {/if}
                    {if $theme_settings.quickoverview && empty($product)}
                    <span class="quickoverview" data-url="{$p.frontend_url}">[`Quick view`]</span>
                    {/if}
                    {$wa->shop->productImgHtml($p, '200', ['itemprop' => 'image','alt' => $p.name, 'default' => "`$wa_theme_url`img/dummy200.png"])}
                </div>
            </a>
            {if !$wa->isMobile()}
            {$image_url = $wa->shop->productImgUrl($p, '970')}
            <a href="{$image_url}" class="fancybox-button" data-rel="fancybox-button" data-href="{$image_url}" rel="nofollow" data-toggle="tooltip" data-placement="left" title="[`Zoom`]"><i class="fa fa-search-plus fa-lg theme-color"></i></a>
            {/if}
            <div class="product-info">
                <hr>
                <a href="{$p.frontend_url}" title="{$p.name}">
                    <div itemprop="name" class="h5">{$p.name}</div>
                </a>
                <span class="rating rating-list nowrap">
                    {$wa->shop->ratingHtml($p.rating)}{if $p.rating>0} <a href="{$wa->shop->productUrl($p)}#reviews" rel="nofollow">[`Reviews`]</a> {$p.rating_count}{/if}
                </span>
                {if $p.summary}
                    <div itemprop="description" class="description">
                        {$p.summary|strip_tags}
                    </div>
                {/if}
            </div>

            <div itemprop="offers" class="offers" itemscope itemtype="http://schema.org/Offer">
                <div class="prices">
                    <span class="price nowrap">{shop_currency_html($p.price)}</span>
                    {if $p.compare_price > 0}<span class="compare-at-price nowrap"> <span class="compare-inner">{shop_currency_html($p.compare_price)}</span> </span>{/if}
                    <span class="rating rating-thumbs nowrap pull-right">
                        {$wa->shop->ratingHtml($p.rating)}
                    </span>
                </div>
                <div class="clearfix"></div>

                <form class="addtocart" {if $p.sku_count > 1}data-url="{$p.frontend_url}{if strpos($p.frontend_url, '?')}&{else}?{/if}cart=1" data-name="{$p.name}"{/if} method="post" action="{$wa->getUrl('/frontendCart/add')}">
                    <input type="hidden" name="product_id" value="{$p.id}">
                    <meta itemprop="price" content="{$p.price}">
                    <meta itemprop="priceCurrency" content="{$wa->shop->primaryCurrency()}">
                    {if $available}
                    <button type="submit" class="theme-background">
                        [`Add to cart`] <i class="fa fa-angle-right fa-lg"></i>
                    </button>
                    <link itemprop="availability" href="http://schema.org/InStock" />
                    {else}
                    <button type="submit" class="theme-background" disabled>{if $wa->shop->settings('ignore_stock_count')}[`Pre-order only`]{else}[`Out of stock`]{/if}</button>
                    <link itemprop="availability" href="http://schema.org/OutOfStock" />
                    {/if}
                    <span class="added2cart" style="display: none;">[`Added to`] <a href="{$wa->getUrl('shop/frontend/cart')}" rel="nofollow">[`cart`]</a></span>
                    {if !$wa->isMobile()}
                    <div class="fcart" data-price="{$p.price}">
                        <div class="row vertical-align">
                            <div class="fcart-img col-sm-3">
                                {$wa->shop->productImgHtml($p, '200', ['class' => 'img-responsive','alt' => $p.name, 'default' => "`$wa_theme_url`img/dummy48.png"])}
                            </div>
                            <div class="col-md-3 hidden-sm hidden-xs">
                                <input type="text" value="1" class="fcart-qty form-control">
                            </div>
                            <div class="fcart-info col-sm-9 col-md-6">
                                <p class="fcart-name"><a href="{$p.frontend_url}" rel="nofollow">{$p.name}</a></p>
                                <p class="fcart-price">{shop_currency_html($p.price)}</p>
                                <a href="javascript:void(0);" class="fcart-del" title="[`Delete`]" rel="nofollow"><i class="fa fa-times fa-lg theme-color"></i></a>
                            </div>
                        </div>
                    </div>
                    {/if}
                </form>

                {if isset($smarty.cookies.dsv_wishlist)}
                    {$dsv_wishlist = $smarty.cookies.dsv_wishlist}
                    {assign var=dsv_wishlist value=","|explode:$dsv_wishlist}
                {else}
                    {$dsv_wishlist = []}
                {/if}

                {if isset($smarty.cookies.shop_compare)}
                    {$shop_compare = $smarty.cookies.shop_compare}
                    {assign var=shop_compare value=","|explode:$shop_compare}
                {else}
                    {$shop_compare = []}
                {/if}
                <div class="userbar-list">
                    <br>
                    {if in_array($p.id,$dsv_wishlist)}
                        <div><a href="#" class="favourite theme-color-hover active" data-product="{$p.id}"><i class="fa fa-star fa-fw"></i> <span>[`Remove from favourite`]</span></a></div>
                    {else}
                        <div><a href="#" class="favourite theme-color-hover" data-product="{$p.id}"><i class="fa fa-star fa-fw"></i> <span>[`Add to favourite`]</span></a></div>
                    {/if}

                    {if in_array($p.id,$shop_compare)}
                        <div><a href="#" data-product="{$p.id}" class="addtocompare theme-color-hover active"><i class="fa fa-bar-chart-o fa-fw"></i> <span>[`Remove from compare`]</span></a></div>
                    {else}
                        <div><a href="#" data-product="{$p.id}" class="addtocompare theme-color-hover"><i class="fa fa-bar-chart-o fa-fw"></i> <span>[`Add to compare`]</span></a></div>
                    {/if}
                </div>
            </div>

            <div class="addtouserbar">
                <span class="favourite{if in_array($p.id,$dsv_wishlist)} active{/if}" data-product="{$p.id}" data-toggle="tooltip" data-container="body" title="[`Add to favourite`]"><i class="fa fa-star"></i></span>
                <span class="addtocompare{if in_array($p.id,$shop_compare)} active{/if}" data-product="{$p.id}" data-toggle="tooltip" data-container="body" title="{if in_array($p.id,$shop_compare)}[`Remove from compare`]{else}[`Add to compare`]{/if}">
                    <i class="fa fa-bar-chart-o"></i>
                </span>
            </div>
        </div>
    </li>
{/foreach}
</ul>
{if isset($pages_count) && $pages_count > 1}
<div class="block text-center {if $theme_settings.cat_pagination=='lazyload' || $lazy}lazyloading-paging{/if}" data-times="5" data-link-text="[`Load more`]" data-loading-str="[`Loading...`]">
    {wa_pagination total=$pages_count prev="<i class='fa fa-angle-left'></i>" next="<i class='fa fa-angle-right'></i>" attrs=['class' => "pagination"]}
</div>
{/if}
