<!-- plugin hook: 'frontend_header' -->
{* @event frontend_header.%plugin_id% *}
{foreach $frontend_header as $_}{$_}{/foreach}
<div class="page-content" id="page-content" itemscope itemtype="http://schema.org/{if $action == 'default'}Store{else}WebPage{/if}">
    {if $action == 'default'}
        <meta itemprop="name" content="{$wa->shop->settings('name')}">
        <meta itemprop="address" content="{$wa->shop->settings('country')}">
        <meta itemprop="telephone" content="{$wa->shop->settings('phone')}">
        <meta itemprop="currenciesAccepted" content="{$wa->shop->currency()}">
    {/if}

    {$displayBreadcrumbs = $wa->globals("displayBreadcrumbs")|default:true}
    {if $displayBreadcrumbs}
        {include file="`$wa_parent_theme_path`/breadcrumbs.html" inline}
    {/if}

    <div{if !$wa->globals("nopadded")} class="no-sb-padded"{/if}>
        {$content}
    </div>
</div>

<div class="modal fade" id="dsvdialog" tabindex="-1" role="dialog" aria-labelledby="dsvdialogLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-bordered">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"><i class="fa fa-times"></i></span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="dsvdialogLabel">Добавление в корзину</h4>
                </div>
                <div class="modal-image"></div>
            </div>

            <div class="modal-body">
                
            </div>
        </div>
    </div>
</div>

<div class="modal fade{if $theme_settings.product_image == 'elevatezoom'} zoom{/if}" id="dsvoverview" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"><i class="fa fa-times"></i></span><span class="sr-only">Close</span></button>
                <div class="clearfix"></div>
            </div>
            <div class="modal-body">     
            </div>
        </div>
    </div>
</div>