{$wa->globals("crumb","[`Affiliate program`]")}

<div class="tab-dsv margin-bottom-20">
{$wa->myNav('nav nav-tabs')}
</div>

<div class="row">
    <div class="col-md-6">
        <h1>[`Affiliate program`]</h1>
    </div>
    <div class="col-md-6">
        {$balance = round($customer.affiliate_bonus, 2)|wa_format_number:false}
        {if $customer.affiliate_bonus >= 0}{$balance = '+'|cat:$balance}{/if}
        <p {if !$wa->isMobile()}class='align-right'{/if}>{sprintf('[`Your current affiliate bonus: <strong class="bonus">%s</strong>`]', $balance|substr:1)}</strong></p>
    </div>
</div>

{$_aff_plugins_active = 0}
<!-- plugin hook: 'frontend_my_affiliate' -->
{* @event frontend_my_affiliate.%plugin_id% *}
{foreach $frontend_my_affiliate as $_}{$_}{$_aff_plugins_active = 1}{/foreach}

{if $_aff_plugins_active}<br><br><h2>[`Bonus activity log`]</h2>{/if}

<table class="table my-orders">
    {if !empty($affiliate_history)}
        {if !$wa->isMobile()}
        <thead>
            <tr>
                <th>[`Date`]</th>
                <th>[`Order`]</th>
                <th class="align-center">[`Credit`]</th>
                <th class="align-center">[`Debit`]</th>
                <th class="align-center">[`Balance`]</th>
            </tr>
        </thead>
        {/if}
        <tbody>
        {if $wa->isMobile()}
        {foreach $affiliate_history as $h}
        <tr>
            <td style="padding-left: 0">
                <p>
                    {if $h.order_id && !empty($h.order_url)}
                        <a href="{$h.order_url}">[`Order`] {$wa->shop->orderId($h.order_id)}</a> <span class="text-muted">{$h.create_datetime|wa_date:'humandatetime'}</span>
                        {if $h.comment}<br>{/if}
                    {/if}
                    {if $h.comment}
                        {$h.comment|escape}
                    {/if}
                </p>
                <p>
                    {if $h.amount > 0}
                        <strong>[`Credit`]</strong>: {round($h.amount,2)|wa_format_number:false}
                    {/if}
                </p>
                <p>
                    {if $h.amount < 0}
                        <strong>[`Debit`]</strong>: {round(abs($h.amount),2)|wa_format_number:false}
                    {/if}
                </p>
                <p>
                    {if $h.amount < 0}
                        <strong>[`Balance`]</strong>: {round($h.balance,2)|wa_format_number:false}
                    {/if}
                </p>
            </td>
        </tr>
        {/foreach}
        {else}
        {foreach $affiliate_history as $h}
            <tr>
                <td class="gray">{$h.create_datetime|wa_date:'humandatetime'}</td>
                <td>
                    {if $h.order_id && !empty($h.order_url)}
                        <a href="{$h.order_url}">[`Order`] {$wa->shop->orderId($h.order_id)}</a>
                        {if $h.comment}<br>{/if}
                    {/if}
                    {if $h.comment}
                        {$h.comment|escape}
                    {/if}
                </td>
                <td class="align-center">
                    {if $h.amount > 0}
                        {round($h.amount,2)|wa_format_number:false}
                    {/if}
                </td>
                <td class="align-center">
                    {if $h.amount < 0}
                        {round(abs($h.amount),2)|wa_format_number:false}
                    {/if}
                </td>
                <td class="align-center">{round($h.balance,2)|wa_format_number:false}</td>
            </tr>
        {/foreach}
        {/if}
        </tbody>
    {else}
        <tr>
            <td style="padding: 10px 0">[`You have no affiliate history yet.`]</td>
        </tr>
    {/if}
</table>

{$wa->globals('isMyAccount', true)}