{$wa->globals("crumb","[`My orders`]")}

<div class="tab-dsv margin-bottom-20">
{$wa->myNav('nav nav-tabs')}
</div>

<h1>[`My orders`]</h1>

<table class="table my-orders">
    {if !$wa->isMobile()}
    <thead>
        <tr>
            <th>[`Order`]</th>
            <th class="align-center">[`Status`]</th>
            <th class="col-md-4">[`Description`]</th>
            <th>[`Shipping`]</th>
            <th>[`Payment`]</th>
            <th class="col-md-2">[`Date`]</th>
        </tr>
    </thead>
    {/if}
    <tbody>
    {if $wa->isMobile()}
    {foreach $orders as $o}
        <tr>
            <td style="text-align: left; padding-left: 0;">
                <div><a href="{$o.url}" class="bold">{$o.id_str}</a> <span class="text-muted">{$o.create_datetime|wa_date:'humandate'}</span></div>
                <div>
                {if !empty($o.items)}
                {foreach $o.items as $i}
                    {$i.name|escape} <span class="theme-color bolder">x {$i.quantity}</span><br />
                {/foreach}
                </div>
                <div>
                <span class="nowrap order-status" style="{$o.state->getStyle(1)}">
                    {$o.state->getName()}
                </span>
                </div>
                {/if}
                {if $o.shipping_name}<div><br><b>[`Shipping`]</b>: {$o.shipping_name|escape}</div>{/if}
                {if $o.payment_name}<div><br><b>[`Payment`]</b>: {$o.payment_name|escape}</div>{/if}
            </td>
        </tr>
    {/foreach}
    {else}
    {foreach $orders as $o}
        <tr>
            <td class="nowrap">
                <a href="{$o.url}" class="bold">
                    {$o.id_str}
                </a>
            </td>
            <td class="nowrap align-center">
                <span class="nowrap order-status" style="{$o.state->getStyle(1)}">
                    {$o.state->getName()}
                </span>
            </td>
            <td>
                {if !empty($o.items)}
                    {foreach $o.items as $i}
                        {$i.name|escape} <span class="theme-color bolder">x {$i.quantity}</span><br />
                    {/foreach}
                {/if}
            </td>
            <td>
                {if $o.shipping_name}
                    {$o.shipping_name|escape}
                {else}
                    &nbsp;
                {/if}
            </td>
            <td>
                {if $o.payment_name}
                    {$o.payment_name|escape}
                {else}
                    &nbsp;
                {/if}
            </td>
            <td>
                {$o.create_datetime|wa_date:'humandate'}
            </td>
        </tr>
    {foreachelse}
    	<tr class="no-border">
            <td>[`You have no order history yet.`]</td>
      	</tr>
    {/foreach}
    {/if}
    </tbody>
</table>

{$wa->globals('isMyAccount', true)}