<div id="overview" class="{$tab_class|default:'tab-pane fade'}{if $active_tab[$tab.name]} in active{/if}">
    <div class="description" id="product-description" itemprop="description">{$product.description}</div>
</div>