<form id="cart-form{if $wa->get('cart')}-dialog{/if}" method="post" action="{$wa->getUrl('/frontendCart/add')}">
    <div class="overview-name">
        {$product.name|escape}
        <span class="product-skuname">ID#{$product.id}</span>
    </div>

    <div class="modal-options">
    {if $product.sku_type}
        {$product_available = $product.status}
    {else}
        {$product_available = false}
        {if count($product.skus) > 1}
            {foreach $product.skus as $sku}
                {$sku_available =  $product.status && $sku.available && ($wa->shop->settings('ignore_stock_count') || $sku.count === null || $sku.count > 0)}
                {$product_available = $product_available or $sku_available}
            {/foreach}
        {else}
            {$sku = $product.skus[$product.sku_id]}
            {$product_available = $product.status && $sku.available && ($wa->shop->settings('ignore_stock_count') || $sku.count === null || $sku.count > 0)}
        {/if}
    {/if}
    
    <!-- stock info -->
    {if $product_available || count($product.skus) > 1}
        <div class="stocks">
            {function name=in_stock n=0 low=5 critical=2}
                {if $n > $low or $n === null}
                    <strong class="stock-high"><i class="fa fa-circle"></i></strong> [`In stock`]
                {elseif $n > $critical}
                    <strong class="stock-low"><i class="fa fa-circle"></i></strong> {_w("Only %d left in stock", "Only %d left in stock", $n)}
                {elseif $n > 0}
                    <strong class="stock-critical"><i class="fa fa-circle"></i></strong> {_w("Only %d left in stock", "Only %d left in stock", $n)}
                {else}
                    <strong class="stock-none"><i class="fa fa-circle"></i></strong> {if $wa->shop->settings('ignore_stock_count')}[`Pre-order only`]{else}[`Out of stock`]{/if}
                {/if}
            {/function}

            {foreach $product.skus as $sku}
                <div {if $sku.id != $product.sku_id}style="display:none"{/if} class="sku-{$sku.id}-stock">
                    {if $sku.stock}
                        {foreach $stocks as $stock_id => $stock}
                            {if isset($sku.stock[$stock_id])}
                                {$stock_count = $sku.stock[$stock_id]}
                            {else}
                                {$stock_count = null}
                            {/if}
                            {$stock.name}: {in_stock n=$stock_count low=$stock.low_count critical=$stock.critical_count}<br>
                        {/foreach}
                    {else}
                        {in_stock n=$sku.count}
                    {/if}
                </div>
            {/foreach}
            {if $product.sku_type}
            <div class="sku-no-stock">
                <strong class="stock-none">[`Product with the selected option combination is not available for purchase`]</strong>
            </div>
            {/if}
        </div>
    {/if}

    {if $product.summary}
        <div class="product-summary margin-bottom-20">{$product.summary|truncate:512}</div>
    {/if}

    {if $product.sku_type}

        <!-- SELECTABLE FEATURES selling mode -->
        {$default_sku_features = $product.sku_features}
        
        {if $theme_settings.selectable_features_control == 'inline'}
            <strong style="margin-bottom-5">[`Please select`]:</strong>
            <div class="options">
                {foreach $features_selectable as $f}
                    <div class="inline-select{if $f.type == 'color'} color{/if}">
                        {foreach $f.values as $v_id => $v}
                            {if !isset($default_sku_features[$f.id])}{$default_sku_features[$f.id]=$v_id}{/if}
                            <a data-value="{$v_id}" href="#"{if $v_id == ifset($default_sku_features[$f.id])} class="selected"{/if}{if $f.type == 'color'} style="{$v->style}; margin-bottom: 20px;"{/if} rel="nofollow">
                                {if $f.type == 'color'}&nbsp;<span class="color_name">{strip_tags($v)}</span>{else}{$v}{/if}
                            </a>
                        {/foreach}
                        <input type="hidden" data-feature-id="{$f.id}" class="sku-feature" name="features[{$f.id}]" value="{ifset($default_sku_features[$f.id])}">
                    </div>

                {/foreach}
            </div>        
        {else}
            <div class="options">
                {foreach $features_selectable as $f}
                    {$f.name}:
                    <select data-feature-id="{$f.id}" class="sku-feature tt-input" name="features[{$f.id}]">
                        {foreach $f.values as $v_id => $v}
                        <option value="{$v_id}" {if $v_id == ifset($default_sku_features[$f.id])}selected{/if}>{$v}</option>
                        {/foreach}
                    </select>
                    <br>
                {/foreach}
            </div>
        {/if}
        
         <!-- list all SKUs for Schema.org markup -->
        {foreach $product.skus as $sku}
            <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                {$sku_available =  $product.status && $sku.available && ($wa->shop->settings('ignore_stock_count') || $sku.count === null || $sku.count > 0)}
                {if $sku.name}<meta itemprop="name" content="{$sku.name|escape}">{/if}
                <meta itemprop="price" content="{$sku.price}">
                <meta itemprop="priceCurrency" content="{$product.currency}">
                {if (!($sku.count === null) && $sku.count <= 0)}
                    <link itemprop="availability" href="http://schema.org/OutOfStock" />
                {else}
                    <link itemprop="availability" href="http://schema.org/InStock" />
                {/if}
            </div>
        {/foreach}
    {else}

        <!-- FLAT SKU LIST selling mode -->
        {$product_available = false}
        {if count($product.skus) > 1}
    
            {* SKU radio buttons *}
        
            <ul class="skus list-unstyled">
                {foreach $product.skus as $sku}
                {$sku_available =  $product.status && $sku.available && ($wa->shop->settings('ignore_stock_count') || $sku.count === null || $sku.count > 0)}
                <li itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                    <label{if !$sku.available} class="disabled"{/if}>
                    <input name="sku_id" type="radio" value="{$sku.id}"{if !$sku.available} disabled="true"{/if}{if !$sku_available}data-disabled="1"{/if}{if $sku.id == $product.sku_id} checked="checked"{/if} data-compare-price="{shop_currency($sku.compare_price, $product.currency, null, 0)}" data-price="{shop_currency($sku.price, $product.currency, null, 0)}"{if $sku.image_id} data-image-id="{$sku.image_id}"{/if}> <span itemprop="name">{$sku.name|escape}</span>
                    {if $sku.sku}<span class="hint" itemprop="name">{$sku.sku|escape}</span>{/if}
                    <meta itemprop="price" content="{$sku.price}">
                    <meta itemprop="priceCurrency" content="{$product.currency}">
                    <!-- <span class="price tiny nowrap">{shop_currency_html($sku.price, $product.currency)}</span> -->
                    {if (!($sku.count === null) && $sku.count <= 0)}
                    <link itemprop="availability" href="http://schema.org/OutOfStock" />
                    {else}
                    <link itemprop="availability" href="http://schema.org/InStock" />
                    {/if}
                    </label>
                </li>
                {$product_available = $product_available or $sku_available}
                {/foreach}
            </ul>

        {else}
    
            {* in case there is only one SKU, don't display the selector *}
        
            <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                {$sku = $product.skus[$product.sku_id]}
                {if $sku.sku}<p><strong>[`SKU code`]:</strong> <span class="hint" itemprop="name">{$sku.sku|escape}</span></p>{/if}
                <meta itemprop="price" content="{$sku.price}">
                <meta itemprop="priceCurrency" content="{$product.currency}">
                {if !$sku.available}
                <link itemprop="availability" href="http://schema.org/Discontinued" />
                <p><em class="bold error">[`This product is not available for purchase`]</em></p>
                {elseif !$wa->shop->settings('ignore_stock_count') && !($sku.count === null || $sku.count > 0)}
                <link itemprop="availability" href="http://schema.org/OutOfStock" />
                {else}
                <link itemprop="availability" href="http://schema.org/InStock" />
                {/if}
                <input name="sku_id" type="hidden" value="{$product.sku_id}">
                {$product_available = $product.status && $sku.available && ($wa->shop->settings('ignore_stock_count') || $sku.count === null || $sku.count > 0)}
            </div>
    
        {/if}

    {/if}
    
    {if $services}
    <!-- services -->
    <div class="services">
        <strong>[`Additional services`]:</strong>
        {foreach $services as $s}
        <div class="service-{$s.id}">
            <label>
                <input data-price="{shop_currency($s.price, $s.currency, null, 0)}" {if !$product_available}disabled="disabled"{/if} type="checkbox" class="" name="services[]" value="{$s.id}"> {$s.name|escape} {if $s.price && !isset($s.variants)}(+<span class="service-price">{shop_currency_html($s.price, $s.currency)}</span>){/if}
            </label>
            {if isset($s.variants)}
            <select data-variant-id="{$s.variant_id}" class="service-variants" name="service_variant[{$s.id}]" disabled>
                {foreach $s.variants as $v}
                <option {if $s.variant_id == $v.id}selected{/if} data-price="{shop_currency($v.price, $s.currency, null, 0)}" value="{$v.id}">{$v.name|escape} (+{shop_currency($v.price, $s.currency)})</option>
                {/foreach}
            </select>
            {else}
            <input type="hidden" name="service_variant[{$s.id}]" value="{$s.variant_id}">
            {/if}
        </div>
        {/foreach}
    </div>
    {/if}
    </div><!-- /modal-options -->
    
    <div class="purchase">
        <!-- price -->
        <div class="add2cart">
            <span data-price="{shop_currency($product.price, null, null, 0)}" class="price nowrap">{shop_currency_html($product.price)}</span>
            {if $product.compare_price > 0}<span class="compare-at-price nowrap"> <span class="compare-inner">{shop_currency_html($product.compare_price)}</span> </span>{/if}
            <input type="hidden" name="product_id" value="{$product.id}">
            <span class="qty pull-right">
                <a href="#" class="minus" onclick="return false;" rel="nofollow">
                    <i class="fa fa-minus"></i>
                </a>
                <input type="text" name="quantity" value="1" class="tt-input" maxlength="5">
                <a href="#" class="plus" onclick="return false;" rel="nofollow">
                    <i class="fa fa-plus"></i>
                </a>
            </span>
            <div>
                <button type="submit"{if !$product_available} disabled="disabled"{/if} class="btn-blue">{if $wa->shop->cart->total() > 0}[`Add to cart`]{else}[`Buy now`]{/if} <i class="fa fa-angle-right fa-lg"></i></button>
            </div>
            <span class="added2cart" style="display: none;"></span>

            <!-- fcart -->
            <div class="fcart" data-url="{$wa->shop->productUrl($product)}" data-img_url="{$wa->shop->productImgUrl($product, '200')}" data-name="{$product.name|escape}" data-price="{shop_currency($product.price, null, null, false)}">
                <div class="row row-xs-height">
                    <div class="fcart-img col-sm-3 col-xs-height col-middle">
                        {$wa->shop->productImgHtml($product, '200', ['class' => 'img-responsive','alt' => $product.name, 'default' => "`$wa_theme_url`img/dummy96.png"])}
                    </div>
                    <div class="col-md-3 col-xs-height col-middle hidden-sm hidden-xs">
                        <input type="text" value="1" class="fcart-qty form-control">
                    </div>
                    <div class="fcart-info col-sm-9 col-md-6 col-xs-height">
                        <p class="fcart-name"><a href="{$wa->shop->productUrl($product)}" rel="nofollow">{$product.name}</a></p>
                        <p class="fcart-price">{shop_currency_html($product.price)}</p>
                        <a href="javascript:void(0);" class="fcart-del" title="[`Delete`]" rel="nofollow"><i class="fa fa-times fa-lg"></i></a>
                    </div>
                </div>
            </div>
        </div>

        
    </div>
</form>

<script type="text/javascript" src="{$wa_real_theme_url}product.js?v{$wa_theme_version}"></script>
<script type="text/javascript">
    $(function () {
        new Product('#cart-form{if $wa->get('cart')}-dialog{/if}', {
            currency: {json_encode($currency_info)}
            {if count($product.skus) > 1 or $product.sku_type}
            ,services: {json_encode($sku_services)}
            {/if}
            {if $product.sku_type}
            ,features: {json_encode($sku_features_selectable)}
            {/if}
        });
    });
</script>