<div class="{$tab_class|default:'tab-pane fade'}" id="{$tab.name}">
    <div class="fb-comments"
         data-href="{$wa->domainUrl()}{$wa->shop->productUrl($product)}"
         data-numposts="{$theme_settings.tab_fblimit|default:10}"
         data-colorscheme="{$theme_settings.tab_fbcolor|default:'light'}">
    </div>
</div>