<div id="{$tab.name}" class="{$tab_class|default:'tab-pane fade'}{if $tab.name == $theme_settings.product_active_tab} in active{/if}">
    <h2>{$tab.title}</h2>
    <div class="product-info">
        {$tab.content}
    </div>
</div>