<div id="{$tab.name}" class="{$tab_class|default:'tab-pane fade'}{if $active_tab[$tab.name]} in active{/if}">
    {if $product.features}
    <div class="table-responsive">
        <table class="table table-striped table-hover table-dsv" id="product-features">
            {foreach $product.features as $f_code => $f_value}
                <tr{if $features[$f_code].type == 'divider'} class="divider"{/if}>
                    <td class="name col-md-4">
                        {$features[$f_code].name|escape}
                    </td>
                    <td class="value col-md-8">
                        {if is_array($f_value)}
                            {if $features[$f_code].type == 'color'}
                                {implode('<br /> ', $f_value)}
                            {else}
                                {implode(', ', $f_value)}
                            {/if}
                        {else}
                            {$f_value}
                        {/if}
                    </td>
                </tr>
            {/foreach}
        </table>
    </div>
    {/if}
</div>