<div id="{$tab.name}" class="{$tab_class|default:'tab-pane fade'}{if $active_tab[$tab.name]} in active{/if}">
    <script type="text/javascript">
        $(function(){
            var loading = $('<div><i class="icon16 loading"></i>Loading...</div>');
            $('#{$tab.name}').append(loading).load('{$wa->shop->productUrl($product)}reviews/ .reviews', { random: "1" },
                function(){
                    $(this).prepend('<script type="text/javascript" src="{$wa_app_static_url}js/rate.widget.js"><\/script>')
                        .prepend('<script type="text/javascript" src="{$wa_theme_url}reviews.js"><\/script>')
                        .find('.loading').parent().remove();

                    $('div.wa-captcha .wa-captcha-refresh, div.wa-captcha .wa-captcha-img').unbind('click').click(function(){
                        var div = $(this).parents('div.wa-captcha');
                        var captcha = div.find('.wa-captcha-img');
                        if(captcha.length) {
                            captcha.attr('src', captcha.attr('src').replace(/\?.*$/,'?rid='+Math.random()));
                            captcha.one('load', function() {
                                div.find('.wa-captcha-input').focus();
                            });
                        };
                        div.find('input').val('');
                        return false;
                    });
                });
        });
    </script>
</div>