{$mobile = $wa->isMobile() || $wa->userAgent('device') == 'ipad' || $wa->userAgent('device') == 'android'}
{$sidebar = $theme_settings.sidebar_shop_product && $theme_settings.sidebar_shop}
{if $sidebar}
    {$wa->globals("sidebar",true)}
{/if}
{$wa->globals("crumb",$product.name|escape)}

{if isset($smarty.cookies.dsv_wishlist)}
    {$dsv_wishlist = $smarty.cookies.dsv_wishlist}
    {assign var=dsv_wishlist value=","|explode:$dsv_wishlist}
{else}
    {$dsv_wishlist = []}
{/if}

<div itemscope itemtype="http://schema.org/Product">
    <div class="product-header">
        <h1 itemprop="name" class="product-name">{$product.name|escape}</h1>
        <span class="product-skuname">ID#{$product.id}</span>
    </div>
    <div class="product-page">
        <div class="row padded">
            <div class="col-md-7 align-center">
                {if $theme_settings.ss7_support}
                    {$video = $product->video}
                    {if $video}
                        <div id="video-container" class="video-container" itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
                            <div itemprop="embedHTML">
                                <iframe src="{$video.url}" width="{$video.width}" height="{$video.height}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            </div>
                            <meta itemprop="width" content="{$video.width}">
                            <meta itemprop="height" content="{$video.height}">
                        </div>
                    {/if}
                {/if}
                {if $product.images || ($theme_settings.ss7_support && isset($video))}
                <div class="product-gallery">
                    <!-- main image -->
                    <div class="image" id="product-core-image">
                        {$badge_html = $wa->shop->badgeHtml($product.badge)}
                        {if $badge_html && $product.compare_price == 0}
                            <div class="corner top left">{$badge_html}</div>
                        {/if}
                        {if $product.compare_price>0}
                            {$percent = ($product.compare_price-$product.price)*100/$product.compare_price}
                            <div class="corner top left">
                                <div class="badge low-price"><span>-{$percent|ceil}%</span></div>
                            </div>
                        {/if}

                        <a href="{$wa->shop->productImgUrl($product, '970')}" class="fancybox-button" data-rel="fancybox-button" title="{$product.name}" data-href="{$wa->shop->productImgUrl($product, '970')}">
                            {$wa->shop->productImgHtml($product, '750', [ 'itemprop' => 'image', 'id' => 'product-image', 'alt' => $product.name|escape, 'class' => 'img-responsive' ])}
                        </a>
                    </div>
                    <!-- thumbs -->
                    {if isset($video) && !empty($video)}
                        <a class="product-image-video" href="javascript:void(0)">
                            <i class="fa fa-play-circle-o tooltips-right" title="[`Video`]"></i>
                        </a>
                    {/if}
                    {if count($product.images) > 1}
                        <div class="more-images" id="product-gallery">
                            {foreach $product.images as $image}
                                {if $image.description == 'slider'}{continue}{/if}
                                {$image_url = $wa->shop->imgUrl($image, '970')}
                                <div class="image{if $image.id == $product.image_id} selected{/if}">
                                    <a id="product-image-{$image.id}" href="{$image_url}" data-href="{$image_url}" {if $image.id != $product.image_id} class="fancybox-button"{/if} data-rel="fancybox-button" title="{if !empty($image.description)}{$image.description}{else}{$product.name}{/if}" data-image="{$image_url}" data-zoom-image="{$image_url}">
                                        {$wa->shop->imgHtml($image, '96x96', ['alt' => $product.name|escape ])}
                                    </a>
                                </div>
                            {/foreach}
                        </div>
                    {/if}
                </div>
                {/if}
            </div>
            <div class="col-md-5 cart" id="cart-flyer">
                {if !empty($product.rating) && $product.rating > 0}
                    <span class="rating nowrap" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating" title="{sprintf('[`Average user rating: %s / 5`]', $product.rating)}">
                        {$wa->shop->ratingHtml($product.rating)}
                        <span itemprop="ratingValue" style="display: none;">{$product.rating}</span>
                        <span itemprop="reviewCount" style="display: none;">{$reviews_total_count}</span>
                    </span>
                {/if}

                {include file="product.cart.html" inline}
                <div class="hook-cart">
                <!-- plugin hook: 'frontend_product.cart' -->
                {* @event frontend_product.%plugin_id%.cart *}
                {foreach $frontend_product as $_}{$_.cart}{/foreach}
                </div>
                <div class="product-links row">
                    <div class="col-md-6">
                        {if in_array($product.id,$dsv_wishlist)}
                            <a href="#" data-product="{$product.id}" class="favourite active" rel="nofollow">
                                <i class="fa fa-star fa-fw"></i> <span>[`Remove from favourite`]</span>
                            </a>
                        {else}
                            <a href="#" data-product="{$product.id}" class="favourite" rel="nofollow">
                                <i class="fa fa-star fa-fw"></i> <span>[`Add to favourite`]</span>
                            </a>
                        {/if}
                    </div>
                    <div class="col-md-6 hidden-xs"><a href="javaScript:window.print();" rel="nofollow"><i class="fa fa-print fa-fw"></i> [`Print`]</a></div>
                    <div class="col-md-6">
                        <a href="#" {if $compare}style="display:none"{/if} class="compare-add" data-product="{$product.id}" rel="nofollow"><i class="fa fa-bar-chart-o fa-fw"></i> [`Add to compare`]</a>
                        <a {if !$compare}style="display:none"{/if} class="compare-remove active" data-product="{$product.id}" href="#" rel="nofollow"><i class="fa fa-bar-chart-o fa-fw"></i> [`Remove from comparison table`]</a>
                    </div>
                    <div class="col-md-6">
                        <a id="compare-link" {if count($compare) lt 2}style="display:none"{/if} rel="nofollow" href="{$wa->getUrl('/frontend/compare/', ['id' => implode(',', $compare) ])}"><i class="fa fa-bar-chart-o fa-fw"></i> [`Compare`] <span class="count">{count($compare)}</span></a>
                    </div>
                </div>

                <!-- categories -->
                {if $product.categories}
                    <p id="product-categories">
                    <strong>[`Categories`]:</strong>
                        {foreach $product.categories as $c}{if $c.status}
                            <span class=""><a href="{$wa->getUrl('/frontend/category', ['category_url' => $c.full_url])}">{$c.name|escape}</a></span>
                        {/if}{/foreach}
                    </p>
                {/if}

                <!-- tags -->
                {if $product.tags}
                    <p class="tags" id="product-tags">
                        <strong>[`Tags`]:</strong>
                        {foreach $product.tags as $t}
                            <a href="{$wa->getUrl('/frontend/tag', ['tag' => urlencode($t)])}">{$t}</a>
                        {/foreach}
                    </p>
                {/if}

                <!-- share -->
                {$pluso_theme=$theme_settings.pluso|substr:24}
                {assign var="pos" value=$pluso_theme|strpos:"."}
                {$pluso = $pluso_theme|substr:0:$pos}

                {$pluso_size = $theme_settings.pluso_size|substr:24}
                {assign var="pos" value=$pluso_size|strpos:"."}
                {$pluso_s = $pluso_size|substr:0:$pos}

                {$pluso_style = $theme_settings.pluso_style}
                {if $pluso == '14'}
                    {$pluso_style = 'square'}
                    {$pluso_add = 'sepcounter=1,'}
                {else}
                    {$pluso_add = ''}
                {/if}
                <div class="product-share">
                    <strong>[`Share`]:</strong>
                    <script type="text/javascript">(function() {
                      if (window.pluso)if (typeof window.pluso.start == "function") return;
                      if (window.ifpluso==undefined) { window.ifpluso = 1;
                        var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
                        s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
                        s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
                        var h=d[g]('body')[0];
                        h.appendChild(s);
                    }})();</script>
                    <div class="pluso" data-background="{$theme_settings.pluso_bg|default:transparent}" data-options="{$pluso_s},{$pluso_style},line,horizontal,counter,{$pluso_add}theme={$pluso}" data-services="{if $theme_settings.pluso_share}{$theme_settings.pluso_share}{else}vkontakte,odnoklassniki,facebook,twitter,google{/if}"{if $theme_settings.pluso_userid} data-user="{$theme_settings.pluso_userid}"{/if}></div>
                </div>

                <!-- plugin hook: 'frontend_product.block_aux' -->
                {* @event frontend_product.%plugin_id%.block_aux *}
                {if !empty($frontend_product)}
                    <div class="aux">
                        {foreach $frontend_product as $_}{$_.block_aux}{/foreach}
                    </div>
                {/if}
            </div>
        </div>
    </div>
    <!-- tabs -->
    {if $theme_settings.product_overview}
        {$product_tabs[] = [ "name" => "overview", "title" => "[`Overview`]", "url" => 0, "template" => "overview" ]}
    {/if}
    {if $theme_settings.product_features}
        {$product_tabs[] = [ "name" => "features", "title" => "[`Features`]", "url" => 0, "template" => "features" ]}
    {/if}
    {if $theme_settings.product_reviews}
        {$product_tabs[] = [ "name" => "reviews", "title" => "[`Reviews`] ({$reviews_total_count})", "url" => {$wa->shop->productUrl($product, 'reviews')}, "template" => "reviews" ]}
    {/if}
    {if $theme_settings.tab_vk && !empty($theme_settings.tab_vkid)}
        {$product_tabs[] = [ "name" => "vkontakte_comments", "title" => "<i class='fa fa-vk'></i>", "url" => 0, "template" => "vkontakte" ]}
    {/if}
    {if $theme_settings.tab_fb}
        {$product_tabs[] = [ "name" => "facebook_comments", "title" => "<i class='fa fa-facebook-official'></i>", "url" => 0, "template" => "facebook" ]}
    {/if}

    {foreach $product.pages as $page}
        {$product_tabs[] = [ "name" => "page_{$page.id}", "title" => $page.name|escape, "url" => $wa->shop->productUrl($product, 'page', ['page_url' => $page.url]), "content" => $page.content, "template" => "subpage", "id" => $page.id ]}
    {/foreach}

    {$active_tab = []}
    {foreach $product_tabs as $tab}
        {if $tab.name == $theme_settings.product_active_tab}
            {if $tab.name == 'features' && count($product.features) > 0}
                {$active_tab[$tab.name] = 1 }
            {else}
                {$active_tab[$tab.name] = 0 }
                {$active_tab['overview'] = 1 }
            {/if}
        {else}
            {$active_tab[$tab.name] = 0 }
        {/if}
    {/foreach}

    <div class="tab-dsv">
        <ul class="nav nav-tabs" role="tablist">
            {foreach $product_tabs as $tab}
                {if $tab.name == 'features' && count($product.features) == 0}{continue}{/if}
                <li{if $active_tab[$tab.name]} class="active"{/if}><a href="#{$tab.name}" role="tab" data-toggle="tab">{$tab.title}</a></li>
            {/foreach}


            <!-- plugin hook: 'frontend_product.menu' -->
            {* @event frontend_product.%plugin_id%.menu *}
            {foreach $frontend_product as $_}{$_.menu}{/foreach}
        </ul>

        <div class="tab-content">
            {$tab_class = ""}
            {foreach $product_tabs as $tab}
                {include file="product.`$tab.template`.html" tab=$tab tab_class=$tab_class inline}
            {/foreach}

            <!-- plugin hook: 'frontend_product.block' -->
            {* @event frontend_product.%plugin_id%.block *}
            {foreach $frontend_product as $_}{$_.block}{/foreach}
        </div>
    </div>
</div>


<!-- RELATED PRODUCTS -->
{$upselling = $product->upSelling(12)}
{$crossselling = $product->crossSelling(12)}

{if $upselling || $crossselling}
    <div class="product-info">
        {if $crossselling}
            <div class="related {if count($crossselling)>4}crosselling{/if}">
                <div class="headline">
                    <div class="h2 theme-border-color">[`Others also bought`]</div>
                </div>
                {include file="list-thumbs.html" products=$crossselling}
                <div class="product-slider-arrows">
                    <span class="arrow-prev" id="cross-prev"></span>
                    <span class="arrow-next" id="cross-next"></span>
                </div>
            </div>
        {/if}
        <div class="clearfix"></div>
        {if $upselling}
            <div class="related {if count($upselling)>4}upselling{/if}">
                <div class="headline">
                    <div class="h2 theme-border-color">
                    [`See also`]
                    {$compare_ids = array_merge(array($product.id), array_keys($upselling))}
                    </div>
                    <input type="button" onClick="javascript:window.location='{$wa->getUrl('/frontend/compare', ['id' => implode(',', $compare_ids)])}';" value="[`Compare all`]" class="btn btn-defalut btn-link hidden-xs" />
                </div>
                {include file="list-thumbs.html" products=$upselling}
                <div class="product-slider-arrows">
                    <span class="arrow-prev" id="upsell-prev"></span>
                    <span class="arrow-next" id="upsell-next"></span>
                </div>
            </div>
        {/if}
    </div>
{/if}

<script type="text/javascript" src="{$wa_theme_url}js/jquery.scrollTo.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        // Javascript to enable link to tab
        var hash = document.location.hash;
        var prefix = "tab_";
        if (hash) {
            $('.nav-tabs a[href='+hash.replace(prefix,"")+']').tab('show');
            $.scrollTo( '.tab-dsv', 800 );
        }

        var id = {$product.id};
        var viewed = $.cookie('dsv_viewed');
        if (viewed) {
            var cookies = $.cookie('dsv_viewed');
            var arr= cookies.split(',');
            var temp=0;
            for(i=0; i<arr.length; i++){
                if (arr[i]==id){
                    arr.splice(i,1);
                    temp=1;

                }
            }
            if (temp==0 && arr.length==15){
                arr.shift();
            }
            arr.push(id);
            viewed = arr[0];
            for (i=1; i<arr.length; i++){
                viewed += ',' + arr[i];
                $.cookie('dsv_viewed', viewed, { expires: 3, path: '/' });
            }
        }
        else {
            viewed = '' + id;
            $.cookie('dsv_viewed', viewed, { expires: 3, path: '/' });
        }
    });
</script>
