{* one review output *}

{if !empty($ajax_append)}<li data-id={$review.id} data-parent-id="{$review.parent_id}">{/if}

<div class="review row" itemprop="review" itemscope itemtype="http://schema.org/Review">
    <div class="{if !empty($review.parent_id)}col-md-4 col-md-offset-1{else}col-md-5{/if}">
        {if !$review.parent_id && !empty($review.rate)}
        <span itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
            {$rate = round($review.rate)}
            <meta itemprop="worstRating" content = "1">
            <meta itemprop="ratingValue" content="{$rate}">
            <meta itemprop="bestRating" content = "5">
            {$wa->shop->ratingHtml($rate)}
        </span><br>
        {/if}
        {if empty($review.site)}
            <span class="username" itemprop="author">{$review.author.name}</span><br>
        {else}
            <a href="{$review.site}" class="username" itemprop="author">{$review.author.name}</a><br>
        {/if}
        {if !empty($review.author.is_user)}
            <!--<span class="staff">{$wa->shop->settings('name')}</span>-->
        {/if}

        <meta itemprop="datePublished" content="{$review.datetime|date_format:'Y-m-d'}">
        <span class="date" title="{$review.datetime|wa_datetime}">{$review.datetime|wa_datetime:"humandatetime"}</span>
    </div>
    <div class="col-md-7">
        <h6><span itemprop="name">{if $review.title}{$review.title}{/if}</span></h6>
        {if $review.text}
            <p itemprop="description">{$review.text}</p>
        {/if}

        {if $reply_allowed}
            <div class="actions">
                <a href="{if isset($reply_link)}{$reply_link}{else}#{/if}" class="review-reply">[`reply`]</a>
            </div>
        {/if}
    </div>
</div>

{if !empty($ajax_append)}<ul class="reviews-branch list-unstyled"></ul></li>{/if}