{$sidebar = ($theme_settings.sidebar_shop_search && $theme_settings.sidebar_shop) || !empty($filters)}
{if $sidebar}
    {$wa->globals("sidebar",true)}
{/if}

{if !empty($title)}
<h1 class="category-name">[`Search products`] «{$title}»</h1>
{/if}
<!-- plugin hook: 'frontend_search' -->
{* @event frontend_search.%plugin_id% *}
{foreach $frontend_search as $_}{$_}{/foreach}
{if !$products}
    [`No products were found.`]
{else}
	{$func = $wa->get("func")}
    {if !empty($func)}
        {$sorting=null}
        {$pages_count = 1}
        {if $func == 'viewed'}
            {$h1 = "[`Recently viewed`]"}
            {$wa->title($h1)}
            {$lastviews = $wa->cookie('dsv_viewed')}
            {$products = $wa->shop->products("id/`$lastviews`")}
        {/if}

        {if $func == 'wishlist'}
            {$h1 = "[`Favorites`]"}
            {$wa->title($h1)}
            {$wishlist = $wa->cookie('dsv_wishlist')}
            {$products = $wa->shop->products("id/`$wishlist`")}
        {/if}
        <h1 class="category-name">
            {$h1}
        </h1>
    {/if}
    <div id="product-list">
    {include file='list-thumbs.html'}
    </div>
{/if}