{include file="sidebar.nav.html" inline}

<!-- ФИЛЬТРАЦИЯ / FILTERS -->
{if !empty($filters)}
    {include file="./filters.html" inline}
{/if}

<!-- ПОСЛЕДНИЕ ПОСТЫ / LATEST POSTS -->
{if $wa->blog && $theme_settings.sidebar_news}
    {include file="`$wa_parent_theme_path`/sidebar.blog.html" inline}
{/if}

{if $wa->shop}
    {if $theme_settings.sidebar_brand}
        <!-- plugin hook: 'frontend_nav' -->
        {* @event frontend_nav.%plugin_id% *}
        <!-- plugin hook: 'frontend_nav_aux' -->
        {* @event frontend_nav_aux.%plugin_id% *}
        <!-- 'frontend_nav' plugins -->
        {foreach $frontend_nav as $_key => $_}
        <div class="sidebar-plugin">
            <div class="headline">
                <h3 class="theme-border-color">{if substr($_key, -7) == '-plugin'}{$wa->pluginName(substr($_key, 0, -7))}{else}[`More`]{/if}</h3>
            </div>
            <div class="inner">
                {$_}
            </div>
        </div>
        {/foreach}

        <!-- 'frontend_nav_aux' plugins -->
        {foreach $frontend_nav_aux as $_key => $_}
        <div class="sidebar-plugin">
            <div class="headline">
                <h3 class="theme-border-color">{if substr($_key, -7) == '-plugin'}{$wa->pluginName(substr($_key, 0, -7))}{else}[`More`]{/if}</h3>
            </div>
            <div class="inner">
                {$_}
            </div>
        </div>
        {/foreach}
    {/if}

    <!-- ВЫВОД СТРАНИЦ / INFO PAGES -->
    {if $theme_settings.sidebar_info}
        {include file="`$wa_parent_theme_path`/sidebar.pages.html" array=$wa->shop->pages() inline}
    {/if}

    <!-- ТЕГИ / TAGS -->
    {if $theme_settings.sidebar_tags}
        {include file="`$wa_parent_theme_path`/sidebar.tags.html" inline}
    {/if}
{/if}

{if $theme_settings.sidebar_communities}
<div class="sidebar-communities">
    <div class="headline">
        <div class="h3 theme-border-color">[`Communities`]</div>
    </div>
    <div class="community">{include file="`$wa_parent_theme_path`/social.vkontakte.html" inline}</div>
    <div class="community">{include file="`$wa_parent_theme_path`/social.facebook.html" inline}</div>
    <div class="clearfix"></div>
</div>
{/if}

<!-- ПОСЛЕДНИЕ ФОТОГРАФИИ / LATEST PHOTOS -->
{if $wa->photos && $theme_settings.sidebar_lastphotos}
    {include file="`$wa_parent_theme_path`/sidebar.photos.html" inline}
{/if}